[2020-08-28 07:18] Freshinger-UX commented on #51
Any new Updates on it? We need the same tools for an experies header

[2020-08-28 08:35] Freshinger-UX commented on #138
You can set it under the **webapp -->network -->access restrictions.**

[2020-08-28 09:21] thllbrg commented on #139
Thanks, changing app_location work fine.

[2020-08-28 15:38] miwebst commented on #138
That is for Web Apps, but not for Static Web Apps :)

There is currently no way to do this on Static Web Apps, I'll add a backlog item for this.

[2020-08-28 15:47] Freshinger-UX commented on #138
Oh sorry

[2020-08-28 15:48] #138 closed

[2020-08-29 04:04] onlyann opened #141 "API Function Host cannot start when specifying Azure Event Grid output binding"
Whenever I specify an Event Grid output binding, the API cannot start when deployed in Azure.
Running the same function locally works fine.

Example of binding
[code]
When such a binding is used, a call to the API results in **Function host is not running** HTTP 503 response.

Application Insights logs :
_Secret initialization from Blob storage failed due to missing both an Azure Storage connectio

[2020-08-29 08:03] mahmoudajawad commented on #44
Here's my Actions workflow in a hope it would help those who are still having issues:
[code]

Notice, there's a step that prints out `.npmrc` file. I've added this later when it was suggested `.npmrc` file is not being copied over by Oryx. This would allow you to make sure you have the correct `.npmrc` file in place.

[2020-08-31 09:59] andrewmcteigue opened #142 "Vue Staging Mode Support"
Hi there,

It would be great if the build process for Vue supported the staging mode by detecting .env.staging files.

vue-cli-service build --mode staging builds a production app in staging mode, using .env, .env.staging and .env.staging.local if they are present.

https://cli.vuejs.org/guide/mode-and-env.html#example-staging-mode

[2020-08-31 14:38] #99 closed

[2020-08-31 15:57] theonewolf commented on #134
@miwebst any documentation or update on when GA might be (or the marching closer)?

[2020-08-31 18:12] anganti commented on #141
This seems to be the issue incase of static web apps as it is expecting storage setting (which is not allowed)
https://docs.microsoft.com/en-us/answers/questions/31631/why-azure-function-failing-to-start-when-bound-wit.html

To unblock yourself please use the event grid sdk instead
https://docs.microsoft.com/en-us/javascript/api/overview/azure/eventgrid?view=azure-node-latest

Will keep this issue

[2020-08-31 19:17] alphabt commented on #128
@miwebst Could you point me to resources on how to manually get the api token? I forked a repo and now I'm running into this issue during deploy, but couldn't find out how to get the token.

[2020-08-31 20:08] miwebst commented on #128
The fix is actually out for this (as of a few hours ago), is this behavior still happening?

[2020-08-31 21:24] takyyon commented on #121
Taking a look at this

[2020-08-31 22:06] miwebst commented on #1
This is now in production, you can access the build and deploy output like so:

`${{ steps.builddeploy.outputs.static_web_app_url }}`

[2020-08-31 22:11] miwebst commented on #131
We have a fix rolling out that will fix the bad environment issue but it will take a few weeks before that is live. If you dont mind you can get around this by recreating with a new SWA instance.

P.S. the initial bug that caused the bad staging environment is now fixed. You can access the secrets during a pull request from a fork.

[2020-08-31 22:12] miwebst commented on #137
Is the idea behind this to prevent others from accessing the site until you are ready?

I believe a work around today would be to edit the routes.json file to block all routes, then when you are ready you can simply remove that rule or the routes.json altogether if you aren't using it today.

[2020-08-31 22:14] miwebst commented on #133
Going to close this and we can use the earlier issue to track since they are caused by the same. Please see my most recent update in #131

[2020-08-31 22:14] #133 closed

[2020-08-31 22:15] #106 closed

[2020-08-31 22:19] miwebst commented on #87
Looks like it is updated now

[2020-08-31 22:19] #87 closed

[2020-08-31 22:40] orta commented on #1
Thanks!

[2020-09-01 00:18] mikelhamer commented on #137
Yes that would be the use case I had in mind. I hadn't thought of this.
Thanks!

On Mon, Aug 31, 2020, 6:12 PM miwebst <notifications@github.com> wrote:

[2020-09-01 09:25] BernhardRode commented on #82
It is already nearly a month, since the problem was "fixed". So when will we get the uodated Github action, to work with?

[2020-09-01 09:40] satellitex opened #143 "An error was thrown when using the Azure static web app for automatic deployment."
https://github.com/staketechnologies/lockdrop-ui/runs/1055466320?check_suite_focus=true
[code]

[2020-09-01 15:22] miwebst commented on #82
This problem has not been fixed yet. The problem isn't actually with the Github Action, its with some downstream components and how they interact with the Github Action. I apologize for the delay, hopefully we will have this fixed in the next 2-3 weeks.

[2020-09-01 20:32] scale-tone opened #144 "the file 'function.json' has specified an invalid trigger of type 'entityTrigger' and direction 'in'. Currently, only httpTriggers are supported."
That's an error produced by the GitHub action when trying to deploy a Static Web App with some Durable Entities in its /api folder.
More precisely:

Obviously everything works perfectly on the devbox.
Why is it that "Currently, only httpTriggers are supported"?
Which component introduces this strange limitation and why?
With "only httpTriggers are supported" there isn't much we can do on the backe

[2020-09-02 04:33] danspark commented on #132
Great, thanks! Should I close this then?

[2020-09-02 10:57] scale-tone opened #145 ""Configuration" UI in Azure Portal doesn't actually save all the newly entered values"
Steps to repro:
* Goto your Static Web App in Portal, goto "Configuration" tab.
* Try adding e.g. 5 new config values.
* Press **Save**.

The page says everything was successfully saved, but if you refresh the page, some of your newly added params will be missing.
Specifically, it seems to be saving not more than two values at a time.

Also, the page keeps saving previously entered values in brows

[2020-09-02 14:29] anthonychu commented on #145
The bug is the same as #121.

Turning off autocomplete for these fields is a good idea.

@takyyon @miwebst

[2020-09-02 16:05] miwebst commented on #144
Static Web Apps abstracts the Azure Function away from the user to streamline the experience of developing full stack web applications. As part of this abstraction process we needed to impose this limitation, so its our service adding this limitation.

Do you mind sharing more about your use case? There is a lot you can do with http triggers so I'm interested to hear what you are trying to do.

[2020-09-02 16:11] miwebst commented on #143
Looks like it is looking for the libusb library and not finding it. Can you try following the guidance in this issue and seeing if adding that library unblocks your deployment?

https://github.com/Azure/static-web-apps/issues/99

[2020-09-02 16:25] miwebst commented on #132
We can leave this open in case anyone else wants to contribute to the conversation and we can also use this for tracking.

[2020-09-02 18:02] scale-tone commented on #144
So far it's nothing but a demo project demonstrating the use of Durable Entities (written in TypeScript) who's state is automatically propagated to the client  side (React+TypeScript) with SignalR Service. The idea is to minimize efforts needed to implement an MVC-kind application with Views implemented as React components and Controllers implemented as Durable Functions/Durable Entities on the se

[2020-09-03 08:41] adiazcan commented on #113
Hi @miwebst

any plan to support more minutes on build? or can we deploy directly without build?

[2020-09-03 09:33] renakim opened #146 "About host.json option"
I modified `host.json` file in /api directory to use `watchDirectories` option. (to use shared code)

below is host.json code.
[code]
It works fine for local tests using VSCode.
So I pushed code to my Github repository(for static web app) and github action built successfully.

But, It seems the API functions don't recognize the host.json option.

Should I upload the value myself like local.setting

[2020-09-03 15:51] anthonychu commented on #146
That setting watches a directory for changes and restarts the function host if a file changes. This shouldn’t be needed in production as function files do not change. Can you explain a bit more about what you want to accomplish?

[2020-09-03 15:52] miwebst commented on #113
So we actually just added a configuration that you can add to the build and deploy step of your workflow step. Here is an example:

        app_location: 'app' # App source code path
        api_location: 'api' # Api source code path - optional
        app_artifact_location: 'build' # Built app content directory - optional
        build_timeout_in_minutes: 15

You may see an error saying there is

[2020-09-04 00:23] takekazuomi opened #147 "100Mb limit is too small"
Thank you for this fantastic feature.

I'm using a static web app with mkdocs. Usage is just static html hosting. Last couple of weeks when I got the following errors. mkdocs generate more than 100Mb contents. Do you have any schedule or plan about change this limitation?

If I can use my storage account for static web apps hosting that's best.

[code]

[2020-09-04 13:31] MaxOSchulte commented on #128
Same here, just forked a repo and added a new static website in Azure. The connection is fine, i'm searching for the API token

[2020-09-04 16:10] miwebst commented on #128
So just to clarify, are you forking a repository and then creating a static web app against the newly forked repo?

[2020-09-04 16:12] miwebst commented on #147
This is currently our preview limit, we set it modestly for preview so we could get some feedback on what people need. This is great feedback!

Just curious what is the size of your application after being built?

[2020-09-04 18:44] miwebst commented on #144
Totally agree, today we do not support Durable Functions/Entities with the Functions deployed via Static Web Apps. You can still deploy the Function app separately and update your CORS to allow the Static Web App to communicate to it assuming that it is a public api.

This feature gap is something we are working on!

[2020-09-04 18:46] #122 closed

[2020-09-05 22:54] SamBroner commented on #42
Could you do two redirects?
[code]

[2020-09-06 12:32] MaxOSchulte commented on #128
Yes. The solution for me was to delete the `.github/workflows` folder and recreate the static web app

[2020-09-06 23:24] hosseinnassiri opened #148 "The github action is not deleting old files and folders"
I created a website using Gatsby and deployed to Azure Static Web App using github actions.
The github action is not deleting the old files and folders that are deleted from repository.
And I couldn't find a way to delete those files even manually from Azure Static Web App.

[2020-09-08 16:12] miwebst commented on #148
Can you clarify which old files and folders these are? After removing these files from your repo do you see a successful GitHub Action run?

[2020-09-08 16:16] hosseinnassiri commented on #148
After removing some files and folders from repo, I see a successful github action, and it deploys it successfully to Azure Static Web App, but the removed items are still visible in my website.

[2020-09-08 16:20] miwebst commented on #148
If the repo is public do you mind sharing? Also do you have the site url where you can access the deleted files?

[2020-09-08 16:28] hosseinnassiri commented on #148
- here is the [repo](https://github.com/hosseinnassiri/my-static-website-01)
- [website url](https://ambitious-water-0b2c5650f.azurestaticapps.net/resume)

[2020-09-08 16:30] miwebst commented on #148
Ok great, and which file is being served that should not?

[2020-09-08 16:34] hosseinnassiri commented on #148
There was 2 folders under this path: **src/content/work** which are deleted (deleted folders were named Google, and Facebook with some files inside it) now but you can still see the contents coming in the url that I've sent. you can see the changes in this [commit](https://github.com/hosseinnassiri/my-static-website-01/commit/1fcc526bfdbbd92b27636b02e71b70bc5a9626d0#diff-81ea705203a83ef42acafcdc1f

[2020-09-08 16:43] miwebst commented on #148
Can you try opening the site in an incognito window and see if the content is still showing up? I am not able to see anything.

My best guess is that your service worker is affecting how the content is being cached and so you are seeing stale versions of your content.

[2020-09-08 16:52] hosseinnassiri commented on #148
yeah that's the first thing came into my mind too, so I did it already, and it's showing up. it seems it's not related to cache.

[2020-09-08 17:08] craigshoemaker commented on #140
@raahmed - which tutorial were you reading?

[2020-09-08 18:08] miwebst commented on #148
That makes sense, yes doesnt appear to be that. Can you try making another commit to your repo and see if that unblocks you? I cloned and built your repository and confirmed that the produced resume page is different than what we are serving. I imagine there is a chance that the GitHub Action did not trigger on a commit and that led to this state. If you push again and it still doesnt update then

[2020-09-08 18:21] hosseinnassiri commented on #148
I did push a new commit, the result is still the same.
is there anyway that we can see the files in Azure storage account?

[2020-09-08 18:24] miwebst commented on #128
This is a slightly different scenario than above. If you fork a repository you will also copy over any GitHub Action workflow files with it. Our GitHub Action wont work correctly without a secret for deployment. This secret is stored in your repository secrets which wont be present on the forked repository so the action will always fail. Cleaning up the workflow file and recreating the Static Web

[2020-09-08 20:29] raahmed commented on #140
@craigshoemaker : This one : https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api/3-static-web-apps

[2020-09-08 21:20] mrgenesis opened #149 "Error Deploy to SWA"
I did learnt deploy in [Azure Learn](https://docs.microsoft.com/pt-br/learn/modules/create-deploy-static-webapp-gatsby-app-service/). I used [an exemple code](https://github.com/mrgenesis/my-static-web-app) only to understand how working and I used the Learn sandbox environment too. So ultil here allright. Now, I did up to a [new resourse Static Web App](https://docs.microsoft.com/en-us/azure/stat

[2020-09-08 22:03] mrgenesis commented on #130
My God! After hours searching... were only this? Thank you @miwebst.

[2020-09-08 22:07] mrgenesis commented on #149
I found the answer in [this link](https://github.com/Azure/static-web-apps/issues/130#issuecomment-689160782). Thank you.

[2020-09-09 13:29] craigshoemaker commented on #140
thanks, @raahmed!

@johnpapa this is in your Learn module. Can you take a look, please?

[2020-09-09 19:07] miwebst commented on #148
Just an update here, I was able to confirm that the GitHub action actually is building the content with this extra content. I've sent a message to the Oryx team who is doing the detection and build step here who will help us debug the issue.

cc @kichalla

[2020-09-09 20:24] johnpapa commented on #140
@craigshoemaker - i'm not sure how to re-word this. Based on what @miwebst  says above, I get the issue ... but I wonder if this is something we can produce a better error message on. Or better yet, make the service handle it if its blank.

Otherwise ... we could word it as

I'm torn

[2020-09-10 02:27] nogic1008 commented on #86
@miwebst
How about overrides settings like [ASP.NET Core](https://docs.microsoft.com/aspnet/core/fundamentals/configuration/)?
## Example
- PR #XXX settings: `{ "setting1": "PR #XXX" }` (currently, can only be changed after PR #XXX environment launched.)
- Development settings: `{ "setting1": "Development", "setting2": "Development" }` (Doesn't exist yet, and I want it)
- Production settings: `{ "

[2020-09-10 05:47] luisnaranjo733 opened #150 "The content server has rejected the request with: BadRequest"
I followed the [instructions](https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=react#prerequisites) for setting up a static web app (react). Everything worked except for the deployment actions part of the Github Actions flow. That part fails on the "Build and Deploy" step due to the content server rejecting the request because the content is too large.

I followed the in

[2020-09-10 16:29] miwebst commented on #140
Long-term we should be able to make this fully optional, the service will be able to do the required detection so this field wont be required even for frameworks. Today it is required because that detection is not in place. Would it make sense to reword that as something as simple as:

"This setting is required when using web frameworks that generate an output folder (i.e. React, Gatsby, etc.), bu

[2020-09-10 18:10] miwebst commented on #150
Hi @luisnaranjo733 so this error implies that the size of your Azure Function is too large. Do you have an Azure Function in your project?

[2020-09-10 18:11] miwebst commented on #149
Closing this as its a duplicate of #130. Keeping that open for tracking purposes.

[2020-09-10 18:11] #149 closed

[2020-09-10 18:12] #137 closed

[2020-09-10 18:13] luisnaranjo733 commented on #150
I figured it out.

The problem was that my .vscode/settings.json was misconfigured and caused the static web apps VS code extension to fail.
I had this field set to a non empty string, even though I did not have an Azure Function in my project yet.
```"staticWebApps.apiSubpath"```

When I set that field to an empty string, deleted my static web app, and then re-deployed via the extension, everythi

[2020-09-11 18:51] jhamman opened #151 "React app deploy fails with unsupported language error"
I have recently created a static web app with the following command:

[code]

This command succeeded and resulted in a new GitHub Action being added to my project repository. The deploy action is, however, failing with the following error message:

[code]

<Details>
<ul>
<li> next.js / react project
<li> workflow file:
<ul/>

[code]
</Details>

[2020-09-12 01:02] miwebst commented on #86
Hey @nogic1008 this is great feedback! Maybe the general solution is to have some sort of stage environment settings, if you specify them then we wont use the production environment's settings when creating new staging environments.

[2020-09-13 00:36] horihiro commented on #150
I saw same error message when deploying my static web app with function app codes.
![image](https://user-images.githubusercontent.com/4566555/93007371-67501f80-f5a3-11ea-870c-c0345e430c15.png)

My function app code includes chromium binary via `puppeteer` or `playwright` such as following repo.
https://github.com/anthonychu/functions-headless-chromium

When this binary is included, the size of dep

[2020-09-13 02:47] miwebst commented on #150
Hey @luisnaranjo733 thats pretty interesting. From the log you posted above it looks like we detected and ran npm install on an 'api' folder. What is the api location in your GitHub Action workflow configured to? Does that directory exist in your project?

[2020-09-13 02:58] miwebst commented on #150
Hey @horihiro, so currently we have 2 size limits: one for you app (that is the well documented 100 MB limit), the other limit is for the total size of your function. It seems you are hitting the function size limit (30 MB).

We need to update our docs to include this limit. cc @craigshoemaker
In general we are looking at ways to make these limits less restrictive.

[2020-09-13 07:02] horihiro commented on #150
Thanks @miwebst
Do we have a plan to extend the limitation about both of package sizes until GA?

[2020-09-13 09:03] adiazcan commented on #113
@miwebst with build_timeout param my site compiled but I found another problem that you mentioned early, I have more than 4000 files on my site. exactly I have 13229 files, so the Github Action fail for this reason.

Any way to avoid this problem?

[2020-09-13 09:15] horihiro opened #152 "Is there any way to execute remote build on deployment from GitHub Action to Function App as backend API"
Now I'm trying to use puppeteer on Function App as backend API.
But it might be difficult that the size of deployment package is less than 30mb ([current limitation for API package](https://github.com/Azure/static-web-apps/issues/150#issuecomment-691599056)) because chromium binary in puppeteer is huge.

If remote build such as `--build remote` option of `func azure functionapp publish` can be use

[2020-09-13 22:44] anthonychu opened #153 "Add azurestaticapps.net to Public Suffix List"
https://twitter.com/marvelade/status/1304741329558278144

[2020-09-14 01:56] ShanonJackson opened #154 "Auth Bug - SSO with sign up link."
Let me know if you can't reproduce, love the static-web-apps offering and i'm basically frothing at the mouth to start using it in production (please deliver azure dev ops support  👍  haha)

Admin: Generates "Role management" invite link for AAD.
Admin: Pastes user his invite link.
User1: Is already signed into this AAD on another tab, when he clicks invite link he gets 401 unauthorized INSTEAD of

[2020-09-14 15:58] miwebst commented on #151
This is strange and we will look into this. One quick question for you is are you using Azure Functions? This code is failing because it believes you have an Azure Function and can't detect the language. If you set the api_location to a non-existent folder, then we will assume that means you have no Function and we will skip this check.

[2020-09-14 16:16] miwebst commented on #152
This most likely will not be a supported option. The GitHub action is currently the only way to do build and deployment. This limit is put here in part so we can measure the needs of the community, so this is a great data point for us. I will followup if there are any changes to the limit soon but otherwise I believe your scenario will be blocked.

[2020-09-14 16:20] miwebst commented on #113
Ah I was afraid of this, yes we currently are limiting the number of files during preview to 4k files. I'm surprised that you are running into this limit and not the 100 MB limit. In either case, we currently will reject this application. These limits are in part a way for us to judge the needs of the community and we will be evaluating them as we head for general availability.

[2020-09-14 16:22] miwebst commented on #128
Closing this as the initial problem is now fixed, you can create a staging environment by creating a pull request from a forked repo.

[2020-09-14 16:22] #128 closed

[2020-09-14 17:49] jhamman commented on #151
I am not. I will try setting the `api_location` key to see if that helps.

[2020-09-14 22:21] horihiro commented on #152
Thanks @miwebst

I don't know about the GitHub action in details, so my opinion might not be realistic.It looks that the action is processed by using docker container based on `mcr.microsoft.com/appsvc/staticappsclient:stable`.
Do we have any way to execute functions core tools with the above option `--build remote` inside the contaier?

[2020-09-14 22:31] miwebst commented on #152
The remote build and the Static Web Apps container utilize the same technology to build the Azure Function, the build process is not the problem :) We have a limit in place because we own the underlying Azure Function that you are deploying your content to, this is done to provide a seamless experience (no need to worry about the underlying resources just write code). As I said above, this is main

[2020-09-14 23:25] mkarmark commented on #154
Hi @ShanonJackson,

Thanks for bringing this to our attention! Looking through the logs and doing a little searching it seems that this is something we need to look deeper into. We'll get back to you here when we have more info on the fix for this issue.

[2020-09-15 01:15] miwebst commented on #108
Updating title slightly. So I believe you can do this today by setting the CORS headers in your Function response. Would that unblock your scenario?

[2020-09-15 04:56] nogic1008 opened #155 "API throws 503 error since yesterday"
My app's API throws 503 error since yesterday.
And, Application Insights cannot track it.
## Reproduce
GET https://www.ddradar.app/api/v1/notification
## Current status
[code]
## Expected behavior
Returns JSON
## Environments
- [ddradar/ddradar](https://github.com/ddradar/ddradar)

[2020-09-15 08:11] ShanonJackson commented on #154
Any ideas when azure static web apps will start looking for a production release? really interested in leveraging it for our team (i know this isnt the time or place) but couldn't find any info about possible release date online.

[2020-09-15 15:55] adiazcan commented on #113
ok, we'll move to another service because we want to go live on one or two weeks

[2020-09-15 16:01] miwebst commented on #113
Sorry to hear that, we will be changing these limits as we get to GA, I appreciate you trying out the product though!

[2020-09-15 16:01] #113 closed

[2020-09-15 16:18] miwebst commented on #155
We will take a look and followup!

[2020-09-15 17:56] miwebst commented on #155
Hey @nogic1008, looks like it is having a tough time parsing your function.json Could not parse function.json. Does this run locally within VS Code?

[2020-09-15 20:32] jochenkirstaetter commented on #123
Hi @kichalla

Thanks for the analysis.
I'm not too deep into the development of the front-end code however running the CI/CD chain.

So far I haven't noticed any drawbacks of removing the fibers dev dependency, and the code base is working perfectly.
If, for whatever reason, the `fibers` package is going to be needed, we are going to opt-in for your suggestion #1, and upgrade the code base complet

[2020-09-15 20:32] #123 closed

[2020-09-16 00:31] nogic1008 commented on #155
@miwebst
I found `{` and `}` that was not properly escaped!
Thank you for your advice!!
https://github.com/ddradar/ddradar/blob/86e474c72309597e5e053e290566133bac914110/api/postSongScores/function.json#L9

[2020-09-16 00:31] #155 closed

[2020-09-16 00:44] miwebst commented on #151
Hey @jhamman, I am trying to reproduce this error so we can work on a fix. Do you mind sharing a little bit about the structure of your app? My guess is that our detection logic is picking up on something that is should not be.

[2020-09-16 20:06] litan1106 commented on #5
+1 on this.

[2020-09-17 02:24] renakim commented on #146
Thank you for your reply.

I want to use some shared code between APIs.
So I added the config to host.json. There are several files in the lib folder, one of which works but one does not.
npm packages are installed.

Can I monitor each API function like the Azure function service?
It works well locally, but it does not work in production, so I need to debug.

[2020-09-17 04:07] anthonychu commented on #146
Oh okay. I see. There should be no need to configure the watch directories. Instead, if you need access to logging and telemetry in your API app, you can enable Application Insights. The process to do this is a bit manual right now. You need to create an Application Insights resource in your Azure subscription. Then take its key and add an application setting named `APPINSIGHTS_INSTRUMENTATIONKEY`

[2020-09-17 05:20] renakim commented on #146
I set up the application insights.
It works, thank you.

[2020-09-17 05:20] #146 closed

[2020-09-17 19:41] miwebst commented on #129
This should be fixed now! Please let us know if it is not.

[2020-09-17 19:41] #129 closed

[2020-09-18 10:54] k-miyake commented on #11
In front-end development, we are increasingly using monorepo. For example, if you want to share components between the end-user app and the admin app. So I want this Issue to be a higher priority.

[2020-09-18 16:55] #127 closed

[2020-09-19 22:35] horihiro commented on #152
Will this limitation be removed or become same as normal Azure Functions in GA?

[2020-09-21 12:37] BernhardRode commented on #82
Already 3 weeks gone again =) Can we help anyhow?

[2020-09-21 16:08] miwebst commented on #82
Yes we hit a snag in our deployment so its taking an extra week or so. I will make sure to get you an update as soon as I can :)

[2020-09-21 16:56] orta commented on #147
I've hit this limit with the TypeScript website too - it's nearly all page data (e.g. `.json` and `.html` files) (though there's 4mb of images)

Each site localization could easily end up about 30-40mb in size

![Screen Shot 2020-09-21 at 12 55 34 PM](https://user-images.githubusercontent.com/49038/93796865-72412a80-fc09-11ea-8982-ab783c723d59.png)

[( This action has a zip of the site )](https://

[2020-09-21 21:09] orta commented on #1
👋🏻 - I've been working on a sample repo which shows the OSS PR process. Here's _how_ it works so far, and then after, why it's not working _yet_.

Repo: https://github.com/orta/pr-builds-static-web-apps
Workflow Files: One for [CI](https://github.com/orta/pr-builds-static-web-apps/blob/master/.github/workflows/CI.yml) then a [Post-CI](https://github.com/orta/pr-builds-static-web-apps/blob/master/.

[2020-09-22 18:38] rickvdbosch commented on #105
Announced at Ignite today: first class support for Blazor (and C# Functions) for Static Web Apps. Interesting links:

* [Blazor and C# APIs now supported in Azure Static Web Apps](https://azure.microsoft.com/en-us/updates/blazor-and-c-sharp-apis-now-supported-in-azure-static-web-apps/)
* [Tutorial: Building a static web app with Blazor in Azure Static Web Apps](https://docs.microsoft.com/en-us/azu

[2020-09-22 19:07] #105 closed

[2020-09-22 19:21] miwebst commented on #20
Take a look at this: https://github.com/Azure/static-web-apps/issues/105

1st class Blazor support launched today!

[2020-09-22 19:21] #20 closed

[2020-09-22 19:30] miwebst commented on #62
Announced today, support for C# and Python functions in addition to JS! https://docs.microsoft.com/en-us/azure/static-web-apps/apis

[2020-09-22 19:30] #62 closed

[2020-09-22 22:08] MaxMommersteeg opened #156 "Support for .NET5 Blazor WebAssembly apps"
Hi,

Today this article popped up in my feed:
https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/
First of all, great feature!

I'm currently in the process of porting my Blazor WebAssembly 3.2 website to the latest .NET5 rc, so there is less work to be done once the stable release ships. Of course I immediately tried deploying using the `Azure/static-web-apps-deploy@v.0.0.1-p

[2020-09-23 00:11] miwebst commented on #156
Hi @MaxMommersteeg ,

Thanks for reaching this out! We can leave this here for tracking. We are working with the Oryx team to get this supported and will follow-up with any updates.

[2020-09-23 07:17] leduqueiroz opened #157 "Function execution error"
1. Function works in portal and on my local development:

![image](https://user-images.githubusercontent.com/11163846/93977635-2ac5b600-fd51-11ea-9ce8-540925d2b6e6.png)

2. Function code (ps: with moongose)

[code]

3. HTML script

[code]

3.  Liver server works on my local development

![image](https://user-images.githubusercontent.com/11163846/93978386-4e3d3080-fd52-11ea-8e0a-69d9b2fa1a9d.png)

[2020-09-23 07:43] anthonychu commented on #157
You may need to add Application Insights to your app to get more details. This is a manual process right now. More info here: https://github.com/Azure/static-web-apps/issues/29#issuecomment-633403479

1.7 minutes is suspiciously close to 100 seconds. It’s possible there’s a timeout while connecting to Mongo or running a query. You should see more info from app insights.

[2020-09-23 07:49] ardacetinkaya commented on #156
Hope to have soon, I need to move from Azure Storage Static Web Site.

By the way, currently it is possible to have up to .NET 5.x versions Blazor apps. within Azure Storage Static Web Site
Hope to have similiar approach in Static Web Apps. GitHub actions with Oryx.

Example;
``yaml
name: blazorpwa

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

[2020-09-23 08:18] MaxMommersteeg commented on #156
Yes, I'm actually doing the same thing right now. Only difference is that my CD-pipeline lives in Azure DevOps. I was very eager to try out Static Web Apps.

[2020-09-23 11:49] LudicrousLiam commented on #157
Did you remember to set the mongo connection string in the environment variables in the configuration for the  static web app? (Non local)

[2020-09-23 15:25] leduqueiroz commented on #157
@LudicrousLiam my connection string is only in function settings. i try it and comeback latter, tks!

[2020-09-23 15:26] leduqueiroz commented on #157
My connection string is only in function settings. i try it and comeback latter, tks! :+1:

[2020-09-23 16:24] leduqueiroz commented on #157
### It worked! :rocket:

Properties must be in **static web app** and the same values must be in **function app**, this is the tip.

tks @LudicrousLiam , tks @anthonychu  :clap: :clap: :clap:

[2020-09-23 16:24] #157 closed

[2020-09-23 18:19] mwaddell opened #158 "Authorization header is ignored/overwritten in Azure Functions"
When using static web apps, the "Authorization" header passed from the UI side gets ignored/overwritten with a (randomly generated?) bearer value.  I've reached out to Microsoft Azure help and they confirmed that this is "specific to static-web-apps" and not an issue in "regular" azure functions.

I created a public repo containing just the proof-of-concept code necessary to demonstrate the issue.

[2020-09-23 18:42] miwebst commented on #158
I think this is a repeat of this https://github.com/Azure/static-web-apps/issues/34

[2020-09-23 19:41] TellonUK commented on #3
Is this in active development? Just wondering when B2C support will be added.

[2020-09-24 12:46] antst opened #159 "Problem with private git submodules"
I have a git submodule in my repo which hosts the site.
Both of them, repo and submodule are part of the same organization.
I tried to configure submodule with both, absolute and relative URL, but in both cases I end up with the same story

[code]

Is there any reasonable way to get it running?

[2020-09-24 13:04] mtsmachado8 commented on #11
Same problem. Iam trying to deploy two web static applications sharing components in a monorepo approach. Azure wont let me do so, didnt find any workaround so i'll have to break my monorepo or switch to another platform... :(

[2020-09-24 16:32] miwebst commented on #159
Do you mind pasting the whole Action log? Is this failing in the checkout action?

[2020-09-24 18:03] antst commented on #159
This is full log.

[full_log.txt](https://github.com/Azure/static-web-apps/files/5278198/full_log.txt)

[2020-09-24 22:25] miwebst commented on #159
Yes this looks to be an issue with the checkout action. You can find the docs here: https://github.com/actions/checkout

There is a comment about using a PAT if you are accessing a different private repository, but it sounds like it may be part of your repository already? You may want to file an issue there if that is the case.

[2020-09-25 11:07] dcollien commented on #116
Would it be possible to make it say "loading" while it's loading, instead of "No results."

[2020-09-25 22:43] mwaddell commented on #158
Yes, you are correct - this is a repeat of #34

[2020-09-25 22:43] #158 closed

[2020-09-26 15:12] itpropro commented on #159
You have to specify a PAT (from secrets) to be used in your action:
[code]

[2020-09-28 14:29] h2xd commented on #124
@CHH Why did you closed the issue, I'm running into the same error and would kindly ask you: **How did you fixed this issue?**

Greets, Andrej :)

[2020-09-28 15:37] CHH commented on #124
@h2xd Hi Andrej, I closed this because it was an error on my part and no bug with Azure Static Web Apps. I fixed this simply by adding `lfs: true` to the `checkout` Action in the GitHub Workflow file.

Hope this helps, Christoph :)

[2020-09-28 15:42] h2xd commented on #124
@CHH Thanks Christoph! Same issue in my side, just found it. :D

Cheers, Andrej

[2020-09-28 19:36] joshdcar opened #160 "Oryx error for Hugo with valid config.toml"
I recently changed the theme and the corresponding config.toml on an Azure Static Web App configured for Hugo. The build had previously worked.  The build was throwing an "Oops.. An unexpected error has occurred".  Outside the obvious that Oryx should provide a better exception I discovered the root cause of this issue to be section ordering in the config.toml.  The configuration itself is valid f

[2020-09-28 19:37] cmaneu opened #161 "Bug Report - Incorrect message when mapping a custom domain"
**Steps to reproduce**
1. Create a first SWA, and map it to a custom domain
1. Create a second SWA, and map it to the exact same custom domain

**Expected result**
Either:
- The domain is correctly mapped
- A clear error message says it's impossible because it's already mapped

**Actual result**
![image](https://user-images.githubusercontent.com/790974/94477669-7ef9eb80-01d2-11eb-90db-a562fc366712

[2020-09-28 23:20] miwebst commented on #160
Hey @joshdcar thanks for sharing! Yes I think this should go to the Oryx repo. @kichalla as an fyi

[2020-09-29 14:35] joshdcar commented on #160
Thanks @miwebst . I was thinking it likely belonged over in the Oryx repo.  I've gone ahead and created a new issue over there available at https://github.com/microsoft/Oryx/issues/801 . I'll go ahead and close this issue.  Thanks!

[2020-09-29 14:35] #160 closed

[2020-09-29 16:27] mwaddell opened #162 "[Bug] Staging environment is not reliably closed when multiple PRs are closed at the same time"
When multiple pull requests are closed at the same time, SWA frequently fails to close the current staging environment to free up that slot.

This became a much bigger problem when we started using dependabot on all of our projects and we are limited to only a single staging environment.  If we have a handful of dependabot PR requests and we do a push to main which fixes them all, dependabot will

[2020-09-29 21:44] miwebst commented on #161
We have added a work item for this and will get it fixed!

[2020-09-30 08:35] #126 closed

[2020-09-30 16:22] araemo commented on #72
I think I am running into the same problem.  I spotted this in the application logs for my web service (so, I'm not sure if this counts as a static web app, even though I'm only doing static file hosting):
[code]
So... I tried to use a web.config to set ```<requestFiltering allowDoubleEscaping="true" />``` as I have seen as fixes to the above message, but that caused my site to stop serving any fi

[2020-09-30 19:28] lanfeust69 opened #163 "Can't add a custom domain"
When trying to add a custom domain to the Static Web App I just created, everything seems to work :
- "Validate" gives a green mark
- "Add" takes a bit of time
- I receive a bit later the notification "Successfully created custom domain"

Except that it doesn't ! The list of custom domains stays empty, and of course browsing to the domain fails (with a 404, from Azure I guess).

No idea if it is r

[2020-09-30 19:45] lanfeust69 opened #164 "SignalR binding breaks Static Web App"
I'm trying to experiment with Static Web App, I had a small app running fine locally, including using SignalR service for communication.

However, when I actually created the Static Web App, the functions wouldn't work : all I got was "function host is not running". I managed to track this down to the presence of a SignalR binding, for instance :
[code]
Having or not the connection string in the s

[2020-10-01 05:22] miwebst commented on #162
Hey @mwaddell thanks for reporting this! I'll create a backlog item for us to investigate this.

[2020-10-01 05:25] miwebst commented on #163
@anthonychu can comment on the signalR issue.

Do you mind sharing the details of the custom domain addition? Specifically if you have the time, domain, and the name of your static web app (i.e. red-field-1234) then I can take a look.

[2020-10-01 05:47] lanfeust69 commented on #163
Sure, it's `thankful-smoke-07e578103`, that I tried to bind to `it-for-ops.famille-lafay.fr`, around 2020-09-30T20:30:00+02:00. The `CNAME` entry is still there.

[2020-10-01 18:55] mwaddell commented on #162
@miwebst - I was just able to trigger this again even without dependabot enabled.  If you have a PR that is outdated but can be automatically merged, click "Update Branch" within the PR and then as soon as the "Merge" button becomes enabled again, click it.  This closes the PR but the original deployment hasn't completed yet.

In the logs, it shows that the "Build and Deploy" job started after the

[2020-10-01 18:55] mwaddell commented on #162
I have all the logs if you would like them - just let me know where I can safely submit them for your review.

[2020-10-01 19:38] miwebst commented on #163
Hey @lanfeust69 , we are seeing that we are unable to provision the underlying certificate because this domain has CAA records on it that do not allow DigiCert to create certificates. Can you remove those records or allow DigiCert?

[2020-10-01 20:29] lanfeust69 commented on #163
That was indeed the reason, it worked as expected after allowing DigiCert.

Perfectly legit reason to fail, perfectly **un**legit not to tell anything about it 🙂. But no problem, this is all what previews are about !

Do you prefer the issue to be closed, or keep it open to track the real issue (bad reporting) ?

[2020-10-01 20:31] anthonychu commented on #164
@lanfeust69 Is this a JavaScript app? The issue is tracked here:

https://github.com/Azure/azure-functions-extension-bundles/issues/38

For now, please update your host.json to use an earlier version of the extension bundles. https://github.com/anthonychu/serverless-streamr/commit/4fe4cc78664314af857d2574c2b1d050ebe2ec7d

[2020-10-01 20:46] lanfeust69 commented on #164
@anthonychu :

Typescript actually (as the docs say C# is not supported, though I suspect this may no longer be true), but in the end it's of course javascript.

I'm a bit disappointed not to have found the other issue, but clearly it is the same.

For now I worked around the issue by proxying to a standard Function App, which is not 100% straightforward due to CORS issues, but is manageable.

I'l

[2020-10-01 21:58] anthonychu commented on #164
Whoops had no idea the repo is private. Public now.

[2020-10-01 21:59] anthonychu commented on #164
Also .NET functions are supported now. If you're using .NET, make sure you pull in the latest version of the NuGet. Looks like this was [fixed](https://github.com/Azure/azure-functions-signalrservice-extension/commit/1c502230304b1951b4500902b73e913267d3fd65) in 1.2.1.

[2020-10-01 22:04] anthonychu commented on #163
@pragnagopa Do you know anything about the `The BlobChangeAnalysisStateProvider requires the default storage account 'Storage'` message above? This is a Node.js app. I think I've seen this as well if a storage account doesn't exist.

[2020-10-01 23:12] miwebst commented on #156
Hey @ardacetinkaya you can actually use that same process with Static Web Apps today. Note the app_location below is the output of your previous step!

`steps:
- uses: actions/checkout@v2
- name: Setup .NET Core
  uses: actions/setup-dotnet@v1
  with:
    dotnet-version: 5.0.100-preview.8.20417.9
- name: Publish with dotnet
  run: dotnet publish Blazor.PWA/Blazor.PWA.csproj --configuration Release

[2020-10-02 15:56] pragnagopa commented on #163
`The BlobChangeAnalysisStateProvider requires the default storage account 'Storage', which is not defined.
System.InvalidOperationException:` is only a warning and can be ignored as it does not impact the app itself.

[2020-10-03 07:44] ardacetinkaya commented on #156
Hey @miwebst I am able to deploy my .NET 5-preview app within your suggestion, thanks a lot. 🤜🏼

From the output, I understand that if Oryx could not find version, it assumes that the output artifact is already built and ready for deployment. So App Location value becomes critical, I hope current default behavior in Azure portal have this info or Oryx have better approach for this soon.

Here is m

[2020-10-04 15:07] lanfeust69 commented on #164
@anthonychu : I checked that rolling `ExtensionBundle` back to 1.3.2 enabled SignalR binding (and actual operation).

However, I'm a bit skeptical about this [line](https://github.com/Azure/azure-functions-signalrservice-extension/pull/132/files#diff-3d71503cbaf68aadba0812772f10378aR47) : it seems to me that if actually trying to use a `signalRTrigger` binding, the resulting exception will be misl

[2020-10-04 18:25] benbristow opened #165 "Issue with ?code query parameter"
Hello

I'm having an issue with the functions side of my static web application using Azure Static Apps.

I've found that having a query parameter of 'code' is causing issues with my function

I've created a test trigger with the default HTTP trigger TypeScript code for an example.

[code]

**With no query parameter, works as intended**

https://songkick.benbristow.co.uk/api/TestTrigger

**With qu

[2020-10-05 11:16] rhalaly opened #166 "Resource-Based authentication and User Bindings?"
Can I use the Static Web Apps with authorization strategy depends upon the resource being accessed? I see that you [do provide the user information](https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#api-functions) but how can I use it with, for example, Cosomos-DB bindings?

For example, an API that get all the items in the partition `{User.id}-todos`.

[2020-10-06 07:33] anthonychu commented on #164
I think @zackliu has tested for this and can comment on whether this still generates an exception. For what it's worth, I'm using `1.2.2` in a C# function app in static web apps right now and it's working fine.

[2020-10-06 13:21] Gordonby opened #167 "Jekyll app: Oryx built the app folder but was unable to determine the location of the app artifacts"
A site that i've had working since 8/4 now receives an error when the GitHub action runs.
I haven't changed the action, and my only change was some additional content to my **Jekyll** blog.

The App Artifact Location is specified as optional in the action yaml from SWA.
[code]

[2020-10-06 16:18] cmaneu opened #168 "Support multiple custom domains and APEX domain"
Right now, you can only map:
- One custom domain per SWA
- subdomains

If you want to host an app, a personal blog or anything else, there is chance that you'll need to map both www.mydomain.com and mydomain.com.

[2020-10-06 16:34] miwebst commented on #167
Do you mind sharing the repository or full action log? If _site contains the built application content then it should not be building the app folder.

[2020-10-06 17:04] Gordonby commented on #167
_site does contain the built app content.  Contents for _site;
<img width="589" alt="blog_site" src="https://user-images.githubusercontent.com/17914476/95234043-3dce9080-07fd-11eb-8b2d-9c8f3d8d6d5b.png">

full action log;
[logs_6.zip](https://github.com/Azure/static-web-apps/files/5335450/logs_6.zip)

[2020-10-06 17:21] mrgenesis opened #169 "API Azure Functions"
How can I see `context.log` in functions of Static WebApp?

[2020-10-06 18:42] miwebst commented on #167
Gotcha, thanks for sharing! Looks like Oryx is picking up php and thinking it needs to be built with that:

Version '7.3.21' of platform 'php' is not installed. Generating script to install it...

@kichalla can you take a look at the detection logic here?

[2020-10-06 19:09] Gordonby commented on #167
Is there a way to provide the platform, rather than Oryx detect?

If i look in the Action logs for one of the previous successful ones, this is what it says;

[2020-10-06 20:53] miwebst commented on #169
Take a look at this issue, https://github.com/Azure/static-web-apps/issues/157 basically you will need to add app insights to your Function.

[2020-10-07 16:12] miwebst commented on #156
The logic that we use today is that if Oryx can't detect a platform (usually by looking at package.json) then we assume its static content and deploy that.

Also you should be able to use .NET 5 Blazors apps without any changes to the generated GitHub Action now! Oryx has fixed their detection issue.

[2020-10-07 16:12] #156 closed

[2020-10-08 02:06] renakim opened #170 "routePrefix option in host.json"
I added `routePrefix` option to host.json to use custom route and domain.
For example, if custom domain is `webapp.com`, I want to call API with `/azure/api` route.

It worked in the local environment, but on GitHub action process, got below error.
[code]

My host.json settings:
[code]

Is the routePrefix option is not supported in the azure static web app?

[2020-10-08 09:24] nataliaw commented on #11
Same problem :(

[2020-10-08 22:46] miwebst commented on #167
Yes this is good feedback, basically tell the Action to skip the build step. We can add this to the backlog!

[2020-10-08 22:47] miwebst commented on #170
This is currently not supported. Are you already using the /api route? Wondering what the reason to change the api path is

[2020-10-08 22:50] #159 closed

[2020-10-09 10:59] Gordonby commented on #167
Is there any workaround in the meantime?
I've got content that T can't publish at the moment, without rolling back from Static Web Apps to Azure Web Apps + CDN.

[2020-10-09 16:00] dindak commented on #131
The rolling fix resolved my existing swa issues. Thanks for the quick turnaround @miwebst!

[2020-10-09 16:00] #131 closed

[2020-10-09 16:52] miwebst commented on #11
We have monorepo support now for all newly created Static Web Apps! You may run into an issue if you have a previously created (before this week) Static Web App attached to the repo/branch you want to use for your monorepo. If you run into that issue, just delete the old Static Web App and the newly created one(s) should then be unblocked.

[2020-10-09 16:56] miwebst commented on #36
@isaacabraham lets sync! We have ARM template support today, they just aren't documented. We are looking into options to streamline this experience.

[2020-10-09 17:02] miwebst commented on #60
Just as an update, for newly created apps this is fixed, with the exception that the UI will still link to the old branch.

[2020-10-09 17:09] miwebst commented on #64
This has been fixed!

[2020-10-09 17:09] #64 closed

[2020-10-09 17:21] johnpapa commented on #11
@miwebst - Thank you! Can you share how this support works and what settings in the workflow file would change for this?

Will the creation experience change in some way?

[2020-10-09 17:21] kichalla commented on #167
@Gordonby Is it possible to share your app or a repro sample?

[2020-10-09 19:33] miwebst commented on #11
So you can customize your workflow to your needs as described above. All that has changed is that you can add multiple Static Web Apps to the same repository + branch. The experience from there is that when you push to that branch (or create a pull request) both sites will get updated/have a staging environment, but you can edit that by specifying which paths to consider in each workflow file.

No

[2020-10-09 20:19] k-miyake commented on #11
@miwebst Excellent! Thanks for the quick response. Now I can move forward with my product.

[2020-10-10 07:55] Eco2020a opened #171 "Building my first static web app in the Azure portal"
I want to build my first static web app in the Azure portal. I have followed each step of the article 'Building your first static web app in the Azure portal'. https://docs.microsoft.com/en-gb/azure/static-web-apps/get-started-portal?tabs=vanilla-javascript

Yes, I successfully created it. Thank you the article author!

Then, I click at 'Click here to check the status of your GitHub Actions runs'

[2020-10-10 16:41] MaxMommersteeg commented on #36
@miwebst Do you know if there is an ARM Template example on GitHub?

[2020-10-10 21:37] anthonychu commented on #171
@Eco2020a There is only a README.md in [your repo](https://github.com/Eco2020a/my-first-static-web-app3/tree/master). Can you add a file named *index.html*?

[2020-10-11 03:51] Eco2020a commented on #171
@anthonychu

Hi, Thank you for you comments.

Yes, I created index.html at the repo, named docs/index. Then, I type this code: <html><body><p>Hello World</p></body></html>
Hum... It does not work...never mind. Probably, in beginning, it was not that good idea to use Azure static web apps for SaaS business, but WordPress. (I saw the potential in static generator or static CMS in terms of security a

[2020-10-12 13:59] isaacabraham commented on #36
@miwebst feel free to reach out to me by email or through Twitter (isaac_abraham) and we can chat.

[2020-10-12 16:10] lgulliver commented on #36
@miwebst any chance we could get a quick example around this? I'd love to be able to throw together a Bicep version

[2020-10-12 18:35] miwebst commented on #82
This is fixed now for all newly created Static Web Apps. You may need to delete and recreate your existing app to get this functionality.

[2020-10-12 18:37] miwebst commented on #145
Closing as duplicate.

[2020-10-12 18:37] #145 closed

[2020-10-12 18:40] #11 closed

[2020-10-12 22:33] scale-tone opened #172 ""Configuration" UI in Azure Portal still does autocompletion. That is, it stores your secrets in browser cache, where they never should be stored."
Not sure why #145 was closed as "duplicate". As I can see, the textbox for editing config settings in Azure Portal still shows autocomplete suggestions. Which it should never do, because these settings are used primarily for providing secrets, and caching them in browser cache is a huge **security issue**.

@miwebst, would you please pay closer attention.

[2020-10-12 22:36] miwebst commented on #172
Per that discussion: "The bug is the same as #121."

#121 is still open and we are looking at fixing this, that is why it is marked as duplicate. Unless you see a need for 2 issues I will close this one as a duplicate as well.

[2020-10-12 22:41] scale-tone commented on #172
@miwebst, once again, it's **not** the same.
#121 is about unreliable Save button, this one is about autocompletion. Please, pay closer attention.

[2020-10-12 22:46] miwebst commented on #172
Ah I see, sorry about that. Probably makes sense for this to be its own issue anyway. Thanks for correcting me!

[2020-10-12 23:28] daveabrock opened #173 "Get issues with `package.json` discovery for a Blazor WASM app"
I am trying to run a Blazor WASM app in Azure Static Web Apps. A simple front-end, calling an Azure Function, using the default paths ('Api', 'Client', etc.) I am getting errors in my GitHub Action, when I [run it](https://github.com/daveabrock/NASAImageOfDay/runs/1244808084?check_suite_focus=true):

[code]

When I created the app in the Azure portal (and selected 'Blazor' and the appropriate path

[2020-10-12 23:37] takyyon commented on #121
Closing this since a fix has been pushed and it is live now.

[2020-10-12 23:37] #121 closed

[2020-10-13 00:01] galrito opened #174 "Support Open Graph metadata"
Hello, this post was initially written on [feedback.azure.com](https://feedback.azure.com/forums/34192--general-feedback/suggestions/41604421-azure-static-web-apps-support-open-graph-metadata), but since this is the official channel for feedback on Azure Static Web Apps, I'll post it here as well.

I've been using and loving Azure Static Web Apps since its announcement. Recently, however, I came a

[2020-10-13 04:28] anthonychu commented on #173
Wonder if it’s getting confused by the package-lock.json in the Client folder.

[2020-10-13 08:35] daveabrock commented on #173
Fixed that and recreated the resource in Azure and it worked (merely deleting the file still caused issues).

Thanks, @anthonychu! I'm writing a blog post about this and will tag you on Twitter when it's done. Great stuff here!

[2020-10-13 08:35] #173 closed

[2020-10-13 10:44] Gordonby commented on #167
I've added you to the repo @kichalla

[2020-10-13 18:00] rhalaly commented on #166
@miwebst can you assist please?

[2020-10-13 21:55] mctouch opened #175 "---End of Oryx build logs--- The function language 'nodejs,python' is unsupported or invalid."
Trying to build the example static web app VUE-APP however I keep receiving the below error, a similar error happens when I try to build my vue app

---End of Oryx build logs---
The function language 'nodejs,python' is unsupported or invalid. The following languages are valid: node, dotnet, python.

Not sure where this is being generated or where I edit this to be valid

[2020-10-13 23:00] ktm commented on #147
I’m working on a simple marketing app which just went over 100MB when we added some fresh content.  A few recipes and a lot of photos.  It’s for a holiday campaign so I guess we’ll host it somewhere else.  Super bummed because this static web app offering is perfect for my agency client.

[2020-10-14 01:03] miwebst commented on #166
@anthonychu can you help here?

[2020-10-14 01:05] miwebst commented on #175
@kichalla can you take a look at this? This seems to be an issue with the detection.

@mctouch are you using Azure Functions? Could you provide some context on the repo structure/how you configured your static web app?

[2020-10-14 01:07] miwebst commented on #174
Hey @galrito! Thanks for reaching out, we will take a look at trying to unblock you on this. As for the comment on proxies do you just mean going from /posts/{postId} -> /api/posts/{postId} without redirecting?

[2020-10-14 04:14] kichalla commented on #175
cc @arroyc

[2020-10-14 05:54] anthonychu commented on #166
I don’t think this is possible with the bindings because you need to decode the user data in the function. Your best bet is to use Cosmos DB SDK.

[2020-10-14 07:13] galrito commented on #174
Hello @miwebst. Yes, exactly. Similar to what we have on Azure Functions.

[2020-10-14 16:41] miwebst commented on #147
We are actually looking to bump this limit this week after lots of great feedback on it being too restrictive! I will update this thread once we have done this. Most likely will be 250 MiB as the new limit.

[2020-10-14 20:01] miwebst commented on #147
cc @craigshoemaker

[2020-10-14 20:07] rhalaly commented on #166
Hmm, thanks. I'm just wondering... You have some layer between the client front-end side and the azure functions that encodes the user principal data (since the client doesn't send the `x-ms-client-principal` header in the Ajax).

So, I'm wondering if you can send the user principal data as query params instead of custom header to the function. For example if the data will arrive as `$user_id=xyz&

[2020-10-14 23:01] DiegoSilvaP commented on #175
I get the same issue as @mctouch when running with react

[2020-10-15 00:21] miwebst commented on #175
@DiegoSilvaP would you mind sharing your repository? We'd like to see how it is configured, the last time we saw this issue it was caused by not having the api_location set properly.

[2020-10-15 00:33] DiegoSilvaP commented on #175
@miwebst sure, https://github.com/DiegoSilvaP/my-static-web-app the only thing I did was to generate the repo

[2020-10-15 00:44] miwebst commented on #175
Thanks! @DiegoSilvaP looking at the logs, I dont see this particular error, but I'm not sure why this is failing. @johnpapa can you take a look at this? Is there a problem with the react app in the learn module?

[2020-10-15 17:04] miwebst commented on #175
Hey @DiegoSilvaP, took a look and figured out the issue. If you want to unblock yourself feel free to make a change like this to your generated repo. I will work on getting the mslearn repo updated too:

https://github.com/miwebst/mslearn/commit/12966f48fd9a0f6fef7356e489a6fb73ebe2b0e4

[2020-10-15 17:06] DiegoSilvaP commented on #175
Thank you @miwebst I'll take a look!

[2020-10-15 22:49] wcpinyan opened #176 "Azure web app for Blazor 3.1 app with no index.html"
Built Blazor 3.1 app that has startup and program files but no index.html in wwwroot.  The defaults for app_location, api_location,etc. do not work.  For app_location I have tried "/" and "/app" and for api_location=""...I have no api.
For app_artifact_location I have tried "wwwroot" and "".
I have tried every permutation of those (and others) with no luck.
I am using entity framework with a local

[2020-10-15 23:06] victorp13 opened #177 "Auth towards Function from f.e. Logic App"
For a private site I have set up required authentication to a custom role on the whole site via route: *. This leads to the functions under /api/ also being protected by authentication, which is of course a good thing.

However I have a hard time understanding or reproducing in Postman how I can now call the functions under /api/ with for example a StaticWebAppsAuthCookie value. How can I let apps

[2020-10-15 23:12] miwebst commented on #176
Can you share the error you are getting or the GitHub Action log (would be even better)?

[2020-10-15 23:16] miwebst commented on #171
Hey @Eco2020a do you mind clarifying the issue? We require the content deployed to Azure Static Web Apps to have an index.html file and it doesn't seem like your repo has that. As for using static generators/CMS with Static Web Apps, we have already seen people do this so its definitely supported :)

[2020-10-15 23:24] miwebst commented on #165
Hey @benbristow ,

We have looked into this and are looking at potential solutions. For now the only workaround is to use a different query string parameter.

[2020-10-15 23:25] miwebst commented on #147
250 MiB is our new limit on maximum app size!! @craigshoemaker do you mind updating the docs?

[2020-10-16 15:57] wcpinyan commented on #176
I have tried so many permutations that it is hard to pick one.
The consistent error centers around the fact that it can't find the
artifacts...which are normally pointed to by "wwwroot".
But my dotnet 3.1 balzor app has no index.html in the www.root.

Thanks,

On Thu, Oct 15, 2020 at 6:12 PM miwebst <notifications@github.com> wrote:

[2020-10-16 19:32] panesofglass commented on #96
Similar to this, I would like to see zip deploy and/or ARM deploy available.

In my case, I have a static site with Python functions referencing private packages hosted on GitHub. When deploying the functions outside of Static Web Apps, I have to install the Python packages locally and specify `--no-build` when publishing to Azure Functions. I don't think that is available through Static Web Apps

[2020-10-16 19:38] panesofglass commented on #61
It seems that this is addressed by #62 and #78.

[2020-10-16 22:11] ArshZilpe opened #178 "Error thrown when deploying using GitHub"
Hello. When I deploy my website to Azure/GitHub, it fails on the "Build and Deploy Job" portion. Here is a log:

`App Directory Location: '/' was found.
[WARNING] Api Directory Location: 'functions' could not be found. Azure Functions will not be created.
Starting to build app with Oryx
Azure Static Web Apps utilizes Oryx to build both static applications and Azure Functions. You can find more det

[2020-10-16 22:57] #178 closed

[2020-10-17 18:55] StrawMonkey opened #179 "Build fails with exit ode 1"
Yarn fails when I try to use static-web-apps-deploy@v0.0.1-preview

![image](https://user-images.githubusercontent.com/5722041/96351262-8ec26c80-10ba-11eb-9d9c-8830df4caf1f.png)

Only difference from locally that I can see is the yarn version, which I am unable to change. If I do I get

`The engine "yarn" is incompatible with this module. Expected version "1.22.5". Got "1.17.3"`

[2020-10-17 19:18] rhalaly opened #180 "BaseUrl is been ignored by Orxy"
My tsconfig.json file contains the following definition:
[code]

While local builds (with `npm run build`) are working fine, the Orxy build failed to find modules with absolute path under `baseUrl`...

[2020-10-17 19:37] #180 closed

[2020-10-17 22:01] rhalaly opened #181 "All .auth access returns index.html"
I have React app with this routes.json file (inside the public folder):
[code]

But all the login requests to, for example, `/.auth/login/google` or `/.auth/login/aad`, etc. just bring the `index.html` file, and my client routing tries to process it.

Any idea what can be the issue? (The project created with Create React App CLI)

[2020-10-19 03:34] miwebst commented on #179
The other difference may be that this is running in CI mode (the log says "Treating warnings as errors because process.env.CI true"), does running your project locally produce any warnings?

[2020-10-19 05:41] Eco2020a commented on #171
Hi @miwebst, Thank you so much for your note. Kate

[2020-10-19 06:01] sathish331977 opened #182 "hosting static web apps will be available for private repositories ?"
Will hosting static web apps will be available for private repositories, my repo resides in azure Devops.

[2020-10-19 07:26] anthonychu commented on #182
We're working on it. No ETA yet. We'll update #5 when we have progress to report. Thanks.

[2020-10-19 08:13] Hypothesys-Smithgor opened #183 "Using AD Authentication"
Hi,

Apologies in advance if this is a dumb question - still trying to understand the whole Azure/Blazor security model.

I created a Blazor static web app from the template following default instructions, setup and deployed - all worked fine.

Next step, I want to add some authentication, so I set my routes.json as below and deploy:

[code]
I create an invite with the test role, and go through th

[2020-10-19 12:19] Zhiyuan-Amos commented on #89
Hello, can I know if arbitrary metadata will eventually be supported, which Azure AD currently [support](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/user-flow-add-custom-attributes) on preview?

[2020-10-19 15:23] StrawMonkey commented on #179
No warnings when building locally. I think it's "yarn install --prefer-offline" which has an outdated version of "caniuse-lite"

[2020-10-19 20:23] miwebst commented on #179
I see, can you try turning the process.env.CI off? https://github.community/t/treating-warnings-as-errors-because-process-env-ci-true/18032

You can add this to the build and deploy task

[2020-10-19 20:27] miwebst commented on #181
So those routes are matching the /* path and thus returning index.html. To avoid this (and this is something we are going to suggest for fallback routes going forward) you can use platform error overrides so that instead of returning a 404, it will return index.html. You can replace your fallback route with:

"platformErrorOverrides": [
    {
      "errorType": "NotFound",
       "statusCode": "20

[2020-10-19 20:32] miwebst commented on #183
For the counter route, my guess based on your description is that this is a client side route? Auth only works for files that are requested to the server. If you want to perform authentication on a client side route (not necessarily recommended) you can use the /.auth/me endpoint to have the Blazor wasm retrieve the user details and then make auth decisions.

https://docs.microsoft.com/en-us/azure

[2020-10-19 21:00] miwebst commented on #36
Sorry for the delay on this, here is an example. The key is that you will need to get a GitHub PAT (https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token) with admin/write access to the repository and the ability to interact with workflows:

Values:
Name - name of your Static Web App
Location - one of the locations where Static Web Appcan

[2020-10-19 21:23] rhalaly commented on #181
Thanks! I think that you should warn in your docs also about service workers. Because they can "override" the routes config.

[2020-10-19 21:23] #181 closed

[2020-10-19 21:44] isaacabraham commented on #36
@miwebst cool. Can you give some examples of:

* What the output artifact location should be?
* What other values the SKU can have?
* Are all parameters mandatory?

Ta

[2020-10-19 21:52] miwebst commented on #36
- App artifact location: imagine you have a React app that when you build it, all of the data goes to a directory called 'build'. In this case, 'build' would be your app artifact location. Similarly assume that you had an Angular app that output to 'dist/myapp' then similarly 'dist/myapp' would be the app artifact location.

- Skus: Free is the only sku currently offered by Static Web Apps while w

[2020-10-19 22:05] miwebst commented on #181
This is a great callout as we've seen this before. cc @craigshoemaker

[2020-10-19 22:54] isaacabraham commented on #36
It's alive! https://twitter.com/isaac_abraham/status/1318323982664404993

[2020-10-19 23:07] isaacabraham commented on #36
Are app settings and custom domains supported in ARM?

[2020-10-19 23:45] miwebst commented on #36
Good question, if you are using Azure DNS Zone's for DNS management then you can do custom domains (its a little complicated) but app settings are fairly straight forward. Here is an example of app settings:

[code]

[2020-10-20 09:47] Hypothesys-Smithgor commented on #183
Thank you - finally the penny drops!
I'm not used to writing SPAs like this, so didn't sink in that the authentication of each page would not be happening on the server.
I'll use the API to limit the pages (direct to login) but certainly put the authentication on the functions to limit access to data.
Again, many thanks.

[2020-10-20 09:47] #183 closed

[2020-10-20 10:12] sanjaydebnath opened #184 "Reading environment variable in azure function fails"
Hi Guys

I am trying out static web apps & I need to read a storage connection string in the function app. below is what I am trying to do to read the connection string as we normally do in azure function projects (.net core web app).

`[FunctionName("GetImages")]
        public static async Task<IActionResult> Run([HttpTrigger(AuthorizationLevel.Anonymous, "get", Route = null)] HttpRequest req, I

[2020-10-20 12:39] Gordonby commented on #167
Any thoughts @kichalla  ?

[2020-10-20 16:00] miwebst commented on #184
Is this the same as https://github.com/Azure/static-web-apps/issues/78?

[2020-10-20 16:58] anthonychu commented on #184
See this comment on what application settings are currently blocked in managed functions. https://github.com/Azure/static-web-apps/issues/80#issuecomment-653790284

@ehamai @takyyon Is it possible to display an error in the portal?

[2020-10-20 19:08] estruyf opened #185 "Azure Functions: Error 403 - This web app is stopped"
While opening my static site, there was no data coming back. When I checked the API calls, it returns all `Error 403 - This web app is stopped`.

Is there any way to restart this again? Already tried to do another build, and that works fine.

When I check the portal, it doesn't show any APIs / Functions anymore:

![Screenshot 2020-10-20 at 22 10 05](https://user-images.githubusercontent.com/290083

[2020-10-21 13:55] Hypothesys-Smithgor opened #186 "User Information in Functions"
Hi,

Finally got my head around client and function role authentication, and working very well, thanks, really liking the static-web-apps!

One final missing piece I have is how to determine the currently authenticated user within the Azure function.

I have role authentication protecting the function, but need to do things like log user who made changes to data, and restrict some data to certain

[2020-10-21 15:43] miwebst commented on #186
Take a look at this:  https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#api-functions

We are looking at making this easier long term, but for now you can use this system-provided header.

[2020-10-21 18:11] miwebst commented on #176
So the restriction is that the output folder that will be uploaded to Azure needs to have an index.html file at the root. With most Blazor WASM apps, the build step produces a wwwroot folder that has an index.html file.

So for example, if your Blazor app was at the root of your project, your app_location would be "/" and assuming that building this project creates a wwwroot folder with an index.h

[2020-10-21 18:18] sanjaydebnath commented on #184
Thanks for the update. So for now I will rename it to something else. yes, a message would be better.

[2020-10-21 18:46] miwebst commented on #185
Interesting, do you mind sharing the default hostname (autogenerated hostname) so we can take a look? This is unexpected behavior.

[2020-10-21 18:52] anganti commented on #185
@miwebst Could be a side-effect of the DailyMemoryUsageLimit set in the free-tier (2000 gb-sec). @estruyf Do you think this could be the reason? Are you still experiencing it?

[2020-10-21 18:53] wcpinyan commented on #176
The app was built a couple of months ago with .net 3.1.  It created an
_Host.cshtml page but no index.html page in wwwroot.
The default nav is "/". The app was created as a WASM, but I think I added
PWA files later.
I have tried creating a new .net 5.0  WASM/PWA and then porting the pages,
components, etc. over.  But this is tricky because there is no startup.cs
and establishing all the "add servi

[2020-10-21 18:56] estruyf commented on #185
@miwebst the autogenerated hostname is: `victorious-hill-020356103.azurestaticapps.net`

@anganti shouldn't be the case, as the number of visitors is still extremely low because I didn't promote the site yet. The Azure Function is just used as a proxy, and data is cached on the client.

[2020-10-21 23:51] #184 closed

[2020-10-21 23:51] sanjaydebnath commented on #184
Duplicate of [https://github.com/Azure/static-web-apps/issues/80#issuecomment-653790284](url)

[2020-10-22 18:34] oadrian2 commented on #29
Would it be possible to get some sort of documentation on how to attach App Insights. For those of us coming from the existing Azure Functions panel, logging was basically automatic. How do we do that here?

[2020-10-22 22:53] aaronpowell commented on #29
Not official docs @oadrian2, but I blogged about it - https://www.aaron-powell.com/posts/2020-08-12-getting-logs-from-static-web-apps-apis/

[2020-10-23 03:09] NickDarvey commented on #36
I can kind of get an idea what to do with custom domains with Azure DNS between the [reference docs](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/staticsites/customdomains) and what I'm doing [here](https://gist.github.com/NickDarvey/814f0f34c03dff9f8fbe56310f0bef28). I don't see any equivalent for `Microsoft.Web/sites/hostnameBindings`'s `thumbprint` property  in `Microsoft.Web/

[2020-10-23 09:44] thomastvedt opened #187 "[Question] Why max limit of 1 PR and when will it be removed?"
Hi, we're testing Azure Static Web Apps, and this looks really great, plug-and-play with little hazzle. I noticed however that you have a limit of max 1 Pull Request preview as long as Azure Static Web Apps are in preview 😢 This is sadly a showstopper for us, depending on when this limit will be removed.

Questions:
1. Do you have an idea of when Azure Static Web Apps will be released / out of pre

[2020-10-23 14:53] anthonychu commented on #187
No timeline on GA yet.

Can you please share more details on your scenario, such as type of app and size of team? This will help provide a bit more data as we make decisions about this limit. We've had a few requests for this https://github.com/Azure/static-web-apps/issues/63 and it's possible we could change this limit during preview, but can't make any promises right now.

[2020-10-24 15:21] Hypothesys-Smithgor commented on #186
Perfect - all up and running now.
Many thanks.

[2020-10-24 15:21] #186 closed

[2020-10-26 04:28] thiagobeier opened #188 "Invalid workflow file (azure jekyll static web site)"
hi there following the

link [https://docs.microsoft.com/en-us/azure/static-web-apps/publish-jekyll](url)
I'm getting the following error

Check failure on line 20 in .github/workflows/azure-static-web-apps-nice-rock-0fe853010.yml
GitHub Actions
/ .github/workflows/azure-static-web-apps-nice-rock-0fe853010.yml

Invalid workflow file
You have an error in your yaml syntax on line 20

**workflow file

[2020-10-26 13:40] thomastvedt commented on #187
Hi @anthonychu , we're a small company with a team size of 20. We have several applications where we want to use this, mainly Angular apps. Our main motivation for adding this is that we want to preview multiple PRs / alternative implementations and let our customers decide on which alternative we should go for. We also want to be able to have multiple PRs open at the same time, and be able to pre

[2020-10-26 16:25] miwebst commented on #188
I believe this is a problem with your indentation. The 'uses' keyword should be inline with the 'name' keyword. You can see an example of this here: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-jekyll#review-and-create

[2020-10-26 18:28] anganti commented on #185
@estruyf Seems like you are able to get the functions executed again "sessionize-get". The portal usually takes some time to showup the functions list due to caching.

Could you provide more information on when the APIs stopped working,
Were you able to execute them before? Did it ever work?
Was this happening right after deployment?
Any other information that would be helpful?

[2020-10-26 19:30] estruyf commented on #185
Thanks, @anganti for confirming, although it is weird that with almost no load, the function runtime went down and this weekend with 1 million hits, it kept running.

[2020-10-27 14:15] hraz-msft opened #189 "[Question] Microsoft Graph support with AAD authentication"
First thing, Azure Static WebApps is absolutely AMAZING service!

For the question:
Can we access to Microsoft Graph on-behalf-of the user if he was authenticated with the AAD provider? If so, how can we do that?

[2020-10-27 16:41] miwebst commented on #153
Done https://github.com/publicsuffix/list/pull/1133!

[2020-10-27 16:41] #153 closed

[2020-10-28 16:06] kitmccormick-22ops commented on #94
My client needs this, too.

[2020-10-28 20:41] miwebst commented on #187
We will be updating this to allow up to 3 PR sites during preview shortly! Thanks for the feedback!

cc @craigshoemaker

[2020-10-28 20:48] miwebst commented on #177
Interesting question, this scenario is designed for web applications on platforms that can leverage cookies. Can you describe your scenario a little bit? Are you trying to use a shared Function backend for both a web application as well as the logic app?

[2020-10-28 22:30] victorp13 commented on #177
I'm trying to use the Function for both the SWA front-end as well as a Logic App, indeed.

[2020-10-28 23:27] kbarnes3 opened #190 "API Function returning Error 403 - This web app is stopped."
I'm getting a 403 error on my a small Function attached to my Static Web App. The error is "Error 403 - This web app is stopped." and I don't see any of the issues called out on the linked help pages. This sounds a lot like Issue #185, but I don't know how to confirm it is the same or how to recover.

My website is:
https://ashy-bush-00c3f3c1e.azurestaticapps.net/
The single API endpoint is:
https

[2020-10-29 08:14] thomastvedt commented on #187
That is great news! 👏🏼 👏🏼 👏🏼  Thank you 😄

[2020-10-29 15:08] LoopsGod commented on #139
@miwebst Nuxt.js Static Build function has an integrated crawler, which will generate an index.html for your route + payload.js to mock asyncData for SEO purposes. This'll generate about 2-4 files / page.

If you've made a blog with a lot of pages, this'll force you to disable the crawler & fetch the data from your API -- this'll hurt SEO & UX.

I'd recommend setting the file limit to about 15k-25

[2020-10-29 15:17] LoopsGod opened #191 "Cannot override server header"
**routes.json**:
[code]

The other headers show in the response, but the server header is not included. Might be a good option to add.

[2020-10-29 19:39] jhamman commented on #151
Sorry for the late reply here. Setting `api_location` to a non-existent directory did fix the error for me.

The project I'm working on (https://github.com/carbonplan/maps) is currently private but here is an example of a similar build system: https://github.com/carbonplan/research. The only difference I can see between these projects is that the maps project has some python scripts in it. So perh

[2020-10-30 00:08] dereklegenzoff opened #192 "An unknown exception has occurred while uploading"
I'm unable to get my application deployed to static web apps. When I add the `.yml` file to the repo and it runs, I get the following error:

[code]

Any idea what causes this error and how I can fix it?

![image](https://user-images.githubusercontent.com/19762985/97644801-81857600-1a08-11eb-8dd7-8025b7842405.png)

[2020-10-30 02:47] m-sterspace commented on #192
I don't know if it's the same issue but I'm also unable to deploy at the moment. I've suddenly started getting a different build error, but one that could also be related to the status of the Static Web App servers:

`azure_static_web_apps_api_token provided was invalid.`
![image](https://user-images.githubusercontent.com/37154205/97654155-b4476280-1a38-11eb-9517-ca551f03c78c.png)

[2020-10-30 12:51] m-sterspace opened #193 "Cannot Deploy - azure_static_web_apps_api_token provided was invalid."
I'm currently unable to deploy the latest changes to my app.

As of at least last night as of 11pm and continuing this morning, I'm unable to deploy my web app as my github actions fails to build:

`azure_static_web_apps_api_token provided was invalid.`

![image](https://user-images.githubusercontent.com/37154205/97706968-f0a4ae00-1a8c-11eb-907c-2353c40ec9cf.png)

I double checked my git repo and

[2020-10-30 13:36] pherbel commented on #5
+1

[2020-10-30 16:46] miwebst commented on #193
Interesting....when was the last time you successfully deployed?

We are working on adding the ability to get/reset your api token via the portal.
Can you try getting your api token via az cli like so?

az rest --method post --url /subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.Web/staticSites/<sitename>/listsecrets?api-version=2020-06-01

Then you can update the GH secret and see if

[2020-10-30 16:48] miwebst commented on #192
@dereklegenzoff do you mind sharing access to your repo? I'd like to take a closer look at your setup. @m-sterspace I saw you have opened issue #193, lets work through the api token issue there.

[2020-10-30 16:59] m-sterspace commented on #193
Last successful build was October 19th, 9:56am EST

I'll give the token reset a shot and let you know how it goes

[2020-10-30 19:49] cgideon opened #194 "Cannot deploy Blazor WebAssembly app from GitHub"
I created a new Blazor WAS app from the dotnet template, set it up in my own GitHub repo and connected it to an Azure Static Web App. I get this error though in the GitHub build

The app build failed to produce artifact folder: 'build'. Please ensure this property is configured correctly in your workflow file.

Here is a link to the repo: https://github.com/cgideon/DemoStaticWebApp

[2020-10-30 20:00] RichyP7 commented on #112
Is this still the case?
I asked because there is a example in the docs with webjobsstorage. Can I use azure tables or blobs with azurestaticwebapps?

[2020-10-30 20:20] anthonychu commented on #194
The artifact folder should be `wwwroot`.

Give this config a try:
[code]

[2020-10-31 00:19] miwebst commented on #187
This was updated to be 3 staging environments for Free static web apps :)

[2020-10-31 00:19] #187 closed

[2020-10-31 00:21] miwebst commented on #190
Hi @kbarnes3 we are working on removing these quotas that were in place earlier. We will take a look to see if you are hitting the same thing and mitigate you accordingly!

[2020-10-31 00:25] #147 closed

[2020-10-31 11:53] sgisbert opened #195 "Adding a custom domain ends up with an infinite 301 redirection loop"
Hi,
I've succesfully added a custom domain to my Blazor static web app in Azure, so instead of https://gentle-flower-0fa0bcd03.azurestaticapps.net we can use the friendly: https://regenerate.saboraemocion.com, but while the original site works fine, the second creates an infite 301 loop redirection.

This is the content of my routes.json file:

`{
  "routes": [
    {
      "route": "/*",
      "se

[2020-10-31 21:45] kbarnes3 commented on #190
Thanks @miwebst! It looks like my API has started working again. As far as I'm concerned, this issue is resolved. Feel free to close this issue as appropriate!

[2020-11-02 05:20] anthonychu commented on #112
@RichyP7 The setting needs to be empty. Good call out though, perhaps we should remove it from the docs @craigshoemaker

As for using storage bindings, you can use them if you specify a different name for the setting. Example here: https://github.com/anthonychu/static-web-apps-chat/blob/master/api/SendMessage/function.json#L30

[2020-11-02 11:32] IT-CASADO commented on #72
I'm running into the same problem and didn't find a way to make it work...

[2020-11-02 13:53] johnkors commented on #108
I have the same issue.

The API the static web app uses is not based on the Azure Functions based API from Azure Static Web apps, but an external existing ASP.NET Core API. Unfortunately, ASP.NET Core has no way to configure CORS settings to handle a dynamic environment/url like Azure Static Web apps (or Vercel, Netlify, Heroku Review apps for that matter) provides.

Tried to ping in the ASP.NET t

[2020-11-02 16:38] miwebst commented on #195
Hi @sgisbert,

Both sites seem to work for me, were you able to figure out what was causing the 301 loop?

[2020-11-02 16:39] miwebst commented on #72
We are about 2 weeks away from having this fixed. I'll update this thread when it is.

[2020-11-02 16:46] sgisbert commented on #195
Hi @miwebst, literally working on it. The domain is going through Cloudflare, which is enforcing HTTPS on their side, when I disabled it (not going through CF DNS), it started working, but still cannot figure out what the issue was.

I have another test app, this time running a Hosted WebAssembly Blazor app on a Web App Service, and got the same issue, but this time, instead of disabling Cloudflar

[2020-11-02 16:50] miwebst commented on #195
Ah that makes sense! Static Web Apps enforces HTTPS by default, so if Cloudflare is reaching out to us via HTTP then we will redirect them to the same HTTPS endpoint. I suppose this could cause an infinite loop Cloudflare continually reaches out over http and we keep redirecting them to https?

[2020-11-02 16:52] sgisbert commented on #195
That is probably it... Any workaround to keep using Cloudflare? I guess this would be quite a common use case, as we get all the CF benefits as well (CDN, free https, cache, etc..) on top of the Static Web App service.

[2020-11-02 16:55] miwebst commented on #195
Most people that configure CF in front of Static web Apps use full SSL so that CF reaches out via https. Is is possible to setup full ssl in your scenario? https://support.cloudflare.com/hc/en-us/articles/200170416-End-to-end-HTTPS-with-Cloudflare-Part-3-SSL-options

[2020-11-02 17:00] sgisbert commented on #195
Cloudflare is currently having issues to login to the dashboard, so difficult to tell atm... I will keep an eye on it

[2020-11-02 18:20] m-sterspace commented on #193
Hmmm, tried resetting the token via the cli but I'm getting the following error:
`Method Not Allowed({"error":{"code":"HttpMethodIsNotSupported","message":"The HTTP method 'POST' is not supported."}})`

![image](https://user-images.githubusercontent.com/37154205/97904222-2efcd000-1d0e-11eb-9bd6-8261709a5604.png)

[2020-11-02 18:41] miwebst commented on #193
Ah sorry, looks like the GitHub comment parsed the url I provided above. Let me try it again. Looks like you are missing the name of the static web app. You need to fill in the []'s:

url: /subscriptions/[subName]/resourceGroups/[rgName]/providers/Microsoft.Web/staticSites/[staticWebAppName]/listsecrets?api-version=2020-06-01

[2020-11-02 19:43] m-sterspace commented on #193
Ah, I had caught the resourceGroup and subscription but missed the web app name. Updated the command and got the intended response:
![image](https://user-images.githubusercontent.com/37154205/97911104-bea77c00-1d18-11eb-976a-09a4afbf1763.png)

When I went to paste the key into my repo's secrets I noticed that it had been changed 7 days ago, and the logs (and an annoyed IM) confirmed that my collea

[2020-11-02 19:55] sgisbert commented on #195
Hi @miwebst,

I think that did the trick! I changed the SSL settings in CF, and it looks like it is working now, with CF enabled.

Thanks for your help. Much appreciated!

Kind Regards,
Sergi

[2020-11-02 22:52] davewevans commented on #173
Have you finished that blog post? I'm having the same issue trying to run a Blazor WASM app in Azure Static Web Apps.

[2020-11-02 23:46] miwebst commented on #193
Interesting, did the name of the branch or repository change relative to the details that are showing up in portal? We made some changes a little while ago to break the dependency but if those do not match then you may need to reset your api token to get this to work again.

[2020-11-02 23:46] #195 closed

[2020-11-03 00:18] daveabrock commented on #173
Hey @davewevans, I sure did: https://daveabrock.com/2020/10/13/azure-functions-static-apps-blazor

I had it passing, now it's failing again but it's probably my fault since I did a lot of project targeting changes. Feel free to pass along your pipeline/repo...

[2020-11-03 00:31] davewevans commented on #173
Great! Thanks. I finally deleted my package.json file and that fix it for some wacky reason, but I look forward to reading your blog and getting a better understanding of this.

From: Dave Brock <notifications@github.com>
Sent: Monday, November 2, 2020 7:19 PM
To: Azure/static-web-apps <static-web-apps@noreply.github.com>
Cc: Dave Evans <davewevans72@gmail.com>; Mention <mention@noreply.github.com

[2020-11-03 00:33] m-sterspace commented on #193
Hmm, no, I don't believe they've changed, it's still our develop branch and the repo name hasn't changed. Some work was done in feature branches that was then merged back into develop but that's about it. How would I go about resetting the api token?

[2020-11-03 00:34] daveabrock commented on #173
Sounds good. The issue is that with a package.json, Onyx makes an assumption you are targeting Node. I think it's a common use case to use Blazor with some interop dependencies, so hopefully they make this more flexible.

[2020-11-03 01:34] anthonychu commented on #108
@johnkors It doesn't look like having CORS support in the Static Web Apps function app would help you in this case. What may be useful to you is if there was a way to get a stable domain name for the staging slots #22 so that you can add a finite list of origins to the CORS middleware in your ASP.NET Core app.

[2020-11-03 01:51] miwebst commented on #193
You should be able to call an api like this:

az rest --method post --url /subscriptions/[subName]/resourceGroups/[rgName]/providers/Microsoft.Web/staticSites/[staticWebAppName]/resetapikey?api-version=2020-06-01 --body "{\"location\": \"centralus\", \"properties\": {}}"

[2020-11-03 09:56] Gordonby commented on #167
I've reverted back to Azure storage static web + CDN now for hosting, so no rush.

I've left the SWA running so can always test again when you have a fix 👌

[2020-11-03 12:13] johnkors commented on #108
Yep, not using the functions, so obviously it won't help. Just saying, there will be scenarios where the APIs the Static Web Apps are connected to are _not_ the bundled functions. And these APIs need to have CORS configuration that allow for dynamic origins, as they are created by Azure.

For my ASP.NET Core API (again, not a function), I got it working using a CorsOptions setting where I can dyna

[2020-11-03 14:08] m-sterspace commented on #193
Hmm, that didn't seem to quite work.

When I tried initially I got an error that it was missing the Content-Type header and couldn't decode as an octet stream:
![image](https://user-images.githubusercontent.com/37154205/97994986-f44d7300-1db3-11eb-8217-fc9df75d1045.png)

So I explicitly set the Content-Type header to `application/json` and I'm not getting the following error:

`Bad Request({"Code"

[2020-11-03 15:58] miwebst commented on #193
So this works for me in the same region as your static web app so hopefully should also work for you! I'm not using powershell but using cmd, which is probably why my escape characters look different. Can you try cmd as well with these escape characters?

az rest --method post --url /subscriptions/[sub]/resourcegroups/[rg]/providers/Microsoft.Web/staticSites/[swa name]/resetapikey?api-version=2020

[2020-11-03 16:47] Swimburger opened #196 "Prerender for crawlers feature request"
Many static web apps (JS, Blazor WASM, etc.) require pre-rendering to be more SEO friendly.
Google crawler specifically handles JS apps quite well, but the crawler blocks DLL's so Blazor WASM isn't loaded properly.
Many other search engine crawlers don't execute the JavaScript at all.

There are ways to serve pre-rendered content when a crawler is detected, but this requires a backend or webserver

[2020-11-03 17:37] m-sterspace commented on #193
You were right, completely my mistake, I didn't realize that you had to escape with both a backtick and a backslash in powershell, it worked perfectly when I used cmd as well as when I went back to ps and escaped properly. Thanks a ton for all your help!

CMD
[code]

Powershell
[code]

[2020-11-03 17:37] #193 closed

[2020-11-04 06:21] JustinGrote opened #197 "Powershell Worker Support"
Since I didn't see an issue on it, are there plans to support the Powershell Azure Functions Worker as an API backend? It doesn't require compilation, just deploy from zip, and it's supported in GA.

This would go a long way to helping users very rapidly develop functional APIs since Powershell has a lot less boilerplate than .NET and I'm really enjoying the SWAG model.

[2020-11-04 06:23] JustinGrote commented on #194
For reference here's a working (prototype) Blazor WASM static app and repo you can use for reference:
https://github.com/justingrote/azureprice
https://icy-field-0b85c881e.azurestaticapps.net/

[2020-11-04 09:05] Misiu commented on #51
@miwebst any updates? This is one of two issues that is holding me back from using Azure Static Web Apps 😐

[2020-11-04 15:43] theeKatlego opened #198 "No matching static site was found or the api key was invalid."
Hi, I get the following error

`The content server has rejected the request with: BadRequest
Reason: No matching static site was found or the api key was invalid.`

I've changed the structure of the repo by moving the project into a subfolder. I then updated the workflow. I did not make any changes on the static web app on Azure.
[rickvandenbosch](https://www.rickvandenbosch.net/blog/azure-static-

[2020-11-04 16:13] miwebst commented on #51
So for transparency, we are working on revamping our config file experience to be more flexible. This work is nearly done and once we finish the documentation it will be live :) I expect this will finish by the end of the month.

What is the other issue holding you back?

[2020-11-04 17:23] Misiu commented on #51
@miwebst thank you for reply :)
Really looking forward to this. If the format will be flexible I'm sure that soon a plugin for Gatsby will be created that will allow generating such files (similar to htaccess generator that already exists)

The second issue is with password protect, many users (including me) need a way to password protect entire website. I've already created an issue for that: htt

[2020-11-05 12:55] ericsampson opened #199 "Support F# for the Functions in GA"
F# [already works great](https://twitter.com/isaac_abraham/status/1324041419892400132?s=20) for the Functions API endpoints, and people are excited about the possibilities.

Please consider officially supporting F# in GA. Thanks!

[2020-11-06 01:04] miwebst commented on #198
Looks like you have 3 GitHub actions configured against the master branch of your repo, is that desired?

https://github.com/theeKatlego/zoza-communications/tree/master/.github/workflows

My guess is a couple of these are leftover from previous static web apps that have since been deleted.

[2020-11-06 07:10] theeKatlego commented on #198
Yes, I have 3 against the master branch of your repo. There are 2 web apps in the repo.

`azure-static-web-apps-salmon-rock` was added as a test. I created a temp Azure Static Web App and deployed to it successfully. You can ignore this.

Initially, I just had `azure-static-web-apps-wonderful-sky` and it worked fine. I then did the following

1. Moved `wonderful-sky` web app source code in my repo

[2020-11-06 11:05] benbristow commented on #165
@miwebst Only just seen this comment, thanks.

Unfortunately I'm unable to change it as it's what Spotify redirects to (and I'm guessing other providers that implement OAuth2 too). I look forward to hearing your updates.

[2020-11-06 16:26] miwebst commented on #198
I see. Having one GitHub action workflow file to deploy both will be challenging since each workflow file references the deployment secret of a particular static web app. You can definitely have 2 workflow files so a single commit to master will deploy both.

As for the issue that you seem to be hitting, on closer inspection of https://github.com/theeKatlego/zoza-communications/blob/master/.github

[2020-11-06 19:42] miwebst commented on #36
Good question! There is a small bug in how we respond to polling requests when creating custom domains so it appears they do not work as I expected. We are working on getting a fix for that in the near future!

[2020-11-06 20:06] theeKatlego commented on #198
I don't quite understand why `wonderful-sky` secret isn't valid anymore. The `wonderful-sky` workflow worked fine with its respective secret before. What could've made it invalid? I did not update it.

So, I made the change as per your suggestion. Site deployed to `wonderful-tree` fine. However, I have two Azure Static Web App `wonderful-sky` and `wonderful-tree`. Each site has its respective work

[2020-11-06 20:28] GaryParr opened #200 "Target Usage Question"
Hi there.

I'm considering porting over an SPA that I currently have running on another cloud platform. The site is restricted to only invited members and I will need to allow users with site admin rights to send those invitations programmatically from within the site itself. I haven't found anything about Graph API management of the SWA invitation process though. Is that coming or is it already t

[2020-11-06 21:18] GaryParr commented on #91
I actually just posted a [quesiton](https://github.com/Azure/static-web-apps/issues/200) related to this as I hadn't thought to search on "roles" in the issues list yet. Anyway, managing roles is only part of the API equation as you also need a programmatic method of sending and revoking invitations.

[2020-11-06 21:27] miwebst commented on #198
Take a look at this thread for regenerating your token: https://github.com/Azure/static-web-apps/issues/193

[2020-11-06 21:58] miwebst commented on #200
Will these thousands of user's each need custom roles? Or will only a subset?

[2020-11-06 22:59] GaryParr commented on #200
Just a subset. Think of this as a "club" website for multiple clubs across the country. Each club has perhaps a club owner who can add/remove club administrators. Each administrator can add or remove members and assign team owners. Team owners can manage their team members. Each level should be able to to invite members to their specific subset of ownership, be it at the club or team level. There

[2020-11-07 03:29] dzeyelid opened #201 "What's the output_location parameter in generated workflow file?"
When I deploy an Azure Static Web Apps with Azure CLI or ARM template, the generated workflow file includes `output_location` instead of `app_artifact_location`.

GitHub Action shows `Warning: Unexpected input(s) 'output_location'` when the workflow run, but the `output_location` seems to work as `app_artifact_location`. for evidence, if remove the `output_location` parameter, the following error

[2020-11-07 07:10] theeKatlego commented on #198
All good now.

I combined the two workflows once both were working. I now have one workflow with multiple jobs each referencing its respective API key.

Thank you.

[2020-11-07 07:11] #198 closed

[2020-11-07 16:05] RichyP7 commented on #112
@anthonychu Thank you for your answer. This drove me crazy but now everything works smoothly. Keep going -that platform is just awesome. Works like a spell.

[2020-11-07 17:35] miwebst commented on #201
Yes they are the same, app_artifact_location == output_location. We realized that app artifact location is slightly confusing so we are starting to change this to output_location.

@craigshoemaker we should probably document this in the docs and once our release is finished we should mark app_artifact_location as deprecated in favor of output_location.

Both of these will continue to work in the A

[2020-11-08 00:47] dzeyelid commented on #201
@miwebst Thanks for responding and for the improvement. I understood that.

[2020-11-08 02:35] JustinGrote commented on #197
Upstream issue: https://github.com/microsoft/Oryx/issues/835

[2020-11-08 09:40] aditechsachinc commented on #161
Hi, I have a similar issue, tried to validate a subdomain, the validation process did not finish and after I try again I get the above error message. Is there a workaround to make this work quickly, before there is a proper fix?

[2020-11-09 12:32] thomastvedt commented on #72
We're getting 404 on url's containing `@` and `#`. I guess this could be related? Are there any (temporary) workarounds?

[2020-11-09 13:16] KelvinTegelaar commented on #197
+1 on this, would love to have a PowerShell backend Static web app. 👍

[2020-11-09 22:03] GaryParr commented on #200
OK, so after digging it looks like AAD B2C is what I want/need for identity management. My question then is... how will SWA leverage B2C?  As just another identity provider among the many options?  Or will there be a "tight" integration option where you can effectively assign a B2C tenant as the single authoritative IdP for an SWA (or group of SWAs) and manage users there through Graph API?  You s

[2020-11-10 09:34] therealburningman opened #202 "CNAMERecord is invalid when CNAME record is correctly added in Azure DNS"
Hi! I love the idea Azure Static WebApps can have Static Site Generator build production releases.

I am stuck in a situation though where I use Azure DNS to manage a domain and have correctly set the CNAME record pointing to: `blue-coast-056e4a103.azurestaticapps.net`

This is the error I get in the **Azure Portal** when adding a domain that's correctly added:
`CNAMERecord is invalid. Please ensu

[2020-11-10 12:21] henryjcee opened #203 "Node module caching"
Morning team. Firstly thanks for all your work on this, really appreciating the fixes. I do have a question about caching node modules. I've been using the `cache@v2` action for caching `./node_modules` using the lockfile as a key in my non-SWA based repos but it doesn't work here as it doesn't appear that the swa action copies `node_modules` into the Oryx workspace. As a result the npm dependenci

[2020-11-10 17:06] miwebst commented on #203
@kichalla are there any plans to add the ability to Oryx to pull node modules from a GH action cache?

[2020-11-10 17:08] miwebst commented on #200
So we are planning to have the ability to use existing auth registrations when we GA, AAD B2C will be included in those options. Additionally, we recognize this limitation and so we are looking at options to do exactly what you've recommended  - map a claim from registration X to a SWA role :)

[2020-11-10 17:11] miwebst commented on #196
Thanks for the suggestion! This is certainly something for us to look into. I feel like allowing the SWA routing to route based on crawler (user agent) wouldn't be too bad and would unblock this scenario.

There are some changes in progress for making our routing more robust and add a number of new scenarios, I'll add this to our backlog for exploration!

[2020-11-10 17:22] miwebst commented on #161
Take a look at this issue, if your domain has CAA records then it may be causing us to fail to provision it. We are still working on blocking these up front https://github.com/Azure/static-web-apps/issues/163

[2020-11-10 17:26] #60 closed

[2020-11-10 17:31] miwebst commented on #72
Do you have an example for the `#`?  I believe this is the same problem for the `@`

[2020-11-10 17:32] #82 closed

[2020-11-10 17:34] miwebst commented on #63
This has been bumped to 3 PR environments per site during preview.

[2020-11-10 17:34] #63 closed

[2020-11-10 17:47] clairernovotny commented on #60
How can we do this for existing apps?

[2020-11-10 17:55] miwebst commented on #60
You can reset your api key and update the GH repo secret with the new key. Then you are free to change branches. You can take a look at this issue for instructions on resetting/getting your key:

https://github.com/Azure/static-web-apps/issues/193

[2020-11-10 20:44] miwebst commented on #72
This should be fixed now for the `+` case. Thank you for your patience! @thomastvedt can you check if your scenarios are now fixed too?

[2020-11-10 21:51] annaji-msft opened #204 "Improve ApplicationInsights Experience For SWA Functions"
Today we can set ApplicationInsights instrumentation setting to a static web app, which eventually gets propagated to assigned FunctionApp .  It is possible to set this both for production and staging environment.

![image](https://user-images.githubusercontent.com/42851022/98737771-909aeb00-235b-11eb-8b4f-57f2beb6521b.png)

The assigned managed function app information is emitted, which makes it

[2020-11-10 22:07] StefH opened #205 "Provide a way to define the naming pattern from Staging envitonment"
Currently when the main URL is like `https://name-name-00bd1d203.azurestaticapps.net`, the Staging URLs are appending the PullRequest number like : `https://name-name-00bd1d203-1.westeurope.azurestaticapps.net/`.

It would be useful if we could define the naming pattern, so that the Staging URL would be like
`https://name-name-00bd1d203-staging.westeurope.azurestaticapps.net/` for the most recent

[2020-11-10 23:16] thomastvedt commented on #72
Example url: https://myapp.azurestaticapps.net/en/path/123/50802202220573Z/mail@customer.no#0f654e0811aa02651002b92cdc4

routes.json:
[code]

This path should be redirected to our SPA, but resulted in 404. I did a quick test now, and this still results in 404 :( I'll test some more tomorrow 👍🏼

[2020-11-11 01:53] JustinGrote opened #206 "Update Oryx/AWS container to support .NET 5"
Per https://github.com/microsoft/Oryx/issues/843, .NET 5 is now supported. Update so that it isn't downloading the runtime but instead has it cached natievly.

[2020-11-11 05:38] aaronpowell commented on #199
Is there currently an issue that you've come across with Functions in F# using Static Web Apps?

I've personally deployed a number of Static Web Apps with an F# Functions backend.

[2020-11-11 05:51] aditechsachinc commented on #161
There are no CAA records. When I browse to the domain URL, I get "NET::ERR_CERT_COMMON_NAME_INVALID" and the certificate attached is as below:
![image](https://user-images.githubusercontent.com/38943043/98773958-ff398080-240f-11eb-8f8d-bef1ec85c2fc.png)

[2020-11-11 06:52] erosnemesis commented on #5
+1 - After watching some of the .NET Conf today I was looking to deploy my simple app to a Static Web Site. I mainly use Azure DevOps (especially at work) and am hoping to get my company on-board with Blazor WASM, but I need a full proof of concept with pipelines. This is a huge must and surprised that GitHub came first.

[2020-11-11 12:36] theonewolf commented on #134
Or expanding the limit?

[2020-11-11 13:48] ericsampson commented on #199
@aaronpowell nope, just registering a request for official support in GA, as requested by the Functions team.

[2020-11-11 15:48] GaryParr opened #207 "Are SWA functions breaking things?"
So, I'm asking this here on the (very) off-chance that my experiment with SWA somehow broke my trial subscription.

In brief, I've been using a free trial subscription to see how easy or beneficial it would be to migrate an existing single page application off of AWS and onto Azure. For the most part, I've been following the official Microsoft tutorials to jump start my Azure understanding.  I sta

[2020-11-11 16:41] miwebst commented on #161
Gotcha, do you mind providing the hostname you are trying to add so we can take a look?

[2020-11-11 16:44] aditechsachinc commented on #161
admin.bleap.app

[2020-11-11 16:53] GaryParr commented on #207
So, to clarify... consumption plan does seem to work fine from the shell... and from the Advanced Deploy in VS Code. The Portal however refuses to let me chose anything other than an App Service plan during function creation.  Again, this may not be related to a prior SWA deployment at all, but it seems like such an odd thing to have happen that I wanted to make you all aware of it just in case.

[2020-11-11 19:06] StefH opened #208 "All application setting value and name properties must be of type string"
It seems that I can only set the applications setting to a string value ?

Below config is not allowed:
![image](https://user-images.githubusercontent.com/249938/98853336-4304a800-2459-11eb-8648-b3e02a11c469.png)

Is this *By Design* or will this change in the future?

[2020-11-11 20:26] harshithkashyap commented on #144
@miwebst I'm running into a similar issue with timer trigger functions as only Http triggered functions seems to be supported. Since the underlying product for the APIs are Azure Functions, I don't see why you are explicitly choosing to drop support for other trigger types.

Our usecase is that we have a couple of HTTP triggered APIs to CRUD reporting data. We also run timer triggered functions to

[2020-11-11 20:29] morvaizo commented on #5
+1

[2020-11-12 00:29] svict4 opened #209 "Split build and deploy steps"
Hi is there a way to split the steps defined in the build_and_deploy action? https://github.com/Azure/static-web-apps-deploy
I'd like to run a post-build Github action which creates an extra asset that I want deployed along with the rest of the build artifacts.

[2020-11-12 01:07] miwebst commented on #161
@aditechsachinc we have looked into this and this is being caused by a bug on our side. We will work on getting a fix out for this asap. Thanks for your patience!

[2020-11-12 01:08] miwebst commented on #209
You can do this by building your app just like normal in a GitHub action and then passing the output folder as the app_location to the static-web-apps-deploy action. Take a look at this as an example: https://github.com/Azure/static-web-apps/issues/17

[2020-11-12 01:09] miwebst commented on #208
This is by design, all app settings keys are strings as are the values.

[2020-11-12 01:10] miwebst commented on #205
I think this is a repeat of this request: https://github.com/Azure/static-web-apps/issues/22

[2020-11-12 01:17] #209 closed

[2020-11-12 01:24] miwebst commented on #144
Thanks for the feedback! Unfortunately this is not possible today and is something we are looking into.

[2020-11-12 01:31] anthonychu commented on #199
Thanks. This might just be a doc update. But want to ensure all F# apps build properly first before we declare that we officially support it.

[2020-11-12 04:04] eat-sleep-code opened #210 "Relative URLs are treated like Absolute URLs"
I setup a new Static Web App with a "custom" framework.

I have a something like the following structure that is deployed,

- /example1/index.html
- /example1/css/my.css
- /example1/images/my.jpg

In the HTML there is a relative link, similar to:  `<link href="css/my.css" rel="stylesheet" type="text/css">.   You will note that my href is relative.
`
I can goto `https://mycustomdomain.com/example1`

[2020-11-12 04:55] eat-sleep-code commented on #42
Did anyone ever getting a resolution on this?   Encountering the same issue.

[2020-11-12 09:23] FrankBurmo commented on #5
@annaji-msft any update on the progress to implement devops-support?

[2020-11-12 17:20] miwebst commented on #210
This relative routing should be done by your browser based on the presence of these trailing slashes. Static Web Apps is just responding to what is requested. Can you take a look at the network trace to confirm my theory?

[2020-11-12 18:03] eat-sleep-code commented on #210
Correct, it works fine with a trailing slash -- but as I noted, you can not expect folks to type the trailing slash in a web address.   So... was curious if there is a config/rule that can force all "folder" URLs to have a trailing /.   This can be done with IIS Rewrite, or .htaccess but not sure either is supported in this setup.

[2020-11-12 18:14] miwebst commented on #210
Ahh I see, sorry I misunderstood your ask. Seems you have already found the existing issue:

https://github.com/Azure/static-web-apps/issues/42

Today we don't have a mechanism for doing this. I assume this would essentially be redirecting all folder requests without the slash to the same request path but with the slash? Do you have an example IIS Rewrite or .htaccess file for configuring this?

I

[2020-11-12 18:56] eat-sleep-code commented on #210
Here is an example .htaccess rule.

[code]

Here is a URL rewrite rule:

[code]

[2020-11-12 18:59] miwebst commented on #210
Awesome, that makes a lot of sense. Thanks for the feedback!

[2020-11-12 22:06] mkarmark commented on #191
Hi, since the Server header is used to specify details of the server that handled the request, it's intentionally not configurable in the "defaultHeaders" section of the routes.json file. Was there a particular use case you had in mind when you wanted to set it?

[2020-11-13 18:16] Suirtimed commented on #167
It looks like I've hit the same issue. The site had some .php files in it, so I tried renaming them to *.wasphp. I'll see if I missed any of them and try again.

[2020-11-13 19:29] miwebst commented on #206
This should be done now :)

[2020-11-13 19:47] JustinGrote commented on #206
Hmm, I see the new oryx but it's not working for me...
![image](https://user-images.githubusercontent.com/15258962/99114653-fbd7fd80-25a5-11eb-92ba-57b2d036ab00.png)

[2020-11-13 19:49] miwebst commented on #206
Hmm, you may want to follow-up with the Oryx team then.

cc @kichalla

[2020-11-13 20:19] miwebst commented on #201
The warnings should be gone now, going to keep this open until we get the docs updated.

[2020-11-14 06:18] JustinGrote commented on #206
@miwebst did you include the dotnet 5 sdk into the github action image so that it doesn't have to be downloaded each time?

[2020-11-15 01:08] anthonychu commented on #5
Maybe in a couple of months. Some of the platform work and Pipeline task are getting close but will take some time to get the changes into the portal. We may be able to share some rough instructions using the CLI when that is ready.

[2020-11-15 01:28] anthonychu commented on #165
We’ve identified the problem, but the fix will be part of a larger set of updates. Unfortunately there’s no firm ETA right now but it’s likely sometime early 2021.

[2020-11-15 09:34] ElderJames opened #211 "Request support for environment presets"
For example, I have a Blazor application, but Need to use NPM to build JS and CSS.

We are currently unable to add the Node environment to a Blazor App.

![image](https://user-images.githubusercontent.com/7550366/99181342-ca5b5f80-2768-11eb-9db6-8087bfa61999.png)

[2020-11-15 17:26] anthonychu commented on #211
@ElderJames thanks for filing this. Can you share a sample app?

[2020-11-16 07:01] anthonychu commented on #165
OK. Good news. Found a workaround! 🎉

Create a functions proxy that accepts a `code` parameter. Rewrite the URL to the actual function and replace `code` with some other parameter name. Take a look at the example here: https://github.com/anthonychu/20201115-test-swa-code-param/blob/main/api/proxies.json

Hopefully this will unblock you until we can get that fixed for good.

[2020-11-16 07:11] anthonychu commented on #210
Would be great if this behavior can be the default or can be configured with a single setting.

[2020-11-16 11:13] LoopsGod commented on #191
Hi, no there's not really a use but I thought it'd be a good option to be able to modify every header. Not a priority tho.

[2020-11-16 15:46] eduardoao opened #212 "Fail in deploy static web app"
I'm try deploy bt CI/CD using Azure Static Web App and when start a new action I receive a error.

The content server has rejected the request with: BadRequest
Reason: The size of the function content was too large. The limit for this static site is 31457280 bytes.

[2020-11-16 16:31] anthonychu commented on #212
Can you change the `api_location` to an empty string `””`? That should solve it.

This configuration is causing a problem because it’s telling the GitHub Action that the entire repo is the API portion of the app and to deploy it. However, this sample app doesn’t have an API, so the right thing to do is to leave it blank.

If you’re following a tutorial or documentation, could you please share it s

[2020-11-16 17:00] miwebst commented on #206
I confirmed with the Oryx team that this is the desired behavior. This image is not just built for dotnet applications but is a generic solution for building applications that is also used by folks building JS applications. To avoid making download speeds longer for JS developers, Oryx will download dotnet 5 on the fly.

[2020-11-16 17:39] JustinGrote commented on #206
@miwebst uh you sure about that? The dockerfile installs both SDK 2.2 and 3.0, why not 5.0?
https://github.com/microsoft/Oryx/blob/d63f5ec122b0d84fdafce720ad581ccb6085ac15/images/build/Dockerfiles/Dockerfile#L41-L42

@kichalla added these lines, and added 5.0 to the version list
https://github.com/microsoft/Oryx/blob/9da028ef15b4e9871ab12c943d510639e34ae5dd/build/__dotNetCoreSdkVersions.sh

Seems

[2020-11-16 17:55] miwebst commented on #206
My understanding was that Oryx's logic is actually using one of those versions. Ideally we would not have either of these versions installed to speed up download time. @kichalla most likely knows the answer though.

[2020-11-16 18:15] kichalla commented on #206
@JustinGrote I am not clear as to what is not working and what is the actual issue..Are you referring to the 'api' folder that your repo has? https://github.com/JustinGrote/AzurePrice/tree/main/Api ..Oryx looks for files with extensions `.csproj` or `.fsproj` but this folder does not have any of those files so Oryx is unable to detect the presence of a .NET project.

[2020-11-16 19:36] JustinGrote commented on #206
@kichalla this was when I had a C# there, it's since been updated to use a proxy. Regardless you answered in the other thread that the goal is for the container to always download which is fine. Can some guidance be provided to use the `actions/cache` action to pre-cache the required items to speed it up? I'll close the issue on both fronts.

[2020-11-16 19:36] #206 closed

[2020-11-16 23:19] kbarnes3 commented on #190
@miwebst This issue started happening again for my web app. The symptoms and details above are still accurate. Is this expected based on the quota changes you made a couple weeks ago?

[2020-11-16 23:30] miwebst commented on #190
Ah sorry to hear this! Our deployment to remove all quotas got delayed due to the election, we are fairly close to having these quotas removed across the board, but potentially this one still has quotas. We can take a look.

cc @annaji-msft

[2020-11-17 02:15] aa00518 opened #213 "Stay Logged In?"

[2020-11-17 09:29] roguelj commented on #202
I am also running into this issue. Unfortunately however, using the CLI does not work. I can see a little bit more information by using the --debug flag. In this case, the 'CNAMERecord is invalid' error is also visible in the response.

[2020-11-17 15:14] georgait commented on #26
I have the same issue but i dont know how to add range request support

[2020-11-17 15:24] qmatteoq commented on #26
Hello @georgait you shouldn't need to do anything. Range request support was something that needed to be added from the Azure Static Website team and they did it, so you should be good to go. Are you getting the same exact problem?

[2020-11-17 15:37] georgait commented on #26
Hello @qmatteoq  i have the same issue but i dont use Azure, i use Windows server 2019 Datacenter

[2020-11-17 16:51] arognar commented on #212
I also get the

error. My git Workflow is straightforward with app in app and api in api folder.
Changing api_location to empty String lets me build my application, but i also want to deploy my functions..

[2020-11-17 16:55] therealburningman commented on #202
might need some time to propagate?

[2020-11-17 18:03] mkarmark commented on #213
Hi, the auth flow for Static Web Apps relies on cookie-based authentication. These cookies are session based, so it makes sense to me that you have to relogin after closing your session and open up a new one. Is this blocking your use case in any way?

[2020-11-17 19:07] aa00518 commented on #213
I open my browser with two tabs, outlook.com on one and my Azure Static Web App on the other.  outlook.com always logs me right back in automatically.  Azure Static Web App does not.  I would think it is fair for a user to expect both web apps to behave similarly.

[2020-11-17 20:03] anthonychu commented on #212
@arognar What language and libraries are you using in your functions? Is the function app content over 30MB?

We hope to raise the limit in the future. /cc @annaji-msft

[2020-11-18 05:49] arognar commented on #212
@anthonychu i am using nodejs and the content is 8KB..
Librarys are: dotenv and tedious

I tryed to excluse the node_modules folder in the .funcignore file, no idea if its content is bundled as well.

My Structure
-.vscode
-.github
-app  "my vuejs App"
-api -function1
        -function2

Using Node version:
v14.15.0

Using Npm version:
6.14.8

[2020-11-18 07:33] aditechsachinc commented on #161
@miwebst ,
Is there an expected timeframe for the fix?
Also, is there a workaround? Will deleting and creating the staticwebapp resolve the issue?

[2020-11-18 07:47] anthonychu commented on #212
@arognar Can you somehow share your project? Most interested to see your package.json and GitHub workflow file.

[2020-11-18 09:22] roguelj commented on #202
Entirely possible. To be honest, I haven't waited for the full '48 hours to propogate'.

DNS is frustrating!

[2020-11-18 09:27] therealburningman commented on #202
When you're in a hurry. for sure. Hope it works out.

[2020-11-18 09:29] arognar commented on #212
@anthonychu

`name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:

[2020-11-18 15:42] anthonychu commented on #212
Azure Functions Core Tools is bringing your app package over 30MB. Can you try moving it to your devDependencies or remove it altogether from package.json and install it globally on your computer?

[2020-11-18 17:00] arognar commented on #212
@anthonychu
Moving it to devDependencies solved my issue !
Thank you very much.

[2020-11-18 18:13] miwebst commented on #161
Yes sorry for the delay, we have fixed the issue. If you delete and recreate the static web app it should resolve the issue!

[2020-11-18 21:13] myaesubi opened #214 "The content server has rejected the request with: BadRequest 147 Reason: The size of the function content was too large. The limit for this static site is 31457280 bytes."
Hi @anthonychu/@annaji-msft,
I am developing the static website that I'm building is based on the **Blazor** framework.
I have NuGet library that is the bits around 30Mb should be part of the "Api" part. The CI/CD fails with the following error.

`The content server has rejected the request with: BadRequest 147 Reason: The size of the function content was too large. The limit for this static site

[2020-11-19 00:41] aditechsachinc commented on #161
Thanks, the domain was added successfully.

[2020-11-19 21:08] benbristow commented on #165
Awesome, cheers @anthonychu! Looking forward to seeing the fix next year.

[2020-11-20 00:36] jrathgeber commented on #214
Hello. I have the exact same error. Only I am brand new at this and I am only trying to run the tutorial from the static web apps documentation. My app is supper small. It has no content is just 'hello world'. But I don't know what to do to resolve.

![image](https://user-images.githubusercontent.com/10384129/99740908-e844ff00-2a9d-11eb-9cc0-78149be48104.png)

Attached an image of the error. Exper

[2020-11-20 01:31] anthonychu commented on #214
@jrathgeber Your app does not have an API, however, the workflow is configured with an [API location](https://github.com/jrathgeber/ReactWeb/blob/96c512979d287758c5f075f930ca37b91436effb/.github/workflows/azure-static-web-apps-nice-moss-0cfda6e0f.yml#L31), which caused the GitHub action to treat your entire app as an Azure Function app and try to deploy it, and it is hitting the API app limit of 3

[2020-11-20 02:24] jrathgeber commented on #214
It works now. Thank you very much.

[2020-11-20 16:58] miwebst commented on #175
We have made some updates to give clearer error messages when this happens.

[2020-11-20 16:58] #175 closed

[2020-11-20 17:42] anthonychu commented on #7
We're looking at adding deploying a zip from via the Azure CLI. This will initially take a URL to a zip file. It means you'll have to zip up the contents and make it available on a publicly accessible location. This could be a SAS URI to a zip file in Azure Blob Storage. The file can be deleted after deployment.

[2020-11-20 17:45] anthonychu commented on #13
Deploy from zip via CLI is tracked here: #7

[2020-11-20 19:05] anthonychu commented on #51
@mkarmark Do you know if the new config file can handle this? (different headers based on file extension)

[2020-11-20 19:07] anthonychu commented on #61
Let's close this and track using those other issues. Thanks!

[2020-11-20 19:07] #61 closed

[2020-11-20 19:15] anthonychu commented on #77
We're working on a Static Web Apps CLI that will have an emulator that should simplify this experience.

[2020-11-20 19:27] anthonychu commented on #24
We don't currently have plans to directly support authenticating against a custom user store that we provide. However, we may provide Open ID Connect support in the future and it might be possible to use a provider that supports a user store like Auth0 and Azure AAD B2C.

[2020-11-20 19:38] anthonychu commented on #80
Closing this. We can track the better error handling with #78

[2020-11-20 19:38] #80 closed

[2020-11-20 19:45] mkarmark commented on #213
I think at the moment, we plan on keeping this session cookie based auth design. There are things you can do to make the experience more seamless for the user, by adding platform error overrides to their routes file to configure the behavior to log the user in instead of responding with Unauthorized. More information for that can be found here: https://docs.microsoft.com/en-us/azure/static-web-app

[2020-11-20 20:10] benbristow commented on #165
Can confirm this workaround works a charm. Thanks again @anthonychu.

[2020-11-20 22:13] anthonychu commented on #102
Item tracking VS Code https://github.com/microsoft/vscode-azurestaticwebapps/issues/265

Azure CLI #7

[2020-11-20 22:56] anthonychu commented on #116
Thanks. This is good feedback. @takyyon @ehamai

[2020-11-20 23:42] anthonychu commented on #164
This should be fixed now in the latest Azure Functions extension bundles.

[2020-11-20 23:52] anthonychu commented on #212
@eduardoao Please let me know if you were able to resolve your issue. Thanks!

[2020-11-20 23:55] anthonychu commented on #214
@myaesubi Can you let me know if you're still experiencing this problem and if you have more information that you can share about your app, especially the workflow file? Thanks.

[2020-11-21 02:15] myaesubi commented on #214
Hi @anthonychu
yes. I still have the issue.
Basically, I use a NuGet package to create pdf from html file and that's above 30Mb size. I use the standard work flow that is being picked up when I create Blazor static web app in Azure portal.

I think the quota for Blazor apps should be increased, since they are sitting on the .NET side with .dll files, comparing to Angular JS or other Javascript fra

[2020-11-22 01:22] anthonychu commented on #214
Just to clarify, our limit for the frontend apps for the current free offering is 250MB. That should be plenty for your Blazor app. You are hitting the limit on the function app, which is currently at 30MB. We plan on increasing this.

If you believe your Blazor app is blocked by the 30MB limit, please share more information and we can help troubleshoot.

[2020-11-22 01:48] anthonychu commented on #207
Yep this appears to be an issue with creating a function app from the portal in certain trial subscriptions. I don’t think this is related to anything you did with Static Web Apps.

[2020-11-22 01:51] anthonychu commented on #202
@therealburningman @roguelj Was it propagation or is it still a problem?

[2020-11-22 01:55] anthonychu commented on #194
@cgideon did you manage to resolve this?

[2020-11-22 03:10] ElderJames commented on #211
Sure, I have setup in https://github.com/ant-design-blazor/ant-design-pro-blazor

[2020-11-22 03:48] myaesubi commented on #214
Hi Anthony,
you are correct. my limit size is in the API side which is Function apps.
I use DinkToPdf NuGet package which is a wrapper for multiple native libraries for each OS.
The size of those libraries each is above 40Mb.

Here is the [link:](https://medium.com/volosoft/convert-html-and-export-to-pdf-using-dinktopdf-on-asp-net-boilerplate-e2354676b357)

What I had to do is workaround is to put

[2020-11-22 06:20] aatifsyed opened #215 "Quickstart broken on Angular"
Hi `static-web-apps`
Following the quickstart guide at https://docs.microsoft.com/en-gb/azure/static-web-apps/getting-started?tabs=angular leads to the following error in CI:
[code]

This is with no deviations from the instructions, so I reckon it meets the bar for unexpected

[2020-11-22 06:27] aatifsyed commented on #215
[vanilla_angular_ci_logs.zip](https://github.com/Azure/static-web-apps/files/5579067/vanilla_angular_ci_logs.zip)
Here are the logs from that CI job

[2020-11-22 06:29] aatifsyed opened #216 "Quickstart broken on React"
Hello again `static-web-apps`
Following the quickstart guide at https://docs.microsoft.com/en-gb/azure/static-web-apps/getting-started?tabs=react leads to the following error in CI:

[code]

This is with no deviations from the instructions, so I reckon it meets the bar for unexpected

[2020-11-22 06:29] aatifsyed commented on #216
[vanilla_react_ci_logs.zip](https://github.com/Azure/static-web-apps/files/5579069/vanilla_react_ci_logs.zip)
Here are the logs from that CI job

[2020-11-22 06:42] anthonychu commented on #216
In step 6 of “Create a static web app”, did you select “skip for now” for the API location? It appears “/“ was selected, causing the GitHub action to build the whole repo as an API when there is no API in this app.

If you still have the repo, you can fix this by editing the GitHub workflow file. Change the api_location from “/“ to “”.

[2020-11-22 07:02] anthonychu commented on #214
Yep. We will be increasing it soon. Thanks for your patience. /cc @annaji-msft

[2020-11-22 07:15] anthonychu commented on #211
@ElderJames  Thanks. And is the request to make npm available when building Blazor apps?

[2020-11-22 07:22] anthonychu commented on #214
@jrathgeber Do you mind sharing which tutorial you were following? We want to make some updates to make it more clear that the API location should be left empty. Thanks!

[2020-11-22 07:25] #208 closed

[2020-11-22 07:30] anthonychu commented on #216
Submitted an update to docs to make it more clear on the screenshots what the selected values should be. Also added an item for VS Code: https://github.com/microsoft/vscode-azurestaticwebapps/issues/266

Thanks for reporting this.

[2020-11-22 07:34] anthonychu commented on #182
Closing as duplicate. Let's track this at #5. Thanks!

[2020-11-22 07:34] #182 closed

[2020-11-22 07:46] anthonychu commented on #207
Created issue here to track: https://github.com/Azure/Azure-Functions/issues/1781 Thanks for reporting this.

[2020-11-22 07:46] #207 closed

[2020-11-22 07:51] anthonychu commented on #189
I don't believe this is possible right now because we don't have a way to expose the token to the function app.

[2020-11-22 08:01] anthonychu commented on #188
Looks like the problem here is the instruction:

The GitHub action now includes the "with submodules: true" lines as shown below, so the instruction needs to be updated to reflect this. I'm not sure the best way to change this, perhaps change the instruction to:

But there are 2 lines with the words "Build and Deploy", and the value is a literal so it might change in the future. Also the indentati

[2020-11-22 08:13] anthonychu commented on #166
Related to this issue: https://github.com/Azure/static-web-apps/issues/21

[2020-11-22 09:11] roguelj commented on #202
I managed to get the www version of the domain name entered (eventually), and this worked. However the domain name without the www subdomain would refuse to be entered - same error message. As you can only enter one custom dns anyway (and I wanted both www and non-www to work), I have abandoned this little project completely.

[2020-11-22 14:10] jrathgeber commented on #214
Good morning. I had a look at my history and this what I found. It was 2 weeks ago now.
https://docs.microsoft.com/en-us/azure/static-web-apps/get-started-portal?tabs=react
I remember searching for static web apps on azure to find that. I also wanted to use Azure portal.
However if you click the link to the git hub repo on that page you will find it is a broken link.
Not give up I went the root of

[2020-11-22 15:25] Kanna727 opened #217 "Failed installing production dependencies"
I'm getting following error during `Installing production dependencies in '/github/workspace/.oryx_prod_node_modules'...` phase:

[code]

There are many such lines. I'm mentioning only first line of npm WARN here for simplicity.

[2020-11-22 15:58] Kanna727 commented on #217
Just found [this](https://npm.community/t/npm-install-unsafe-perm-was-remove-in-v6-11-0/10250/4) on npm forums. It says `--unsafe-perm` no longer works from npm version `6.11.0` and will throw the above error which I'm facing. Please fix this.

[2020-11-22 16:44] anthonychu commented on #214
Thanks @jrathgeber! Just tried it and you are correct that the link (https://github.com/staticwebdev/react-basic/generate) is broken if you are not logged into GitHub. We will update the instructions in the quickstarts and tutorials so it works well whether you are logged in or not. /cc @craigshoemaker @johnpapa

[2020-11-22 19:39] cfu288 opened #218 "Allow for a different app_build_command to be run between staging and production envs"
Loving static web apps so far!

Right now we have the ability to set different env vars between staging and prod azure functions (unfortunately still a manual process) but no way to define custom envs for the front end app. This could be solved by allowing users so specify a custom app_build_command in their Github Actions workflow file that would be run when deploying to stage.

For example, a us

[2020-11-23 19:24] KevinKelchen commented on #139
Our app includes a very large third-party dependency (esri ArcGIS API for JavaScript, which is ~19k files) that results in our build output being 20k-21k files. The current file count limitation will prevent us from using Azure Static Web Apps.

[2020-11-23 19:49] akzaidi opened #219 "AAD Login Loop"
Thanks for the wonderful service!

I am serving a static website with AAD authentication. Here is the `routes.json`:

[code]

Basically, I only want AAD or github authentication, and want to serve `/login` if the user is not yet authenticated, otherwise serve the page they clicked on.

However, what we're finding is when a user tries to click on a link, they sometimes end up in an infinite AAD log

[2020-11-23 21:10] mkarmark commented on #219
Hi @akzaidi, I plugged that exact routes and platform error overrides config into my repo and I did not experience an infinite redirect loop as you mentioned, nor does the scenario sound problematic in anyway (it really should work). I also checked out https://orange-desert-095eaeb1e.azurestaticapps.net and didn't experience the infinite loop there either. Has the config changed since experiencing

[2020-11-23 22:04] cgideon commented on #194
@anthonychu I have not had a chance to try it again, I will try this evening.

[2020-11-23 22:15] cgideon commented on #194
@anthonychu This is fixed now, I followed @JustinGrote note and was able to successfully deploy a static web app. Closing ticket.

[2020-11-23 22:15] #194 closed

[2020-11-24 07:21] andreatosato opened #220 "Blazor .dll not found after publish"
Hi,
I'm developing Azure Static WebApps with Blazor (.net 5) and Functions (.NET 3.1).
This is this [repo](https://github.com/andreatosato/AzureWebSitesStatic)

After "build and deploy" Github Actions don't deploy .DLL files.
For example, for this library: Microsoft.AspNetCore.Components.dll
When I build solution on my machine there are many file:

- Microsoft.AspNetCore.Components.dll.br
- Micros

[2020-11-24 15:20] WillEllis commented on #148
Thought I'd chime in here as I stumbled upon this ticket whilst playing around with that same Gatsby starter project with Azure Static Web Apps.

As hosseinnassiri points out the Resume page shows lots of extra things when built with Github actions, but when you build it locally it works fine.
What I've noticed is that this is due to the folder src\content\work. If you change that folder from "wor

[2020-11-24 16:27] miwebst commented on #218
Hi @cfu288 this is great suggestion! I assume you are looking for this improvement with respect to the PRs producing an environment feature? Today you can specify an app_build_command but that will apply to all environments of a particular static web app. You could also accomplish what you are trying to do with 2 static web apps with one specifying an app build command for staging.

[2020-11-24 16:28] anthonychu commented on #215
@aatifsyed Can you please confirm whether this is related to this problem: #216 ?

[2020-11-24 16:48] cfu288 commented on #218
Yup, I meant that it would be great if PR's could create a new staging environment by running a different build command than the one that is run for prod. I did think about creating two static web apps, but that seemed clunkier and requires a branch per static web app, making trunk based development more difficult.

This is by no means a blocker for me, just more of a feature request.

[2020-11-24 16:50] miwebst commented on #218
Makes sense! Also just as an fyi, you can have multiple static web apps attached to the same repo/branch so you could keep a single branch for multiple apps if you'd like!

[2020-11-24 16:56] cfu288 commented on #218
Oh is that the case? I was having trouble putting multiple apps on the same branch. On deploy I would get an error:

`
A static site already exists for the given repository and branch. The existing static site is /<redacted>/Microsoft.Web/staticSites/spaceinterns-webapp
`

I was able to create multiple apps from the same repo, just not the same branch. Let me know if I'm missing something!

[2020-11-24 18:24] akzaidi commented on #219
Thanks @mkarmark for the reply and for checking! Our users are using edge and chrome, so I don't think it's a browser specific issue.

It does seem hard to re-produce the error in general, but has been occurring for multiple users. It does seem to resolve if they use a brand new browser, so perhaps it is due to a mismatch from previously cached AAD authentication?

I did change the routes.json twi

[2020-11-24 18:53] miwebst commented on #218
Ah this is due to a bug on our side; the fix is still rolling out unfortunately. If you delete the existing static web app on that repo/branch, then you should be able to create multiple static web apps against that repo/branch going forward.

[2020-11-24 21:56] andreatosato commented on #220
I fix GitHub actions.
I publish separately api and app application.
Azure Functions must be compiled with .NET Core 3.1 and Blazor with .NET 5
[My result](https://github.com/andreatosato/AzureWebSitesStatic/blob/main/.github/workflows/azure-static-web-apps-orange-mushroom-011535a03.yml).
Now I need to set CORS on Azure Static Webapps

[2020-11-24 22:19] anthonychu commented on #220
Looks like CORS is not the problem as the call is to the same domain as the Blazor app. The problem is the function app is failing to start.

https://orange-mushroom-011535a03.azurestaticapps.net/api/leagues

Currently, the only way to diagnose this problem is by adding Application Insights:

1. Go to the [Azure Portal](https://portal.azure.com/?feature.customportal=false#create/Microsoft.AppInsig

[2020-11-25 00:41] anthonychu commented on #164
Turns out I didn't test this properly. Doesn't look like the updated bundles are fully released yet and problem still exists. The workaround until then is to force the use of bundles version 1.3.2 in host.json:

[code]

[2020-11-25 07:32] andreatosato commented on #220
Live metrics page is not working "Not available: your app is offline or using an older SDK".
I follow instruction step by step:
![image](https://user-images.githubusercontent.com/24985956/100195793-273cdf80-2ef8-11eb-99a4-5963e400265f.png)
Region is booth west europe.
I can't see log or live metric working. No request arrive to Application Insight.

[2020-11-25 07:50] andreatosato commented on #220
My functions is in .NET Core 3.1, so I need to install this package: Microsoft.Azure.WebJobs.Logging.ApplicationInsights.
After that application insight start to log error.

I think that this is error:
**Did not find functions with language [node].**

During GitHub Actions i find this log:

[code]

[2020-11-25 07:58] anthonychu commented on #220
OK I see. I wonder if this is because you built your function app in a separate action. Because you're passing the build output of the function app to the Static Web Apps action, it's probably not able to determine that it's a .NET app, and it assumed it was Node.

To fix this, changing the `api_location` of your workflow file to `"Api"`. This should cause the action to build it and it should know

[2020-11-25 16:01] andreatosato commented on #220
@anthonychu great, works!

I'm waiting Azure Function in .NET 5 for fix GitHub Action but now workaround do great job!
Thanks a lot ❤️

[2020-11-25 16:01] #220 closed

[2020-11-25 18:38] alexanderomnix opened #221 "Suport for Root domains"
I setup an Azure static web app using an custom domain that I bought at godaddy, I follow the instructions on documentation and create a CNAME as instructed, the problem is my static web app is only avaliable using the www subdomain, how can I setup my Azure Static web App to use root domain?
Ex. Azure static web app only allow to access my site using www.example.com and example.com is not avaliab

[2020-11-25 22:57] MaxMommersteeg commented on #221
They aren't supported yet, see official documentation:
https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain#configure-a-root-domain

The team working on this thinks it is an important feature too, as they call it an 'essential feature'.

[2020-11-26 11:42] alexanderomnix commented on #221
1. thank you, I'll close this for now.

[2020-11-26 11:42] #221 closed

[2020-11-27 11:58] LoopsGod commented on #139
You could lazy load the dependencies via the ArcGIS lazy load lib: https://developers.arcgis.com/javascript/latest/guide/esri-loader/

However, if you must implement the module in your box itself, you might be able to bundle them all in 1 Javascript file, or perhaps import only the one's you need. I'm not sure how that works for ArcGIS, but most of the time with external libs, I've been able to mo

[2020-11-28 16:32] roarwrecker commented on #139
I have a similar problem. My static web site has more than 4000 images and deploying my site via github actions leads to a Bad Request "Reason: The number of files in the app content folder exceeds the limit of 4000."
Will this be changed in the near future? Do I have to look for an alternative to Azure Static Web Apps? Or will the number of file limitation be removed?

[2020-11-28 21:24] andreatosato opened #222 "Route not work properly where user not have role"
Hi all,
I have this [routes.json](https://github.com/andreatosato/AzureWebSitesStatic/blob/main/Client/wwwroot/routes.json)
When I route to /reader or /superheroesgithub there aren't error 401.

/reader require "**reader**" OR "**authenticated**". But when I haven't autenticated view page.
/superheroesgithub require **superheroesgithub**. But when I haven't role I view page.

I don't understand wh

[2020-11-28 22:25] anthonychu commented on #222
@andreatosato One thing to note is that if you are performing client side routing in a single page app, the app never makes a request to our servers at that route. The rule only comes into play if you access the route directly. You should see a 401 error if you click on this link: https://orange-mushroom-011535a03.azurestaticapps.net/superheroes

[2020-11-28 22:31] andreatosato commented on #222
Ok, routing is for API not for Client.
Thanks a lot

[2020-11-29 10:03] andreatosato commented on #222
@anthonychu
I want to try **platformErrorOverrides** with **NotFound** like this.

![image](https://user-images.githubusercontent.com/24985956/100538628-2a560980-3231-11eb-9bad-1da576c05e57.png)

I create razor page [notfound](https://github.com/andreatosato/AzureWebSitesStatic/blob/main/Client/Pages/NotFoud.razor) that call Function not existing.
I receive backend error (404) but can't redirect t

[2020-11-29 11:46] budcribar opened #223 "Add arguments to the publish command"
I would like to pass in the SourceRevisionId, BuildId, and BuildNumber during the publishing step so they show up in the about page. Is this currently possible?

i.e. /p:SourceRevisionId=$(Build.SourceVersion) /p:BuildId=$(Build.BuildId) /p:BuildNumber=$(Build.BuildNumber)

[2020-11-30 03:47] akulbe opened #224 "Cannot publish Hugo-generated site to static web app."
Every attempt to publish results in an "Internal Server Error".

The [parameters](https://www.dropbox.com/s/woev7clfl9nwibd/parameters.json) I used are here.
The [template](https://www.dropbox.com/s/2gmwy5mukohjfqv/template.json) is here.

I also recorded a [screencast](https://www.youtube.com/watch?v=DvIs5yWveO0) that reproduces the steps.

[2020-11-30 12:46] drckriebel commented on #58
bvddg

[2020-11-30 12:46] drckriebel commented on #58
When will static web app be available for production usage ?

[2020-11-30 15:16] miwebst commented on #139
This will change :) We are working on improvements to the service so this will no longer be a problem.

[2020-11-30 15:45] miwebst commented on #223
Hey @budcribar,

GitHub actions offers a bunch of different environment variables that you can use: https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables#default-environment-variables

You should be able to have your build process look for these and update the corresponding static content during build.

[2020-11-30 17:06] KevinKelchen commented on #139
@LoopsGod, I really appreciate you taking the time to investigate my specific issue! That is kind of you, and I thank you for doing so! 😀

FWIW, we do currently use `esri-loader`. It's job is to help the web browser lazy-load the assets from the server. However, we have to get the assets on the server to host them in the first place, and there happens to be way more than 4k files to deploy for ser

[2020-11-30 19:22] andreatosato commented on #222
I try fontend route and backend but not work

[2020-11-30 19:33] DjolePetrovic commented on #24
So this [blog post](https://anthonychu.ca/post/azure-functions-app-service-openid-connect-auth0/) you wrote does not apply to azure static web apps? Or it does?

[2020-11-30 22:00] anthonychu commented on #58
@drckriebel Working hard to add requested features and get the service to general availability. No ETA yet but should be in the first half of 2021.

[2020-12-01 07:32] anthonychu commented on #24
@DjolePetrovic That's correct. For the time being, OIDC integration is only available in App Service and Azure Functions.

[2020-12-01 19:10] miwebst commented on #224
Thanks for the video and templates! From our logs looks like you were able to eventually deploy, but the 500's looked to be from errors when we were calling GitHub to add the workflow file.

A couple of quick questions about your template:
- I assume the repo token was actually populated, just not in the version you uploaded correct?
- Do you have functions in this repo? I assume "" is implying no

[2020-12-01 20:51] akulbe commented on #224
I didn't create any token for this, as I didn't know I would need to. Do I?

No functions in the repo.

[2020-12-01 20:52] akulbe commented on #224
@miwebst as an aside, I also tried doing the same thing, but with a static site generated from Jekyll. It gave me issues during the build-and-deploy about the sass dependency not being installed. I wasn't sure how to modify the workflow file to get it included.

[2020-12-01 20:59] miwebst commented on #224
Oh interesting, I would have expected things to fail differently if the token was not provided. The repository token (for GitHub) is a GitHub PAT that has admin access to your repo. Without this we can cannot add the workflow file to your repo.

This certainly seems like a bug though so if that is the cause then we will need to investigate this more deeply on our side.

[2020-12-01 21:01] miwebst commented on #224
For Jekyll, I don't believe we support this out of the box yet. You may need to adjust the workflow file to have it build before getting to the build and deploy step. You can find a tutorial here: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-jekyll

[2020-12-01 21:02] akulbe commented on #224
That was exactly the tutorial I'd followed, and even with doing that, it
still fails. In the output it talks about the "sass" dependency not being
available.

On Tue, Dec 1, 2020 at 1:01 PM miwebst <notifications@github.com> wrote:

[2020-12-01 21:36] MaxMommersteeg opened #225 "Changing configured Custom Domain"
Hi,

Today I tried changing the Custom Domain I had configured for my Static Web App. First off I tried validating the new custom domain `www.<new-domain>.com` which succeeded. After pressing `Add` I received the message explaining that it is currently only possible to have 1 custom domain being setup per Static Web App instance.

With that knowledge I decided to remove the old custom domain. Afte

[2020-12-01 21:48] miwebst commented on #225
Hey Max,

This is an issue with the service that helps us generate SSL certificates. We are working with them to fix this and then you should be unblocked.

[2020-12-01 23:32] miwebst commented on #225
Hey Max,

This should be resolved now, do you mind trying again?

[2020-12-02 07:33] anthonychu commented on #224
@akulbe If the repo is public, can you please share it? If not, please post the errors from the build and the workflow file. The SASS dependency error sounds like something from the build steps that are added before the Static Web Apps github action.

As for the original deployment problem. Looks like there's some confusion about whether you manually ran a template to deploy or if you deployed thr

[2020-12-02 07:59] MaxMommersteeg commented on #225
Wow, that was really quick. It works, thanks!

[2020-12-02 07:59] #225 closed

[2020-12-03 07:23] rhollins opened #226 "How to enable API function-level authorization"
Hello,

I'm trying to prevent anonymous access to API running together with static web app however without using roles functionality (I don't want users to log in or authenticate to the static web app)

The MS doc here (https://docs.microsoft.com/en-us/azure/static-web-apps/add-api) suggests it is possible to use function-level authorization by specifying function key like it can be done for regul

[2020-12-03 07:38] annaji-msft commented on #226
For SWA functions, You can set the authlevel in function.json to function or admin Instead of anonymous and that should do. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#configuration

You are right anonymous is not recommended in production. We will most probably lock down the anonymous authlevel for GA.

[2020-12-03 15:36] Kryptryx opened #227 "Custom domain error: Request Envelope is invalid."
When adding a custom domain to my static web app, I am getting the following error:

I know that the domain name has propagated, because that would cause a different message.

I have successfully added custom domain names to other static web apps.

Static web app: victorious-smoke-00203d10f.azurestaticapps.net
Customer domain: www.kryptryx.dev

I know that it has work for this particular domain pr

[2020-12-03 15:46] miwebst commented on #227
Hey @Kryptryx,

Yes looks like something got corrupted, we will take a look!

[2020-12-03 18:52] rhollins opened #228 "Failed to update application settings: An error has occurred."
Hi,

I've created azure static app on hugo framework with http triggered azure function, custom domain, and when I try to add a new item into settings I get the following error:

Updating application settings
Failed to update application settings: An error has occurred.

After that I cannot either edit or remove settings and also github action no longer can deploy and fail with the following error

[2020-12-03 18:59] rhollins commented on #226
Just wondering if there is a way to obtain keys for function running as part of a static web app normally for the regular function I would use "az functionapp function keys" but I can not see this option currently for "az staticwebapp"

[2020-12-03 19:09] annaji-msft commented on #226
@rhollins SWA functions are not expected to be called outside SWA context. Also the keys are not exposed by design.

[2020-12-03 19:15] annaji-msft commented on #228
@rhollins Are you able to set the appsettings via Azure Portal? Or is this only happening from Github Actions or Az cli?

Could you provide more information about your app.

Azure Resource Id:
Subscription Id:
Resource Group Name:
Static Web App Name:
Default Host Url:
GitHub Repo:
Is Repo Public:
If Public, Branch Name:
Is Using APIs/Functions:

[2020-12-03 22:28] eduardoao commented on #212
Sorry, anthonychu, but this solution don't resolve the isse. I had to change my CD path to './dist/web' in publish artifact.

[2020-12-03 22:38] mkarmark commented on #222
Hi @andreatosato, I don't know how your Unauthenticated platform error override is formatted but the path to serve should be assigned to a field called "serve" not "route"

[2020-12-03 22:40] anthonychu commented on #212
@eduardoao OK. Is the problem resolved with `./dist/web`? Please share the workflow file and ideally the repo if it's public if you'd like us to look into it more. Thanks.

[2020-12-04 06:52] anthonychu commented on #226
@rhollins Even if you were able to use function keys, you would probably embed the key in your static web app and someone can still use it to call your APIs from outside the context of you app. The most reliable solution is to require login.

[2020-12-04 08:12] rhollins commented on #226
Thanks that makes sense.

[2020-12-04 09:15] rhollins commented on #228
So from what I can see the problem is the name of the setting if it's "username" then I get this error and the pipeline would fail, renaming it to "_username" and saving fixes the problem luckily so no need to recreate the resource.

I created public repo https://github.com/rhollins/static-app to test this issue.

The change was done through the portal to reproduce simply add name "username" with

[2020-12-05 00:02] dsurrao opened #229 "static-web-apps-deploy test step in github action"
To deploy an Angular app, I would like to add a step 'npm test' or 'ng test'. I tried adding this before the 'Build and Deploy' step in the workflow .yaml file, but the job takes a long time and does not seem to complete. Is there another way to do this? Thanks.

[code]

[2020-12-05 11:27] andreatosato commented on #222
This is my route:
[code]
For 404 error, my waiting is that redirect to [errors.html page](https://orange-mushroom-011535a03.azurestaticapps.net/errors.html).
![image](https://user-images.githubusercontent.com/24985956/101241221-7eab2e80-36f4-11eb-8c9b-847d31547a95.png)

For 401 error, my waiting is that redirect to [errors.html page](https://orange-mushroom-011535a03.azurestaticapps.net/errors.htm

[2020-12-05 16:04] anthonychu commented on #222
For a redirect you need to return a status code. Can you try this:

[code]

[2020-12-05 16:38] andreatosato commented on #222
This not work
[code]
Must I change page code? this line has error: **await Client.GetStringAsync("/api/notfound")**
[code]

This not work
[code]

**The strange thing I noticed is that if I refresh the page that just went wrong (https://orange-mushroom-011535a03.azurestaticapps.net/notfound), I am redirected to the static page error.html
Am I doing something wrong in blazor?** @anthonychu

[2020-12-05 19:35] mschleifer opened #230 "_framework/blazor.webassembly.js missing on deployment"
I had trouble with my SWA deployment following the [documentation here](https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor).

I have a [Blazor client + Node api app](https://github.com/mschleifer/FantasyLeagueReport) that would load initially, but then the console presented
`Loading failed for the <script> with source “<my app URL>/_framework/blazor.webassembly.js”.`

I ran into

[2020-12-05 23:14] jepetko opened #231 "Angular build fails with "sh: 1: ngcc: not found""
Angular build fails with "sh: 1: ngcc: not found"

This is because `npm install --unsafe-perm --production` is executed to install the dependencies (no dev dependencies installed, thus `ngcc` (Ivy compiler) is missing).

Log file:

[code]

`app_build_command: npm i --unsafe-perm && npm run build` does not help if `ngcc` is configured like this: `"postinstall": "ngcc"`. It fails during the "npm ins

[2020-12-06 01:34] anthonychu commented on #231
@shmool recently ran into the same thing. @shmool @johnpapa @manekinekko any thoughts on best way to resolve this?

[2020-12-06 10:12] shmool commented on #231
I moved two dependencies from `devDependencies` to `dependencies`: `typescript` and `@angular/compiler-cli`.
However, I think the solution should come from Angular. If `ngcc` is needed - we should have it by default in the dependencies, already compiled to JavaScript. I'll reach out to the Angular team.

[2020-12-06 18:24] asad-shaikh-ivp opened #232 "Failed to find default file in app artifacts folder while deploying the Office Add-In UI code"
Getting the following error while trying to build my code for deployment on the azure static web app. _Failed to find a default file in the app artifacts folder (dist). Valid default files: index.html,Index.html._ I am trying to deploy my OneNote Add-In code which generates a _taskpane.html_ file instead of index.html in the dist folder. Is there a way to deploy the OneNote Add-In code which do no

[2020-12-07 03:25] anthonychu commented on #232
Is there a way to generate an empty index.html so it passes this validation? Perhaps we should consider making it a warning instead of an error when index.html is missing. @miwebst

[2020-12-07 15:04] miwebst commented on #232
Good question. If it is simple to add an index.html to the output that is probably the fastest mitigation. As for the long-term solution we will need to discuss this further. This check helps catch a lot of configuration issues so I'd prefer not to remove it right now. However we can certainly evaluate the possibility of including this in our configuration file.

[2020-12-07 15:08] asad-shaikh-ivp commented on #232
The build is triggered automatically once the branch is updated and the build package I suppose is generated during the process. Is it possible to add an index.html file in the dist folder? Also if there could be a config property in the workflow file which would accept the default file, something like _default_file: taskpane.html_ would be helpful.

[2020-12-07 15:15] miwebst commented on #230
Hey @mschleifer,

First for the output_location, check out this https://github.com/Azure/static-web-apps/issues/201 - we still need to document this but its hopefully more clear than app_artifact_location, @craigshoemaker can you help with this?

Second looking at your project (thanks for including links!), it looks like you are building the project earlier in the action and then passing the stati

[2020-12-07 15:18] miwebst commented on #229
Hey @dsurrao,

Thanks for the feedback! This is something we would like to add. For now, you can try using the app build command to both build and test your app. I think you can do something like "npm run build && npm runt test --if-present"?

[2020-12-07 15:57] mschleifer commented on #230
Looks like the app_artifact_location/output_location piece is unrelated to my problems then. If the missing bits of the Blazor app are probably related to Oryx I'll open an issue there and close this one. Thanks!

[2020-12-07 15:57] #230 closed

[2020-12-07 16:48] webmaxru opened #233 "Misleading defaults for Angular build preset in the portal"
Currently, in the Azure portal while creating a new SWA, in Build Details -> Build Presets -> Angular, there is "dist" as "App artifact location" - this is not 100% correct, because in Angular it also includes a folder with the app/project name. Keeping it as is might be a source of misunderstandings and misconfugurations as a result. I suggest it makes sense to change it to:
`dist/<APP_NAME>`

Th

[2020-12-07 19:59] webmaxru opened #234 "Docs: Quickstarts -> Build your first SWA -> VS Code: Outdated"
The flow described on this page https://docs.microsoft.com/en-gb/azure/static-web-apps/getting-started does not take Build Presets into account. I believe it was written before these presets were added. So if someone follows the guide, they might be confused by seeing another set of steps.

[2020-12-07 20:15] webmaxru opened #235 "VS Code SWA Extension: DX improvement proposal/fix for creating new app flow"
When you create a new SWA app via VS Code extension and use Build Presets, there is no way to see/edit the values of these presets - after you selected preset, you can only select the region, and deployment starts immediately. In the best case scenario, if the preset 100% fits the application, this is ok. But for example for Angular, there is no chance to have properly configured deployment (becau

[2020-12-07 20:16] webmaxru commented on #215
I tested this flow - it works for me. But I found two another issues while tested: https://github.com/Azure/static-web-apps/issues/234 + https://github.com/Azure/static-web-apps/issues/235

[2020-12-08 15:20] myaesubi commented on #214
Hi @anthonychu,
would you be able to advise a tentative timeline

@anthonychu  could you be able to advise a tentative timeline please. Thanks.

[2020-12-08 17:50] nturinski commented on #235
Thanks for your insights @webmaxru.

We wanted to make creation more streamlined by having the build presets to reduce the number of steps.  We based the experience off the portal, but they just prefill the input forms for the users so it seems like that we have to still prompt for it anyway as you said.

![image](https://user-images.githubusercontent.com/5290572/101521381-a2f84c80-393a-11eb-9045-

[2020-12-08 22:08] kitmccormick-22ops opened #236 "Feature request for lightweight authentication"
We have a dev flow where the production application is visible to the world at large, but the dev and staging deployments are only visible to the dev team and our clients.  We have a couple of apps in progress, hosted on App Service, where the password is just an application setting.  These apps are on node/express and use a simple express middleware to screen access to the works in progress.  I w

[2020-12-08 23:00] anthonychu commented on #236
Related #94

[2020-12-09 00:42] #226 closed

[2020-12-09 19:56] Kryptryx commented on #227
Tried again today, and it worked!
Either you fixed something in the data, or it repaired itself.
Issue closed.

[2020-12-09 19:56] #227 closed

[2020-12-10 10:21] martinmeeser opened #237 "Authentication Debugging / make /.auth/* available in local function app"
I really like static web apps! All I need is there - kind of. Easy deploy. Very secure (Auth/Reverser Proxy, SLL Certificates)

What I am struggling with right now is:
I can not debug the authentication process at all.

I am running the live server for static content, also running the local function app.

But route ./auth is not present.

However it should and provide some useful users.

So that I

[2020-12-10 20:13] mkarmark commented on #237
@martinmeeser sorry to hear about your frustrating experience. Just to clarify so that I can try to help, are you trying to hit the /.auth endpoint on your static web app or your function app?

[2020-12-10 22:26] martinmeeser commented on #237
I have followed the documentation:
https://docs.microsoft.com/en-us/azure/static-web-apps/

Especially the part:
https://docs.microsoft.com/en-us/azure/static-web-apps/local-development

I am using live server to serve the static content.
I have also started the Azure Functions Core tools.

Breakpoints get hit, awesome!

I also followed the documentation with the routes.
I have added  <a href="log

[2020-12-11 07:20] anthonychu commented on #237
@martinmeeser We're working on this! In a month or two, we'll make available a local CLI that will emulate some of this logic in the cloud. We plan to support many of the routing rules and the auth endpoints. Current plan is to support a simulated login screen at `.auth/<provider>/login` where you can select what provider, user, and role(s) you'd like to log in as and the `.auth/me` endpoint as we

[2020-12-11 16:51] mwaddell commented on #22
This is really more of a DNS issue.  In order to map your production slot to another url, you need to use a CNAME.  There isn't any "dynamic" equivalent to a CNAME that would let you do pattern matching (e.g. map fuzzy-stone-*.azurestaticapps.net to staging-*.mycompany.net).

Besides, the whole benefit of SWA is that you get a separate phoenix environment for every PR.  If you want to have a fixed

[2020-12-11 17:13] mwaddell commented on #86
It's simple enough to turn off staging environments just by modifying the workflow to only trigger on "push" and not "pull_request" events.  I think that a better approach for SWA to take is to provide a mechanism for updating the "Configuration Settings" as part of the push, so there's no need to go into the portal to modify those settings manually.

This could be as simple as adding a new `app_e

[2020-12-11 17:21] m-sterspace commented on #22
This is why I had asked for the option for static deployment slots as opposed to dynamic ones. Once this service exits preview I'd rather not have to pay for three instances of it just to have dev and staging deployment slots that will barely be used.

Dynamic deployment slots and URLs only work if your app either doesn't have authentication, or if you use the built in authentication. If your app

[2020-12-11 17:25] molson194 opened #238 "Python Functions ModuleNotFoundError after Oryx installs Virtual Environment to Unexpected Path"
When building and deploying my python functions using Github workflow, the functions build using oryx. The virtual environment in oryx gets set up in the pythonenv3.8 folder (see logs below). But at runtime, I'm getting an error "Failure Exception: ModuleNotFoundError: No module named 'requests'".  I believe the Static Web Apps functions expect the virtual environment to be in the .venv folder, no

[2020-12-11 18:12] mwaddell commented on #22
@miwebst - do you have any idea what the pricing will look like for SWA once it hits GA?  Will there be a significant cost difference between having 4 different SWA instances where no staging slots are used vs having a single SWA instance with 3 staging slots?

Will the staging slots have to use the same pricing model as the production slot?  If so, having 4 different instances might actually be c

[2020-12-11 18:13] mwaddell commented on #22
We've been using Auth0 with SWA and it supports wildcard callback URLs, so it hasn't been a problem for us.  I don't know about other oAuth providers.

[2020-12-11 18:35] miwebst commented on #232
Yes we will think about allowing other default files. In the mean time, do you have an example repo for this? I might be able to point you in the right direction for where to add an index.html file.

[2020-12-11 18:49] asad-shaikh-ivp commented on #232
Here's the repo [link](https://github.com/asad-shaikh-ivp/OneNote-AddIn)

[2020-12-11 20:59] anthonychu commented on #238
Looks like we're currently not installing Python packages to a location that the Functions Python worker is expecting (`.python_packages/lib/site-packages`). We'll need to change the Static Web Apps action or Oryx to use the correct path.

In the meantime, as a workaround until this is fixed, you can add a step before the Static Web Apps action to install packages into the right place. See this [c

[2020-12-12 02:57] haojianzong commented on #214
Setting api_location to empty string resolves the issue for me, thanks for the excellent answer.

[2020-12-12 16:26] perspark opened #239 "Always 404 not found"
Hi,

trying to deploy a single index.html file, but no matter what settings I try I always get "404: Not Found." Is this scenario even supported?

I have put my file in subdirectory called "app"

relevant parts of build definition:

        with:
          azure_static_web_apps_api_token: ${{ secrets.xyz}}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR co

[2020-12-12 18:35] #239 closed

[2020-12-12 18:36] perspark commented on #239
I re-created it all from VS code and now it works.

[2020-12-12 23:19] dsurrao commented on #229
Hi @miwebst, it looks like it is still hanging on the 'npm run test' step. It'll be nice to incorporate this into the 'Build and Deploy' step here:

[code]

Thanks.

[2020-12-14 12:39] arroyc commented on #238
I will take a look at it ... @molson194  by any chance do you have any hardcoded dependency in your code/config where you are referring .venv as path or something?

[2020-12-14 12:44] arroyc commented on #217
@Kanna727  .. would you be able to provide more logs? what dependencies do you have? Are yo useeing this error consistently or you encountered this few times? Please mention detail logs instead of first line of npm WARN ... it will help us more to troubleshoot the issue

[2020-12-14 16:32] anthonychu commented on #238
@arroyc Nothing hardcoded. Take a look at this repro that simply pulls in requests and uses it in the httptrigger function. https://github.com/anthonychu/20201210-test-python-swa

[2020-12-14 17:37] sebastiansmithomm opened #240 "Failed to upload build artifacts"
We get 'failed to upload build artifacts' lately on our static site build.

![image](https://user-images.githubusercontent.com/74179584/102115111-ff73d400-3e32-11eb-9377-f6c677c1974f.png)

[2020-12-14 18:02] miwebst commented on #240
Hey @sebastiansmithomm do you mind providing the region where this static web app is hosted or the default hostname of the static web app? We can take a look.

[2020-12-14 19:03] AaronCrawfis opened #241 "Azure ARM deployment fails when GitHub repo has branch protection rules"
## Issue
I had a GitHub branch that had a protection rule not allowing direct commits. I attempted to deploy a Static Web App that connects to that branch and received this vague error message when deploying:

![ARMError](https://user-images.githubusercontent.com/54363786/102123200-7c835700-3dfb-11eb-99f7-0d32d21d1336.jpg)

With the error message:

[code]

Upon removing the branch protection polic

[2020-12-15 14:03] martinmeeser commented on #237
sound great, looking forward to

[2020-12-15 23:45] tvonment commented on #240
I have the same Issue.
icy-wave-07c2c9f03.azurestaticapps.net -> in west europe.

[2020-12-16 08:30] sebastiansmithomm commented on #240
Hi sorry for the delay

https://delightful-field-0ca858b03.azurestaticapps.net
ACG Basecamp Paris<https://delightful-field-0ca858b03.azurestaticapps.net/>
ACG Basecamp Paris
delightful-field-0ca858b03.azurestaticapps.net

West Europe.

Thanks

________________________________

Sebastian Smith
|
Technical Lead
OMM
|
+44 (0)1753 576989
|
Mobile +44 7739 019219‬
www.omm.agency
​
From: miwebst <notifi

[2020-12-16 16:25] miwebst commented on #241
Thanks for trying this out and the suggestions @AaronCrawfis! We have a few things in the works that are inline with your proposed solutions. Will update this thread when they are available!

[2020-12-18 06:25] joelcoxokc commented on #231
This is not an issue with ngcc.
I am unable to get any command to run in a postinstall.

[2020-12-18 06:28] joelcoxokc commented on #231
Can you please allow us to have an install command before the build runs?

This way I can install the necessary dependencies manually, or at least prevent postinstall from running.

[2020-12-18 08:47] manekinekko commented on #231
Hey @joelcoxokc thank you for reporting this behavior.

You can use the `PRE_BUILD_COMMAND` env var and provide a script that would run before the build is triggered:

[code]

See an example here with a Scully app: https://github.com/manekinekko/scully-swa/blob/master/.github/workflows/azure-static-web-apps-orange-wave-04eea641e.yml#L31

[2020-12-19 06:27] oidacra commented on #231
You fix this problem? Im still with the same problem.

[2020-12-19 22:03] kktam commented on #179
can anyone offer insights into how to modify CI build options inside .github\workflows\azure-static-web-apps.yml  ?

[2020-12-20 14:55] drma-dev opened #242 "Encountered an issue while validating routes.json: A route is covered up by a wildcard route and would not be evaluated. Route: /.auth/login/aad, Wildcard: /*. Please either delete or move the unreachable route."
[code]
This occurs in the 'Build and Deploy' of github

[2020-12-20 15:38] miwebst commented on #242
Hi @drma-dev,

Routes are processed top-down, thus the /* will be executed first and the wildcard will prevent the /.auth from ever being reached, this error is intended to reflect this behavior. You can probably just move the /.auth routes above the /* and that will fix things.

[2020-12-20 21:53] akselh commented on #200
I'm looking for the same thing as @GaryParr; handling user signup and auth with AAD B2C + being able to programmatically  assigning a user to a SWA role. Some questions:
- So for example we can the make a custom attribute in B2C, with is added to the claim, and we can use SWA roles as claim values?
- When will we have possibility to test this with AAD B2C integration? Not before GA?

Any plans for

[2020-12-21 08:45] sebastiansmithomm commented on #240
FYI this is still happening for me with multiple sites. @miwebst

[2020-12-21 14:04] drma-dev commented on #242
thanks

[2020-12-21 14:10] drma-dev opened #243 "trying to work with protected apis (functions)"
[code]

I tried to follow the example of the documentation, but it is not working.

1- this head is not being passed to the function (or I don't know what configuration is missing for this to occur)

2- forcing this head through the postman, an error occurs when trying to convert the json, because the result of it does not go as expected.

![image](https://user-images.githubusercontent.com/1280305

[2020-12-21 14:42] miwebst commented on #240
Hey @sebastiansmithomm do you mind sharing those as well? We believe we've identified the issue and it will roll out after the holidays but might be good to have a few more sites to validate our current theory.

[2020-12-22 04:57] akulbe commented on #224
I think this ended up being an error on my part. I got it to publish now. Rudimentary and ugly, but it _works._

[2020-12-22 04:57] #224 closed

[2020-12-22 18:34] mkarmark commented on #243
Hi @drma-dev, the x-ms-client-principal header should be passed to the function if the user is logged in. Are you still seeing the absence of the header even after successfully logging in?

[2020-12-22 18:43] drma-dev commented on #243
This Header is not being passed, it passes in another called 'Token'.

And as I said, even if I force it to be passed, this error occurs that I showed.

[2020-12-22 18:47] mkarmark commented on #243
So the value you passed in should never hit the function since we intentionally don't pass it on to the function to prevent spoofing attacks. Our x-ms-client-principal value if set is the only such header that'll reach the function but will only reach the function in the case of a logged in user. Do you mind giving us some app details (default hostname/app name) so that we can investigate things o

[2020-12-22 18:58] drma-dev commented on #243
https://github.com/drma-dev/VerusDate/tree/develop/src/VerusDate.Web

[2020-12-22 19:53] anthonychu commented on #243
The header is not available locally. We are working on a local emulator that will allow you to simulate auth. Until then, you’ll likely want to have a separate code path while running locally to use a fake user.

The ClaimsPrincipal binding is currently not compatible with Static Web Apps auth, this will likely be fixed in the coming months.

The header should be passed correctly when deployed to

[2020-12-22 20:02] drma-dev commented on #243
I was not testing on localhost. I can't even log in.

[2020-12-22 20:52] drma-dev commented on #243
The authentication control I'm doing in the blazor itself, so I didn't define any of that in the routes.

The problem is with the APIs. Do I have to define API authentication control on the routes?

[2020-12-22 20:58] nazar-kuzo opened #244 "Static Web App deploy fails with no error details when using C# Azure Function as API with "FunctionsStartup" configuration"
![image](https://user-images.githubusercontent.com/13677730/102932483-0b9e0800-44a9-11eb-9fa7-942ccfbda104.png)

Having deploy of the same version without Startup file (for dependency injection) it deploys with no error

[2020-12-22 21:52] drma-dev opened #245 "Error constructing handler for request of type MediatR.IRequestHandler`2[...]. Register your handlers with the container. See the samples in GitHub for examples."
I have the following class definitions:
[code]
[code]

It works normally on localhost, but it gives error when I go up to azure. I believe that my startup class is not being called.

[2020-12-23 06:32] anthonychu commented on #245
Can you try to deploy the API to a regular Azure Function app? Hoping to isolate this problem and it would be great to know whether the error only happens in Static Web Apps.

[2020-12-23 11:34] drma-dev commented on #245
It was missing to configure the settings.

But this error was strange, it is not related to this problem.

[2020-12-23 11:38] drma-dev commented on #243
The only information passed in the header is this one, which I believe is because of the component I am using.
![image](https://user-images.githubusercontent.com/12803050/102992473-06b57480-44fa-11eb-9dcd-ae9d00a76cfb.png)

[2020-12-23 11:43] drma-dev commented on #242
thanks. it works

[2020-12-23 11:43] #242 closed

[2020-12-23 11:44] drma-dev opened #246 "Unknown error occurred while trying to verify integrity. (routes.json)"
`Failed to find a valid digest in the 'integrity' attribute for resource 'https://green-grass-0dbf41210.azurestaticapps.net/routes.json' with computed SHA-256 integrity 'yBVJpqoaRNGFj+qrnQEGCVBli5KeOcJXudKFTddrE4c='. The resource has been blocked.`

I tried to set this up in the index.html file, but I don't know if I did it right. I also don't know if it can be anything else.

[2020-12-23 12:30] AndreasRenghart commented on #240
Same Problem: https://salmon-cliff-05fd9ec03.azurestaticapps.net/

[2020-12-23 14:26] miwebst commented on #240
Yes this seems to be the same issue :( we apologize for the inconvenience! Our fix will be delayed due to the holiday season, but hoping to get this out after next week!

[2020-12-25 10:26] anirugu opened #247 "The content server has rejected the request with: BadRequest 147 Reason: The size of the function content was too large. The limit for this static site is 31457280 bytes"
My problem is much similar to this one https://github.com/Azure/static-web-apps/issues/214

I was making a POC app. I did use the Google.Cloud.Firebase I see my bin debug folder is 195MB. Is there any chance to use Firebase in c#. When this thing will be come under GA.

I am looking for solution regarding this.

[2020-12-29 07:05] anthonychu commented on #243
You can’t see the header in the browser network trace. We have a proxy that validates that cookie and injects a header from the cookie’s contents into the request that is received by the function app. You can only see the `x-ms-client-principal` in the function app. Can your function access the header?

[2020-12-29 07:09] anthonychu commented on #247
This limit will be raised to 100MB soon. I think this is the compressed size, so it’s possible that you may be under the limits, depending on how well the artifacts compress. /cc @annaji-msft

[2020-12-29 13:06] drma-dev commented on #243
@anthonychu

[code]

![image](https://user-images.githubusercontent.com/12803050/103285670-8f7e5580-49bd-11eb-98f5-7b68d6feb621.png)

[2020-12-29 16:40] adiazcan commented on #113
Hi @miwebst

any plan for GA? Do you have any date? Can we see the GA limits?

I want to try again with this service and our site.

[2020-12-29 17:45] miwebst commented on #113
@anthonychu can probably provide better answers on GA date. As for limits, I wont publish anything right now but we will be able to support 13k files at that time.

[2020-12-29 17:52] anthonychu commented on #243
Do you have the cookie included in the Postman request?

[2020-12-29 18:43] drma-dev commented on #243
I had tested from the wrong place. I made the call from within the site.

![image](https://user-images.githubusercontent.com/12803050/103306534-8d7fbb00-49ec-11eb-81bc-b7e1b96947f1.png)

[2020-12-29 18:45] anthonychu opened #248 "Provide an option to skip build entirely"
Would be great to provide an easy way to skip the app or API build. Currently we provide the ability to specify build commands, which might still run npm install (according to docs) and it’s not clear what to set there if we simply want to skip the build entirely.

The goal of this is to provide an easy way for the customer to manage the build of the app and/or API entirely and only use the action

[2020-12-29 19:25] drma-dev commented on #243
I had tested from the wrong place. I made the call from within the site.

![image](https://user-images.githubusercontent.com/12803050/103308932-6fb55480-49f2-11eb-876a-dfa49b4fecf4.png)

[2020-12-29 20:59] HWouters commented on #141
This might be related. As soon as I add an PackageReference to Microsoft.Azure.WebJobs.Extensions.EventGrid my static web app doesn't start anymore (I'm not using any binding). This happens only when deployed, locally everything works fine. I get the following exception:

``System.Security.Cryptography.CryptographicException:
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedData

[2020-12-30 00:23] riverar commented on #170
Would also love to customize this. `api.example.com/api/...` is confusing and undesirable.

[2020-12-30 00:35] riverar commented on #248
Agreed. This is especially important for projects that consolidate at the root and do not want to incur the GitHub Actions time penalty of being built _twice_. `app_build_command` and/or `api_build_command` set to `echo skipping build` is a decent workaround for now.

[2020-12-30 20:52] riverar opened #249 "Autogenerated GitHub Actions workflow yaml contains "you app requirements" typo"
Created a staticwebapp via Azure CLI 2.11.1. `.github/workflows/[app-name].yml` contains:
[code]

[2021-01-01 19:29] drma-dev commented on #243
I tried to recover the token, to work locally, but without success.

[code]
[code]

![image](https://user-images.githubusercontent.com/12803050/103445073-7d671600-4c4e-11eb-936a-4e0d3c25429b.png)

[2021-01-01 23:08] drma-dev opened #250 "Feature Unavailable: Facebook Login is currently unavailable for this app."
Error when trying to login with facebook

[2021-01-02 01:56] anthonychu commented on #250
@drma-dev Please provide more info on the error and how you got it. I just tested it out and it's working fine. See here that I'm logged in and my profile is returned at `/.auth/me`.

![image](https://user-images.githubusercontent.com/3982077/103449259-9a094b00-4c5a-11eb-99f7-9846683e9fbb.png)

[2021-01-02 02:09] drma-dev commented on #250
I do not know exactly

![image](https://user-images.githubusercontent.com/12803050/103449379-5b898580-4c86-11eb-8d70-32d6364b5646.png)
![image](https://user-images.githubusercontent.com/12803050/103449380-617f6680-4c86-11eb-9482-a0a1443f48c1.png)

[2021-01-02 13:25] drma-dev opened #251 "401: Unauthorized - when you access the login page with expired cookie"
![image](https://user-images.githubusercontent.com/12803050/103458244-ea2cef80-4ce4-11eb-88ec-4f4458c6dba6.png)

[2021-01-02 16:45] drma-dev commented on #250
I was thinking it could be something on my facebook, so I asked a friend to test it for me. Same result.

![image](https://user-images.githubusercontent.com/12803050/103461956-b8298680-4d00-11eb-9287-efc8fc64398f.png)

[2021-01-02 20:08] tmol commented on #250
Hi guys, got the same problem. I configured in the FaceBook application the ”Valid OAuth Redirect URIs” to ”https://identity.azurestaticapps.net/.auth/login/facebook/callback”. The FaceBook app is working, I implemented a plain JavaScript authentication using the FB JS API.

Below is the invitationurl (the expiration is set for 48 hours):

https://red-dune-0ed2a5a03.azurestaticapps.net/.auth/invit

[2021-01-02 22:50] anthonychu commented on #250
@tmol Can you describe a bit more about how you’re setting this up? You cannot use your own Facebook app registration with Static Web Apps right now. You should be using the login links as described here: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization

We don’t currently support using the Facebook JS libraries to authenticate.

/cc @mkarmark

[2021-01-03 00:18] #245 closed

[2021-01-03 00:59] drma-dev commented on #243
It's magically working now. :)

[2021-01-03 00:59] #243 closed

[2021-01-03 03:31] drma-dev opened #252 "possibilities of multiple social logins for a unique user"
Would it be possible to use the '/.auth/login/*' feature to generate a single id with multiple logins?

[code]

[2021-01-03 06:30] tmol commented on #250
Thank you for your response. Yes sorry, I mixed things up :-) (I was testing manual login using a custom FB app). Bottom line is that I am using the steps defined in the article you mentioned (https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization), I am generating a link like the one mentioned above and receive the response described above "Feature Unavailable: Facebo

[2021-01-03 20:11] krainboltgreene opened #253 "My jekyll website isn't building, but Oryx knows it's a ruby project"
I've tried a myriad of different things:

  1. The original created workflow didn't work
  2. I tried telling it to look in `_site/` for `output_location`
  3. I've tried putting `_site`, `/_site/`, `/_site` for `app_location`
  4. I've tried setting the `app_build_command` to `"bundle exec jekyll build"`

None of these have solved the issue and there's really not a lot of helpful output.

Here's

[2021-01-04 02:11] anthonychu commented on #253
I think Oryx only knows how to build Rails apps for App Service. Can you try it with an explicit build step outlined in this tutorial? https://docs.microsoft.com/en-us/azure/static-web-apps/publish-jekyll

(Note that there's an instruction that's not quite right `After the line - uses: actions/checkout@v2 add the following configuration block.`, make sure you add that snippet after the `submodules

[2021-01-04 02:19] krainboltgreene commented on #253
Yeah I saw two different documentation pages on Oryx's configuration, both had inconsistencies with what was generated for me (not that I'm surprised, a preview build and all).

I guess I'm confused, you want me to add a step to build jekyll *before* the self-described `Build and Deploy` step? This all seems very strange since all I need oryx to do is actually run the `app_build_command`, when ins

[2021-01-04 02:25] anthonychu commented on #253
Can you point me to the Oryx docs that you're seeing this?

@miwebst @arroyc will be better able to speak to the issues with Oryx and Jekyll. But yes, the official guidance is to build Jekyll separately for now and only use the Static Web Apps action to deploy.

[2021-01-04 02:44] krainboltgreene commented on #253
https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#build-and-deploy is the one where I was introduced to `app_build_command` and `app_artifact_location` (which I also tried).

[2021-01-04 02:46] krainboltgreene commented on #253
Ah, I see what you're telling me to do now. It's a hack, you homebrew the build, then hand ASWA the static stuff pretending it isn't even ruby, clever.

[2021-01-04 03:06] krainboltgreene commented on #253
Oof, looks like that ruby install action from the docs has bad stuff: https://github.com/krainboltgreene/hcjustin-unrulybabs-funathon/runs/1641565496?check_suite_focus=true

I think I'm on the right track at least.

[2021-01-04 07:39] anthonychu commented on #113
Best date we can provide right now is the first half of this year.

[2021-01-04 10:44] Misiu commented on #51
@miwebst any updates on this issue?

[2021-01-04 14:09] drma-dev opened #254 "azure function - user's session"
I usually use Mediatr in my APIs, so to retrieve the user's session I use context.
[code]
[code]

Will the static web app support context? or is there any way to retrieve HttpRequest (StaticWebAppsAuth - to retrieve the user's session) in a class other than the function (without having to pass the HttpRequest as a parameter)?

[2021-01-04 16:19] mkarmark commented on #51
@anthonychu The new config file does not currently support different headers based on file extensions though that is something we can work on supporting if there is a demand for it.

[2021-01-04 17:16] anthonychu commented on #254
You can try asking this question to Azure Functions. https://github.com/Azure/Azure-Functions/issues

[2021-01-04 17:23] #254 closed

[2021-01-04 17:25] anthonychu opened #255 "App settings editing is disabled when there's a function app"
If a function app has trouble starting up, the app settings pane in the portal cannot be modified. Often this may be because they need to add a setting (DB connection, etc) that makes the app start successfully, and there's no way to set this to resolve it.

I have another app that was working but is now returning 403 from the functions endpoint. I'm unable to modify app settings in an attempt to

[2021-01-04 17:27] anthonychu opened #256 "Add the ability to restart an app (or just the API)"
Thinking we might want to add a restart button, mostly to restart the function app in case something goes wrong.

[2021-01-04 23:40] thomastvedt commented on #72
Happy new year!  🚀
Any news on this one? 😄

[2021-01-05 16:17] johnpapa opened #257 "workflow file and portal UI show different field name for output_location"
Recently (Nov 2020) the default name was changed from `app_artifact_location` to `output_location`. The Portal still shows the old name but the workflow file shows the new name. I recommend using the new name of `output_location` everywhere.

Note - both still work, which is cool.

![image](https://user-images.githubusercontent.com/1202528/103670292-63c41800-4f47-11eb-9fd3-272c97055a9d.png)

cc @m

[2021-01-05 17:14] ehamai commented on #257
@takyyon can you take a look please?

[2021-01-05 17:52] takyyon commented on #257
Closing this as the updates have been made and it should be live by the end of next week.

[2021-01-05 17:52] #257 closed

[2021-01-06 03:37] Gabswim commented on #250
I am also experiencing this issue, and I'm using the standard URL stated in the documentation here: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization#login.
It was working before.

[2021-01-06 06:07] anthonychu commented on #250
@mkarmark Could you please take a look?

[2021-01-06 06:13] takekazuomi commented on #134
any  update ?

[2021-01-06 08:52] holwech commented on #81
This feature would definitely be useful to have. We use Azure static web apps to host our documentation and we want some of the documentation to be public, some to be restricted and some of it to be available company wide (aka Azure AD tenant). Currently the company wide access is not possible as far as I can tell.

[2021-01-06 12:17] drma-dev opened #258 "'service worker' does not work on static web app"
![image](https://user-images.githubusercontent.com/12803050/103767694-dabce780-4fff-11eb-82e4-74edf1a401b2.png)

[2021-01-06 12:47] drma-dev commented on #258
Apparently the manifest too, despite being accessible

![image](https://user-images.githubusercontent.com/12803050/103770077-2e313480-5004-11eb-8f8d-45cfc4e2eb21.png)

[2021-01-06 14:24] #246 closed

[2021-01-06 14:56] drma-dev opened #259 "Blazor PWA fails to load service worker"
`Failed to find a valid digest in the 'integrity' attribute for resource 'https://green-grass-0dbf41210.azurestaticapps.net/routes.json' with computed SHA-256 integrity 'yBVJpqoaRNGFj+qrnQEGCVBli5KeOcJXudKFTddrE4c='. The resource has been blocked.`

I knew that this was a problem with github, as it changes the file before publication, but I configured what would be necessary and had no effect.

In

[2021-01-06 15:44] drma-dev opened #260 "public and private accesses on API routes"
As I understand it from the documentation, putting 'anonymous' would free access for unauthenticated users.
[code]

But that is not what is happening. Or am I doing something wrong?

![image](https://user-images.githubusercontent.com/12803050/103787711-b15e8480-501c-11eb-9f13-bd904a04195f.png)

[2021-01-06 17:16] theonewolf commented on #134
We are migrating off the platform today, as we can no longer continue with a 25 person limit.

[2021-01-06 17:26] anthonychu commented on #258
Can you please provide more information? There should be nothing blocking service workers.

[2021-01-06 17:30] miwebst commented on #260
I believe this is because routes are case sensitive. Can you try going to /api/**p**ublic/... and see if that fixes it?

[2021-01-06 17:34] drma-dev commented on #258
The most I can see is this
![image](https://user-images.githubusercontent.com/12803050/103800995-dd353680-502b-11eb-8ce8-c586f8f23e42.png)

I only realized it when I was trying to generate an app on https://www.pwabuilder.com/
![image](https://user-images.githubusercontent.com/12803050/103801258-3dc47380-502c-11eb-9330-62a853ffcea8.png)

[2021-01-06 17:44] anthonychu commented on #259
OK. I think this is a problem with Blazor PWA and related to #258.

If you take a look at the service workers tab, you'll notice this error:
![image](https://user-images.githubusercontent.com/3982077/103800818-b6620a80-5001-11eb-9623-2cfa46d05a64.png)

Clicking on the error, you'll open the service worker script. Unfortunately, there's not a lot of information to diagnose this.

To resolve this, y

[2021-01-06 17:45] anthonychu commented on #258
Please see solution in #259

[2021-01-06 17:45] #258 closed

[2021-01-06 17:46] drma-dev commented on #260
Yes, that's right.

But I think it shouldn't be like that. It has great potential for generating unintended errors.

[2021-01-06 17:46] #260 closed

[2021-01-06 17:47] anthonychu commented on #259
Updated title for other folks to find. Thanks @pierceboggan for the solution.

[2021-01-06 17:49] mkarmark commented on #252
Currently, we only keep track of the user profile from the most recent login and don't have plans of aggregating multiple login profiles as shown in the json object above. Do you have a specific scenario in mind where that would be of benefit?

[2021-01-06 17:51] mkarmark commented on #250
I have resolved the issue that was preventing logins; Facebook logins should now be successful. Apologies for the inconvenience!

[2021-01-06 17:58] drma-dev commented on #252
Well, it is that web applications generally offer multiple forms of access for a user. It serves both to validate the user's authenticity and when to lose access to a specific social network.

[2021-01-06 17:59] drma-dev commented on #259
that works. thanks

[2021-01-06 17:59] #259 closed

[2021-01-06 18:08] drma-dev commented on #250
Well, now something else is happening. And now with all the logins: sorry there's nothing at this address

I'm getting this message in the browser, I don't know if it's related:
[code]

It only works if I clear the cache and enter the address manually.

[2021-01-06 18:14] mkarmark commented on #250
Sorry I'm not able to repro that on our end, could you email us a .har file or a video showing exactly how the flow is breaking for you?

[2021-01-06 18:19] drma-dev commented on #250
right. which email?

[2021-01-06 20:00] anthonychu commented on #250
@drma-dev Can you please send it to me at antchu@microsoft.com and I can relay it to @mkarmark? Thanks.

[2021-01-06 20:07] drma-dev commented on #250
done. thanks.

[2021-01-06 21:50] Gabswim commented on #250
@mkarmark it's working for me now. Thank you!

[2021-01-07 03:07] takekazuomi commented on #134
me too

[2021-01-07 05:36] anthonychu commented on #134
Sorry the feature is unable to support you right now. Can you please share what number would be suitable so we can work on something that works for your scenarios in the future?

@theonewolf For your intranet scenario, would you prefer a way to limit access to a VNET instead? Or would it be better to have the site public and providing a way to lock down the AAD integration to users your organizati