[2021-04-21 00:24] miwebst commented on #356
We should probably sync up with the Oryx folks about this, we added this in response to a different issue so would love to get their take on it as well.

[2021-04-21 17:59] miwebst commented on #370
We did fix the problem, thank you for reporting.

[2021-04-21 17:59] #370 closed

[2021-04-21 20:05] diberry commented on #324
This is still happening to me. Only the last setting sticks.
![image](https://user-images.githubusercontent.com/41597107/115614178-36a33780-a2a2-11eb-8d63-0d5f23edebd6.png)

[2021-04-21 20:05] miwebst commented on #316
Hey @hrazmsft can you point us to where the docs say only gzip? We should fix that.

And 2) what kind of files did you see that gzip compressed better than brotli with? Would be curious to see why that is.

[2021-04-21 20:07] miwebst commented on #332
Closing this as this is not something we provide. There are some networking security features that are coming soon so you can use those to secure access to your site. If you are trying to secure your network to only allow access to static web apps (rather than the whole internet) then you need a firewall that is capable of supporting fqdn based filtering.

[2021-04-21 20:07] #332 closed

[2021-04-21 20:18] #299 closed

[2021-04-21 20:19] miwebst commented on #299
Closing this one as the initial issue should be fixed, as for the issue with the $web, seems like that is a separate service

[2021-04-21 20:58] #249 closed

[2021-04-21 21:41] miwebst commented on #287
This should be fixed now.

[2021-04-21 21:41] #287 closed

[2021-04-22 05:13] anthonychu commented on #295
This should be working now. Please give it a try and reopen this issue if you run into any issues.

[2021-04-22 05:13] #295 closed

[2021-04-22 17:17] miwebst commented on #339
Hey @smholvoet , one reason this could happen would be if the routes.json file is not being copied to the output location. If you ensure it is copied over to the public folder then it may unblock you.

You can also try the newer (as routes.json is our older, preview config file) staticwebapp.config.json file which if placed in the app_location will automatically be uploaded for you.

[2021-04-23 04:03] mkarmark commented on #376
The fix for this issue has now been globally deployed, and customers should no longer experience this behavior. Let me know if there is still any unexpected behavior regarding the function cookies!

[2021-04-23 04:04] mkarmark commented on #371
The fix for this issue has been globally deployed. Let me know if you have any further concerns!

[2021-04-23 04:23] bgrainger commented on #376
Looks good; thanks!

[2021-04-23 04:33] #376 closed

[2021-04-23 11:54] patware commented on #367
Is there something I can do ?

[2021-04-23 17:47] zamzowd commented on #368
It looks like AzureStaticWebApp is set up as a combined build and deploy in a single task?

I would prefer if these were separate tasks (or more likely, just a AzureStaticWebApp Deploy task, with the expectation that any static app framework will have its own independent Build tasks), with similar goal as others in this thread: have a Build stage that creates an artifact, followed by Deploy stages

[2021-04-23 18:01] ARambazamba opened #378 "Add Custom Domain to Static Web App"
When trying to add a custom domain to Static Web App in Azure I am asked to validate the custom domain with an www CName pointing to the Static Web App. What if the www entry of that domain is used for another production site? Please allow a custom or random validation entry.

[2021-04-23 18:05] ARambazamba commented on #354
Same Problem ...

[2021-04-23 18:06] ARambazamba commented on #378
Duplicate

[2021-04-23 18:06] #378 closed

[2021-04-23 18:26] anthonychu commented on #261
Looking into this further, it doesn't seem like a very common scenario and using separate, custom build steps will likely provide the best results here. There are quite a few assumptions and changes we need to make to Oryx to support this.

@aaronpowell @PehrGit Let us know if you think there's value in providing more built-in support for this scenario.

[2021-04-24 06:02] david-ps commented on #162
This problem occurs regularly for us. Any update on the fix ETA?

[2021-04-24 06:44] Taras-Tyrsa commented on #354
Hi. That's interesting, as now I was able to add non-www subdomain through portal. I can say that I had completely different UI the last time I've checked. Feels like there is some kind of A/B testing going on. Good to know that things are moving forward.

[2021-04-24 06:51] E-PressSend opened #379 "Local dependency - Error Package "XYZ refers to a non-existing file ..."
Hello,

the build/deployment of my app was working perfectly since this morning when I need to to add a local package as dependency: **yarn add file:./ckeditor5**

Now my package.json looks like this:
[code]

The folder ckeditor5 is present correctly in my app root folder as well as in my git repo.

When The workflow run I get the following error message:
[code]

This is my action file:

[code]

A

[2021-04-24 10:37] jpalo commented on #30
FYI, you need to use
[code]
as defined at https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#response-overrides

as
[code]
does nothing for some reason.

[2021-04-25 21:26] diberry opened #380 "API getting a 503?"
I'm getting 503s across my APIs in SWA right now - what does that mean? The endpoint worked 1 minute and then it didn't.

[2021-04-25 22:05] diberry commented on #380
Well, its working again now.

[2021-04-25 22:05] #380 closed

[2021-04-26 00:07] hynjnk commented on #371
Looks good. Thanks for the fix!
![Screenshot from 2021-04-26 08-59-56](https://user-images.githubusercontent.com/38238305/116014159-d24ff180-a66e-11eb-84b8-32f3c36591dd.png)

[2021-04-26 00:16] hynjnk commented on #278
Thanks for the fix. It works well now.
![Screenshot from 2021-04-26 08-59-56](https://user-images.githubusercontent.com/38238305/116014293-979a8900-a66f-11eb-9c64-69c1f5f21d21.png)

[2021-04-26 00:46] nathankitchen commented on #360
I think it's pretty common to want multiple configurations of a Jekyll site. Looking through my configurations I only really have two: one is a dev/staging configuration and the other is production.

I covered the main scenarios above (including unpublished and future posts), and also noted I use the same mechanism to set "no index,nofollow" in dev/staging so that I don't accidentally get my stagi

[2021-04-26 08:21] jahlen commented on #374
Hi! I can just add that I also have experienced similar problems with the Application settings discarding my settings. This happens regardless of the names of the settings. If for example I add four settings, it may save only the first two. It seems to help to wait before clicking the Save button.

Here's an example:
https://youtu.be/O7cbfiabJno?t=2760

[2021-04-26 08:33] jahlen opened #381 "Redirect removing trailing slash"
Hi!

I have a multi-lingual website and I wish to automatically redirect / to /en/
The trailing slash is important because of SEO purposes.

This is from my staticwebapp.config.json config:
[code]

As you can see here, the trailing slash is not included. How can I make it redirect to /en/?

![image](https://user-images.githubusercontent.com/11652570/116052320-c9b0e880-a679-11eb-854a-f2801a9a4dff.p

[2021-04-26 09:05] jahlen opened #382 "Cookie set from API is not included in callback"
Hi!

I have developed a quickstart template for Azure Static Web App / Hugo / Netlify CMS.
https://github.com/jahlen/hugo-azure-static-webapp

It implements Netlify CMS to GitHub authentication via an Azure Function (found under /api/OAuth.cs). For the OAuth authentication, I tried saving the state in a cookie, but it won't work. Here's my code where I set the cookie:

[code]

The problem is that

[2021-04-26 12:31] gavinmorrison opened #383 "Azure AD B2B Integration"
I am working with a client who has >1000 guests (External Identities) from >100 different tenants within their Azure AD directory; these guests are from their clients and partners.

The client now has a requirement to publish a static web app to a group of these users. Azure Static Web Apps appears to be great solution for this, and it's trivial for me to integrate Azure AD authentication. However

[2021-04-26 13:22] PehrGit commented on #261
Thanks for looking into it @anthonychu. I would expect this to be a very common scenario. I would think that as Blazor WASM is targeted towards C# developers that many of its users would prefer to use TypeScript over vanilla Javascript. I base that on the assumption that, like me, the average C# developer is more comfortable with TS than JS.

[2021-04-26 16:56] #371 closed

[2021-04-26 16:59] mkarmark commented on #383
Yes, this is definitely in the works for the future. We can keep you posted as we get more concrete details on an ETA.

[2021-04-26 20:36] gastonmuijtjens opened #384 "ARM deployment with Configuration initially fails when no Static Web App is deployed"
I want to automate the creation of an Azure Static Web App in Azure DevOps Release Pipelines using ARM templates and set a Configuration variable to be used by the embedded Azure Functions which are deployed later to the resource in the pipeline.

Directly setting configuration variables using ARM for Static Web Apps is actually [not documented](https://docs.microsoft.com/en-us/azure/templates/mic

[2021-04-27 00:34] anthonychu commented on #379
This is an issue with how our build engine Oryx installs dependencies. It copies package.json to another folder before installing. We are investigating how to change this.

Until then, you’ll need to add steps in your workflow before the Static Web Apps action to manually build your app. Then deploy it using:

[code]

Related #356

/cc @arroyc

[2021-04-27 00:37] anthonychu commented on #381
@mkarmark Could you please take a look?

[2021-04-27 02:25] middiu commented on #379
Thanks @anthonychu
I know what to do now 👍🏻

[2021-04-27 02:46] E-PressSend commented on #379
Thanks @anthonychu, now I know what to do :)

[2021-04-27 05:39] ARambazamba commented on #354
So that means I am another deployment ring or B 🥲 still the same ui ... can only setup www, which I dont want to do, as it is used by a produvtion website

[2021-04-27 06:13] anthonychu commented on #354
There's currently a bug in the portal UI that we're going to fix. It says the subdomain must be `www`, but in fact it can be any subdomain. We do not block non-www subdomains. There's no A/B testing going on here.

[2021-04-27 07:03] komayama opened #385 "[Question] Why automatically attach SSL certificate?"
When create custom domain in Static Web Apps and access to site, there is SSL certificate. I checked which certificate use in Static Web Apps. This SSL certificate published by the Digcert.
Is this design to attach automatically the Digcert SSL certificate when create custom domain on Static Web Apps?

![image](https://user-images.githubusercontent.com/24888431/116327284-6baf0d00-a801-11eb-9fcd-0d

[2021-04-27 07:48] anthonychu commented on #385
Yes. The free certificates that Static Web Apps provides are currently supplied by DigiCert.

[2021-04-27 10:14] komayama commented on #385
@anthonychu
Thank you for quick response.
I'm appreciate if you can answer. I think this custom domain feature that automatically to attach free certificate is under use managed certificate the following document. Is this correct processing?

https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#create-a-free-managed-certificate-preview

[2021-04-27 14:58] cirzoltan opened #386 "413 Request Entity Too Large"
I'm trying to add an API proxy to my SWA but I get a HTTP 413 when trying to send requests with payload above 30MB.

According to the docs 100MB should be possible with Azure functions (and I'd assume unlimited for proxying?) but I couldn't find any way to achieve this with either Node or Dotnet backends.

The closest I got was trying to set the FUNCTIONS_REQUEST_BODY_SIZE_LIMIT environment variab

[2021-04-27 16:36] gavinmorrison commented on #383
That's fantastic, do you have an approximate ETA for planning purposes? Is it something we can expect this calendar year?

[2021-04-27 17:47] CCorio opened #387 "Error: Tried to overwrite /working_dir/node_modules/@angular/core/core.d.ts.__ivy_ngcc_bak with an ngcc back up file, which is disallowed."
Hello - I am having a build error for an Angular 11 app running on Node.js.  I am using Azure DevOps to host the application and its pipeline to publish to my Azure Static Web App.  Is there an obvious issue to fix or should I provide additional information?

Everything builds and runs fine locally...

Thanks!

Compiling @angular/core : es2015 as esm2015

An error occurred during the build:
Error:

[2021-04-27 18:50] javier-romera commented on #367
If you call your artifact 'Docs', try downloading the artifact to '$(Build.SourcesDirectory)/Docs' and then set '/Docs' as  app_location. In my case was the combination that worked. I found the idea here but I do not have the link anymore.

[2021-04-27 21:22] javier-romera commented on #81
This is a "must have" functionality for the acceptance in a company environment.

[2021-04-27 23:35] anthonychu commented on #81
We’re working on locking down AAD login to only users in your tenant. This should satisfy the company login scenario above and hope to have available in the next couple of months.

We’re also investigating how we can integrate with AAD security groups for role based authorization but still early stages and there’s no ETA at this time.

[2021-04-28 02:56] patware commented on #367
OMG... it worked.  Thank you @javier-romera

[code]

The trick was the "$(Build.SourcesDirectory)".  The AzureStaticWebApp's actions seems to be relative to the sourceDirectory.

@anthonychu I have a few recommendations:

1. document how the task works, what the arguments the mcr.microsoft.com/appsvc/staticappsclient expects and what the task sets these arguments.
2. document the docfx scenario or

[2021-04-28 02:56] #367 closed

[2021-04-28 03:36] anthonychu commented on #367
We’ve had some great feedback, including in this thread, on some improvements we can make on how to improve the task for Azure DevOps. We’ll also work on better documenting the task. Most likely we’ll align the inputs with the GitHub Action and document them together.

As for DocFX, we’ll look into supporting it if we see more demand for it. Feel free to create an issue requesting built-in support

[2021-04-28 03:57] CCorio opened #388 "Angular 11 template app created with Angular CLI will not deploy"
Hello - I am trying to deploy an Angular application to a "Static web app" in Windows Azure.

I tried the same thing earlier today with an application I made so I decided to see if I could get the most basic Angular application to be deployed.  I basically created an app using "ng new test-app" and pushed the code to a new DevOps project.  Then I went into the DevOps project and created the follow

[2021-04-28 03:58] #387 closed

[2021-04-28 03:59] CCorio commented on #387
I was able to get this to reproduce with the standard Angular new application so I figured that's a better place to start.

[2021-04-28 04:42] Soremwar commented on #229
Any news on this?

[2021-04-28 06:35] alanta opened #389 "Queue and timer triggers not supported on API"
I'm building an open source app to handle comment submission and approval on JamStack sites: [Bolt Comments](https://github.com/alanta/bolt-comments). This is a React app with C# functions.

I'm using a storage account to hold the data and was expecting to use storage queues to decouple invocation of out-bound web hooks from the incoming API calls. This works great in local testing with the SWA CL

[2021-04-28 09:18] 0gust1 opened #390 "SvelteKit integration"
[SvelteKit](https://kit.svelte.dev) is heading toward the first release.

It uses `adapters` to deploy on various serverless environments: https://kit.svelte.dev/docs#adapters (already supported: Vercel, Begin, CloudFlare, Netlify). The productivity, dev experience and output quality is pretty impressive.

It seems that it would be quite possible (and interesting) to also build for an "Azure stati

[2021-04-28 14:51] EmmanuelPit opened #391 "Azure App Service deployment failure"
Dear all,

We try to deploy an angular website that compiles perfectly locally on an azure App Service via Github and we have the following error:

Run npm install
npm ERR! code EINTEGRITY
npm ERR! sha512-bf7UQUo6n0c3Fxn5OXckpausCWjFg+qGLzN/LnaMsjF+9HYuSMbPPciWI6zPLu+KLnwjqwKzwPkozi/vxJYpvw== integrity checksum failed when using sha512: wanted sha512-bf7UQUo6n0c3Fxn5OXckpausCWjFg+qGLzN/LnaMsjF+9HY

[2021-04-28 19:32] anthonychu commented on #391
@EmmanuelPit can you please provide more details, such as your GitHub workflow and package.json?

[2021-04-28 21:31] anthonychu commented on #389
We currently only support HTTP APIs. See [this page](https://docs.microsoft.com/azure/static-web-apps/apis#constraints) for more details.

@miwebst Can we update the help link to: https://docs.microsoft.com/azure/static-web-apps/apis#constraints

There are plans to allow you to use other function apps if the function apps provided by Static Web Apps do not meet your needs.

[2021-04-28 22:04] EmmanuelPit commented on #391
Thanks AnthonyChu,

**Github Workflow ;**

name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build

[2021-04-28 23:12] anthonychu commented on #391
Thanks. Can you please share more of the error logs? The logs you posted mention `C:\npm\cache_logs\2021-04-28T14_47_55_236Z-debug.log`, however our build agent runs in a Linux container so we wouldn't expect to see a Windows path. I also tried your package.json in our build process and the `npm install` steps worked fine.

[2021-04-29 03:23] anthonychu opened #392 "Support passing environment variables to Azure DevOps task"
https://stackoverflow.com/questions/67307614/azure-static-web-app-nodejs-env-variables

[2021-04-29 06:01] alanta commented on #389
That's too bad. I was really hoping for an all-in-one solution for (relatively) simple web apps.

I think this means that durable functions will not work either?

[2021-04-29 08:46] Marini83 commented on #176
Did you solve the issue? I'm having the same problem!

[2021-04-29 20:17] exhaler commented on #5
What would I need to change if my directory looks like this: www/dist/<app files>

[2021-04-29 21:48] wdorsett84 commented on #348
Hello @anthonychu , any word on this issue? My initial github action succeeded on main branch however after making modifications to the API and Client app, I began receiving this error above as part of a pull request to main as well as a push to main.

[2021-04-30 00:17] wcpinyan commented on #176
I think this was solved by moving to dotnet 5

On Thu, Apr 29, 2021 at 3:46 AM Marin Rusi ***@***.***> wrote:

[2021-04-30 03:06] anthonychu commented on #348
@wdorsett84 can you please share the repo you’re using if it’s public? Otherwise can you share some logs from the GitHub action run?

[2021-04-30 03:09] anthonychu commented on #176
@Marini83 can you share your repo if it’s public or provide more information? Blazor WebAssembly apps should produce a wwwroot folder with an index.html when published.

[2021-04-30 03:24] wdorsett84 commented on #348
[github_action_log.log](https://github.com/Azure/static-web-apps/files/6402826/github_action_log.log)

@anthonychu Attached is the log file. It's a private repo. I won't be able to share it here. I hope this helps.

[2021-04-30 06:28] anthonychu commented on #348
Thanks that’s helpful. @miwebst can you please take a look?

[2021-04-30 16:27] miwebst commented on #348
Hey @wdorsett84, to ensure we are looking at the right app, do you mind giving us the default hostname (yellow-sea-12121) or the resource group and resource name? We can probably make a guess based on the time of the failure but want to be sure.

[2021-04-30 16:49] miwebst commented on #139
This has been bumped to10k files. Hopefully this unblocks your deployments. This limit will increase over time as we continue to make improvements to our platform!

[2021-04-30 16:53] miwebst commented on #390
Thanks for sharing @0gust1! We also don't have a ton of time right now, but can look into this in the future. Seems cool from an initial glance :)

[2021-04-30 17:01] wdorsett84 commented on #348
Sure @miwebst It's calm-bush-038a5c310.

[2021-04-30 17:04] miwebst commented on #389
Correct, Durable functions will not work either. Hopefully the solution Anthony has alluded to is not too much overhead.

[2021-04-30 17:18] miwebst commented on #348
Thanks @wdorsett84 it seems like the function app is not able to start up. We have an update coming to make this failure message more descriptive. As for the function app issue, @annaji-msft can you see what's going on?

[2021-04-30 22:17] miwebst commented on #384
Hey @gastonmuijtjens , I believe this is a known issue that is fixed in our upcoming release. Let me double check the error and I'll confirm if this is fixed or not.

[2021-04-30 22:28] miwebst commented on #385
So that link is for the free certificate feature available to App Service users. That is separate from Static Web Apps. With Static Web Apps, all traffic is HTTPS only and the certificate for your site or your custom domain is managed for you by the service.

[2021-04-30 22:28] miwebst commented on #384
Confirmed this is fixed in our next release, I'll follow-up when its available but should be 1-2 weeks:
![image](https://user-images.githubusercontent.com/50640090/116760044-bfb81e00-a9c8-11eb-92bd-71bb90382da8.png)

[2021-05-01 20:23] javier-romera opened #393 "Icons defined on CSS not shown"
Hi all.

I have deployed static pages created with "Material Mkdocs" from an Azure DevOps repository. There is something that it is not working on the Azure App server. The "admonition" icons defined inline in the css files generated are not visible.

I have checked that they are defined like this:
[code]
The artifact has them and they work locally or in the mkdocs local server. Which means that t

[2021-05-01 22:38] anthonychu commented on #393
Is it possible to share the deployed site or a public repo that can reproduce the problem?

[2021-05-02 00:36] horihiro commented on #247
Do we have a plan that the function content limit will be increased further? The deployment which includes `puppeteer` is failed as the following screenshot due to the size of `puppeteer`. Or do we have any workaround to deploy this?

![image](https://user-images.githubusercontent.com/4566555/116798350-70d5ca00-ab29-11eb-92eb-b1074b7bf4f4.png)

[2021-05-02 05:15] sayanghosh123 opened #394 "Azure static web app with Application Insights ARM template"
I am trying to get an automated deployment for SWA going with bicep. I understand there are not official ARM templates, but there are working examples provided in this repository (which are working). What I have not been able to do yet is to provision an App Insights resource and connect to the SWA similar to how it can be done using the UI. I tried the export template option but seems that doesn'

[2021-05-02 09:10] javier-romera commented on #393
Thanks for the contact Anthony.

It is on a company DevOps Repository. I cannot make it public. But it is a standard build of the "mkdocs" tool. I will try to generate a simple page and make it public today or tomorrow. Or to move it to a public github repo.

The generated css file is following:

[code]

[2021-05-02 15:56] alanta commented on #389
@anthonychu any idea when support for using other function apps will be available?

[2021-05-02 17:29] lauralani opened #395 "Weird wildcard route behaviour when specifying methods"
Hi,

while working on a new personal project, I've noticed a strange behaviour for wildcard routes:

I've configured the following route:
[code]
In addition, in the project I have the following C# API:
* GET /api/books (gets all books in Database)
* GET /api/books/{id} (gets the book with {id} from the db)
* POST, PUT and DELETE for the books are only mocked via proxies.json

The behaviour I'd exp

[2021-05-03 10:35] jhueppauff opened #396 "Blazor with SWA Authentication - Redirect issue"
Hey Folks,

first of I am not sure if this is the right repo or if this is a Blazor related issue.

I start to see an issue when using "Navigation.NavigateTo($"/.auth/login/github);" to redirect to the login endpoints.
Blazor changes the url but it seems blazor tries to serve it (HTTP 404). So maybe the route is interpreted wrong?
![image](https://user-images.githubusercontent.com/20532954/1168662

[2021-05-03 12:41] javier-romera commented on #393
I have found the reason of the problem. From my side I consider it **closed**.

File **staticwebapp.config.json** had this line that when removed works everything again:
[code]
Why this settings do not allow inline svg icons?
Maybe someone has to have a look to it.
Or maybe it is just my lack of knowledge on the topic.

Anyhow thanks for your time.

[2021-05-03 12:41] #393 closed

[2021-05-03 19:26] riverar opened #397 "An unknown exception has occurred while uploading (redux)"
During build/deployment of a very simple SWA, the pipeline throws error `An unknown exception has occurred while uploading`.

Snippet:
[code]

Pipeline logs: https://github.com/riverar/azure-swa-repro-1/runs/2494881586?check_suite_focus=true
Repository (as of c40926d): https://github.com/riverar/azure-swa-repro-1/tree/c40926d26e0fce2255c174ce44a015aebd39af8d

Be sure to `git checkout c40926d` as I

[2021-05-03 20:39] riverar commented on #397
Removing the `custom-module` I added resolves. <shrug>

There's something going on with npm dependencies; having similar troubles with these local dependencies in another SWA deployment as well.

Actions run https://github.com/riverar/azure-swa-repro-1/runs/2495040681?check_suite_focus=true
Commit https://github.com/riverar/azure-swa-repro-1/commit/1a2c1237f5e3bd7242e20a49e92ab7ad270ae0ee

[2021-05-03 22:06] stemixreal commented on #393
Hi @javier-romera , it's not an SWA or staticwebapp.config.json issue. If you change

object-src 'none'

to

object-src 'self' data:;

and add

style-src 'self';

things should work assuming the css files are on the same domain as the webpage, add additional domains if required.

You should look into Content Security Policy to understand what's happening and if you intend to implement it consider

[2021-05-04 00:00] rumurillo commented on #44
I'm on the same boat as @persyl.

This has been very frustrating -- I've got an Azure Static Web App trying to get it deployed through GitHub Actions that need to authenticate with our private NPM Registry stored in Azure DevOps but I always get the now deeply-hated
`npm ERR! code E401
npm ERR! Unable to authenticate, need: *** Basic realm="https://pkgsprodcus1.pkgs.visualstudio.com/", TFS-Federat

[2021-05-04 01:14] miwebst commented on #397
Hey @riverar , we think we understand the problem and are investigating a solution. Thanks for sharing!

[2021-05-04 01:16] miwebst commented on #396
Do you mind sharing the url so we can try to repro this? Or share the network trace to see if the service worker is responding or if it is the backend?

[2021-05-04 01:17] miwebst commented on #395
Hey @lauralani , just to confirm, are you using the `routes.json` or are you using the `staticwebapp.config.json`?

[2021-05-04 01:18] miwebst commented on #394
Hey @sayanghosh123, I'd recommend taking a look at this thread. There is a bug that is preventing this from working and the fix is rolling out. Once the fix is out you will be able to run a very similar template but use the app insights key as the app setting. https://github.com/Azure/static-web-apps/issues/384

[2021-05-04 01:22] miwebst commented on #386
Hey @cirzoltan, we will look into this but likely this size payload would not be supported. Is the goal to use this api to upload something to storage?

[2021-05-04 01:23] miwebst commented on #382
Hey @jahlen, there were some fixes that went out relating to how Functions could be used for setting cookies. Is this issue still happening?

[2021-05-04 01:38] miwebst commented on #381
Hey @jahlen, this is a bug, we will get a fix ready for this.

[2021-05-04 01:41] anthonychu commented on #396
@jhueppauff Can you try setting `forceReload` to `true`? https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.navigationmanager.navigateto

[2021-05-04 03:16] appasaheb4 commented on #283
<img width="1372" alt="Screenshot 2021-05-04 at 8 40 49 AM" src="https://user-images.githubusercontent.com/24726539/116957286-23866380-acb5-11eb-86e5-77c2ea20aa64.png">
same issue facing

[2021-05-04 06:06] sayanghosh123 commented on #394
Hwy @miwebst - Thanks for your reply. I've looked at that and actually made my Bicep code from that ARM 👍. I have also seen the bug which should be resolved soon. Are you saying that after it's resolved -

- we can set up an AppInsights resource (+ a LWP which AppInsights will need) independently and retrieve its key
- Populate that key in the app setting with a key name APPINSIGHTS_INSTRUMENTATIO

[2021-05-04 06:50] jahlen commented on #382
Hey @miwebst, yes the problem remains. The cookie is still set as **samesite=strict** even if I set it to lax:

[code]
[Here](https://github.com/jahlen/hugo-azure-static-webapp/blob/main/api/OAuth.cs) is the source code.

I've tried many ways to circumvent it, but I always get a samesite=strict cookie.

[2021-05-04 07:33] cirzoltan commented on #386
The goal is to allow authenticated users to upload files for processing to another (non SWA) API managing a compute cluster.
The only role the SWA back-end is supposed to play is to authenticate the user and tack on a header with a subscription key for the compute API.
I'm trying to accomplish this using a simple setup in the proxies.json file (I'm not even using any functions c# or nodejs), but r

[2021-05-04 08:05] lauralani commented on #395
Hey @miwebst , I'm using the `staticwebapp.config.json`. In fact, you can see the file from when it happened [here](https://github.com/lauralani/books-lauka-app/blob/193b6c1ca79d2a2be8d47fdc40910bb776318c59/staticwebapp.config.json).

On further testing I've learned that the issue only seems to happen when testing with `swa start --api api`, and not when deployed to the actual Static Web App in Az

[2021-05-04 13:54] jhueppauff commented on #396
When I set it to true it works. Thanks :)

Should I still provide the url to repo it or is this a know issue/design behavior? :)

[2021-05-04 15:58] mobicycle-consulting opened #398 "Oryx built the app folder but was unable to determine the location ..."
_**Oryx built the app folder but was unable to determine the location of the app artifacts. Please specify the app artifact location through the GitHub workflow file.**_

This message is unclear and not written in simple English. What exactly do you mean by "app artifacts"?

_**For further information, please visit the Azure Static Web Apps documentation at https://docs.microsoft.com/en-us/azure/s

[2021-05-04 16:16] diberry commented on #398
Please add link to your repo and branch.

[2021-05-04 16:25] mobicycle-consulting commented on #398
SOLUTION: This section was missed during setup. The section appeared at the bottom of the screen. I re ran after updating the .yml file. It did not work. We deleted the app then created a new version with React selected. It worked.

_In the Build Details section, add configuration details specific to your preferred front-end framework.

No Framework
Angular
React
Vue
Select React from the Build Pr

[2021-05-04 16:35] #398 closed

[2021-05-04 16:38] mobicycle-consulting opened #399 "CNAME only for domain verification"
Domain verification is by CNAME only. It requires setting the name field to www and data field representing Azure's domain.

The name field for www could already be pointing to a different domain.

Domain verification by TEXT would avoid this problem.

[2021-05-04 17:07] miwebst commented on #395
@manekinekko I think this is a bug in the swa cli, can you take a look?

[2021-05-04 18:00] miwebst commented on #394
Yup exactly! This is true for any app settings that you need to make available to the function app.

[2021-05-04 18:31] anthonychu commented on #395
Oh okay that makes sense. We've identified some issues with routes in the CLI and are working on rewriting part of the CLI's routing engine to better match production. https://github.com/Azure/static-web-apps-cli/issues/186

Transferring this issue to the CLI repo.

[2021-05-04 18:34] anthonychu commented on #399
We're working on adding TXT record validation to support this scenario. Hope to have it available soon.

[2021-05-04 18:39] anthonychu commented on #396
This is expected behavior for Blazor and other frontend frameworks. The auth URLs are server-side routes and many frameworks' client-side routers intercept navigation requests by default. You might need to make a small change to ensure the requests reach the server.

[2021-05-04 18:52] jhueppauff commented on #396
Alright thanks.

[2021-05-04 18:52] #396 closed

[2021-05-04 20:27] sayanghosh123 commented on #394
Thanks! We will wait for that fix to land. My understanding is that would be available soon. Thanks for your help and guidance on this.

[2021-05-05 04:27] horihiro commented on #164
The same exception message is found when Azure Web PubSub extension is included in the repo as the following link.
https://github.com/horihiro/web-pubsub-swa/tree/main/api

And I'm not sure if there is any workaround because the extension is not included in any version of extension bundles yet.

[2021-05-05 05:11] anthonychu commented on #164
This should be fixed for SignalR. Please file an issue with the Web PubSub repo so they can address this.

[2021-05-05 14:43] EmmanuelPit commented on #391
No idea where to find this log, its probably somewhere on some Azure VM used behind the web app component. Trying to reach it... Thank you!

[2021-05-05 15:23] anton-brass commented on #377
same here... how to use that ?

[2021-05-05 16:47] anthonychu commented on #377
We are working on a fix for this. https://github.com/microsoft/azure-pipelines-tasks/pull/14798

[2021-05-05 22:15] skenway opened #400 "api_build_command is not overriding regular Oryx deployment commands"
We are blocked due to the the following exception during the Static Web App deployment process.

error azure-function-express@2.0.0: The engine "node" is incompatible with this module. Expected version ">=6.11.2 <11". Got "14.15.1"

To resolve this issue, we are attempting to override the api build commands. We would like to add the --ignore-engines flag to avoid the error. See the yaml below.

I

[2021-05-05 23:46] horihiro commented on #164
FYI.
I filed an issue about Web PubSub binding.
https://github.com/Azure/azure-sdk-for-net/issues/20854

[2021-05-05 23:55] stemixreal opened #401 "Api Latency & Azure CDN"
Hi Folks,

I have an SWA app with an api that's called by an Azure playfab event. Its a simple function that posts messages to an azure storage queue. It all works fine.

However, some PlayFab scripts have a 1 second time limit and despite the fact function response time is ~126ms (assuming it's up and running already) there's 1000ms+ latency. PlayFab servers are in the US, my SWA is in West Europ

[2021-05-06 01:35] #278 closed

[2021-05-06 04:22] aaronpowell commented on #390
@0gust1 SvelteKit is something that I'm interested in where it fits too.

I think that an adapter would have to be somewhere between `adapter-node` and `adapter-static`, as you need to generate a HTML page when the adapter outputs, as that's really what Static Web Apps will need, but you don't need to go full SSR (unless you want to).

It'd be worth digging into the way the server file is generate

[2021-05-06 07:08] javier-romera commented on #393
Many thanks.

It works. Definitively I have a lot of things to learn in this area.

[2021-05-06 07:55] Perry-Qian commented on #392
The problem is below:

I'm using Azure Static Web App service and Azure DevOps pipeline to deploy a NodeJS app. The pipeline and the build are going well. Now i have to define a URL for the backend using env variables, but without success.

[code]

and from the NodeJS code, in the "/app/src/models/config.ts" file i have the this:

If i change **process.env.BACKEND_URL** with the actual URL it will

[2021-05-06 08:29] 0gust1 commented on #390
Yes, and there are also routing configuration files to generate (I took a _really quick_ look this weekend to the netlify and vercel adapters to see how they do it). But atm, the adapter API is still obscure to me (I may have to ask in svelte discord to have some pointers/info on this).

[2021-05-06 12:42] #401 closed

[2021-05-06 15:53] termsflow opened #402 "Cannot override Content-Type header for specific route"
Hi ,
I have several files in my webservice which are gzipped and should have content encoding header gzip, but at the same time they have different content types (js, wasm).  If override their content type in route-headers section in staticwebapp.config.json
![image](https://user-images.githubusercontent.com/68467471/117326651-2b4f2f00-ae92-11eb-8ff1-7e5808357533.png)
it blindly ignores these chan

[2021-05-07 01:35] komayama commented on #94
I added .htaccess and .htpasswd for activation Basic Authentication on Static Web Apps but I think Static Web Apps doesn't have basic auth feature. We need this feature for set development and staging environment because the crawler can't get page and need more simple auth process.

[2021-05-07 09:09] ARambazamba commented on #88
Secret less config using managed identity would be a great feature

[2021-05-07 12:59] GKanitz commented on #3
Hi @anthonychu just out of curiosity, are there any updates on the ETA?

[2021-05-08 06:59] anthonychu commented on #402
Currently, if you request a file and there's a file with the same name plus a `.br` extension, we'll serve the `.br` file's contents with brotli compression (if supported by client). I don't think we do this for gzip if there's a matching `.gz` file but perhaps this is the right solution for this. I don't know if you can make this work using configuration.

@mkarmark what do you think?

[2021-05-10 14:31] MatissSvikis-Visma opened #403 "Unable to access configuration values with azure functions"
I'm trying to deploy a static web app with functions as an api, however I seem to be having issues in accessing the configuration values in the functions with the process.env .

loca.settings.json and configuration page in azure portal
![fCgtAhndRK](https://user-images.githubusercontent.com/72432029/117674055-05889980-b1b4-11eb-98b4-e1789423abdf.png)
![chrome_GHo40LNRvD](https://user-images.github

[2021-05-10 16:28] #185 closed

[2021-05-10 18:59] miwebst commented on #402
Hey @termsflow , do you mind sharing what you tried for the mimeTypes? I think there are a couple of bugs here that are causing this behavior :(

[2021-05-10 22:15] benc-uk opened #404 "Sign-in via Twitter requires very invasive permissions"
When using Twitter to sign in users through Static Web Apps, the permissions requested by the app seem extremely broad. Is there is any reason the app needs all these permissions? i.e. I can see no reason for nearly all of these permissions....

- See Tweets from your timeline (including protected Tweets) as well as your Lists and collections.
- See your Twitter profile information and account set

[2021-05-10 23:18] Exitare opened #405 "Uploading plain html/css webpage"
I am trying to upload a plain html/css webpage without any framework.
I use the default action created by the azure pipeline.

Although no dist folder is given or required, i receive this issue:

Oryx built the app folder but was unable to determine the location of the app artifacts. Please specify the app artifact location through the GitHub workflow file.

I don't know what to do.
This is my act

[2021-05-11 00:51] stemixreal commented on #405
Hi @Exitare , I'm doing the same thing myself so take an interest in questions where no framework is used.

Probably, your problem is you haven't copied your html/css source files to the folder "website" which is specified by - app_location: "/website" # App source code path

I hadn't used devops for this so I quickly tried it out. Here is a [website](https://proud-desert-0b0e2781e.azurestaticapps

[2021-05-11 01:21] Exitare commented on #405
Hi @stemixreal,
thanks for your response. I am quite sure all of my html/css and related other static files are in the /website folder. Therefore, this shouldn't be an issue.

Anyways, I changed the path to "/".
I still receive the same issue, which is:
---End of Oryx build logs---
65
Oryx built the app folder but was unable to determine the location of the app artifacts. Please specify the app ar

[2021-05-11 02:51] miwebst commented on #405
Hey @Exitare, does the website folder have a package.json in it? From your logs it seems like Oryx is trying to build something. We have just added the skip_app_build command to DevOps (it may take a few weeks before it is rolled out) but you could also use that to force Oryx not to run in the future.

[2021-05-11 09:23] termsflow commented on #402
Hi @miwebst , if I add the following mimeType section it doesn't change anything, the response remains the same.
![image](https://user-images.githubusercontent.com/68467471/117792168-54354280-b24b-11eb-9764-1f3af21a6c41.png)

[2021-05-11 12:24] dpiessens commented on #329
Hi,
Any ETA updates on this? It's the last thing we need to move to static web apps. The offering is great overall!

[2021-05-11 14:52] miwebst commented on #403
Hey @3dprintscanner, I believe these are different issues. There is an issue with Functions deployed in West Europe happening right now that we are urgently working on. Sorry for the inconvenience!

[2021-05-11 15:13] olitomlinson commented on #144
Hitting this problem too trying to use Durable Entities with a SWA.

Very annoying given that it works locally!

[2021-05-11 16:05] #405 closed

[2021-05-11 17:22] diberry opened #406 "Automatic cache busting?"
Does SWA do any automatic cache busting on deploy for the client-side app - or is this still something we have to add into the client for each individual app?

[2021-05-11 19:38] smarigowda opened #407 "Deployment Failed :( Deployment Failure Reason: An unknown error has occurred."
I am facing this error. Could you please help ? Thanks.

Website URL is:

https://mango-cliff-0441f9e03.azurestaticapps.net/

![image](https://user-images.githubusercontent.com/1831259/117874543-01827780-b299-11eb-84f2-ef72c5f647eb.png)

[2021-05-12 00:02] krisnuttall commented on #377
This linked fix now shows as merged to master. When will it be available for use?

[2021-05-12 02:12] riverar opened #408 "static-web-apps-deploy arbitrarily resets PATH breaking downstream tooling"
I'm trying to stage tooling in my pipeline for future npm scripts to succeed. Unfortunately, `static-web-apps-deploy@v0.0.1-preview` is _resetting_ PATH claiming it's needed for "Oryx to run properly".

Per the log:

Is there a way to override this behavior? Resetting the path implicitly is not good CI citizen behavior and impacts earlier preparatory steps.

[2021-05-12 04:23] smarigowda commented on #407
This is now working.

[2021-05-12 04:23] #407 closed

[2021-05-12 06:52] anthonychu commented on #408
I don't believe this is affecting the PATH in the runner and other steps. It's updating the PATH inside the container that is running the action so Oryx can run. @miwebst might be able to explain the behavior here.

[2021-05-12 11:27] cirzoltan commented on #386
We went for a different solution.

[2021-05-12 11:27] #386 closed

[2021-05-12 15:13] diberry commented on #323
@anthonychu - This is my source's build and the issue is no long present - https://github.com/diberry/azure-search-javascript-samples/runs/2567619672?check_suite_focus=true#step:4:161

[2021-05-12 16:50] miwebst commented on #408
Yes within our action we update the path env var to ensure Oryx is able to function properly. At the beginning of preview, we hit a few issues with people accidentally breaking their deployments due to bad path's. My understanding was that this would only affect the PATH within our container. Is your downstream tooling being run within the action or afterwards?

[2021-05-12 16:53] miwebst commented on #406
Static Web Apps uses e-tags for client side caching. You can see these headers coming back on the responses. When you update your site, we will change these and any client that supports e-tag caching will invalidate the cache automatically:

Response headers:
etag: "65982876"

[2021-05-12 16:55] miwebst commented on #404
Thanks for calling this out @benc-uk, we will take a look.

[2021-05-12 17:17] miwebst commented on #397
@riverar are we good to close this? The fix went out and should mitigate the issue.

[2021-05-12 17:18] miwebst commented on #394
This should be available now!

[2021-05-12 17:19] miwebst commented on #384
Hey @gastonmuijtjens , this should be available now!

[2021-05-12 17:46] miwebst commented on #362
Hey @erwinsmit, Static Web Apps is now GA! https://twitter.com/AzureStaticApps/status/1392533175570632706?s=20

For the 100 Gb bandwidth and 25 users limits check out the new Standard sku. The Standard sku does not have a bandwidth cap and you can use your own auth registration to get around the 25 users limit.

[2021-05-12 17:53] riverar commented on #397
@miwebst Yep, all good. Thanks again.

[2021-05-12 17:58] riverar commented on #408
@miwebst Understood. I understand there's a tricky balance of "make this fool proof" and "give folks some pipeline flexibility". All `npm install` scripts run in the container, so it's not really possible to put extra SDK tooling in PATH. (In my case, I'm trying to stage the Emscripten SDK.)

Also, because the paths mounted in the container are not 1:1 (yet all the environment variables are inject

[2021-05-12 18:00] #397 closed

[2021-05-12 18:22] miwebst commented on #329
This is available now: https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns

[2021-05-12 18:23] miwebst commented on #289
This is fixed.

[2021-05-12 18:23] #289 closed

[2021-05-12 18:26] miwebst commented on #328
You can there is just no UX for it yet. For now, you can purchase the domain (this will create a app service domain resource and an Azure DNS resource) and then use AzureDNS to setup the domain with your SWA. You can find details for setting up a custom domain with AzureDNS here: https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns

[2021-05-12 18:29] miwebst commented on #325
You can lock down your SWA to just internal folks by using your own AAD registration and custom auth with SWA, you can find details here: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

[2021-05-12 18:32] miwebst commented on #265
Hey @m-sterspace , sorry for the long delay on this, was waiting for GA to share details. The free limit is still 10 Free sku SWA's per sub, but you can have unlimited Standard sku SWA's per sub. So you should be able to use Standard to unblock!

[2021-05-12 18:35] miwebst commented on #192
Closing as it was resolved offline.

[2021-05-12 18:35] #192 closed

[2021-05-12 18:46] miwebst commented on #383
Hey @gavinmorrison , this is available now, give it a try and let us know what you think! https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

[2021-05-12 18:46] miwebst commented on #308
Hey @jennirethi , this is available now, you can try it through these docs: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

[2021-05-12 18:47] miwebst commented on #3
This is available now, you can try these docs: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

[2021-05-12 18:51] miwebst commented on #9
This is available through custom auth, you can try it here https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=apple

[2021-05-12 18:52] miwebst commented on #14
End of preview date is today :) and you can use custom auth to avoid the identity page altogether! https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

[2021-05-12 18:54] miwebst commented on #168
This is available now :) https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns

[2021-05-12 18:54] miwebst commented on #202
Both are supported now, https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns

[2021-05-12 18:55] miwebst commented on #354
Both types of domains are now supported: https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain?tabs=azure-dns

[2021-05-12 19:31] mattcofer commented on #168
I am not seeing "Host name record type: TXT" as an option.  CNAME is the only option. Does it just take time to propagate since this was released today or is there another issue?

[2021-05-12 20:00] stemixreal commented on #329
Awesome!

[2021-05-12 20:12] jeroenvdmeer commented on #189
@anthonychu any changes in the plans since your previous comment? I have the same use case as @hrazmsft. As users have already logged in to access my application, it's confusing for them to log in again to access MS Graph. Exposing the access token would be really great.

[2021-05-12 21:18] gastonmuijtjens commented on #384
@miwebst Thanks for the follow-up. Tested it, and I can confirm it works now. Above template works on initial deployment and configuration variables are set correctly. I'll close the issue.

[2021-05-12 21:18] #384 closed

[2021-05-12 21:53] sayanghosh123 commented on #394
Just tested this morning and it worked perfect! Thanks for the follow through!

[2021-05-12 21:53] #394 closed

[2021-05-13 00:42] stemixreal opened #409 "Thanks!"
Just wanted to say thanks to everyone working on this. Great product and dev experience with the cli too. Nice work folks!

[2021-05-13 02:04] #329 closed

[2021-05-13 02:16] lotz commented on #399
What are the odds? Glad to hear this is now supported.

<img width="1076" alt="root_domain" src="https://user-images.githubusercontent.com/3892627/118067931-7de78a00-b36f-11eb-8dff-c7374815d32b.png">

[2021-05-13 03:54] jennyxchengsea opened #410 "Question for"
I've tried to deploy the static web app via github, and I received this error.

App Directory Location: '/app' is invalid. Could not detect this directory. Please verify your workflow reflects your repository structure.

For further information, please visit the Azure Static Web Apps documentation at https://docs.microsoft.com/en-us/azure/static-web-apps/
If you believe this behavior is unexpected

[2021-05-13 07:20] ffMathy commented on #409
Yeah it's amazing. Recommended it to all my colleagues and friends.

[2021-05-13 07:27] riverar commented on #410
Hi @jennyxchengsea, after binding your GitHub repository to Static Web Apps, you should have a GitHub Actions workflow defined at `.github/workflows/xxxxx.yaml`.

Within the file, `app_location` points to your web app sources live and `api_location` points to where your web app api sources live. If your `app_location` points to a folder with some static html/css, and no special build steps are nee

[2021-05-13 10:04] hjfitz opened #411 "Globally Available - Action not at 1.0?"

[2021-05-13 14:25] anthonychu commented on #411
Should be using `@v1`. I think we need to create a GitHub release. Thanks for letting us know. @mkarmark @miwebst

Docs updates should be coming today.

[2021-05-13 15:07] miwebst commented on #411
This is released, you can find v1 in the marketplace.

[2021-05-13 15:08] miwebst commented on #408
We can look into this, there may be opportunities for us to more gracefully merge the paths. So far we've just protected the Oryx runtime by completely overwriting.

[2021-05-13 15:27] jeroenvdmeer commented on #411
Where can I find more information about the changes between releases v0.0.1 and v1?

[2021-05-13 15:34] miwebst commented on #411
The 2 releases are the same. We renamed and republished the existing action for consistency as the product went GA and we wanted to get rid of -preview from the v0.0.1-preview. v0.0.1-preview will continue to be maintained for backwards compatibility but you can safely update your workflows to use v1. All newly created workflow files will also use v1.

[2021-05-13 15:51] jobullen opened #412 "Any known issues for build pipeline with Oryx and Hugo?"
Been trying to do a publish for the last few days and it just stops and times out on the building site point. Used to work fine and site builds locally, could not find any other logs. Made a custom action to enable verbose after looking at your internal source and it did not provide much more information. Here is one of the errors, the job is still failing and timing out after 15mins.

Successfull

[2021-05-13 15:58] liprec opened #413 "Custom auth not yet working?"
First thanks for including custom auth to the GA version of SWA, but somehow I am running into an issue:
As soon as I add the code snippet for AAD (https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#tabpanel_1_aad&WT.mc_id=DP-MVP-5003419) to my `staticwebapp.config.json` file I am getting a 404 on the `/.auth/login/aad` url.

So it looks like there is something n

[2021-05-13 16:11] miwebst commented on #413
Hey @liprec, you may be running into an issue in our docs that we are working to fix. The docs incorrectly suggest to have this in your config file:

[code]

you really need:

[code]

Notice the identityProviders section. If you look at the OIDC section it is correct there. You could be running into this or a different problem, feel free to share your default hostname and we can investigate as wel

[2021-05-13 17:27] liprec commented on #413
Hi @miwebst, that helps. Now I can login, but getting a 403 error `We need an email address or a handle from your login service`. Probably need some extra config regarding the application and/or my user, any idea?

[2021-05-13 18:06] mkarmark commented on #413
Azure Active Directory features versioned endpoints which affect how your registration is configured. If you are using AAD v1 (the issuer endpoint does not end with "/v2.0"), then you need to add the following `userDetailsClaim` entry to your configuration in the `"azureActiveDirectory"` object.

[code]

[2021-05-13 19:21] CMarshall92 opened #414 "Azure Pipeline Task passing but nothings deploying"
So I have been scratching my head for hours now and it cant be the code that's wrong at this point as I've literally created a boiler plate application using gatsby and it still doesn't work as expected.

The following picture is what the folder structure of the repo looks like

![image](https://user-images.githubusercontent.com/33270926/118175273-ccf0f600-b427-11eb-98d0-9869d847ed22.png)

After t

[2021-05-13 19:38] liprec commented on #413
Thanks you all: it is working with `https://login.microsoftonline.com/<TENANT_ID>/v2.0` as issuer url.
And is it correct that I can remove the `clientSecretSettingName` as the identity is turned on? Or am I hitting a cached version?

[2021-05-13 19:41] hjfitz commented on #411
Thank you!

[2021-05-13 19:41] #411 closed

[2021-05-13 19:42] CMarshall92 commented on #414
So it turns out i had to use an azure vm for this to work for some reason using our windows based build agents just didnt allow this to work please document this as this took way to long for that to be the issue that stopped all this from deploying. Or add an option stop for building and installing and allow us to build in prior steps and use the artefacts that creates

[2021-05-13 19:42] wilberolive opened #415 "Set user role programmatically?"
So now that SWA is in GA, are we still restricted to 25 users in custom roles? The docs still say this?

What I'm wondering though is if it is or will be possible to assign users to roles programmatically? Logging into your Azure portal to generate an invite is ok for testing purposes during preview, but in production this obviously wouldn't scale well.

The scenario I'm thinking of is a web app t

[2021-05-13 19:45] #414 closed

[2021-05-13 22:14] anthonychu commented on #412
@jobullen Is your repo public? Would like to try the build ourselves.

This looks like something @burkeholland ran into in a Node build.

[2021-05-13 22:56] jobullen commented on #412
It is not but I can give you permissions. Who needs to be added?

From: Anthony Chu ***@***.***>
Sent: Thursday, May 13, 2021 15:14
To: Azure/static-web-apps ***@***.***>
Cc: Jon Bullen ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/static-web-apps] Any known issues for build pipeline with Oryx and Hugo? (#412)

@jobullen<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgi

[2021-05-14 01:24] horihiro commented on #152
Currently, BYOF can be used in GA, so is it the best practice to use BYOF if the API package size is over 100MB?
ref: https://github.com/Azure/static-web-apps/issues/247#issuecomment-830715628

[2021-05-14 01:29] miwebst commented on #415
We will continue to have the 25 user restriction which as you said is not really meant for production. For production workloads we encourage you to use custom authentication and do role management through an identity provider. Most identity providers have programmatic mechanisms for assigning roles today. So the missing piece here is going from identity provider role to SWA role which is something

[2021-05-14 01:34] miwebst commented on #152
Yes you can certainly use that to get around the limit :)

[2021-05-14 01:37] #152 closed

[2021-05-14 07:24] ffMathy commented on #375
@anthonychu congratulations on the GA of Static Web Apps! 🥇 🎉

And great that you implemented APEX domains and Azure Function linking!

Now that you're in GA, is there an estimate for supporting .NET 5 in the fully managed Static Web Apps functions?

[2021-05-14 07:33] RossMurr4y commented on #5
You can also pass the parameters for StaticSitesClient directly to the binary inside of the container.

Environment variables are nice and clean for readability in a pipeline, but I had need to do a manual deployment from a local build I'd done and found the following to be a bit faster to put together.

**Review valid parameters**
[code]

**Example of a manual deployment of a local build**
[code]

[2021-05-14 07:36] RossMurr4y commented on #96
In the meantime, the following will allow you to do it with docker.

You can pass the parameters for StaticSitesClient directly to the binary inside of the container.

**Review valid parameters**
[code]

**Example of a manual deployment of a local build**
[code]

[2021-05-14 07:39] RossMurr4y commented on #102
For those looking for a workaround in the meantime, I've documented a pretty straightforward approach here: https://github.com/Azure/static-web-apps/issues/96#issuecomment-841072249

[2021-05-14 07:46] olitomlinson commented on #415
@anthonychu

Given our recent [conversation on twitter on programmable roles](https://twitter.com/nthonyChu/status/1392965026038702080?s=20) and the above comment from @miwebst, I am now super confused on the direction of SWA and the built-in Auth.

The built-in Auth is great, and if the team decide to move forward with the awesome stuff we talked about on Twitter, this is really going to make Aut

[2021-05-14 14:31] joelcoxokc commented on #372
@miwebst Yes there is a scenario where I would like to change this.

Does the routes_location actually work?

I am using a mono-repo, and for some reason the github action is only finding one routes file for all my apps, instead of using the `staticwebapp.config.json` for each app.

will `routes_location` solve this?

[2021-05-14 14:48] miwebst commented on #415
Ah I think I understand the misunderstanding. What @anthonychu is referring to in the twitter post is essentially passing the role management to a function you own. The users would all just have the `authenticated` role but you would enrich them with your own roles. There is no limit on users with just the `authenticated` role so you'd avoid the 25 limit.

This is a path we are pursuing for enabli

[2021-05-14 14:59] joelcoxokc opened #416 "Mono Repo support for staticwebapp.config.json"
I have built a Mono repo using Angular and Nx.

I would like to be able to reference a different `staticwebapp.config.json` per app.

I see that the `staticwebapp.config.json`is automatically looked up inside the `app_location`. However, I am unable to change the app_location to anything other than `/` inside of an angular project. Otherwise the github action throws errors.

Any help or direction

[2021-05-14 15:02] miwebst commented on #416
Hey @joelcoxokc,

Do you mind sharing the project structure and the error you are seeing when the `app_location `is not `/` ? You should be able to have the `app_location` be other directories as well.

[2021-05-14 15:05] miwebst commented on #403
Hey @MatissSvikis-Visma , take a look at the constraints page in our docs, looks like you may have some app settings that are not allowed: https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints

If you are blocked on any of these you can also deploy this function (as is) to a function app and use bring your own functions: https://docs.microsoft.com/en-us/azure/static-web-apps/func

[2021-05-14 15:11] joelcoxokc commented on #416
@miwebst

Here is my configuration

[code]

Here is my project structure

[code]

I tried setting `app_location` to `apps/app1` but I get the following error.

[code]

[2021-05-14 15:21] joelcoxokc commented on #416
@miwebst  I also tried setting `app_location` to `apps/app1/src`

However, the build command must be run at the root. So the app doesn't get built when the `app_location` is not at the root.

[2021-05-14 15:25] joelcoxokc commented on #416
I tried setting `routes_location` to `apps/app1/src` and get the following error

[code]

Is it possible to have a `config_location`. I see that yall just fixed this same issue with the `static-webb-apps-cli` tool.

[2021-05-14 17:47] twoCansOfTomatoes commented on #5
Now with GA, can we expect the Azure Static WebApp be decoupled from github and give provision to have other source repos too ?  Also, an option to build, package and deploy separately without having to have the source control configured in the service.

[2021-05-14 17:50] miwebst commented on #416
I see, so you need to build at the root but your app location is at a sub directory. We can make the routes_location work for staticwebapp.config.json too to unblock this scenario. Lets close this one and use the other issue for tracking.

[2021-05-14 17:51] joelcoxokc commented on #416
Great Sounds good!

[2021-05-14 17:51] #416 closed

[2021-05-14 19:07] JeremiahS-KMC commented on #189
I would also like to have this as well. My app connects to an API that requires user tokens to be set with requests. Right now I have to use a framework to handle Azure AD login so that my app can get access to the user token to pass with the request. Would be nice to just let the static apps service handle auth and get the user token from it in my app.

[2021-05-14 19:21] wdorsett84 commented on #348
@miwebst @annaji-msft Hi. Any word on this?

[2021-05-14 20:34] annaji-msft commented on #348
SyncTriggers failed with error below
"System.InvalidOperationException : No authentication handler is registered for the scheme 'ArmToken'. The registered schemes are: Bearer. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("ArmToken",...)

Could be related to https://github.com/Azure/azure-functions-host/issues/6805

@anthonychu Anything that @wdorsett84 do to mitigate the issue?

[2021-05-14 21:42] anthonychu commented on #5
@twoCansOfTomatoes I think what you're asking for are tracked at #298 (other CI/CD providers) and #7 (deploy from CLI). Can you see if they are what you're looking for and add some comments about what git/CI/CD providers you're thinking of and how you want to deploy without configuring source control? If neither of those apply, please create a new issue with more details. Thanks.

[2021-05-14 23:42] anthonychu commented on #389
@alanta It's available now in the new Standard tier: https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own

[2021-05-14 23:51] miwebst commented on #247
Closing this as well as BYOF is the recommended option right now for getting around this limit. See above issue for doc link.

[2021-05-14 23:51] #247 closed

[2021-05-15 03:54] wilberolive commented on #415
@miwebst

I just want to reiterate... why? You guys have an entire authorization and authentication platform built into SWA complete with authentication providers that just works out of the box and seamlessly with functions too. Yet you are saying not to use it and use another authentication provider service instead??? The reason I want to use SWA for future apps is because I was under the impress

[2021-05-15 08:45] alanta commented on #389
Thanks for the update @anthonychu

[2021-05-15 08:45] #389 closed

[2021-05-15 09:44] itpropro commented on #372
Currently it will not solve this. The ‘routes_location’ only works for the old routes config file. The GitHub Action statically looks in the app_location for your staticwebapp.config.json.

[2021-05-15 10:03] javier-romera commented on #413
There is something is still not clear to me. How to set only the AAD for a tenant.

I added the setup like in the link and it requests a proper login in my tenant. But still accepts any AAD user.
If I set "/.auth/login/aad" to a StatusCode 404 like with other providers, it seems that it ignores it and any non-authorized user can access even if the route "/" is only accessible by "authenticated" us

[2021-05-15 13:54] bmaruyama opened #417 "Azure Functions and staging details: limited regions"
I had hoped that general availability would allow creation of Azure Static Web Apps in more regions. In Canada, several industries have rather strict data governance regulations.  When will we see broader deployment options so that the Azure Functions can be located in the same regions as the associated data (e.g. Cosmos DB)?

[2021-05-15 15:22] liprec commented on #413
If I use the following `staticwebapp.config.json` it is working only with my tenant. And make sure that the App registration used to authenticate is set to `Accounts in this organizational directory only (tenant only - Single tenant)` to disable multitenant logins.

[code]

[2021-05-15 15:46] olitomlinson commented on #415
@miwebst Thank you! I believe this clears things up. Its probably worth updating the docs with any pertinent details from this conversation, such as the 25 user limit roles not applying to users who are only registered with the `Authenticated` role.

I agree with the sentiments expressed by @wilberolive - A turn-key solution to Auth is a huge selling point for SWA. We just need a few ways to pragm

[2021-05-15 21:06] javier-romera commented on #413
Thanks for your config file. It was like mine, except that I was using "/" instead of "/\*".
But this is the problem. I cannot use "/\*" and "/api/\*". It complains and does not upload.
At least on an Azure DevOps repository. Maybe it works on Github.

    Encountered an issue while validating staticwebapp.config.json:
    A route is covered up by a wildcard route and would not be evaluated.
    R

[2021-05-16 09:32] sportelli opened #418 "Feature request: Notifications after deployment"
Being able to have auto-deployment through Github actions is great for Azure Static WebApps, but in a project lifecycle, projet's team needs to be notified that a deployment occurred and is finished:

- When pushing to the default branch, all the team needs to know when the deployment is finished without the need to go to Github Actions page.
- When a developer pushes in his branch and requests fo

[2021-05-16 12:35] sayanghosh123 commented on #384
Since Static Web Apps just went GA, will be sweet to know what the paid tier SKU code will be. I suppose the ARG query will also expose it.

[2021-05-16 17:53] itpropro opened #419 "Link specific slot to SWA"
I wonder how to link a specific Function App Slot to my Azure Static Web App. The "Link to a Function app" setting under "Functions" only displays the production slot.
For many existing application we already have two SWA instances, e.g. one prod and one dev, but only need one Azure Function. It would be helpful to be able to link the prod slot to the prod SWA and the dev slot to the dev SWA.

[2021-05-16 20:52] diberry opened #420 "What version of Node.js is used in build pipeline?"
Can I set/change the version in the yml action file?

[2021-05-17 04:38] anthonychu commented on #417
For full control of your Azure Functions app, including its region, we recommend you use the [bring your own function app](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) feature of the new Standard plan.

[2021-05-17 05:11] smarigowda opened #421 "CI/CD not running, 14+ hours in Queue"
![image](https://user-images.githubusercontent.com/1831259/118435281-97bdff80-b6d6-11eb-8111-8a197e9c1685.png)

[2021-05-17 06:11] anthonychu commented on #421
Looks like there was an [incident](https://www.githubstatus.com/incidents/zbpwygxwb3gw) with GitHub Actions earlier today which may have affected your app. Can you [cancel](https://docs.github.com/en/actions/managing-workflow-runs/canceling-a-workflow) those workflows an either re-run them or trigger new ones by creating another commit?

[2021-05-17 07:47] smarigowda commented on #421
Thank you. This is now resolved.

[2021-05-17 07:47] #421 closed

[2021-05-17 12:29] liprec commented on #413
As my authentication is still working I can conclude that the identity is working and I can leave out the `clientSecretSettingName` value. And will close this issue.

[2021-05-17 12:29] #413 closed

[2021-05-17 12:31] liprec commented on #67
Someone of the team can close this issue as this option is available. Thanks and congratulations with the GA 🎉!

[2021-05-17 17:25] diberry commented on #189
@Anthonychu - if it isn't possible - can you explain what Azure architectural elements would handle this right now?

[2021-05-17 18:03] #67 closed

[2021-05-17 18:56] miwebst commented on #384
@sayanghosh123 try "Standard".

[2021-05-17 20:39] TellonUK opened #422 "404 error when using custom authentication."
I am using Azure B2C as a OpenID Connect provider, and have used the example auth configuration from [https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom ). I have used the B2C setup with MSAL several times without issue, and testing the B2C user flow works without issue.

When I launch

[2021-05-17 20:46] sayanghosh123 commented on #384
Thanks @miwebst - I confirm that works.

[2021-05-17 21:55] san commented on #197
+1 on this. Would love to see this feature.

[2021-05-17 22:01] JustinGrote commented on #197
@san it is possible in the GA version to "bring your own" azure functions app to a static website. This is only supported in Standard so you must pay at least $9/mo for this privilege.

https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own

Would be nice to have it in the free version so leaving this issue open for that as a request :)

[2021-05-17 22:55] #399 closed

[2021-05-17 22:55] #385 closed

[2021-05-17 22:56] miwebst commented on #409
Appreciate it! Will keep working to make it better :)

[2021-05-17 22:56] #409 closed

[2021-05-17 22:59] #338 closed

[2021-05-17 23:04] miwebst commented on #334
Hey @itpropro, these are some of the app settings that are not allowed. If you'd like to use them you need to use bring your own functions, more details here:

https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints

[2021-05-17 23:51] #237 closed

[2021-05-17 23:53] miwebst commented on #5
@RossMurr4y be careful of running the underlying container directly. We will not make breaking changes to our GitHub Action or DevOps task, but we may make breaking changes to the underlying container.

[2021-05-17 23:53] #36 closed

[2021-05-17 23:54] #43 closed

[2021-05-17 23:56] #29 closed

[2021-05-17 23:57] miwebst commented on #34
This should be fixed when using bring your own functions: https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own

[2021-05-18 00:03] #3 closed

[2021-05-18 00:05] miwebst commented on #77
You can find more details on the SWA cli here: https://github.com/Azure/static-web-apps-cli

[2021-05-18 00:05] #77 closed

[2021-05-18 00:07] #139 closed

[2021-05-18 00:08] #190 closed

[2021-05-18 00:12] miwebst commented on #214
Closing as bring your own functions serves as a workaround to this.

[2021-05-18 00:12] #214 closed

[2021-05-18 00:14] #265 closed

[2021-05-18 00:21] #362 closed

[2021-05-18 00:22] #354 closed

[2021-05-18 00:32] aaronpowell commented on #422
Is the GitHub repo public that I could take a look at?

[2021-05-18 00:33] aaronpowell commented on #420
The GitHub Action uses Oryx under the hood, and apparently will respect the environment variable `NODE_VERSION` - https://github.com/microsoft/Oryx/blob/master/doc/configuration.md#oryx-configuration

[2021-05-18 00:39] miwebst commented on #304
As @itpropro alluded to, we support bringing your own functions for this scenario: https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own

[2021-05-18 01:09] san commented on #197
@JustinGrote thanks for the quick response. I am aware of "bring your own function" option. It's just very convenient to have both the function and the app code all in one repo. So, this would definitely be a nice to have.

[2021-05-18 01:18] TellonUK commented on #422
Sure, just made one.

[https://github.com/TellonUK/azureswa](https://github.com/TellonUK/azureswa)
( I've setup a Azure SWA at [https://polite-desert-0bd142f0f.azurestaticapps.net/](https://polite-desert-0bd142f0f.azurestaticapps.net/) I just need to configure the env config for a demo b2c, will update here when that's done too )

[2021-05-18 04:30] anthonychu commented on #422
In [staticwebapp.config.json](https://github.com/TellonUK/azureswa/blob/51e79736693338acd58f87934bda0f257ecf1675/staticwebapp.config.json#L12-L20):

[code]

The `clientIdSettingName`, `secretSettingName`, `wellKnownOpenIdConfiguration` properties are invalid.

Try removing the `<>` in the setting names:

[code]

And create 2 [app settings](https://docs.microsoft.com/en-us/azure/static-web-apps/app

[2021-05-18 05:23] aaronpowell commented on #422
@anthonychu I wouldn't have thought that failing to get the values from config would result in a 404 on the auth provider, I'd have expected a 500

[2021-05-18 06:26] MichaelRoger commented on #14
cool, is there anything to do? Or are the exisiting objects just rebranded?

[2021-05-18 10:09] pmeems opened #423 "Deployment Failure Reason: An unknown error has occurred."
I'm trying to build and deploy a Blazor WASM application with Azure Functions as the back-end.
Yesterday I had no issues building and deploying it, but today it keeps failing at the deployment step.
Since the reason is `An unknown error has occurred.` and nothing else is reporting I'm not sure what to do next.
[code]

I've attached the log archive:
[logs_20.zip](https://github.com/Azure/static-web

[2021-05-18 13:03] TellonUK commented on #422
In my [staticwebapp.config.json](https://github.com/TellonUK/azureswa/blob/main/staticwebapp.config.json) I updated it to the suggested format.

[code]

I also updated my SWA app settings to have keys SWACLIENTID and SWASECRET, using a @Microsoft.KeyVault value and then also the ClientID and Secret in plaintext. Neither resolved the issue.

The [SWA](https://polite-desert-0bd142f0f.azurestaticapps

[2021-05-18 15:38] miwebst commented on #423
Hey @pmeems can you check if you are using any of the app settings listed in the constraints: https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints

[2021-05-18 16:18] miwebst commented on #14
Nothing to do, when you use custom auth then the user logs directly in against your identity provider and redirects to your callback uri. In the process the identity page is skipped altogether.

[2021-05-18 16:25] mkarmark commented on #422
Hi @TellonUK, can you rename in the json "openIdConnectProviders" to "customOpenIdConnectProviders"? That should fix the issue. We realize the docs are leading people to incorrectly use "openIdConnectProviders" and are trying to get the fix out ASAP.

[2021-05-18 17:00] #422 closed

[2021-05-18 17:00] TellonUK commented on #422
Thanks, That did the trick.

[2021-05-18 22:46] GeekTrainer commented on #390
[Hello world works fine](https://www.geektrainer.dev/code/deploy-sveltekit-aswa/) with `adapter-static`, but I'll openly admit I haven't ventured much beyond this. I'm happy to explore more and see what else I can discover.

[2021-05-19 00:18] RossMurr4y commented on #7
Could you explain the reason for this approach over something like pointing at a local zip file? Or even the build output directory and perform the archiving for us as is the case with ZipDeploy?

[2021-05-19 01:05] amkcs opened #424 "staticwebapp.config.json being ignored"
Hello,

I've looked through the open issues and I see two that are similar but have not solved my problem.  I'm experimenting with Azure Static Web Apps and working off of the Blazor template.  I followed the documentation's steps to clone the templated project and setup a GitHub workflow.  I am using VS 2019 and not VS Code for development, but I'm able to commit and push to a branch, merge back

[2021-05-19 03:37] anthonychu commented on #7
That comment was based on how the deployment api works. We’re also looking at other options right now to see how to best support local deployment.

[2021-05-19 03:52] anthonychu commented on #424
staticwebapp.config.json has a different format than routes.json. It no longer uses the “serve” property. It should use “rewrite” instead. I think what is happening is that serve is being ignored in the rule; it’s still a valid rule that doesn’t do anything useful.

@mkarmark can we see if we can catch these issues during deployment? Could consider validating against the JSON schema too.

One more

[2021-05-19 04:34] amkcs commented on #424
Thank you for your response.  I updated the staticwebapp.config.json file to use "rewrite" in the routes element and it worked when navigating the site after the deployment.  However, it still loads the CSS file when I navigate to the URL /css/app.css.  In the checker in the awesome-azure-static-web-apps repository, it shows that it should re-route to the htmlpage.html page, so I know that the con

[2021-05-19 05:20] anthonychu commented on #424
Based on the rules above, if you request /css/app.css, it doesn’t match the routing rule you defined so there are no routing rule in effect. The file exists and we serve it. Navigation fallback only comes into play if the file does not exist. Your app is behaving as designed.

The route checker utility doesn’t match the routing rules exactly. It appears you ran into 2 cases where they don’t match.

[2021-05-19 08:11] pmeems commented on #423
Thanks @miwebst
I had `AzureWebJobsStorage` in my app settings. Not sure when I added it, at least a few weeks ago.
I removed it and now the deploy process continues.

It would be nice if the deployment step would tell that this is the problem, instead of `An unknown error has occurred.`

I'm closing this issue.

[2021-05-19 08:11] #423 closed

[2021-05-19 10:58] Skleni opened #425 "401 on callback after login with Auth0 custom OpenID Connect provider"
I'm trying to use Auth0 as a custom OpenID Connect provider as described [here](https://www.aaron-powell.com/posts/2021-05-13-using-auth0-with-static-web-apps/).

When I navigate to `/.auth/login/auth0`, the redirect to the Auth0 login screen works. After entering my credentials I'm redirected to the callback url, for example `https://<site>.azurestaticapps.net/.auth/login/auth0/callback?code=5Exe

[2021-05-19 12:40] bagavan44 commented on #392
This was working with GitHub actions but not with the Azure DevOps pipeline

[2021-05-19 14:31] amkcs commented on #424
Yes, that's right.  I misread the [Fallback routes](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#fallback-routes) section.  I added a new rule to rewrite to the html file when the CSS file is requested and it worked.

Thank you for your help.  I'm going to close this issue.

[2021-05-19 14:41] TellonUK opened #426 "custom authentication request documentation has a typo in the login object"
I have setup my staticwebapp.config.json per the [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad).
[code]

No scope is sent with the network request and the azureb2c provider also provides a callback with the error `AADB2C90010: The request does not contain a scope parameter`

The documentation needs to be updated, it should be 'scopes' and not

[2021-05-19 14:48] amkcs commented on #424
Sorry, I just reopened this to ask one more question related to a previous response of yours, @anthonychu.  About the staticwebapp.config.json file not needing to be copied to the output folder, whether I copy it to the output folder or not locally, my local instance is not respecting the rule when I run the project (either in Debug Mode or Release Mode).  Is that expected behavior because of the

[2021-05-19 15:00] TellonUK commented on #425
I have the same problem when using AzureB2C as a custom provider, a code is returned to the custom callback url per the [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad) but the site shows a 401 error.

Callback URL: https://<SITE>/.auth/login/azureb2c/callback

Here is my [staticwebapp.config.json](https://github.com/TellonUK/azureswa/blob/main

[2021-05-19 15:02] miwebst commented on #423
Totally agree, we have a change in flight that will make these a little clearer (it will say something like deploying the function failed) but we are also working on some tooling to help surface these errors more easily.

[2021-05-19 15:44] JoshuaLowe1002 opened #427 "Can't change hosting plan on Devops powered static web app"
Great to see Static Web Apps out of preview!

I'm running into issues changing the hosting plan to standard from free for my static web app that is powered by Azure DevOps.

It's Asking for a GitHub URL that I don't have, any ideas? Thanks!

![image](https://user-images.githubusercontent.com/25752941/118842823-6e14fc00-b8c1-11eb-8e80-6d543a342aab.png)

[2021-05-19 18:34] liprec opened #428 "Function app settings and @microsoft.keyvault not working"
It looks like Application settings that are set as a Key Vault reference (@Microsoft.KeyVault) is not available for the included function app. Changing a connection string to a reference results  in a connection error.
Is this something on the roadmap or am I missing something?

Also is it possible to have the same current resolution status results in the application setting pane as App Service an

[2021-05-19 18:52] joelcoxokc commented on #372
@miwebst
 Is this the other issue you were referring to?
#416

Can we add the `config_location` property to support angular mono-repos?

[2021-05-19 18:54] miwebst commented on #372
Yes this is the one, we are working on a fix. The initial fix will be to make routes_location work with staticwebapp.config.json. Long term we may add config_location if needed.

[2021-05-19 18:55] joelcoxokc commented on #372
@miwebst Wonderful. You all are awesome!

[2021-05-19 19:20] miwebst commented on #427
Ouch! There is a fix rolling out that will fix this, but that fix will take some time. Can you try using az cli to unblock you for the moment? I believe this should work:
`az staticwebapp update -n your-app-name --sku Standard`

[2021-05-19 19:25] miwebst commented on #427
Actually, this may still fail...let me know if it does, I'll paste another (hacky) az cli command you can use if this doesnt work either.

[2021-05-19 21:55] blockrobbe commented on #368
I had the same issue, took me a while but I worked out a different workaround that lets you keep using a deployment job, with the difference that you do check out the full repository (which is not the default behaviour for deployment jobs). I figured: it works if I build from my source code, so what if I download the prebuilt artifact into the directory in which the build output is normally writte

[2021-05-19 22:59] anthonychu commented on #426
Thanks for pointing this out. We've submitted an update to the docs. Docs publishing is currently on pause so it'll take about a week to be live.

[2021-05-19 23:08] anthonychu commented on #428
Key Vault references are currently unsupported in the built-in function apps. Please use the [bring your own functions](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) capability in the Standard plan if you need to use managed identity and Key Vault references.

We are looking at how to enable them for the built-in managed function apps in the long term but do not

[2021-05-19 23:28] #426 closed

[2021-05-20 03:52] mkarmark commented on #425
@Skleni Do you mind sharing your sitename with us? I can start looking at our logs.

@TellonUK I have the logs for your site and know what's going on, but due to the sensitivity of auth, would you rather open a support ticket so I can communicate my findings privately to you?

[2021-05-20 05:39] Skleni commented on #425
Sure, the sitename is `salmon-island-017870503`.

[2021-05-20 05:59] bhagavan44 commented on #392
Got a workaround for this issue [https://gist.github.com/bhagavan44/ed11fb5199667fd0d4aeddf346a3a870](url)

[2021-05-20 06:00] bhagavan44 commented on #392
Got a workaround for this issue [https://gist.github.com/bhagavan44/ed11fb5199667fd0d4aeddf346a3a870](https://gist.github.com/bhagavan44/ed11fb5199667fd0d4aeddf346a3a870)

[2021-05-20 06:55] liprec commented on #428
Thanks for the confirmation and too bad (for me).

[2021-05-20 14:37] TellonUK commented on #425
That resolved my issue. I have another question about claims, but will open a new issue rather than clutter this thread as its not related to Skleni's issues.

[2021-05-20 14:39] TellonUK opened #429 "Is there a way to access multiple claims when using custom authentication?"
I am using Azure B2C as my identity provider and it returns the name by default (firstname givename). I can access the user's email address if I use the below configuration, but I then no longer have the users name.

`"nameClaimType": "emails",`

Is there a way to request multiple claims from the decoded token? In my situation name and emails ?

[2021-05-20 20:32] mkarmark commented on #429
There currently is not a way to do that. In what form would you want multiple claims presented to you? Would a comma separated list make sense here?

[2021-05-20 20:54] mkarmark commented on #425
@skleni the issue with your app seems similar in that the client secret isn't getting set correctly. Could you check in the staticwebapp.config.json says "clientSecretSettingName" and change it to that if it doesn't?

[2021-05-20 20:58] bt-catena commented on #202
Also affected.
This happened on our SWA hosting our website.
It is not possible to add custom domains (both sub and apexdomains), neither through txt or cname records.
In the case of CNAMEs i get the "CNAME Recode is invalid" error, while the TXT records are never validated.
I made sure the DNS records are correct and can be resolved from 3rd party machines.
The CNAMEs also must be correct, since

[2021-05-20 21:19] anthonychu commented on #377
@krisnuttall We're trying to get an ETA from our partners in Azure DevOps. Will let you know if we get an estimate.

[2021-05-20 22:07] joslinmicrosoft commented on #202
@bt-catena So we believe the problem is caused by the presence of CAA records in your custom domain's _parent_ domain, which prevents the SWA platform from provisioning a certificate. For example, if you are trying to add yoursite.mydomain.com to the SWA and you have incompatible CAA records at mydomain.com (the parent domain), we will be unable to issue a certificate and the overall custom domain

[2021-05-20 22:14] TellonUK commented on #429
I think that makes sense. Adding something like the below to the config, and then receiving a response in the same order.

Config

optionalClaims : [ 'name', 'emails', 'etc']

Additional to client provider response

optionalClaims : [ 'firstname givenname', 'xyz@abc.com', '...']

If a claims is requested that isn't in the jwt response, then the same as you have setup scopes would be ideal, a simpl

[2021-05-21 05:03] Skleni commented on #425
Yes, that worked, thank you!

[2021-05-21 05:03] #425 closed

[2021-05-21 06:08] bt-catena commented on #202
Yes, just tried it first thing in the morning and worked. Thanks a lot!
Also makes total sense that you cannot issue any certs in that case.
Can we add this to the Custom Domain Documentation of SWA and show a different Error Message ?
I think the CNAME is invalid error message is rather confusing in that case. At least something along the lines of "Failed at provisioning certificate." would be go

[2021-05-21 09:36] DavidBurela opened #430 "yarn is being used instead of npm"
The documentation that I have found, mentions that npm is used  e.g. https://docs.microsoft.com/en-gb/azure/static-web-apps/github-actions-workflow#custom-build-commands

I am using the default .yaml template that is given when you create the deployment via the Azure portal when creating a new Azure static website
https://github.com/DavidBurela/say-my-name/blob/main/.github/workflows/azure-static-

[2021-05-21 10:13] DavidBurela commented on #430
I was able to get to the root cause.
We were using `npm`, but one team member used yarn and had committed their `yarn.lock` file to one of the subfolders.  Presumably the action scans the repo for a yarn file, and defaults to that over npm if detected.

Closing as resolved. Might want to add it to the documentation.

[2021-05-21 15:43] Azuredevmuc commented on #424
Hey all, first of all - thanks to all the work going into this project.
I'm working to add Auth as well by using the Blazor Starter Template.
I added the config proper, as mentioned here already.
But - it looks like, Blazor ignores the routing config.
I added inside the app a page and tried to protect it by adding it to the config file.
But I'm still able to reach that page by using the Navigation

[2021-05-21 15:44] Azuredevmuc commented on #424
@amkcs - it looks like that either not VS Code support this yet, nor the CLI support the config file yet.
For CLI see more here: https://github.com/Azure/static-web-apps-cli/issues/205

[2021-05-21 15:55] Azuredevmuc commented on #424
Okay all,
I found this nice article about how this is working with Blazor.
Since Blazor has it's own routing, it must be implemented another way round.
https://anthonychu.ca/post/blazor-auth-azure-static-web-apps/
My be, this helps others too.
BR
Ralf

[2021-05-21 20:27] dan-eversen commented on #392
Confirmed that the workaround works, thanks bhagavan44. Pretty ridiculous that this is broken, if you ask me. Does anyone know why you have to split this into two stages as Bhagavan did in order to get the env variable to be seen by the build process?

[2021-05-21 22:47] miwebst commented on #202
Totally agree :) we are working on putting this in the UX.

[2021-05-22 01:41] anthonychu commented on #392
The Static Web Apps task runs in a container. Variables are not passed into it by default. We’ll work on a fix.

[2021-05-22 11:11] miklen commented on #348
@annaji-msft I'm using the Azure Function authentication from Microsoft.Identity.Web (https://github.com/AzureAD/microsoft-identity-web/pull/856). I also have the error mentioned here https://github.com/Azure/azure-functions-host/issues/7330.

Could that be what's making the deployment fail?

[2021-05-23 09:51] SIkebe commented on #236
@anthonychu Is it possible to switch settings per environment like `staticwebapp.config.{environment}.json`?
Or something like this...
[code]

[2021-05-23 10:04] verbeeckorama opened #431 "HUGO site builds incorrectly"
Hi,

I have a HUGO site which runs locally without issues.
![image](https://user-images.githubusercontent.com/84269988/119255761-b54f0580-bbbd-11eb-9e6a-6f2683c12e25.png)

However when I create a static web app, with default settings of it, the public website renders improperly. There are two issues:
1. the CSS clearly does not load. If I run inspect in the browser it says: Mixed Content: The page

[2021-05-23 11:51] cnotoham opened #432 "Unable to add custom domain with TXT"
I am having a problem in attempting to create a custom domain with TXT. I am using the Azure DNS Zone. I have followed the steps provided in https://docs.microsoft.com/en-au/azure/static-web-apps/custom-domain?wt.mc_id=azurestaticwebapps_inline_inproduct_general&tabs=azure-dns#configure-txt-record-with-your-domain-provider.

It shows the status as validating for a long time and eventually disappea

[2021-05-23 12:13] ffMathy opened #433 "Support for .NET 5 isolated functions?"
Hi there. I recently opened #375. However, I am curious if (with the new GA release) SWA has support for .NET 5 isolated functions?

[2021-05-23 14:05] ffMathy opened #434 "Failed to find default file despite successful build"
Here's the build logs: https://github.com/sponsorkit/sponsorkit.io/runs/2650083030?check_suite_focus=true

And here's my project: https://github.com/sponsorkit/sponsorkit.io

[2021-05-23 14:47] ffMathy commented on #432
How long time did you give it? For me, it took a couple of days.

[2021-05-23 14:47] ffMathy commented on #432
Also, what is your domain?

[2021-05-23 16:01] anthonychu commented on #236
@SIkebe that’s a interesting suggestion, can you please file a new issue for it?

Password protecting a site is something we are looking at but the work isn’t committed yet so there’s no ETA at this time.

[2021-05-23 19:08] JonSilver opened #435 "post_login_redirect_uri supports neither query string parameters nor passing of state"
- I have a React app which relies upon query string parameters to initialise state.
- Some parameters are optional, hence unsuitable for implementation as url segments
- `post_login_redirect_uri` does not pass on query string parameters
- the additional `state` parameter supported by some other Azure auth implementations appears to be unsupported in Azure Static Web Apps, and indeed isn't document

[2021-05-24 05:18] anthonychu commented on #434
That workflow is for the `feature/signup-flow` branch, and there's no `index.js` in [`src/frontend/src/pages`](https://github.com/sponsorkit/sponsorkit.io/tree/feature/signup-flow/src/frontend/src/pages), so no `index.html` is generated in the build.

In the workflow run you linked to, you have both `output_location` and `app_artifact_location`. The latter is now deprecated. This should the the co

[2021-05-24 05:20] anthonychu commented on #375
We're looking into how we can add this support but we don't have an ETA. For now, please use the [bring your own functions](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) capability of the new Standard plan.

[2021-05-24 05:21] write2tsm opened #436 "App Gateway with Azure Static App as Back-end"
Hi

We’ve deployed an Application Gateway with WAF and front-end Public IP in front of a Static Web App. The Static Web App has the default Azure assigned name (something.azurestaticapps.net) and the custom name of the application is abc.xyz.com. It’s an Azure-only environment, meaning there’s no AD DS (on-prem) and so AAD is used for authentication.

We’ve added custom domain (abc.xyz.com as TXT

[2021-05-24 05:21] anthonychu commented on #433
Let's use #375 to track. Closing.

[2021-05-24 05:21] #433 closed

[2021-05-24 05:31] ffMathy commented on #375
Thanks. How high on the priority list is this?

[2021-05-24 05:42] anthonychu commented on #431
`http://example.org/` comes from [here](https://github.com/verbeeckorama/my-blog/blob/5084897a7e0f3f001f1fcd12a369a5d22cb3e558/config.toml#L1). It appears your theme appends it to the CSS paths. Update `baseUrl` to `/` and it should work fine.

The reason it's working for you locally is because `hugo serve` sets `baseUrl` to `http://localhost:1313/`. If you just run `hugo` to compile the site, you

[2021-05-24 05:47] anthonychu commented on #432
@cnotoham Currently, if validation fails, it fails silently and the domain simply disappears from the list. We're working on getting the error to display on the screen instead. In the meantime, @miwebst might be able to help look into the error.

[2021-05-24 05:57] anthonychu commented on #418
@sportelli Currently we add a comment to PRs with the preview URL, like this: https://github.com/anthonychu/20210511-vue-basic/pull/1#issuecomment-842878862

The Static Web Apps GitHub Action outputs the URL of the site (or preview URL if a PR). You can set up your own notifications: https://github.com/anthonychu/20210511-vue-basic/blob/3c773f17894c6142277490b1accbd221bd1b76eb/.github/workflows/az

[2021-05-24 08:52] verbeeckorama commented on #431
OMG. I feel stupid now. It is literally one of the first things I should have changed. Thanks so much for your help!

[2021-05-24 09:10] BastiaansenXYZ opened #437 "PNG files seem to be ignored"
I have a Hugo website running on Azure Static Web App. A couple of PNG images were added to a blogpost on that site. They didn't seem to show up, JPG's around the site did. I have redone those images and converted them to JPG and suddenly it all works. What are the supported image-types that an Azure Static Web App supports?

[2021-05-24 14:42] cnotoham commented on #432
Thank you @anthonychu for your reply. Hi, @miwebst, let me know what further information you need from me in order to investigate this issue. I tried again today with no luck.

[2021-05-24 15:01] dan-eversen commented on #392
Right, I looked at the source code on Oryx and saw that, which led to me considering making a pull request. Oryx simply needs to run a command like `( set -o posix ; set ) | grep '^REACT_APP' > .env` and then load it in. This is basically already happening on line 185 of `NodePreRunCommandOrScriptTest.cs` which has

[code]

where `BuildScriptGeneratorCli.Constants.BuildEnvironmentFileName` is the

[2021-05-24 15:04] anthonychu commented on #437
Looks like the PNGs had uppercase `.PNG` extensions but the img tags referenced them in lowercase. URLs in Static Web Apps is case sensitive. Renaming the files should resolve this issue.

[2021-05-24 15:20] anthonychu commented on #392
@dan-eversen Thanks for offering to help with this. The issue is actually in the Azure Pipelines task. It could be fixed by updating this [script](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureStaticWebAppV0/launch-docker.sh) to pass all variables that exist in the runner to `docker`. It should use a deny list to block certain variables like `PATH`. If you are intereste

[2021-05-24 15:22] escudero commented on #425
@Skleni, Did you correct the problem just by changing the name to `clientSecretSettingName`?
I'm having the same problem and couldn't solve it.
My configuration:
`
{
    "routes": [
        {
            "route": "/login",
            "rewrite": "/.auth/login/iam"
        },
        {
            "route": "/logout",
            "redirect": "/.auth/logout"
        }
    ],
    "auth": {
        "id

[2021-05-24 19:40] JonSilver opened #438 "Clarification regarding correct staticwebapp.config.json settings for React"
With no `staticwebapp.config.json` file, my React app runs, and is able to perform its own URL rewriting for internal routing. However as soon as a rewritten URL is reloaded (Ctrl-R) I get a 404.

I've tried iteratively all the suggestions I can find about adding `routes` and `navigationFallback` sections, but to no avail... I only manage to make things worse to the point where my app fails to loa

[2021-05-24 20:18] anthonychu commented on #438
This should be all you need in staticwebapp.config.json to enable navigation fallbacks:

[code]

Can you please point to the unclear documentation and we’ll get it updated? /cc @craigshoemaker

[2021-05-24 20:28] BastiaansenXYZ commented on #437
I tried going back to lowercase .png extensions. Even with lower-case it doesn't work. Zo it seems it completely ignores .png files.

[2021-05-24 20:54] anthonychu commented on #437
Can you share the repo and site?

[2021-05-24 20:55] BastiaansenXYZ commented on #437
This is the repo: https://github.com/BastiaansenXYZ/BastiaansenXYZHugo

The actual site is: https://bastiaansen.xyz

The images that were affected where the ones in blogpost 2021, WiFi Camera

[2021-05-24 20:58] anthonychu commented on #437
Notice the files have uppercase `.PNG` extensions. You’ll need to either rename the files to lowercase or update references to use uppercase. https://github.com/BastiaansenXYZ/BastiaansenXYZHugo/tree/main/static/images

[2021-05-24 21:00] BastiaansenXYZ commented on #437
Wow I see now yea! It seems the push to the repo didn't change the casing of the extensions. Problem solved, thanks!

[2021-05-24 21:04] JonSilver commented on #438
Actually it wasn't `navigationFallback` I needed, but rather `responseOverrides`... this works perfectly.

[code]

If the documentation were better, with fewer red herrings and out of date articles, including more client-library-specific specific examples, I'd have arrived at this far earlier.

[2021-05-24 22:58] anthonychu commented on #438
The `responseOverrides` rule you have is equivalent to the `navigationFallback` rule I shared. In most cases, navigation fallback is preferred as it's easier to configure and it allows you to use response overrides to customize a 404 page.

We'll take a look at the [Configure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration) docs to see how we can improve the d

[2021-05-25 01:14] joslinmicrosoft commented on #202
As an update, we've updated the UX in the Azure portal to more clearly communicate certificate creation failures (on both initial create and subsequent renewals). Issues related to the CAA records will have additional details about allowing digicert.com to issue the certificate. Thank you for the feedback!

[2021-05-25 05:33] Skleni commented on #425
@escudero Yes, that was the only change. This is my configuration:

[code]

[2021-05-25 06:07] JonSilver commented on #438
OK @anthonychu many thanks for the clarification regarding responseOverrides vs navigation Fallback.

May I suggest that whilst there's a risk of customers finding one of the copious references to earlier practices, it may be better to take an explicitly declarative approach in your own authoritative documentation, rather than one of omission. In other words, instead of removing all references to

[2021-05-25 15:22] diberry opened #439 "Is function private or public in SWA?"
If I creata a function app in the /api directory as part my SWA, is that function private only to the client request or is it publicly available if someone knows the correct URL/PORT?

[2021-05-25 16:58] anthonychu commented on #439
Public. You can add auth if you want to lock it down some more.

[2021-05-25 18:20] escudero commented on #425
Thank you,
It was missing the `nameClaimType` property.

[2021-05-25 18:23] craigshoemaker commented on #50
Please be aware that the _routes.json_ is deprecated. Routes, overrides and general configuration of a Azure Static Web Apps are now powered by the [staticwebapps.config.json](https://docs.microsoft.com/azure/static-web-apps/configuration) file.

[2021-05-25 18:31] amilcarvalho-dev opened #440 "Cannot restore nuggets from private feed"
Publishing a Azure static web app failes when restoring private nuggets.Here is the error:

/tmp/oryx/platforms/dotnet/5.0.202/sdk/5.0.202/NuGet.targets(131,5): error : Unable to load the service index for source https://pkgs.dev.azure.com/xxxx/_packaging/xxxx/nuget/v3/index.json. [/working_dir/src/Client/Client.csproj]
/tmp/oryx/platforms/dotnet/5.0.202/sdk/5.0.202/NuGet.targets(131,5): error :

[2021-05-25 18:43] escudero opened #441 "Using VPN in SWA"
Hello,
Is it possible to use Static Web App on VPN?
Because I can't find the network configuration in Azure for SWA.

Thanks,
Escudero

[2021-05-25 18:59] craigshoemaker commented on #438
@JonSilver - thanks for your help on the docs!

I went down the list of results that appear in the search you provided and have added comments to any articles where possible, and contacted blog authors on Twitter in an attempt to update their content (or at least mention that the _routes.json_ file is deprecated).

I'll also make sure we get a PR out to any other doc sets for 3rd party tools that

[2021-05-25 19:33] diberry commented on #439
I would rather have my API private by default. I don't think most people would expect the API of the SWA to be public by default. Would this be a private endpoint or a firewall issue?

[2021-05-25 20:00] anthonychu commented on #439
Can you explain what you mean by “private”? I think the expectation from customers is that these are public, as they need to be called by clients on the public web. However, auth can be enabled, and we are working on options to limit access to the entire static web app.

[2021-05-25 20:53] diberry commented on #439
I was thinking that my SWA's only public endpoint would be the front/client portion with a private link to the Azure Function. As a SWA, I don't need the Azure Function API to be public because the connection between client and API is proxied (yes?).

[2021-05-26 03:06] afogarty85 opened #442 "How to restrict access to static web-app to team members only?"
How might I go about restricting access to individuals on my team that are in Azure Active Directory? I would like to host team information on a website that we can all contribute to and build out.

[2021-05-26 13:29] mauve opened #443 "Region availability"
Now that Static Web Apps is GA, I expected more regions to be supported as well, however I am presented with this when trying to deploy to `northeurope`, we need `northeurope` because of data residency laws*:

[code]

* = for simplicities sake we have all our resources in the same region and I would prefer not to mix resources from different regions

[2021-05-26 13:32] mauve opened #444 "How to get `deployment_token` using CLI or ARM template?"
To automate stage setup and deployment I would like to be able to get the `deployment_token` using the `CLI` so that I can acquire the token in my pipeline before I deploy from Azure DevOps.

I couldn't find a way to do that.

Even better of course would be if I could just use my AAD credentials instead of a special credential to do my deployments.

[2021-05-26 13:46] afogarty85 commented on #442
This actually solved my issue: https://github.com/Azure/static-web-apps/issues/58#issuecomment-643057290

[2021-05-26 13:46] #442 closed

[2021-05-26 13:56] anthonychu commented on #444
There’s no Azure CLI command for token management yet but it’s tracked here and you can see the `az rest` command that you can use for now to retrieve the token: https://github.com/Azure/azure-cli/issues/16470#issue-782483120

The request for authenticating using service principal is here but not something we have committed to add yet: #312

[2021-05-26 14:03] anthonychu commented on #443
Azure Static Web Apps is a global service and there are no data residency guarantees. The location only dictates where the API and staging environments are hosted. If you’d like to use a function app in a region that is not supported or want full control of your function app, our current recommendation is to [bring your own function app](https://docs.microsoft.com/en-us/azure/static-web-apps/funct

[2021-05-26 20:21] mizrael opened #445 "calling Azure Function from Static Web App"
hi All,
I've created a Blazor Wasm project and I've deployed it as Static Web App. The Azure Portal automatically created the GitHub workflow for me, and everything worked fine.

Now I'm trying to add a Function App. I've created a .NET 5 isolated app and updated the deployment configuration to point to the right folder. I can see the Function showing up in the "Functions" blade. So far so good.

[2021-05-26 20:27] mauve commented on #443
Thanks for clarifying.

[2021-05-26 20:27] #443 closed

[2021-05-26 21:23] MPiwowarski opened #446 "Deploy ReactJs Azure Static Web App based on Azure DevOps git repo via Azure CLI"
I have already created a [query on StackOverflow](https://stackoverflow.com/questions/67702715/deploy-reactjs-azure-static-web-app-based-on-azure-devops-git-repo-via-azure-cli/67710960#67710960) but then I came to the idea to open a new issue here to get some more help as so far I haven't received any valid solution to my problem.

TLDR; when I try to run the following command via Azure CLI:
`az s

[2021-05-26 21:23] adamtay opened #447 "Unable to push to SWA from Github Actions"
Hi,

We have a React/.NET application deployed via GitHub Actions to SWA.

As of 12hrs ago from this time of post, we have not been able to successfully complete the deployment process. We did note some outages/downtime for GitHub Actions that was tracked through GitHub Status but there are currently no known issues.

The build log is as below. Is this related to SWA itself? The actual building of

[2021-05-26 21:26] miwebst commented on #447
This particular error signature usually implies that the Function app is unable to start. We are working on improving this error message with our next release. Have you made changes to the function app since the last successful deployment?

[2021-05-26 21:29] adamtay commented on #447
We bumped from free tier to paid tier yesterday. Could that be it?

[2021-05-26 21:33] miwebst commented on #447
It shouldn't be, if you haven't changed anything with your .NET functions then we will need to take a deeper look. Do you mind providing your defaulthostname or some other way to identify your app?

[2021-05-26 21:36] adamtay commented on #447
https://icy-river-0a3fa0100.azurestaticapps.net/

[2021-05-26 23:32] anthonychu commented on #445
.NET 5 isolated function apps are not supported at this time if you use the function app that is built into Static Web Apps. Can you confirm that it is indeed a .NET 5 app?

As for local debugging, you would following the same steps as indicated [here](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=react#run-the-frontend-and-api-locally). Instead of `npm run build`, run `dotne

[2021-05-26 23:36] anthonychu commented on #446
We currently don’t support automatically creating Azure DevOps pipelines. This is the supported path for using Azure DevOps: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops

[2021-05-26 23:38] miwebst commented on #441
Hi @escudero how are you looking to restrict the SWA? Are you looking to restrict what ip's can access it? Or are you looking to be able to only access it through a particular Azure virtual network?

[2021-05-26 23:38] mizrael commented on #445
yes, my bad. I initially deployed a .NET 3.1 version, which worked fine. Then updated it to 5 locally and "forgot" to push the changes. Too much excitement, things were going too well :D

I'll try the debugging instruction as suggested and keep you posted. Thanks!

[2021-05-26 23:43] sayanghosh123 commented on #447
Thanks @adamtay

Hi @miwebst Thanks for jumping in to this. This is blocking our release at a critical juncture in our project so any help will be super appreciated.

[2021-05-26 23:49] miwebst commented on #447
Can you double check that you are not using an app settings from this list? https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints

I confirmed it is a problem with the function deploying. If you are not using any of these we can take a deeper look.

[2021-05-26 23:53] miwebst commented on #439
There is no private link to the Azure Function, to ensure it cannot be accessed publicly you should set the authLevel to be `function` in your _function.json_.

[2021-05-27 00:05] MPiwowarski commented on #446
Is there a way to set up some kind of public voting thing for a community to support the Azure Cli deployment in the future for Azure DevOps repos the same as it [actually works for GitHub](https://docs.microsoft.com/en-us/azure/static-web-apps/get-started-cli?tabs=react#create-a-static-web-app)?

[2021-05-27 00:07] adamtay commented on #447
Nothing from that list and I believe Azure portal enforces those constraints so that you cannot add them as app settings.

[2021-05-27 00:14] miwebst commented on #447
Hmm, are you sure you aren't using AzureWebJobsStorage? That is what we are denying.

[2021-05-27 00:16] sayanghosh123 commented on #447
Hi @miwebst - I took a look and doesn't look like we don't use any of these. Here is a screenshot of what we have.

![image](https://user-images.githubusercontent.com/11399751/119746047-dc197e80-bed2-11eb-826e-e73f681b3ff8.png)

[2021-05-27 00:17] miwebst commented on #447
Right, AzureWebJobsStorage is 3rd from the bottom and not allowed.

[2021-05-27 00:18] sayanghosh123 commented on #447
Thanks - let me work with my team to understand.

[2021-05-27 00:42] adamtay commented on #447
@miwebst removing `AzureWebJobsStorage` did the trick. Not entirely sure how that got there in the first place but appreciate you working with us to get it resolved. Thanks and will close the issue.

[2021-05-27 00:42] #447 closed

[2021-05-27 00:59] anthonychu commented on #445
We're investigating supporting newer .NET versions. Tracking that here: #375 . No ETA but we're hoping to have this ability before .NET 6 is GA.

[2021-05-27 04:03] plamber opened #448 ""Incrementally" deploy the Azure Static Web app"
Hello,
we are using the Azure Static Web Apps in combination with React Apps. Like most of the React Applications we are using [code splitting](https://reactjs.org/docs/code-splitting.html#:~:text=Code%2DSplitting%20is%20a%20feature,be%20dynamically%20loaded%20at%20runtime.) to bundle our resources.

The default webpack configuration in Create React App (and best practice) is to hash your assets.

[2021-05-27 04:40] KP1980 opened #449 "ng build is failing with error TS2307"
AzureStaticWebApp step is failing while building angular app with following error even though module path exists in parent directory:

ERROR in src/app/app.module.ts:8:41 - error TS2307: Cannot find module '../interceptor/browserstate.interceptor'.

8 import { BrowserStateInterceptor } from '../interceptor/browserstate.interceptor';

[2021-05-27 05:59] anthonychu commented on #449
You might need to provide more information because it’s hard to debug with just this error message. But can you check the casing of the filename of the module you’re importing? The build runs on Linux so filenames are case sensitive. For instance if the file is actually named `browserState.interceptor.ts` (capital `S`), your import also needs to have a capital `S`.

[2021-05-27 08:43] sajeetharan opened #450 "Azure DevOps git repo via Azure CLI : Command group 'staticwebapp' is in preview and under development."
**Describe the bug**
I came across this question in a forum on how to deploy a react application to Azure static web apps with Azure Devops.

**To Reproduce**

Execute the following command,

[code]

`az staticwebapp create -l westus2 -n appNameTest1 -g TestPrEnvResourceGroup -s "https://dev.azure.com/myOrganisationName/myProjectName/_git/myRepoName -b "main" --token "generatedTokenValuefwfsdgsgsd

[2021-05-27 14:44] KP1980 commented on #449
@anthonychu yes, you are right. It was a case issue. The folder name was starting with upper case "Interceptor" and it was starting with lower case in the import statement as you see in the error message. The issue is resolved after changing the case to match the folder name and the import statement.
Thank you!

[2021-05-27 17:36] escudero commented on #441
Hi @miwebst,
Only through a particular Azure virtual network.

[2021-05-27 18:19] kkankala commented on #139
Hi, I have a nextjs app without azure function. Oryx is able to successfully build 5k pages and created around 11k files(file explorer count).
I'm getting error that it exceeds 10k limit.
`The content server has rejected the request with: BadRequest
Reason: The number of files in the app content folder exceeds the limit of 10000.
`

Is there any workaround for this?

[2021-05-27 22:42] mkarmark commented on #382
Hi @jahlen, thanks for bringing this to our attention! We are looking into this and will post here when we have a fix for this out. Thanks for your patience!

[2021-05-27 23:27] miwebst commented on #450
Hey @sajeetharan,

As mentioned in this issue (https://github.com/Azure/static-web-apps/issues/446) setting up DevOps is not currently supported. To use SWA with DevOps, you should create an empty SWA and then follow this tutorial: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops

The AZ CLI is over-enforcing the requirements, to create an empty SWA I was able to do it with th

[2021-05-27 23:29] miwebst commented on #448
Hey @plamber, this is a really interesting suggestion and definitely an improvement to the service. Let me sync with the team and decide on a path forward for enabling this!

[2021-05-27 23:58] afogarty85 opened #451 "Restricting access to Static Web App: Role Management and staticwebapp.config"
How can I restrict access to my static web app permanently? I seemingly have to re-issue codes to team members and myself through `Role Management` on a daily basis. My `staticwebapp.config.json` looks like this:

[code]

Thanks for your time and help!

[2021-05-28 02:58] #450 closed

[2021-05-28 03:43] miwebst commented on #448
So upon thinking about this further, I think there are 2 layers to this:

1. On content update, we currently change all etags even when we don't change content. This is wrong and forces clients to refresh their cache unnecessarily
2. On content update, we treat the update as atomic and remove any files that are no longer 'needed' after some time. We determine that a file is no longer needed if it

[2021-05-28 04:37] plamber commented on #448
Hi @miwebst,
Issue 1 is not directly affecting our scenario. The only drawback I see is increase of network bandwidth if you are deploying many times.

Changing the ETAGs is certainly a good idea for Frameworks that require a cache invalidation and do not handle it by their own like in React. In the classic React setup you have a sort of "guaranteed" invalidation based on filenames and the naming

[2021-05-28 04:49] plamber commented on #448
@miwebst

Something came into my mind that might be a nice addition to the issue 2.

When keeping the old files and uploading new ones you might come to the situation of having a lot of "garbage" files lying on your Static Web App. You could also solve this by deleting files that are older than x-days from the storage.

Let us imagine I am doing continuous deployments every day. This might add few

[2021-05-28 06:55] jahlen commented on #381
Hi! This works now. You can close the issue.

[2021-05-28 06:55] #381 closed

[2021-05-28 11:23] JonSilver commented on #435
In case it helps anyone else, here's my solution which temporarily persists the query string to local storage and then recovers it when the app is reloaded. I call `loginWithSavedState` to allow the user to login, and `recoverSavedState` from a `useEffect` hook in my `App.js`.

[code]

So I can set an `href` to a simple login URL from `prepareLoginUrl()`, or execute a login with saved state using

[2021-05-28 11:51] JonSilver commented on #438
Hi @craigshoemaker - that's OK, sometimes it's useful to get the consumer's view of what we create so we can see places where we can do better. Azure SWA is a great platform and deserves some great documentation. This is complicated by its genericity - its sheer suitability for the many diverse client-side libraries and frameworks which each have their quirks and odd environmental requirements. Bu

[2021-05-28 13:03] Zhiyuan-Amos opened #452 ".NET 6 Preview 4 & Blazor WASM AOT Compilation"
Hello! When will .NET 6 Preview 4 be supported? Also, will AOT compilation be supported through some sort of configuration? 😄

[2021-05-28 20:44] miwebst commented on #448
Yes I think this ask makes sense. We will need to think more about supporting this scenario. Just curious, what would be your expectation for allowing old clients to refresh? 1-day, 7-days, 30-days?

[2021-05-28 21:49] anthonychu commented on #452
This is blocked by: https://github.com/dotnet/sdk/issues/17865

A workaround is to run the build on Windows, like this: https://github.com/anthonychu/ConwayBlazor/blob/3460b8877f05a9bf099e2e473def3f45dc8924fd/.github/workflows/azure-static-web-apps-orange-sky-00add8710.yml

Looks like this will be fixed in Preview 5. Created an issue to see if Oryx can build this automatically when Preview 5 is ou

[2021-05-28 21:50] miwebst commented on #139
Hey @kkankala, at this time there is no workaround. This limit will continue to be increased over time, just to confirm you are looking for the ability to upload 15k total files?

[2021-05-28 21:52] miwebst commented on #441
This will be achievable when private endpoint support is ready which should be around ~1-2 months from now.

[2021-05-29 05:37] #441 closed

[2021-05-29 06:05] plamber commented on #448
Hi,
Would rather go to 30, 60, or oven 90d. Maybe keeping it 30d default with the possibility to pass you a numeric value in the configuration. Maybe also passing -1 meaning that it should not delete the files at all.

I am thinking of users that are not reguraly visiting the site. Having just 7d is not fixing the problem.

Cheers

[2021-05-29 08:29] demo4life commented on #88
Maybe you can vote here: https://feedback.azure.com/forums/34192--general-feedback/suggestions/43528497-pricipal-id-static-web-app

[2021-05-29 18:55] MPiwowarski commented on #450
I created a request on the Azure community site to support this feature:
https://feedback.azure.com/forums/34192--general-feedback/suggestions/43530636-support-static-web-apps-with-azure-cli

Whoever wants it please give a vote guys!

[2021-05-29 22:38] anthonychu commented on #88
Thanks. Currently our guidance is to use the [bring your own function app](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) feature if you need managed identity in your function app. We do want to bring this to Static Web Apps’ built-in managed functions at some point but do not have an ETA.

[2021-05-30 08:48] cnotoham commented on #432
It's working now after many attempts and I also noticed that it now shows the validation errors rather than disappear from the list. Closing this issue now.

[2021-05-30 08:48] #432 closed

[2021-05-30 15:47] #424 closed

[2021-05-31 17:13] kkankala commented on #139
yes, that will work for now. Thank you @miwebst

[2021-05-31 17:41] deanleigh opened #453 "Installing Sass caused fail"
Installing Sass created package-lock.json containing:

{  "lockfileVersion": 1}

with error:

Error: Could not find either 'build' or 'build:azure' node under 'scripts' in package.json.

[2021-05-31 17:43] #440 closed

[2021-06-01 05:48] anthonychu commented on #453
@deanleigh We will need more information to help with this. Is this repo public? If not, can you share more information about the type of app this is and the contents of your package.json and GitHub workflow files, and more logs from the build? The error typically appears when a Node app is detected but you don’t have a build script defined.

[2021-06-01 07:45] deanleigh commented on #453
Hi Anthony,
The repo is public here:
https://github.com/deanleigh/staticWebApp01

This was the basic Static web app GitHub CI/CD example for Vanilla Javascript:
https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=vanilla-javascript

I ran a modern Sass - - watch command which I believe uses Dart Sass but I may have attempted to run or install npm at some point.

Deleting th

[2021-06-01 13:52] CodeAsAnInfrastructureGuy commented on #34
Is there a way for change the Header that Blazor WASM uses when using Authorization Message Handlers? By default, it puts the retrieved token into "Authorization" (as expected), but if I wanted to put it into "x-mm-authorization" for example to workaround this problem, can I easily override that?

If not, do I need to manually retrieve an access token and then use a standard HttpClient object with

[2021-06-01 19:36] GaryParr commented on #81
Is there an update for this? Custom AAD integration is now baked in and includes the ability to bypass invitations. I can't find any documentation on how to assign roles though when the invitation is bypassed. One would assume it would be some kind of claim mapping, say perhaps from security groups.

[2021-06-01 19:45] itpropro commented on #334
Thanks for documenting them @miwebst I will close the issue now :)

[2021-06-01 19:45] #334 closed

[2021-06-01 20:06] GaryParr commented on #200
Now that this is in GA, where do things stand? I see from documentation that we can add custom providers, and if you use a custom AAD provider you can bypass invitations.  The information on this is pretty slim at the moment, so how does it work?  If I use a B2C tenant does that _automatically_ bypass invitations?  If so, how are roles assigned? Does it pull roles from some B2C claim or are you re

[2021-06-01 20:23] GaryParr commented on #429
OK, so... perhaps I'm missing something but why can't we have access to the whole blasted B2C claim?  I understand SWA needs a single value to map into their existing clientPrincipal.userDetails property... but what's wrong with adding a clientPrincipal.providerClaim field that contains everything?  This would assist with other efforts as well, such as https://github.com/Azure/static-web-apps/issu

[2021-06-01 21:14] GaryParr commented on #415
I referenced issue #429 a moment ago. because, in my mind, passing the full claim token from B2C would dovetail nicely into this function idea by allowing people to map security groups (or other claim values) into roles. And since B2C can already be managed through Graph API, it seems to cover all bases.

[2021-06-02 03:20] irwinwilliams opened #454 "Unable to switch hosting plans"
I want to switch from Free to Standard hosting plans.
When I try to do so, I get this error:
![image](https://user-images.githubusercontent.com/1428703/120419126-d1764380-c32f-11eb-8c25-153b4191bd94.png)

I had initially chosen to configure my SWA to use Azure DevOps. Looks like I'll have to create a new app and point to a repo in GitHub instead.

[2021-06-02 03:30] miwebst commented on #454
Hey @irwinwilliams, this is something that is fixed in our upcoming release. I believe this is a duplicate of https://github.com/Azure/static-web-apps/issues/427, do you mind if we close this and use the other issue for tracking?

There is also a workaround we've posted there that you can try out.

[2021-06-02 03:35] #454 closed

[2021-06-02 06:50] jeroenvdmeer opened #455 "Allow for "deny by default" authorization"
All users of my application must authenticate before they can use the application. I solved this easily the following route: `{ route": "/*", allowedRoles": ... }`. However, due to reasons I need one page (callback.html) that is publically accessible. I was hoping that adding a route to make callback.html accessible for users with the [built-in role "anonymous"](https://docs.microsoft.com/en-us/az

[2021-06-02 06:51] irwinwilliams opened #456 "My staticwebapps.config.json file is downloadable from the browser."
I came to realize that maybe the SWA wasn't picking up my staticwebapps.config.json file, so on a whim I tried to access it via the address bar in the browser and it came down.
Went for gold and tried local.settings.json and that came down, too.
Have I misconfigured my static web app?
Feels pretty horrible that such a thing could happen.
(Creating this issue is making me also realize I don't have

[2021-06-02 07:15] irwinwilliams commented on #456
Oh, my spelling was bad, I had staticwebapps as opposed to staticwebapp. Carry on. :)

[2021-06-02 07:15] #456 closed

[2021-06-02 07:42] nils-ws commented on #455
You can, you'll just have to change the order of your routes. The explicit route needs to come before the wildcard one:

[code]

[2021-06-02 07:54] anthonychu commented on #453
Thanks. Looks like because the lock file exists, this is being detected as a Node app and the build is trying to run `npm install` and `npm run build` (or `npm run build:azure`).

@miwebst Is the only fix in this case either removing the lock file or creating a package.json with a build script that's a no-op?

[2021-06-02 08:06] adamtay commented on #92
Hi @miwebst and team. Has there been any movement on this topic as we are facing the exact same issue on the Standard tier of SWA which has since gone GA in May'2021.

Below are some screenshots of what we're facing on localhost vs Azure SWA Standard when doing a simple single table query against Azure SQL Standard - no intense calculation involved, just a straight API -> DB -> Response.

Localhos

[2021-06-02 10:35] jeroenvdmeer commented on #455
Ah you're right, @nils-ws. Thanks for pointing this out!

[2021-06-02 10:35] #455 closed

[2021-06-02 13:20] kkankala commented on #139
Hi @miwebst, do you have any timeline when the limit will be increased to 15k?

[2021-06-02 14:34] anthonychu commented on #456
Where do you have your function app located in your repo? Usually it’s under /api and its contents like local.settings.json are not accessible because that path is routed to the function app. local.settings.json is also in .gitignore by default. How did you create your function app? I want to see if we can improve that.

@miwebst can we search for this common misspelling during the build and raise

[2021-06-03 02:52] irwinwilliams commented on #456
So, I currently have it at root, but I had it in an /app folder at one point. My local.settings.json is also at root - I thought it would need to be there since staticwebapp.config.json refers to clientIdSettingName and clientSecretSettingName for my custom auth.
I made the function app in VSCode using the Azure extension for static web apps.

[2021-06-03 05:57] erikporter commented on #261
@PehrGit Thanks so much for the above solution. Had to modify it a bit, but this worked great for my scenario too (Deploy Blazor WebAssembly from Azure DevOps, but need a specific build/publish configuration)!

To tack onto what @PehrGit said, I think an even more generic scenario will be needed by people here, which is wanting to not use Oryx to do the build/publish for C# because you need to do

[2021-06-03 10:00] irwinwilliams opened #457 "401 on callback after login with Azure AD B2C custom OpenID Connect provider"
I've followed this thread, https://github.com/Azure/static-web-apps/issues/425 to no avail.

After I login, I get this screen:
![image](https://user-images.githubusercontent.com/1428703/120626711-ee467000-c430-11eb-96ab-20e61312b071.png)

Is there something AD B2C is doing that in the thread above Auth0 isn't doing? (Should I have created this on that Auth0 issue, too?)

Here's my staticwebapp.con

[2021-06-03 10:37] mauve opened #458 "Deployment fails with `CONFLICT` with user provided function even though the function is unchanged"
I am deploying via an ARM Bicep template.

To reproduce I performed the following steps:

1. deploy template with function app and static site => success
   1. verify that function app is correctly linked via portal
2. add incorrect function app deployment slot to template, deploy => failure (functionapp resource)
3. remove incorrect function app deployment slot from template, deploy => failure (s

[2021-06-03 13:00] mauve opened #459 "Cannot see Microsoft.Web/staticSites in resources.azure.com"
static sites do not turn up in resources.azure.com (nor does the provider)

[2021-06-03 13:40] mauve commented on #458
it turns out you don't even need to change anything, just deploy the same template twice and it fails

[2021-06-03 15:47] miwebst commented on #458
Hey @mauve, thanks for reporting this! @mkarmark can you take a look at this behavior?

[2021-06-03 15:50] miwebst commented on #451
Hey @afogarty85, seems like you are using deprecated `routes.json` properties in the `staticwebapp.config.json`. Please take a look at: https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#defining-routes

[2021-06-03 15:51] miwebst commented on #448
@anthonychu may be able to provide some guidance on available options here.

[2021-06-03 15:59] #437 closed

[2021-06-03 16:02] miwebst commented on #436
Hey @write2tsm, something doesn't seem correct here. If you are using an App Gateway in front of a SWA then you will want to attach the custom domain to the App Gateway rather than the SWA. The App Gateway can use the <something>.azurestaticapps.net as the backend host, but make sure to use https for that backend host.

[2021-06-03 17:52] mauve commented on #458
I edited the attached bicep so that you should be able to deploy it directly against a resource group to repro.

[2021-06-03 17:56] miwebst commented on #139
We are working on the change now, should be available in a week or two.

[2021-06-04 00:19] anthonychu commented on #448
I think this is better solved by using built-in capabilities in frameworks like error boundaries in React to catch the exceptions when the bundles have disappeared and act accordingly, such as reloading the app.

This should only be an issue when an app is open and you navigate to a route that attempts to download a bundle that's already gone. /index.html shouldn't have a long cache expiry, so fol

[2021-06-04 01:57] plamber commented on #448
Hi @anthonychu,
after all the issues we encountered in the Teams client we implemented an error boundary as suggested in [this](https://mitchgavan.com/code-splitting-react-safely/) post.

Do you have some other suggestions how to ensure that this becomes failsafe?

Thank you for your feedback,
Patrick

[2021-06-04 02:45] bmaruyama commented on #417
This flexibility is certainly useful, but Azure State Web Apps hangs its hat on its ease of use. So, having to manage Azure Functions deployment separately and having it only supported in production adds a few extra hurdles to an otherwise excellent product.

[2021-06-04 02:46] #417 closed

[2021-06-04 10:53] tribalsarthur commented on #448
We are considering using a static web app to host some html reports from tools like JMeter and Cucumber so that we can securely and conveniently share the output of build pipelines with testers.

It would be really helpful to be able to upload new static content without removing the existing content.

Otherwise each pipeline has to download all the other reports that should still be on the site an

[2021-06-04 14:44] anthonychu commented on #448
@tribalsarthur Can you use a separate branch/repo for the static web app? Your pipelines can use git to pull, add the files, and push to deploy new test results.

[2021-06-04 16:15] schutztj commented on #165
I'm hitting the same issue trying to use a functions endpoint for handling the OAuth2.0 flow.  Another possible work around would be to change the `response_mode` in your auth request to `form_post` which will move all of the query parameters into the body of a POST request instead.

https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html

[2021-06-04 19:57] mkarmark commented on #459
Hi, this is something we are working on that should get updated soon. Is there something you are blocked on without access to resources.azure.com?

[2021-06-04 20:58] mkarmark commented on #457
Hi, thanks for bringing this to our attention. We are working on this issue and will post here when we have updates to share!

[2021-06-05 04:26] freshcutdevelopment opened #460 "Add support for wildcard subdomains"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to set up a multi-tenant web app using Azure static sites that uses one domain per tenant.

**Describe the solution you'd like**
Ideally, I'd like to be able to set up a wildcard domain entry (for example *.saas.app). That way I can run one subdomain per tenant in my multi-tenant SAAS application for exam

[2021-06-05 09:44] victorp13 opened #461 "Cannot find Static Web Apps in "All services"'s searchbox"
The Azure portal has a "All services" section, but typing "static" into the searchbox above does not lead to any result.

![image](https://user-images.githubusercontent.com/1854749/120887465-5e045880-c5f3-11eb-9e2c-9cd82e8ae7d3.png)

[2021-06-05 14:55] dondracek commented on #5
I'm trying to deploy my built app to static webapps using the release pipeline, but I keep getting the error

[code]
This is my task yaml:
steps:
- task: AzureStaticWebApp@0
  displayName: 'Deploy static app'
  inputs:
    app_location: '$(System.DefaultWorkingDirectory)/app/dist'
    output_location: '$(System.DefaultWorkingDirectory)/app/dist'
    skip_app_build: true
    azure_static_web_apps_a

[2021-06-05 15:24] anthonychu commented on #92
You can now use the [bring your own function app](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) feature to use Premium plan functions.

[2021-06-05 23:07] anthonychu commented on #461
Thanks we'll look into this. /cc @ehamai

[2021-06-05 23:24] anthonychu commented on #5
@dondracek The `app_location` is relative to the working directory. It might not behave properly if you include the full path (`$(System.DefaultWorkingDirectory)`).

`output_location` is relative to the `app_location`. It's not required unless the task is building the app.

Looks like you simply want to deploy some files that have already been built. Your config should look something like this:

[

[2021-06-05 23:25] anthonychu commented on #5
Closing this issue. Please create new issues for help or feature requests.

[2021-06-05 23:25] #5 closed

[2021-06-06 02:16] irwinwilliams opened #462 "Do static web apps support query strings?"
Hi there,
A really simple test I did was to just stuff query string parameters on to html pages as I make requests and I'm realizing that this leads to 404 errors.
Can you confirm if no-query-string support is a feature or a bug?

[2021-06-06 06:43] anthonychu commented on #462
I’m unable to reproduce this. Can you please provide more details?

[2021-06-06 10:35] dondracek opened #463 "Mount error while deploying SWAPP from release pipeline"
Hi,
I've been trying to do a deployment from a release pipeline by using the preview "Build and deploy an Azure Static Web App" Preview task (v.0.187.1). The app is already built using a build pipeline, so I only want to push it to the azure web app.
I already tried a lot of setting, but I always get the following error:
[code]

[2021-06-06 10:37] mauve commented on #459
I am trying to write ARM Bicep templates and the ARM reference contains no information (and export templates not supported yet), so I am trying to figure out what I should put in my templates.

[2021-06-06 12:59] Zhiyuan-Amos opened #464 "Facebook as Authentication Provider"
Hello! I noticed that Facebook is no longer an authentication provider since Azure SWA went GA. However, I'm still able to set Facebook as an authentication provider on Azure Portal:

![image](https://user-images.githubusercontent.com/19281514/120925169-ed039480-c709-11eb-831f-6fa5b680139f.png)

Would like to check if Facebook is still supported, thanks!

[2021-06-06 15:23] irwinwilliams commented on #462
Sure, I noticed afterward that it worked on the .azurestaticwebsites.net site, but not in my local dev env.
Here's a request handling it fine:
![image](https://user-images.githubusercontent.com/1428703/120930022-7b035f00-c6b9-11eb-94d6-4083db31ac3e.png)
Same request with a query string:
![image](https://user-images.githubusercontent.com/1428703/120930047-9cfce180-c6b9-11eb-85d9-926042323d07.png)

[2021-06-06 15:25] irwinwilliams commented on #457
Thanks @mkarmark, willing to try workarounds if any are available in the meantime.

[2021-06-06 17:00] anthonychu commented on #462
Thanks. We’ll transfer this issue to the CLI repo and address is there.

[2021-06-06 21:41] lenisha opened #465 "Remove Header in proxies.json"
currently if trying to use Static site to secure access to Blob Storage with proxies functions, it passes Authorization header in a format that storage does not accept,
tried to re-write with sas token , but it fails with error 400 - incorrect Authorization header format
[code]
Setting in proxies.json header to empty does not help:
"backend.request.headers.Authorization": ""

Is there a way to rem

[2021-06-07 05:21] anthonychu commented on #464
While Facebook and Google may be functional, they are not currently supported in GA. Thanks for pointing it out here. We'll update this UX accordingly.

[2021-06-07 05:35] lenisha opened #466 "ManagedIdentity does not work for C# Managed API"
**Describe the bug**
Trying to get Managed Identity Token in Managed C# API using `Azure.Identity1 package.

- System Managed Identity enabled on SWA
- Code in Function API
[code]

Failure **- ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found.**

[code]

[2021-06-07 05:49] anthonychu commented on #466
Managed identity is currently unavailable in the function apps provided by Static Web Apps. Please use the [bring your own function apps](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) feature (enable and use the managed identity in the function app).

[2021-06-07 08:30] adamtay opened #467 "Request size over 30MB returns status code 413"
We have a function responsible for uploading files into blob storage using a form-data request.

What we're noticing is when the request size is over 30MB, SWA is returning status code 413, request entity too large. This issue is not seen when running the functions locally.

Are there any restrictions on the request size when running SWA and can it be configured?

[2021-06-07 14:19] TellonUK commented on #457
Is this a general outage? I notice code written previously no longer works.

[https://github.com/TellonUK/azureswa](https://github.com/TellonUK/azureswa)

[2021-06-07 14:25] mud1 commented on #463
Hi, I am trying to do the same and face the exact same issue. Did you find a solution?
What I want to achieve is that the Azure DevOps build pipelines do the build, publishes the artifact (called drop for example), and then in the Releases the Deploy Azure Static Web App (Preview) task is used only for deploying to Azure Static Web App.
In the `app_location` input I used the drop folder with no lu

[2021-06-07 16:01] dondracek commented on #463
Hi @mud1 ,
Currently we've managed to get it working by using a bash script:
[code]

you will need the four variables defined (actually you could put all the 3 WORKDIR, ARTIFACTNAME and DISTFOLDER into one single variable).
This works well for me, however doesn't feel right, as any change to the underlying staticsitesclient will lead to a break, that's why I would like to have this issue solved us

[2021-06-07 16:23] mkarmark commented on #467
Our platform currently has a limit of 30MB on the request size which is why you are seeing the 413 response. We can work to see if this can be configurable and post here if we have any updates.

[2021-06-07 16:26] colinrippeyfinarne opened #468 "Publish a Blazor Static Web App using an Azure DevOps pipeline"
Hi,

I am hoping this is an easy fix.

I have followed the steps in the Deploy Blazor tutorial and all is well, my github action successfully deploys the repo to the website and I can click the Fetch data link and get results returned from the api.

https://docs.microsoft.com/en-gb/azure/static-web-apps/deploy-blazor

I have tried to replicate this using only Azure DevOps pipelines. I've imported

[2021-06-07 16:27] mkarmark commented on #457
Yes, this is a recent regression that will be experience intermittently, that we are actively working to fix in the next couple days. Will post here when the fix is out :)

[2021-06-07 16:59] #468 closed

[2021-06-07 16:59] anthonychu commented on #468
The build runs on Linux and the file system is case sensitive. Can you change `api_location: 'api'` to `api_location: 'Api'`?

There should be no need to override the build commands for either api or app build as the task is capable of detecting and building Blazor WebAssembly and .NET Core 3.1 function apps, you can remove those lines.

[2021-06-07 17:00] colinrippeyfinarne commented on #468
Thanks @anthonychu I just noticed this and closed the issue, but good to know there's no need to add any custom build steps too.

[2021-06-07 17:31] afogarty85 commented on #451
Thanks for your time and assistance! I am still having some issues and hoping that maybe you can more specifically advise me on what I should do.

Using a lightly edited version of a complete `staticwebapp.config.json` from https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#example-configuration-file, which looks like:

[code]

This lets anyone in AAD access to my website when, f

[2021-06-07 17:35] dan-eversen commented on #392
@anthonychu Thanks for pointing me in the right direction! It looks like that script could be simplified a bit by taking out those specified Static Web App env variables (i.e., `[[ ! -z "$SWA_APP_LOCATION" ]] && params+=(-e "INPUT_APP_LOCATION=$SWA_APP_LOCATION")` and simply grabbing all of the variables while utilizing an exclusion list, as you suggested. Something like this:

[code]

@miwebst @s

[2021-06-07 17:47] qianz2 commented on #452
@anthonychu We recently supported .NET preview 4, it should be available through dynamic installation now.

[2021-06-07 19:16] adamtay commented on #467
Thank you @mkarmark. Would this limitation also be applicable for BYO functions?

[2021-06-07 19:49] anthonychu commented on #467
@adamtay For file uploads to Storage, our guidance for Azure Functions is to use a function to generate a time-limited, scoped, SAS that the client can use to directly interact with Storage. This applies to Static Web Apps API functions as well.

See the links below for more about how to generate a SAS:
https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview#when-to-use-a-shared

[2021-06-07 20:11] adamtay commented on #467
Thank you @anthonychu. This is great information.

We were looking into SAS as a solution as well but what our application is doing is essentially a form that saves multiple files (up to 10mb each) on form submit rather than a per image basis.

From what I understand, the SAS token is only applies for per image upload rather than bulk upload?

[2021-06-07 20:31] mkarmark commented on #467
@adamtay Yes this limit would apply to bring your own functions as well

[2021-06-07 20:55] sayanghosh123 commented on #467
Thanks @mkarmark. We will wait to hear back from you if this is configurable as it is blocking our use case as @adamtay has mentioned.

[2021-06-07 22:09] scottyb86 commented on #460
Hello,

We have hit up against a similar issue in our investigation of whether we can adopt Azure static web apps for a couple of our portals. We also use subdomains to handle multi-tenancy. Being able to set up a wildcard domain entry would be a great feature!

Thanks

[2021-06-07 22:42] gavinwilliams opened #469 "Application Configuration no longer accepts names with a colon"
**Describe the bug**
Adding an application setting with a colon (:) in the name now throws an error in the Applications Configuration page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to your app Configuration
2. Add a setting with the name **This:MakesNoSense**
3. Set a value of **Test**
4. Press OK
5. Press Save

**Expected behaviour**
The settings save, as there are a number of .N

[2021-06-07 23:03] DaveMiscampbell commented on #457
Confirming I have the same issue - is there anything we can do to mitigate in the meantime?

[2021-06-07 23:10] gavinwilliams commented on #469
Managed to get around this by using double _ i.e. **This__MakesNoSense**. I feel like this change should be documented somewhere, given that using colons has been working fine until today.

[2021-06-07 23:25] mkarmark commented on #469
@craigshoemaker Could we specify in the docs that we only support alphanumeric characters, '.', and '_' for app settings? @gavinwilliams I believe we've had this rule in place for a while now. Do you have the last time you made a successful change with a ':'?

[2021-06-07 23:26] mkarmark commented on #467
I just checked with the team and we don't have plans for making this configurable. Would it be possible to chunk the request to get unblocked?

[2021-06-07 23:30] gavinwilliams commented on #469
A little over a month ago

[2021-06-08 06:42] Skleni commented on #419
The documentation currently says "Only supported in the Static Web Apps production environment". What exactly does that mean? Do all SWA slots use the prod slot of the Function app?

[2021-06-08 10:18] GeorgeAdamon opened #470 "DocFX Build and Deploy Action"
Hello,
I'm having trouble publishing a documentation website generated by DocFX to Azure Static Web Apps, following the step-by-step wizard.

**Problem**
Attempting to build and deploy a static DocFX web site using the step-by-step guide in Azure Portal currently fails at the github workflow "Build And Deploy" step, using `Azure/static-web-apps-deploy@v1`.

At the same time, for other doc generato

[2021-06-08 13:43] Zhiyuan-Amos opened #471 "Unable to Logout"
**Describe the bug**
See issue title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://orange-island-0901fe000-59.eastasia.azurestaticapps.net/
2. Log in with an Azure AD account
3. Go to https://orange-island-0901fe000-59.eastasia.azurestaticapps.net/.auth/logout
4. User is still logged in

**Expected behavior**
User should be logged out

**Additional context**
1. The `logout`

[2021-06-08 15:23] anthonychu commented on #419
“Only supported in the Static Web Apps production environment” means you can only link a function app to the production environment of a static web app (i.e., not staging environments).

In addition, we don’t currently support linking a function app’s non-production slot.

[2021-06-08 15:29] Skleni commented on #419
Thanks for the reply. What happens to the SWA's other slots when I link a function app? Do they also access the function app's production slot? Do they have no backend at all?

[2021-06-08 16:25] anthonychu commented on #419
Currently staging environments would have no backend at all. We're working through some designs on how we can better support BYO functions in staging environments.

[2021-06-08 16:36] anthonychu commented on #471
Looks like the service worker might be messing things up here. I haven't tried this but I think you might need to exclude server-side paths: https://docs.microsoft.com/en-us/aspnet/core/blazor/progressive-web-app?view=aspnetcore-5.0&tabs=visual-studio#support-server-rendered-pages

[2021-06-08 16:43] anthonychu commented on #465
As mentioned here https://github.com/Azure/Azure-Functions/issues/1930, this is not supported by proxies at this time. We have a separate issue regarding the authorization header here: https://github.com/Azure/static-web-apps/issues/34

[2021-06-08 17:52] Skleni commented on #419
Thanks for the clarification.

[2021-06-08 22:05] mkarmark commented on #457
This issue should now be fully mitigated. Can y'all confirm that your apps are in fact unblocked now, and I can close this issue. Thanks for your patience!

[2021-06-09 07:46] Zhiyuan-Amos commented on #471
Thanks for pointing me into the right direction Anthony! :)

[2021-06-09 07:46] #471 closed

[2021-06-09 08:14] vangelkolarov-actioncamvideo commented on #348
Hi guys, I'm facing the same **Deployment Failed** issue. I created a couple of similar projects but after a few commits, I started getting this error and I can not continue working on the projects. Here are the actions from the public repo: [https://github.com/vangelkolarov-actioncamvideo/clone-of-blazor-starter/actions](https://github.com/vangelkolarov-actioncamvideo/clone-of-blazor-starter/acti

[2021-06-09 08:39] liprec commented on #470
Hi @GeorgeAdamon,

You can take a look at my GitHub action script: the build output of DocFx is in the `_site` folder and AFAIK DocFx 'needs' a Windows agent and the SWA task needs a Linux host, hence the reason of the upload and download of the artifact.

[code]

[2021-06-09 09:58] GeorgeAdamon commented on #470
@liprec Works.Like.A.Charm !
Thanks a lot for sharing this, invaluable.

[2021-06-09 13:59] Phhansen opened #472 "Azure DevOps release pipeline artifact issue"
If you would like to file an issue for the Static Web Apps CLI, please do so here: https://github.com/Azure/static-web-apps-cli/issues

**Describe the bug**
Using the Deploy Azure Static Web App task in the release pipeline does not work with an artifact.

The error we're seeing in the docker part of the task is:
[code]

**To Reproduce**
the output of our yml task: (omitting customer name and toke

[2021-06-09 16:22] TellonUK commented on #457
All my sites are working now.

[2021-06-09 19:18] mkarmark commented on #472
@Phhansen  we are currently investigating this issue. Do you mind sharing your full build logs with us?

[2021-06-09 19:19] mkarmark commented on #472
https://github.com/Azure/static-web-apps/issues/463 appears to be on the same issue, so we can use that one for communication going forward, and I'll make this one as a duplicate

[2021-06-10 06:18] Phhansen commented on #463
@mkarmark

Answering your question from the other issue, the only yaml I can pull out of the **release pipeline** was the one provided.

The release pipeline is triggered by an artifact from our build pipeline that runs on merges. The build pipeline just copies the artifacts over to the staging area.

How much of this would be needed? The artifact is basically the dist folder for the app, so just

[2021-06-10 06:32] mauve commented on #458
any update?

[2021-06-10 07:03] irwinwilliams commented on #457
Confirming it works for me, @mkarmark
Many thanks, team!

[2021-06-10 07:03] #457 closed

[2021-06-10 16:32] leongus1 opened #473 "Oryx built the app folder but was unable to determine the location of the app artifacts. Please specify the app artifact location through the GitHub workflow file."
If you would like to file an issue for the Static Web Apps CLI, please do so here: https://github.com/Azure/static-web-apps-cli/issues

**Describe the bug**
im building a Django app and trying to deploy and getting the error below:
"Oryx built the app folder but was unable to determine the location of the app artifacts. Please specify the app artifact location through the GitHub workflow file."

*

[2021-06-10 16:46] mkarmark commented on #473
I notice in the yaml that you specified "app_location: "/coversheet_project/"" but in the build logs I see "App Directory Location: '/' was found." making it seem as if the app_location override was not read in. That might be the root of the build issues. Does coversheet_project exist? and can you verify that app_location is in the right place in the file per the docs? (You can also attach a copy

[2021-06-10 23:35] superhp commented on #373
Hi. @miwebst. Is there any status update regarding the access restrictions to SWA? And will it be possible to apply the restriction separately for production and staging environments (in case we want production to be publicly available while staging/test environments private)?

[2021-06-11 00:41] Zhiyuan-Amos opened #474 "Service Worker seems to interfere with Authentication"
**Describe the bug**
Users that are automatically logged out of my Blazor WASM PWA are still able to access the web pages, even though they are not allowed to as configured in `staticwebapp.config.json`. I investigated and it seems that the Service Worker is interfering as it returns a cached view of the page despite being connected to the Internet.

**To Reproduce**
Steps to reproduce the behavio

[2021-06-11 00:49] anthonychu commented on #474
The service worker is part of Blazor. Perhaps they can help you in the aspnet repo.

[2021-06-11 02:34] #474 closed

[2021-06-11 03:06] leongus1 commented on #473
I was not aware that Static Web Apps dont run app servers. I will use App Service instead. thanks to both of you.

[2021-06-11 03:06] #473 closed

[2021-06-11 11:38] stunney commented on #397
I just hit this issue on a private repo

[code]

[2021-06-11 13:28] stunney commented on #192
How was this resolved?

[2021-06-11 15:00] ernani opened #475 "[FEATURE] Allow custom certificates in Static Web Apps"
Some customers uses a single corporate certificate chain and will want to be able to use it for this service as well as others, and managing different chains can become a burden, so, allowing them to customize the cert, perhaps even integrating that feature with azure keyvault is worth working on as a feature for Static Web Apps.

[2021-06-11 18:19] stunney opened #476 "An unknown exception has occurred while uploading"
During build/deployment of a very simple SWA, the pipeline throws error
```An unknown exception has occurred while uploading.```

Snippet:
I just hit this issue on a private repo. Upgrading the actions to @v1 did not help. Upgrading the static web app Hosting Plan from "Free" to "Standard" also did not fix the issue.

If anyone could assist, it would be appreciated.

[code]

[2021-06-11 19:00] mkarmark commented on #476
Could you provide us with the app name so we can start to look at our logs?

[2021-06-11 21:55] anthonychu commented on #427
We've identified the problem but will take some time to resolve it.

The above command might not always work. Please follow these steps if you want to change the hosting plan for an app that is _not_ using GitHub:

1. Disconnect the app from source control by running the following Azure CLI command:
[code]

1. Use the portal to change the app's hosting plan.

1. The above steps reset the app's dep

[2021-06-12 00:26] stunney commented on #476
fayyr-alpha
US East

[2021-06-12 01:43] sytone commented on #412
@anthonychu were you able to see the issue? It is still not publishing yet building fine locally.

[2021-06-12 15:46] anthonychu commented on #412
Sorry that got lost in my GitHub notifications. Do you mind re-inviting me?

[2021-06-12 16:08] sytone commented on #412
Invite sent.

[2021-06-12 23:48] anthonychu commented on #392
@dan-eversen Thanks for your suggestion and @yoursweater thanks for submitting the PR https://github.com/microsoft/azure-pipelines-tasks/pull/14968. We'll discuss the change there and see if this is something we can merge in.

[2021-06-13 00:49] anthonychu commented on #412
Thanks @sytone. I'm able to reproduce this in the Static Web Apps GitHub workflow.

However, I'm also seeing this when building the app locally by running `hugo` in the `hugo-blog` folder on macOS as well as on Linux in a Codespace. It just hangs forever. If you haven't already, can you try this yourself in a *nix environment?

[2021-06-13 04:44] sytone commented on #412
Just cloned to a new folder and installed hugo in WSL. No build issues. Also hugo server works fine serving the files.

sytone@HOMEDESKTOP:~/personal-blog/hugo-blog$ hugo
Start building sites …

                   | EN
-------------------+------
  Pages            | 279
  Paginator pages  |  34
  Non-page files   |  19
  Static files     |   0
  Processed images |   0
  Aliases          |  71
  Si

[2021-06-13 22:36] anthonychu commented on #412
I can confirm I'm using v0.83.1 as well.

I've also tried it in a docker container with the same result:

[code]

Possibly related to this issue: https://github.com/gohugoio/hugo/issues/8166

[2021-06-14 13:51] craigshoemaker commented on #140
@johnpapa - were you able to update the text in this unit?

@miwebst - Is this functionality addressed in the GA release by any chance?

[2021-06-14 14:05] johnpapa commented on #140
yes - the Learn module uses the VS Code extension which skips over this

[2021-06-14 14:18] anthonychu commented on #140
We don’t auto detect this right now.

[2021-06-14 20:58] sytone commented on #412
I removed the txt file and json files in content and the site build worked. Will look at how to add routes to site another way.

[2021-06-14 21:03] sytone commented on #412
I placed them in static and published and it is now working fine. Thanks. We can close this up.

[2021-06-14 23:37] afogarty85 commented on #451
Good Evening @mkarmark! I have lightly edited `staticwebapp.config.json` as follows:

[code]

The problem I have is, people can still get access to the website my manually adding `index.html` at the end of the URL, despite being sent to the custom forbidden page.

[code]

Any thoughts?

[2021-06-15 07:32] pingdong opened #477 "Vague error message"
Could someone kindly point where is the problem of the below bicep file?

I'm trying to deploy an empty SWA then deploy code using AzureStaticWebApp@0 later.

Bicep File

@minLength(3)
param project string
@minLength(3)
param environment string
@minLength(3)
param location string = 'eastus2'

param sw_sku string = 'Free'

// Static Website
resource website 'Microsoft.Web/staticSites@2021-01-01' =

[2021-06-15 14:51] igi-dawlin commented on #463
Having same problem.

That worked for me. Notice that I had to change: ` --volume "$WORKDIR"/"$ARTIFACTNAME"/"$DISTFOLDER"` to ` --volume "$(WORKDIR)/$ARTIFACTNAME/$(DISTFOLDER)":/root/build` the " where between the backslashes were causing me errors I also expand the variables in compile time

[2021-06-15 16:07] anthonychu commented on #463
This is possibly related to a recent bug in containerd: https://github.com/containerd/containerd/issues/5547

https://developercommunity.visualstudio.com/t/azure-pipeline-fails-with-oci-error/1444539

[2021-06-15 17:37] melono6 opened #478 "Routing: wilcard variables and fallback routes"
2 issues i am having with routing:

1. ability to use wildcard as a variable in the redirect/rewrite:
`{
    "routes": [
        {
            "route": "/resource/*",
            "rewrite": "/resource-new/:splat
        }
    ]
}`

2. Ability to have a fallback route where if i have an allowedRoles blocking access to a resource, if this route fails due to not being authenticated, to fallback to th

[2021-06-15 17:47] mkarmark commented on #477
I believe this has to do with the "properties" object being null in the resource. At the same level as "sku" and "location", try adding "properties":{}. I believe that will unblock you from that error.

[2021-06-15 17:53] mkarmark commented on #478
For 1. we currently don't have support for a :splat like operator in the routes object, though that's something we have considered adding in the future.

For 2. if the desired behavior is for not logged in users to redirect to the redirect page,, then would the following response override serve the purpose you are looking for?
[code]

[2021-06-15 18:01] melono6 commented on #478
Thanks for the reply

Yes that would help out in certain scenarios.

one scenario was I wanted to combine the 2 options above, eg:
`{
    "routes": [
        {
            "route": "/member/*",
            "allowedRoles": ["member"]
        },
        {
            "route": "/member/*",
            "rewrite": "/preview/:splat"
        }
    ]
}`

so that if the user was not logged in, i could rewr

[2021-06-15 21:04] datawatts opened #479 "500 error from Server on Auth Callback from B2C"
Using Azure AD B2C as an auth provider, I receive a 500 error upon callback. There are no logs (I do not use Functions). How can you debug with no server logs? My staticwebapp.conig.json is below.
The url response is of the form "../.auth/login/AzureB2C/callback?state=%2f.auth%2fcomplete&code=eyJraW....."

`{
    "auth": {
        "identityProviders": {
            "customOpenIdConnectProviders":

[2021-06-15 21:33] mkarmark commented on #479
We are working on surfacing these error logs to the customers but this will still take some time to set up. In the meantime, if you post your app name here, we can look up the logs on our end and let you know what went on.

[2021-06-15 21:35] mkarmark commented on #478
Currently yes, that would be the best way to achieve this. When we do end up supporting something like splat, we will keep this use case in mind and make sure that we address it.

[2021-06-15 22:40] pingdong commented on #477
Thanks for replying, I tried adding an empty properties{}, but it didn't pass the validation of AzureResourceManagerTemplateDeployment@3.

[2021-06-16 13:36] datawatts commented on #479
The app url is https://salmon-sand-037a58b10.azurestaticapps.net. I am using a custom domain if that makes a difference.

[2021-06-16 17:56] anthonychu opened #480 "Access hostname as environment variable during build"
**Is your feature request related to a problem? Please describe.**

Some frameworks and static site generators sometimes require the app's domain name during build time.

**Describe the solution you'd like**

Would be great to to make the following 2 variables available in the build:

- hostname (`happy-panda-123456789.azurestaticapps.net` or custom domain, or staging hostname)
- base URL (`https:

[2021-06-16 18:26] GeekTrainer commented on #480
Specific scenario:

[Astro](https://github.com/snowpackjs/astro), a static site builder, requires the base URL to generate the sitemap.xml file, which is done during build time.

(sample config file for Astro)

[code]

[2021-06-16 20:09] mkarmark commented on #477
Do you mind posting the sitename here? I'll take a closer look at the logs.

[2021-06-16 20:14] mkarmark commented on #479
I see an error in our logs that <AAD_CLIENT_ID> does not refer to a valid app setting, and that makes sense because we don't allow app settings to have the < > characters. Do you intend to include those brackets in the setting name fields?

[2021-06-16 20:34] pingdong commented on #477
I would like to share, but the issue happens before deploying to Azure. In my pipeline, the transpiling and validating steps are done in the stage inside Azure DevOps pipeline. The real deployment only happens in the next stage. I've attached the log of the pipeline.

[log.txt](https://github.com/Azure/static-web-apps/files/6665698/log.txt)

[2021-06-17 01:00] anthonychu commented on #479
@craigshoemaker tbe `<>` around placeholders are still causing issues. I suggest we remove them from docs and recommend them as the setting names to use.

[2021-06-17 06:35] Skleni opened #481 "Use roles with custom authentication provider"
Is it possible to access a user's roles when using a custom authentication provider like Auth0? I would have expected that I can configure the provider so that the tokens contain the roles, but I couldn't find any documentation on it. After reading https://github.com/Azure/static-web-apps/issues/429 I'm not sure anymore, is this not supported?

I wouldn't even need the built-in SWA roles to work,

[2021-06-17 07:35] javier-romera commented on #475
I fully support the request. In the company I work (+50K employees) this is a big problem that may lead to do not accept it.
And I am sure there are many more that would welcome such feature.

Looking forward for this feature. Thanks.

[2021-06-17 08:16] kushwanth opened #482 "Custom Domain Redirects"
Where are Azure Static Web Apps servers located?

My debugging shows that my static web app resolves to 4 different IP's in which two of them are in US, one in Netherlands and last one in Hong Kong and yes my site loads twice as fast in US when compared to Asia. Is there any configuration I am missing (or) are there only four of them?

[2021-06-17 13:01] torepaulsson opened #483 "Add TokenStore capabilities"
**Is your feature request related to a problem? Please describe.**
I'm trying to get custom authentication to work, I've managed to get the login to work, I've got an x-ms-principal but I need to get refresh and access tokens from this authentication so that I can call other services in our backend.

Right now there seems to be support for this in appservice, https://docs.microsoft.com/en-us/azure

[2021-06-17 13:14] datawatts commented on #479
I am not using the < > characters in the actual staticwebapp.config.json. I was just referring them as variables in what I shared. I did have an old version where I mistakenly left those in, but since have changed and am still seeing the above error as of this morning.

[2021-06-17 16:51] mkarmark commented on #481
Currently we do not support this but we are doing some work currently to improve our roles story. We can definitely consider doing something like this.

[2021-06-17 16:54] mkarmark commented on #483
Currently we don't have token store offered or plans to have it offered in the near future for static web apps. Can you elaborate on how you'd use the refresh and access tokens for us to better understand the need?

[2021-06-17 16:56] mkarmark commented on #477
The error message text definitely seems like the exact phrase we would return if we reject the payload, so I'm pretty confident the request is hitting Azure. An app name will help to diagnose this further.

[2021-06-17 17:32] mkarmark commented on #476
Hi, couple questions: we saw that this app had successful deployments before, did anything change between then and now after which you started seeing these consistent failures. Also, could you please share either the repo or github logs of an error run through for us to look at to get more information? If you don't feel comfortable sharing any info here, you can feel free to file an Azure service

[2021-06-17 18:01] afogarty85 commented on #451
Leaving this here for posterity, here is what worked for me, thanks to @mkarmark:

[code]

[2021-06-17 18:01] #451 closed

[2021-06-17 18:21] kushwanth commented on #482
Docs say that "served from points geographically distributed around the world. This distribution makes serving files much faster as files are physically closer to end users"

They don't where are points (PoP's) located.

My site is pre-built html with a CSS file and very little JS. webpagetest.org shows almost it takes more time to load in Asia/Pacific which most of the viewers are compared to US.

[2021-06-17 21:11] foconnor-DS commented on #460
We just ran into this as well. We were expecting Azure App Service like custom domains, where wildcard's can be used for subdomains. As it stands now, to use ASA, we'd have to spin up a new ASA server every 5 subdomains, which seems like a waste. This should easily be supported out of the box.

Please consider allowing '*.domain.tld' in the custom domain validation.

Sample domain:
*.test.com

Cur

[2021-06-17 23:32] sfabriece opened #484 "Option to skip npm install in Azure/static-web-apps-deploy"
**Is your feature request related to a problem? Please describe.**
I have a github workflow that runs npm install explicitly. It would desirable to be able to skip this as part of the `Azure/static-web-apps-deploy` action

**Describe the solution you'd like**
A option passed to the action to disable `npm install`

**Describe alternatives you've considered**
Not using `Azure/static-web-apps-deploy`

[2021-06-18 00:56] RossMurr4y opened #485 "Azure Pipelines Task - volume mount other directories into container"
**Is your feature request related to a problem? Please describe.**
After publishing a package of my SWA in a build pipeline, a second job downloads and attempts to deploy that package.

The default download location for artifacts in a deployment job is `Agent.BuildDirectory` or `/home/vsts/work/1`

However the container that the task runs in only volume mounts the sources directory (`$(Pipeline.Wo

[2021-06-18 01:15] pingdong commented on #477
From the pipeline log, the deployment name was:  frontend-20210615-065307-7eab

The attached image is the screenshot of deployment of the targeted resource group. I can't find this deployment task in Azure. Since the deployment was failed, I don't think any SWA was created.

Here are the task of validation:

    - task: AzureResourceManagerTemplateDeployment@3
      displayName: '[${{ parameters.a

[2021-06-18 03:43] anthonychu commented on #484
Please see if the `skip_app_build` option works for you: https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#skip-app-build

[2021-06-18 04:41] Skleni commented on #481
That would be great. I understand this is a rather new technology and I really like the idea of SWAs. They would be a great fit for a lot of our applications.  but things like this or the ability to link function app slots to environments are essential to be able to use them productively.

[2021-06-18 05:21] anthonychu commented on #485
@RossMurr4y This is tracked here: https://github.com/microsoft/azure-pipelines-tasks/pull/14807#issuecomment-863763241

Please take a look to see if the proposed solution would work in your scenario.

[2021-06-18 05:23] anthonychu commented on #377
The fix should now be deployed.
![image](https://user-images.githubusercontent.com/3982077/122510545-9d9b4f00-cfba-11eb-80ed-eba890adcd49.png)

[2021-06-18 05:23] #377 closed

[2021-06-18 07:26] torepaulsson commented on #483
Hi mkmark,
First of all, thanks a lot for Azure Static Web Apps, it is really easy to get started with and fills a lot of standard use cases.

I'm unsure if what I want to achieve is a common use case in other micro-service systems. We have multiple micro-services that perform different set of tasks, some hold information, others perform operations and mutations of data. If we make a simple page w

[2021-06-18 08:11] sfabriece commented on #484
I don't think that it will work, since the documentation says that npm install is always run. But I can give it a go.

[2021-06-18 10:17] plamber opened #486 "Recommendations how to improve availability of Static Web Apps in combination with Azure Front Door"
Hello,
we are using Azure Front Door with WAF to serve the Azure Static Web Apps contents. Currently we are just serving static content with our Static Web App.

We are wondering if you have some recommendations on how to improve the security and availability of these static web apps with front door as a global load balancer?

Thank you for your feedback,
Patrick

[2021-06-18 11:07] epreviati commented on #139
Hi @miwebst, do you have any updates regarding the limit increase? Actually we are stuck for the 10k files limit.

Many thanks!

[2021-06-18 11:21] msaltitudo commented on #139
It's been 2 weeks but there is no news yet ... We are trying to do our job well but 4k or 10k for the limit is a bit ridiculous :)

[2021-06-18 17:26] mkarmark commented on #483
It sounds like the piece you want auth for is the microservice functions. If that's the case one way you can continue to use SWA is through our Bring Your Own Function functionality. You can have each of those functions gated with App Service Authentication which does have token store enabled and then use SDKs like MSAL to authenticate with those function apps. Does that sound like a use case that

[2021-06-18 17:28] mkarmark commented on #482
We do not have a published list of our PoP's/Servers, but they are geographically distributed to have low latency when accessing the site globally. That being said we are not a CDN, so we don't have nearly as much geographical coverage as a service such as Azure Front Door. If you want something closer to a CDN, I suggest putting a front door in front of your static web app.

[2021-06-18 17:51] kushwanth commented on #482
I realised that today by doing some test.Will there be any increase in coverage in coming months?
Azure Front Door is an overkill, It will empty my student credits in less than a 6 months. Also another thing I am trying to do is the redirect from default azure provided URL to my custom domain. My site plain HTML without any frontend framework. So I was hoping for a feature to allow domain level re

[2021-06-18 20:10] mkarmark commented on #482
We don't have plans to add more PoPs in the coming months. For the feature you talked about of redirecting to the custom domain, that feature is in the works and should be available in the next month or two.

[2021-06-20 00:53] anthonychu commented on #412
Thanks @sytone. This is a weird one. I'll close for now.

[2021-06-20 00:53] #412 closed

[2021-06-20 00:56] stunney opened #487 "GitHub Action - Add WebApp/FunctionApp restriction Allow Rule before build"
Our Static Web App (Preview) app is using Next.js.  During rendering of the static site the build calls several of our Azure Functions.

We are not a public site yet, so we do not want these functions public quite yet.  Also want to keep costs/risk down.

We are using the built-in GH Actions (code below)

Is there a way to call the Azure API to temporarily add the actions agent that is running our

[2021-06-20 01:13] anthonychu commented on #487
Can't really think of a great solution to this. If you are open to running the build yourself by setting up addition steps before the Static Web Apps action, you can potentially spin up Azure Functions Core Tools in the workflow and have the Next.js app call that during build. That way you have a private instance of the function app.

[2021-06-20 12:48] dondracek commented on #463
@mkarmark sure, sorry for the delay:
Log:
[code]

yaml:
[code]

[2021-06-21 00:20] tej-rana commented on #192
I just experience this same issue. There is no api, so there won't be an api key.

[2021-06-21 06:14] torepaulsson commented on #483
I'm not familiar that much with MSAL so I'll have to study that more, also read up on App Service. The APIs I need to access are hosted on different platforms. By using the token store and the proxy functionality I was thinking my webpage could access other external APIs with minimal implementation in the backend. I'll see if I can get something up an running! Thanks for the help, hopefully once I

[2021-06-21 07:27] notaduck opened #488 "Gatsby doesn't read enviroment variables at build"
Hi there.
I have a gatsby site where I use enviroment variables in the `gatsby-configuration.js` file:

[code]

Locally everything works just fine and the env vars are read from `.env.development` but as soon as I try to build the project through github actions it fails hard and cannot read the env vars. I have tried to add them as a GitHub secret in the repository and set them through the action

[2021-06-21 16:21] datawatts commented on #479
@mkarmark Per my last comment, I have confirmed I am not using the < > characters and am still seeing the error as of this morning. Also, I am using a custom domain, would that be what you need to view logs?

[2021-06-21 18:14] stianl opened #489 "NavigationFallback fails with long URLs"
The `navigationFallback` setting in `staticwebapp.config.json` does not seem to work with long URLs.

I've reproduced the issue with a simple application based on the [Vanilla Javascript app from the getting started guide](https://docs.microsoft.com/en-us/azure/static-web-apps/get-started-portal?tabs=vanilla-javascript).
I've added a [staticwebapp.config.json file](https://github.com/stianl/my-fir

[2021-06-21 20:51] anthonychu commented on #488
Currently, the settings in the portal are only applicable to API functions in your app and custom authentication. The GitHub Action does not have access to this.

If you want this to work:

[code]

You'll need to create a [secret](https://docs.github.com/en/actions/reference/encrypted-secrets) in your repo named `GATSBY_STRAPI_ENDPOINT`.

We will update the docs to clarify how app settings and env

[2021-06-22 03:50] jberlyn opened #490 "Blazor WASM PWA service worker unable to start"
**Describe the bug**
I have a Blazor WebAssembly application that is currently deployed to Azure Static Web Apps. I have setup my Blazor application as a PWA using the steps from the official Microsoft documentation.

https://docs.microsoft.com/en-us/aspnet/core/blazor/progressive-web-app?view=aspnetcore-5.0&tabs=visual-studio

When I run the deployed application, the service worker fails to start

[2021-06-22 06:40] anthonychu commented on #490
Looks like this may be related to #259.

There's a slight difference in how you might fix this compared to the previous _routes.json_ file. With _staticwebapp.config.json_, the file no longer needs to be in the build output. What this means is that you don't need to place it in _wwwroot_. Instead, place it in the same folder as the Blazor app's csproj file (this should be the same folder that is s

[2021-06-22 07:11] notaduck commented on #488
And this is where I get lost, the secret is already set in the repository

<img width="944" alt="Screenshot 2021-06-22 at 09 08 59" src="https://user-images.githubusercontent.com/9454064/122879750-88ffe380-d339-11eb-9797-f2157e140b1c.png">

[2021-06-22 07:27] anthonychu commented on #488
Can you share a repo that reproduces this problem?

[2021-06-22 10:14] notaduck commented on #488
No need for that, You were right after all!

[2021-06-22 10:14] #488 closed

[2021-06-22 17:15] stunney commented on #476
@mkarmark is there a way I can privately share the build logs with you?  I have the zips from github actions.

Okay, so with the self-hosted runner, I get the error.  When running with ubuntu-latest, the action passes.
Caveat: running on ubuntu-linux, I must open the incoming firewall to 0.0.0.0 (sucks!) for every build.

Is there

[2021-06-22 18:57] stunney commented on #476
Scratch my last remarks.  Even running on ubuntu-latest fails (I triggered the wrong build re-run).

[2021-06-22 19:43] Dorian30 commented on #392
@dan-eversen I tried the workaround but it didn't work. Perhaps am I missing something ? I'm facing the exact same issue. I copy the task for the gist to split the process into two separate parts and populate the build with the env variables but they are still not showing up.

[2021-06-22 21:58] yoursweater commented on #392
@Dorian30 Can you copy and paste your yaml?

[2021-06-22 22:33] Dorian30 commented on #392
Sure @yoursweater. That's my yaml file. I basically just added the bash task to make the build. Any thoughts?

[code]

[2021-06-22 22:52] anthonychu commented on #392
@Dorian30 I think you're close. The problem is that the `AzureStaticWebApp` task is rebuilding the app without the environment variables. You can disable this behavior by specifying `skip_app_build`, which will cause the task to deploy only.

[code]

[2021-06-23 07:58] MaximBalaganskiy commented on #363
Any news on this?

[2021-06-23 12:07] arashcomsense opened #491 "Ability to host multiple versions of an app e.g. an Angular App on different end points"
**Is your feature request related to a problem? Please describe.**
Apparently, it's not possible to host multiple static web apps on a single instance of Azure Static Web Apps.

**Describe the solution you'd like**

We'd like to roll out different versions of an Angular app on different endpoints e.g. https://domainname/v1, https://domainname/v2, https://domainname/v3, etc. Azure Static Web App's

[2021-06-23 13:20] hkusulja commented on #316
@miwebst , when server replies with accept-encoding, order of the accepted files is important, so brotli should be first.

[2021-06-23 13:23] fidgety opened #492 "getting 431 Request Header Fields Too Large when using a node function"
We're passing our own `x-custom-authorization` header through to our functions so we can use the JWT but it looks like we're hitting the max header size because it's also included in `x-apigateway-event`. There is a node option to allow larger headers - `--max-http-header-size` - but how can we set that within the static web app?

I've tried adding a `NODE_OPTIONS` env variable but that isn't doin

[2021-06-23 14:16] hkusulja commented on #316
@miwebst , when server replies with accept-encoding, order of the accepted files is important, so brotli should be first.

[2021-06-23 14:48] anthonychu commented on #363
The task has been updated with an input for the token. You should see it when configuring it.

[2021-06-23 19:33] manekinekko commented on #491
Hey @arashcomsense thank you for opening this feature request.

In the meantime, with Azure SWA, you are able to:
1. Host one version of your app deployed from the branch you linked to SWA (production environment).
2. Preview your pull requests as part of your staging environments (one URL per PR).

![image](https://user-images.githubusercontent.com/1699357/123157058-602b3b80-d46a-11eb-968c-4947db

[2021-06-23 19:36] arashcomsense commented on #491
Thanks @manekinekko for your reply. Just wondering, do you think if it makes sense to discuss this feature request with your team to develop?

[2021-06-24 00:20] MaximBalaganskiy commented on #463
Same here. Same YAML works fine in a build pipeline

[2021-06-24 01:24] stunney commented on #476
Okay, so I think we've gotten through this issue (mysteriously).  Now I'm getting an unexplained 401 now on our site
https://jolly-grass-07aed040f.azurestaticapps.net/

My azure login is the admin/owner of the static site (preview).  I've seen this issue posted previously (https://github.com/Azure/static-web-apps/issues/251).  Not sure why my azure login won't work.  This is an issue for a few peo

[2021-06-24 01:24] stunney commented on #251
Hitting this issue now on our site (https://jolly-grass-07aed040f.azurestaticapps.net/)

Can you please review?

[2021-06-24 02:16] aaronpowell commented on #261
I've worked it out! https://www.aaron-powell.com/posts/2021-06-24-blazor-typescript-and-static-web-apps/

If you don't want to read my post, all you need to do is add `ENABLE_MULTIPLATFORM_BUILD: true` to the `env` section of the SWA task.

[2021-06-24 02:29] aaronpowell commented on #484
You can do this by overriding how Oryx generates the build script (https://github.com/microsoft/Oryx/blob/master/src/BuildScriptGenerator/Node/NodeBashBuildSnippet.sh.tpl), specifically you want to set the `CUSTOM_BUILD_COMMAND` environment variable.

If you set it to `npm run build`, Oryx will insert this block https://github.com/microsoft/Oryx/blob/master/src/BuildScriptGenerator/Node/NodeBashBu

[2021-06-24 10:59] fidgety commented on #492
For anyone else having this problem you need to use the env variable `languageWorkers__node__arguments` to pass them through.

[2021-06-24 11:00] #492 closed

[2021-06-24 12:18] PehrGit commented on #261
Wow, awesome! That's a great find. Is that a setting that was added recently or has it always been there?

[2021-06-24 14:15] JoePittsy commented on #463
Same as @MaximBalaganskiy, works fine in build pipeline but ``mount destination :/working_dir not absolute: unknown`` when done through release.

[2021-06-24 16:03] verplanckeo opened #493 "Add custom nuget source"
**Describe the bug**

We have our own github nuget package source we add for building our project. We're using the new static web app CI/CD feature which integrates automatically with your github repo. We are unable to add our own nuget source using this task.
The app (UI) is written using the React framework. The api (backend functions) is written using .NET Core 3.1
[static_web_app.txt](https://

[2021-06-24 22:18] lenniebriscoe commented on #251
same : https://delightful-moss-00b8bd103.azurestaticapps.net/

[2021-06-25 03:45] aaronpowell commented on #261
It's not something provided by Static Web Apps, it's the underlying build system, Oryx. You're overriding how Oryx intends to handle the repo so be aware that it might break in ways we don't realise

[2021-06-25 08:31] mviegas commented on #7
Hi @anthonychu! Just checking in: would you have any updates regarding this topic?

[2021-06-25 09:10] mattixittam opened #494 "Staging environment not cleaned up if PR is closed while building (Azure/static-web-apps-deploy@v1)"
**Describe the bug**

When we make a PR which triggers a staging environment build (through Azure/static-web-apps-deploy@v1) and close that PR when the environment is still building, the `Close Pull Request Job` cannot find a matching environment and does nothing. This causes the Staging environment to stay around until we manually delete it from the portal.

Our workflow file is an unchanged auto

[2021-06-25 10:24] aleksandervalle opened #495 "Error when deploying with ARM/Bicep"
**Describe the bug**

When provisioning/deploying static web app with Bicep, a Github Actions workflow file is automatically generated in the web app repository. After deploying web app again from web app repository through generated workflow, subsequent runs of Bicep pipeline will fail with error:

`ERROR: ***"error":***"code":"InvalidTemplateDeployment","message":"The template deployment 'main'

[2021-06-25 15:40] hafeefshaik opened #496 "does azure static web apps CI\CD support .NET5 functions?"
does azure static web apps CI\CD support .NET5 functions?

[2021-06-25 22:01] seangwright opened #497 "Review Pull Requests + Environments + Azure DevOps"
**Is your feature request related to a problem? Please describe.**
Reviewing pull requests in pre-production environments is only supported via GitHub actions today.

**Describe the solution you'd like**
It would be awesome to support this (Static Web App Environments + Pull Requests) in Azure DevOps now that DevOps is a supported repository source for Static Web Apps.

**Describe alternatives you

[2021-06-25 23:46] miwebst commented on #482
More coverage is coming :) we don't publish our IP's to avoid anyone taking dependencies on them while we continue to add more servers. We are working to expand our existing footprint and that will be transparent to users.

[2021-06-25 23:47] miwebst commented on #482
Also updating title to reflect the open question here.

[2021-06-26 15:48] DevSecNinja commented on #451
Thanks @afogarty85 for the working config file! Hope Microsoft publishes this one on their Docs page as more people might be looking for it.

[2021-06-27 13:07] irwinwilliams opened #498 "Unknown reasons for deployment failure"
**Describe the bug**
My SWA compiles and runs fine locally.
My CLI version is 0.6.0

I'm trying to deploy to Azure via Github and getting this error:
![image](https://user-images.githubusercontent.com/1428703/123545585-ca700480-d726-11eb-99cc-c249c2e7dadf.png)

Which is admittedly, unhelpful.
Prior to this, I was attempting to use Azure Event Grid as a trigger and learnt that it's not available as

[2021-06-27 23:52] irwinwilliams commented on #498
I won't call this a solution, but I just deleted the instance and provisioned a new one, pointing to the same github repo and it deployed successfully.

[2021-06-27 23:52] #498 closed

[2021-06-28 05:12] anthonychu commented on #496
Not yet. The platform also only supports .NET Core 3.1 functions at this time.

[2021-06-28 05:24] anthonychu commented on #497
For the pull request based staging environments like GitHub, we currently can’t support them in Azure DevOps due to some differences between the platforms.

You mentioned using multiple stages in a pipeline to deploy to different Static Web Apps. Would it be useful to be able to set up the same pipeline, but instead of deploying to separate Static Web Apps, you can deploy to different environments

[2021-06-28 09:43] 0gust1 commented on #390
An interesting example on how one could design and test a POC adapter for Azure static webapps (here, it's for AWS CDK):
https://dev.to/juranki/diy-sveltekit-cdk-adapter-3enp

[2021-06-28 13:15] seangwright commented on #497
@anthonychu That would be fine too and very similar to the deployment slots pattern we use with Azure App Service apps.

Would that be a configuration parameter on the `AzureStaticWebApp` task or different deployment tokens per environment?

We are looking at using NetlifyCMS and while it does 'work' many of the cool features supported by using GitHub and Netlify don't seem to be possible with Dev

[2021-06-28 14:43] philinthecloud opened #499 "Use Durable Functions as backend for Static Web App"
**Describe the solution you'd like**
I would like my Blazor WASM front end to be able to call an Azure Durable Functions backend when deployed to Static Web Apps. This would allow me to quickly build small robust workflows with a web interface.

I have tried this and get the following error:

`Error in processing api build artifacts: the file 'ConvertToXlf/function.json' has specified an invalid t

[2021-06-28 15:24] kushwanth commented on #94
Got any Updates (or) ETA

Its very helpful to have Basic Auth feature, Static web Apps are now in General Availability, We might protect a version of website when using custom domain some how but as we have no access to azurestaticapps.net subdomain search engines might index these URL's. Authentication and Authorization is great but anything simple is better

[2021-06-28 16:26] miwebst commented on #499
That is correct, if you'd like to use triggers other than httpTriggers you will need to use an existing function and link them.

[2021-06-28 23:49] miwebst commented on #495
Hi @aleksandervalle, we will take a look!

[2021-06-29 12:01] philinthecloud commented on #499
So I have successfully deployed a Blazor WASM app as an Azure Static Web App and linked it to a separately deployed Durable Functions Workflow. From the Blazor App I can successfully start a workflow. I know this because a standard response is returned with the various Uri's for querying and stopping the workflow. Also I can see the activity in the Overview of the Azure Portal.

When I try to acce

[2021-06-29 15:43] LockTar commented on #139
I see the limit is now on 15k files.

This sounds a lot but with [Blazor WebAssembly Compression](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-5.0#compression) settings on (default on) you already get a lot of files added to your project. My file count was already around the 28k.

I disabled it for now (this is not what I want) the following way a

[2021-06-29 22:47] RossMurr4y commented on #485
@anthonychu The proposed solution addresses my issue here - thanks for this. Apologies for the duplicate.

[2021-06-29 22:47] #485 closed

[2021-06-30 06:03] mkarmark commented on #499
Are your function paths prefixed with /api? Calls to the function must start with /api in order for us to recognize that call as a function request

[2021-06-30 10:44] philinthecloud commented on #499
Well the out-of-the-box status calls such as `/instances` sit under the `runtime/webhooks` route but I was able to get this working by adding my own `HttpTrigger`ed function under `api/` which calls methods such as `IDurableOrchestrationClient.GetStatusAsync()`. It's a little inconvenient to have to do this though.

[2021-06-30 12:35] Zhiyuan-Amos commented on #490
I tried this couple of days back and it shows the same error above. My `staticwebapp.config.json` is in the same directory as the Blazor app's .csproj file. Just fyi as I happened to see this issue - my project originally had `staticwebapp.config.json` in the `wwwroot` and I modified `offlineAssetsExclude`, and I left it as that.

[2021-06-30 19:32] Christian7573 opened #500 "Ambiguous error message when Api folder is inside App folder"
**Describe the bug**
I was deploying for the first time since Static Web Apps came out of preview. My project was configured with `app_location: /` and `api_location: /api`. This worked fine in SWA Preview, but appears to be prohibited in SWA 1.0. In retrospect, putting my API folder inside of the directory getting served was a horrible decision and I'm glad it's prohibited now, but the GitOps(?)

[2021-06-30 19:58] bartvdbraak commented on #463
Currently having the same issue. Anyone that has found a fix?

[2021-07-01 01:40] RossMurr4y commented on #495
Just ran into this issue as well.

I used PowerShell to interrogate the configuration after my initial deployment and then after the subsequent Azure Pipelines run of the same BICEP template. The results show 3 attributes that are being updated without being specified in the BICEP template.

I can only assume its drawing this information from metadata in Azure DevOps Pipelines, then deciding I'm t

[2021-07-01 06:17] kevinprescottwong-Dev opened #501 "AzureStaticWebApp step fails immediately"
For the life of me, I can't get this AzureStaticWebApp pipeline step to succeed.

I have a react app that I created through the standard create-react-app npx command. I tried following a bunch of official and unofficial tutorials, but nothing I've tried has worked. I've seen many tutorials get you to use the GitHub Actions flow, but I want to get an Azure DevOps CI/CD pipeline setup for this react

[2021-07-01 07:08] Roger-Sa opened #502 "[Question] Post authentication redirect to requested URL"
Hi,

I'm using AAD authentication. Let's say I have an app at **myapp.com** and a user wants to access **myapp.com/product?id=123** (which might be bookmarked, for instance). If the user is already logged in this works fine, but if he needs to log in, post authentication redirects the user to **myapp.com** not the requested URL. I know I can configure a post login redirect, but this needs to be a

[2021-07-01 10:31] Sam-Rowe commented on #81
Docs suggest this is now available?
https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

But I haven't been able to get it to work :(

Any examples?

[2021-07-01 10:36] Sam-Rowe commented on #24
Custom auth using an OpenID connect is now in the docs - https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

[2021-07-01 10:54] azbpa commented on #81
I was also struggling with the docs since they are not really detailed and also contradictory in my eyes (description in table vs placeholder in the code).

My key mistake was that I added the values of `AAD_CLIENT_ID` and `AAD_CLIENT_SECRET` directly to the code block of the `staticwebapp.config.json` file (like suggested in the code example). However, if you take the field description from the t

[2021-07-01 11:45] MaartenKoops commented on #483
Hi @mkarmark I have a related question to this topic of @torepaulsson.

### I have the following setup:
- An Static Web App authenticated against a custom OpenID Connect provider.
- A linked (bring your own) function authenticated against the same custom OpenID Connect provider (using the authentication/authorization features from the App service aka EasyAuth).
- I see the following behavior:
- Th