[2022-03-10 23:18] anthonychu commented on #755
Thanks @csharpfritz and others for identifying the workaround.

Please temporarily update your workflow files to use the ubuntu-18.04 hosted runner.

[code]

We'll continue to investigate the problem. @william-msft please update this thread if you have more information.

[2022-03-10 23:25] william-msft commented on #755
Thanks @anthonychu, Oryx findings do demonstrate this is related to the environment. If we find additional information we will share.

[2022-03-10 23:30] rbergen commented on #755
Hi @anthonychu, is the rollback of the 20.04 image that @alepauly mentioned still taking place?

[2022-03-10 23:59] anthonychu commented on #755
Hey @alepauly can you please explain what's being rolled back?

[2022-03-11 01:40] anthonychu commented on #510
There are a couple of updates coming in the next few months to address this.

1. A skip_api_build flag that allows you to deploy build artifacts without the task rebuilding the app. Waiting for https://github.com/microsoft/azure-pipelines-tasks/pull/15996. This is the tracking item: #343
2. Support for named pre-production environments. Work in progress, no date to share yet.

[2022-03-11 03:07] alepauly commented on #755
@anthonychu - the images for the Ubuntu 20.04 hosted agents in Azure Pipelines and runners in GitHub Actions. Since there were enough reports that indicated the virtual environment had unintended breaking changes we decided to rollback while we investigate what's happening. We build those environments from here: https://github.com/actions/virtual-environments

[2022-03-11 03:15] alepauly commented on #755
Most (~90%) of the Ubuntu 20.04 runners should be back at version `20220227.1` now. There are still some in the process of rolling back and will continue to do so in the next day. We'll investigate this issue before the next rollout. In the future, any issues related to the virtual environments can be reported at https://github.com/actions/virtual-environments. Thanks!

[2022-03-11 06:15] rbergen commented on #755
I can confirm that I was just able to successfully build the solution again using ubuntu-latest, by retriggering the job. Logging indeed reports the virtual environment version as 20220227.1, again.

Many thanks to everyone who helped in getting this working again on ubuntu-latest. @alepauly and @anthonychu, do let me know if I can be of any further assistance, going forward.

[2022-03-11 18:55] miwebst commented on #755
@alepauly thanks for the info! Is there any way for us to view when the runners change images?

[2022-03-11 20:15] funkysi1701 commented on #753
Hi there I am experiencing the same issue. I did ask the oyrx team recently about the possibility of supporting the .Net 7 previews https://github.com/microsoft/Oryx/issues/1267

I wonder if that change is related to this issue?

[2022-03-11 20:44] mgrosen commented on #755
@rbergen Thanks for validating that version you are seeing!
We have finished rolling back all Ubuntu 20.04 runners, and won't rollout a new version until we validate that this scenario is fixed.

The only way I'm aware of is by viewing the [Available Environments](https://github.com/actions/virtual-environments#available-environments) section of the Readme in the `actions/virtual-environments` rep

[2022-03-11 21:19] ShanonJackson commented on #34
Please use a different header internally, this should be a implementation detail hidden inside static web apps internals not an abstraction leak that effects static web apps customers by overriding one of the most commonly used headers.

[2022-03-12 00:32] rbergen commented on #755
Closing this, as the problem that triggered the opening of the issue no longer occurs.

[2022-03-12 00:32] #755 closed

[2022-03-12 16:43] loyvon opened #757 "The files are missing/404 but I have no way to debug"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://purple-dune-0f3787d00.1.azurestaticapps.net/', press F12 to open the developer tools.
2. Click on 'network'.
3. Refresh the page.
4. You will see the following 404 errors:
![image](https://user-images.githubusercontent.com/13371198/158026720-941a7bec-4805-496b-95a5-bea05024e966.png)

The app is published following this doc: https:

[2022-03-12 17:12] loyvon commented on #757
If I remove the 'arcadia' part from the url, then the resource can be accessed.
What does this mean?
Could anyone help me?

[2022-03-12 17:30] loyvon commented on #757
Fixed.
It's the redundant baseUrl setting.

[2022-03-12 17:30] #757 closed

[2022-03-13 06:47] Admiralfeb commented on #493
I'm running into this issue as well.

I ran `dotnet nuget add source` and added my github nuget repo to sources then attempted to run a `dotnet restore` beforehand and it still failed as it ran its own restore.
I'd rather not publish these nuget packages to nuget.org

[2022-03-13 07:58] svrooij commented on #493
In this issue they are telling us the skip API build parameter is coming in the next week or so (3 weeks, 18 days ago). https://github.com/Azure/static-web-apps/issues/343#issuecomment-1048455822

Maybe you just have to wait a little, and then build the API yourself and only publish using the task.

[2022-03-13 13:07] happymago opened #758 "Build failure with static web app. Error: vue-cli-service: not found"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
I am getting a build failure constantly

Here is what my yml looks like

Run Azure/static-web-apps-deploy@v1
  with:
    azure_static_web_apps_api_token: ***
    repo_token: ***
    action: upload
    app_location: /
    output_location: dist
  env:
    NODE_ENV: production

[2022-03-13 19:14] Admiralfeb commented on #493
If I end up with a private nuget in the client, then that's not enough. I'd prefer to have a `no-restore` option to solve the entire project build.

[2022-03-13 19:27] svrooij commented on #493
What do you mean?

The `skip_api_build` you can restore and build the API yourself. You then publish it to a folder and that folder will be deployed? Why wouldn't that be enough?

[2022-03-14 06:36] anthonychu commented on #758
Can you share your package.json? Interested to see your build script and your dependencies and devDependencies.

[2022-03-14 07:33] Reshmi-Sriram commented on #343
**UPDATE**: `skip_api_build` should now be enabled in GitHub Actions!🎉🎉
In order to use it, we need to set `skip_api_build: true` in the GitHub workflow yaml and specify the [ApiRuntime version ](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#selecting-the-api-language-runtime-version) in the `staticwebapp.config.json` file in source repository.

Azure DevOps changes are bein

[2022-03-14 07:42] Reshmi-Sriram commented on #542
Hey @jeroenvdmeer!
A quick update on #343
`skip_api_build` should now be enabled in GitHub Actions!🎉🎉
In order to use it, we need to set `skip_api_build: true` in the GitHub workflow yaml and specify the [ApiRuntime version ](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#selecting-the-api-language-runtime-version) in the `staticwebapp.config.json` file in source repository.

[2022-03-15 13:44] michalorac commented on #497
Is something new with Environments support?
We would like to continue using AzureDevOps Environments with approvals for different stages.

[2022-03-15 13:49] michalorac commented on #604
Is something new in support staging environments?
We would like to continue using AzureDevOps Environments with approvals for different stages (llike in other projects in which we use Azure Web App).

[2022-03-16 03:08] rfabro commented on #493
I believe he's talking about the client and not the API. I have the same problem with my Blazor WebAssembly project as it references a private NuGet from Github.

[2022-03-16 09:29] Reshmi-Sriram commented on #604
Hey @michalorac!
We have a PR for supporting Stable Staging environments in DevOps, waiting to be merged [#15981](https://github.com/microsoft/azure-pipelines-tasks/pull/15981). We should be able to see these changes merged and released in another 3-6 weeks.
Hope this helps!

[2022-03-16 13:00] michalorac commented on #604
Thanks @Reshmi-Sriram,
I'll be waiting patiently for the update

[2022-03-16 15:00] remirobichet opened #759 "Adding custom identity provider breaks auth with app deployed from Azure Devops"
**Describe the bug**

Adding a custom identity provider breaks all the auth system (all `/.auth/*` endpoints seems broken).
I don't know what cause this bug. Maybe deploying custom identity provider with Azure Devops is broken ? Or I missunderstand something in the config file ?

**To Reproduce**

First, i've implemented a basic swa with pre-configured providers, deployment OK and app OK.
Here was

[2022-03-16 16:30] remirobichet commented on #759
I tried to deploy the exact same app with Github actions (following this tutorial : https://docs.microsoft.com/fr-fr/azure/static-web-apps/getting-started?tabs=vue).
Turns out deployment is OK and `/.auth/*` endpoints too 🤨

With further search, i tried to compare pipeline from Github and Azure Devops.
I innitialy thought it was coming from the detected nodejs version from Oryx build, AD =12.xx an

[2022-03-16 18:06] benank opened #760 "Cookies with sameSite or domain properties are not sent to client (non-local env)"
**Describe the bug**

When sending cookies as a response to a request in an included functions API (as part of a static web app), the cookies are not sent if they include the `sameSite` or `domain` properties. This only occurs in a deployed static web app - this issue is not present in local testing of the API functions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create static web app w

[2022-03-16 18:32] william-msft commented on #694
Thanks Anthony, we have a work item for this cc: @daniv-msft

[2022-03-16 19:02] shibayan opened #761 "Login session duration can be extended from 8 hours"
**Is your feature request related to a problem? Please describe.**

When using Static Web App custom authentication, the login session (actually a cookie) expires in 8 hours and cannot be extended using `/.auth/refresh` like the App Service, so I would like to extend the expiration time from 8 hours.

**Describe the solution you'd like**

I would like to be able to change the cookie validity time

[2022-03-16 19:11] shibayan opened #762 "Adding setting to `responseOverrides` to exclude certain paths"
**Is your feature request related to a problem? Please describe.**

If authentication is enabled for the entire Static Web Apps, as in the example in the official documentation, a 302 redirect will be performed if the authentication session is expired when the API is executed, and the session expiration cannot be handled.

To avoid this problem, I would like to be able to convert a 401 to a 302 re

[2022-03-16 20:28] trondjun commented on #608
Did you find a way to get through the validation of custom domain?

I have the same issue now, and it just gets stuck on validating.

[2022-03-16 22:43] miwebst commented on #236
This is now in public preview! Try it out and let us know what you think! https://azure.microsoft.com/en-us/updates/public-preview-protect-azure-static-web-apps-environments-with-a-password-2/

[2022-03-16 22:44] miwebst commented on #94
This is now in public preview! Try it out and let us know what you think! https://azure.microsoft.com/en-us/updates/public-preview-protect-azure-static-web-apps-environments-with-a-password-2/

[2022-03-17 07:45] sinedied commented on #608
Currently there's no solution, but the team is looking at it.
cc @simonaco

[2022-03-17 08:28] trondjun commented on #608
Great! If there is anything I can provide to help, let me know!

[2022-03-17 09:18] remirobichet commented on #759
I've manage to partially fix the issue by replacing registrations secrets (I had written the values of the keys directly in `staticwebapp.config.json` instead of using the environment variables 😵).
At this point both app works (deployed from GH and rom AD), but there is still a problem with auth.
On the app deployed with AD, connection with other provider is broken while in the app deployed with G

[2022-03-17 21:33] luisnaranjo733 opened #763 "ADO build task ignores platform.apiRuntime"
ADO build task for static web apps is ignore the platform.apiRuntime value (at least for node)

**To Reproduce**
Create an ADO react project and link it up with Azure Static Web Apps
Configure it to use node 16
Observe that the build task ignores that config and uses node 17 :(

<img width="415" alt="image" src="https://user-images.githubusercontent.com/1091547/158898344-a544186d-2ea7-43c0-a1b4-b3

[2022-03-17 22:07] luisnaranjo733 commented on #763
All create-react apps are breaking with node@17 right now by the way
https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported

[2022-03-18 07:18] PoisnFang opened #764 "Blazor WASM App + Azure Static Website + CosmosDB binding + Github Actions = 'cosmosDB' with missing or invalid direction"
### Bug Report
I used the Github action file that Azure auto generates with. I am using `"Microsoft.NET.Sdk.Functions" Version="4.1.0"`
My code:
[code]
It run fines locally, but when it gets to the Build and Deploy stage of the Github action it throws this error:

Function Runtime Information. OS: windows, Functions Runtime: ~4, dotnet version: 6.0
Finished building function app with Oryx
Error in

[2022-03-18 14:23] Strepto opened #765 "Pre-Production environments: Allow for more than 10 pre-production environments"
**Is your feature request related to a problem? Please describe.**

We are a team with a few developers, trying to works with a bunch of pull requests environments. Currently we have a few spikes that are waiting for feedback, and a number of ongoing work.

Today this meant that we had 10 open pull requests, and when a 11th was opened it could not be deployed as we only have 10 in the Azure SWA.

[2022-03-18 16:07] StacyCash opened #766 "Azure Functions with AuthorizationLevel.Function return 401 errors"
Since today all of my Static Web Apps across multiple subscriptions and active directories have started to return 401 errors when the API was requested.

After changing the AuthorizationLevel for the functions from AuthorizationLevel.Function to AuthorizationLevel.Anonymous they started to work again.

An example repo with two functions (one working, one not) can be found [here](https://github.com

[2022-03-18 21:28] miwebst commented on #766
Both of these are working for me? Can you share what you are seeing?

[2022-03-19 07:24] StacyCash commented on #766
Yesterday I was getting a 200 response with the working function (returning: "Function: WorkingFunction"), and 401 response from the NotWorking function on all machines I tested with.

This morning both work... I've closed the issue, but will keep the repo in case it reoccurs

[2022-03-19 07:24] #766 closed

[2022-03-21 18:51] ikondrasovas commented on #210
Any tips on how to convert this rule to staticwebapp.config.json?

[2022-03-21 23:56] markdeloura commented on #94
Woo! That works great, thank you!

[2022-03-22 01:25] miwebst commented on #94
Closing this issue as the feature is now released!

[2022-03-22 01:25] #94 closed

[2022-03-23 00:22] spawnrider opened #767 "ARM Validation issue - The repository url must be a DevOps repository"
**Describe the bug**

I am trying to deploy my Static Web App ressource using an ARM template.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following ARM template
2. Validate it
4. See error

Here is a part of the ARM template :
[code]
Note that the SWARepoURL variable is :
`https://<mycontext>.visualstudio.com/<project>/_git/swa-widget`

Then, the error message :
[code]

**Exp

[2022-03-23 00:52] spawnrider commented on #767
Well, disabling the repository by setting the Provider to 'None' seems to be a workaround to deploy the service.

Is there a new control on the repository URL and especially on the domain ?
https://dev.azure.com/{organization} (NEW version) versus https://{organization}.visualstudio.com (OLD one)

[2022-03-23 12:04] vsillan opened #768 "Request to a custom role endpoint contains a malformed JSON string in the body"
**Describe the bug**

I've followed the guidance of this tutorial: https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph in order to create a custom endpoint for fetching roles for a user upon login.

The issue we're facing is that the request body sent the custom roles endpoint is not complete. It's cut midway through the `accessToken` value, and thus it's an invalid

[2022-03-23 22:01] standup75 opened #769 "Max app size seems different than reported by Oryx"
**Describe the bug**

I got a standard tier for my swa:
![image](https://user-images.githubusercontent.com/302860/159803203-882d95f7-b2e9-4fb2-9e5f-2161b4b4f536.png)

A clear and concise description of what the bug is.

Nevertheless deployment fails with the message that my app is over 100MB:
[code]

Any reason why this 2 values are different (100MB vs 500MB)?

[2022-03-23 22:16] miwebst commented on #769
That is very odd...can you share any details about the name of your app (resource or default hostname) so we can investigate?

[2022-03-23 22:36] miwebst commented on #769
Oh sorry, this is saying the Function content is above 100 MB. The limit above is about the size of the static content for the Static Web App. I believe 100 MB is currently the limit for the Function content.

[2022-03-23 23:40] standup75 commented on #769
Is there a way to have a higher limit for the function app? @prisma/client package alone is over 150MB

[2022-03-24 04:08] EntityAdam commented on #253
Came here because https://docs.microsoft.com/en-us/azure/static-web-apps/publish-jekyll wasn't working

I understand from this thread that Jekyll actually isn't supported as advertised.  Bummer.

The work-around wasn't obvious from the conversation. Wut 'following configuration block'?

Luckily I was able to pull it out of @krainboltgreene's repo (Thanks for that) and one additional detail I had t

[2022-03-25 17:01] shibayan commented on #761
@mkarmark Does a solution exist to solve this problem? If a support request needs to be created for resolution, we will create one. Thanks.

[2022-03-26 15:42] #318 closed

[2022-03-26 16:47] anthonychu commented on #763
`platform.apiRuntime` only affects the Azure Functions build and deployment. It'll ensure the build is using the correct SDK version and it's being deployed to the right type of function app.

For frontend, `platform.apiRuntime` has no effect. However, as you've noticed, our build engine Oryx does try to respect the engines field for Node.js builds. Let's see if there's a good spot to add details

[2022-03-27 05:08] Admiralfeb commented on #493
Exactly. I have a library I built to share between different projects that I put into github's nuget registry and I can't use it.

I'd like the ability to perform a manual restore and just tell the system to not try to restore when it goes to build just like the `dotnet build --no-restore` works.

[2022-03-28 14:39] NoremacNergfol commented on #767
Ran into the same issue.

Using https://{organization}.visualstudio.com fails template validation. Using https://dev.azure.com/{organization} asks for a repository token.

Subsequent incremental deployments fail when setting provider to 'none' or properties to an empty object. "Provider is invalid.  Cannot change the Provider. Please detach your static site first if you wish to use to another depl

[2022-03-28 14:42] nicksimmonds-lmk commented on #767
I've also started getting this error.  Because our code is in GitHub and deployed using Azure DevOps the 'provider' is set as 'Devops' but the 'repositoryUrl' is a GitHub url.
Apart from it being annoying having to define these in the bicep template, even though we are just uploading the code and not having the Static Web App 'build' it, this used to work until a few days ago.

[2022-03-28 16:16] miwebst commented on #767
It looks like our most recent ARM release has added some invalid validation that is causing this issue. We will work on
1. fixing the DevOps repo validation
2. relaxing these requirements overall, a lot of these were in place before deployments from DevOps were allowed and not valid for most scenarios

[2022-03-28 16:41] svrooij commented on #343
This https://github.com/microsoft/azure-pipelines-tasks/pull/15996 seems to be have merged. That means this issue can be closed as well?

[2022-03-28 22:57] AhmedAtCloudBricks commented on #34
Hi SWA team :)
First thanks for your awesome work. I strongly recommend you don't use the header "Authorization" to solve your own internal security problem. Its much easier for your internal case to use a custom header instead. Forcing a custom header for the front-end consumer has couple of problems compared to you using the custom header internally:

1- Security
If a custom header is passed all

[2022-03-28 23:44] mathewc commented on #34
Related to https://github.com/Azure/azure-functions-host/issues/6886 which was a proposal to update Functions to accept a new custom header for token auth. @anthonychu @annaji-msft - is that still needed, or do you have another plan to address this issue?

[2022-03-29 07:47] MichielCornilleKenze opened #771 "Bicep/ARM deploy with provider "Devops" and Azure Repos as the url. Fails with invalid repository token."
This pipeline ran perfectly for a while but some recent changes must have broken something, because now the repository token needs to be provided even when specifying provider:'DevOps" which in the past wasn't  necessary for Bicep/ARM deploys.

`resource webApp 'Microsoft.Web/staticSites@2021-03-01' = {
  location: location
  name: 'stapp-${resourceName}-${environment}'
  properties: {
    provide

[2022-03-29 08:02] jslowack commented on #771
We have the same issue, I think it is related to https://github.com/Azure/static-web-apps/issues/767

[2022-03-29 08:21] jslowack commented on #767
Just to give some additional input on this issue. Below is an example of a minimal ARM template configuration that is not working anymore.

[code]

[2022-03-29 08:58] #623 closed

[2022-03-29 09:00] #236 closed

[2022-03-29 16:30] musictopia2 opened #772 "Unable to publish to azure static site via github"
When i try to publish this page https://github.com/musictopia2/GamingPackXV3 to static sites, it always fail.  If you go to the actions, it will show what always happens.  However, I was able to build on my computer with no problems.  Always fails to build solution.  Says certain files are not there but they are there.

[2022-03-29 16:48] miwebst commented on #34
Correct, I believe the Functions host checks this header if the function auth level is not anonymous, even if easy auth is enabled. We need a way to switch the header used for doing a function key check, potentially based on an app setting?

[2022-03-29 22:15] mkarmark commented on #768
Could you share your app name with us so we can investigate with logs on our end? If you don't feel comfortable sharing the details here, feel free to open up a support case and we can help you there.

[2022-03-29 22:41] miwebst commented on #771
We are working on a fix for this! Apologize for the inconvenience.

[2022-03-30 08:17] chrisjensenuk commented on #771
Thanks for the update @miwebst

I have the same problem - using Bicep to deploy a SWA from DevOps which used to work until yesterday. This is currently blocking us. Is there an ETA for this fix? Is there a known work around we can use in the meantime? Thanks

[2022-03-30 15:39] TheNightmareX opened #773 "Allow optional `index.html` to deploy Angular localized apps"
**Is your feature request related to a problem? Please describe.**

When using Angular's i18n feature, the build result will be like:

[code]

As you can see, there is no `index.html` at the dist root. So the app cannot be deployed without manually creating one.

**Describe the solution you'd like**
Provide an option to allow the app to be deployed without an `index.html` in the dist root.

**Desc

[2022-03-30 16:37] #627 closed

[2022-03-30 18:44] Peter-Juhasz commented on #740
Sites are down again! Timeouts, invalid certs, "Our service are not available right now."

[2022-03-30 18:47] miwebst commented on #740
@Peter-Juhasz, please create a new issue for this. This thread was related to an outage with a known cause. Please provide details in a separate thread.

[2022-03-30 18:51] Peter-Juhasz opened #774 "Issues with site hosted on Enterprise Grade Edge"
We've just created A Critical priority support tickets.

We experience:
 - timeouts
 - invalid certificates on built-in hostname
 - ```Request cannot be served.```
 - ```<h2>Our services aren't available right now</h2><p>We're working to restore all services as soon as possible. Please check back soon.</p>0WKZEYgAAAADMF2yZfE7ZTZg4DKn+e7zUQU1TMDRFREdFMTkxNwA2M2I5NDA1NC1jMTQ3LTQwNDItYmM4MC0zNGZiYzEw

[2022-03-30 18:52] miwebst commented on #774
Can you provide a url? This doesn't look like a message related to Static Web Apps. Do you have some service in front of it?

[2022-03-30 18:56] miwebst commented on #774
Just doing a quick Google search, looks like this is indicative of Azure Front Door: https://docs.microsoft.com/en-us/answers/questions/170518/azure-front-door-our-services-aren39t-available-ri.html

If you are using enterprise-grade edge, then this is the right place for your question. If you are not, I'd recommend engaging Azure Front Door support.

[2022-03-30 18:57] Peter-Juhasz commented on #774
Support tickets: 2203300050002798, 2203300050002801

We have nothing in front of SWA. We have Enterprise-grade edge enabled.

Measured availability. Some regions seem healthy while many others are not:
![image](https://user-images.githubusercontent.com/9047283/160909979-da64c260-2d5c-453d-9feb-065b43a0296f.png)
![image](https://user-images.githubusercontent.com/9047283/160910088-4c033e68-3a0f-453c

[2022-03-30 19:01] miwebst commented on #774
As our documentation suggests Enterprise Grade Edge is powered by Azure Front Door (hence the similar errors). Seems like there is an issue with Azure Front Door. I'd recommend you provide this information to support. We will investigate as well.

[2022-03-30 19:03] Peter-Juhasz commented on #774
Thanks! We have already opened support tickets, I can provide more info (like name of SWAs) on a private company e-mail if that helps. We have already shared them with the support team. Some regions seem back online at the moment.

[2022-03-30 22:19] william-liebenberg commented on #771
Same issue here :( any temp workarounds available?

[2022-03-31 13:44] rickvdbosch commented on #764
I'm running into a similar issue using the new beta package `Microsoft.Azure.WebJobs.Extensions.Tables` which generates this message for a table binding to a `TableClient`.

The code below (simplified) works fine locally, but errors out after building on Oryx.

[code]

The actual message:

[2022-03-31 17:20] tscrip commented on #759
I am seeing the same issue with a Blazor Web Assembly app.

[2022-03-31 17:53] mkarmark commented on #759
@tscrip Do you also mind sharing your sitename or default hostname with us so that we can look at the logs for your site?

[2022-03-31 19:20] tscrip commented on #759
Here is my site. I just updated it to a generic repository.
Site: https://thankful-river-07d217010.1.azurestaticapps.net/
Repo: https://github.com/FBoucher/AzureStaticWebApp-CSharp-SimpleDemo

It is running exactly this same code with the only change being I added a staticwebapp.conf.json that looks like this:

[code]

Note... I have also tried deploying from GitHub Actions and Azure DevOps Pipeli

[2022-04-01 14:16] chrisjensenuk commented on #771
We've implemented a workaround for this issue. Just thought I'd share.
[code]
1. When first initially creating the swa resource ensure `pStaticWebAppsRepositoryUrl` is `""`
2. Deploy the swa front-end application via a DevOps pipeline
3. Update `pStaticWebAppsRepositoryUrl` back to the repo of the DevOps pipeline repository
4. Subsequent infrastructure deployments to the existing swa resource will

[2022-04-01 20:53] shimedh commented on #172
The autocompletion issue has been fixed and deployed for a while now from the UX side. We forgot to update here sorry.

[2022-04-01 23:07] axell9641 commented on #296
Updated link : https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#fallback-routes

[2022-04-03 12:19] TomJD commented on #749
I have a similar question as we are rewriting some legacy stuff into NextJS with SSR.
Is there an OOB way to deploy onto Azure as AWS has, or is this part of the wait? Can't find clear documentation on the deployment part.

[2022-04-03 12:54] ivancavlek commented on #768
Hi, @mkarmark!

I have the same problem, but this one is with an SWA API.
I can send you the info from Application Insights, but you have to tell me where or provide me with a link.

[2022-04-03 20:23] uxsoft commented on #764
I have the same issue with importing SignalR
[code]
[Repository](https://github.com/uxsoft/swa-test/runs/5807868761?check_suite_focus=true)

[2022-04-03 20:49] Rfaering commented on #768
I have the same problem, getting this when I try to deserialize the body myself "Unexpected end when deserializing object. Path 'accessToken', line 1, position 1623."

For me it cuts at the beginning of the access token

[2022-04-04 01:06] marlier commented on #767
Setting the provider to 'None' is not a workaround for all use cases.

My use case:
- I have an azure pipeline that does PR builds.
- When a branch is updated, it provisions the infrastructure defined in a bicep template file -- creating if it does not exist, or updating if it does.
- The code in that branch is deployed to the PR infrastructure
- On further pushes to the branch (in response to com

[2022-04-04 06:11] #172 closed

[2022-04-04 11:29] MichielCornilleKenze commented on #771
Great to hear you are working on a solution.

Continuing on that aside: As soon as you have more than one environment(Dev/QA/Prod,..) We want to do a more traditional 12-factor app style BUILD/Release separation. Oryx /static apps wants to do too much at once. It might make sense to run Oryx inside Azure DevOps or Github actions but I don't think static apps should be the initiator...

[2022-04-05 15:19] mb236 opened #775 "Restriction of Allowed IP Ranges to a maximum of 25"
I stumbled upon the following error during a deployment to an Azure Static Web App with the AzureStaticWebApp@0 Task in Azure DevOps:
`Encountered an issue while validating allowedIpRanges: Number of CIDR ranges cannot exceed 25`

As the error indicates I would like to add more than 25 entries to the allowedIpRanges part of the staticwebapp.config.json file.
What I would like to know if this is a

[2022-04-05 17:02] miwebst commented on #775
Hey @mb236 , can you share more details about your use case? Currently 25 IP ranges are limit and this is the first ask we've had to increase it.

[2022-04-05 17:25] mb236 commented on #775
Hi @miwebst, yeah for sure. I want to ensure that the traffic to my Azure Static Web App is only allowed from the servers from a third-party service that I am using. For that use case, the service provides an API to gather the list of possible CIDR ranges. And this API happens to return more than 25 possible CIDR ranges. Therefore I ran into the issue mentioned above during the deployment of my St

[2022-04-05 20:55] superelitist commented on #5
I see that this was closed after the announcement that we could create this resource through the portal. Unfortunately, I have a need to deploy a Static Web App using Azure DevOps _from the command line_. The workaround suggested by @anthonychu [here](https://github.com/Azure/static-web-apps/issues/5#issuecomment-798001564) seems to not work: I get `argument --source/-s: expected one argument`.

W

[2022-04-05 23:56] superhappychris opened #776 "DevOps Pipeline Fails With Error: The process '/usr/bin/bash' failed with exit code 1"
**Describe the bug**
My DevOps pipeline just started failing today (last successful build was last night). The project is a react front end with javascript function endpoints. The build fails after uploading to the app service. From what I can tell, it times out when polling to see if the upload finished (see screenshot). The code still gets deployed though.

**To Reproduce**
Steps to reproduce th

[2022-04-06 00:01] miwebst commented on #776
We are working on fixing an issue related to repositories that have a hostname of '<something>.visualstudio.com', does your repo fall into that category?

[2022-04-06 00:02] superhappychris commented on #776
it does indeed

[2022-04-06 00:03] miwebst commented on #776
Yup we are actively working on fixing this, sorry for the inconvenience!

[2022-04-06 03:28] ashisn001 opened #777 "Devops pipeline failed with timeout error"
**Describe the bug**

Devops pipeline just started failing today. It was working as expected before. The project consists of some xml and html files.

**To Reproduce**
Steps to reproduce the behavior:
1. Commit and push a change to bit bucket
2. Build pipeline will be triggered
3. See the logs for the error

**Azure Pipelines YAML File**
trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:

[2022-04-06 04:48] miwebst commented on #777
Same as this issue. Lets use the earlier one to track: https://github.com/Azure/static-web-apps/issues/776

[2022-04-06 04:48] #777 closed

[2022-04-06 07:02] miwebst commented on #776
We just finished rolling out a mitigation, you should be able to retry successfully now.

[2022-04-06 11:00] ashisn001 commented on #777
@miwebst : still this issue exists, we are getting the same error as before

[2022-04-06 11:11] ashisn001 opened #779 "Devops pipeline still failing with timeout error - After rollback"
**Describe the bug**

Devops pipeline just started failing today. It was working as expected before. The project consists of some xml and html files. I raised this before but still the issue exists.
[https://github.com/Azure/static-web-apps/issues/777#issue-1193960251](url)

**To Reproduce**
Steps to reproduce the behavior:

Commit and push a change to bit bucket
Build pipeline will be triggered
S

[2022-04-06 14:05] rbrynteson commented on #776
@miwebst We are setting the same issue with Static Web Apps + GitHub connection and we are seeing the above message.

![image](https://user-images.githubusercontent.com/17522044/161993200-d6ef32b6-b1d9-4685-9077-169f8f3563c6.png)

[2022-04-06 15:32] epopisces commented on #776
Affected also, same error as of this posting.  Glad to hear this issue is already open, will stand by to test when the next fix rolls out!

[2022-04-06 16:22] #779 closed

[2022-04-06 18:02] StephenStrickland commented on #604
@Reshmi-Sriram where is the best place to view/watch for updates?

[2022-04-06 18:22] dalvaren commented on #253
@EntityAdam , your solution worked very well, the only point I had to add to the build instructions was to also install the Bundler.

[code]

[2022-04-06 18:31] rbrynteson commented on #776
@miwebst Very similar to the above, yes.  Specifics are:

- jQuery project in GitHub Repo.  Includes three azure-pipelines.yml files to three different Azure Static Web Apps (production, staging, development) based on the trigger/branch
- Task Name: AzureStaticWebApp@0
- NPM based, uses gulp, to do some transformation of the project

[2022-04-06 18:53] miwebst commented on #776
We have just applied another hotfix, please retry and let us know if you are unblocked!

[2022-04-06 20:28] epopisces commented on #776
Just tested, successfully deployed to the static web app!

Thanks for resolving the issue 👍

[2022-04-06 20:52] rbrynteson commented on #776
Same.  All is good now.  Thanks!

[2022-04-06 21:06] zhuniqiabedin opened #780 "The content server has rejected the request with: InternalServerError"
Hi there,

Following the official help docs to build an Angular project on Azure Static Apps, but the GitHub Actions returned error that stopped the project to go further.
Till yesterday it worked perfectly fine

The repo I used to deploy is private but I have this script at build.
"scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng

[2022-04-06 23:53] zhuniqiabedin commented on #780
I was able to fix it, I just revert the last PR and then deployed and it is working for new PRs now.

[2022-04-06 23:58] miwebst commented on #780
Hmm this is unexpected, what was the difference between the 2 PR's? What changed?

[2022-04-07 00:03] zhuniqiabedin commented on #780
Some new APIs that I have written and some changes on Services.

[2022-04-07 01:15] kshingaims opened #781 "Feature to create a staging (preview) environment from Azure DevOps"
I refer to [the following comment](https://github.com/Azure/static-web-apps/issues/5#issuecomment-855309670) in #5 and make this request for an additional feature here as a new Issue.
[code]

Currently, Static Web Apps can only create a staging (Preview) environment through GitHub Actions Pull Requests.
Would you consider the feature to create this staging environment from Azure DevOps?

We hope y

[2022-04-07 01:53] juaneangulou commented on #302
Hey Bro you are awesome because  I just add CI= false  and then  react-scripts build and  works  thanks!

[2022-04-07 07:42] Reshmi-Sriram commented on #604
Hey @StephenStrickland,
I'm afraid I do not have the links to share to track the progress, but given the change is merged, you should be able to see it reflected and released soon :)
Hope that helps!

[2022-04-07 07:48] Reshmi-Sriram commented on #781
Related https://github.com/Azure/static-web-apps/issues/604

Hi @kshingaims!
We have already started working on this ask, as monitored in [this thread](#604).
The [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15981) for the same has been merged and will be released shortly.
We'll close this issue so that it could be tracked on a single one.
Hope this answers! :)

[2022-04-07 07:48] #781 closed

[2022-04-07 09:27] jiaojiaoxia commented on #771
Hi All, has the issue been resolved? I am still having it and it blocks our deployment for a week now.

[2022-04-07 11:40] Zache commented on #780
I have gotten this for different pipelines and it looks like some transient error, because the actual deployed artifacts should not have changed.

[2022-04-07 12:44] dabedin commented on #748
This looks like it has been fixed, closing it

[2022-04-07 13:56] MaximRouiller opened #782 "The number of files in the app content folder exceeds the limit of 15000"
[code]

I'm trying to deploy 87,814 files (~2.3GB) and it fails.

Steps to reproduce the behavior:
1. Creating a site with Gatsby that has more than 15000 files (without a node_modules folder)
2. Deploying it to Azure Static Web Apps

Here's the [GitHub Action YAML file](https://github.com/MaximRouiller/azure-rest-api-code-samples/blob/282ae699f8df2deef0507d05a0d9021b4bd1cf70/.github/workflows/azu

[2022-04-07 17:46] shibayan commented on #761
Hi @miwebst @anthonychu. Is there a way forward to successfully resolve this issue? For our customers, authentication behavior is a blocking issue😥

[2022-04-07 18:34] mhoffner commented on #761
Hey @shibayan. I resorted to adding a blank page to my SWA that's behind an 'authenticated' role and loading that page in an invisible iframe to refresh the cookie without any user interaction. I added a BroadcastChannel exchange between the app and blank page so that the app knows when the cookie has been refreshed and can attempt to call the api again.

Definitely not ideal, but its working for

[2022-04-07 20:29] nikolayarhangelov-arnitek commented on #609
Adding another use case that leads to the same problem.

**Steps to Reproduce**
1. Create SWA.
2. Add a Custom Domain with a TXT record.
3. While the TXT record is validating, select the domain and click Set as Default.
4. Some time passes and suddenly the domain disappears - no errors in the audit log. Here I stumbled upon some issues that if the custom domain verification fails, it just disappea

[2022-04-08 14:49] MaximRouiller commented on #782
Duplicate of #520.

[2022-04-08 14:49] #782 closed

[2022-04-11 19:30] divismv opened #783 "I have a docFx documentation that I want to push to an Azure Static Web App, My toc.yml is not loading or missing"
toc.yml:1          Failed to load resource: the server responded with a status of 404 (Not Found)
toc.yml:1          Failed to load resource: the server responded with a status of 404 (Not Found)
toc.yml:1          Failed to load resource: the server responded with a status of 404 (Not Found).

This is my yaml file.
trigger:
- master

pool:
  name: *******

steps:
# NuGet tool installer
- task: Nu

[2022-04-12 06:08] mmrepos commented on #771
@MichielCornilleKenze @jiaojiaoxia Could you confirm that you are providing repository token with right permisions as we need to have enough permissions to make changes to their repository, which wasn't the case before. The workaround for this is that they'd have to use a PAT token with these minimal permissions - Build(Read & Execute); Code(Read, write, & manage); Variable Groups(Read, create, &

[2022-04-12 09:27] jiaojiaoxia commented on #771
Hi @mmrepos, yes, found out when I filled in the repository token, then the deployment works again. Thanks.

[2022-04-12 15:00] ahummel25 opened #784 "Getting a 502 Server Error on Static Web App"
I'm deploying a Next.js React app using Azure pipelines. The deployment is working just fine, but I can no longer access the site once it's done.

This has been working just fine for weeks up until yesterday. I'm now getting a 502 on page load.

Here is my pipeline YML. This is deploying just fine in Azure Devops:

[code]

**Expected behavior**
Should be able to access the static web app URL witho

[2022-04-12 15:05] ahummel25 commented on #784
Running this in production mode locally works just fine as well.

[2022-04-12 17:37] tkamesh commented on #784
Hi @ahummel25

Do you mind sharing deployment log? Please remove any sensitive information from the log before sharing.
Alternatively, open a support ticket with deployment log.

Thanks!

[2022-04-12 23:14] ahummel25 commented on #784
Hi @tkamesh, thanks for the reply. [This Microsoft Q&A here](https://docs.microsoft.com/en-us/answers/questions/721682/does-azurestatic-web-apps-support-yarn-3.html) ended up resolving my issue.

In short, it's a seemingly new issue with the `[AzureStaticWebApp]` [pipeline task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/azure-static-web-app?view=azure-devops), which I r

[2022-04-13 07:49] derekvantonder commented on #570
I'm also getting this, except it's been many times in a row, this is now stopping us releasing our SWA website. @anthonychu would appreciate it you could check out what's going on? Here is what I get:

---End of Oryx build logs---
Finished building app with Oryx
Using 'staticwebapp.config.json' file for configuration information, 'routes.json' will be ignored.
Copying 'staticwebapp.config.json' to

[2022-04-13 09:11] fabge opened #785 "Redirect with post_login_redirect_uri=.referrer cuts of trailing slash, breaks *every* relative link"
We are redirecting users to the requested page after they have successfully authenticated like so:

[code]
The URL the user is redirected to differs from the initial request URL. As an example, this is the URL the user enters:
https://docs.example.com/docs/concepts/roles-and-tasks/
And this is the URL the user is redirected to:
https://docs.example.com/docs/concepts/roles-and-tasks

Notice the mis

[2022-04-13 09:49] chrisjensenuk commented on #608
We've just hit this issue too. Any update on this? Thanks

[2022-04-13 14:54] mrdobing commented on #771
Hey, @jiaojiaoxia, @mmrepos... can you kindly explain the workaround for this issue please?
I have a vue app that deploys to a static web app via azure pipeline and I'm getting a repository token invalid issue.

Sorry, I'm not an experienced dev so a little walkthrough would be really appreciated to get this up and running again !

[2022-04-13 15:13] mrdobing commented on #767
Any updates on this?

[2022-04-13 16:10] miwebst commented on #570
@derekvantonder can you provide some of the logs (i.e. deployment Id) or the default hostname of the site? Additionally, what is the CI/CD setup for this? Is it running on self-hosted runners?

[2022-04-13 16:51] rickersilva commented on #42
For a cool workaround take a look here. No definitive solution still because we depend on Microsoft for this.

https://stackoverflow.com/questions/70254772/azure-static-web-apps-not-loading-page-resources-correctly-css-or-javascript-fi

[2022-04-13 18:01] mkarmark commented on #784
do you mind sharing your app name? We can take a look at our runtime logs as well!

[2022-04-13 18:43] ahummel25 commented on #784
@mkarmark What exactly do you mean by app name? Do you want the function URL?

[2022-04-14 03:31] joedevgee commented on #771
exactly, can we make all the repository related parameters optional? bicep/arm should only provision the resource and let CICD handle the static site deployment

[2022-04-14 13:17] fardarter commented on #677
I'd also like this

[2022-04-14 19:30] tscrip commented on #759
Any update @mkarmark?

[2022-04-15 17:05] mkarmark commented on #784
yeah the hostname of the app, or the name of the static web app; either of these will help us find the logs for your site

[2022-04-15 18:36] ahummel25 commented on #784
The name is `cap-dev`

[2022-04-16 01:07] AverageCakeSlice commented on #366
Any update on this? It's been a year and I'd still love to see this implemented.

[2022-04-17 14:15] derekvantonder commented on #570
Hi @miwebst, the site's default hostname is https://delightful-forest-02a74151e.azurestaticapps.net.

This has happened intermittently but a couple of days ago it was like every build. Just a mysterious error about failing to upload build artifacts, no more info than that.

Thank you!

[2022-04-18 22:32] krossley opened #786 "Token Not Provided Error"
When going through the tutorial at
https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor

I keep getting the error below.  I have refreshed the token and tried again but I get this error.

deployment_token was not provided.
The deployment_token is required for deploying content. If you'd like to continue the run without deployment, add the configuration skip_deploy_on_missing_secret

[2022-04-18 23:43] miwebst commented on #767
This should be fixed now! Again sorry for the inconvenience.

[2022-04-18 23:44] miwebst commented on #771
We've now made this info optional. You should be able to deploy with ARM/BICEP without needing to introduce CI/CD details.

[2022-04-19 00:21] #776 closed

[2022-04-19 07:43] flip-it commented on #771
Great! Works good.

[2022-04-19 08:44] nicksimmonds-lmk commented on #771
This is still not working for me.  I have removed provider, repositoryUrl and branch from our bicep template but when I deploy the template to a static web app that has code deployed to it I still get the error:
RepositoryUrl is invalid.  The repository url does not match the format of a DevOps repository.

[2022-04-19 08:46] nicksimmonds-lmk commented on #767
This is still not working for me. I have removed provider, repositoryUrl and branch from our bicep template but when I deploy the template to a static web app that has code deployed to it I still get the error:
RepositoryUrl is invalid. The repository url does not match the format of a DevOps repository.

[2022-04-19 09:30] jiaojiaoxia commented on #771
@nicksimmonds-lmk
The fix I have done is to provide repositoryToken. Here is the arm template I used. The repositoryToken comes from System.AccessToken from agent.
        {
            "type": "Microsoft.Web/staticSites",
            "apiVersion": "2021-02-01",
            "name": "[parameters('staticSiteName')]",
            "location": "West Europe",
            "sku": {
                "name":

[2022-04-19 09:45] nicksimmonds-lmk commented on #771
My issue is that I use a bicep template to deploy the Static Web App resource.  I then have a DevOps pipeline that pulls our code from a GitHub repo, builds the code and then deploy the code to the Static Web App.  This then sets the following values on the resource:

branch: main
provider: DevOps
repositoryUrl: https://github.com/xxxxx/xxxxx

The issue is that when I try an deploy the bicep templ

[2022-04-19 14:13] MichielCornilleKenze commented on #771
Is this resolved for existing static apps or does it only work for new static apps? After removing repositorytoken, repositoryurl and branch the static site deployment tells me that it cannot find a static site or the token is invalid which is most definitely not true (the azure resource exists and the token is fetched using ARM/bicep)

[2022-04-19 14:40] mrdobing commented on #771
@nicksimmonds-lmk, I have a similar setup in devops however our code is in an Azure git repo and not github.
I just commented out any repo properties in the bicep file and my pipeline just worked. Can you import your repo into your azure devops project and try that?

[2022-04-19 14:47] MichielCornilleKenze commented on #771
The issue resolved itself on consecutive tries. Deploying seems to be fixed. You can close this issue.

[2022-04-19 14:58] nicksimmonds-lmk commented on #771
@mrdobing our policy is to use GitHub only for repos.

[2022-04-19 15:58] miwebst commented on #767
Can you change the provider to 'Custom'? We will be adding clearer docs on how we recommend to work with ARM/BICEP in the future.

[2022-04-19 19:50] Reshmi-Sriram commented on #298
Hey all,
A couple of updates here. We have recently published official documentation on how to deploy using [Bitbucket](https://docs.microsoft.com/en-us/azure/static-web-apps/bitbucket?tabs=vanilla-javascript) and [Gitlab](https://docs.microsoft.com/en-us/azure/static-web-apps/gitlab?tabs=vanilla-javascript) as the CI/CD agents.

On supporting deployment via other non-CI/CD modes, we are currently

[2022-04-19 19:57] rellis-of-rhindleton commented on #670
Found this looking for information on navigationFallback's behavior. Honestly this is surprising. I've used a couple of other website engines where URL rewriting re-runs the route evaluation as if the request had come in for the rewritten URL. That is the behavior I would expect. It allows all route configuration to be in effect. Having navigationFallback ignore the configured routes makes it of l

[2022-04-20 04:20] nguyenanhducs opened #788 "Unable to deploy static web app using GitHub Actions"
**Describe the bug**

Unable to deploy a Static Web App using GitHub Actions right after provisioning by ARM template.
The error was:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an ARM template
[code]
2. Create a secret TOKEN_TO_DEPLOY_STATIC_WEB_APP which has access to the current repo.
3. Create YAML file to deploy.
[code]
4. Start the GitHub Action manually.

The error a

[2022-04-20 08:24] nicksimmonds-lmk commented on #767
@miwebst Chaning provider to 'Custom' has worked.  Thank you.

[2022-04-20 14:30] sig9 commented on #764
I am running into the same issue with CosmosDB after updating my .csproj to Target Framework net6.0 and Azure Functions Version v4. The Oryx build fails in a PR github action.
These are all the csproj changes I made.
![image](https://user-images.githubusercontent.com/2271605/164253641-073846e8-d8a3-4f1a-91e7-f8b240403af4.png)

The Error I see is:
![image](https://user-images.githubusercontent.com/

[2022-04-20 14:56] colinansah commented on #640
I'm facing the same issue right now. I have the same staticwebapp.conf.json (different provider).

Is there a way to complete the PKCE flow using the static web app auth?
And what is the purpose of "loginParameterNames"? I can't find any documentation on it

[2022-04-20 15:51] colinansah commented on #640
@mfcollins3 Thanks but I already have it setup correctly for my custom claim.. It fails at the initial request to the authorize endpoint since PKCE is required and code_challenge is missing.

[2022-04-20 16:46] anthonychu commented on #764
I think this might be an issue introduced by `Microsoft.NET.Sdk.Functions` 4.1.0. Can you try using 4.0.1 to see if the issue persists?

[2022-04-21 00:59] collinbarrett commented on #343
When using `skip_api_build`, how do we specify where the pre-built api artifacts live so that `Azure/static-web-apps-deploy` knows where to get the function code artifacts from? The docs for `api_location` specify:

(note, "source code", not pre-built artifacts)

Should there be a parameter such as `api_output_location`, `api_artifacts_location`, or similar? I tried tracing down how the client wor

[2022-04-21 03:23] anthonychu commented on #343
@collinbarrett Thanks for the suggestion. I've submitted changes to the docs that should be live soon.

[2022-04-21 07:32] nguyenanhducs commented on #788
I added a step to print out the deployment token
[code]

Here are the deployment logs

First attempt
![image](https://user-images.githubusercontent.com/24520820/164399391-5ff10a9a-2fd9-4d8f-835e-4c7c05dcbf77.png)

Second attempt
![image](https://user-images.githubusercontent.com/24520820/164399582-d1999a5f-3bb9-4d5d-b278-3a9241c952a3.png)

I don't know why it always fails on the first try. The dep

[2022-04-21 13:11] rickvdbosch commented on #764
Thank you @anthonychu, that does the trick!
Downgraded the mentioned package `Microsoft.NET.Sdk.Functions` from version 4.1.0 to 4.0.1 and the build error on my GitHub actions workflow disappeared.

[2022-04-21 16:59] shibayan commented on #761
Hi @mhoffner. Thanks for the info. It's a fascinating approach, but seems difficult to do for OpenID Connect providers. Most of them should have measures in place to prevent iframes from being displayed.

Ideally, a refresh token would be issued and the login session could be refreshed silently, which is possible with Easy Auth's Token Store, which I hope will be added.

It is also very demanding

[2022-04-22 11:08] Bobetti commented on #26
Hey,

I'm having an almost similar problem with appinstaller file.

I have created a blob container named $web, which should work as a static app container.

During the build, using AzureBlob File Copy task several files are placed into the above container:

- index.html
- Myapp.appinstaller
- Myapp.msixbundle

Html is the most basic one having in the body only a link:
`<a href="https://...storage

[2022-04-22 11:21] RossBugginsNHS commented on #640
Changing the app platform type from SPA to web sorted this for me

[2022-04-22 13:27] Strepto commented on #765
Any chance of this? We are frequently hitting the 10 PR environment limit.

[2022-04-22 18:06] joslinmicrosoft commented on #42
Hi all, thank you for your feedback and patience on this request. We have added the ability to configure trailing slash behavior with the `trailingSlash` configuration in your `staticwebapp.config.json` file. The documentation can be found here: https://docs.microsoft.com/azure/static-web-apps/configuration#trailing-slash. Please let us know if this works for your use cases!

[2022-04-22 18:08] joslinmicrosoft commented on #210
Hi all, thank you for your feedback and patience on this request. We have added the ability to configure trailing slash behavior with the `trailingSlash` configuration in your `staticwebapp.config.json` file. The documentation can be found here: https://docs.microsoft.com/azure/static-web-apps/configuration#trailing-slash. Please let us know if this works for your use cases!

[2022-04-22 19:50] joslinmicrosoft commented on #605
Hi all, thank you for your feedback and patience on this request. We have added the ability to configure trailing slash behavior with the `trailingSlash` configuration in your `staticwebapp.config.json` file. The documentation can be found here: https://docs.microsoft.com/azure/static-web-apps/configuration#trailing-slash. Note that the configurations also apply a set of URL normalization and redi

[2022-04-23 09:42] nitelite commented on #22
If you specify which branch is your production branch, you can get stable URLs for the rest of your branches at least.
Ref: https://azure.microsoft.com/en-us/updates/public-preview-stable-urls-for-preview-environments-in-azure-static-web-apps/

[2022-04-23 16:50] diberry opened #790 "Deploy from Azure DevOps to SWA failed on resource creation"
**Describe the bug**

Tried this 3 times with same repo so not an issue with the service. I can deploy through pipelines to Azure App Service. Trying to convert that project to SWA since it is just a react app. No idea if the issue is my config of the deployment, app route and where to find the files for yml or if it is a permission problem with the internal FTE AzDo.

**To Reproduce**
Steps to re

[2022-04-23 19:46] INNVTV commented on #790
I am getting the exact same issue with my Azure DevOps repository using a Blazor WASM application.

[2022-04-23 22:04] diberry commented on #790
The only way I deployed at resource creation time was to create a new repo with nothing in it. Create the resource successfully. Move code into new repo, then deploy again.

[2022-04-25 03:42] Legonois opened #791 "When building ASP.NET template Oryx crashes and I can't do the correct build settings. It seems to be a wwwroot issue/"
When committing to GitHub, the app has issues in the Build and Deploy section

**To Reproduce**
Steps to reproduce the behavior:
Push a ASP.NET project and set the source file to the folder under the directory

**Expected behavior**
Build and publication of a web app

**Additional context**
I had a web app running on Azure web apps before trying to migrate it to static web apps. Then this issue ha

[2022-04-25 05:10] rupareddy5-21 commented on #790
We are working on this issue and bug fix will be rolled out soon. Sorry for the inconvenience!

[2022-04-25 10:48] mathiasi opened #792 "Documentation on how to use Playwright for E2E testing when EasyAuth is enabled"
**Is your feature request related to a problem? Please describe.**
I'm trying to set up a end-to-end testing flow using Playwright. However my Static Web App (Angular) is protected using EasyAuth (AAD provider). I don't want to rely on username/password if possible for a test user and I was thinking if managed identities are the way to go.  I don't know how to authenticate a test user since I can'

[2022-04-26 16:04] andersme commented on #624
We are also running into this issue. Some of our CSS files were referenced using the wrong casing and failed to load. This really should be address since URLs should be case insensitive.

[2022-04-26 16:23] miwebst commented on #624
URL paths are supposed to be case sensitive. It matters for things like SEO scoring, routing, etc.

[2022-04-27 00:41] neoKushan commented on #722
I've just stumbled upon this issue after banging my head against the wall for hours. It doesn't help that there's a similar issue on stackoverflow that offers a different solution (That doesn't work for me): https://stackoverflow.com/questions/68786583/task-azurestaticwebapp0-could-not-detect-this-directory-but-its-presented/72021979

I'm not too familiar with the ins and outs of Azure DevOps thes

[2022-04-27 07:43] superhp commented on #22
@nitelite thanks, that's great! I also saw that SWA phoenix environments are now deployed to a more stable URL: stableurl-pullrequestnumber.azurestaticapps.net (https://docs.microsoft.com/lt-lt/azure/static-web-apps/review-publish-pull-requests). So you can predict it now. For example, you can register a new redirect uri for Azure B2C programatically: az rest --method PATCH --uri 'https://graph.mi

[2022-04-27 10:26] rapopescu16 commented on #785
Hi @fabge, thank you very much for the details!
I will add here the link to the documentation where it is mentioned how we can configure the trailing slash with Static Web Apps: https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#trailing-slash just for future references.
Thanks a lot!

[2022-04-27 11:07] pizerg opened #793 "Feature Request - Allow SignalRTrigger in managed functions"
**Is your feature request related to a problem? **
When trying to deploy SWA with managed functions that contains a SignalRTrigger, the deployment fails since the only supported trigger for SWA managed functions is HttpTrigger.

**Describe the solution you'd like**
Since SignalR service just seems to perform HTTP POST requests when handling upstream events it should be possible to use SignalRTrigg

[2022-04-27 11:14] #785 closed

[2022-04-27 17:43] cormacpayne commented on #694
@simonaco @anthonychu @Reshmi-Sriram -- wanted to double check how feasible the below solution may be from the Static Web Apps side:

As mentioned above, our images have `npm@6.14.15` pre-baked into them with no explicit way to snap to a specific version. One thing I tested was using the `PRE_BUILD_COMMAND` environment variable to run the `npm install -g npm@{version}` command right before the `or

[2022-04-27 23:28] therealmarkber commented on #605
Some great progress!
Anyone have a sample / guidance to implement something similar with prerender.io for an Angular app?: https://docs.prerender.io/docs/18-integrate-with-iis

[2022-04-28 07:25] smeraner commented on #298
I am using the gitlab image for deployments from my local machine as temporary solution.

podman run --volume "$(pwd)":/root/app \
  --volume "$(pwd)"/api:/root/api \
  --env API_TOKEN=$DEPLOYMENT_TOKEN \
  --env APP_PATH=/root/app \
  --env API_PATH=/root/api \
  --env OUTPUT_PATH=/root/app/dist \
  registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy

[2022-04-28 10:08] colinansah commented on #565
Did you manage to get access to the access_token somehow?

[2022-04-28 10:21] AmbachtIT commented on #722
The comment by @anthonychu put me on the right track. Eventually, this snippet did the trick for me:

![image](https://user-images.githubusercontent.com/34813625/165731758-2402d9a7-015b-491c-89fa-cd04758b72fd.png)

The path `$(Pipeline.Workspace)/drop/Blazor.$(Build.BuildId)` contains the folder generated by `dotnet publish`. This means that there is a folder `wwwroot` in there containing the appl

[2022-04-28 10:21] #722 closed

[2022-04-28 10:43] ofcoursedude commented on #298
I would actually like to vote for a non-oryx-based build/deploy support. While it sounds cool to have universal build system, oryx 1) is a huge image, 2) runs on x64 only, 3) requires a container and 4) is pretty slow compared to other methods, making it expensive to run on cloud agents and tricky to work with on self-hosted agents. Just my $.02.

[2022-04-28 10:50] Reshmi-Sriram commented on #298
Hi @ofcoursedude ,

Thank you for your views! Like mentioned earlier, we are currently working on a non-CI/CD support to be able to deploy directly from your local environment.

Stay tuned! :)

[2022-04-28 10:57] adriancuadrado commented on #298
Would it be possible to add an option to deploy using local git and use FTP, etc. just like in Azure App Service?

[2022-04-28 11:26] smeraner commented on #298
The current available option works with any repository but requires docker runtime and it's slow. Looking forward to the release of the deployment tool, that is currently part of the image.

[2022-04-28 11:42] colinansah opened #794 "Add access token to user details endpoint (/.auth/me)"
**Is your feature request related to a problem? Please describe.**
I'm using a custom identity provider and have the rolesSource set in the staticwebapp.config. Whenever a user logs in, a request gets sent to "/api/GetRoles" to assign roles to a user. All of this works perfectly and whenever I go to "/.auth/me" I have access to the roles, claims etc of the user.

The problem I'm facing is that the

[2022-04-28 12:22] superhp commented on #749
Do you have any updates on the progress? This feature sounds really good and we would like to test it as soon as the preview is available :)

[2022-04-28 13:07] nerblock commented on #749
I agree, it would be nice to have an update on this.

[2022-04-28 14:30] anthonychu commented on #298
@ofcoursedude Regarding your comment about x64, what OS/arch are you looking for?

[2022-04-28 20:10] egeyer opened #795 "Help! Deploying pre-built API"
I have been struggling to get a static web app deployed that needs a private github repo while building the API.
I'm using a dotnet 6.0 stack -- blazor front end and functions dotnet:6.0 backend.

After a lot of internet searching, I finally stumbled upon someone suggesting that I use separate code to build the pieces and then use the skip flags.

However, I must be missing something...because whe

[2022-04-29 03:47] anthonychu commented on #795
Is your repo public? I don’t think there’s enough info here to troubleshoot.

[2022-04-29 11:19] smeraner commented on #298
This version is faster as workaround, it uses a different image and loads dependencies only once:

# spin up container for deployment once
podman run -t -i \
  --volume "$(pwd)":/root/app \
  --volume "$(pwd)"/api:/root/api \
  --env API_TOKEN=$DEPLOYMENT_TOKEN \
  mcr.microsoft.com/appsvc/staticappsclient:stable \
  /bin/bash

# run for every deployment with Oryx build
/bin/staticsites/StaticSite

[2022-04-29 13:46] egeyer commented on #795
No, sorry, it's not a public repo.  It's one that's internal to my company.  I can do my best to provide whatever might be helpful, though.  I have tried so many things!  This morning, I realized that maybe because I was building the frontend myself, it wasn't properly seeing the `staticwebapp.config.json` file. When it deployed the frontend without the backend, I did notice that my rewrite for Lo

[2022-04-29 15:41] anirudhpm commented on #59
@justinyoo
When you used the route configuration to limit the access to your api to authenticated users, doesn't it beat your purpose of building a public facing frontend/SWA? I'm curious, because i'm in a similar situation.

[2022-04-29 16:29] andersme commented on #624
Yes, it is more of my opinion that they should be case insensitive. However, in this case, maybe there needs to be an option in Azure to say whether you want to use case-insensitive matching or not.

[2022-05-01 08:12] tkamesh commented on #795
Azure Swa scans for `staticwebapp.config.json` under the directory of `app_location`. In this case `blazor/wwwroot` didn't contain required config, so it failed. Also, `api_location` should be full path like - `Api/bin/Release/net6.0`.

[2022-05-01 23:39] THANABusiness opened #796 "thana"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-02 13:40] vincda commented on #291
Issue just reproduced for Python 3.8 and pyodbc 4.0.30, with Github actions for deployment. Could fix it using Ubunbtu-18.04 instead of unbuntu-latest as mentioned by @erfannariman.

[2022-05-02 15:42] egeyer commented on #795
@tkamesh  Thank you!  I had actually tried to do both of those things.  But as things go, I had a bug/typo in my MSBuild step that copied the config file to the published directory.  And when changing the location of the Api didn't do anything, I may have changed it back while attempting to find the magic combination, so I guess I didn't have both changes going at the same time.

I think the only

[2022-05-03 04:57] Reshmi-Sriram commented on #796
Closing this issue since it has no context. Please feel free to lodge a new one if necessary!

[2022-05-03 04:57] #796 closed

[2022-05-03 05:00] Reshmi-Sriram commented on #795
@egeyer Thank you for the callout! We're glad you could resolve your issue, and will work soon on updating the doc! :)

[2022-05-03 08:40] ivancavlek commented on #768
Hi, @mkarmark!

Can you tell us if there is any progress regarding this issue?
Do you need more information, logs, error IDs, something from Application Insight...anything that we can provide you for assistance?
This error is causing us a great deal of trouble!

[2022-05-03 16:39] simonaco commented on #510
We've just added support for [named preview environments](https://docs.microsoft.com/azure/static-web-apps/named-environments?tabs=azure-devops) using Azure DevOps. Please give it a try and let us know if you have any feedback.

[2022-05-03 16:48] simonaco commented on #497
We've recently added support for:

1. [named preview environments in Azure DevOps](https://docs.microsoft.com/azure/static-web-apps/named-environments?tabs=azure-devops)
2. A [skip_api_build](https://docs.microsoft.com/azure/static-web-apps/build-configuration?tabs=github-actions#skip-building-the-api) flag that allows you to deploy build artifacts without the task rebuilding the app

Please give

[2022-05-03 19:18] johnnyreilly commented on #510
Thanks @simonaco! Will do!

[2022-05-03 21:47] mishapos commented on #750
@rtrindvg It's possible to achieve the behavior you want by modifying your workflow file to include this to the call to the Azure/static-web-apps-deploy@v1 task:

[code]

By setting the `DEPLOYMENT_PROVIDER` environment variable to something other than `GitHub`, you are telling the action that you wish to handle setting all the deployment configuration values yourself, and you don't want it to aut

[2022-05-03 21:56] mishapos commented on #741
Hi @TheMightyBorkon, we have launched support for [Branch and Named Preview Environments ](https://docs.microsoft.com/en-us/azure/static-web-apps/preview-environments)! These are non-production environments that can be linked to another BYOF. Just follow the [existing tutorial on BYOF](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) and select your stable preview e

[2022-05-03 22:38] mishapos commented on #611
Hi! We have shipped [Branch Environments](https://docs.microsoft.com/en-us/azure/static-web-apps/branch-environments?tabs=azure-devops) and [Named Environments](https://docs.microsoft.com/en-us/azure/static-web-apps/named-environments?tabs=azure-devops) for GitHub and Azure DevOps which allows you to specify the name of a pre-production environment to deploy to.

This will allow you to have a pred

[2022-05-04 09:18] colinansah commented on #794
Found the access token in de "x-ms-auth-token" header.

[2022-05-04 19:33] danielwoodhead opened #797 "GitHub action failing to add PR comment"
I'm getting this error message when using the GitHub action (the typo is genuine):

[code]

Example run (see 'Build and Deploy' step)': https://github.com/danielwoodhead/release-strategy/runs/6295807292?check_suite_focus=true
Workflow: https://github.com/danielwoodhead/release-strategy/blob/main/.github/workflows/dev.yml

[2022-05-06 13:30] johnnyreilly commented on #510
Hey @simonaco

I've taken named preview environments for a spin.  Seems to work - I've a bunch of questions:

- am I right in thinking that named preview environments can't be renamed once created?
- nothing cleans up a named preview environment I think?  They live as long as your default branch lives?
- how many named environments could you have with an SWA?   Based on my usage it seems like only

[2022-05-06 14:05] simito opened #798 "Deploy/Publish package using PowerShell or REST API."
**Is your feature request related to a problem? Please describe.**
Not exactly related directly to a problem, but the current deployment option isn't the best for us.

**Describe the solution you'd like**
Any way to deploy static contents besides using the Task? For example, using an API to post the zip (package) or by using a PowerShell script? We have on-premise build servers running Windows and

[2022-05-06 17:16] blrchen opened #799 "Not able to setup github workflow for a repo which I am repo admin but not org admin."
**Is your feature request related to a problem? Please describe.**
I am not able to setup github workflow for a repo which I am repo admin but not org admin.

**Describe the solution you'd like**
Make repo admin able to setup github workflow without gaining org admin permission.

**Describe alternatives you've considered**
Since it's hard for me to gain org admin permission, I have to look for oth

[2022-05-06 19:31] jwarner00 opened #800 "Cookie value set from API is URL Encoded twice from deployed SWA"
When setting a cookie in a C# API, cookie value is URL encoded twice from an SWA deployed to Azure, but once (as expected) when running locally. Problem observed running in Microsoft Edge. This causes a problem for reading the cookie from the API - namely that the API must conditionally URL decode the cookie value.

**To Reproduce**
Steps to reproduce the behavior:
1. See sample repository for cod

[2022-05-07 10:13] johnnyreilly commented on #510
I've written up my experiences in this blog: https://blog.johnnyreilly.com/2022/05/07/static-web-apps-azure-devops-named-preview-environments

Do let me know if there's any issues with it!

[2022-05-07 10:37] theo-albers commented on #510
Why is this called "preview" and not "staging" like normal terminology in release pipelines and Azure resources?

[2022-05-07 10:43] theo-albers commented on #510
The feature can now pick up a build artifact in a release pipeline. In a typical scenario you still want some config to be modified in the static website build artifact. Staging might need different back end URI's for instance. As I mentioned earlier we use Azure App Configuration to rewrite specific keys in a config.json file we use in the build artifact. Unfortunately the AAC release task can't

[2022-05-09 05:21] anuraj commented on #631
I was also facing the issue. I removed `Microsoft.Azure.WebJobs.Extensions.Storage` package reference and it started working properly.

[2022-05-09 21:17] mkarmark commented on #791
Do you mind sharing your app structure with us? If you don't feel comfortable sharing it here, feel free to file a support ticket and we can help you there

[2022-05-09 21:23] mkarmark commented on #794
Can we get more details on why you would like the access token to be exposed? We have intentionally hidden in from the /.auth/me output for security reasons but can consider exposing it there if there is sufficient reason to expose it.

[2022-05-09 22:03] colinansah commented on #794
The access token needs to be sent with every request to our services (API’s on the same domain as the SWA) in order for the users to get access to their resources. Perhaps an option to set a httponly cookie with the token is more suited for this situation?

[2022-05-10 11:30] #771 closed

[2022-05-11 09:09] ivancavlek commented on #794
@mkarmark,

What @colinansah is saying is that access token doesn't have to specifically be visible in /.auth/me, but should be available whenever we call an _api_ function and that it can be derived from _x-ms-client-principal_.

That would help enormously to reuse the existing access token and not login users twice, once to SWA and to e.g. MSAL. There are already issues created considering this

[2022-05-11 14:33] therealmarkber commented on #605
@anthonychu and @joslinmicrosoft .. can you assist with this?

[2022-05-11 22:59] jvannor opened #801 "SWA fails to call slow API"
I have a SWA built using Angular that is linked to a BYO Function App.  The Function App links to a Serverless Azure SQL Database.

The system works fine until the SQL Database falls asleep.  When this happens, the function encounters errors while it wakes SQL up.  The function is configured with a long SQL Connection Timeout (180 seconds).  It also uses EFCore with resilient connections (default

[2022-05-11 23:09] LayZeeDK commented on #444
@ebuzyuma
According to Bicep lint rule `outputs-should-not-contain-secrets, outputting sensitive data is a bad idea`:

[2022-05-12 04:18] johnnyreilly commented on #444
Here's an example pipeline that acquires the secrets used for deployment; https://blog.johnnyreilly.com/2021/12/05/azure-static-web-app-deploy-previews-with-azure-devops#azure-pipelines-tweaks

[2022-05-12 04:54] ChiliMonanta commented on #677
Not sure if I'm missing something. You can add the settings with the [AZ CLI](https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings) but only for the production "slot"!?
How do I add configurations for my "Preview Deployments", are there any workarounds ? (To add manually in the portal is not an option)

[2022-05-12 06:33] Legonois commented on #791
https://github.com/Legonois/TestDistroApp

Here is the repository, it's just the basic template created in Visual Studio for a web app

[2022-05-12 09:35] rts-pgilligan commented on #354
This is also currently happening to me as per the post above, however, unlike the post above this one, it still is not working for me. I am going to go ahead and sleep on it. I hope its just some type of DNS propagation issues happening.

[2022-05-12 14:29] Reshmi-Sriram commented on #444
Hey all, as @MPapst has mentioned above, we can officially get the deployment token now from the AZ CLI using `az staticwebapp secrets list`. For more information, check out the [official documentation](https://docs.microsoft.com/en-us/cli/azure/staticwebapp/secrets?view=azure-cli-latest#az-staticwebapp-secrets-list).
Closing this issue.

[2022-05-12 14:29] #444 closed

[2022-05-12 15:01] jvannor commented on #801
I dug deeper into this problem and found that the issue really surrounds calling a slow API.  There's a repro available here: https://github.com/jvannor/SlowApiTest

This repro has an Angular app with two buttons.  The first button calls a "fast" API and works fine.  The second button calls a "slow" API (C# function with a thread.sleep in it).  The slow button always fails at/around the 45 second

[2022-05-12 15:27] robersonliou opened #803 "Does path wildcare rewrite support in static web apps?"
How can I use route configuration to setup path wildcard write in azure static web apps?
For example, I have a website domain: https://myweb.azurestaticapps.net, and file structure like below:

- /js
    - /default.js
    - helper.js
- /assets
  - /imgs
    - /p1.jpg
    - /p2.jpg

I'd like to use wildcard pattern in `rewrite` property just as what reverse proxy does.

ex:
- /myjs/default.js ---->

[2022-05-12 18:43] mkarmark commented on #803
We currently don't support wildcard paths for rewrite, but can consider supporting that in the future!

[2022-05-12 19:44] jwarner00 commented on #165
@anthonychu and team - Any update on this? The posted workaround, while excellent, does not appear to work with Azure Functions 4.0, as proxy support has been removed in the latest version.

[2022-05-13 13:46] Bobetti commented on #463
@anthonychu please explain where do I have an error in my logic?

My source code located in git - Azure DevOps
I have a build pipeline that has the following steps:

- Pulumi Azure Pipelines Task (creates Sql server, database, static site)
- Azure SQL DacpacTask - which can run only on windows agent
- Deploy Azure Static Web App - which, turns out, run only on Linux

I need "Deploy Azure Static We

[2022-05-13 16:31] annikel commented on #800
Hi @jwarner00, we located the problem and the issue will be fixed with the next release.

[2022-05-13 19:53] joslinmicrosoft commented on #605
Hi @therealmarkber, we are currently tracking this request at #196. Please refer to that issue for any discussions or updates regarding pre-rendering.

[2022-05-13 20:01] therealmarkber commented on #196
Since this has already been achieved by IIS ARR https://docs.prerender.io/docs/18-integrate-with-iis, is it possible to achieve something similar just within re-write rules in staticwebapp.config.json instead of having to roll separate middleware?

[2022-05-16 12:59] absdhirendra opened #804 "Bitbucket - NextJs App deployment to Azure StaticWebApp"
**Not able to deploy NextJS app from bibucket pipeline**
We are using Bitbucket for for one of our NextJs App and there a need to deploy this app to Azure StaticWebApp whenever any change(s) is/are merged to a main branch. Till now we are still exploring to this.

We have created pipeline as per the guidance provided in the link https://www.drware.com/tutorial-publish-azure-static-web-apps-with-bi

[2022-05-16 14:20] michaelscodingspot opened #805 "401: Unauthorized during yarn install"
I'm trying to build a CI/CD from Azure DevOps to deploy to a Static Web App. I'm using the task `AzureStaticWebApp@0`.

During `yarn install`, I get the error 401 Unauthorized error:
[code]

Locally it works.
I tried removing `yarn.lock` and changing local `.npmrc` without success.

My yaml file:
[code]

My package.json:
[code]

Thanks in advance.

[2022-05-16 20:08] annikel commented on #804
Hi @absdhirendra, can you provide more details about what exactly is not working? Thank you

[2022-05-17 06:09] c0g1t8 commented on #797
I'm getting the same message.

It's been a while but there use to be a comment inserted with the hyperlink to the deployed site.  I believe the error message is due to the fact that access the build is unable to write this comment.

[2022-05-17 08:41] Reshmi-Sriram commented on #24
Closing since no further discussions. Feel free to reopen if necessary!

[2022-05-17 08:41] #24 closed

[2022-05-17 08:56] absdhirendra commented on #804
Hi @annikel, Its Bitbucket pipeline setup. We need a map to deploy NextJs App from Bitbucket to StaticWebApp.

Also Is there anyway so that site can be  deployed manually?

Thank you so much!

[2022-05-17 10:00] Reshmi-Sriram commented on #804
Hey @absdhirendra,

A couple of things:
- As of today, Static web Apps only supports deploying Static Next.js websites (work in progress regarding support for hybrid, but no ETA right now)
- If you could share your repo so that we could try repro the same on our end - that should help in resolving the issue.

CC// @rupareddy5-21

[2022-05-17 10:17] absdhirendra commented on #804
Can you share your email address(s) so that bitbucket repo permission can be granted?

[2022-05-17 10:26] rupareddy5-21 commented on #804
Hi @absdhirendra, This is my email address - rupareddy@microsoft.com

[2022-05-17 11:15] absdhirendra commented on #804
Have granted the permission, pls check your mail

[2022-05-17 12:47] SamVanhoutte opened #806 "Standard Github workflow for Hugo static web app fails with 'unable to determine the location of the app artifacts'"
**Describe the bug**

Hello, I'm trying to set up a hugo static web app on Azure, and I followed (to get started) literally the following tutorial: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-hugo .  The only thing I did different was change the name of the github repo and the name of the website.

However, when my github workflow is triggered, I can see the following exception

[2022-05-17 16:15] annikel commented on #806
Hi @SamVanhoutte, could you try changing the value for output_location in your Repository/Build Configurations to _public_?

Explanation: I can see that the output_location is specified as an empty string in your Repository/Build Configurations. When you are creating a Static Web Apps app through the portal experience, you can preselect Hugo as the used static site generator to prepopulate the cor

[2022-05-18 09:39] SchulteMarkus commented on #497
Well. Am I right, that

[code]

is a fixed value "release" for deployment_environment?! Every branch (well, could depend on a condition) will be deployed to the same "release" domain?

What this issue is about is something like

[code]

I have tested this, does not work (as intended).

[2022-05-18 10:18] danbasszeti opened #807 "Videos do not load on iPhones if Enterprise Grade Edge is switched on"
**Describe the bug**

When I have enterprise edge switched on and I push an app that has a .mp4 file  in it (referenced in HTML using the standard <video> tags) it will not load on an iPhone. When I push the same app to a static web app without enterprise edge switched on, the video will load absolutely fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a deployed app with working v

[2022-05-18 18:37] thehitchiker commented on #673
I have this exact issue on a new subscription with the swa free tier. The option is enabled so I'm assuming AI is available on the free tier. I haven't read otherwise yet. No errors messages but nothing is created. I've upgraded the subscription in case it was that but still no luck.

Perhaps I have to create an AI account manually first?

I just did exactly that and all works as expected.

[2022-05-18 18:39] ameyasubhedar opened #808 "Unable to authorize Blazor Webassembly with Static WebApp and Azure API Management"
**Describe the bug**

I have a Standalone Blazor Webassembly that is authenticated with MSAL using the standard `authentication/login` and `authentication\logout` paths

It is deployed on the Azure Static Web Apps free tier right now.

[code]

I define MSAL config to get the `access_token` with custom scopes and make the API calls through the Azure API Management portal

I want to migrate this app

[2022-05-18 19:07] lawrenceong001 commented on #520
hello, i'm also bumping into this issue -- we have a site that hosts around 25k files, largely statically generated content. can someone please provide guidance on timelines, etc? tks.

[2022-05-19 05:35] blrchen commented on #797
Getting same error too. Is there an update on how to fix?

[2022-05-19 06:25] anthonychu commented on #793
There are a couple of things that's blocking this from working in Static Web Apps right now. The first is that the webhooks needed are in the `/runtime` path in the function app, which aren't exposed in Static Web Apps. The second is that those webhooks require a function app key, which aren't available in Static Web Apps.

@pizerg As you mentioned, the trigger are HTTP POSTs. You can create a reg

[2022-05-19 06:26] anthonychu commented on #792
@diberry I remember you were trying to figure this out a while back. Did you have any success?

[2022-05-19 07:05] danbasszeti commented on #807
I've reintroduced the bug on https://staging.zeti.co.uk

[2022-05-19 18:13] DaltonKeightleyTSL opened #809 "Error when trying to add a staticwebapp.config.json"
I have a angular application that I'm deploying with the AzureStaticWebApp build task. When I add a "staticwebapp.config.json" to the  angular app, the build task says it finds the file and then proceeds to just exit out after. If I remove the config file the build works fine.

Here's my staticwebapp.config.json

[code]

Here is the error from the build pipeline
[code]
Here is my build YAML

[code

[2022-05-19 18:49] billyromano opened #810 "Bitbucket Pipelines: Oryx has failed to build the solution."
#### Description
When building an SSG Next.js v12 application using the command `next build && next export` with React v17 and Bitbucket Pipelines for CI/CD with an Azure Static Web App, the application fails to build.

The issue pertains to [Oryx](https://github.com/microsoft/Oryx) running the `yarn install` command to install dependencies and using a custom image loader replacement instead of a

[2022-05-19 21:39] joslinmicrosoft commented on #810
Does the guidance in #99 help? Namely, adding the environment variable `REQUIRED_OS_PACKAGES` in the pipeline YAML to install `nasm`.

[2022-05-19 22:30] joslinmicrosoft commented on #809
Hi, I believe there's a missing curly bracket `}` at the end of `"exclude": ["*.{css,scss,js,png,gif,ico,jpg,svg"]`; it should be `"exclude": ["*.{css,scss,js,png,gif,ico,jpg,svg}"]`. Let us know if that fixes things.

On our end we'll make an improvement in logging these errors to the build pipeline.

[2022-05-19 22:41] joslinmicrosoft commented on #807
Hi @danbasszeti, thank you for reporting this and for the live repro. We are investigating and will post here with any updates.

[2022-05-20 07:46] #795 closed

[2022-05-20 07:56] Reshmi-Sriram commented on #96
Hi all,
We have now officially announced the GA of [Static Web Apps CLI](https://aka.ms/swa-cli-ga)🎉🎉
This is a power-packed tool which now enables features such as login, deploy from local, automatic framework detection **and much more - all from your local development system!**
Do have a look and let us know how you like it :) (_P.S. It is Open Source, so feel free to contribute to the next set

[2022-05-20 07:56] Reshmi-Sriram commented on #7
Hi all,
We have now officially announced the GA of [Static Web Apps CLI](https://aka.ms/swa-cli-ga)🎉🎉
This is a power-packed tool which now enables features such as login, deploy from local, automatic framework detection **and much more - all from your local development system!**
Do have a look and let us know how you like it :) (_P.S. It is Open Source, so feel free to contribute to the next set

[2022-05-20 08:01] Reshmi-Sriram commented on #298
Hi all,
We have now officially announced the GA of [Static Web Apps CLI](https://aka.ms/swa-cli-ga)🎉🎉
This is a power-packed tool which now enables features such as login, deploy from local, automatic framework detection **and much more - all from your local development system!**
Do have a look and let us know how you like it :) (_P.S. It is Open Source, so feel free to contribute to the next set

[2022-05-20 09:04] danbasszeti commented on #807
Thanks @joslinmicrosoft, let me know if there's anything else I can do

[2022-05-20 13:49] #809 closed

[2022-05-20 18:05] xander-j commented on #798
I'd also be interested in having the source code opened up, if possible.

[2022-05-20 22:50] StephenWBertrand commented on #605
@joslinmicrosoft was any updates made that would assist with the case-sensitivity issue?

I have a case where I've needed to deploy my Blazor app under a subfolder. I've updated the fallback route to point to the subfolder's index page.

When I hit the site with the wrong casing, I get the correct index page, but when that page tries to load the _framework/blazor.webassembly.js file or any static

[2022-05-22 19:33] kaylumah commented on #402
I am attempting something similar with an feed.xml that should return content-type `application/atom+xml` but have not been able to hit on the correct syntax. Then I came across this issue

[2022-05-23 11:46] SamVanhoutte commented on #806
Hello @annikel, I can confirm that that has solved the issue.  I now have the github workflow working smoothly
Thank you for that

[2022-05-23 11:46] #806 closed

[2022-05-23 11:59] tanepiper opened #811 "Production deploy failing during content distribution"
**Description:**

I have two GitHub Action pipelines set up - one for Pull Request, and one for Merge to Main.  Both pipelines do a custom build: We use PNPM as a package manager, and build a [Astro](https://astro.build) website - then use `Azure/static-web-apps-deploy@v1` as the final step to do the 'upload' action. In the PR file, there is also a job to call the 'close' action.

In the PR file,

[2022-05-23 13:03] ofcoursedude commented on #298
linux/arm64 such as Raspberry Pi or AWS Ami arm-based VMs

[2022-05-23 14:20] chris-dnv opened #812 "403 Forbidden - Getroles API doesn't work for some users"
**Describe the bug**

I've configured the Getroles API and custom authentication as per the documentation which works for myself and some of my colleagues however a few colleagues have told me that no matter what browser they use / if they use incognito etc they get 403 forbidden when trying to access my static site.  They are a member of the same group that I am which is a generic AD group for ou

[2022-05-23 19:49] hobpet opened #813 "How can I roll back to the previously deployed vesion"
What is the best practice to roll back to the previous version in case there is a problem with the released version.
As there is no swap option and there is no access to the previously built artifacts the traditional options does not seem to work here.

[2022-05-23 19:56] joslinmicrosoft commented on #811
Hi @tanepiper are you able to give us some more information about this site/deployments? Some information that would be helpful:
* Rough timeframe when these deployments were failing
* Default generated hostname (if you're willing to share)
* Deployment Id of the failing deployments (these should appear at the top of your pipeline logs and look something like "DeploymentId: 00000000-0000-0000-0000

[2022-05-24 06:22] tanepiper commented on #811
@joslinmicrosoft About 19 hours ago from when I posted this. https://ashy-bay-0afd96f03.1.azurestaticapps.net/

Deployment IDs:
ca458df5-caed-4284-9e6e-1f657de9b37e
52a79bbb-c6fa-40f8-a399-77b82f226169

[2022-05-24 15:25] Notaduck commented on #813
I might think you should look at your structure for your git repo.
Just have a `main` and a `develop` and then checkout from `develop` to make `feature/name, then check if develop works and create a PR from `develop -> main`.

If it then happens that there is an issue in `main` you can simply revert to an older commit and deploy that. I don't think there is any other way to do it. One other thing

[2022-05-24 18:32] zekink opened #814 "Having an Empty Array in allowedIpRanges Denies All Access to App"
Not sure if this is a bug or a feature request, but in my mind this should work differently than it currently does.

I have three instances of a Static Web App - test, staging and production. These have different IP whitelist rules to limit access accordingly:
- test is only allowed from a couple of VPN IP's that the developers use
- staging is allowed from those same IP's, plus a couple of other

[2022-05-24 21:29] mishapos commented on #814
Hi @zekink, thank you for using Static Web Apps! You are absolutely correct that having a _non-null_ empty array in `allowedIpRanges` blocks all incoming traffic. This is interpreted as "there are exactly zero IP ranges that you want to allow".

We wanted to provide a quick and simple way for users to allow a range of IP addresses and block all others. Since this would be a breaking security chang

[2022-05-24 21:47] jjaramillom commented on #721
@joeyold Your solution worked perfectly. I'm just wondering if you deployed via azure pipelines?

I'm trying to deploy the folder containing the different builds, but I'm getting this error `Failed to find a default file in the app artifacts folder (dist/apps/demo-app). Valid default files: index.html,Index.html`

Did you encounter such a thing?

[2022-05-24 22:02] mishapos commented on #814
@zekink Could you elaborate a little more on your situation with the `staticwebapp.config.json` file? What do your staging and production pipelines look like?

The default workflow file created by Static Web Apps include the `checkout` action which will copy over all your source files to the Action runner. It may be over-writing your configuration file. Can you try adding your configuration file c

[2022-05-24 22:29] joeyold commented on #721
Hi @jjaramillom yes I did encounter the same issue.  The static web app is looking for an index.html at the root path.  In the event of a multilingual build we don’t have this as part of our dist.  In order to satisfy this requirement I elected to create an index.html at the root dist path having a meta redirect tag to our en path.

[2022-05-24 22:47] mishapos commented on #814
Also, have you seen the latest announcements regarding named and branch preview environments? https://docs.microsoft.com/en-us/azure/static-web-apps/preview-environments

Would these be useful to your workflow in testing in a staging environment before pushing to production?

[2022-05-24 23:07] joslinmicrosoft commented on #811
Hi @tanepiper, thanks for the follow-up. So when you say you re-ran `ci-stage.yaml` is this the same as the `ci-merge.yaml` you have above? And this yaml is in the `main` branch but I assume also in your PR branch right?

One additional thing I'm curious about: in the GitHub Actions tab, for this failing workflow run, is the branch listed as `main` or as the PR branch?

[2022-05-24 23:26] jjaramillom commented on #721
@joeyold Worked like a charm. I also managed to handle this by adding a route at the end to the **staticwebapp.config.json** file.

[code]

[2022-05-25 06:48] tanepiper commented on #811
@joslinmicrosoft Yes sorry, that's correct it's what we call staging as we then have another task to deploy to our internal production (different to the static website production as the above image)

In the failing ones it's main

[code]

[2022-05-25 11:26] joeyold commented on #721
Thanks for sharing I like that even better.

[2022-05-25 14:52] TellonUK commented on #589
This work around doesn't work if there are multiple production sites deployed from the same codebase. In our situation the SWA pulls its configuration from the Azure Function which uses different environment variables to connect to the relevant production database for specific clients (100's). Although we can dynamically specify the client id and secret we also need to specify the open id config a

[2022-05-25 15:00] zekink commented on #814
That's good to know about `0.0.0.0/0`! Unfortunately I wasn't able to find it in the documentation when looking for answers, so I didn't realize I could have used that. But yeah, the current solution works, while it's not perhaps the most beautiful looking shell script I've written.

Sure! This is what the relevant part of the production pipeline looks like (with unnecessary/client specific stuff

[2022-05-25 16:17] cormacpayne commented on #694
@simonaco @anthonychu @Reshmi-Sriram -- as an update: Oryx just released an update to our CLI that now supports detecting the [`engines`](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#engines) field in a user's `package.json` file, and more specifically, parsing a version spec that's provided for the `npm` property within this field.

For example, if the user has the following in thei

[2022-05-25 22:22] TellonUK commented on #594
Are there plans to make this work with AzureB2C when used as a custom provider?

A solution for AzureB2C (And most OIDC Providers) is to have .auth/logout redirect to the end session URL provided in the known good configuration, you can then pass a post_logout_redirect to get back to the .auth/login/AzureB2C page.

If you could provide a logout URL somewhere that .auth/logout should redirect to as

[2022-05-26 15:59] mishapos commented on #811
Hi @tanepiper could you please elaborate on what you would like the expected behavior to be with regards to these 2 pipelines? Specifically, which pipeline would you like to deploy to which environment?

By default, when the `Azure/static-web-apps-deploy@v1` task is run in a pull request trigger, it will deploy to a [temporary pull request environment](https://docs.microsoft.com/en-us/azure/static

[2022-05-26 21:23] lawrenceong001 opened #816 "Gatsby SSR pages are not being rendered"
I have built a static website to test some features for our project. it utilizes the server-side rendering capabilities of Gatsby.  the webpage can be visited at: https://victorious-water-092f0620f.1.azurestaticapps.net/ssr -- note that it will return 404. the page actually renders properly on the local dev as well as on Gatsby Cloud: https://gatsby07main.gatsbyjs.io/ssr. both sites are built from

[2022-05-27 06:36] rupareddy5-21 commented on #790
Hi @oZakari
The PR for this issue has been merged and it will be released by 10th June. Thanks for your patience.

[2022-05-27 16:25] joslinmicrosoft commented on #811
Hi @tanepiper, the reason we're asking for additional details is that your custom workflow files are different from our standard workflow, and therefore the deployment behavior is unexpected. As @mishapos mentioned, triggering the ci-merge.yml workflow based on a pull request event leads to our service running through the logic to create a temporary pull request environment--hence why it is not de

[2022-05-28 03:33] Legonois commented on #791
Have you or anyone had a chance to look at this?

[2022-05-28 12:50] johnnyreilly commented on #694
Thanks @cormacpayne - I ended up blogging this approach here (using node rather than npm)

https://blog.johnnyreilly.com/2022/05/28/azure-static-web-apps-node-16-oryx

[2022-05-29 13:32] kaylumah commented on #402
Attempted a few more things my self:

My previous configuration was the following (note does not work and outputs `text/xml`, presumably due to `mimeTypes` being present)

[code]

Then I attempt to set `mimeTypes` to `feed.xml` instead of `.xml` but got a json schema validation error there.

Finally I attempted

[code]

The difference being the route is now called `/feed.xml` instead of `feed.xml`

[2022-05-29 13:39] jazzolina commented on #335
@agiletea thank you for your comments here -- they were extremely helpful.

[2022-05-29 13:40] kamgasimo-nano opened #818 "Setting AD B2C as custom OpenId Connect Provider not working."
**Describe the bug**

Setting AD B2C as custom OpenId Connect Provider not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Static Web App
2. Create a B2C Tenant
3. Use B2C as custom provider with the following config.
4. Navigate to /.auth/login/b2c
5. Get a 404

**Expected behavior**
Redirect to btc login form.

**Screenshots**
![Screen Shot 2022-05-29 at 14 37 50](https:/

[2022-05-30 06:57] Reshmi-Sriram commented on #818
Hi @kamgasimo-nano,
We'll investigate on this issue, but meanwhile could you please confirm a couple of things?

- Did you check our [official documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=openid-connect) explaining how to configure Custom Auth in SWA?
- Are you using a Standard SKU?

They are just to narrow down on the error. Thanks!

[2022-05-30 10:20] kamgasimo-nano commented on #818
HI @Reshmi-Sriram Thanks for reply. I have followed the official documentation.
I'm using a Free SKU.

[2022-05-30 10:26] kamgasimo-nano commented on #818
I have upgraded to Standard SKU but still not working.

[2022-05-30 12:40] #818 closed

[2022-05-31 06:23] FrankFengYu commented on #373
Hi, same situation here, we need to deploy SWA in Environments a,b,c,d. In c and d, the SWA will be behind the front door. Not sure if there is any elegant way to do this.

I'm think of adding bash/or pwsh script in the deployment pipeline to replace the strings in the staticwebappconfig.json with the Frontdoor ID and its domain name.

[2022-05-31 13:04] sedvardsen opened #819 "Deployment Failure Reason: Failed to deploy the Azure Functions"
Exact same issue as described in https://github.com/Azure/static-web-apps/issues/622

Tested on two different deployments on two different static web apps, one of deployments was green 4 days ago, on re-deploy it now fails with "Failed to deploy the Azure Functions"

![image](https://user-images.githubusercontent.com/1962470/171179893-6b093576-033f-49da-a4d6-4f68e506956b.png)

[2022-05-31 13:15] sedvardsen commented on #812
As out of curiosity - do the affected users have any "special" characters in their name? Typically æ or ł (or anything that will serialize as two bytes not one)

[2022-05-31 13:25] sgreifeneder commented on #819
same here

[2022-05-31 13:26] procopenco commented on #819
Same for me

[2022-05-31 13:36] EmmyHermans commented on #819
Same issue for my project. In addition the Azure Functions in the deployed web app give a 503 error.

[2022-05-31 13:53] meinout67 commented on #819
Raided prio A ticket to Azure

[2022-05-31 13:58] amitShimon1983 commented on #819
Same Here please fix this

[2022-05-31 14:15] meinout67 commented on #819
just got a call from Azure support. It is an outage in West Europe related to Static Web App and they are working on it right now to resolve it

[2022-05-31 14:36] mathiasi commented on #761
We are also experiencing this. Either after some time or if the Static Web App has been redeployed, the session is no longer valid and needs a page refresh in order for our SPA (Angular) to work again.

[2022-05-31 15:29] lawrenceong001 commented on #816
tks @superhp. this should have been better communicated, which I'm sure could have saved other folks lots of time.

[2022-05-31 15:44] pallabiroutfnf opened #820 "StaticWebApp Deployment Error: Could not find the .NET Core project file."
I am using AzureStaticWebApp@0 task and trying to deploy to a React app with Node Js.
Required package.json and staticwebapp.config.json file is already present there in source code.

But the task is recognizing the source code as .Net Core and trying to find the project file it seems, which is giving below error.

Detecting platforms...
Error: Could not find the .NET Core project file.

---End of

[2022-05-31 19:04] sgreifeneder commented on #819
seems to be still an issue?

[2022-05-31 19:10] meinout67 commented on #819
Yes, no change since the issue started this afternoon. No update on the Azure support ticket either

[2022-05-31 20:31] mahmutsari commented on #819
Same here.

[2022-05-31 21:52] Azuredevmuc commented on #812
I have also an issue to add roles programatically to users.
I drilled down to the issue and logging says:
Exception: System.AggregateException: One or more errors occurred. (Code: BadRequest
Message: /me request is only valid with delegated authentication flow.

So - this worked before, but now, it seems to behave strange.

My GetRoles looks similiar to the one above - with the difference, i'm usi

[2022-06-01 05:50] niels-ws commented on #819
Issue is solved for me, now. Deployments work again :)

[2022-06-01 07:04] amitShimon1983 commented on #819
Works fine thanks :)

[2022-06-01 09:32] chris-dnv commented on #812
A couple of the users with this issue have the same first name: Øystein however not all users that have reported this issue have a name with special characters in Azure AD

[2022-06-01 13:16] Azuredevmuc commented on #812
Ok - i have solved the issue.
Error Message was correct. I doulbe checked my implementation and figured out, i was using App Credentials to call /me with Graph Client. My fault on this. Sorry to waste your time.

C#  = Initialize the GraphServiceClient like so:
`var _client = new GraphServiceClient(new TokenAuthenticationProvider(accessToken));`

accessToken is in ths case is in the body of the re

[2022-06-02 17:46] oneolddev opened #821 "GetRoles without Custom Authentication Requirement"
**Is your feature request related to a problem? Please describe.**

The [tutorial](https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph) provided requires an _Azure Active Directory_. The [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization?tabs=function) states that _The ability to assign roles via a function is only av

[2022-06-02 22:09] ameyasubhedar commented on #808
@anthonychu , Can you please take a look and advice ?

[2022-06-02 23:35] tkamesh commented on #820
It's cross post from https://github.com/microsoft/Oryx/issues/1404
closing the issue as it already resolved in the other post.

[2022-06-02 23:35] #820 closed

[2022-06-03 00:17] mkarmark commented on #819
Hi, yes I can confirm that this was due to a Azure Functions outage in West Europe. This issue has been resolved now, so let me know if things are still looking unhealthy! Sorry about the inconvenience caused during this outage!

[2022-06-03 00:22] mkarmark commented on #821
Hi, This is something we don't support right now but can look into supporting in the future. For the meantime, would configuring the built-in providers for custom authentication (AAD/Facebook/GitHub/Google/Twitter/etc) work for you so that you don't have to go as far as configuring a custom OpenID Connect provider?

[2022-06-03 00:33] mkarmark commented on #813
Hi @hobpet, to better understand your ask, are you basically asking for a way to send prod traffic to a staging site if a bug is detected in the prod site?

[2022-06-03 06:24] rupareddy5-21 commented on #790
Hi @oZakari,
The changes are rolled out now. Please check and let me know if things are still looking unhealthy.

[2022-06-03 18:32] oZakari commented on #790
Thanks, will do!

[2022-06-03 21:09] miguelEsteban commented on #794
Same problem here. In my case we use custom openId (duende identity server), need acces token to invoque a resp api protected by this IDP.

[2022-06-04 03:28] ngnlx commented on #510
I hope to see the update for this ticket soon.

[2022-06-04 04:08] c0g1t8 commented on #821
@mkarmark

 I'm not sure what you mean. I'm trying to avoid having to do any [custom authentication](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom). I would just like to augment the roles returned when using any of the built-in providers.

A really simplistic example would be to hardcode adding the _admin_ role to a specific _identityProvider_ and _userDetails_ in _G

[2022-06-06 05:51] anthonychu commented on #816
I think this thread needs a bit of clarification.

For Gatsby, Static Web Apps only supports apps that are fully static; there's no built in SSR support. The Microsoft Learn module @lawrenceong001 linked to demonstrates how to do this. The text mentions a few times that it's building and deploying static assets, but doesn't explicitly call out that Gatsby SSR isn't supported. @aaronpowell do you k

[2022-06-06 05:54] anthonychu commented on #402
@mkarmark Is there a way to set the mime type for a single route?

[2022-06-06 10:26] tkamesh commented on #764
Issue is fixed and rolled out. Please let us know, if you still run into the same issue.

[2022-06-06 14:57] lawrenceong001 commented on #816
tks for the clarification @anthonychu. documentation that clearly identifies constraints like this would go a long way towards providing us with a clearer path.

[2022-06-06 14:59] lawrenceong001 commented on #749
hi @Reshmi-Sriram -- you mentioned support Azure Static Web Apps -- would this include other static generators such as Gatsby?

[2022-06-06 15:35] TellonUK opened #822 "Custom claims are not provided to the /.auth/me endpoint."
**Describe the bug**

Custom claims are not provided to the /.auth/me endpoint.

A clear and concise description of what the bug is.

If you add a custom attribute to the user attributes in the user flow, then populate that attribute.

( Which can be done using the graph api users endpoint and patching with the body extension_{clientid}_{attribute_name} // note all dashes need to be removed from t

[2022-06-06 19:54] therealmarkber commented on #196
@anthonychu @joslinmicrosoft

[2022-06-06 23:18] aaronpowell commented on #816
There's a docs PR that I provided some feedback on recently to make it more clear that there's only SSG support for Gatsby on SWA, I'll check the status of it.

As for the learn module, it does state on the unit two that this is about SSG's and that it's showing how to deploy a SSG, not other forms.

[2022-06-07 00:27] lawrenceong001 commented on #816
tks @aaronpowell -- you're right that it does indeed mention SSG. however, the audience (looking at myself :) ) most likely needs clear information about what this entails, since there's a large spectrum of understanding when it comes to static site generators -- Gatsby continues to identify itself as one, as well as other tools such as NextJs. this kind of clarity may be helpful on the [FAQ](http

[2022-06-07 10:06] robersonliou commented on #782
How to resolve the issue?

[2022-06-07 23:24] superhp commented on #749
@Reshmi-Sriram could you give us some updates on what is the status of Next.js SSR support and when it should be available at least as a public preview?

[2022-06-07 23:57] chriskuech commented on #788
I was struggling with a very similar issue. I noticed that secrets resolve as empty string if the principal cannot access the secret. This specifically occurred when Dependabot created the PR.

[2022-06-08 02:50] mahgo commented on #706
Agreed, this is very much needed.

[2022-06-08 02:53] robersonliou opened #823 "Deploy multiple micro-frontend into single static web apps"
Hi,

Can I deploy multiple micro-frontend into single static web apps?

For example, Suppose my static web apps url is https://my.azurestaticapps.net/, and I hope my micro-frontend-apps can mapping to different sub route in static web apps.

- myapp1 -> https://my.azurestaticapps.net/app1/
- myapp2 -> https://my.azurestaticapps.net/app2/
- myapp3 -> https://my.azurestaticapps.net/app3/

When I dep

[2022-06-08 05:17] shawnwildermuth commented on #776
Still seeing this. Is it back? My Static Website succeeds on a PR test, but fails (upload timed out) on release builds. Any ideas? Same .yml for both.

[2022-06-08 05:34] SIkebe commented on #797
This works for me
[code]

![image](https://user-images.githubusercontent.com/17608272/172539458-0dbe32f1-d805-47a6-98f4-5f2f1290e000.png)

[2022-06-08 20:27] mkarmark commented on #823
HI @robersonliou, so basically are you saying there will be 3 separate repos in this setup with micro apps behind one "static web app"?

[2022-06-08 20:29] mkarmark commented on #822
Can you please provide more details on why you want this information surfaced at /.auth/me? We do feed all this information to the function you use to determine the roles list if that's what you were concerned with.

[2022-06-09 02:14] robersonliou commented on #823
Yes, there will be 3 repos with unique pipeline, but deploy to single static web apps.

[2022-06-09 02:23] AnjaneyalnDatla commented on #576
Same issue here.

[2022-06-09 02:24] #764 closed

[2022-06-09 09:32] detaybey opened #825 "Deploying static web app fails"
Our pipelines for static web apps stopped working.
Here's my output with verbose logging when we try to deploy a static site;

We're using Deploy Azure Static Web App (Preview) task (0.* Preview version)

[code]

[2022-06-09 09:44] rupareddy5-21 commented on #825
Hi @detaybey Can you please provide more details of your site or if you could share your repo so that we could try repro the same on our end. Thanks

[2022-06-09 10:28] chris-dnv commented on #812
i've opened a case in the Azure Portal as this is still an issue,  would really like to get this fixed so that we can use the roles API as per the microsoft docs

[2022-06-09 21:42] rasjakobsen commented on #819
Hi!,
I'm seeing exactly the same error as above - Using a Python based function using the managed function app, with SWA.

Region : West Europe

[2022-06-09 22:00] hobpet commented on #813
Hi @mkarmark,
Not really, what I would like to do is to roll back to the previous "known to be good" version on prod in case of a failure. This could be based on an automated or manual smoke test on prod after release. Actually all I want is to have safety for the release fast, fail fast, fix fast approach in smaller setups where there is no luxury of having enough prod infrastructure to manage th

[2022-06-10 06:59] EmmyHermans commented on #819
OUr azure functions where also not working again between 20:00 and 02:00 UTC yesterday. They are working again now.

[2022-06-10 08:14] jpzwarte opened #826 "`unknown flag: --pull` when using `deployment_environment` in Azure Devops"
I'm getting the following error:

[code]

The config for this step is:

[code]

[2022-06-10 08:25] jpzwarte commented on #826
So apparently we are running `DOCKER_VERSION=18.09.4`, and `--pull` has been in Docker sinds `20.10.0`.

[2022-06-10 08:27] jpzwarte commented on #826
Perhaps check the docker version and output a warning if its too old?

[2022-06-10 09:44] bartpype commented on #819
Yesterday we had the same problem with out static web app on Azure, same behaviour as on 31st of may.  As @EmmyHermans mentioned in previous post, Azure site was down from around 20.00hrs till 02.00 UTC this morning.
I created a support ticket in Azure, but no reaction so far from Microsoft.

@mkarmark, Can you see what happened in West Europe region? Two outages of 6 hours or longer in a short ti

[2022-06-10 10:54] jpzwarte commented on #826
So I'm closing this as docker being too old.

[2022-06-10 10:54] #826 closed

[2022-06-10 11:28] bartpype commented on #819
I just got an email from Microsoft as a response to my support ticket. They confirmed there was an outage in Western Europe again yesterday evening.

[2022-06-11 06:51] ameyasubhedar commented on #822
@mkarmark, I am also facing this issue, Custom claims and scopes are needed for API Gateway as well. For e.g. we define additional claims that are app specific and are validated at the backed Azure functions via Azure API gateway.

Setup
- Blazor Standalone Web Assembly (.NET 6)
- Deployed on Azure Static Web  (With NO API just the Client)
- Azure API Gateway
   - Delegates to Azure Functions
   -

[2022-06-11 19:29] therealmarkber commented on #698
Any update?

[2022-06-13 06:28] rupareddy5-21 commented on #825
Hi @detaybey, thanks for the info. Is this the only repository for which you are facing this issue? Were the deployments working fine before? Also, could you please let me know if you still facing this issue after retrying.

[2022-06-13 11:20] bertearazvan commented on #287
I am encountering the same issue. I checked out the implementation from Oryx with yarn 2 and I noticed it checks for the `yarn.lock file` in order to detect its version. With yarn 2 you can define workspaces, and it's not mandatory that there is a lock file in the root of the subfolders but instead in the root of the repo. My folder structure has an "app" and "api" folder, and when I install depen

[2022-06-13 17:48] tscrip commented on #759
Bump

[2022-06-14 16:07] jtheisen commented on #510
Static website builders in particular often use dynamic content and do other shenanigans with external dependencies during build and so have a more fragile build process.

Hence separating build from release makes much more sense for static web apps than for regular ones.

I need a separation here more than I need one for my .NET apps.

[2022-06-15 04:29] bmaruyama commented on #587
Hi, I have seen similar behaviour to this on one of my SWAs. I made a new SWA with the same code that did not use BYOF, but have the same issues.
Navigating to /.auth/login/aad via a nav menu button appears reload the app and in the end shows the familiar "Sorry, there's nothing at this address." from the NotFound element in my CascadingAuthenticationState.
The console in the Chrome dev tools show

[2022-06-15 10:26] miiimooo opened #827 "Virtual host matching"
I'm trying to set up a redirect service in Azure. I can do redirects from e.g. a legacy domain by pointing DNS to the static web app and then redirect to a new http url (e.g. a section on a new site)

But I can't find anywhere something similar to Apache's virtual host matching. That would allow to use one static web app to redirect for multiple legacy domains to multiple new http urls

[code]

[2022-06-15 18:14] markblue777 commented on #520
Also receiving this error, any known workarounds for it?

[2022-06-16 08:56] ivancavlek commented on #768
@mkarmark, @anthonychu

Can we please have the status on this error? I need to know if I can rely on Static Web Apps or not. This issue has no assignee, no labels...no nothing, and the problem remains 3 months after it was opened.

I have an Enterprise app in development and this error is a serious setback. I need some info as to know how to proceed.
Is this a bug from Microsoft (or maybe ours)? C

[2022-06-16 09:17] SuperOfficeDevNet commented on #520
This seems true even for the Standard Plan, regardless that all files combined are only ~320MB.

@MaximRouiller Any thoughts?

[2022-06-16 10:04] jpzwarte opened #828 "`AzureStaticWebApp@0` is broken"
~~TLDR: this seems be since `0.203.0` was released. Pipelines with previous versions deployed fine.~~
TLDR: problem is probably in the Docker image used by the `AzureStaticWebApp` task.

This is the task in question from `azure-pipelines.yaml`:

[code]

I have tried everything. This configuration *should* work afaict (setting `output_location: ''` is in the docs).

First, I have added a debug task

[2022-06-16 10:09] jpzwarte commented on #828
@rupareddy5-21 Any ideas perhaps?

[2022-06-16 10:25] jpzwarte commented on #828
So just to provide as much information as possible, this is the dummy build config:

[code]

And the output:

[code]

[2022-06-17 01:28] YaHamma1 opened #829 "Error"
_**Describe_ the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device info (if applicable):**
 -

[2022-06-17 07:33] jpzwarte commented on #828
Using an older version of the task `- task: AzureStaticWebApp@0.202.0` also doesn't work. The problem is probably in the Docker image used.

[2022-06-17 07:52] jpzwarte commented on #828
Also not because we use a custom Build Agent. Same issues with

[code]

[2022-06-17 19:59] mkarmark commented on #829
Are you referring to the portal here? Can you please provide more context @YaHamma1

[2022-06-20 17:51] elninoisback commented on #510
This feature is much needed. Without this, the stages and approval flows have to be done in build pipelines (using yaml) and that doesn't scale if you have multiple build pipelines on multiple repos, working in tandem with a singular release pipeline.

[2022-06-21 05:13] nguyenanhducs commented on #788
I haven't found a way to solve this issue yet.

[2022-06-21 05:31] sameera-pathum commented on #788
@nguyenanhducs I fixed it. I got this issue when i used terraform. this is my correct script. hope you will find what you missed.

------------- main.tf ----------
locals {
  api_token_var = "token name" //this variable link with deployment token from azure static web app
}

variable "github_token" {
  default = "XXXXXXXXXXXXXXXXXX"
}
variable "github_owner" {
  default = "XXXXXXXXXXXXX"
}

provid

[2022-06-21 07:59] Strepto opened #830 "Azure/static-web-apps-deploy@v1: Fails to build Node builds with Node 18.2"
**Describe the bug**

Since yesterday Oryx seems to pick a version of node it cannot install.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Not fail build

[2022-06-21 09:37] zhangyi921 commented on #44
You guys can try install all the packages outside Azure/static-web-apps-deploy@v1, and only use azure web app GitHub action to deploy it.

[2022-06-21 09:52] BernhardRode commented on #794
Same here

[2022-06-21 10:39] ivancavlek commented on #794
@mkarmark,

In two months time multiple people requested this option in this conversation only (there are other conversations that request the same thing). This is also one of the issues with the highest number of requests.

Can you please assign somebody on this task or open a discussion or at least provide us with an alternative?

[2022-06-21 11:01] akarray commented on #830
I get the same error. It's no more possible de build and deploy for us.

[2022-06-21 18:38] danbasszeti commented on #807
Hi,

This bug is still apparent on my staging site - is there a prioritisation level to this?

Cheers,
Dan

[2022-06-21 20:32] pschaeflein opened #831 "Route matching appears to ignore methods"
**Describe the bug**

I am attempting to use routes and files to simulate API calls.

The [documentation for application configuration](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration) contains the following rule for Routes:

 When I have the same route with different methods configured, the second one is never considered, resulting in a 405 Method not allowed response

**To R

[2022-06-22 20:28] qianz2 commented on #830
Hi @[Strepto](https://github.com/Strepto), we've removed node 18 SDKs from the prod storage account and the builds would not be automatically selecting node 18 from now on. Please try it again, thanks!

[2022-06-23 08:04] johnnyreilly commented on #819
I'm seeing this also

[2022-06-23 13:28] gdurandrexel commented on #706
The config could be set in the static web app settings and exposed as JSON on a well-known URL such as /.well-known/app-config

[2022-06-23 15:20] joslinmicrosoft commented on #807
Hi, sorry for the delay here. Unfortunately, we're still working on a solution; I will try to push to prioritize this fix. To your original point, I don't think it's anything to do with your mimetypes or configurations, so no need to try changing those.

[2022-06-23 18:57] kaylumah commented on #402
anyone figure this out?

[2022-06-24 02:39] sig9 opened #833 "server-sent event streaming from node - truncated data"
**Describe the bug**

I have node a serverless function that returns content-type text/event-stream. Messages are delimited by two newlines. The final message is a raw text line:

data: [DONE]

1. When I run in postman against localhost I see the raw response is

[code]

1. When I run in postman against the PR build endpoint raw response is only one line
`data: [DONE]`

I am guessing this might be

[2022-06-24 05:34] rupareddy5-21 commented on #828
Hey @jpzwarte Could you please share your repo so that we could try repro the same on our end. Thanks

[2022-06-24 06:13] jpzwarte commented on #828
@rupareddy5-21 Unfortunately I can't: the repo is private. I was hoping by providing as much information as possible that you would have enough to reproduce the issue?

[2022-06-24 06:19] jpzwarte commented on #828
@rupareddy5-21 If you *really* need access, then perhaps we can arrange something. In that case let's have contact over Teams?

[2022-06-24 06:24] rupareddy5-21 commented on #828
@jpzwarte That'd be great!

[2022-06-24 06:28] jpzwarte commented on #828
@rupareddy5-21 I'm jeroen.zwartepoorte at sanoma.com on Teams.

[2022-06-24 06:54] miguelEsteban commented on #576
Same here.

[2022-06-24 18:06] TheBaljitSingh opened #834 "ci: add Azure Static Web Apps workflow file Azure Static Web Apps CI/CD #1"
**Describe the bug**
i am unable to deploy my static website using vs code .
`##[debug]Evaluating condition for step: 'Build And Deploy'
##[debug]Evaluating: success()
##[debug]Evaluating success:
##[debug]=> true
##[debug]Result: true
##[debug]Starting: Build And Deploy
##[debug]Loading inputs
##[debug]Evaluating: secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_THANKFUL_COAST_0[2](https://github.com/TheB

[2022-06-26 13:56] AnthonyPhan commented on #608
same issue here, any updates?

[2022-06-27 18:39] peterwidmer commented on #144
Hitting the same limitation too. Wanted to use a durable function with Azure Static Web App.
Would be nice to remain on one project only instead of splitting them and have to deploy them separately...

[2022-06-27 23:37] sig9 commented on #834
Check out the details here https://nitro.unjs.io/deploy/providers/azure.html#azure-static-web-apps

Two of the main issues I missed the first time I tried were solved by having a closer look at those instructions.

You need to adjust the yml file in your .github/workflows directory to have
[code]
And also

[code]

[2022-06-28 10:06] jpzwarte commented on #828
So after debugging, the issue lies with our custom docker image. Closing this issue as `AzureStaticWebApp` is working ok.

[2022-06-28 10:06] #828 closed, assigned to nobody

[2022-06-28 11:39] MarcelWouters opened #835 "Is it possible to set Container Apps as API with ARM/Bicep?"
I deploy a Static Web App with Bicep. It's working fine except how to set a Container App as API endpoint with Bicep/ARM?

I can do this with the Azure Portal.

[2022-06-29 05:11] cylin2000 opened #836 "Standard Plan custom AAD login showing 404"
**Describe the bug**

Hi Team,

I followed below document
https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#azure-active-directory-version-1 and enabled AAD login, however the login page showing 404 not found error.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork static web app from https://github.c

[2022-06-29 15:58] tomvanenckevort opened #837 "Add descriptions to the metrics documentation"
**Is your feature request related to a problem? Please describe.**
Currently it's not really clear when viewing the metrics for a Static Web App what the different metrics represent (e.g. SiteHits, CdnRequestCount).

**Describe the solution you'd like**
There is already a documentation page that lists some information about the different metrics available in a Static Web App [here](https://docs.mi

[2022-06-29 16:43] jouz3 commented on #819
Any news?

[2022-06-30 03:43] johnnyreilly commented on #819
Oh this sounds really promising! Could you provide a few more details please?

Where were you setting this that was problematic and you changed?

Don't quite understand this?

[2022-06-30 08:49] shibayan opened #838 "Unable to configure API link to Web App for Container (Linux) from Azure Portal"
**Describe the bug**

API link configuration to Docker Container based App Service (Web App) cannot be performed from Azure Portal.

Container-based Web App did not appear in the drop-down of the API link dialog as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/1356444/176634072-709d0bf8-da67-47f4-a24e-c0e7eaea5075.png)

There are actually two additional Web App

[2022-06-30 12:41] johnnyreilly commented on #819
Okay thanks - sounds like your situation is different from mine

[2022-06-30 18:48] mishapos commented on #836
Hi @cylin2000 the docs you listed are for custom authentication which is only available on the Standard plan. It's for when you want to create your own AAD App Registration or some other custom authentication provider.

If using the built-in Static Web Apps Azure Active Directory is sufficient for you, then you don't need to configure anything. Simply route your users to `/.auth/login/aad` and the

[2022-06-30 18:52] mishapos commented on #838
Hi @shibayan , thank you so much for using Static Web Apps! This is indeed a bug, and we are working on a fix right away. Unfortunately, there currently isn't a workaround for using Docker Web Apps (other Web Apps should work just fine), but I will update this thread once the fix is deployed.

[2022-07-01 09:11] Rfaering commented on #576
Same here.

[2022-07-01 09:38] sokolowskip commented on #576
Same here.

[2022-07-01 11:37] cylin2000 commented on #836
Hi @mishapos , thank you for the review. I have followed the document you mentioned  https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#configure-a-custom-identity-provider , and I configured AAD Settings for ClientID and Client Secret, you could refer my configuration at https://github.com/cylin2000/vanilla-basic/blob/main/src/staticwebapp.config.json , when I d

[2022-07-01 15:19] JamesABA opened #839 "DevOps pipeline build failure with AFCT v4 and Node v16"
**Describe the bug**
Running an SWA build on an Azure DevOps pipeline, previously working with node v14.x / azure functions core tools v~3

Now attempting to build with Azure functions v4 (4.0.4590) and Node 16 (16.14.2)

Task is running on a standard Azure hosted agent

A clear and concise description of what the bug is.

Build output contains errors, the root cause appears to be when running the

[2022-07-01 16:56] itpropro commented on #576
@simonaco any updates on this? The issue is already quite old and it also impacts bicep deployments, as the provider `Microsoft.Web/staticSites/userProvidedFunctionApps@2021-03-01` doesn't seem to be implemented idempotent.

[2022-07-01 18:13] mishapos commented on #834
Hi @TheBaljitSingh we were unable to find a Static Web App with your default hostname (thankful-coast-027d2d910). Is it possible that it somehow got deleted? This could explain why your deployment is failing.

[2022-07-01 18:39] mishapos commented on #836
Hi @cylin2000 our logs currently show that we are unable to find your App Setting `AAD_CLIENT_SECRET`. Could you please check in portal if you see this setting (and its associated value)?

And be sure to hit the save button at the top. 😃 Thanks!

https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings#configure-application-settings

[2022-07-01 19:21] trademark18 commented on #73
This config worked correctly, just in case someone needs to see it implemented.  No trailing slash on the output location as [mentioned](https://github.com/Azure/static-web-apps/issues/73#issuecomment-647030412) by others, and no changes to anything but the `output_location` line.  Thanks @miwebst!

[code]

[2022-07-01 20:30] kaylumah opened #840 "After redirect get original url"
In the config we can rewrite unmatched URLs to a custom 404 page.
I was wondering if it is possible to get the original url for example by query param?

this allows logic based on the missed page
Thanks
Max

[2022-07-02 05:42] #840 closed

[2022-07-03 13:56] doorman02 commented on #749
Hi, @Reshmi-Sriram is there any approximate timeframe when the public preview will be available? I am considering if I should wait or use Azure Web Apps. Since SSR is very common when using nextjs I guess this is a highly wanted feature. Thanks!

[2022-07-04 02:18] cylin2000 commented on #836
Hi @mishapos , My bad, I used  AAD_CLIENT_SECRET in code, but configured AZURE_CLIENT_SECRET in portal, thank you very much for the help, I have no more questions, kindly close the issue, thanks.

[2022-07-04 12:38] axc450 opened #841 "Authentication Blade"
Quick question!
Are there any plans to support an "Authentication" blade for Azure SWAs in the portal, similar to what Web Apps have (see below for image)?

![image](https://user-images.githubusercontent.com/30942843/177156335-e9e2440b-1948-48f3-8a3c-2ecb386231bb.png)

I know I can set this up in the `staticwebapp.config.json` file (and this works) but I would prefer to have this deployed at part

[2022-07-04 13:35] johnnyreilly commented on #819
Still waiting for support to get back to me - think I've covered everything I can from my end.

[2022-07-05 01:19] Maliek2 opened #842 "Issues"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-05 06:00] #836 closed

[2022-07-05 06:01] Reshmi-Sriram commented on #842
@Maliek2 can you help us with what the issue is?

[2022-07-05 06:04] Reshmi-Sriram commented on #749
Hi All,
We're expecting the public preview to be out by October. There have been a couple of blockers and hence a slight delay in the planned release. Apologies for the wait, stay tuned for more updates!
cc// @sulabh-msft

[2022-07-05 14:55] diberry commented on #794
@cephalin @anthonychu FYI

[2022-07-05 15:27] axc450 opened #843 "Cannot link a BYOF Azure Web App that is a container as a SWA API"
**Describe the bug**

I have an API that runs in a docker image as part of Azure Web App. I cannot link this as an API for a SWA however I can link normal Azure Web Apps.

A clear and concise description of what the bug is.

**To Reproduce**
1. Create an Azure Web app that is a container
2. Create an Azure SWA (standard tier)
3. Attempt to link the Web App to the SWA as part of a SWA BYOF API. It

[2022-07-05 20:54] trademark18 commented on #428
Is there a nice way to get access to the secrets without having to convert to BYO functions?  I know that is maybe ideal, but can I use Graph API or something as an alternative?  Seems like a fair bit of effort to convert from managed functions to BYO, and I just need to access a couple secrets.

[2022-07-05 21:29] annikel commented on #576
Hi everyone, the problem here seems to be that the function app which is being attached has been attached to a different static web app before and so have a not matching Static Web Apps identity provider configured in their Authentication configuration. This can be verified by navigation to the _Function App > Authentication_

![image](https://user-images.githubusercontent.com/92825476/177418789-9

[2022-07-06 00:42] bzbetty commented on #594
I think b2c supplies the logout URL in its config endpoint, so shouldn't need the URL as a setting, just whether it should log you out.

[2022-07-06 08:02] JamesABA commented on #839
Is there any further info required to explain the issue?

[2022-07-06 09:45] tomaustin700 opened #845 "Invalid staticwebapp.config.json causes deploy failure but logs don't indicate reason"
**Describe the bug**

If staticwebapp.config.json is invalid in some way and the deployment is done via a pipline (AzDo pipeline in this case but I presume the issue is the same in GitHub actions) the deploy will fail however the logs won't indicate what the issue is.

**To Reproduce**
Steps to reproduce the behavior:
Add an invalid staticwebapp.config.json such as (missing comma in this case):
[c

[2022-07-06 15:54] itpropro commented on #576
Hi @annikel,
the problem is that the ARM provider doesn't expose the `isForced` parameter that you can use in the REST APIs. It is not connected to the Function App itself or any field on the function app, it is only connected to the `userProvidedFunctionApps` property on the Static Web App object.
The next API version for SWA's has to include a way to provide the `isForced` parameter or the inter

[2022-07-06 22:12] tobiasdiez commented on #578
A more detailed error would be indeed nice, but even better would be if azure were to create a PR instead of trying to directly push to a protected branch. In my opinion, a PR is always the better option anyway (independent of the branch protection rules), since this allows for the changes to be reviewed etc.

[2022-07-06 23:37] nogic1008 commented on #108
It is resolved on https://github.com/Azure/static-web-apps/issues/588#issuecomment-925584992

[2022-07-07 00:39] drewgillen commented on #44
+1

[2022-07-07 07:52] SchulteMarkus commented on #588
Can you maybe give an staticwebapp.config.json example for doing so? Having 'Access-Control-Allow-Origin": "*"' only for  /articles/*.html?
I had a look at the SWA playground, but well, I don't see where I can get the actual parameters for staticwebapp.config.json

[2022-07-07 07:57] wradstok commented on #595
Is anyone still working on this? We are having the same issue.

[2022-07-07 08:45] Strepto commented on #830
This seems to work fine now. Closing.

[2022-07-07 08:45] #830 closed

[2022-07-07 13:23] johnnyreilly commented on #819
I've tried everything I can think of with Emad Khalifah of Microsoft Support.  No success as yet - I've asked for the issue to be escalated.  There is a related issue which speaks of `EnvironmentId` which appears to have been closed (surprising since I believe it is not fixed):

https://github.com/Azure/static-web-apps/issues/723

We've tried the workaround we list there out but it didn't work for

[2022-07-08 02:08] Naytron opened #846 "I have some big customers who want static apps on Azure Government. Please support this"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-08 08:26] sokolowskip commented on #576
Thanks @annikel
I tested it and this is the working bicep script:

`resource staticAppBackend 'Microsoft.Web/staticSites/linkedBackends@2022-03-01' = {
  name: '${staticApp.name}/backend'
  properties: {
    backendResourceId: functionApp.id
    region: location
  }
}`

However, there is still one small inconvenience.  I linked the function app to the static app manually from the Azure portal. I r

[2022-07-08 09:55] itpropro commented on #576
Thanks for clarifying @annikel! Has there also been an update to the userDefinedFunctionApp endpoint or will that one be deprecated and should not be used in Bicep/ARM anymore?

[2022-07-08 10:33] johnnyreilly commented on #723
We've documented the workaround here: https://blog.johnnyreilly.com/2022/07/07/static-web-apps-failed-to-deploy-the-azure-functions

[2022-07-08 11:31] sinedied commented on #576
Thank @annikel, the new linkedBackend resource works perfectly for linking custom functions backends.

I also noticed that the `userDefinedFunctionApp` ARM typing has been fixed in the latest template version, so this issue can be considered as resolved 🙂 .

[2022-07-08 11:31] #576 closed

[2022-07-08 11:39] itpropro commented on #576
@sinedied can you link the updated `userDefinedFunctionApp` typing? [This](https://github.com/Azure/azure-rest-api-specs/blob/8ff7d5ef46f43875262110a4b2df7357bdf4369c/specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/StaticSites.json#L1161) looks like the `isForced` parameter is still a uri query parameter.
I think we should only close this issue, if we have verified that the `use

[2022-07-08 12:03] sinedied commented on #576
@itpropro I only saw that with version `2021-03-01` the property `userDefinedFunctionApp` is no longer marked as read-only, I did not check the deployment with it as the new `linkedBackends` resource I was able to achieve idempotent deployments.

I might be stretching a bit, but with the new ability of linking backends other than Functions, it would seem that `userDefinedFunctionApp` might be remo

[2022-07-08 17:01] trademark18 commented on #801
Ah!  I'm having the same issue!  I'm using managed functions instead of BYO, and my function succeeds in about 45 seconds and shows a 200 response in Application Insights.

The client shows a 500 response, however, with "Backend call failure" inside it.  There's not much to go on, but I suspect a similar issue to @jvannor based on observed behavior.  I've tried to adjust timeouts anywhere I can, b

[2022-07-08 21:33] mkarmark commented on #843
Hi @axc450, thanks for bringing this to our attention. We are determining the scale of the bug and will keep this issue posted on when we can deploy the fix. For now, would using Container Apps as your backend type work for you?

[2022-07-08 21:39] axc450 commented on #843
Hey @mkarmark !

I think this may be a duplicate of #838 so I may be better to track it there.
I cant really move my API container to container apps at the moment, it has to live in an app service for containers :)

[2022-07-09 15:53] itpropro commented on #576
@sinedied I tested the new APIs, but they are unfortunately not working. It was not possible to deploy a staticSite resource without the error

[code]

Even when only deploying the staticSite with only the required `name` parameter, the deployment will fail. With the 2021-03-01 API, everything works, at least for the staticSites endpoint.
So the new API version didn't fix this issue (idempotency o

[2022-07-10 21:53] uxsoft commented on #819
I have the same issue

[2022-07-11 18:48] annikel commented on #835
Hi @MarcelWouters, here is an example [ARM template](https://github.com/annikel/arm-examples/blob/main/linked-backends) for adding an API to a static web app. It works very similar to attaching a user provided function only that the naming is slightly different and the API's region will only need to be specified if the app is a Web or Function App

[2022-07-11 23:58] 01willtx commented on #649
@anthonychu I have a similar issue, same error, except I'm using blazor. I verified www has an index.html file (this was your recommendation for another similar issue.

[2022-07-12 11:56] lenkaiser opened #847 "Static web app can't find route for static file"
Currently I'm using Nuxt 3 which has static web pages in the /public/ directory. Locally this works fine but when I deploy this to a static web app I get the following message:
[code]

I have one `staticwebapp.config.json` file in my root directory which contains the following:
[code]

I could confirm that adding the `callback.html` file to my public folder was the issue. After removing this the d

[2022-07-12 13:21] #847 closed

[2022-07-12 14:17] billyromano commented on #810
Yes, adding the `REQUIRED_OS_PACKAGES` environment variable works! I updated my bitbucket-pipelines.yml file with the following:
[code]

[2022-07-12 14:54] billyromano commented on #810
However, now that I can get the project to build successfully **the images aren't loading now**😩 The images have an HTTP 200 response status, show alt text visually and load about 130b for all images (and font files). The CSS and JS work fine and load correctly though☺️

I'm using the [next-optimized-images](https://github.com/cyrilwanner/next-optimized-images#installation) setup which works as ex

[2022-07-12 15:27] jwarner00 commented on #165
@lenkaiser I threw together an example here: https://github.com/jwarner00/swa-code-rename

[2022-07-12 18:19] rupareddy5-21 commented on #810
Hi @billyromano Thanks for bringing this to our attention, the issue is fixed now, can you please test it now and let us know if the issue still persists. Thanks

[2022-07-12 18:23] rupareddy5-21 commented on #804
Hi @absdhirendra sorry for the inconvenience, but the issue is fixed now, you can test it now and please let us know if the issue still persists. Thanks

[2022-07-12 20:30] annikel commented on #576
@itpropro Can you give more details about the request that you are experiencing this issue for? I assume this is unrelated to the original issue.

@sinedied yes, our new set of endpoints allows the original _userProvidedFunctionApps_ functionality plus addition backend resource types why there is no need for it in the future. Of course we will continue the support for now.

[2022-07-12 21:05] drmcclelland commented on #7
@Reshmi-Sriram - does Microsoft support the usage of the Static Web Apps CLI inside a Github Action yet?  We typically first "build", then package the build output into a "release" (ZIP file), and finally "deploy" the contents of the release.  We haven't yet found a way to do this with the official [GitHub Action for deploying to Azure Static Web Apps](https://github.com/Azure/static-web-apps-depl

[2022-07-12 21:41] justinh-kairos opened #848 "Max URL length?"
Question: What is the max URL length? I see a few issues that were completed recently saying that long query params are supported now, but I'm still seeing a 404 error when my query params are >4096 characters.

[2022-07-13 09:25] plamber opened #849 "Ability to perform XHR requests"
**Is your feature request related to a problem? Please describe.**
I haven't found any hints in the documentation. We are building a B2C application and customizing the B2C login pages. In the process, we need to store an HTML page that is getting accessed by the B2C service. The service will fire an XHR operation to get the static HTML content.

For a reason, the service blocks the retrieval of t

[2022-07-13 12:03] drmcclelland commented on #7
Thanks for your response @manekinekko - we trigger our build/deploy steps upon creation of a "release" in our GitHub repo.  First, the final output of the "build" step is zipped up and uploaded as a release asset.  Next, the "deploy" step downloads and unzips the release asset, then pushes it to be deployed to Azure.

What I'd like to confirm is if Microsoft officially supports the usage of the `s

[2022-07-13 12:06] manekinekko commented on #7
We do support deploying from a CI/CD, using [deployment tokens](https://azure.github.io/static-web-apps-cli/docs/cli/swa-deploy#deployment-token).

[2022-07-13 15:44] billyromano commented on #810
I just did a Bitbucket pipeline build and the images are still not showing, but I did notice the Oryx version is updated now and it's showing `Oryx Version: 0.2.20220401.1` in the Bitbucket log, so that's a start in the right direction🙂

I'm confused now why the images are not showing if the Oryx versions are the same between my local docker and Bitbucket pipeline docker. The images will show up o

[2022-07-13 15:52] billyromano commented on #810
### Bitbucket Pipeline Build Log:
[code]

[2022-07-13 16:44] sulabh-msft commented on #825
@detaybey  Can you please let us know if you are still facing the issue?

[2022-07-13 17:32] AlejandroAhumadaAvila opened #850 ""You are using Node.js v14.19.1, Requirement: Node.js >=16.14.""
**Describe the bug**
Using Azure Static Web Apps and keep getting this error on the "Build and Deploy Job" in Github:

You are using Node.js v14.19.1, Requirement: Node.js >=16.14.

I've tried adding the following to package.json, but made no difference:

_{
  "platform": {
    "apiRuntime": "node:16"
  }
}_

and:

_"engines": {
  "node": ">=16.0.0"
}_

Is there a way to make sure Node.js 16.4 is

[2022-07-14 03:35] plamber commented on #849
Hello,
I was able to solve it on my own.

I had to configure the CORS settings in the routes config to make this work. Here is an example:

[code]

Thank you

[2022-07-14 03:35] #849 closed

[2022-07-14 16:17] svrooij commented on #493
@adam-bentley yes.... just build it yourself including all the external sources and only use it to upload the app. So you skip building by the static web app action.

[2022-07-14 16:46] pingu2k4 commented on #493
I recently switched to what @svrooij mentions, but before that I have a nuget.config file in the root of my repo, which references the custom nuget login credentials as environment variables which I set.

So, first I did this. Add a nuget.config something like:
[code]
Of course, modify as needed.

Then specify the environment variables as part of the job or the step.
[code]

For other reasons, mor

[2022-07-14 18:13] adam-bentley commented on #493
@pingu2k4 I think Ive followed the correct steps, but Im getting an error

Is this something you've come across?

[code]

[2022-07-14 18:29] pingu2k4 commented on #493
@adam-bentley Are you trying to build it outside of oryx?
If so, then what I have to do that job is the following:

[code]

So,  no output location needed, and app_location specifies the output directory of the publish command I previously used. Change paths to point to your own stuff etc of course. But this is pretty much exactly what I have right now. (I am publishing the API seperately myself,

[2022-07-14 18:49] adam-bentley commented on #493
@pingu2k4 I thought the output_location was for the front-end app? It would probably be better if I explained a little more. My front end is react and my backend is obviously dotnet. My functions are managed not bring your own, if that matters.

[2022-07-14 23:10] meziantou commented on #632
@miwebst Any update on the issue?

On my side, the deployment continues to fail almost every day :(

![image](https://user-images.githubusercontent.com/509220/179115630-03743f64-23a3-492e-b3ef-516c7db43cce.png)

Domain: mango-dune-05cf06d10.azurestaticapps.net
Deployment Id:
- f27ee0f1-7097-4097-935e-c013b28c29ba (2022-07-14T12:26:21Z)
- 9736ca3b-bef0-401b-b9a3-203e061894af (2022-07-13T12:21:13Z)

[2022-07-15 07:00] pingu2k4 commented on #493
I've not got any experience with react, but should be the same idea. Build it yourself with a command before hand, and then don't specify an output location. Build / Publish it to be built to `"$GITHUB_WORKSPACE/.publish"`, then specify that location for the app_location.

[2022-07-15 07:26] Reshmi-Sriram commented on #686
Hey @paule96 ,

We created a new [discussion](https://github.com/Azure/static-web-apps/discussions/851) to get some inputs on monitoring and debugging aspect wrt Static Web Apps. Please feel free to check it out and add your comments!

[2022-07-15 07:27] Reshmi-Sriram commented on #685
We created a new [discussion ](https://github.com/Azure/static-web-apps/discussions/851) to improve monitoring and logging experience in SWA. Feel free to contribute with your thoughts and suggestions!

[2022-07-15 07:28] Reshmi-Sriram commented on #644
Hey @sanha0 and @gorootde!
 We created a new [discussion ](https://github.com/Azure/static-web-apps/discussions/851) to improve monitoring and logging experience in SWA. Feel free to contribute with your thoughts and suggestions!

[2022-07-15 08:56] AlejandroAhumadaAvila commented on #850
The problem was where the following went:

_},
  "engines": {
    "node": ">=16.14"
  }_

  It has to go at the end of the package.json files, just before the last closing parenthesis.

[2022-07-15 08:56] #850 closed

[2022-07-15 13:31] sinisteralex opened #852 "Special characters not served - Blazor WebAssembly .NET6 using MudBlazor"
**Norwegian characters  Æ-Ø-Å is not served on a .NET6 Blazor WebAssembly app deployed with Azure Static Web App**

On Localhost special characters are served, when deployed to Azure Static Web App they are not showing correctly.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Createa new Blazor WebAssembly-app in .NET6 with Norwegian Char

[2022-07-15 16:16] donipudi opened #853 "Azure Static Webapp step fails with upload timeout error"
In the pipeline, the build passes but the static web app step fails with below error
![image](https://user-images.githubusercontent.com/59617506/179264608-d72a4d8e-5149-4c13-808d-88706db77b46.png)

[2022-07-15 16:48] panchosoft commented on #853
The same issue is happening to us since yesterday evening:

![image](https://user-images.githubusercontent.com/415730/179270212-c359eb44-f162-4cb9-8480-d74ccd02fc1b.png)

[2022-07-15 16:51] topher1086 commented on #853
I'm seeing the same issue as well.
![image](https://user-images.githubusercontent.com/57721193/179270689-5adaa159-448c-483a-aae3-81f2f91c08e5.png)

[2022-07-15 16:59] AKaudinov commented on #853
Yeah, same issue here:
![image](https://user-images.githubusercontent.com/12226282/179272270-deb81313-726e-4204-a26f-94454362322f.png)

[2022-07-15 18:07] mishapos commented on #853
Hi, we are aware of an issue related to Static Web Apps deployments intermittently failing. We have identified a fix and are in the process of rolling it out. Deployments should now be going through more reliably.

[2022-07-15 18:11] mishapos commented on #852
Hi, @sinisteralex could you please share the default hostname of your Static Web App?

[2022-07-15 18:44] AKaudinov commented on #853
Thanks @mishapos ! The deployments have started to stabilize on our end.

[2022-07-15 19:32] #853 closed

[2022-07-15 19:50] sinisteralex commented on #852
I would be happy too if you can PM me :)

SinisterAlex

[2022-07-16 23:13] NoPodi commented on #782
After getting completely crazy over this issue I found a workaround in deleting the node_modules folder from the app content folder manually via the DeleteFiles task.

But to enable this step one cannot build and deploy via the AzureStaticWebApp task alone so every step is done manually.
Please take this script with a grain of salt because half of the time I have no idea what the settings are for

[2022-07-16 23:27] NoPodi commented on #520
Found a dirty workaround https://github.com/Azure/static-web-apps/issues/782#issuecomment-1186322614

[2022-07-16 23:29] NoPodi commented on #139
FYI. Found a dirty workaround https://github.com/Azure/static-web-apps/issues/782#issuecomment-1186322614

[2022-07-20 02:06] irwinwilliams opened #855 "platformErrorOverrides preventing swa start from working"
**Describe the bug**
I loaded up a repo that I hadn't changed for a few months, and found when I ran swa start this error was produced:
WARNING: Failed to read staticwebapp.config.json configuration

The following error was encountered: The property "platformErrorOverrides" is not allowed.

After I removed:
[swa] 56:     "platformErrorOverrides": [
[swa] 57:         {
[swa] 58:             "errorT

[2022-07-20 05:13] anthonychu commented on #855
`platformErrorOverrides` is not a valid property in the file. See the [documentation here](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#example-configuration-file).

[2022-07-20 06:23] rprasath commented on #760
Is there any update on this issue. I am facing the same issue. Azure static web app reverse proxying the app service removes the cookie from response

[2022-07-20 08:48] afreire-laptop commented on #565
I haven't @colinansah for lack of response and granular control, I went with a custom setup / implementation for oauth flow. If there are any updates on this, would be much appreciated  @mkarmark

[2022-07-20 10:22] colinansah commented on #565
@afreire-laptop There's some updates at issue #794. Hope they add it in soon so I can start using SWA's some more.

[2022-07-20 13:49] pawel-zolty opened #856 "Creating Free static app by ARM template should be allowed to use identity:None"
Hi

**Describe the bug**

Creating Azure Static web app at sku Free and Identity None generates error: "Invalid SKU" during deployment.

**To Reproduce**
Steps to reproduce the behavior:
1. Create ARM template for static web app
2. Set SKU to Free
3. Set identity (MSI) to None
4. Deploy ARM
5. See error

**Expected behavior**
It is expected to can publish static app with identity { type: none } wi

[2022-07-20 17:46] gregholst opened #857 "403: Forbidden We need an email address or a handle from your login service."
Error message: 403: Forbidden  We need an email address or a handle from your login service. To use this login, please update your account with the missing info. Learn more.
...when logging in.

Steps to reproduce the behavior:
* Set up SWA using React with plan "Standard", use Python functions for backend
* Set up B2C directory
* Use "web" and not SPA as type of application for the app registrati

[2022-07-21 01:38] peterkarman1 opened #858 "Too many redirects with Cloudflare"
When enabling Cloudflare proxy in front of the app, you get the error too many redirects. I have  the following config file

`{
  "forwardingGateway": {
    "allowedForwardedHosts": ["myapp.com", "www.myapp.com"]
  }
}`

And in cloudflare i have added a rule to automatically inject the X-Forwarded-Host header with no luck.

Expected behavior:
It goes to the site

[2022-07-21 10:09] borseno opened #859 "Creating a static web app for React app raises "Host key verification failed." error"
**Describe the bug**

I have created a static web app. Chose there /src and build for react. Then I changed script to / and build. This is the YML file:
https://github.com/RedDuck-Software/Undas.Frontend/blob/main/.github/workflows/azure-static-web-apps-mango-pebble-0fb617803.yml

The pipeline never succeeds. One example is:
https://github.com/RedDuck-Software/Undas.Frontend/runs/7446967548?check_

[2022-07-21 10:19] borseno commented on #859
I believe you guys should mark this as high priority because really no-one whom I know has been able to create a react app static website. Users are now going to netlify instead, because this is broken.

[2022-07-21 14:24] #858 closed

[2022-07-21 14:25] peterkarman1 commented on #858
User error. Fix for future people

I would like to inform you that, If you’re receiving the ERR_TOO_MANY_REDIRECTS error when accessing your HTTPS-enabled site that is being proxied through Cloudflare, it’s likely that you have SSL set to Flexible. This should be set to Full (strict), which will ensure connections to your site are fully encrypted end-to-end.

The SSL setting can be found under the

[2022-07-21 19:48] irwinwilliams commented on #855
Word @anthonychu , I guess it's not anymore. I deployed with it fine when I started  my site last year.

[2022-07-21 19:48] #855 closed

[2022-07-21 21:31] CCruzWCB commented on #775
@miwebst  Our organization would also greatly appreciate the capability to add more than 25 IP address ranges.  Our static app is used worldwide, and it's been a nightmare trying to keep the application private while also staying under the limit.

[2022-07-21 22:48] csalgo70 opened #860 "How to set post_login_redirect_uri based on original url"
I have following entries in my staticwebapp.config

[code]

All this works, but there is one issue. Let's say I give someone a direct link to a page like

https://mydomain.com/docs/tech/staticwebapps

and let's say the user is not logged in. This based on responseOverrides takes to the user to /login & on login takes him to   https://mydomain.com/docs/home because it is hardcoded above

While you

[2022-07-21 22:55] csalgo70 commented on #860
Found the answer in another old issue https://github.com/Azure/static-web-apps/issues/502

[2022-07-21 22:55] #860 closed

[2022-07-22 09:52] th3ragex opened #861 "InternalServerError for bicep deployment with Provider: 'None'"
I am trying to deploy a SWA with 'Other' as source provider via bicep. It creates the SWA but the response from the deployment task i am getting is:

[code]

Using the portal works without any issue and would look like this:
![image](https://user-images.githubusercontent.com/15040273/180409442-87594bde-189e-41eb-8398-4155f24ce4f9.png)

My bicep:
[code]
I was not able to find any documentation on t

[2022-07-22 09:58] kayakingcoder commented on #760
I'm trying to write something to my browser's localstorage. Works locally, but doesn't work when deployed on static webapp.
As localstorage and cookies are "the same thing" in many cases, I wonder if I'm experiencing the same problem.

[2022-07-22 12:14] sinisteralex commented on #852
https://mango-grass-01beb5403.1.azurestaticapps.net/ - This is the one

[2022-07-22 19:13] mrgenesis opened #862 "Error 404 just in TypeScript"
Hello there!

I was did exataly the step to step of [oficial doc](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=vanilla-javascript) in JavaScript and all fine \0/. But was did the same thing using TypeScript and occurer the error 404. [See the demo code here](https://github.com/runtestsdev/demo-help).

JavaScript:
[code]

TypeScript:
[code]

---

Versions:
[code]

[2022-07-22 22:03] joslinmicrosoft commented on #807
Hi @danbasszeti, we've just finished rolling out a fix for this. I can't view your repro site, as it's password protected, but please let us know if the issue is resolved or if you are still seeing unexpected behavior. Thanks!

[2022-07-24 08:09] gregholst commented on #857
I could solve it by going to the signup_login user flow --> application claims and adding a checkmark to "Identity Provider Access Token". Now it seems understandable to me that B2C needs to return the access token so that the application is authorized to access. However, what sense would it then make not to return the token at all, could be default then, right? I will leave this issue open, maybe

[2022-07-24 12:25] mrgenesis commented on #862
Oh my God! I forgot of run `npm run build` before srtart swa application. Sorry!

[2022-07-24 13:05] #862 closed

[2022-07-26 10:02] jw-suh commented on #595
I'll have to bump this too since we have run into the same issue. The fix proposed by @nitelite did not work.

Our web app tries to authenticate via our aad and is stuck in the .auth/login/aad/callback page.

Weirdly enough, it seems like we can't authenticate at all. ".auth/me" responds with null, we have no idea what exactly is happening...

[2022-07-26 11:07] wradstok commented on #595
We just implemented a workaround yesterday. The trick is to add a rewrite rule in your application gateway to set the `X-Forwarded-Host` header

![afbeelding](https://user-images.githubusercontent.com/4184375/180991953-637ab3ac-3176-45c6-92aa-0d23f30abe31.png)

Then of course you need the forwardingGateway configuration in your static web app.

[code]

[2022-07-26 11:54] jw-suh commented on #595
Well I must be honest, after reading through some more of the docs I found my fault in these docs: https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph#create-a-client-secret

We have been actually trying to reference the secret by using the id. This was a mistake, as it was expected to use the value of the secret directly. Maybe this can help @adamcrosby too.

[2022-07-26 13:55] indcoder opened #863 "Release canditate [rc] version Azure portal | SWA creation cannot be linked with GitHub | CORS"
When I try to create the SWA app in the [rc version of the Azure portal](https://rc.portal.azure.com/), the linking of the GitHub app stays in limbo.

This is due to CORS policy which is allowing connections only with the main Azure portal  portal.azure.com

<img width="865" alt="image" src="https://user-images.githubusercontent.com/2099300/181022546-bcad5315-e351-4ab5-8ff9-979a3c417649.png">

[2022-07-26 16:33] itpropro commented on #576
At the time of writing it was not possible to deploy a staticSite resource at all with the 2022-03-01 API, even with the most minimal parameter set, only providing a name.
I have not tested if it was fixed in the meantime @annikel.

[2022-07-26 16:41] timdeschryver opened #864 "Azure/static-web-apps-deploy: add documentation for `outputs.static_web_app_url`"
**Is your feature request related to a problem? Please describe.**

Hi, I hope this is the correct place for my request, if that's not the case feel free to redirect me the correct team.

The GitHub Action `Azure/static-web-apps-deploy` has a documentation page on [docs.microsoft.com](https://docs.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=github-actions) but it only shows

[2022-07-26 18:34] sandeep-bhaskar commented on #277
I am using the below yaml and i want to build the app. I don't want to push the dist file to my repo and i am getting below error

[code]
[code]

[2022-07-27 09:42] rupareddy5-21 commented on #277
Hi @sandeep-bhaskar, can you please check if this dist folder actually has your build output? Also, output_location is supposed to be a relative path (to repository root) and our logic may be looking for the default file in the wrong location.

If you want to consider building your app separately and deploy it using the DevOps task, please check this out - https://docs.microsoft.com/en-us/azure/st

[2022-07-27 09:52] sinedied commented on #576
@itpropro You should open a separate issue for this.

I can confirm that the `@2022-03-01` staticSite API seems to be buggy, as the same valid template using `@2021-03-01` deploys just fine, whereas with the `@2022-03-01` I get a deployment error, without any specific issue reported.

However, you can use a `linkedBackends@2022-03-01` resource just fine within a `staticSite@2021-03-01` as a workar

[2022-07-27 10:00] unowiz commented on #801
I am seeing this issue as well for an managed function that returns ~700KB data and takes ~50+ seconds because my function was waiting to complete responses from upstream api. A simple retry (reload page) seems to then complete the request magically in 4-5seconds.

[2022-07-27 14:27] tkamesh commented on #861
`provider` is not mandatory property. consider having empty properties.

[2022-07-27 17:18] mikedouglasdev commented on #745
I'm running into the same issue but the inverse.  it was working with the azure hosted agents with a SWA using a PE.  However, when I'm trying to deploy from a self-hosted agent in the same subnet it fails.  @ThisIsJaruj did you figure out what needed to be open?

[2022-07-27 21:05] judedaryl commented on #275
i saw the same behavior with ``custom handlers``, when you try to use ``enableHttpRequestForwarding=true`` the headers get overwritten. However if you check the raw incoming http request by setting ``enableHttpRequestForwarding=false`` you get all of your incoming headers. Might be the reason why the supported runtimes do not have http like frameworks.

[2022-07-27 22:04] Jaxiii opened #865 "Self-hosted agent deploy failure, logs don't indicate reason"
**Describe the bug**

Azure Pipeline fails with generic error log, not indicating where, or what it was when task: AzureStaticWebApp@0 try to deploy pre-built Flutter Web App.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up self hosted agent
2. Include staticwebapp.config.json
[code]
3. Run the Pipeline with the following steps

[code]
4. Azure Pipeline task fails with no usable error

[2022-07-27 23:15] cormacpayne commented on #859
@borseno Hey Mark, sorry for the delayed response and apologies for the less-than-ideal experience here. I pulled your repository down to my machine and did some testing to figure out what's going on here and found the culprit:

For some reason, the Yarn lock file you generated (or that was generated for you) produced a link to the GitHub repository for `ethereumjs/ethereumjs-abi` that was not for

[2022-07-28 00:06] PaulIvanov opened #866 "Unable to correctly use APP_BUILD_COMMAND or RUN_BUILD_COMMAND in Gitlab CI/CD"
**Describe the bug**
Im currently attempting to run a custom build command for an angular 14 app using Gitlab's CI/CD pipeline and neither the `APP_BUILD_COMMAND` nor the `RUN_BUILD_COMMAND` work as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Open gitlab CI/CD project with basic angular project
2. paste in the gitlab-ci.yml file
3. run pipeline
4. See error (image attached below

[2022-07-28 00:38] PaulIvanov commented on #866
Found a solution that seems like its missing in the docs. It required me to have the custom command double wrapped in quotes:
`APP_BUILD_COMMAND: '"npm run build-prod"'`

The docs dont state that:
https://docs.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=github-actions

[2022-07-28 00:38] #866 closed

[2022-07-28 01:07] PaulIvanov opened #867 "Ability to use deployment_environment in Gitlab CI/CD pipeline"
Is there an ability to use the `deployment_environment` variable within the gitlab version of the static-web-app configuration?

**Describe the solution you'd like**
Id like to be able to deploy named branches to staging branches on my static web app service

**Describe alternatives you've considered**
Using a different service than azure to host my applications

[2022-07-28 15:26] sinedied commented on #861
I get the same error when having empty properties:
[code]

When switching to the older `@2021-03-01` api, no errors.

[2022-07-28 15:35] sinedied opened #868 "Inconsistent/errors when deploying using the latest 2022-03-01 ARM API"
When using the latest `@2022-03-01` API, I get either inconsistent or errors when deploying static apps.

Here are a few problematic examples.

- With this Bicep template: https://github.com/sinedied/azure-checkin/blob/main/scripts/deployment/poc.bicep#L182, using the `@2021-03-01` version deployments works all the time. With the `@2022-03-01` version, the deployment fails the first time (every ti

[2022-07-28 17:02] th3ragex commented on #861
@sinedied Thank you! Using the `2021-03-01` version works for me as well.

Btw: The region i am testing on is "West Europe"

[2022-07-28 20:22] joslinmicrosoft commented on #865
Hi @Jaxiii, a couple questions:

1. Has the deployment ever worked for you, or has it always been failing like this?
2. If you're able to, can you try deploying without the `staticwebapp.config.json` file? It seems fine from what you've pasted, but just want to narrow down what the issue is.

[2022-07-28 20:24] joslinmicrosoft commented on #867
Hi @PaulIvanov I'm discussing with the team to add this option for GitLab, we'll let you know as soon as we have an update.

[2022-07-29 09:04] remirobichet commented on #801
I'm also experimenting the exact same issue as @trademark18 mentionned.
Managed function and 45s to get a 500 error message with "Backend call failure".

[2022-07-29 14:48] oliverwolffe commented on #302
Heya @arroyc and Oryx Team - I appear to be having a similar issue with my Blazor static web app.

https://github.com/oliverwolffe/hundredclimbs-swa/runs/7580891623

Is this an issue with the platform or is the error related to my code?

[2022-07-30 13:30] #852 closed

[2022-08-01 15:55] roshithrajan commented on #36
does this ARM templates can be deployed using from azure portal using Microsoft.Template as i am getting No Api directory specified. Azure Functions will not be created.
Looking for event info
The content server has rejected the request with: BadRequest
Reason: No matching Static Web App was found or the api key was invalid.

[2022-08-01 21:56] mhabegger commented on #382
any update on the function app side?

[2022-08-02 05:23] shibayan commented on #600
Resolved https://docs.microsoft.com/en-us/azure/static-web-apps/apis-overview

[2022-08-02 05:23] #600 closed

[2022-08-02 07:59] boy-incerta opened #869 "Unexpected: The content server has unexpectedly rejected the request with: LengthRequired when using Dependabot"
**Describe the bug**
We are using Dependabot to keep our dependencies updated. This runs scheduled on every monday morning at 7am. Pull requests created in our repository, automatically trigger a workflow that will create a staging site to see the changes in the pull request.

One of the steps in the workflow is the Azure/static-web-apps-deploy@v1 action. For every pull request created by Dependab

[2022-08-02 21:53] joslinmicrosoft commented on #869
Hi @boy-incerta do you know if the secret that is passed into `azure_static_web_apps_api_token` was edited at all from the default generated secret? If it was, can you try updating the value of the secret again (you can find the deployment token in portal as per https://docs.microsoft.com/en-us/azure/static-web-apps/deployment-token-management#reset-a-deployment-token, but no need to actually rese

[2022-08-03 07:05] boy-incerta commented on #869
Hi @joslinmicrosoft, I think if the token would be incorrect the deployment would never work instead of what is happening right now. Anyways, I tried updating the secret again but with the same result: `The content server has unexpectedly rejected the request with: LengthRequired`

[2022-08-04 06:05] teekay opened #870 "Specifying a custom index document"
I would like to be able to specify a custom index document for a given route.

For example: I have a route `/blog/rss/`. The default document should be `index.xml`, not `index.html`, since the content type is XML.

From the docs It's not obvious to me that I can do that today, and I suspect I cannot.

I could work around this by using a redirect but that would be sub-optimal.

Please kindly consid

[2022-08-04 06:33] anthonychu commented on #870
I think you might be able achieve this with a rewrite instead of a redirect. https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#defining-routes

[2022-08-04 07:35] teekay commented on #870
Thank you!

[2022-08-04 07:35] #870 closed

[2022-08-04 08:02] teekay opened #871 "Redirect to an external URL"
I would like to be able to define an external redirect URL for certain routes.

Example: I have a blob that I used to host on my website, and now I moved it to Azure Blob Storage. For compatibility reasons, I want to redirect clients asking for the blob to the new location. Like this:

[code]

I have noticed that while redirects that point to an internal URL work, when I hit the route that has an

[2022-08-04 09:16] svrooij opened #872 "Static-web-apps-deploy is adding 45 seconds to every build"
**Is your feature request related to a problem? Please describe.**
It's not so much a problem more an annoyence. The wizard in the Azure portal allows us to setup this workflow to auto publish static web apps from github. It creates a workflow and all is great.

But the used [action](https://github.com/Azure/static-web-apps-deploy) builds the used docker container on every run. That means every ti

[2022-08-04 10:18] svrooij commented on #872
Inspecting the `mcr.microsoft.com/appsvc/staticappsclient:stable` image I found it to be 1.98GB, so now I'm wondering what this would even change.

Maybe the original image should be slimmed down to start with.
After seeing all the binaries/packages/build stuff that gets loaded into that container (check by running `docker history --no-trunc mcr.microsoft.com/appsvc/staticappsclient:stable`) it se

[2022-08-04 18:48] anthonychu commented on #872
Some discussion here: https://github.com/microsoft/Oryx/issues/1159

tl;dr: the build relies on Oryx, which runs in a container. We're investigating with the Oryx team on how to slim down the container.

[2022-08-04 18:56] svrooij commented on #872
So you already concluded that the dockerfile doesn't add much time. The time is spend in pulling the 1.98GB images.

Makes sense.

Would it be possible to ship an "upload-only" image?
As in a separate docker container that only does the upload part and can thus only be used with the skip API/app build options set to true.

Then we can build the app ourself and greatly speedup the action run.

[2022-08-04 19:16] chriskuech opened #873 "GitHub Action sometimes does not clean up the environment"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure GitHub Static Apps with included workflow
1. Create a PR to `integration` branch
1. Merge the PR into `integration` branch

**Expected behavior**
The environment is always cleaned up after its PR is closed.

**Observed behavior**
Inconsistently, the Action runs

[2022-08-04 22:35] annikel commented on #861
Hi @th3ragex and @sinedied, we will be rolling out the fix for the create static sites operation for the 2022-03-01 api-version soon. Until then please use the version 2021-03-01. Thank you!

[2022-08-05 06:43] anthonychu commented on #872
That’s something we can consider. You can also try using the Static Web Apps cli to deploy pre-built assets to see if it’s faster.

[2022-08-05 15:14] joslinmicrosoft commented on #867
Hi @PaulIvanov, we've extended support for using the `DEPLOYMENT_ENVIRONMENT` variable in GitLab as now documented here: https://gitlab.com/static-web-apps/azure-static-web-apps-deploy#other-optional-paramters. Please let us know if that works for you. Thanks!

[2022-08-05 16:37] annikel commented on #871
Hi @teekay, I was trying to reproduce the issue but it does work fine for me - as it is supposed to since we do support external redirect URLs. Could you please ensure your file is accessible under that URL. Thanks!

[2022-08-05 18:45] annikel commented on #873
Hi @chriskuech, could you add some more details like the hostname of the static web app and when you have experienced the issue so I can investigate what is happening. Thank you!

[2022-08-05 23:10] chriskuech commented on #873
Hi @annikel,

Thanks for the followup. My Azure-provided hostname is kind-ocean-05541841e.1.azurestaticapps.net. I had to delete environments as recently as today.  If you email me I can provide more info privately.

[2022-08-06 05:20] ramtruely opened #874 "Showing The process '/usr/bin/bash' failed with exit code 127"
This issue has been encounter while deploying the nextjs web application to static web apps.

[2022-08-06 18:55] teekay commented on #871
@annikel yes, you are right. Sorry. I had an issue in my build script and the external redirects were not generated.

[2022-08-06 18:55] #871 closed

[2022-08-07 20:55] drma-dev commented on #264
@mkarmark the problem continues to this day...

[2022-08-08 13:38] SimonDania commented on #196
I would be very excited as well, if this was possible.
@anthonychu Any update on how far you are with this feature? I'd love to implement it on my website.

[2022-08-08 16:42] StefanCardnell commented on #594
@mkarmark

I was banging my head against the wall trying to understand why logout was not working for my custom Azure B2C provider.

I just tested Github, twitter and Azure B2C. Logout does not work for any - logging in again never asks for credentials. If identity provider logout only works for a small handful of providers, this really needs to be said in the docs. It is a security concern, since

[2022-08-09 11:49] ABL6COB opened #875 "Static webapp deploy build fails : Failed to upload build artifacts."
When we try to perform static web app deploy via Github action, we are getting the below error:
---------------------------------------------------------------------------------------
 Function Runtime Information. OS: linux, Functions Runtime: ~3, node version: 12
Finished building function app with Oryx
Zipping Api Artifacts
Done Zipping Api Artifacts
Zipping App Artifacts
Done Zipping App Artif

[2022-08-09 18:31] chriskuech commented on #873
Hi @annikel, not sure if this is directly related or not, but I just received an Internal Server Error

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/3680671/183734859-7c1edd32-d897-491b-ade6-8c095eac37ba.png">

[2022-08-10 08:47] PehrGit commented on #868
I'm having this exact same issue

[2022-08-10 19:57] annikel commented on #873
@chriskuech Thanks! Still looking into it

[2022-08-11 21:03] ajraczkowski opened #878 "Provide a slimmer docker image to reduce deployment time"
**Is your feature request related to a problem? Please describe.**
The Azure static web app deployment relies on pulling a 1.98GB docker image from `mcr.microsoft.com/appsvc/staticappsclient:stable`. This image takes roughly 40s to download on a GitHub-hosted runner. As a result, many deployments of static web apps take >1m in total time (assuming changes to the static content are relatively minim

[2022-08-12 02:03] Danish-Mentorange opened #879 "Unable to switch to nodejs 16. Build fails."
**Describe the bug**

When using the `Azure/static-web-apps-deploy@v1` the build is failing because it is detecting and installing nodejs 14. We are using nodejs 16. I also added the following line but it still detects node 14.

[code]

**Expected behavior**
I should be able to use `Azure/static-web-apps-deploy@v1` for nodejs 16.

[2022-08-12 03:21] vivekjilla commented on #879
Hi @Danish-Mentorange,
I will check with our team to see if we can/should change the default node version.

But meanwhile, to specify custom nodejs version, can you try this approach and see if it helps - https://blog.johnnyreilly.com/2022/05/28/azure-static-web-apps-node-16-oryx

[2022-08-12 08:38] #867 closed

[2022-08-12 10:31] Danish-Mentorange commented on #879
That did the trick. Thank you.

[2022-08-12 11:07] benc-uk opened #880 "Impossible to set up an apex domain via the portal"
**Describe the bug**

You can't currently create an apex custom domain

If you try via the "Azure DNS" path you are not allowed to add an apex domain, nor can you leave the field blank
<img width="432" alt="image" src="https://user-images.githubusercontent.com/14982936/184341798-e0fb94d2-0bf8-4ed0-8221-be6a4fbf5d58.png">

If you try through the "non Azure DNS" path (which did work in the past) the

[2022-08-12 11:14] #879 closed

[2022-08-12 12:12] benc-uk opened #881 "Custom DNS: help text refers to non-existent command"
**Describe the bug**

When running `az staticwebapp hostname set` with `--no-wait` the message returned tells you to run `az staticwebapp hostname get` but this command doesn't exist

**To Reproduce**
[code]

**Expected behavior**

There is some way to add a hostname using the CLI

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device info (if applicable):**
 - OS:

[2022-08-12 12:15] benc-uk commented on #878
I think the use of Docker is a mistake for this sort of GitHub action, there should at least be a TypeScript based action without the need to pull/build a docker image if all I'm doing is running `npm build` or even just copying static files I've created some other way.

[2022-08-12 12:54] farshidrezaei commented on #754
same issue

[2022-08-12 12:58] vivekjilla commented on #881
Hi @benc-uk , that seems to be a bug in the message. I will work with our team get it fixed.

Meanwhile, can you try with `show` instead of `get`, as per https://docs.microsoft.com/en-us/cli/azure/staticwebapp/hostname?view=azure-cli-latest#az-staticwebapp-hostname-show

`az staticwebapp hostname show -n short-link -g apps --hostname test.benco.io --query "validationToken"`

[2022-08-12 14:20] diberry opened #882 "Package.json guidance for dependencies versus devDependencies"
I see in some SWA apps that all dependencies including strictly dev dependencies such as TypeScript types are all in the dependencies node. Is this required or recommended for SWA? If yes, why.

[code]

[2022-08-12 15:15] vivekjilla commented on #880
Hi @benc-uk, we observed that this custom domain (benco.io) is linked to another static site `agreeable-bay-002789003`, and that's why it's unable to link to this static site.

The error message ("The domain name given was not found") is misleading. We will work on getting that fixed.
Apologies for the confusion and inconvenience caused.

Can you try deleting the old site (`agreeable-bay-002789003

[2022-08-12 15:19] vivekjilla commented on #882
Afaik, this is not required by SWA. Can you please let us know if you faced any issues when you added strictly dev-dependencies to only the devDependencies section instead of dependencies?

[2022-08-12 15:23] diberry commented on #882
@vivekjilla  Not issues, but wondering what to say in docs about how to think about dependencies and devDependencies when structuring a project in the pipeline.

[2022-08-12 15:56] benc-uk commented on #880
Ahh ok, that makes sense! I had tried to delete that older instance.
I'm in the middle of having to recreate some of my resources in a new subscription and tenant.

It does seem I'm unable to delete the old SWA instance agreeable-bay-002789003, it's been stuck deleting for around 20 hours now

[2022-08-12 16:10] benc-uk commented on #881
Yes show seems to work. Thank you

[2022-08-12 16:10] #881 closed

[2022-08-12 17:14] benc-uk commented on #880
Eventually after 3 or 4 more tries and a long wait I managed to nuke it

And managed to move the apex domain to a new SWA instance

Closing. Thank you

[2022-08-12 17:14] #880 closed

[2022-08-12 22:08] #251 closed

[2022-08-12 22:17] drma-dev opened #883 "blazor - trying to log in => sorry, there is nothing at this address"
![image](https://user-images.githubusercontent.com/12803050/184451594-2032181a-c257-4ba8-9f83-a60b74bdbcb3.png)
this error has been happening for a while, both when trying to log in and to log out. I found that deleting the 'index.html' file from the cache resolves and the targeting for that endpoint works again.

`const offlineAssetsExclude = [/^service-worker\.js$/, /^routes\.json$/, /^index\.ht

[2022-08-12 22:17] #264 closed

[2022-08-13 06:31] vivekjilla commented on #883
Hi @drma-dev, in your service-work.published.js: https://github.com/drma-dev/VerusDate/blob/master/src/VerusDate.Web/wwwroot/service-worker.published.js#L43
I see we have a logic to serve index.html for all the GET requests and if the index.html is cached, the request will not hit the server. I guess this might be happening with `/.auth...` urls as well.

And when you removed the `index.html` from

[2022-08-13 15:14] drma-dev commented on #883
`const shouldServeIndexHtml = event.request.mode === 'navigate' && !event.request.url.includes('/.auth/');`

@vivekjilla I made it. takes both login and logout.

but shouldn't this be like that by default in the template or at least be in the documentation?

[2022-08-13 15:26] vivekjilla commented on #883
@drma-dev glad that it worked!

I thought that was a custom code.

Can you please point me to the template where this logic was picked from.
I will check with my team and see if we can fix it there.

[2022-08-13 15:34] drma-dev commented on #883
@vivekjilla
![image](https://user-images.githubusercontent.com/12803050/184500905-e3d97b59-cee8-4713-bbe9-1ddc75736e43.png)

[2022-08-13 16:04] vivekjilla commented on #883
@drma-dev Thanks for referencing the template. This issue is due to the combination of blazor app and static web apps. I'll check with my team to see  if we can update our docs to reflect this.

Thanks for reporting, and apologies for the inconvenience caused. :)

[2022-08-15 14:12] thomasgauvin commented on #116
This seems to have been fixed with changes to the SWA API blade

[2022-08-15 14:17] thomasgauvin commented on #807
@joslinmicrosoft @danbasszeti Can we close this issue as fixed?

[2022-08-15 14:23] thomasgauvin commented on #835
@MarcelWouters @annikel Can we close this issue as resolved? To add on to @annikel's reference, here is the Bicep/ARM guidance from MS Docs for SWA https://docs.microsoft.com/en-us/azure/templates/microsoft.web/staticsites/linkedbackends?pivots=deployment-language-bicep

[2022-08-15 14:25] thomasgauvin commented on #694
Can we close this issue as resolved? @Reshmi-Sriram

[2022-08-15 14:31] danbasszeti commented on #807
Hi apologies - thanks for this, it works perfectly. Great stuff!

[2022-08-15 18:35] johnnyreilly commented on #435
Heya,

I've just bumped on this too.  I thought I'd share my use case.  Consider the following URL:

https://my.app/my-screen?time=hours-4&selectedService=thing&selectedId=a52f89ae-c522-4b45-ba96-fa3a703a11c7

A support engineer is using my.app and finds something of interest, they send the above URL to their colleague. The colleague clicks on the link, expecting to see what their colleague sees.

[2022-08-15 18:53] johnnyreilly commented on #435
@JonSilver , just reading up on your workaround.  I'm curious as to what your `staticwebappconfig.json` looks like. Here's mine:

[code]

We force authentication of all users with this:

[code]

I'm guessing this wouldn't work with your approach as you'd not get the chance to save state to localstorage before the redirect.  How do you handle this? Do you not use the above approach?  Perhaps you al

[2022-08-16 06:07] MarcelWouters commented on #835
@thomasgauvin Yes can be closed

[2022-08-16 09:28] Reshmi-Sriram commented on #883
cc// @craigshoemaker

[2022-08-16 09:47] Reshmi-Sriram commented on #694
Feel free to re-open in case of further discussions!

[2022-08-16 09:47] #694 closed

[2022-08-16 09:47] #842 closed

[2022-08-16 09:48] #116 closed

[2022-08-16 09:49] #807 closed

[2022-08-16 09:55] #835 closed

[2022-08-16 12:29] iOvergaard commented on #788
@miwebst I got the same, but figured out that you can go to the Azure Portal, copy the deployment token and then add it specifically as a **dependabot secret** in the repository settings. You just need to match the secret key from the "Actions" secrets:

![image](https://user-images.githubusercontent.com/752371/184879772-a6864c43-d72b-46a2-9b8e-97c7601722cb.png)

[2022-08-17 04:56] bmaruyama commented on #587
My issue was due to old PWA files (e.g. service-worker.js) in my wwwroot folder. Removing them prevented this problem.

[2022-08-17 05:04] Reshmi-Sriram commented on #587
Thanks for confirming @bmaruyama!

@evandigby - could you please confirm if you are still facing this issue? Our team can help you debug if so. If not, we'd like to close this issue. Thanks!

[2022-08-17 06:18] bmaruyama opened #884 "Blazor - .auth routes show Sorry, there is nothing at this address."
**Describe the bug**

I tried to add AAD B2C as a custom auth provider to a deployed Blazor Azure SWA.  All .auth routes, including the new aadb2c route, return a 401.

**To Reproduce**
Steps to reproduce the behavior:
1. Add AAD B2C as a custom auth provider as per https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-in-azure-static-app
2. As part of that, add the

[2022-08-17 06:59] zurex opened #885 "Rewrite based on domain"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-17 07:45] vivekjilla commented on #884
@bmaruyama can you please provide the static site endpoint, so that we can look into this further, and also, if possible, can you please provide the Blazor example repo used.

[2022-08-17 08:47] vivekjilla commented on #882
@diberry as far as I can see, we're not doing any special handling there. So, standard operating procedure is fine.

[2022-08-17 10:48] ZavenLepedjian opened #886 "Blazor Web Assembly - Deploy Azure Static Web App (Preview) appsettings.json issue"
I'm using Deploy Azure Static Web App (Preview) task in my Release pipeline and I'm facing issue by not being able to replace appsettings.json values.
-

Here are the steps I'm doing.

1. In the build pipeline
   - NUGET restore
   - dotnet publish -c DEBUG

2. Release pipeline
   - replace appsettings.json values with a custom values (Because of multitenant configuration).
   - Use Deploy Azure S

[2022-08-17 13:24] bmaruyama commented on #884
@vivekjilla  I have supplied the endpoint via email.  Thanks for your help.

[2022-08-17 13:56] vivekjilla commented on #884
@bmaruyama Thanks for sharing the endpoint.
Looks like the custom auth AAD B2C is not enabled for your app now.
Can you add it back, so that we can repro the issue and dig into the details further.
Right now, the default auth providers like aad is working fine and aadb2c is returning "There is nothing at the address" as expected

[2022-08-17 14:40] ZavenLepedjian commented on #886
I do not have the whole yaml file of the release as I'm using the classic release pipeline. What I have is the yaml of each task.
Please find below the tasks in yaml in order

1- Setup the config file pf a custom tool that will generate my appsettings.json
`- task: jakkaj.vsts-yaml-writer.custom-build-release-task.YamlWriter@0
displayName: 'Update static web wettings'
  inputs:
    file: '$(System

[2022-08-17 14:53] #882 closed

[2022-08-17 15:39] vivekjilla commented on #886
@ZavenLepedjian Thanks for the tasks yaml. Not completely sure on what's going wrong here, but is it possible that the file generated in task 2 is not accessible by task 3?
To verify that, in task 3, can you try removing the static web app related steps and add a simple command to access the generated appsettings.json and see if you can see the contents?

And if the issue is happening only with st

[2022-08-17 21:25] bmaruyama commented on #884
@vivekjilla My apologies, the config file has been updated and deployed.  The Login link uses the aadb2c provider.

[2022-08-18 03:27] hugoforte commented on #884
I'm having a similar issue - should I open a new ticket?

I edited this project to enable aad b2c: https://github.com/MicrosoftDocs/mslearn-staticwebapp-authentication
I'm unable to get to the .auth/login/aadb2c endpoint (get 404 error) - aad, twitter, and github logins are working

I followed the same article: https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-in

[2022-08-18 04:20] vivekjilla commented on #883
Closing this issue as the original issue has been resolved. Tracking the doc fix separately

[2022-08-18 04:20] #883 closed

[2022-08-18 04:30] vivekjilla commented on #884
@hugoforte Yes, can you please open a new issue for your usecase, as it seems to be different from what's happening in this issue.

[2022-08-18 05:01] aaronpowell opened #887 "Failed to create Personal Access Token in Azure DevOps deployment"
Sparked from https://twitter.com/jacksorjacksor/status/1559495716401287168?s=20&t=Mijqwm0p17MRAoHb2_J7hg, I'm trying to setup a pipeline using Azure DevOps and I'm hitting an error:

![Error message](https://user-images.githubusercontent.com/434140/185297505-a85a5f38-79f9-453a-b4f0-4bbfa4558caf.png)

The process I've gone through is:

1. Logged into Azure DevOps
1. Created a new project and initia

[2022-08-18 05:19] vivekjilla commented on #884
@bmaruyama Can you please check if you added the app settings in your app as per step 3 here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-in-azure-static-app#step-3-configure-the-azure-static-app

I guess, we need to add these settings instead of adding the values directly to the config file (incase you did this).
![image](https://user-images.githubusercont

[2022-08-18 06:09] TrplM opened #888 "The custom domain has not been resolving to your static web app and has expired"
**Describe the bug**

I have multiple Statics Apps **proxied** through Cloudflare with a custom domain name. Today I see all the apps returning the Azure 404 holding page.

The Azure portal shows the custom domain as _**"Validation failed"**_ and **_"The custom domain has not been resolving to your static web app and has expired"_**

I don't see this behaviour documented anywhere? What is the solu

[2022-08-18 08:04] sachin-rathor commented on #888
Hi @TrplM ,

Could you please share the default hostname?

Thanks!

[2022-08-18 08:46] ZavenLepedjian commented on #886
@vivekjilla Thanks for the help.
After trying to get the file content after task 2, I got permission denied.
<i>/home/vsts/work/_temp/0b45eaf9-a2f1-4266-8e5b-55544d98e394.sh: line 3: /home/vsts/work/r1/a/_deployments/web/Client/wwwroot/appsettings.json: **Permission denied**</i>

This result was predicted by you.

[2022-08-18 08:52] TrplM commented on #888
This is one of them (red-sea-08fb6fc03.1.azurestaticapps.net), but I have already disconnected and reconnected the custom domains

[2022-08-18 09:00] vivekjilla commented on #886
@ZavenLepedjian thanks for trying it out. Not sure what's happening here but seems like something to do with azure devops pipelines.
One thing we can do is to try a minimal repro where one task writes contents to a file and the next task reads it.
And maybe follow up with the azure devops team on this - https://github.com/MicrosoftDocs/azure-devops-docs/issues

Can you please try that and see.

[2022-08-18 09:33] vivekjilla commented on #888
@TrplM Thanks for reverifying. And apologies for the inconvenience caused.

For auto renewal, we use http-token method.
And for that to work, please make sure the `.well-known/pki-validation/fileauth.txt` endpoint on your custom domain is accessible to public internet, so that digicert can validate the domain.

We're working on improving the docs and notification flows in this area.
Please let us

[2022-08-18 10:08] ZavenLepedjian commented on #886
@vivekjilla , After running `chmod 777 -R .` to give access on the file, I was able to read the content of the file.
But after the static web task, the appsettings is still not filled with the data I was waiting for.

[2022-08-18 10:15] TrplM commented on #888
@vivekjilla

Couple of clarification questions:

The contents of the file should be the _validationToken_ generated when using TXT verification?

How do I obtain the _validationToken_? Do I need to delete and reconnect the domains?
`az staticwebapp hostname` returns no _validationToken_ even for domains I reconnected this morning with the TXT method.
If I try and generate the token (portal and cli