[2021-07-01 13:26] Sam-Rowe commented on #81
Thank you @azbpa I am closer, I get something in the response to /.auth/me
[code]

but not sure the authentication rules are working because my route seems to be ignored if I am not logged in.
[code]

I am also not sure how to speicify an aad group membership that should match against the claim.

[2021-07-01 17:49] jshinevar opened #503 "Ability to "stop" Static Web App"
I would like the ability to shut off my static web app if needed.  This would be good for testing purposes.  Other Web Apps and Functions have the ability to turn off the resource, it would be useful for Static Web Apps as well.

[2021-07-01 17:50] jshinevar commented on #503
For further context, I was looking into how to do this, and I had found this SO: https://stackoverflow.com/questions/63516777/how-to-shut-down-an-azure-static-web-app
I'm not the first one to look for this.

[2021-07-01 18:39] Dorian30 commented on #392
@anthonychu but what do I do with my staticwebapp.config.json ? I have it on app_location: `/`

If I set it like you said It won't work right ?

[2021-07-01 23:44] miwebst commented on #501
Is the VM running the pipeline a Windows machine? We've seen this in the past if the VM is not capable of running the task startup script.

[2021-07-01 23:46] miwebst commented on #495
Both of these issues should be fixed now. Can you retry and let us know what you think?

[2021-07-01 23:49] miwebst commented on #494
This is a repeat of this issue correct? Will close if you agree: https://github.com/Azure/static-web-apps/issues/162

[2021-07-01 23:52] miwebst commented on #489
Hi, @stianl thanks for surfacing this. Yes today we have a limit on the request length that is processed before the navigation fallback. On the OIDC redirect url, are you controlling the length of those or is it another identity provider?

[2021-07-01 23:55] miwebst commented on #486
Hi @plamber, is there a particular aspect of the integration that you are looking for? I.e. caching or security or just general setup?

[2021-07-02 00:04] miwebst commented on #476
I'm not sure if that is the same issue as the one you linked. Are you using custom authentication? Azure Login is not supported using the default auth providers.

[2021-07-02 00:05] miwebst commented on #472
Closing as duplicate

[2021-07-02 00:05] #472 closed

[2021-07-02 00:09] miwebst commented on #466
This is described as only for bring your own function apps here: https://docs.microsoft.com/en-us/azure/static-web-apps/apis

[2021-07-02 00:09] #466 closed

[2021-07-02 00:19] mkarmark commented on #458
Hi @mauve, so we have two options for your here: (1) You can add the isForced=true query string parameter to the ARM call being made to the userProvidedFunctionApps endpoint. This will indicate that you want to overwrite the existing bring your own function auth settings configured on the app with new ones in this re-registration process and will prevent your second attempt from failing. (2) You c

[2021-07-02 00:23] kevinprescottwong-Dev commented on #501
Hi miwebst,

I am running the Agent on my own local machine, which is Windows 10.
Did the issue that you are referring to get resolved? If so, how did they resolve it?

Thanks

[2021-07-02 04:27] plamber commented on #486
We are primarily using front door for the security capabilities such as WAF. We are covered from that perspective.

I am looking for recommendations how to setup static web apps to achieve following goals:
- increase availability (in case the static web app of one region is not available). What is the best way of implementing health checks?
- Any suggestions on how to handle 503 error messages? We

[2021-07-02 05:58] kevinprescottwong-Dev commented on #501
I FINALLY FIXED MY ISSUE!!!!

When you mentioned that it might be a Windows problem, I used my Ubuntu VM:
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

Then I had to install npm and docker.io:
sudo apt install npm
sudo apt-get install docker.io

Then I had to setup docker for my user on the machine:
https://www.digitalocean.com/community/que

[2021-07-02 05:58] #501 closed

[2021-07-02 06:38] mattixittam commented on #494
Yup, seems to be the same thing: the deploy and close jobs interacting badly if running in parallel. This can be closed.

[2021-07-02 08:41] aleksandervalle commented on #495
Travelling, will definitely test when I get home. Thanks!

[2021-07-02 14:56] foconnor-DS commented on #497
I just spent too long trying to figure out how to 'add' environments to ASWA. Coming from App Services Land, this was very straight forward. I want to add a Dev, QA and keep my Production slot/environment on ASWA. Then I'd like to configure my pipeline to push based on typical review/approve stuff built into DevOps. Right now, I'm having to do what OP does, and stand-up distinct ASWA entities to c

[2021-07-02 15:01] foconnor-DS commented on #419
This ties together with Azure DevOps users not having ASWA 'environment' support. It's not possible to create qa, dev, production environment slots on ASWA unless you move your code to github and switch to pull based staging.

I have no way currently to deploy API (Azure functions) changes linked with ASWA static file changes, and test them in a 'qa' environment. I have to spin up additional Azure

[2021-07-02 16:11] miwebst commented on #486
Content is pushed to globally distributed endpoints, so your health checks would need to also visit these global endpoints. Luckily enough AFD has this functionality built into their health check. A HEAD probe on the index is probably the best way to do these health pings: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-health-probes

As for the 503's, there was an incident a couple of

[2021-07-02 16:18] #406 closed

[2021-07-02 16:19] plamber commented on #486
Hi @miwebst ,
Thank you for your feedback.

Does it mean that there is no need of having multiple static web app instances if we agressively cache the files using front door?

This would also remove the need of performing health checks.

Thank you, your feedback is highly appreciated

[2021-07-02 16:36] miwebst commented on #372
Ok, if you are using GitHub, you can now use this: config_file_location to point to your SWA config. We will be getting this into DevOps too.

[2021-07-02 17:15] stunney commented on #476
using "authenticated" in our /* route.  /admin is "administrator".  These are defaults for a static web app.

[2021-07-02 17:28] #494 closed

[2021-07-02 23:57] Ethycs commented on #21
Doesn't look like this is fixed and breaks documentation
https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript

[2021-07-04 19:04] mauve commented on #458
Thanks for the answer. I will remember that for the future if I end up trying StaticWebApps again.

It feels really weird that I need isForced=true in FullCD scenario imho.

Feel free to close this I had too many issues with StaticWebApps so I gave up. It ended up being more performant and simpler to just use Azure FrontDoor, FunctionApp and BlobStorage.

[2021-07-04 19:04] #458 closed

[2021-07-05 06:13] nogic1008 commented on #86
Any updates?

[2021-07-05 15:47] #470 closed

[2021-07-05 17:24] ebuzyuma commented on #444
As for ARM templates, I managed to get it like this:
[code]

[2021-07-05 21:01] anthonychu commented on #94
We're working on this feature but no ETA to share at this point.

However, we are also working on adding support for selecting one hostname as the "default" hostname. When configured, all traffic to other hostnames for the static web app will be redirected to its default hostname. This, in combination with adding [canonical URLs](https://developers.google.com/search/docs/advanced/crawling/consolid

[2021-07-05 21:41] anthonychu commented on #499
Ah yes, I can see how this is an issue. Other triggers such as Event Grid and SignalR that rely on those webhook endpoints are also affected.

[2021-07-05 21:45] anthonychu commented on #490
@Zhiyuan-Amos  This is surprising. Can you share the repo if it's public? Another thing to try is to remove the staticwebapp.config.json file completely just to see if the error still appears (it would be even more surprising if it's still a problem).

[2021-07-05 22:02] anthonychu commented on #500
Can you provide steps to reproduce this? Looks like something went wrong while zipping up the app contents. /cc @miwebst

Because your api source is inside your app location, it is unnecessarily adding it to your frontend app. That increases the size of your frontend app deployment but shouldn't fail like this, though. Moving it to a separate folder avoids this situation and that's likely why that

[2021-07-05 22:07] anthonychu commented on #502
I don't think this is possible right now, though it's something we should look into supporting. @mkarmark any suggestions?

[2021-07-05 22:11] anthonychu commented on #463
See also this workaround that's been shared on the PR that addresses this issue with the task: https://github.com/microsoft/azure-pipelines-tasks/pull/14807#issuecomment-868593099

[2021-07-05 22:17] anthonychu commented on #503
Also requested here but for a different reason #137

[2021-07-05 22:19] jshinevar commented on #503
I saw that one was closed, so I was appealing to the team for this feature

[2021-07-05 22:19] anthonychu commented on #392
@Dorian30 I think we're also working on adding the ability to specify the location of the config file so you might not need it in the public folder in the future.

[2021-07-05 22:35] anthonychu commented on #503
@jshinevar Thanks. I was adding a link to that issue so anyone landing on that will find this one.

Can you share more about your expectations for what happens when an app is stopped? For instance, would you expect billing to stop (for standard)? Do you still want to be able to deploy to the app?

[2021-07-05 23:02] jshinevar commented on #503
Ok, the scenario I am trying to build is as follows.
I have worked on several platforms (i.e SalesForce, Wordpress, etc) that have an external domain name that just points to an internal IP.  Sometimes those internal IP's will change and if you are using your own DNS or something not internal, that will not update automatically.  I want to build a solution with UpTime Robot that will monitor a web

[2021-07-06 01:43] nogic1008 commented on #418
This is a sample to use [Environments](https://docs.github.com/actions/reference/environments).
[code]
Result is here
![result](https://user-images.githubusercontent.com/24802730/124529997-a0b18e80-de46-11eb-8d4f-bbf98fc46d7b.png)

[2021-07-06 02:07] chenxizhang commented on #75
@anthonychu  Do you have any update on this feature? I also want to know the ip list of the function app, because some external system require the information to whitelist them.

[2021-07-06 03:33] mfcollins3 commented on #495
@miwebst I ran into this tonight. I was successfully able to run my ARM template the first time, but after that, I get the same error as above.

[2021-07-06 05:58] pingdong commented on #477
@mkarmark Do you have any update?

[2021-07-06 08:11] Zhiyuan-Amos commented on #490
@anthonychu I've created PRs on my repository so that you can validate the behaviour on the deployed webpages:

1. https://github.com/Zhiyuan-Amos/couple-management/pull/64 - behaviour described in my earlier reply
2. https://github.com/Zhiyuan-Amos/couple-management/pull/65 - `staticwebapp.config.json` removed

[2021-07-06 13:38] MikeAtETI opened #504 "Static Web Apps with a .net core 3 functions"
Is there a way of getting this up-and-running with a net core 3 functions as backend - following the instructions at https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops - the VS Code doesn't seem to want to offer me the choice of generating a .net addin

[2021-07-06 13:59] sinedied opened #505 "Cannot detect API runtime on a Node.js project with manual extensions install"
**Describe the bug**

If you try to deploy a SWA with a Node.js API where you have extensions installed manually with `func extensions install`, the deployment will fail with this message:

[code]

You can see the error here: https://github.com/sinedied/azure-cantina/runs/2862128969?check_suite_focus=true#step:4:256

It seems that due to the fact that the project contains an `extensions.csproj` fi

[2021-07-06 14:31] paramartad commented on #463
Hey everyone,
I currently also have a Pipeline that builds a NextJS project and publish the artficat. Here's the relevant YAML:

[code]

And here's the bash script I use in the Release pipeline.

[code]

And here's the log from the Release pipeline. I don't think I'm getting the right folder pointed out? Or am I doing something wrong with the publish artifact step on the pipeline?

[code]

Thanks

[2021-07-06 21:44] miwebst commented on #427
This should be fixed now. Sorry for the inconvenience!

[2021-07-06 21:44] #427 closed

[2021-07-06 23:29] miwebst commented on #477
Hey @pingdong, check out this arm template that is used in situations where you don't want to configure SWA against a GitHub repo: {
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "string"
        },
        "location": {
            "type": "string"

[2021-07-06 23:33] miwebst commented on #495
Hmm, @mfcollins3, do you mind sharing your arm template?

[2021-07-06 23:46] mfcollins3 commented on #495
[code]

[2021-07-06 23:48] stunney commented on #476
bump

[2021-07-06 23:50] stunney commented on #476
This still occurs using a self-hosted node.

[2021-07-07 00:14] pingdong commented on #477
@miwebst 2019-12-01-preview seems a wrong version.

But I tried downgrading the api version from 2021-01-01 to 2020-12-01. It works now. It seems an issue inside the api.

Thanks again

[2021-07-07 00:15] miwebst commented on #476
Can you clarify what issue you are hitting? From this thread, I see one regarding deployment and one regarding auth.

[2021-07-07 00:24] pingdong commented on #477
@miwebst I tried again of 2021-01-01. It works as well. Something could be changed in azure side. But anyway, this issue can be closed now.

[2021-07-07 00:24] #477 closed

[2021-07-07 00:28] miwebst commented on #495
Hey @mfcollins3,

I hit the same issue when deploying your template. To get around this, you can add `"provider": "GitHub"` to the properties of the swa in your template. Subsequent deployments will then work (at least they did for me)

[2021-07-07 13:01] KP1980 opened #506 "Not able to change deployment order of API app"
**Describe the bug**

We have a static web app with API app. We want to deploy API first before the static web app because our angular app requires updated API for prerendering. We could not find any way to changer the deployment order so that we can deploy API before static web app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2021-07-07 14:23] anthonychu commented on #506
The API and app are deployed at the same time, so your scenario is currently unsupported using Azure Functions that are managed by Static Web Apps. However, you should be able to get this functionality by [deploying your own function app](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own).

[2021-07-07 18:00] stunney commented on #476
this is still about deployment

[2021-07-08 00:50] anthonychu commented on #504
@MikeAtETI Can you please share a bit more about the steps you took? That tutorial doesn't really focus on code so I'm interested in what you tried in VS Code and where you got stuck.

[2021-07-08 01:09] nturinski opened #507 "Triggers are case-sensitive, but can't be hit because urls are case-insensitive."
Today, the platform allows users to create two HTTP triggers with the exact same name, but with just different casing.  For example:

`HttpTrigger1`
`HTTPTrigger1`

However, when attempting to hit those API triggers, you are unable to hit any specific function trigger because as far as the url is concerned, they're the same since the endpoint seems to be case-insensitive.

So `calmsands.azurestati

[2021-07-08 01:23] nturinski opened #508 "Include app_location, api_location, and output_location as part of StaticSite metadata"
**Is your feature request related to a problem? Please describe.**
Because we work with user's local projects, it would be nice to know when there is a discrepancy with their local `workflow.yml` vs. the `workflow.yml` that is used for the current build.

**Describe the solution you'd like**
If the StaticSite (or StaticSiteBuild) envelope could include these details when you get them from the ARM

[2021-07-08 07:57] MikeAtETI commented on #504
VS Code isn't my usual dev environment, but I cloned the git repository off azdo

Went to the Azure icon on the LHS, chose Functions - opened up "Local Project", then Functions, then highlighted "Functions" then chose "Create Function" in the toolbar and it created a new js function.

[2021-07-09 14:13] Roger-Sa commented on #502
I am reading [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url) that, due to security implications:

and:

I presume this can be done with custom authentication. I also presume most prefer to just use the built-in authentication. If you (Microsoft) implement this for the built-in authentication, and automatic redirection is out of the question for security reasons, t

[2021-07-10 10:27] ShanonJackson commented on #5
@anthonychu what about Azure Dev Ops Static Web App staging deploys? At the moment we're running two production instances using 1 as staging just to use azure dev ops.

[2021-07-11 09:54] aleksandervalle commented on #495
Works after setting `provider: 'GitHub'` in bicep template, although I do get a warning saying the property is read-only.

`WARNING: /github/workspace/staticsite.bicep(8,5) : Warning BCP073: The property "provider" is read-only. Expressions cannot be assigned to read-only properties.`

Many thanks!

[2021-07-11 09:54] #495 closed

[2021-07-12 08:03] MaartenKoops commented on #483
I did not get any response on this. @anthonychu, can you add this as an feature request? I think this will be great added value to the product. This way can have the SWA running server-driven authentication and access the Backend service “on behalf of the user” by sending the access-token from the Bring Your Own function to the Backend. In this case the Function needs to get access to the Access-t

[2021-07-13 00:57] anthonychu commented on #483
Thanks. I think there's enough info here. We'll review internally to see if we can support these scenarios and prioritize. To set expectations, we don't have this in our near-term plans so it's unlikely it'll be supported soon.

[2021-07-13 13:27] tomaustin700 opened #509 "Unable to deploy static web app using Azure DevOps and self hosted Windows agent"
**Describe the bug**

Attempting to deploy a static web app using Azure DevOps pipelines and a self hosted Windows agents results in the AzureStaticWebApp task failing with no error message.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Azure DevOps yaml pipeline to deploy a static web app
2. Set the pipeline to use a self-h

[2021-07-13 22:12] joslinmicrosoft commented on #476
Hi @stunney, so I've been looking at our logs and see that recent deployments (at least the last 5) have been working, but some around July 6 were failing. Can you provide us some of the following information?

1. Near the top of the GitHub Action logs, there should be a DeploymentId that gets printed out. Can you share a couple of these for the failed deployments, and a couple for successful depl

[2021-07-14 12:51] MikeAtETI commented on #504
I found the blazor template from https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor worked

[2021-07-14 12:51] #504 closed

[2021-07-14 13:16] imran-abbas1 commented on #250
If anyone is still facing this issue. Please check in your developer account if you have a pending Data use Checkup.
Once you complete it, it should work.

[2021-07-14 16:40] davidanthoff commented on #139
Same here, 15k doesn't get anywhere close to what we need. We currently have something with already about 44k files we want to host, and that is only going to grow (significantly) larger over time.

[2021-07-15 21:37] foconnor-DS commented on #34
This should be documented. Using 'authorization' header for Bearer token authentication is pretty common.  I think the ASWA teams should internally use a different header. It should probably be an 'x-' based one, since this is for your internal use.

[2021-07-15 23:33] stephajn opened #510 "Ability to deploy using an Azure DevOps Release Pipeline"
**Is your feature request related to a problem? Please describe.**
I cannot use Azure Static Web Sites because I have an application I'd like to run but have different environments to run it with. I would like to be able to deploy an application into Azure Static Web Sites in a DevOps Release Pipeline as opposed to a build pipeline so that I can modify certain files based upon the environment I am

[2021-07-16 02:50] iomariani opened #511 "`staticwebapp.config.json` build error"
I'm trying to configure my first Static WebApp using Vue.js app,
but after adding the `staticwebapp.config.json` file it is giving the following build error:

[code]

I've changed nothing on the .yml file Azure generates,
so my `app_location` is `/` and the config is at the root just as default.
I've configured it just like the [documentation on microsoft website](https://docs.microsoft.com/en-us/

[2021-07-16 04:27] iomariani commented on #511
Got it working  now...
Apparently it expects the `routes` to be declared.
Even if the entire app goes through `index.html`, which is pretty common on static vue +  vue-router or vuepress apps...

I've just added a `"routes": []` and it did the trick 🙌🏻

[code]

Leave here my notes, in case someone stumble upon this same issue as well.

[2021-07-16 04:27] #511 closed

[2021-07-17 08:20] nuntipat opened #512 "Can't access external Function App after it was linked and unlinked from the Static Web App"
**Describe the bug**

The Function App could not be accessed (return 401 Unauthorized) after it was linked and even after unlinked to my Static Web App. I have checked the setting of the Function App after unlink and found out that the authentication setting hasn't been cleared. I have tried to clear the setting manually but the issue is not resolved.

**To Reproduce**
Steps to reproduce the behav

[2021-07-17 13:49] bartusz01 opened #513 "docs - incorrect configuration provided for custom AAD authentication"
**Describe the bug**
Managed to get custom AAD authentication working, where I can now assign roles to AAD security groups. However, I tried a slightly different configuration, since the one from the [docs](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#configuration) isn't working. I changed ```registration.clientIdSettingName``` into ```registration.clientI

[2021-07-19 20:39] miwebst commented on #507
Hey @nturinski , this is not the expected behavior. Url's should be case-sensitive within static web apps.

[2021-07-19 20:42] miwebst commented on #508
Unfortunately this information is only available in GitHub today. A user's GitHub token is not saved within the platform and as a result our information would grow out of sync when users update their workflow files. Similarly, for the same reason you described with keying off a users workflow file name, even if we maintained the token its unlikely we could use it to fetch this data.

[2021-07-19 20:43] miwebst commented on #509
Hey @tomaustin700 , this is a known issue. Currently the Static Web Apps deployment task must be run on Linux machines.

[2021-07-20 05:03] moh-altimimi opened #514 "Release pipeline task failing - image operating system "linux" cannot be used on this platform"
Hi

I have a release pipeline set up a basic Static Web App job:

[code]

Which is run off the back of the below build pipeline:

[code]

The release pipeline job however is failing with the below output:

[code]

[2021-07-20 05:26] anthonychu commented on #510
We are working on a feature that'll allow you to deploy to named pre-production environments. Too early for an ETA but it should enable your scenario.

[2021-07-20 05:54] anthonychu commented on #507
I think this is an edge case in Functions that only happens when functions are created on Linux (or a Mac with case sensitivity enabled). Added comment in the linked issue. Static Web Apps is likely doing the right thing.

[2021-07-20 07:06] tomaustin700 commented on #509
Hi @miwebst, is that actually documented anywhere? I've not seen any mention of it in any of the documentation. Ideally the task should output something describing the issue also as currently there is no output whatsoever.

[2021-07-20 16:32] nturinski commented on #507
@anthonychu Do you mean the system creating the SWA app or if the SWA app is a Linux VM?  Because I used a Windows 10 Pro machine to reproduce this behavior.

[2021-07-20 17:16] mkarmark commented on #512
Hi @nuntipat, if you no longer want your function limitted to requests coming from the Static Web App, you can allow unauthenticated access to hit the app with Edit > Authentication > Allow unauthenticated access.

[2021-07-20 17:28] tom-kotlar opened #515 "Connection to Azure Api Managment"
- I have a Static web app based on the demo  in [Angular](https://github.com/MicrosoftDocs/mslearn-staticwebapp-api)

- I followed the [docs ](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) and brought my own function.
- I registered the Static web app with [Custom authentication](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aa

[2021-07-21 00:34] caitlinwillmot commented on #372
Hi, is there an ETA on when this will be available in DevOps? Thanks.

[2021-07-21 06:18] nuntipat commented on #512
Hi @mkarmark, I've tried to change the setting to "Allow unauthenticated access" and manually remove Azure Static Web App from the list of identity provider (which I think should be removed automatically when unlink the function app) but the function is still inaccessible. Currently, I have to delete and recreate the Function App after unlinked. Please let me know if you need the resource id or an

[2021-07-21 11:51] laurihelkkula opened #516 "Bicep deployment requires extra properties after the site has been deployed from Azure DevOps"
**Describe the bug**

When deploying a Static Web Site via Bicep (or ARM), and when the actual site has been deployed via Azure DevOps Pipelines, the Bicep deployment will fail with the error message:
[code]

From #495, you can solve this error by setting the provider. In this case, the value needs to be `DevOps`.

In addition to the `provider` property, you get similar error message for the prope

[2021-07-21 11:56] nuntipat commented on #512
Hi @mkarmark, after further investigation I believe that this issue is related to this [issue](https://github.com/Azure/azure-functions-host/issues/7559) that I've found with Azure Functions. Could you please take a look at that issue and confirm whether it happens on your end. Thank you

[2021-07-21 17:44] miwebst commented on #516
Hey @laurihelkkula, looks like we are crossing a couple of different resolutions. From step 1) can you provide the provider, branch and repoUrl all at once? Then you can use this bicep template for updates too. Something like this works for me:

`  "properties": {
    "provider" : "DevOps",
    "repositoryUrl": "https://dev.azure.com/test/test/_git/test",
    "branch": "test"
  },`

[2021-07-21 20:23] AverageCakeSlice commented on #134
Any updates on this? I would love to adopt SWA as the de-facto standard amongst my apps, but this is definitely a major issue that's holding us back.
Additionally, does the user limit only apply to users with custom roles? Can you go beyond 25 users if you don't also add custom roles?

[2021-07-21 20:25] anthonychu commented on #507
I couldn't create a second function with different casing on Windows.

![image](https://user-images.githubusercontent.com/3982077/126554930-73cb931c-9a5d-4b65-b308-5b182bd943c3.png)

But from what I've seen so far, I think this is a Functions/tooling issue. If a customer can somehow create 2 functions with the same name but different casing, the functions host seems to index them fine, but at runt

[2021-07-21 23:01] kkankala commented on #139
We have already surpassed 15k files. If you can increase it further that will be helpful. I agree with @davidanthoff , our files are at around 25k now and it may grow over time.
If possible, can you share more information on why such limitations exists and technical details behind it please?

[2021-07-22 02:48] AverageCakeSlice commented on #481
Just stumbled across this thread and would like to reiterate the point @Skleni brought up. I would really like to implement this in my application so we can use Auth0, but it doesn't seem to be supported yet.

[2021-07-22 08:01] laurihelkkula commented on #516
Yes, specifying the properties in the first step does seem to work. Thanks @miwebst!

It still seems a bit awkward to specify these in the Bicep/ARM file, since they just need to match the ADO pipeline information. But at least it is possible to create a working Bicep file in the first step.

Since the immediate issue is resolved, I'll close this issue.

[2021-07-22 08:01] #516 closed

[2021-07-22 11:25] danielprice-cds commented on #514
I had the same issue, I fixed it by setting the environment on the Agent Job to ubuntu as it had defaulted to vs2017-win2016.

[2021-07-22 13:34] lenniebriscoe opened #517 "401 received by authenticated users after some time"
**Describe the bug**
Users have been invited to a Static Web app using the Active Directory security provider link in Role management and successfully registered. After a period of time their access expires and they are no longer able to log into the Static Web App and are always presented with a 401.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the beh

[2021-07-22 18:21] brenoalvs opened #518 "Documentation about how the auth flow works"
First of all, thanks for this nice service!
I'm using a custom authentication provider and the auth flow is working pretty fine.

Now, my team wants to write some e2e tests but we're struggling with some limitations from CyPress to test cross-origin flows with external auth providers. We also tried other test tools but with no success.

CyPress recommends to do it programmatically and we're using

[2021-07-23 01:15] k-miyake opened #519 "Feature request - Switchable config files for multiple environments"
**Is your feature request related to a problem? Please describe.**

I often have configurations that I want to work only in pre-production environments. For example, I want to add site-wide authentication only for dev.

**Describe the solution you'd like**

Like the Node.js env files, I would like to create files with the environment name appended(e.g. `staticwebapp.config.develop.json`), and have

[2021-07-23 04:47] baku-hatsu commented on #438
Is this topic still not resolved yet? It seems I am encountering the same problem where `staticwebapp.config.json` does not seem to be working as intended in React app when page is refreshed (with the `navigationFallback` property).

Is it correct to use `responseOverrides` as mentioned by JonSilver?

[2021-07-23 04:48] Zhiyuan-Amos commented on #517
I believe this can be done by following this [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#response-overrides). In summary, add the following code to your `staticwebapp.config.json`.

[code]

[2021-07-23 08:34] manekinekko commented on #518
Hey, @brenoalvs I don't personally recommend doing e2e test against real auth providers because auth tokens/data isn't deterministic. I'd rather recommend setting up mocked data for that.

We're using a similar technique with cypress to e2e test our SWA CLI: https://github.com/Azure/static-web-apps-cli.

I hope that'll help.

[2021-07-23 15:05] rumurillo commented on #392
Hey, everyone.

Is there any update on this?

[2021-07-23 21:04] victorp13 commented on #461
I believe this issue has been resolved
![image](https://user-images.githubusercontent.com/1854749/126841370-ad94228b-d842-4eb7-873e-c531b831f361.png)

[2021-07-24 13:53] kkankala opened #520 "The number of files in the app content folder exceeds the limit of 15000."
I'm using Next JS app for front end and Azure devops to deploy to SWA.

I have azure devops task as below.
`- task: AzureStaticWebApp@0
            inputs:
              app_location: 'NextJS/sample-app'
              api_location: 'NextJS/api'
              output_location: 'out'
            env:
              azure_static_web_apps_api_token: $(deployment_token)`

**Pipeline Error**
 `Determining

[2021-07-25 01:14] Zhiyuan-Amos commented on #490
@anthonychu do you still need my PRs & the corresponding deployed webpages? :)

[2021-07-25 02:37] nbkhope commented on #298
Hello, is support for other ways of deploying the app planned? Are there any workarounds for the time being, such as uploading the files manually?

[2021-07-26 07:56] arisabejuela opened #521 "Static Web App Config - allowed roles for API - case sensitivity - Security concern"
Feature to allow/ block API request is not working as expected.

**staticwebapp.config.json**
`{
      "route": "/api/getSubscList",
      "allowedRoles": ["contributor", "reader"]
 }`

Upon checking, if I'm unauthenticated and I try to send a GET request to this URL:
https://<auto-generated-url>.azurestaticapps.net/api/getSubscList
I'll get Unauthorized response (expected outcome).

but if I chan

[2021-07-26 11:22] yzapara commented on #81
Does any body faced such error when setting up custom authentification with AAD?

AADSTS9002325: Proof Key for Code Exchange is required for cross-origin authorization code redemption.

`"auth": {
    "identityProviders": {
      "azureActiveDirectory": {
        "registration": {
          "openIdIssuer": "https://login.microsoftonline.com/278a7a4f-5362-4d92-a791-2ef475eef427",
          "clientI

[2021-07-26 16:09] TellonUK opened #522 "The ability to restart (stop/start) an azure static web app, specifically the Azure Functions"
We are using Azure Static Web apps and are dynamically loading in database schemas from a configuration per client. If we change the schema, then the azure function needs to restart to load the new schema in, or it will just hang when used. This is a development issue, as the schema wouldn't be changed in production, but our implementers change the schemas frequently when designing a customers sol

[2021-07-26 18:50] miwebst commented on #509
Hey @tomaustin700 , you are 100% right. I've updated our docs: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops to say:

"The Static Web App Pipeline Task currently only works on Linux machines. When running the pipeline mentioned below, please ensure it is running on a Linux VM."

I agree the ideal behavior would be for the output to say why its not running, we can take a loo

[2021-07-26 18:53] miwebst commented on #511
Oh interesting, we will take a look. Thanks for reporting this!

[2021-07-27 03:07] davezuko commented on #513
@bartusz01 I'm running into similar issues with custom AAD configuration and stumbled upon your issue. I'm curious to learn why you closed it; is it truly incorrect in the docs, or did you figure something else out? I've been bashing my head against the wall for the last hour trying to make sense of the documentation and what I could possibly be doing wrong.

[2021-07-27 03:41] AmithaBattul opened #523 "Angular web app routing issue"
We have deployed our angular 9 SPA application to azure storage container. When I try to browse the application just with the base address, I am successfully being redirected to the home page. But, when I try https://baseaddress/home, I get 404 - web content not found issue. This issue occurs for all the routes not for the home route alone. When the routing happens through user events like clickin

[2021-07-27 07:35] bartusz01 commented on #513
Hi @davezuko, I found out afterwards it was not working as I expected. I have the feeling that both solutions in this issue are fine, the one I suggested (when providing the ```AAD_CLIENT_ID```) and the one in the docs (where you do not specify the ```AAD_CLIENT_ID```, but a reference to the ```AAD_CLIENT_ID``` that is set on your static app settings).

About the ```TENTANT_ID``` you mentioned. I

[2021-07-27 07:55] manekinekko commented on #523
Hey @AmithaBattul this repository is for the Azure Static Web Apps service questions/issues only. Are you able to migrate your app from Blob storage to Azure Static Web Apps?

If you still have to use Blob storage, then you have to use Azure CDN and create a URL rewrite rule:

1. Add a new rule
1. Condition: URL file extension
  a. Operator: Less than
  b. Extension: 1
  c. Case transform: No tran

[2021-07-27 12:40] tomaustin700 commented on #509
Thanks @miwebst, is the task on github anywhere? If so I'm happy to take a look and submit a PR for the output change.

[2021-07-27 13:26] nathankitchen opened #524 "GitHub Action is can't detect Functions runtime for pre-built API"
I've got a GitHub Actions pipeline building my static web app and repo, resulting in a published artifact that I'd like to take to several different places. This has a pretty standard set of static files at `/`, and then a dotnet function app at `/api`.

The contents of `/api` are the result of a `dotnet publish`, so include a `host.json` and various folders containing the functions, plus a `bin`

[2021-07-27 13:28] yzapara opened #525 "[QUESTION] How to take custom roles on UI with custom auth by AAD?"
Hi,

I'm using SWA with custom auth by AAD. AAD configured to have custom appRoles for the users.
Wasn`t able to configure custom user attribute "userRoles" to have roles like they are supported in OOTB SWA auth approach.
So after succesfull login .auth/me returns only standart predefined userRoles for any account
`"userRoles": [
      "authenticated",
      "anonymous"
    ]`

After succesfull lo

[2021-07-27 15:38] miwebst commented on #509
Yes you can find the DevOps task code here: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureStaticWebAppV0/index.ts

Likely the fix is to detect the OS in index.ts (before we launch the container) and output if not Linux.

[2021-07-27 17:31] mkarmark commented on #525
Hi, we currently don't have support for AAD roles in the SWA environment; however, that is something we are working on bringing to Azure Static Web Apps in the future!

[2021-07-27 17:31] AverageCakeSlice commented on #510
I'd like to second this. I want to use it in our enterprise environment with DevOps. As much as I like GitHub, I feel like it's not really used that much in serious business environments when compared to DevOps.

[2021-07-27 17:35] AverageCakeSlice commented on #521
I'm interested in this issue, does it behave differently if you change the casing of the route parameter to all lowercase?

[2021-07-27 17:43] miwebst commented on #521
Thanks for raising this @arisabejuela. We are looking into this!

[2021-07-27 22:14] davezuko commented on #513
Thanks for the reply, @bartusz01. I was wondering if you had managed to get it work, and it's unfortunate to hear that that's not the case. I'm similarly abandoning my efforts for now.

[2021-07-27 23:32] alexbruno commented on #139
It sounds crazy, but I need to deploy a website with almost 100k URL.
It would be great if I can do it with static pages.
Is there a way to go?

[2021-07-28 01:54] nogic1008 commented on #108
Is it resolved by "[Bring your own Functions](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own)"?

[2021-07-28 08:24] sinedied opened #526 "[Proposal] Option to create a default fallback route for SPA (pre-filled depending of build preset)"
**Is your feature request related to a problem? Please describe.**
When creating and deploying a new app using any modern JS Framework like Angular, Vue, React, etc if you don't create a routing configuration with a fallback route, you're getting a 404 error whenever the browser is refreshed.

Creating this file is not too difficult, but may be prone to errors (see for example https://github.com/A

[2021-07-28 13:25] sinedied opened #527 "[Proposal] Fallback routing improvements"
**Is your feature request related to a problem? Please describe.**
The current routing fallback implementation has currently two main issues:
1. You can only have one fallback set up, meaning only one SPA can be deployed at a time. This can be an issue in many use cases, like if you're trying to deploy multiple micro frontends.

2. Having an `exclude` list to avoid redirections for some routes or

[2021-07-28 14:04] sinedied opened #528 "[Proposal] Allow multiple response overrides"
**Is your feature request related to a problem? Please describe.**

Current the SWA configuration file only allow one response override for every HTTP status, which is very limiting.
For example if you're building an app with different localizations bundles, like `/` for the `en` version and `fr/*`, `es/*` etc for the localized version, you cannot configure localized 404 (and others) overrides, on

[2021-07-28 15:22] Skleni opened #529 "Logout only logs out from the SWA but not the identity provider"
I'm using Auth0 as custom provider. When I'm logging out via `.auth/logout`, I'm redirected to `.auth/logout/complete` and the `StaticWebAppsAuthCookie` is deleted. Then I'm redirected again to `/`.

However, it seems I'm still logged in with Auth0, because when I go to `.auth/login/auth0`, I don't have to enter any credentials and I'm automatically authenticated after some redirects.

Is there an

[2021-07-28 15:59] anthonychu commented on #522
Related #256 #503

[2021-07-28 16:28] anthonychu commented on #526
This is a good suggestion and @johnpapa has mentioned it in the past as well.

Sounds like you're looking for something like this in the UX:

![image](https://user-images.githubusercontent.com/3982077/127359216-c69ad551-5a59-4248-b564-2df9f18ef5da.png)

For framework presets where fallback is recommended, we could default the setting to enabled. It would generate a config file with fallback route

[2021-07-28 16:32] TellonUK commented on #256
Any idea on the priority/road-map for this enhancement?

[2021-07-28 17:02] anthonychu commented on #513
Sorry for the confusion. Here's an concrete example that should work:

[code]

The `clientIdSettingName` and `clientSecretSettingName` values should be the names of the app settings that contain the actual client id and secret. I think that's where the confusion is. With the above example, create these app settings:

![image](https://user-images.githubusercontent.com/3982077/127365051-4ef18b1b-73c

[2021-07-28 20:39] davezuko commented on #513
Thanks @anthonychu, clarifying this in the docs will be a huge help to others. I did eventually figure out what the docs meant to say, but nonetheless could not get the SWA to respect my custom AAD configuration. I will try again with the additional `userDetailsClaim` key and see if that produces different results. If it doesn't, would you prefer feedback here or in a separate issue?

[2021-07-28 21:41] anthonychu commented on #513
Either in this issue or a new one would be fine. /cc @mkarmark

[2021-07-28 23:07] craigshoemaker commented on #428
I updated the Key Vault doc with a description of this restriction.

[2021-07-29 00:25] iomariani commented on #22
Any updates regarding this? Is it on any milestone?

Currently now there's a Standard plan with up to 5 custom domains, however staging sites still use Azure auto-generate one...
Even if we set our DNS CNAME  as an alias do the Static Web App resource.

![image](https://user-images.githubusercontent.com/1733348/127412521-d81da483-e2a4-467d-b381-fc2d8666be8b.png)

One workaround right now we could

[2021-07-29 03:31] alkwa-msft commented on #175
I recently ran into this issue as well. @miwebst you refer to a repo but its been removed. Do we have a way to go about this issue?

my structure of my application is

/app
/api <-- has two nodejs azure functions

[2021-07-29 04:36] m-sterspace commented on #22
The randomly generated URLs has become an even bigger for us internally.

Our IT team has implemented DNS filtering that seems to filter out any relatively new URL that it doesn't recognize and hasn't been explicitly whitelisted. This makes the randomly generated URLs that are created for pull requests effectively unusable for us on our corporate machines.

[2021-07-29 12:19] sinedied commented on #526
I think the safe approach here would be to glob search for `**/staticwebapp.json`. Since this search is only performed once anyways, it's better to wait a bit rather than creating a duplicate at the root.

My take is that we can see this from 2 angles:

1. If there's already a config file already, that *probably* means that the user knows a bit about SWA and its routing config. If he used a templa

[2021-07-29 14:08] ozkary commented on #59
@justinyoo A way to HELP prevent access to the /api routes from other sources (postman, bot) is to create a custom auth-process. Create a hidden login process to produce a toke (JWT). The client application can send the authorization header for every API call. The function can have the logic to read and verify the token or return a 401.  Not 100% secure, but can provide a level of protection.

**I

[2021-07-29 15:50] arisabejuela commented on #521
Hi @AverageCakeSlice, it behaves the same (case sensitive).

If you configure staticwebapp.config.json like this:
`{ "route": "/api/**getsubsclist**", "allowedRoles": ["contributor", "reader"] }`

then, unauthenticated, you send GET request to:
**https://xxxxx.azurestaticapps.net/api/**getsubscLIST****
you'll get a successful response.

[2021-07-29 15:55] arisabejuela commented on #521
@miwebst that was quick. Thank you.
Upon checking, issue is already fixed. Great work!

[2021-07-29 16:13] Skleni commented on #529
I found a way to do what I want: When the user logs out from my app, I redirect to Auth0's logout endpoint and pass my SWA's `/.auth/logout` endpoint as callback url: (`https://DOMAIN.eu.auth0.com/v2/logout?client_id=CLIENTID&returnTo=MYSWAURL/.auth/logout`

[2021-07-29 16:14] #529 closed

[2021-07-29 21:54] smakinson commented on #196
SEO & I also see opengraph related url sharing need prerender.

I believe Netlify is the main comparison:
https://docs.netlify.com/site-deploys/post-processing/prerendering/#app

If Azure were to pull it off, you would be way ahead of Amplify (opened in 2019):
https://github.com/aws-amplify/amplify-console/issues/91

[2021-07-30 00:58] James-Firth commented on #34
I also ran into this issue as my single page application was making requests and I could not figure out why the token validation was failing until I literally printed out the token and saw it was different.

[2021-07-30 07:24] tomaustin700 commented on #509
Hi @miwebst, I've raised the following PR if you wouldn't mind taking a look. Thanks
https://github.com/microsoft/azure-pipelines-tasks/pull/15104

[2021-07-30 08:16] anthonychu commented on #509
Thanks for the PR. Agree that it’s good to add the message.

However, I don’t think the OS really determines whether or not the build container will run. The task currently requires the agent to be able to execute a bash script, and that the Docker client is installed and using a Docker host that is capable of running Linux-x64 containers. A better long term fix might be to remove the bash depende

[2021-07-30 08:43] tomaustin700 commented on #509
@anthonychu Thanks for the feedback, that does sound like a better solution however I don't think I have the skills to implement that. I've had a quick look at some of the other tasks and from what I can see no others use docker to run the task so I'm not really sure where to start. If you could give me some pointers I'll happily give this a try though! Thanks

[2021-07-30 12:49] kkankala commented on #520
Any update on this issue please?

[2021-07-31 00:17] anthonychu commented on #509
Yep no worries. Just adding a note for revisiting at a later time. Your PR looks good.

[2021-07-31 01:50] AverageCakeSlice commented on #525
Hey @mkarmark, is there anywhere we can see what features are in progress/on the backlog/etc? I'm really interested in this feature as well as securing the API with a custom provider is a lot more complex than I think it needs to be because of this issue. Is there something like a Trello board or Github Projects board that's publicly visible?

[2021-07-31 02:02] AverageCakeSlice commented on #529
@Skleni I just setup the reverse version of this yesterday, where I call `/.auth/logout` via an async GET request and then redirect to the Auth0 logout endpoint, with the returnTo value set back to the welcome page of my app. I had to configure my Auth0 app with the `https://MY_DOMAIN/.auth/logout/callback` and `https://www.MY_DOMAIN/.auth/logout/callback` url's in the allowed callback URL's list,

[2021-07-31 18:10] #521 closed

[2021-08-01 19:48] kkankala commented on #520
@anthonychu

[2021-08-02 06:06] Skleni commented on #529
I tried something similar too, but then my app ended up showing a blank page after the redirect to `https://MY_DOMAIN/.auth/logout/callback`.

[2021-08-02 07:19] danielmackay commented on #7
@anthonychu - any update on this?

We have a need to deploy to SWA's from Bit Bucket.  I don't mind how this is done (although Azure CLI probably makes sense), but right now we cannot deploy to this Azure resource.  This is a real gap in functionality as we can deploy all our other Azure resources though the other Bit Bucket Pipes or Azure CLI.

Would be great to see this gap filled ASAP.

[2021-08-02 07:20] danielmackay commented on #298
We are also waiting on a solution that allows us to deploy to SWA from Bit Bucket.  Right now the only option we have is to use `mcr.microsoft.com/appsvc/staticappsclient:stable` which is not supported or recommended.

[2021-08-02 12:46] mrfoster commented on #134
Firstly, I think SWA is a great offering and will hopefully allow us to stick with Azure for all our hosting needs rather than using other competing services.

However, I also could do with some clarity on:

1) Why there is a 25 user limit at all
2) What the 25 user limit exactly means, i.e. is it just for adding/managing users within the Azure portal and roles?
3) What the upgrade path is if the

[2021-08-02 14:42] mrfoster commented on #429
I think this is absolutely necessary and was surprised to find that I wasn't able to get at them. I'm sure there are many many reasons to do so, but I am storing the plan the user has subscribed to in a claim and want to be able to retrieve it..

[2021-08-02 16:06] mrfoster commented on #21
I'm using a local emulator which has auth endpoints and routing but still the header is missing which is making it very hard to build and debug an application that requires a ClaimsPrincipal in the api.

[2021-08-02 23:25] StueyKent opened #530 "navigationFallback/responseOverrides staticwebapp.config.json settings"
**Describe the bug**

Neither the navigationFallback or responseOverrides appear to be working in my app. I have my configuration set so that 404.html should be served if a route could not be found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://blue-dune-04ca69803.azurestaticapps.net/jazz'

[code]

**Expected behavior**
I am expecting the custom [404](https://blue-dune-04ca698

[2021-08-02 23:49] StueyKent commented on #530
**Update**
Looking back through my git history I have found what is causing the 404 to break.

I can't explain it but setting [trailingSlash](https://nextjs.org/docs/api-reference/next.config.js/trailing-slash) in my next.config to true will cause the responseOverrides to stop working.

Their docs suggest that '/jazz' will redirect to '/jazz/', as this route will still not be found why is SWA not

[2021-08-03 00:56] Saj1234 commented on #196
This will be deal breaker if Azure static sites can support pre-render for crawlers.
Most of the client rendered JavaScript apps have the same issue with static sites and SEO/crawlers.
I have seen various hacks, custom redirects and etc. to overcome this but nothing solid our there for static sites.

Frameworks like [NextJs ](https://nextjs.org/) still need server side rendering and some support w

[2021-08-03 04:09] Kiptooe opened #531 "Failed github actions CI/CD deployment to azure"
Error: Could not find either 'build' or 'build:azure' node under 'scripts' in package.json. Could not find value for custom run build command using the environment variable key 'RUN_BUILD_COMMAND'.Could not find tools for building monorepos, no 'lerna.json' or 'lage.config.js' files found.

---End of Oryx build logs---
Oryx could not find a 'build' or 'build:azure' script in the package configurat

[2021-08-03 05:42] anthonychu commented on #531
Looks like [this](https://github.com/Emmanuel-Kip/farmer-sconnect/tree/fcb66a63028c4495e33e97077ce890ccf0b225b6) might be the app you're trying to deploy?

It turns out the problem here is that your app is missing an index.html, so our build system, Oryx, thinks it needs to build the app. If you add an index.html or rename your existing HTML file to index.html, it should work. Sorry for the crypti

[2021-08-03 05:53] anthonychu commented on #530
Looks like the 404 page is located at `/404/index.html`. `/404.html` doesn't exist in the generated site, which is why it's serving the default 404 page. Suggest updating the config to the following:

[code]

Looks like this is specifically a custom 404 page scenario, so there's no need to use the navigation fallback rule here. Also, you might want to consider returning status code 404 when a page

[2021-08-03 06:10] anthonychu commented on #196
Sounds like there are some different requests here. Let me list them out and let me know what I've missed.

- If `_escaped_fragment_` is passed in the query, do something else (call a function?). As pointed out in Netlify's docs, this is being deprecated by Google.
- If a request is from a crawler (specific user agents), do something else (call a function?)
- The ability to perform server side ren

[2021-08-03 06:14] anthonychu commented on #21
@mrfoster Can you create an issue in the [CLI repo](https://github.com/azure/static-web-apps-cli)? The header should be passed to the function if you're using the emulator and the user is logged in. One thing to make sure is that you're calling the functions using `/api` instead of `http://localhost:7071/api`, as the request has to be proxied by the emulator at port 4280 so that it can decode the

[2021-08-03 06:18] anthonychu commented on #298
@danielmackay If we were to document and support the use of that docker image, would it work for you?

[2021-08-03 06:27] danielmackay commented on #298
@anthonychu - yes that would work for us.  We are already using it, but I see you've said this is not recommended and not supported.  Would be great to get a bit more documentation and official support for this docker image.

Thanks for the response!

[2021-08-03 06:35] anthonychu commented on #298
Not currently supported but we are looking into getting the image to a state where we can document and support its use outside of the GitHub action.

[2021-08-03 10:06] StueyKent commented on #530
Nothing wrong with SWA, changing the next.config, changes the output structure of the SSR.

Amazing quick response.

[2021-08-03 10:06] #530 closed

[2021-08-03 12:42] smakinson commented on #196
@anthonychu  For the first bullet point (and maybe second), Google is probably less of an issue. I have seen a need for prerender when opengraph images, titles, etc are based on an api call and facebook, etc does not give it a chance to load and fails to show the image, etc. when a url is shared. I'm just looking at azure recently, so I apologize if I have missed out on some possibilities. If it i

[2021-08-03 12:53] smakinson commented on #196
This may be helpful: https://github.com/netlify/prerender

[2021-08-03 16:10] Emmanuel-Kip commented on #531
Thank you !
It worked after renaming the main html file to  index.html

[2021-08-03 21:42] bartusz01 commented on #513
@anthonychu Thanks for your reply, but I have tried also your solution before and it did not work for me.  Imagine the following ```staticwebapp.config.json```:
[code]

When I use 'Role Management' on the static app, I can assign the 'reader' role to a single person and everything works as expected. However, I would like to be able to assign access to AAD securitygroups. So on the app registration

[2021-08-03 21:52] ivanvaladares commented on #402
I have the same issue. I can't override the content-type. Any news on this one @miwebst ?

[2021-08-04 02:13] ChuckJonas opened #532 "Static Web App Config with `customOpenIdConnectProviders` returns 404."
**Describe the bug**

According to official [the docs](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad) and other [online resources](https://www.aaron-powell.com/posts/2021-05-13-using-okta-with-static-web-apps/), creating a `staticwebapp.config.json` and configuring it with `customOpenIdConnectProviders` should allow you to login via `/.auth/login/<PROVIDER_N

[2021-08-04 02:18] Saj1234 commented on #196
This would be really good if you guys can support it.

As for your second bullet point,

I am guessing the idea is to serve a pre-rendered static page if the request is from a crawler?

[2021-08-04 03:12] ChuckJonas commented on #532
nvm, it apparently need to be a "standard" tier.

[2021-08-04 03:12] #532 closed

[2021-08-04 05:15] anthonychu commented on #532
Sorry about that! @miwebst Is it possible to validate this at deployment time and print an error message?

[2021-08-04 12:55] mrfoster commented on #21
@anthonychu Thanks for the response, I can see the header coming through correctly now. I was having a particularly bad day and you are likely correct that I was inspecting the wrong request.

[2021-08-04 13:23] mrfoster commented on #134
Apologies for hijacking this issue with less specific questions. I think I have a better understanding having taken a second look.

Feature | Free plan | Standard plan
-- | -- | --
Authorization (with custom roles and routing rules) | Maximum of 25 end-users that may belong to custom roles | Maximum of 25 end-users that may belong to custom roles

In answer to my own questions:

2) The limit is sp

[2021-08-04 15:58] tcc-sejohnson commented on #134
@mrfoster

I've found much the same. Unfortunately, I feel that they have to figure out a way to either 1) Expose all MSAL functionality through their own custom API or 2) At least expose the tokens to the app to make this truly viable. The 25-person role limit also makes this non-viable for all but the smallest internal sites. Without that limit, this would be an absolute beast for documentation

[2021-08-04 18:39] miwebst commented on #532
Yes this is something we can improve upon for sure! Thanks for surfacing!

[2021-08-04 22:21] mlynam opened #533 "npm 7 guidance, static-web-apps-deploy"
Hello team--

I am wondering if there is any guidance on using npm 7 with static-web-apps-deploy. My build action includes the following steps to setup the versions I want to use during the build.

[code]

I run these before the build step but the build still uses an `npm 6.x` version.

Thanks,
Matt

[2021-08-04 23:08] anthonychu commented on #533
The static-web-apps-deploy action runs in a container and uses Oryx to build the app. The steps you added to install Node and npm have no effect on the version of npm used in the container.

@arroyc Is there a way to specify the npm version used by Oryx?

[2021-08-05 00:01] anthonychu commented on #482
You can now redirect all traffic to a default (primary) custom domain. Documentation will be updated in the next day or so.

![image](https://user-images.githubusercontent.com/3982077/128270560-bb1ef218-e471-45e4-8273-97948b6fdd8a.png)

[2021-08-05 00:01] #482 closed

[2021-08-05 00:45] smakinson commented on #270
@anthonychu Is this still the recommended way? Support has said its not available for static web apps, but this shows it is:
https://docs.microsoft.com/en-us/azure/static-web-apps/monitor

I have a nodejs api, but the "yes" us disabled and I see: "App Insights is not supported for the current combination of subscription and location."

Could it be because I need to a manual step first?

Not relate

[2021-08-05 00:53] miwebst commented on #402
We are working on updating out logic for this. @ivanvaladares what file type is not working for you?

[2021-08-05 01:33] RossMurr4y commented on #516
I've just run into this issue yet again. Rather than update my BICEP template library with configuration that is currently mandatory but I hope to remove one day, I sought an alternative solution to prevent breaking changes to the template library down the road.

Through the Azure CLI I eventually found `az staticwebapp disconnect` which it seems it what is intended by "detaching" as per the error

[2021-08-05 01:36] miwebst commented on #516
So that configuration metadata reflects the metadata of the last successful deployment. Is the ask here that you would like to avoid having that metadata in the BICEP template?

[2021-08-05 13:39] justinyoo opened #534 "Failed deploy Vue app to Azure, with package-lock.json generated by npm 7.x"
* I'm following the Microsoft Learn module: https://docs.microsoft.com/learn/modules/publish-static-web-app-authentication/2-exercise-get-started?pivots=vue
* This is the repo: https://github.com/justinyoo/my-static-web-app-authn
* The current `package-lock.json` was generated by npm 7.x
* Oryx has npm 6.x

**Approach 1:**

* Due to the npm issue, I've updated the GitHub Actions workflow by overri

[2021-08-05 13:49] kooljay82 commented on #534
It's very weird. `Approach 1`, above, passed course before, very similar to this course. But it fails.

[2021-08-05 14:20] ivanvaladares commented on #402
Thanks for getting back so quickly @miwebst
The files I'm trying to serve are js and css, but they are gzipped. I need to change their content encoding and type on the fly.
The following config is in place now:

`
{
  "routes": [
    {
      "route": "/images/*",
      "headers": {
        "cache-control": "must-revalidate, max-age=15770000"
      }
    },
    {
      "route": "/dist/vendor.js.gz"

[2021-08-05 14:58] anthonychu commented on #534
Related #533

@arroyc

[2021-08-05 18:24] mlynam commented on #533
I saw it was running in a container and figured that was the case but I wanted to put my steps in there for completeness.

[2021-08-05 19:22] joelbyford opened #535 "Fails to Deploy with any Submodules"
Only 1 change and fails to build.  Can replicate over and over again.  Simply doing a `git submodule init` with a `git submodule update` during the build will fail the deployment with a message of:

`Deployment Failed :(
Deployment Failure Reason: Failure during content distribution.`

This works:
[code]

This does not work:
[code]

This also does not work:
[code]

A clear and concise description

[2021-08-05 23:22] abatishchev opened #536 "Cannot reattach GitHub repo using az cli: HTTP 500"
**Describe the bug**

I want to change the branch name of the GitHub repo. Azure Portal doesn't allow to do that right now. Nor does ARM template:

I was able to  disconnect by running `az staticwebapp disconnect`. Now I'm trying to connect back by running `az staticwebapp reconnect`. However it fails with 500.

**To Reproduce**

[code]

Git repo: https://github.com/abatishchev/godfather.net.ru
Br

[2021-08-05 23:41] abatishchev commented on #536
I was able to locate the correlation ID for the most recent failure: `fd5003d6-bca7-4773-a9f8-110f643455e3`. I see the corresponding HTTP 500 in ARM logs.

[2021-08-06 06:41] christianacca opened #537 "Question: can I add a custom deployment step to transform a file"
My typical method of configuring an angular app is to NOT bake in deployment configuration into the app. Instead I have the azure DevOps pipeline perform parameter substitution on a file in the published `dist` folder (see [File Transform task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/file-transform?view=azure-devops))

Is there a way to customise the deployment pipeli

[2021-08-06 06:47] karthikbhyresh commented on #525
I have created an Azure Static Website and followed the instructions on how to add a basic Azure Authentication identity provider. I have a custom auth section and added groups to the ID Token.
Now how to tell the auth process to include the group details in the claim that is returned by making a http request to /.auth/me following a successful authentication

[2021-08-06 13:31] wsaada19 commented on #520
We are running into the same issue, would be great if the file limit could be increased. When can we expect a resolution?

[2021-08-06 16:24] dan-eversen commented on #392
@rumurillo I have a pending pull request that would fix it...

[2021-08-06 16:26] dan-eversen commented on #392
@rumurillo I have a pending PR that would fix it...

[2021-08-06 16:46] ozkary commented on #373
@plamber Did you use Front-Door for your setup? We are trying to use a WAF (firewall) to manage exploits, and using Front-Door looks to be the best approach for this use case.

[2021-08-06 16:55] ozkary opened #538 "Web Application Firewall (WAF) on SWA"
Hi,

We would like to use a WAF to manage exploits and vulnerabilities for the Static Web App.  We need to do common things like IP restrictions, Bot detection and other common rules.

Reference:
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/ag-overview

What are the recommendations for this use case?

I thank you for your time.

[2021-08-06 18:35] Y90SMH commented on #510
Same scenario as @stephajn.
I've tried to use the task in an Azure DevOps Release Pipeline with a pre-built react app (and extracted it to `$(System.DefaultWorkingDirectory)/app` in the previous task) and log output is below (invalid characters are copied as-is from DevOps):

[code]

Task details:
[code]

A task that's just for deployment would be great, I have the Skip app build toggled on too.
[

[2021-08-07 11:04] stianl commented on #489
Sorry for the late response - no, I have no control of the length of the tokens in the redirect URLs - it's another identity provider.

[2021-08-07 11:10] mumby0168 opened #539 "Blazor WASM Loading Error Refused to execute script blazor.webassembly.js because its MIME type ('text/html') is not executable"
**Describe the bug**
Failure to load blazor wasm app net5.0 with error:

`Refused to execute script from 'https://white-river-09457a803.azurestaticapps.net/_framework/blazor.webassembly.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.`

**To Reproduce**
See this repository https://github.com/mumby0168/website
Then see the error on this website: h

[2021-08-07 16:15] mumby0168 commented on #539
Appears to only get this error when a package.json & package.lock.json in in my bin directory, these may just need excluding, I did also get rid of the staticwebapp.config.json.

[2021-08-07 19:03] alefranz commented on #429
Hello! I'm currently looking to migrate a website from AppService to Static Web Apps and I am blocked by this.
I think the ability to override the json object passed as `claims` parameter would be enough to start with, as well as then adding these to the client principal data.

[2021-08-07 19:57] anthonychu commented on #429
@alefranz We're working on some improvements in this area. Can you describe a bit more about what you want to do?

[2021-08-07 20:02] anthonychu commented on #539
@mumby0168 If you can reproduce the error (perhaps by creating a pull request which would spin up a temporary staging environment), I can take a look.

[2021-08-07 20:09] anthonychu commented on #510
We have an update coming to the DevOps task that will improve the experience for release pipelines. It should be deployed in the next few weeks. https://github.com/microsoft/azure-pipelines-tasks/pull/14807

It's important to note that the `app_location` must be relative to the working folder. Currently, the task uses a working directory location that is incompatible release pipelines. https://git

[2021-08-07 20:12] stimms opened #540 "Surface better debugging information when staticwebapp.config.json not found"
**Is your feature request related to a problem? Please describe.**

I have a static site which requires a navigation fallback so that requests to random urls really direct back to the index page. I added a `staticwebapp.config.json` with content

[code]

Even though I am aware that the `responseOverrides` section should be unnecessary with the `navigationFallback` in place. However upon deploying

[2021-08-07 20:21] anthonychu commented on #373
We recently added the ability to restrict inbound traffic to specific IP blocks. See the [Networking](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#networking) section of the config documentation. @ozkary you should be able to use this capability to restrict access to your Azure Application Gateway WAF.

For Front Door, we're working on the ability to restrict inbound traffi

[2021-08-07 20:39] anthonychu commented on #540
Good suggestion. I also think it should include more information such as where the file was found and where it was looking for the file. Examples:

@miwebst

[2021-08-07 21:03] alefranz commented on #429
Hi @anthonychu , the OIDC provider I am using allow me to provide multiple claims so to be able to request for more user info from the UserInfo endpoint e.g. profile picture. Currently I am using the ASP.NET Core OpenIdConnect library and I override the `OnRedirectToIdentityProvider` to replace the claims parameter with the JSON with the list of claims I need. Is not the most elegant solution but

[2021-08-07 21:05] mumby0168 commented on #539
I have a commit hash is that any good if not I may be able to take a branch from where it wasn't working and creating a PR from it this is the commit hash let me know if this is any good 17dc4696d90490e536309fa7936d03a2978f0033

[2021-08-09 21:40] lenniebriscoe commented on #517
The [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization) wasn't that clear . For a vanilla AAD login flow you need to put in the provider-specific routes for login/out as well as the redirect:

`{
    "routes": [
        {
            "route": "/login",
            "redirect": "/.auth/login/aad"
        },
        {
            "route": "/logout",

[2021-08-09 21:40] #517 closed

[2021-08-09 23:46] wesoos opened #541 "Oryx build timeout"
Hello, I have a react app I'm deploying via Github Actions.  During the build step, Oryx times out after 15 minutes.  Is there a way to increase the timeout?

Thanks

[2021-08-10 01:01] miwebst commented on #541
Hey @wesoos, this can either be indicative of a timeout or an Oryx issue. Here is an example of how to bump the timeout: https://github.com/Azure/static-web-apps/issues/113

If your app does not usually take more than 15 minutes it could be an Oryx issue and bumping the timeout won't help.

[2021-08-10 01:07] miwebst commented on #538
Hey @ozkary,

As you mentioned above, you can use an Azure App Gateway and add the default hostname (or custom domain but note you will need to add it to the app gateway) as a backend in the backend pools section.

Similarly Azure Front Door also has a WAF option at the edge: https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/afds-overview. You can also specify the default hostna

[2021-08-10 04:16] lucashfreitas commented on #7
@anthonychu  thanks for the awesome service in the first point! :)

We have also faced this challenged and were forced to create a new pipeline in Azure dev ops and we had to give up of our standard pipelines setup which usually is using bitbucket/gitlab.

I am completely new to Azure and have been deploying serverless services using AWS/Cloudformation/ServerlessFramework and now CDK, so please so

[2021-08-10 04:57] jeroenvdmeer opened #542 "App fails to build with yarn workspaces"
**Describe the bug**
After repackaging my multirepo project into a monorepo based on yarn workspaces, I noticed the app won't deploy to Azure Static Web Apps anymore.  The issue is that when building the Functions app yarn does not pick up one of the dependencies is found in one of the yarn workspace packages. As a result it tries to find the package in the public registry and fails.

**To Reprodu

[2021-08-10 05:41] awolad opened #543 "Warning: Unable to clean or reset the repository. The repository will be recreated instead."
**It's a react app.**

**My workflow yml**

[code]

**Error log:**

[code]

[2021-08-10 06:38] awolad opened #544 "Reason: This Static Web App already has the maximum number of staging environments (3)."
Copying files to destination directory '/bin/staticsites/ss-oryx/app'...
Done in 6 sec(s).

Removing existing manifest file
Creating a manifest file...
Manifest file created.

Done in 60 sec(s).

---End of Oryx build logs---
Finished building app with Oryx
Found and validated 'routes.json' within build artifacts folder.
Zipping App Artifacts
Done Zipping App Artifacts
Either no Api directory was s

[2021-08-10 08:42] Ramblurr commented on #7
@lucashfreitas Have you found a workflow for deploying azure static apps using the command line that could be built into a non-github workflow?

[2021-08-10 09:01] lucashfreitas commented on #7
@Ramblurr not yet. Unfortunately, I ended up migrating the repo to Github :(. Also, we had a hard time setting up a 100% continuous integration flow using 100% automated scripts using ARM/Azure CLI. I did not find many examples only and have to dig deep the docs but I managed to make it 85% automatic. The hard part is that we are deploying multiple applications using the same setup, so ideally we

[2021-08-10 13:44] AverageCakeSlice opened #545 "[Bug] Uncaught TypeError: Object(...) is not a function when deploying with Azure Pipelines"
**Description**
I am writing an app using Vue 3 for the SPA and .NET Core 3.1 for the API.

As of yesterday evening, Azure Pipelines seems to be breaking my releases to US Central. It reports that my builds ran successfully, but when I attempt to access the site the app fails to load, with a console error being thrown stating "Uncaught TypeError: Object(...) is not a function" that points to a see

[2021-08-10 21:43] lucashfreitas opened #546 "Securing Static Web Apps + Cosmos DB access"
Hello,

I am quite new to Azure and I've got some questions and could not find any docs for them. Sorry in advance if this is duplicated or there are already docs for this.

1) I want to make sure that my web static apps will be accessible ONLY from connections originated from our external firewall. Are we able to change network settings to allow only a subset of IP addresses?

The only docs I've

[2021-08-10 22:06] glaucia86 commented on #546
cc: @anthonychu

[2021-08-11 06:52] lbugnion commented on #302
Hi,

I am seeing the same issue yesterday and today. At first I thought it was related to the GitHub outages, but today it's still there.

![image](https://user-images.githubusercontent.com/4922457/128982863-6583852e-605c-40d3-8e91-8a7ee5487619.png)

Note how it says .NET 5.0.9 detected, but then it tries to install .NET 5.0.400.

Do we have more logs that what is shown in the window here?
Thanks!

[2021-08-11 18:46] miwebst commented on #544
Hey @awolad, staging environments should get removed automatically when you close a PR. If you need more than 3 open at a time, then you can try the Standard sku. Our quotas can be found here: https://docs.microsoft.com/en-us/azure/static-web-apps/quotas

[2021-08-11 18:49] miwebst commented on #545
Hmm, that's not good! It seems like a build issue to me. When you build the project locally, how does the resulting section look compared to the code deployed to SWA? Trying to understand why building it on SWA leads to different static content.

[2021-08-11 22:48] arroyc commented on #302
5.0.9 is  the runtime and the corresponding compatible sdk is 5.0.400. Can you please retry .. sometimes it happens when we are upgrading patches.

[2021-08-12 00:31] miwebst commented on #536
Hey @abatishchev , looks like a backend error. Can you remove '.git' from the source above?

[2021-08-12 05:19] awolad commented on #544
I understand. But it's not removing automatically. Please see my screenshot.

![image](https://user-images.githubusercontent.com/9510958/129141887-69a7a272-6c68-43eb-874b-47e2eb8f55da.png)

**Here is my workflow yml**

[code]

[2021-08-12 07:17] lucashfreitas commented on #546
Hi @miwebst. Thanks :)

I tried to find more content about it but didn't find. Also make a post on twitter to see if anyone from cosmos db team has any suggestions.

Cheers,

[2021-08-12 14:46] AverageCakeSlice commented on #545
Building the application locally results in a different set of files, and the contents are similar, but the aliases are different

A bit of a follow-up since I last discovered this: For some reason, the application will occasionally switch the file referred to in the error output to one of the bundled files
![image](https://user-images.githubusercontent.com/37710170/129216437-e973ed11-e1cc-43a5-81

[2021-08-12 15:50] abatishchev commented on #536
@miwebst thanks! it worked now. can you please file a bug and improve the input validation? it must be 400, not 500,

[2021-08-12 23:51] schutztj commented on #165
@anthonychu - Any updates? We are hosting Azure Functions ourselves which makes the workaround here insufficient and I have now run into OAuth providers that don't support the "response_mode" query parameter leaving us without a working solution.

[2021-08-13 07:07] router19 opened #547 "500 response code after authentication with custom IdP(/ 500 in the login callback)"
Hi ,
I am trying to use azure static web apps for hosting my static content. I really liked the feature wherein we can use custom Idp which matches our absolute requirement.  I followed the [documentation ](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#configure-a-custom-openid-connect-provider) to configure our custom IdP.

So, while logging in I indeed get

[2021-08-13 14:36] AverageCakeSlice commented on #545
Another follow up to this @miwebst, when I build the project locally and run using the npm `http-server` tool, I can run it through the SWA CLI and it works just fine without any errors.

[2021-08-13 15:11] AverageCakeSlice commented on #545
I've finally found the solution. After scrolling through the build logs I discovered what I believe to be the source of the issue:
![image](https://user-images.githubusercontent.com/37710170/129377799-fc0ff181-89c7-44e1-a051-1602c0883b70.png)

It turns out I had not checked-in package-lock.json into source control, so I think the build process was automatically pulling in updated dependencies that

[2021-08-13 15:11] #545 closed

[2021-08-14 08:40] theo-albers commented on #510
We have the same use case: deploy from a release pipeline. Today we deploy to Azure BLOB storage, linked to a CDN. It would be nice to replace that part.

[2021-08-14 13:33] phil-w commented on #191
I note that the documentation for this stuff uses the json key "globalHeaders" in routes.json instead of "defaultHeaders". A different issue, but I had to come here to work out what the correct key was.

The error's in here:
https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#global-headers

[2021-08-14 14:33] mumby0168 opened #548 "Allow : character in configuration"
.NET Core can make use of configuration providers which look for the `:` as a separator such as `RepositoryOptions:CosmosConnectionStirng` but the UI does not let me use a variable containing `:`

![image](https://user-images.githubusercontent.com/23740684/129449719-3447aeab-0f8d-4383-bd5a-dca98805f006.png)

[2021-08-15 05:59] anthonychu commented on #543
Looks like this may be caused by the second `actions/checkout@v2` action in your workflow. It's trying to checkout your repo again, and ran into issues deleting files generated by when the app was built in the previous step.

[code]

Try removing the ` - uses: actions/checkout@v2` line and try again.

[2021-08-15 06:01] anthonychu commented on #302
@lbugnion Please let us know if you're still getting the error.

[2021-08-15 06:14] anthonychu commented on #191
`globalHeaders` is the correct property name in _staticwebapp.config.json_.  `defaultHeaders` was the correct name in _routes.json_ (now deprecated).

[2021-08-15 06:17] anthonychu commented on #548
.NET also supports using double underscore (`__`) instead of `:`. Please try that instead. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0#environment-variables

[2021-08-15 13:42] johnnyreilly commented on #516
Thanks so much for sharing this workaround! I discovered it after much googling. I shared it here in the hope that others need Google less!

https://blog.johnnyreilly.com/2021/08/15/bicep-azure-static-web-apps-azure-devops

[2021-08-16 05:01] awolad commented on #543
@anthonychu Ok, I'll try by removing the line. Thanks!

[2021-08-16 06:47] lucashfreitas opened #549 "Azure Static Web App - Github Workflow - Api Deploy is not flexible/doesn't work for custom folder structure"
Hello,

Github workflow file allows us to set up an **output_location** for the FRONTEND app but it doesn't specify any output location for the API.  It does allow to set up a build command for the API but how it automatically identifies the API out directory? What if we using mono repository/typescript and have it in a different folder? How can I instruct the workflow to look for a specific folde

[2021-08-16 07:12] anthonychu commented on #549
Do you have a repo with this issue that we can look at?

[2021-08-16 07:21] lucashfreitas commented on #549
Hey @anthonychu, thanks for the quick reply.

Unfortunately, the project it's private, but I am happy to spin up a demo if the explanation below is not 100% clear.

Basically, GitHub workflow seems to not be flexible enough regarding the API build & output folder. Depending on your project setup, folder, the API build won't be in the same folder as the frontend build. Let's consider this scenario

[2021-08-16 07:26] lucashfreitas commented on #549
Another thing: I can't instruct the workflow to skip the API BUILD process and only do the deploy? Currently, the `api_build_command` is empty but it seems the github workflow is still trying to execute `yarn run build` in the API base directory.

I am following this guide: https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow but I can't manage to deploy my API as we're u

[2021-08-16 07:41] lucashfreitas commented on #151
Same problem here. I am running a mono repository and the workflow it's not flexible regarding the API output folder. We did a workaround to manually build/copy all api folders but now azure is not able to identify that we're using nodejs as language even though the api base folder has a package.json. Would be nice if we had an option to manually specify that as I am not sure why the workflow can'

[2021-08-16 07:43] lucashfreitas commented on #549
Update: I managed to manually build & copy the API files and copy it inside the same app `output_folder`, but now the workflow is not able to guess that the project is using nodejs and is returning `The function language detected is unsupported or invalid`. It's a bit strange as the api folder has a package.json, so it's pretty guessable that we're using nodejs.

It seems the only solution would b

[2021-08-16 07:46] lucashfreitas commented on #524
+1 same issue here

[2021-08-16 09:49] #515 closed

[2021-08-16 09:49] tom-kotlar commented on #515
*

[2021-08-16 11:36] tuube opened #550 "Deployment Failed: Failure during content distribution."
Hello! Our deployments are suddenly failing with an unclear error message:
![image](https://user-images.githubusercontent.com/19163063/129557409-fd41caf4-ced4-4e4e-ba43-d9962d08a630.png)

Only thing that changed was that there's now much more content than before, now about 350MB.
Any idea what could be causing this?

[2021-08-16 14:44] craigshoemaker commented on #188
This doc has changed a number of times since this issue was opened. The steps and configuration values have a changed beyond what was originally cited by @thiagobeier and the procedure is working now. Let's #please-close this issue for now as the issue seems to be resolved at this point. Thanks!

[2021-08-16 18:31] #188 closed

[2021-08-17 03:54] anthonychu commented on #549
Can you share more of your workflow? Are you relying on the Static Web Apps deploy action to build the app, or are you added additional steps before it to build the app?

For monorepos, it’s best to set up your own steps to build the app and rely on our action to deploy it. As you’ve noted, there’s no way to just deploy the API output without building. That is tracked in #343 and likely to be addr

[2021-08-17 18:33] smakinson commented on #232
@anthonychu @miwebst I'm looking at a similar concern. I have a TVML app and the build output is a `.js` file.

[2021-08-17 20:38] rellis-of-rhindleton commented on #502
I found this on [Customize sign-ins and sign-outs](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-customize-sign-in-out) — would it be applicable to Static Web Apps as well?

[2021-08-17 20:46] rellis-of-rhindleton opened #551 "Specify a pool of known URLs for pull request previews"
**Is your feature request related to a problem? Please describe.**
A single page app on Static Web Apps that uses in-app authentication (as opposed to the built-in auth, or “easy auth”) needs to know what URL to use for login redirects. For the production instance of the site, this is known. But for the non-production/preview instances that get created from pull requests it is not. There’s no easy

[2021-08-17 21:00] nazimamin commented on #547
There's a similar issue #165 that's fixed by overriding the "code" parameter, but for Functions.

[2021-08-19 07:17] anthonychu commented on #535
I can repro this. The main difference between this and apps like Hugo which use submodules and experience no issues is that here we are deploying the entire folder, including the submodule. For Hugo, we're deploying the build output folder, which doesn't include the submodule folder itself.

[2021-08-19 09:07] awolad commented on #543
It worked. Thanks @anthonychu

[2021-08-19 09:09] awolad commented on #544
It resolved. Thanks @miwebst

[2021-08-19 11:33] tagazok commented on #165
Hi,
I am having the same issue while trying to login in using GitHub octokit.
As the ```code``` queryparam is part of the OpenID specification, I assume every app trying to integrate a 3rd party login experience in a SWA may have the same issue.

[2021-08-19 16:51] Sergey-Nosov-GH commented on #463
Same error from the release pipeline:

[code]

[2021-08-19 18:16] Sergey-Nosov-GH opened #552 "Directory Location... is invalid. Could not detect this directory... Azure DevOps Release pipeline error."
Please advise, _Deploy Azure Static Web App_ task fails in Release pipeline with the following error message:
`
[31mApp Directory Location: '/home/vsts/work/r1/a/104' is invalid. Could not detect this directory. Please verify your deployment configuration file reflects your repository structure.[0m
`
1. The static website files are ready for deployment in the following location: `$(System.Defaul

[2021-08-19 19:04] joelbyford commented on #535
Understood, and thanks for looking into it.  Knowing this, I modified the yml file to perform a copy/paste of the needed files to a staging `output` directory and use that directory as the source for static web app publish action.  Perfectly acceptable workaround.  Thanks!

[2021-08-19 19:04] #535 closed

[2021-08-19 20:49] Sergey-Nosov-GH commented on #552
Found a workaround. Big thanks to @clairernovotny : https://github.com/microsoft/azure-pipelines-tasks/pull/14807#issuecomment-868593099

1. Set source directory in a preceding task:
![image](https://user-images.githubusercontent.com/8905255/130141707-54e83ecb-9ecc-46c0-8215-f007f94675b0.png)
[code]

2. Instead of `$(System.DefaultWorkingDirectory)/$(Build.BuildId)` use `$(Build.BuildId)`

I think

[2021-08-20 01:06] aDotNetDeveloper commented on #72
Hi,

Any update on this?

I have this Static Wed App configuration

    {
        "route": "/blog",
        "redirect": "/#blog"
    },

so www.mydomain.com/blog should redirect to the #blog anchor on the root page

but it gets encoded along the way to www.mydomain.com/%23blog
resulting in a 404

[2021-08-20 04:36] mschoneman opened #553 "Content-Disposition header is not returned from a Static Web App Managed Api"
**Describe the bug**

`Content-Disposition` header is not returned from a Static Web App Managed Api

**To Reproduce**
Steps to reproduce the behavior:
1. Create a static web app with an api
2. Include the following function:
[code]
3. Code runs fine in the local dev environment and the `Content-Disposition` header is returned
4. Deploy to Azure Static Web App
5. Access the link "/api/GetCsv"
6. N

[2021-08-20 07:30] sinedied opened #554 "[Bug or incorrect docs] Incorrect type. Expected "integer" for routes status code"
**Describe the bug**

The built in validator for `staticwebapp.config.json` file reports this error on route status code when it's defined as a string:
![image](https://user-images.githubusercontent.com/593151/130076854-95819e2c-a61e-4aaf-af73-64008006fda2.png)

But the docs states that a string should be used here, ie: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authoriz

[2021-08-20 14:58] nazimamin commented on #479
Issue #547 also has a similar error. 500 error on Auth callback using Azure B2C

[2021-08-20 17:51] mumby0168 commented on #548
Ah that is perfect my bad always seemed to use `:` thanks 👍

[2021-08-20 17:51] #548 closed

[2021-08-20 21:01] anthonychu commented on #554
Good question. From what I can tell, the service expects int's, but it's able to deserialize correctly if it's a string containing an int.

@mkarmark can you please confirm? If correct, I think we should update docs to use int's.

[2021-08-20 21:36] anthonychu commented on #552
We've introduced a parameter to specify the working directory (`workingDirectory`). It will default to `SYSTEM_DEFAULTWORKINGDIRECTORY `, this should resolve to the correct default locations for both build and release pipelines.

`app_location` and `api_location` are relative to the working directory. We understand this is different than what one might expect in Azure Pipelines. We're currently no

[2021-08-20 21:45] anthonychu commented on #551
There are some related issues such as #22.

We're currently looking into allowing you to have stable staging environments that you deploy to by pushing to its corresponding branch. For instance, you could have a `test` branch that you push to, and it deploys to a staging environment named "test". It would have a stable URL that you can register with your auth providers. Would this work for your sc

[2021-08-20 22:10] rellis-of-rhindleton commented on #551
Yes it would.

[2021-08-21 12:48] nmeisenzahl commented on #547
Hi,
we face the same issues when using custom authentication with AAD.

Our current config:
[code]

[2021-08-21 17:40] anthonychu commented on #542
We will be working on a solution for #343 that should work for monorepos where you handle the build yourself. No ETA at the moment but hoping we’ll have something in 2-3 months.

[2021-08-21 17:52] nazimamin commented on #547
@router19 Can you share your full `staticwebapp.config.json` here as well?

[2021-08-21 21:16] anthonychu commented on #463
@Sergey-Nosov-GH Looks like your build agent is running Windows. This task can only be run on Linux agents at this time.

[2021-08-21 21:19] anthonychu commented on #463
For those of you trying to use the task from a release pipeline, version 0.187.1 should contain a fix that uses the correct default directory. You can also override the working directory using the `workingDirectory` input.

Keep in mind that `app_location` and `api_location` are _relative_ to the working directory. It won't work if you put an absolute path in there.

[2021-08-21 21:36] anthonychu commented on #7
Our first step for supporting non-GitHub based deployments might be to document how to run the Docker container that the GitHub action runs so that you can run it on your own environment. Obviously this requires Docker and might not be ideal for some scenarios. But this might be a short/medium term solution while we work on other solutions.

[2021-08-22 01:39] zakariAlfadhli commented on #296
and react js
----------------
add
routes.json file in file  public
{
"routes": [
{
"route": "/*",
"serve": "/index.html",
"statusCode": 200
}
]
}

[2021-08-22 11:30] ahamedfazil opened #555 "Azure Devops Pipeline issue: Unsupported platform for fsevents@2.3.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})"
Hi,
I am using Azure Static webapp with Nextjs and setup my project in Azure Devops. The pipeline was working fine but now I started getting below error.

Here is the code of my azure-pipeline.yml

`trigger:
  - develop
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self
    submodules: true

  - task: AzureStaticWebApp@0
    inputs:
      app_location: 'my-app'
      api_locatio

[2021-08-22 16:10] anthonychu commented on #555
Can you please share your package.json contents? Also if there was a commit that was building correctly before, can you re-run the build on that to confirm the behavior has changed on the same app?

[2021-08-22 18:48] ahamedfazil commented on #555
this is my package.json

{
  "name": "my-app",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build && next export",
    "start": "next start",
    "lint": "next lint",
    "export": "next export",
    "api": "func start --prefix ../api",
    "swa": "swa start http://localhost:3000 --api http://localhost:7071"
  },
  "dependencies": {
    "bootstr

[2021-08-23 04:48] anthonychu commented on #555
Yep that's typically a warning. I just tried that package.json and it installed with a warning. I wonder if this was caused by something the package-lock.json.

If you rerun the build using the commit that was working before, does it still work?

[2021-08-23 05:36] remcohuijser commented on #510
Hi all,

We got this working quite ok for now. Not saying this is a long-term solution but it at least allowed us to use SWA in a way we like a bit more. Consider this inspiration 😎

So in our projects, we put these two steps in our azure-pipelines.yml. We do this after compiling the application. Please not that we leave the api as-is as the release pipeline always builds this and therefore needs

[2021-08-23 06:43] theo-albers commented on #510
We use Azure App Configuration to store our configuration externally. This allows us to use the AAC task https://marketplace.visualstudio.com/items?itemName=AzureAppConfiguration.azure-app-configuration-task to pull configuration into build pipeline variables. Next we use the variables in a File Transform task, https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/file-transform?vi

[2021-08-23 08:02] router19 commented on #547
{
  "routes": [
    {
      "route": "/login",
      "redirect": "/.auth/login/aad"
    },
    {
      "route": "/b2c",
      "redirect": "/.auth/login/aad"
    }
  ],
  "auth": {
    "identityProviders": {
      "customOpenIdConnectProviders": {
        "projectPackAAD": {
          "registration": {
            "clientIdSettingName": "clientId",
            "clientCredential": {
              "c

[2021-08-23 08:12] manekinekko commented on #296
@imvikaskohli @zakariAlfadhli  please note that the current recommended way of dealing with SPA is to use the `staticwebapp.config.json` file with the following content:

[code]

See an example for Angular: https://github.com/manekinekko/azure-static-web-apps-playground/blob/main/src/assets/staticwebapp.config.json

[2021-08-23 08:35] ahamedfazil commented on #555
If I rerun the commit that was working, it still works with warning.

I just tested by removed the package-lock in the commit in which it throws error. And now that also working. I guess my package-lock is somehow messed up.

[2021-08-23 09:59] jeroenvdmeer commented on #542
@anthonychu Thanks for your reply. Good to know about the upcoming feature to allow for custom API build steps. Could you share some insights into why the API is unable to build in Oryx? As far as I can tell I'm not doing anything special to successfully build the API locally: running `yarn install` and `yarn build`. Understanding what Oryx does differently might give me ideas to circumvent this p

[2021-08-23 15:13] anthonychu commented on #542
We currently treat the app and API folders as completely separate projects. We tell oryx to build them separately. For most monorepos, the install and build commands actually need to be run at the root of the repo, which we don’t support right now.

In your case specifically, it sounds like you needed to trick Oryx into detecting yarn for the API folder.

[2021-08-23 16:28] GKanitz opened #556 "AAD B2B organisation details"
Hi,
I'm currently working on a static web-app that is providing a client and a business portal. I configured the aad auth provider with the B2B client details and added a custom open-id connect provider with the B2C client details.

Currently I have two issues with this:
- After signing in via the B2C flow (i.e., my private outlook email), I request the data for the signed in user on the ‘.auth/me

[2021-08-23 21:09] AverageCakeSlice commented on #243
@drma-dev do you happen to know why it's working for you now? I'm running into issues where I can get the header just fine when testing locally with the SWA CLI, but whenever I deploy it suddenly stops working, throwing a "Object reference not set to an instance of object" error when I try using the suggested code in: https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=csh

[2021-08-23 21:57] drma-dev commented on #243
it's been a while. I don't even know if this emulator already exists to run local. uses the same component I'm using, this should help.

[2021-08-23 23:15] philip-coats-softbank opened #557 "Need an option to have more than 500MB storage"
**Is your feature request related to a problem? Please describe.**
My site is bigger than 500MB.

**Describe the solution you'd like**
I would like a billing plan that has an option for up to 1.5GB of storage.

**Describe alternatives you've considered**
I can store the assets somewhere else, but that really defeats the point of having a single solution for our website.

**Additional context**
Add

[2021-08-24 00:30] nazimamin commented on #547
@nmeisenzahl try AAD as a custom identity provider/token exchanger. I had it working with similar config as router19's.

[2021-08-24 01:23] AverageCakeSlice commented on #243
Actually, I found the solution. I'm using a custom auth provider (Auth0), and the claims that get returned from the deployed object are different than the local version. Auth0's name claim type only returns the full name for some reason, so I had to make this modification to the code in the example I linked above:
From:
[code]
To:
[code]
This lets me retrieve the Auth0Id (e.g. `auth0|xxxxxxxxxxxxx

[2021-08-24 04:58] arisabejuela commented on #547
Hi, I also encountered this issue when I first configured SWA custom auth and upon checking, it turns out that I just pasted the wrong client secret in the application setting.
After updating the AAD_CLIENT_SECRET value, the issues is fixed.

[2021-08-24 07:33] shibayan opened #558 "Not handling `X-Forwarded-Host` header during custom authentication redirection"
**Describe the bug**

If you set up Front Door (or L7 Reverse proxy) in front of Static Web App and add Azure AD or OpenID Connect authentication after adding a custom domain to Front Door, the redirection will not be done on the custom domain.

It looks to me like a common problem of not handling `X-Forwarded-Host` correctly.

![image](https://user-images.githubusercontent.com/1356444/130574638-4

[2021-08-24 09:39] remcohuijser commented on #389
I would like to propose this issue is reopened. Using your own API can work around the problem of missing timer triggers, but as far as I can see you lose the ability to deploy your SWA with front-end and back-end together (for example to staging).

[2021-08-24 11:00] craigshoemaker commented on #469
The Application settings doc is now updated with the character allow list.

[2021-08-24 17:33] skystedt opened #559 "Increase max-age for Strict-Transport-Security header"
Currently the header is:
Strict-Transport-Security: max-age=10886400; includeSubDomains; preload

But to be able to add it to the preload list, in addition to having specified preload it also has to have a max-age of minimum 31536000.

The preload list submission page recommends setting max-age to 2 years, 63072000

_Error: Max-age too low
The max-age must be at least 31536000 seconds (≈ 1 year),

[2021-08-25 05:54] thomastvedt commented on #72
We switched from azure static web apps to kubernetes partly because of this. You often need fine grained control of routing / nginx (?)

[2021-08-25 08:18] jakeuj opened #560 "Devops problems communicating with our content server"
Devops pipelines uploading build artifacts fail.
(We are currently experiencing problems communicating with our content server.
Please try again later or file an issue if this behavior continues.)

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Devops'
2. Click on 'set up build'
3. Run
4. See error

[code]

Azure Pipelines workflow

[2021-08-25 09:58] k-miyake commented on #558
Hi Team,

Since many applications use authentication and custom domains, it is practically impossible to place Front Door at the front of SWA if this issue is not resolved.

[2021-08-25 10:33] kepalas commented on #7
In one of our projects, we use something like this to deploy to Azure Static WebApps from BitBucket pipelines:
[code]
where the `./build` folder contains the React based static app artifacts built in previous steps

[2021-08-25 16:44] michaelmoneypenny opened #561 "Can we use hybrid connections with managed functions?"
We're currently using managed/integrated functions that deploy with our front end. The issue we've encountered is some of our functions access on premise databases. I know with a standalone function app you can configure hybrid connections in networking but there isn't anything in the static app dashboard regarding this

Is it possible to configure hybrid connections for managed funcs some way? Or

[2021-08-26 16:19] VonWilliams01 opened #562 "Validate token sent to bring your own function within function app itself."
Hi,
I'm trying to use a bring your own function with an existing function app that cannot be set to require authentication as default.
I've changed the provider (Azure static web apps(linked)) to allow unauthenticated requests to allow the existing functions to work.
When quizzing the api, the function gets a token which is ripe for validation. The only problem is I simply cannot locate the kid.

[2021-08-27 09:36] chenxizhang opened #563 "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
**Describe the bug**

I am using Github actions to deploy a site to Azure Static Web app, it works fine before, but ran into fail from today, the error message is below, any idea? Thanks

[code]

[2021-08-27 14:41] Strepto opened #564 "Pull-request numbers in subdomain"
**Is your feature request related to a problem? Please describe.**

My pull-requests are deployed to a domain like this:
`https://cool-cat-00abcdef-22.westeurope.azurestaticapps.net/`

To allow for the pull-request domains to connect to backend services we need to both wildard CORS, and wildcard redirect URIs to our in-app OAuth2 MSAL. Today both need wildcards on the `*.westeurope.azurestaticapps

[2021-08-28 00:56] abatishchev commented on #536
@miwebst have this been fixed?

[2021-08-28 01:51] anthonychu commented on #302
@mystic001 Looking at your crm repo, your error is not related to the others in this thread. The build logs indicate that React is “Treating warnings as errors”:

[code]

When running a build in a CI service like GitHub Actions, React will treat any warnings as errors and fail the build. There are 2 ways to solve this:

- Fix the warnings in your app, such as “ Line 9:9:  'fileExtension' is assign

[2021-08-28 05:32] mystic001 commented on #302
@anthonychu thank you for this insightful and detailed explanation I will make the correction.....

[2021-08-28 08:41] chenxizhang commented on #563
https://github.com/ant-design/ant-design-pro/issues/9015#issuecomment-907594630

It seems can be fixed by specific the node version in package.json, I am using the LTS version, it works now

![image](https://user-images.githubusercontent.com/1996954/131211989-353ed458-17df-4020-80a8-011cd111f44f.png)

[2021-08-28 08:41] #563 closed

[2021-08-28 13:23] mattemoore opened #565 "Recommendation on authorization of 25+ users with custom roles"
Hello, looking for some direction based on the following:

1.  We should only protect sensitive APIs using custom roles as using “authenticated” role is not secure as that won’t block non-invited users. Essentially this quota means we cannot have more than 25 users register for a site that has secure APIs.
2.  Using custom authentication providers gets around the invitation flow but does not alter

[2021-08-28 13:29] MagnusJohansson opened #566 "My self hosted (Linux, WSL2 on Windows 10) build fails with `An unknown exception has occurred` and no details."
My self hosted (Linux, WSL2 on Windows 10) build fails with `An unknown exception has occurred` and no details.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Linux(WSL2) self hosted agent according to instructions. (https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops)
2. Create a Azure Static Web App according to Microsoft offiicial guides (

[2021-08-28 22:25] mattemoore commented on #565
UPDATE:
I tried the following to enable scaling past 25+ users assigned custom roles.

Scenario:
1. Simple social media posting app
1. We want to have more than 25 users able to register and receive "poster" role
1. Upgraded to standard hosting plan so I can use custom auth
1. Created app registration with app role called "poster"
1. Assigned that app role to my AD user
1. Put redirect URI in app

[2021-08-29 23:47] lucashfreitas commented on #549
Hey @anthonychu , thanks! I have completely removed static web apps deploy action and had to do a workaround to manually build and output the frontend/api folder in a way that the static web app expects it. I've also added a package.json in the folder, otherwise, it won't work.

We're using typescript/monorepository structure and I tried other alternatives but only the above worked. Sorry for bein

[2021-08-29 23:53] lucashfreitas opened #567 "Static Web App Identity to access Cosmos DB using IAM"
Hello,

I have a static web app with several functions that access a cosmo DB instance. In order to improve security, I want to set up cosmos DB access using IAM instead of database keys.

I have enabled Identity for static web apps but I can't select it under Cosmos DB IAM Role assignment as it doesn't give the option to select Static Web App and it doesn't recognize any static web app functions

[2021-08-30 01:53] anthonychu commented on #567
This is currently not supported. If you need to use managed identity to access Cosmos DB, you will have to to set up a separate function app with managed identity enabled. You can use the [bring your own functions](https://docs.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) feature to link the function app with your static web app.

We are aware of this current feature gap and

[2021-08-30 05:52] lucashfreitas commented on #567
Awesome @anthonychu , thanks for the quick reply.

[2021-08-30 05:52] #567 closed

[2021-08-30 05:52] lucashfreitas commented on #549
Closing that for now.

[2021-08-30 05:52] #549 closed

[2021-08-30 05:54] lucashfreitas commented on #546
Currently it's not possible to use IAM roles in functions deployed with azure static web apps. We should deploy the function separated and attach it to Static Web app after.

As mentioned here https://github.com/Azure/static-web-apps/issues/567 this might be available in the future.

[2021-08-30 05:54] #546 closed

[2021-08-30 11:15] owenmorris opened #568 "Custom Authentication - Multitenant organization registration"
We are investigating porting an in-house application to Static Web Apps as a POC.  The application currently uses Azure Functions and a storage hosted React SPA, with MSAL used for authentication.  The application uses 2 application IDs, one for the function app and one for the frontend.  The applications are set to produce v2 tokens using the manifest.

In the original application, the function a

[2021-08-31 06:06] router19 commented on #547
@anthonychu Could you please take a look at it?

[2021-08-31 06:45] anthonychu commented on #547
@mkarmark Do you know what might be wrong here?

[2021-08-31 07:10] bartusz01 commented on #513
Hi, any update on this? I'm not even sure if its possible to use AAD groups for authentication right now.

[2021-08-31 07:49] router19 opened #569 "Azure Static web apps role management with custom IdP"
**Describe the bug**
Currently Azure SWA does not have an option to select custom IdP as authentication provider for role management.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Azure SWA
2. Click on 'Role Management'
3. Click on "Invite" button.
4. Under authentication provider we can see it list only standard IdPs like AAD, GitHub, twitter. (FB(preview), Google(preview))
I am fili

[2021-08-31 07:57] router19 commented on #569
@mkarmark @anthonychu Any suggestion would be appreciated.

[2021-08-31 13:25] sinedied commented on #130
@miwebst Was there an update regarding this issue? Is it safe now to rename your project on GitHub?

[2021-08-31 23:57] matkoch commented on #298
@danielmackay can you share a few bits maybe?

[2021-09-01 03:08] magodo commented on #21
I'm having the same issue when I run my app from the function app in production environment:

![image](https://user-images.githubusercontent.com/7970698/131605355-89999f54-07dd-48da-902c-829fe17fb67f.png)

[2021-09-01 16:42] matkoch commented on #7
@kepalas I'm trying to port this into a console application. What's the `deployment` key here? Currently, I get the output `deployment_action was not provided`.

[2021-09-01 16:47] cgillum commented on #21
Adding @mkarmark to understand why these headers might be missing.

@magodo You won't see the auth headers from client-side traces because they're added by middleware running in the Azure Static Web Apps infrastructure. The way I typically debug this is by having a function return the request headers as part of the output, or writing them out in logs.

[2021-09-01 21:32] kepalas commented on #7
As I mentioned before, that snippet is part of our BitBucket pipeline. The `deployment` key indicates which environment variables should be added to the runtime (more info can be found [here](https://support.atlassian.com/bitbucket-cloud/docs/configure-bitbucket-pipelinesyml/#deployment)).

You can find more info on how to use the `StaticSitesClient` binary by checking its help section:
![image](h

[2021-09-01 22:01] matkoch commented on #7
Oh, I just quoted my arguments incorrectly... All good, thanks! :)

[2021-09-02 07:34] bkarstaedt commented on #516
I totally agree what @laurihelkkula suggests:

As what I just encountered is, that after _each bicep deployment the Static Web App got a new deployment token_. So the deployment is not idempotent and I therefore have to change the token for the pipeline each time...

[2021-09-02 09:45] alexandruchirita4192 commented on #566
Hello,

I wanted to create a self-hosted agent just like you, with very few differences (same steps, Windows 10 with all updates, Agent latest just downloaded 2.191.1 (a bit newer version) ), and the following Pipeline (even simplier):
[code]
     ) but failed with an error because C:\WINDOWS\system32\bash.exe received an Windows style path `"C:\Users\achirit1\Documents\vsts-agent-win-x64-2.191.1\

[2021-09-02 14:14] Strepto commented on #564
Stable staging environments does not help keeping the nice "pull-request" workflow, where I can know that each PR is a separate site and that a given domain is never reused for another unrelated pull-request.

This workflow has been very helpful to our team lately. (We fixed this by adding redirect uris for upcoming PRs mannually, but it feels like un-neccessary work)

[2021-09-02 21:04] miwebst commented on #130
It is safe to do so, as long as you have either created the static web app since GA or rotated your deployment token then you should be good.

[2021-09-02 21:07] miwebst commented on #559
Hi @skystedt, is it possible for you to use the header overrides to specify this? Take a look at the globalHeaders section in the example here: https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#example-configuration-file

[2021-09-02 22:13] aliciaclark1066 commented on #514
I feel like a pipeline task for Azure should be able to run on a Windows agent. Is this really too much to ask?

[2021-09-02 22:26] matkoch commented on #7
@anthonychu i assume the code for staticsitesclient is not public, so debugging this is a bit cumbersome. maybe you can give a hint what's wrong here?

<img width="978" alt="image" src="https://user-images.githubusercontent.com/5005566/131924036-b9430c1d-2c00-4d97-808b-fb39acd5929c.png">

While I'm here, I assume the environment for deployment (for instance when using the github workflow) is taken

[2021-09-02 23:51] miwebst commented on #561
Hey @michaelmoneypenny, hybrid connections are not supported with managed functions. For your scenario, are you using easy auth to secure the app using azure AD?

[2021-09-02 23:52] miwebst commented on #558
This should be available in the next month.

[2021-09-03 05:13] router19 commented on #547
@mkarmark Could you please take a look into this and suggest?

[2021-09-03 05:48] jmbrunskill opened #570 "Intermittent 'Failed to upload build artifacts' errors from Azure Dev Ops Deployment Task"
**Describe the bug**

Frequent Static Web Pages Deployment failures from Azure Dev Ops Pipeline.
Using continuous integration on commits to a target branch to trigger this workflow.
The website content is generated via a custom static page generation tool, so doesn't use a Static Generation Framework.

**To Reproduce**
Create a Azure Dev Ops pipeline to deploy to static web apps (We are deploying

[2021-09-03 06:06] piquet-h opened #571 "Unable to create new site with ARM template (bicep)"
`
var customDomains = [
'test.com'
'www.test.com'
]

resource site 'Microsoft.Web/staticSites@2021-01-15' = {
  location: resourceGroup().location
  name: 'site'
  properties: {
    buildProperties:{
      skipGithubActionWorkflowGeneration: true
    }
    allowConfigFileUpdates: true
  }
  sku: {
    name: 'Free'
    tier: 'Free'
  }
  identity: {
    type: 'SystemAssigned'
  }
  resource domains

[2021-09-03 10:40] JoCa96 commented on #410
I had the same issue when using the Azure DevOps Task `AzureStaticWebApp@0`.
If you have this issue there to you can fix it by using the `cwd` input parameter:
[code]

[2021-09-03 11:41] michaelmoneypenny commented on #561
Hi - yeah easy auth but hooked up to our AD tenant. I can see with non-managed azure function link the auth works the same and API is still only accessible from the app which is great :)

[2021-09-03 11:41] #561 closed

[2021-09-03 12:51] bkarstaedt opened #572 "Allow to preselect an Auth0 "connection" via staticwebapp.config.json"
**Is your feature request related to a problem? Please describe.**

In the `staticwebapp.config.json` file I configured Auth0 as a custom authentication provider within the `auth` section.

**My goal/problem**: I want to preselect a specific "connection" from several identity providers, but don't know how to configure this via the `staticwebapp.config.json` file.

In the Auth0 documentation the co

[2021-09-03 14:32] smakinson commented on #196
@anthonychu

Is it possible to configure a rewrite similar to this in `staticwebapp.config.json` to use prerender.io?

https://www.formition.com/blog/prerender-with-azure

exclude images, etc matches either the user agent or _escaped_fragment_ and send a match over to `https://service.prerender.io`

For single page apps, I imagine this would happen under `navigationFallback`. The docs show we can

[2021-09-03 16:44] aliciaclark1066 commented on #552
The workaround above didn't work for me. I had to re-download the artifacts into the pipeline workspace "s" folder ahead of time since I couldn't redirect the path to the typical pipeline workspace folder using "../" in the AzureStaticWebApp task. Figured this out where it was trying to search for the app location using a 'pwd' Bash command ahead of the task. Here's my download task:

`- task: Dow

[2021-09-04 15:07] nathankitchen commented on #524
A `skip_api_build` and an option to set the runtime language would address the scenario described above, thanks. I'll keep an eye on 343 and retest when it drops.

[2021-09-04 17:09] skystedt commented on #559
@miwebst that should work as a workaround

but the default values for the header should be looked at
currently it adds preload with a max-age not fully compatible with preload

[2021-09-06 12:01] jak-hammond commented on #440
We're currently experiencing this issue and it's making SWA non-viable for our usage.

If this was closed, what is the solution or workaround for this, closing without comments doesn't really help any of us who stumble over this issue and the docs don't seem be of any help either.

[2021-09-06 15:38] anthonychu commented on #440
@jak-hammond Do you need this for the frontend build or function app?

[2021-09-06 15:41] jak-hammond commented on #440
@anthonychu The backend function app, we seem to be able to build the frontend app fine, but when it restores the nuget packages, it seems to be doing so from within the oryx-based container/image, which is where I image the source of the problem is coming from?

[2021-09-06 15:41] anthonychu commented on #493
@arroyc do you have any guidance for using private NuGet/npm feeds in Oryx?

[2021-09-06 16:04] anthonychu commented on #440
Ensure you have a NuGet.config file in the folder specified as `api_location` that has the package source specified, including [the credentials](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesourcecredentials). You can add a step in your workflow before the Static Web Apps action to create/update this file using the NuGet CLI. The passwords need to be in plain text but

[2021-09-06 16:21] jak-hammond commented on #440
We are currently using Azure DevOps so it would have to be a plaintext password, but is there no way to authenticate this task/these pipelines in a more seamless way, having to maintain either a PAT or some other form of service based access to our internal feeds seems like an unnecessary overhead, when the current NPM and Nuget tasks seem to be able to access feeds, so long as they existing withi

[2021-09-07 03:41] anthonychu commented on #554
Checked and confirmed the service expects ints (though strings work). Updated doc to int. Thanks!

[2021-09-07 03:41] #554 closed

[2021-09-07 03:49] anthonychu commented on #537
There's no easy way to do this right now but is an interesting feature that we can look into. Perhaps a way to specify commands to run at different parts of the build/deploy process might be useful? For instance:

* Before build
* After build
* Before deployment
* After deployment

[2021-09-07 04:13] #9 closed

[2021-09-07 04:13] #308 closed

[2021-09-07 04:13] #383 closed

[2021-09-07 04:14] #168 closed

[2021-09-07 04:15] plamber opened #573 "Is there a way to retrieve the deplyoment token using az staticwebapp?"
Hello,
I was looking in the documentation for the [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/staticwebapp) if there is a way to retrieve the management deployment token from a script.

![image](https://user-images.githubusercontent.com/18241305/132283297-7100ae0c-585c-4940-8749-212f29b4b063.png)

Thank you for your feedback,
Patrick

[2021-09-07 04:21] anthonychu commented on #262
This is now resolved.

[2021-09-07 04:21] #262 closed

[2021-09-07 04:22] anthonychu commented on #280
Closing this but please reopen if this is still an issue and you can provide more details.

[2021-09-07 04:22] #280 closed

[2021-09-07 04:25] anthonychu commented on #167
There were two updates that should have addressed these issues.

* The GitHub Action now supports a `skip_app_build` command that will ensure Oryx does not try to build your app at all, so the previous issues with erroneously detecting an PHP app will not happen.
* Oryx added first class support for building Jekyll apps automatically.

[2021-09-07 04:25] #167 closed

[2021-09-07 04:31] anthonychu commented on #573
This was recently merged. Should be available in the next Azure CLI release: https://github.com/Azure/azure-cli/issues/16470

[2021-09-07 04:43] anthonychu commented on #571
Currently, managed identity can only be created for standard apps. The identity can only be used to retrieve settings from Key Vault that are used for auth. The identity currently does not flow through to the function app. This is on the roadmap but is an longer term item and we don't have an ETA. If you need managed identity in your function app, the current guidance is to use the bring your own

[2021-09-07 04:52] anthonychu commented on #150
@miwebst I think the function app size limit is now 100MB. Can you confirm? Perhaps we can add this to docs. @craigshoemaker

[2021-09-07 04:55] anthonychu commented on #204
This is resolved. In addition, you can now enable application insights from the portal: https://docs.microsoft.com/en-us/azure/static-web-apps/monitor

[2021-09-07 04:55] #204 closed

[2021-09-07 06:01] piquet-h commented on #571
Thanks @anthonychu - this makes sense (after the fact)

In the ARM template reference, adding the identity property as not supporting 'SystemAssigned' for the 'Free' SKU would have saved me two hours.  The current message makes it look like it's the SKU code at fault, not using Managed Identity in the free tier.

Can you elaborate on the "can only be used to retrieve settings from Key Vault that a

[2021-09-07 06:03] anthonychu commented on #519
This is a great suggestion. Thinking about the implementation, would something like this proposal work?

* In the same folder as `staticwebapp.config.json`, you could optionally add one or both of the following:
    * `staticwebapp.config.production.json` - applied when deploying to the static web app's main production site
    * `staticwebapp.config.local.json` - applied when running locally
* Th

[2021-09-07 06:13] anthonychu commented on #519
@k-miyake Looks like you are trying to protect your non-production site. I should also add that we are working on https://github.com/Azure/static-web-apps/issues/236. It would allow you to protect a site with a simple password. You should be able to protect only preview environments, or all (preview + production) environments.

[2021-09-07 06:21] anthonychu commented on #571
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

That's correct. The core issue is there is some platform work that needs to be completed before we can flow the Static Web Apps managed identity to the Static Web Apps managed function app. So you cannot use KV references in managed function apps right now.

[2021-09-07 07:23] sinedied commented on #554
Thanks for the confirmation, I'll update the related Learn modules then

[2021-09-07 09:29] MohamedN98 commented on #544
Hey @awolad. Can you please share the steps you used to resolve this problem. I am having the same issue with Staging Environments not being deleted automatically.
Thanks,
Mohamed

[2021-09-07 13:36] JustClueless commented on #7
@matkoch Can you explain how to fix this? Or are we just stuck? :/

[2021-09-07 14:58] awolad commented on #544
Hi @MohamedN98 firstly remove the existing staging environments (if you have) from the Azure portal (have a look at the above screenshot).  And then try again. Make sure you've used the following job for the close pull request. That's it.

[code]

[2021-09-07 17:44] christianacca commented on #537
@anthonychu sounds good :-)

[2021-09-08 08:22] k-miyake commented on #519
@anthonychu Thanks for the comment. My idea is the following.

- It is better the base configuration file and environment-specific configuration files will be merged (just like .NET).
- In the production, the base `staticwebapp.config.json` will be used.
- In the local development, if `staticwebapp.config.local.json` is available, it will be used preferentially.
- In addition, it is better if any

[2021-09-08 19:10] Greg-Hyliion commented on #427
@anthonychu @miwebst I just encountered this bug attempting to transition a free plan app to a standard plan.
The application is deployed via Azure devOps and is not linked to a github repo. I tried the above workaround without any success.

I'm using Azure CLI v2.28.0.

The error I'm receiving from the portal is: `RepositoryUrl is invalid.  RepositoryUrl cannot be empty.`

Running the disconnect

[2021-09-08 19:54] miwebst commented on #427
Hi @Greg-Hyliion , what AZ CLI command are you running?

[2021-09-08 20:06] Greg-Hyliion commented on #427
Yes, I ran the below commands after replacing the variables with the values for my app:

[code]

I also tried running `az staticwebapp disconnect -n $APP_NAME -g $RESOURCE_GROUP_NAME` and then updating the sku in the portal, but that still gave the same error.

[2021-09-09 05:22] anthonychu commented on #519
Thanks for the feedback.

The reason I proposed a `staticwebapp.config.production.json` is because often the production environments require specific settings that are different than staging environments (currently these are pull requests, but we are investigating other types of staging environments). If there is no `staticwebapp.config.production.json`, it would mean that every time you merge a P

[2021-09-09 11:18] k-miyake commented on #519
I meant that it would be useful  to have an option to name `{environment-name}` in `staticwebapp.config.{environment-name}.json`. However, I don't care much about the naming.

[2021-09-09 12:27] Mardaneus86 opened #574 "Jekyll website fails to publish to Static Web App with unknown exception"
When trying to build and deploy a Jekyll-based website via Github Actions, the `Azure/static-web-apps-deploy@v1` fails with the message `An unknown exception has occurred` after `Uploading build artifacts.`. This happens when changing from the Github hosted build runner (`ubuntu-latest`) to a self-hosted runner. When using the `ubuntu-latest` build runner it works as expected.

I am unable to find

[2021-09-09 14:45] sinedied opened #575 "[Bug] Error in ARM typings/docs"
**Describe the bug**

If you try to create a SWA from a bicep template, for example something like this:
[code]
The first deployment will work fine, but the second time your try to redeploy the template (even with no changes) you get this error:

![image](https://user-images.githubusercontent.com/593151/132707001-ea49d5b7-5414-4c70-b473-e9c7e1760c81.png)

After looking at related issue https://git

[2021-09-09 15:33] sinedied opened #576 "[Bug] Error in ARM typings/docs on `userProvidedFunctionApps` property"
**Describe the bug**

I'm trying to use Bicep/ARM to deploy a SWA with user a provided function app.

The ARM template generated by the portal looks like this (omitting the SWA json as it contains nothing special for user provided functions)
[code]

But when I try to use ARM or Bicep to deploy the this template, I get this error: `Cannot register a function app with a preexisting Azure Static Web

[2021-09-09 15:45] sinedied opened #577 "[Bug] Impossible to link app insights with ARM/Bicep"
**Describe the bug**

I'm trying to deploy a SWA with an App Insights instance connected from a Bicep template.
Looking at the JSON overview in the portal, it seems that the App Insight instance is linked using special tags:
[code]

When I tried to set this in my Bicep template to reference the App Insight resource:
[code]
I get this error: `This expression is being used in an assignment to the "t

[2021-09-09 18:58] bhnat-cyclelabs commented on #351
@anthonychu Thanks for the samples.  I wound up reading this issue trying to trouble an issue, except with Gatsby rather than Hugo where I frequently experienced, `Oryx has timed out while building app, the current limit is 15 minutes. Failing build.` After changing the pipeline from:
[code]
to this, so that the app_location is the public folder (and removing the api_location and output_location e

[2021-09-10 09:17] blueboxes opened #578 "Protected Github Braches causes deployment failure with a GUID as only message."
If you have a GitHub repo with branch protection on `main` to prevent merges without a PR when you create a new static web app in the azure portal and point it at the main branch you get this error:

[code]

The reason this happens makes sense but the error is not helpful and took a while to work out why.

I would expect a clear and concise description of what the bug is.

**To Reproduce**
Steps t

[2021-09-10 10:30] sinedied commented on #577
Ok I stumbled upon #384 and #394, so it seems that to link an App Insights instance you just need to set the `APPINSIGHTS_INSTRUMENTATIONKEY` setting in the config.

By adding this child resource in my static web app Bicep template:
[code]

This worked perfectly.

I've updated the issue title according then, as the JSON generated in overview is misleading and the generated ARM template is missing

[2021-09-10 11:59] mucahitgurbuz commented on #489
Experiencing the same issue. I am converting my dynamic queries to base64 and append to URL.
When I am routing to these page, works fine. However when I refresh the page, I am getting an error `The resource you are looking for has been removed, had its name changed, or is temporarily unavailable`. I have only experience this when I have long query string.

[2021-09-10 12:39] sinedied commented on #578
You should be able to work around this issue by using a generating a GitHub PAT from an administrator account of the repo, add it in you repo secrets then provide that token instead of the GitHub Actions auto-provided GITHUB_TOKEN:
[code]

But yes, the error could definitely be more explicit especially as it's a common use case.

[2021-09-10 14:08] abouroubi commented on #516
Hello, I'm having the same issue.
Is there an ETA for it to be fixed ?

[2021-09-10 14:20] sinedied commented on #312
Heavy 👍  on this one, as currently if you have any other Azure resource in addition to a SWA in your deployment workflow, it's way simpler to use the `azure/login` action and use its credentials instead of having to provide each one specific tokens.

[2021-09-10 14:28] josip8 opened #579 "Azure Pipelines - App Directory Location is invalid"
I keep getting error when trying to deploy to azure static web app:
 `App Directory Location: 'HSG.Popal/HSG.Popal.GameContainer/ClientApp/dist' is invalid. Could not detect this directory. Please verify your deployment configuration file reflects your repository structure.`

This is my yaml file:
[code]
Result of my echo command is `css favicon.ico img index.html js web.config`

[2021-09-10 14:44] flixcor opened #580 "Get the original url (before rewriting) in a header when rewriting in staticwebapp.config.json"
**Is your feature request related to a problem? Please describe.**
I'm running into the following problem: I'm trying to build a Server Side Rendered app on SWA, using an Azure Function (Node) for the rendering part. Everything is working nicely, except for the very final part: the Function has no way to track down which url the browser originally requested, so that it can decide which client rout

[2021-09-10 15:27] anthonychu commented on #580
This is a good one. @miwebst @mkarmark Is it possible to add a header for this?

[2021-09-10 15:30] blueboxes commented on #392
Is there any update on this issue, it looks like the PR needs a review?

[2021-09-10 15:42] smakinson commented on #580
@anthonychu I am also looking for how to pass along the actual original url to a function from a rewrite for a workaround for #196
So close......

[2021-09-10 17:05] anthonychu commented on #392
This is the PR and it's ready to merge: https://github.com/microsoft/azure-pipelines-tasks/pull/15137

We have an internal thread with someone on the Azure DevOps team to get this merged. I'll follow up with them.

[2021-09-11 00:54] anthonychu commented on #579
This looks like it should work. Can you change `echo $(ls)` to `echo $(pwd)` to confirm the directory location?

[2021-09-11 10:04] itpropro opened #581 "Auth endpoint not available in pre-production environment"
**Describe the bug**

We heavily rely on the auth endpoint in form of the `.auth/me` endpoint as well as the injected headers in the backend. If a PR is created and a pre-production environment deployed, the `.auth/me` endpoints returns a 404, which leads to the bring-your-own-function backend to return a 405.
This renders our application technically unusable, as no functionality is available at a

[2021-09-11 10:15] itpropro commented on #86
The idea with SWA is that you should use a separate one for your stages. So if you have a SWA called "MyApp", just create one SWA "MyApp-dev" and "MyApp-prod" or however your naming looks like.
Then you can easily create two GitHub Actions (or one with conditions of course) in the same repository and use one workflow for the dev branch and one for the main branch. If someone wants to merge a PR (e

[2021-09-11 14:13] itpropro commented on #581
Even in pre-production deployments that have the auth endpoint available, the Functions App always returns 405.

[2021-09-12 16:28] josip8 commented on #579
echo $(pwd) prints out `/azp/agent/_work/2/s/HSG.Popal/HSG.Popal.GameContainer/ClientApp/dist`

So I tried to change `app_location` to that value but still the same error

[2021-09-12 22:20] sebastian-lenz commented on #232
I would like to perform a language redirect on the index route "/" using an Azure function and therefore don't need no real index file present there. It's odd that the system enforces such a thing.

[2021-09-13 04:40] anthonychu commented on #579
Interesting. Can you share the entire pipeline file?

We added an input named `cwd` to the Azure Pipelines task. Can you see what happens if you add it and set its value to `/azp/agent/_work/2/s`, and leave the other inputs like you have above?

[2021-09-13 04:43] anthonychu commented on #579
The task uses `$SYSTEM_DEFAULTWORKINGDIRECTORY` by default as the repo root. Curious to see what is printed if you echo that.

[2021-09-13 07:12] josip8 commented on #579
This is the entire pipeline file:
[code]

Adding `cwd` input still produces the same error.

echo `$SYSTEM_DEFAULTWORKINGDIRECTORY` prints out `/azp/agent/_work/2/s`

[2021-09-14 11:18] josip8 commented on #579
@anthonychu Issue is resolved.

Devops agent was in AKS with possibility to run Docker containers via DIND. Limitation is that volume mount is not working.

After deploying agent in VM everything works as expected.

Thank you for help 😃

[2021-09-14 11:18] #579 closed

[2021-09-14 16:14] XavierGeerinck commented on #557
+1 my blog has a lot of pictures and I am hitting the limit as well :(

[2021-09-15 14:58] jon-a-nygaard commented on #513
@bartusz01 I came across the following comment (https://github.com/Azure/static-web-apps/issues/525#issuecomment-887698203) about AAD Roles in SWA, and I assume it is also somewhat related to roles assigned through AAD Groups as well.
No ETA mentioned so far, but maybe there will be an update in the issue thread in the future.

[2021-09-15 15:37] bartusz01 commented on #513
Thanks @jon-a-nygaard

Closing this issue as #525 is more clear and more likely to get an update on support for AAD groups/custom app roles.

[2021-09-15 15:37] #513 closed

[2021-09-16 01:16] caitlinwillmot opened #582 "DevOps Deploy Static Web App suddenly returning 'Internal Server Error'"
I've been using DevOps 'Deploy Static Web App' (with skip app build turned on) in a Release pipeline to deploy my built React SPA code to my static web app (hobby/personal project tier). Yesterday it was working fine however today I'm now getting the following error:

![image](https://user-images.githubusercontent.com/74575035/133533586-7f9dde91-b241-4870-ab4d-80e9acc70aec.png)

The Release Pipeli

[2021-09-16 07:46] jon-a-nygaard commented on #469
Suggesting that this issue can be closed now that the [documentation article](https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings) has been updated 🙂 @gavinwilliams @mkarmark

[2021-09-16 08:48] jon-a-nygaard commented on #403
@MatissSvikis-Visma I experienced that the SWA application settings are prefixed with `APPSETTING_` when accessing them as environment variables in the api functions. Haven't found any documentation that confirms this though, and according to the [documentation example](https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings#about-api-app-settings) it should not do so.
But if y

[2021-09-16 09:12] jon-a-nygaard commented on #374
Hi @anthonychu @lbugnion, I am suggesting that this issue can be closed now.
The [documentation has been updated](https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints) by Anthony with a list of reserved prefixes, and the UI is displaying a meaningful error when trying to add and save such an application setting 🙂

[2021-09-16 09:26] jon-a-nygaard commented on #324
This seems to be partially related to the following issue #374

I can't see that any of the settings listed by @diberry is mentioned in the [constraints](https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints), is there perhaps more prefixes that should be added to the list of constraints @anthonychu?

[2021-09-16 09:35] cmaneu opened #583 "BuePress - Default build configuration is not working"
**Describe the bug**

When following the official VuePress _Getting Started_, and selecting `VuePress` build preset, the GitHub actions fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an empty GitHub repository
2. Follow the [Getting Started](https://vuepress.vuejs.org/guide/getting-started.html) with Yarn
3. Commit files in your repository
4. Create a new SWA from the portal,

[2021-09-16 11:58] jon-a-nygaard commented on #78
Hi @anthonychu, I believe this issue can be closed. See https://github.com/Azure/static-web-apps/issues/374#issuecomment-920729015 🙂

[2021-09-16 12:39] manekinekko commented on #583
Thank you @cmaneu for pointing out this issue.

While I agree that this might seem confusing for folks deploying Vuepress apps, the default preset presented in the portal is not necessarily problematic.

Vuepress allows different options when building your app:
- `vuepress build src`: will create `src/.vuepress/dist` (vuepress-site preset)
- `vuepress build`: will create `.vuepress/dist` (portal p

[2021-09-16 13:13] jon-a-nygaard commented on #234
Hi @webmaxru, it looks like presets now has been added to the article at [Create a static web app -> step #5](https://docs.microsoft.com/en-gb/azure/static-web-apps/getting-started?tabs=vanilla-javascript#create-a-static-web-app). Can this issue be considered as solved and closed? 🙂

[2021-09-16 13:16] #234 closed

[2021-09-16 13:28] csharpfritz opened #584 "Support for .NET 6 RC1"
**Is your feature request related to a problem? Please describe.**
.NET 6 RC1 was released.  Please add support for this SDK and framework to the actions

[2021-09-16 13:53] jon-a-nygaard commented on #219
@akzaidi Did you manage to find out what caused your login-loop and solve the issue? 🙂

In case anyone comes across this issue for inspiration, the `platformErrorOverrides` seems to be deprecated and should be replaced with `responseOverrides`. See [Response Overrides](https://docs.microsoft.com/en-gb/azure/static-web-apps/configuration#response-overrides) for more information and example usage.

[2021-09-16 14:48] anthonychu commented on #324
The prefixes that @diberry is using should be blocked. I think the issue was something else.

[2021-09-16 15:00] smakinson opened #585 "The content server has unexpectedly rejected the request with: InternalServerError"
**Describe the bug**

I have a SWA that has been running actions/builds successfully. Starting yesterday evening the builds have all been failing.
They run on a schedule via:

[code]

I found this morning if I make a change and push to cause a build manually, it does succeed. So it seems it might be related to the schedule/cron trigger.

Another difference I notice in the logs is that the cron tri

[2021-09-16 15:15] anthonychu commented on #403
It’s not necessary to prefix your app settings with APPSETTING_ when accessing as environment variables. If anyone is still having issues, please post an update here. There are a couple of settings that @MatissSvikis-Visma shared above that should not be possible in Static Web Apps.

[2021-09-16 15:16] #469 closed

[2021-09-16 16:59] akzaidi commented on #219
Hi @jon-a-nygaard ! We haven't had the issue reoccur in a long while, so I'd like to say it's resolved, although I cannot remember the fix :-/

This is our current routes.json:

[code]

which has been working well. I'll update the `platformErrorOverrides` to `responseOverrides` now. Thanks!

[2021-09-16 17:52] miwebst commented on #585
Hey @smakinson thanks for bringing this up, we will take a look!

[2021-09-16 19:02] Greg-Hyliion commented on #582
I am seeing the same issue as of today.

[2021-09-16 20:39] joslinmicrosoft commented on #582
Hi, thank you for bringing this up! We have just deployed a fix for this, can you please check if your deployments are succeeding now?

[2021-09-16 20:41] joslinmicrosoft commented on #585
Hi @smakinson we just deployed a fix for this. Can you please check if your deployments are succeeding now?

Also linking related issue #582.

[2021-09-16 23:33] caitlinwillmot commented on #582
My deployments are succeeding now. Thank you very much for resolving this so quickly :)

[2021-09-16 23:33] #582 closed

[2021-09-17 01:21] jeromelaban opened #586 "Deployment Failure Reason: Failure during content distribution."
**Describe the bug**

The deployment of an app started to fail today (it's been working well for the past 45 days, thanks!) with the following message:

[code]

**To Reproduce**

I don't have any specific steps to reproduce, but here's the [`staticwebapp.config.json`](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/main/Uno/NuGetPackageExplorer.Wasm/wwwroot/staticwebapp.config.js

[2021-09-17 07:20] andreaslarssen commented on #550
@tuube Did you figure this one out? I get the same msg

[2021-09-17 07:23] andreaslarssen commented on #586
@jeromelaban Tried to deploy an app for the first time yesterday, and I get the same error msg.

[2021-09-17 07:53] tuube commented on #550
Yes we did, forgot to mention here 🤦.

The trick was to "sanitize" our created pages' paths.

Before we had paths with non-ascii characters like: "/koskâvuotâ/ohtsâškoodán-päikkikuávlu-mun-tiäđám",
which were changed to: "/koskavuota/ohtsaskoodan-paikkikuavlu-mun-tiadam".

After that the deploys started working

[2021-09-17 12:22] smakinson commented on #585
@joslinmicrosoft I see they have been succeeding since about 16 hours ago. Thank you for the quick fix!!

[2021-09-17 12:22] #585 closed

[2021-09-17 15:40] miwebst commented on #586
Ouch, sorry for the interruption! Do y'all mind sharing any app names or default hostnames and we can take a deeper look?

[2021-09-17 15:50] jeromelaban commented on #586
Looks like one of my deployments succeeded: https://purple-pond-0688d230f.azurestaticapps.net 8 hours ago.

Something was fixed :) I'll try again today.

[2021-09-17 16:22] andreaslarssen commented on #586
Yeah, obviously an Azure bug that was fixed.

[2021-09-17 16:24] andreaslarssen commented on #550
@tuube ok, thanks. Seems like there's been an Azure bug that has been fixed lately

[2021-09-18 00:34] anthonychu commented on #219
Note that `responseOverrides` is used in staticwebapp.config.json, which is the replacement for the deprecated routes.json file.

[2021-09-18 14:18] Stuart88 commented on #108
Yep. Could really do with being allowed to enable CORS for debugging against existing Azure Functions here.

So far I am really not having a very fun time with this Azure Static Web app malarkey. Highly limited and difficult to use...

[2021-09-19 17:48] MohamedN98 commented on #544
Hey @awolad
That was it! My YAML workflow was missing the close pull request job.
Initially, I had set up the workflow for Azure Devops by following: https://docs.microsoft.com/en-gb/azure/static-web-apps/build-configuration?tabs=azure-devops#build-and-deploy
That workflow didnt have the close_pull_request_job and when I migrated from Azure Devops to Github Actions, the job was missing from my YAM

[2021-09-20 01:04] balbany commented on #81
I'm also getting this behaviour (with the clientPrincipal coming back null) when I enable the custom AAD auth option (V1 was what I could get working)... difference is that all my routes are authenticated (I don't want any part of the app to anonymously accessible). So the user _**is**_ authenticated, but the call to `/.auth/me` suggests otherwise.

So, my question now is: does using the custom aa

[2021-09-20 17:22] thibaultdaoulas commented on #392
Environment variables do not get passed either for the AzureWebApp@1 task. Does the PR solve this as well?

[2021-09-20 18:49] sebastian-lenz commented on #282
We do this kind of redirect for virtually all our sites here in Europe as we usually offer all sites in at least two different languages. The redirect happens solely on the root route "/" and forwards the user to his language, so the comment about avoiding redirects does not match here.

I've tried the approach using a Azure Function but as this redirect lives on the root of our application the 2

[2021-09-20 20:29] nategreen commented on #210
Any update on this? I was hunting for this when I asked [this question on StackOverflow](https://stackoverflow.com/questions/69260006/azure-swa-redirect-to-modified-version-of-requested-route/69260207#69260207).

[2021-09-20 22:03] yerol commented on #483
I have a SWA and a separate function app. Function app has custom auth configured with openid, token store enabled. I've linked this function app to the SWA as "bring your own". Now trying to authenticate the client SWA through function app auth.

Reading the above responses, does this mean that I can use "bring your own function app" with my static web app but I can't login to the auth provider s

[2021-09-21 23:05] jamesmaila commented on #7
For those running into the api bug @matkoch found in the latest "stable" image, you can pin this version which has api publish function working as expected...

mcr.microsoft.com/appsvc/staticappsclient@sha256:57b6be4b785eccc666462f284457b72b0c09f6f5e6d067b965750233a417fd0e

[2021-09-21 23:50] thomasgauvin commented on #59
Curious to hear how you architected your ASWA and Functions API to be protected against abuse/DDOS @justinyoo

Is there a documented way to prevent abuse of ASWA Functions API aka denial-of-wallet attack that MarkXA mentioned? @miwebst @annaji-msft Any rate limiting abilities?

From my research, the only solution seems to be to use API management with Bring-your-own functions

[2021-09-22 00:10] anthonychu commented on #584
Oryx has been updated to support RC1. Thanks @william-msft

[2021-09-22 00:20] anthonychu commented on #392
@bambinobino Not related. You'll want to create an issue here: https://github.com/microsoft/azure-pipelines-tasks/issues

[2021-09-22 08:27] p0onage commented on #151
The same issue for me, I deployed my initial Azure Function written in c# just fine, this error occurred when I started adding NuGet packages.

File structure below

│   └── workflows
│       └── azure-static-web-apps-<DEFAULT_HOSTNAME>.yml
│
├── api
│   ├── myapp.cs
│   ├── api.csproj
│   ├── host.json
│   ├── local.settings.json
│   ├── node_modules ->
│   ├── bin ->
│   ├── obj ->
│   └── packa

[2021-09-22 09:49] yoursweater commented on #392
@anthonychu I looked at the PR and it looks good! I suppose it made more sense to do the work within the task runner and using a temporary .env file rather than just doing it with bash on the docker script. Any ETA on when that'll be merged in?

[2021-09-22 13:57] anthonychu commented on #584
To clarify, this enables building .NET 6 RC1 Blazor apps. We're actively working on support for .NET 6 function apps.

[2021-09-22 14:01] anthonychu commented on #392
Have been in contact with @v-abajaj who's reaching out to folks on their team to get this merged.

[2021-09-22 14:04] anthonychu commented on #151
looks like the package.json is affecting detection of the function app language. It's rare to see that in a function app. Is it meant to be there?

[2021-09-22 14:13] p0onage commented on #151
@anthonychu I believe so, how else do you add NuGet packages? Is it different from SWA? I usually use visual studio and the in-built package manager. But here is a reference to other developers [adding the package.json](https://stackoverflow.com/questions/36411536/how-can-i-use-nuget-packages-in-my-azure-functions) to the project

[2021-09-22 22:51] evandigby opened #587 "Unauthorized (401) when calling /api endpoints using default authentication and b.y.o. function app"
**Describe the bug**

I have set up a Blazor SPA Static Web App and linked an existing functions app where all routes except `/.auth/*` require an authorized user (see `staticwebapp.config.json` below). This is not using custom authentication at all--just the default authentication and logging in with an invited/registered AAD user.

Even when authenticated all of my `/api` endpoints return `401 -

[2021-09-23 07:38] Strepto opened #588 "Request: Configure CORS for WebApp"
**Is your feature request related to a problem? Please describe.**

We are creating a solution where the files hosted on our static web app should also be available from a separate website.
Currently that is blocked by CORS, and I cannot find a way to configure it.

The use-case we have is a shared "Portal" website that is embedding different web-apps on separate domains. This means that releases

[2021-09-23 07:57] manekinekko commented on #588
@Strepto Have you tried to set up a `globalHeaders` entry in your [staticwebapp.config.json](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#example-configuration-file)?

[code]

You can also enable those headers for a specific route. See an example [in the SWA playground](https://swa-playground.wassim.dev/p#c/ewogICAgInJvdXRlcyI6IFt7CiAgICAgICAgInJvdXRlIjogIi9hcnRpY2xlcy8qLmh

[2021-09-23 10:15] Strepto commented on #588
This works great, and I did not know about this.

We would like to be able to whitelist/allowlist multiple domains. So that would be a further feature request. As far as I know the allow origin header is for a single domain at a time (OR wildcard).

[2021-09-23 10:35] michaelmoneypenny opened #589 "staticwebapp.config openIdIssuer from environment variable not working"
**Describe the bug**

We're using a static web app with Azure AD auth (our own tenant) and the current set up looks like this:

`  "auth": {

        "registration": {
          "openIdIssuer": "https://login.microsoftonline.com/xxxx-xxxxx-xxxx-xxx/v2.0",
          "clientIdSettingName": "AAD_CLIENT_ID",
          "clientSecretSettingName": "AAD_CLIENT_SECRET"

    }
  },`

Obviously the client id

[2021-09-23 13:08] Gordonby commented on #167
Didn't seem to get/see the notification for this update @anthonychu

I can confirm that the skip build flag works great.
[code]

[2021-09-23 15:05] Continuitis opened #590 "Fatal error in IL Linker 6.0.100-rc.1.21458.32"
Hello,

I did update my packages to the latest version of .NET 6 6.0.0-rc.1.21452.15 for my blazor App.
When I try to deploy via Github action I get:

  Fatal error in IL Linker
  Unhandled exception. System.NullReferenceException: Object reference not set to an instance of an object.
     at Mono.Linker.CustomAttributeSource.HasAny(ICustomAttributeProvider provider)
     at Mono.Linker.Annotation

[2021-09-23 15:09] justinyoo commented on #59
@thomasgauvin To sort out my issue, I simply used `staticwebapp.config.json`.

[code]

But not sure whether this could prevent DDoS attach or not, but at least API is not called anyway. @miwebst @annaji-msft Would you be able to confirm that the `staticwebapp.config.json` file can prevent DDoS attack?

[2021-09-23 15:57] afritz68 commented on #565
Hi Matt, I think I am searching for a similar solution. I have not succeeded but rather wanted to check if you managed to advance.

The scenario is basically to be able to skip the invitation flow and be able to batch-assign specific roles via Azure Panel or some centralized mechanism in hands of the AAD admin, roles that then can be used in routes (this is THE goal).

I managed to properly config

[2021-09-23 16:07] mattemoore commented on #565
Only thing I found was to use Netlify.

If you search in the help forums I ask this question there and get detailed answered on limits etc.

Sent from my iPhone

[2021-09-23 16:50] brocgailit opened #591 "Enable Hybrid auth flow for custom OIDC identity provider (IdentityServer 4)"
### Auth forced into Authentication Code flow when Hybrid flow is required by identity provider

Using IdentityServer 4 client which requires Hybrid grant type with Authorization Code flow (`response_type=code`) will result in an `unauthorized_client` error. Auth request type should be `code id_token` (hybrid) not `code` (authorization code) as is forced when using customOpenIdConnectProviders.

*

[2021-09-23 19:22] mmarzillo commented on #73
OK, I think I'm getting similar behavior. I have tried removing the "/" from the app_location config, but am still getting the below error either way.

Detecting platforms...
Could not detect any platform in the source directory.
Error: Could not detect the language from repo.

---End of Oryx build logs---
Oryx was unable to determine the build steps. Continuing assuming the assets in this folder

[2021-09-23 21:24] nerblock opened #592 "Can't reach api in staging environments"
**Describe the bug**

Api is unreachable in the staging environment currently. I get this response from all functions, and also when trying to open /api without adding the function name:

`{"code":401,"message":"IDX10205: Issuer validation failed. Issuer: '[PII is hidden. For more details, see https:\/\/aka.ms\/IdentityModel\/PII.]'. Did not match: validationParameters.ValidIssuer: '[PII is hidden

[2021-09-24 02:32] evandigby commented on #587
Further detail, I unlinked and completely recreated the functions app then re-linked it but that did not resolve things.

I went to using custom auth (AAD B2C) but that also didn’t resolve things.

One thing I did notice is that the first call to API after a long idle takes a long time to spin up, which I expect from a function app/app service, before it returns the 401. The static assets behind t

[2021-09-24 14:34] anthonychu commented on #589
We don’t support pulling this from a setting right now. @mkarmark @miwebst is it possible to add support for `openIdIssuerSettingName` and `wellKnownOpenIdConfiguration` for OIDC?

[2021-09-24 14:35] anthonychu commented on #589
It could also be resolved by this feature request #519

[2021-09-24 14:48] michaelmoneypenny commented on #589
@anthonychu Ah that looks like a good alternative for now, thanks

[2021-09-24 15:27] nerblock commented on #592
Update:

I created a new static web app to investigate the problem further. This is the result:

- Production environment: api calls work - no errors
- Staging environment: api calls fail with the same error as the original site:
```{"code":401,"message":"IDX10205: Issuer validation failed. Issuer: '[PII is hidden. For more details, see https:\/\/aka.ms\/IdentityModel\/PII.]'. Did not match: valid

[2021-09-24 16:41] rwaldin commented on #592
I'm seeing the exact same issue with all newly deployed staging environments as of yesterday. Environments deployed before that continue to work correctly. All environments deployed since yesterday exhibit this behavior.  Any request to /api/<anything> results in:

[2021-09-24 19:45] James-Firth commented on #162
This also happens to us quite often

I've also 👍 to show my support and mostly commenting here for anyone in the future curious if it's still an issue.

[2021-09-24 19:46] mkarmark commented on #592
Hi, this was a platform regression to staging environments calling functions such that the function calls exhibited behavior as detailed in this issue. This regression was rolled out 9/23/21 18:05UTC and has been mitigated as of 9/24/21 19:00 UTC, so any apps with managed functions that updated their staging environments in that time window were impacted. Any deployments here on out to the staging

[2021-09-24 20:33] rwaldin commented on #592
Unfortunately, I am still experiencing the exact same behavior as before your reply. I have re-deployed two separate staging environments and I am still getting the same error message when making request to any URL at /api/*:

[2021-09-24 20:40] thomaspurchas commented on #592
I'm also seeing this issue on a branch deployed 1 min ago.

[2021-09-24 20:40] nerblock commented on #592
Weird, I just created a new staging env and can confirm it's working fine for me.

[2021-09-24 20:43] thomaspurchas commented on #592
https://zealous-moss-01ebaab03-1.westeurope.azurestaticapps.net/api/

<img width="954" alt="Screenshot 2021-09-24 at 21 42 51" src="https://user-images.githubusercontent.com/782311/134737419-584f231b-f102-4e1c-a4f5-d2ecf3a30d98.png">

[2021-09-24 20:45] nerblock commented on #592
Have you tried opening a new pull request, or just pushed new commits into the branch?

[2021-09-24 20:48] thomaspurchas commented on #592
I've not tried a new PR because @mkarmark wrote

I kinda assumed that ment new deploys would fix existing environments, but maybe not

[2021-09-24 20:50] nerblock commented on #592
She probably meant new deployments of the staging environments.

[2021-09-24 20:54] nerblock commented on #592
If you guys confirm it's working for you too I'll close this.

[2021-09-24 21:01] Continuitis commented on #590
Hi,
The repo is private. But I could try to reproduce it if you want. The default Blazor Wasm project should do it I think.

[2021-09-24 21:02] rwaldin commented on #592
I can confirm that creating a new pull-request generates a new staging environment that no longer has this issue. Redeploying onto an existing staging environment does not solve the problem. Thanks for the quick fix!

[2021-09-24 21:36] nerblock commented on #592
Ok thanks everybody, closing this

[2021-09-24 21:36] #592 closed

[2021-09-25 20:09] anthonychu commented on #590
Yes a repro would be great. Thanks.

[2021-09-25 20:44] anthonychu commented on #167
This was adding during public preview and it wasn't officially announced anywhere except for updating the docs to reflect it.

For bigger features, we'll publish them on [Azure Updates](https://azure.microsoft.com/en-us/updates/). We do want to start publishing monthly/quarterly changelogs that would include smaller updates but are thinking about where to publish them. Where would you expect to se

[2021-09-26 10:34] Gordonby commented on #167
Responding/tagging on the issue is enough.
I had to stop using SWA because of this problem, so fell back to CDN + AzureStorage.

My GitHub action that targets SWA now works again, so thats good news for the future.

[2021-09-27 08:57] michaelmoneypenny commented on #519
@anthonychu #236 sounds like it may help with one of our issues - when a staging url is generated e.g. https://salmon-mountain-xxxxxxx-20.azurestaticapps.net, the "-20" isn't in the AD reply URI list so auth won't work. I read you can edit the manifest and use wildcards but this isn't recommended.

Is there another way around this?

[2021-09-27 14:01] GaryParr commented on #519
What about just doing this with variables in the config file itself?

Something like... `{dot.named.variable}` where you could use the keywords `branch` and `stage` in the dot name.  When the file is read during deployment, substitute the actual git branch name and the deployment stage (local, pre, prod) into the dot name and follow that path down the JSON structure.

For example:

`{ "route": "/l

[2021-09-27 18:11] vitek-karas commented on #590
This is a duplicate of https://github.com/dotnet/linker/issues/2274.
It should be fixed in RC2.

[2021-09-29 10:22] 0Dmitry commented on #21
I having the same issue. I don't see the X-MS-CLIENT-PRINCIPAL-ID header in http headers of my nodejs web app. I am testing on the real instance(not locally) and write all the headers to console.log. I do see Authorization header containing jwt token but no X-ms headers. Could be related to the fact that in my web app authentication settings I have "Restrict access" settings set to "Allow unauthen

[2021-09-29 10:57] DeepakR-28 commented on #340
hey @sajeetharan i am facing this same issue while deplyoing my Nextjs website as a static web app, i get the following error

`Failed to find a default file in the app artifacts folder (.next). Valid default files: index.html,Index.html.`

i also tried many possible values for the output location. none worked, hope you could help.

[2021-09-29 14:06] sajeetharan commented on #340
let's have a look!

[2021-09-29 15:47] mmarzillo opened #593 "Failed to find a default file in the app artifacts folder ERROR"
Below is the error I keep getting when I try to push a change to my static web app.

[code]

Below is what the workflow file looks like, any idea how to change this to get the deployment to succeed?

[code]

[2021-09-29 21:18] mkarmark commented on #593
If the app location isn't at the root of your repo (/) you can change the app_location value to represent the true app location. Example sample app_locations are /, src, and Client but depends on the file structure of the repo.

[2021-09-29 21:25] mkarmark commented on #587
Hi @evandigby, Could you please provide us the static web app name and we can take a look to debug!

[2021-09-30 01:40] brenoalvs commented on #512
I'm facing a similar issue but after trying to attach 2 static web apps on the same function.
After unlink them the API is completely inaccessible.

[2021-09-30 05:21] DeepakR-28 commented on #340
![image](https://user-images.githubusercontent.com/33338977/135391948-dd36ff02-6ca9-4dea-9ee5-896a8e07612a.png)
This is the error

[2021-09-30 09:40] DeepakR-28 commented on #340
Hey, i found the fix
i was running `  "build": "next build' instead of `  "build": "next build && next export"`

:)

[2021-09-30 13:41] simonaco commented on #593
@mmarzillo it looks like the app you're trying to deploy is this one https://github.com/mmarzillo/readmit-demo ?

we currently don't support mkdocs out of the box, logged a new issue [1124](https://github.com/microsoft/Oryx/issues/1124)

however you can edit your github actions workflow like I did here and your build will run successfully [example](https://github.com/simonaco/readmit-demo/blob/mai

[2021-09-30 15:37] mmarzillo commented on #593
thank you @simonaco. I used your example and updated the token and the app_location so that it looks like the below example. I'm still getting the "Failed to find a default file in the app artifacts folder..." error. I'm also including a screenshot of my directory to prove I'm not crazy.

[code]

![image](https://user-images.githubusercontent.com/6752474/135486691-5dbc3d64-25c5-4a1c-94cd-85c5128dd

[2021-09-30 17:14] sajeetharan commented on #340
@DeepakR-28 Sorry just now I noticed, glad that you've found a fix

[2021-09-30 21:07] simonaco commented on #593
@mmarzillo in your case app_location needs to be "/site" because that's where mkdocs generates the static assets and those are the ones that need to be deployed to the cloud. it's briefly documented here [build configuration](https://docs.microsoft.com/en-gb/azure/static-web-apps/build-configuration?tabs=github-actions)

[2021-09-30 21:33] mmarzillo commented on #593
Thanks @simonaco I updated app_location: "/site", but now I'm getting the below error. I'm pulling the error about the api key and I'm pulling that right from the secrets section, any guidance here?

The content server has rejected the request with: BadRequest
Reason: No matching Static Web App was found or the api key was invalid.

![image](https://user-images.githubusercontent.com/6752474/135533

[2021-09-30 21:49] simonaco commented on #593
@mmarzillo hm, that's odd. the token usually gets created automatically when the app is created in the portal. Can you still find the app in your subscription?

[2021-09-30 22:13] mmarzillo commented on #593
@simonaco errr there is no app in the portal, I'm just deploying to github pages.

[2021-10-01 04:26] ngoquoc commented on #547
We are having exactly the same issue. Is there any way to see the actual exception log? Application Insights does not help because it can not even acknowledge the requests coming in. Probably it's something happening at the proxy.

[2021-10-01 09:11] simonaco commented on #593
Yaaaay, awesome to hear that all* is working for you now! hope once we support mkdocs out of the box it will be a much smoother experience. if all is clarified would you mind closing this issue when you get the chance?

[2021-10-01 13:28] #593 closed

[2021-10-01 13:47] gomete commented on #576
Hi @sinedied,

I had the same issue. I tried to add what you suggested and there is no error if the resource already exists, but when I remove the link and try to recreate it with the template it is not created. Did you have the chance to recreate the resources from scratch? Were they recreated including the link with the backend? I'm afraid the deployment is just ignoring the property `userProvid

[2021-10-01 15:51] joslinmicrosoft commented on #558
As an update, the solution for this issue has been released. Please see the documentation at https://docs.microsoft.com/azure/static-web-apps/configuration#forwarding-gateway for instructions on configuring your Static Web App with allowed forwarded hosts.

[2021-10-01 22:10] brenoalvs opened #594 "How to properly make my SWA logout from a custom identity provider?"
I saw this similar issue and I think this is a bug.
https://github.com/Azure/static-web-apps/issues/529

But I would like to understand better if this is something that will be fixed or do we really need to make the "reverse flow" to make it work. (Logout from IdP redirecting to app logout url).

**Describe the bug**
The app does not completely logs out when we visit the /logout url with a custom

[2021-10-01 22:31] brenoalvs commented on #502
Any news on this?
Currently I think the only way to do it is by implementing this kind of logic on the app side which does not make any sense when you are using the built in auth.

[2021-10-02 13:57] shibayan commented on #558
Thanks for the quick fix. I have confirmed that setting the hostname to the newly added `forwardingGateway` solves this problem.

[2021-10-02 13:57] #558 closed

[2021-10-03 05:52] adamcrosby opened #595 "Docs unclear on Redirect URI when overriding built-in AAD authentication to downscope to single AAD tenant"
**Describe the bug**

I'm publishing a static site, generated with Hugo.  I would like my static site only visible to authenticated users in my AzureAD Tenant.
My staticwebapp.config.json is:
[code]

I configured an AAD Application, and put the AAD_CLIENT_ID and AAD_CLIENT_SECRET into 'Configuration' for the Static Web App. I configured a custom domain.
In the 'Registered App' configuration for 'A

[2021-10-03 10:26] ngoquoc commented on #547
It seems that the scopes is the game changer here, I tried adding `profile` scope and it works now.

My full config is as bellow (there are some parts might be unrelated like navigationFallback or responseOverrides but just pasting full one here just in case)
[code]

[2021-10-03 13:40] Robotuner opened #596 "Failure during distribution"
Bug occurs on Azure Static Web Apps CI/CD site.
https://github.com/Robotuner/PhotoViewer/actions?query=workflow%3A"Azure%20Static%20Web%20Apps%20CI%2FCD"%20branch%3Amaster

This morning, I had one successful built then started getting errors on subsequent builds.  Looking at the Build and deploy log, I see two errors.  The first is
Error: Could not detect language from repo.
I believe I have seen

[2021-10-04 03:42] anthonychu commented on #595
What is the link you are using for login?

Did you set the `post_login_redirect_uri` to the callback URL? That’s not necessary and we can clarify this in the docs.

[2021-10-04 05:14] gat786 commented on #596
The repository you have linked is a private repository. So it gives 404 on visit.

[2021-10-04 09:12] Chw-Lho commented on #596
I am also running into this issue, with a pipeline that worked 3 days ago and hasn't been changed since.
It could seem like something is broken?

[2021-10-04 10:16] artigat1 commented on #596
I'm seeing this behaviour today with a repo that has worked fine for a couple of months.

[2021-10-04 11:42] arnoldboersma commented on #596
I'm also running into the same issue, while this worked this weekend.

[2021-10-04 12:32] arnoldboersma commented on #596
Duplicate of #586

[2021-10-04 13:10] simonaco commented on #373
@plamber @ozkary you can now configure your static web apps to allow access only from your Azure Front Door instance, check out steps here and let us know if you have any feedback please [Add Azure Frontdoor](https://docs.microsoft.com/azure/static-web-apps/front-door-manual#update-static-web-app-configuration)

[2021-10-04 13:15] simonaco commented on #281
@MichaelRoger a quick update on this thread, you can now restrict access to your application from specific ip ranges, see steps on how to configure this on the [Networking](https://docs.microsoft.com/azure/static-web-apps/configuration#networking) page. Thank you for raising this!

[2021-10-04 15:24] miwebst commented on #596
Yes this is an Azure issue, we are working with the responsible team to fix things as soon as possible. Sorry for the inconvenience, I'll post updates here as I have them.

[2021-10-04 15:25] miwebst commented on #596
Also closing the other issue as they are distinct issues with the same error message. We can use this one (active one) for tracking.

[2021-10-04 15:26] miwebst commented on #586
This was an Azure issue that was fixed. Closing for now as this error code is a generic error we throw if something went wrong during global replication.

[2021-10-04 15:26] #586 closed

[2021-10-04 15:47] brenoalvs commented on #518
@manekinekko Many thanks for your help!! This helped us a lot in design our tests.
I think the way you encode the cookies to mock worths at least a note in the docs.

But in our case the auth provider is a FusionAuth instance maintained by our company, so we wanted to test it in the flow too.

What we've done:
We created a Selenium setup script that logs in and saves the real cookie from the app i

[2021-10-04 15:47] #518 closed

[2021-10-04 17:25] mkarmark commented on #594
Hi, we are taking a look at this issue and will post about a potential mitigation plan when we figure out the issue.

[2021-10-04 18:49] miwebst commented on #596
The responsible team has rolled out an initial mitigation. We are seeing positive numbers on our side, can anyone affected retry and see if they are still affected?

[2021-10-04 18:55] Robotuner commented on #596
It succeed building and deploying the last failed job for me.

Thank you.

From: miwebst
Sent: Monday, October 4, 2021 11:50 AM
To: Azure/static-web-apps
Cc: Leonard Kong; Author
Subject: Re: [Azure/static-web-apps] Failure during distribution (#596)

The responsible team has rolled out an initial mitigation. We are seeing positive numbers on our side, can anyone affected retry and see if they are

[2021-10-04 19:01] Chw-Lho commented on #596
It's working for me as well, thanks!

[2021-10-04 19:01] arnoldboersma commented on #596
The same here! thanks for the quick action!
![image](https://user-images.githubusercontent.com/7750558/135908960-a973995c-5778-4204-ba14-710151b34f39.png)

[2021-10-04 23:00] raimonade opened #597 "An unknown exception has occurred"
Bug occurs on Azure Static Web Apps CI/CD, specifically release pipeline.

All day haven't been succesful in making builds completed. Even months old releases that have been succesful just fail. Might be related to [this issue](https://github.com/Azure/static-web-apps/issues/596) but since it's a different error message thought to post it, because ppl who had issues in that thread were succesful a

[2021-10-05 08:58] jon-a-nygaard opened #598 "Handle error codes in authentication callbacks"
**Is your feature request related to a problem? Please describe.**
I am trying to integrate custom authentication in Azure SWA, in my case Azure AD B2C, using the documentation provided at [Configure a custom OpenID Connect provider](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad#configure-a-custom-openid-connect-provider). This works well when the user compl

[2021-10-05 10:08] adrwh commented on #569
Hi thanks for this article. I am sending custom claims in the openid auth app from Okta. I can access those claims when using Okta SDKs and typical ExpressJS apps, but how can I access them in SWA?

[2021-10-05 10:20] adrwh commented on #481
Hi thanks for this article. I am sending a custom claims in the openid auth app from Okta. I can access those claims when using Okta SDKs and typical ExpressJS apps, but how can I access them in SWA?

[2021-10-05 11:05] plamber commented on #373
Thank you @simonaco.
Do you have some recommendations how provision these settings using an ARM or bicep template?

[2021-10-05 13:32] the-mikael-johansson commented on #277
I'm using multi-stage pipelines in YAML files and also had this issue. Here is how i solved it:

I had to download the artifact manually by using DownloadPipelineArtifact@2 instead of using the auto-created task that downloads to Pipeline.Workspace (/home/vsts/work/1/). By downloading the artifact to a relative path and use that relative path (relative to the task's execution path) I could re-use

[2021-10-05 16:26] mkarmark commented on #597
Hi, the error message for the Failure during content distribution issue looks different than what you have pasted and the content distribution issue should have been mitigated. Could you provide us with a sitename and we can investigate with the logs on our end? Thanks!

[2021-10-06 08:04] raimonade commented on #597
Can I Email it or something? The project is private and I wouldn't want to post it in public

[2021-10-06 08:12] michaelmoneypenny opened #599 "azure AD reply URLs and generated staging envs"
**Is your feature request related to a problem? Please describe.**
We're using our company AD tenant with static apps and the setup was really easy. My only issue is the generated/staging addresses aren't in the list of AD reply urls e.g. https://salmon-mountain-xxxxxxx-20.azurestaticapps.net/

Is there a way to avoid using wildcards at this point or is there something coming in the future? We'd l

[2021-10-06 16:21] shibayan opened #600 "Link a normal App Service (Web App / API app) as a BYOF"
**Is your feature request related to a problem? Please describe.**

There are cases where you want to use a backend developed with an already existing Web API framework such as ASP.NET Core Web API as a backend for Static Web App.

**Describe the solution you'd like**

I want to use a complex and numerous Web API as a backend (under `/api`) while using Static Web App's route definition to static c

[2021-10-07 00:03] anthonychu commented on #595
OK I wanted to confirm that you were not setting `post_login_redirect_uri`. Thanks for confirming that.

Can you clarify when you mean by "that URL" when you said `and then redirects to that URL which is just an empty page`? What is the URL in the location bar when the blank page appears?

@mkarmark Do you know what might be happening here?

[2021-10-07 07:25] cadelina13 opened #601 "Blazor WASM 'dotnet-isolated' is unsupported or invalid"
I don't know if I'm in the wrong thread but I can't find any solution on my problem.

I am using Blazor wasm and publish to azure static web with github integration, I have been publishing to github CI/CD for almost a month now then this problem came.

Function Runtime Information. OS: Windows, Functions Runtime: v3, .NET Core version: 5.0
Finished building function app with Oryx
Zipping Api Artif

[2021-10-07 12:49] guptayash opened #602 "How to restrict static web app to accept traffic from two frontdoor instances?"
Recently I was trying to restrict my static web app to accept traffic from frontdoor only. I found this [article](https://docs.microsoft.com/en-us/azure/static-web-apps/front-door-manual#update-static-web-app-configuration)

Is there any way I can configure two frontdoor IDs in the required header? Something like this -

[code]

[2021-10-07 14:41] AverageCakeSlice commented on #481
@anthonychu pretty much exactly what @adrwh said. It sounds like you guys are already working on it though. Right now I have a really convoluted role-checking service. I'd ideally like to be able to use the custom roles to prevent function execution using something like `allowedRoles: ['administrator', 'member', 'guest']` which would be retrieved from the claim. As it currently stands, I have to a

[2021-10-08 00:08] anthonychu commented on #601
We will need more information to troubleshoot. Can you share the contents of csproj file for the function app? You can remove any information you don’t want shared.

[2021-10-08 15:00] indcoder opened #603 "GH action failing: Cannot find default index file [wwwroot]"
**Describe the bug**

The project compiles on the local desktop with the SWA CLI but when pushed to GH , the actions fail with the error mentioning that default index file cannot be found in the wwwroot

https://github.com/indcoder/Visage/runs/3839606420?check_suite_focus=true

A clear and concise description of what the bug is.

**To Reproduce**

We are converting an existing React app to use Bla

[2021-10-08 16:10] joslinmicrosoft commented on #597
We've rolled out a fix for this issue. @raimonade @pstepniewskiconfigit can you please check if your builds/deployments are now working again? Thanks!

[2021-10-08 16:51] raimonade commented on #597
Yeah, just tried to deploy the app, works great, thank you!  @joslinmicrosoft

[2021-10-08 18:05] danillo10 commented on #73
@mmarzillo same here

[2021-10-08 23:12] IeuanPayne opened #604 "Azure DevOps yaml doesn't support staging environments?"
**Describe the bug**

Hello,

I have recently started looking at the use of Azure SWA's for my Org and we use Azure DevOps for our source control. I have been looking at the docs to see how I can use environments for deploying staging code for non-prod before promoting to prod (and being available to external customers)

Im not sure if its due to the lack of knowledge for this system or there is a

[2021-10-08 23:36] cadelina13 commented on #601
thank you so much! i figured it out yesterday and I forgot to update here. I setup my github to ignore my ASP.NET Core API from pushing now it is successfully run on github action. I will close this issue now. God bless!

[2021-10-08 23:36] #601 closed

[2021-10-09 01:10] #252 closed

[2021-10-09 23:16] #597 closed

[2021-10-09 23:21] #596 closed

[2021-10-09 23:24] #281 closed

[2021-10-09 23:26] anthonychu commented on #547
Looks like we might be able to improve this in docs. @craigshoemaker @simonaco @mkarmark

[2021-10-10 12:17] IeuanPayne commented on #604
Just wanted to add my end goal:

So basically I would like to configure a blue green deployment for SWA's

So if the way I'm looking at it currently wont work. I'm open to suggestions.

[2021-10-10 13:17] rndwork opened #605 "How to set up redirects properly for the site on Azure Static Webapp using Jekyll"
Hi all! We made a static website using Jekyll on Azure Static Webapp and faced a dilemma on how to properly set up different types of redirects necessary for SEO and not only.

Some of the main redirects that we need are:

1. **Support Non-Trailing Slash Urls** - redirect the Urls with / at the end to the url without it
2. **Remove .html** - by default the same pages on jekyll are accessible both

[2021-10-10 21:17] anthonychu commented on #604
What aspects of blue-green deployment are important to you?

Our deployments are atomic, so you should get the instantaneous “swap” behavior that you’d achieve with blue-green.

We don’t support environments in Azure DevOps yet. But that is how we plan on supporting previewing a site before taking it live.

We don’t yet have plans to support quickly swapping in a previously deployed version withou

[2021-10-10 21:19] anthonychu commented on #605
Saw this after responding to you question in Q&A. Pasting my comment here:

We’re working on some new settings that should help with this.

For 1 and 2 above, sound like you have a file at /foo.html and you are looking for this behavior:
Requests to /foo serves the page.
Requests to /foo/ redirects to /foo.
Requests to /foo.html redirects to /foo.

Can you confirm that this is what you’re looking

[2021-10-11 09:43] adrwh opened #606 "How to debug using vscode"
Hi apologies as this isn't a bug, rather I just need support. I can debug all other things in vscode, but I cannot work out how to debug the swa app and back end functions. I have break points everywhere and cannot hit them.

Im using a vanilla html client and Azure function API backend.

i test locally using the swa cli, now I just need to know how to get it to stop at my breakpoints.

[2021-10-11 21:59] chan-vince commented on #134
Any update on this since we've been GA for quite a few months now?

[2021-10-12 04:35] capyash commented on #427
@miwebst, I'm having some issues sharing this with you as my company's security folks are hesitant about sharing everything. What do you need, exactly?

[2021-10-12 08:38] sinedied opened #607 "Explicitely enable auth providers instead of disabling them"
**Is your feature request related to a problem? Please describe.**
Currently, if you want to restrict which auth provider you want to use on your app you have to create `404` routes for every provider you want to disable: https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization?tabs=invitations#block-an-authorization-provider

To be honest, this feels more like a hack th

[2021-10-12 13:03] sinedied opened #608 "[Bicep/ARM] Cannot set custom domain"
**Describe the bug**

I'm trying to create a SWA from scratch using Bicep, and setting custom domains the same way.

My template looks like this for the SWA part:

[code]

I would like to use TXT validation for validating the domain names, as seen here in the template.
I have 2 issues doing that:

- I don't know how to get the generated token code, so I can put in the Azure DNS template. I found n

[2021-10-12 13:20] sinedied opened #609 "[Bug] Cannot generate TXT validation code if custom domain is already used"
**Describe the bug**

I'm trying to migrate a custom domain I own, currently used on a SWA created for a test environment, to another SWA used for production.

When I'm trying to generate the TXT validation code in the production SWA, I get this error:
![image](https://user-images.githubusercontent.com/593151/136962828-cf0a8293-a974-4d5f-b0f9-a72b369f696e.png)

The error exists whether CNAME or TX

[2021-10-13 07:52] sinedied commented on #607
As a default it's fair to have all providers enabled, no argue with that. The restriction would only occur when you add the `allowedAuthProviders` property in your config. Having an `allowedAuthProviders` would not only reduce the complexity, but more importantly ensure that **only the providers listed** are enabled, even I new ones are added in SWA along the road which I think is the most importa

[2021-10-13 21:11] #606 closed, assigned to nobody

[2021-10-13 23:34] anthonychu commented on #565
We've just released a new feature that allows you to programmatically assign roles. I think it should unblock the scenarios in this thread. See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details.

@mattemoore Sorry you had trouble configuring AAD. We've added a [tutorial](https://docs.microsoft.com/azure

[2021-10-13 23:38] anthonychu commented on #481
Here's the newly released feature that allows you to programmatically assign roles. I think it should unblock the scenarios in this thread. See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details. There's also a [tutorial](https://docs.microsoft.com/azure/static-web-apps/assign-roles-microsoft-graph) with

[2021-10-13 23:42] anthonychu commented on #415
We released the feature to programmatically assign roles with a function. See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details. There's also a [tutorial](https://docs.microsoft.com/azure/static-web-apps/assign-roles-microsoft-graph) with a sample app.

Currently you can use this function to assign role

[2021-10-13 23:44] anthonychu commented on #134
We released the feature to programmatically assign roles with a function. This allows you flexibility in how you want to manage roles and you're not restricted in the number of users who can have custom roles.

See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details. There's also a [tutorial](https://docs

[2021-10-13 23:46] anthonychu commented on #200
@GaryParr  We released the feature to programmatically assign roles with a function that should address your scenario. This allows you flexibility in how you want to manage roles and you're not restricted in the number of users who can have custom roles.

See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more de

[2021-10-13 23:50] anthonychu commented on #556
We released the feature to programmatically assign roles with a function. Within the function, you have access to the token from the IdP. See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details. There's also a [tutorial](https://docs.microsoft.com/azure/static-web-apps/assign-roles-microsoft-graph) with a

[2021-10-13 23:57] anthonychu commented on #189
We released a feature to programmatically assign roles with a function. Within the function, you have access to the token from the IdP. See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details. There's also a [tutorial](https://docs.microsoft.com/azure/static-web-apps/assign-roles-microsoft-graph) with a s

[2021-10-14 00:00] anthonychu commented on #24
In addition to OpenID Connect support, we just released a feature to programmatically assign roles with a function. Within the function, you can look up user/role information from your own database or some other API. See the [documentation](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function#role-management) for more details. There's also a [tutorial](https:

[2021-10-14 00:20] chan-vince commented on #134
Thanks for clarifying - I was under the impression that the 25 user limit also applied to the Azure Functions, as it currently states on [the quotas page](https://docs.microsoft.com/en-gb/azure/static-web-apps/quotas).

For what it's worth it would still be desirable to have AAD integration so that roles/groups can be mastered there. But I can understand that the feature design & segmentation is c

[2021-10-14 01:01] anthonychu commented on #134
Thanks for pointing that out. I’ll update that page!

[2021-10-14 01:08] adrwh opened #610 "Issues with CORS"
Hello, i have a simple SWA app, with a route configured to redirect to another domain, thats right, it's a URL Shortner app.

* A user types https://my-swa-app-domain/abc into their browser.
* My index.html grabs the `shortCode` from the address bar and makes a Fetch() request to the API, using route data.
  * Note, i have cosmosDB bindings configured
* The API grabs data from Cosmos, which includ

[2021-10-14 09:19] hrazmsft commented on #189
Yes, sounds good

[2021-10-14 09:34] svdHero opened #611 "Possibility to retrieve auto-generated pre-production URL within Azure DevOps pipeline run"
**Is your feature request related to a problem? Please describe.**
This is a feature request that is related to #497.

We are using Azure Pipelines in Azure DevOps for CI/CD and want to implement dynamic deployment of Pull Requests. When using the pipeline task `AzureStaticWebApp@0`, I cannot specify the deployment slot / pre-production URL and I cannot retrieve it from anywhere.

Apparently, with

[2021-10-14 14:37] olitomlinson commented on #415
In which case I'm really struggling to see the value proposition of the built-in providers, which are actually the absolute golden feature of SWA - as me and a few others in this thread have mentioned earlier.

[2021-10-15 04:00] adrwh opened #612 "Using both "in" and "out" bindings in the same API request"
I have an API setup with both the in and out cosmosDB bindings, the "in" works fine, but the "out" seems to be ignored completely, no errors.

`function.json`

[code]
`index.js` Function Code

[code]

The `inBinding` works fine, it queries the database and returns results, but the `outBinding` is as if its not there.  It does not fire/work/execute at all, seemingly..

Any clues?

[2021-10-15 04:19] #612 closed

[2021-10-15 08:52] danbasszeti commented on #553
Just hit this bug with my content-disposition header being stripped off. Is there any workaround I can do?

[2021-10-16 23:07] anthonychu commented on #553
@miwebst @mkarmark Could you please take a look?

[2021-10-16 23:18] anthonychu commented on #415
Most requests for this feature have been from folks who need to use the access token or claims, so the custom auth requirement is reasonable. Question is whether their is still use for this feature with built-in auth if you can only access the userDetails field.

[2021-10-16 23:20] anthonychu commented on #429
@miwebst Can you see if it’s possible to support this?

[2021-10-17 22:35] itpropro commented on #611
I think it was already mentioned in the other issue that it is not possible to implement due to platform differences between GitHub and Azure DevOps. So if that is still the case (@mkarmark ?) maybe there is a way to use GitHub for your source code/pipelines instead.
It seems like Azure DevOps will always be behind or not be considered for newer features/fixes not only for SWA, but for many newer

[2021-10-17 22:49] mfcollins3 opened #613 "Deployment fails for private or internal (GitHub Enterprise) repo"
**Describe the bug**

I used a Bicep ARM template to create a static web app in a resource group. When running the template another time after making updates to other resources in my template or adding new resources, the static web app resource fails to update. I receive this error:

[code]

The repo that is being linked to the static web app is an **internal** repository in my company's GitHub En

[2021-10-18 00:23] aaronpowell commented on #572
From having a bit of a look into this, I don't think that it's supported, or there's a way to use that parameter presently. Since the integration with Auth0 is via the OIDC well-known endpoint, it can really only rely on what is published via that, there's no way to tell it to add custom stuff to the endpoint.

[2021-10-18 13:02] Krolken opened #614 "401 Unauthorized on a linked function app HttpTrigger, authLevel=function"
**Describe the bug**

I have a linked function app to a SWA. This works great. I set the `authLevel` to `anonymous` and it works perfectly with the SWA.

But now I want to add some other triggers than just the SWA. For example responding to a Zapier webhook.
So I create a new function with a HttpTrigger and sets the `authLevel` to `function`. But when testing (from Postman)  I only get 401 unautho

[2021-10-18 20:40] rob-balfre commented on #390
@geoffrich that's amazing work!  Thanks for sharing

[2021-10-20 19:05] olitomlinson commented on #415
@anthonychu

I'm not dismissing the need for the custom auth requirement, all I'm saying is that we want this for the built-in providers.

I don't quite follow your rationale for why this is a challenge for implementing this for built-in providers. Can you help me understand please? Thanks!

[2021-10-21 14:00] ehrnst opened #615 "Restrict all sites with custom provider"
I hava a static web app where I want to restrict access to all sites, including `index.html`. I have set up a custom AAD provider and I want everyone in my organization to be able to log in.

I am trying to figure out if this is even possible or not. During deployment I get the following error

`Encountered an issue while validating staticwebapp.config.json: A route is covered up by a wildcard rou

[2021-10-21 16:18] ehrnst commented on #615
I see. It had to be something like that. I will try again tomorrow.

Thanks!

On Thu, 21 Oct 2021 at 17:50, miwebst ***@***.***> wrote:

[2021-10-22 06:57] #615 closed, assigned to nobody

[2021-10-23 06:57] adrwh opened #616 "Multiple routes or multiple functions?"
Hi, I have looked but can't find good guidance in the documentation.

I'm unsure of this should be one function with multiple routes, or multiple functions, each servicing a single route.

`/api/products/{id}`

Here I want the following routes.

GET `/api/products`
POST `/api/products`
GET `/api/products/{id}`
PUT `/api/products/{id}`
DELETE `/api/products/{id}`

What's the best practice, is this

[2021-10-23 22:35] #616 closed, assigned to nobody

[2021-10-26 06:19] glav opened #617 "Static Web App using AAD custom auth fails to finish redirect flow at '.auth/login/aad/callback' step"
We have a static web app on standard plan.
It is a Vuepress site.
We have enabled custom auth in the configuration file as shown below:
[code]
The app has a custom host name defined: 'rapid-docs.purple.tech' however the problem is present for the auto generated host name as well.
The app registration has a redirect uri for ./auth/login/aad/callback for both domain names:
![MicrosoftTeams-image](ht

[2021-10-26 10:35] flodan-tresmo opened #618 "Function response headers not preserved"
**Describe the bug**

I am calling an Azure Function that runs inside the Azure Static Web App instance from a React frontend that also runs inside the Azure Static Web App instance. This function sets custom response headers but these headers do not show up in the response inside the frontend (the response headers seem to be overwritten somehow). This behaviour only occurs when I deploy the Stati

[2021-10-27 03:13] #617 closed, assigned to nobody

[2021-10-29 01:46] Zhiyuan-Amos opened #619 "Azure Functions + .NET 6"
Hello! Based on this [documentation](https://docs.microsoft.com/en-us/azure/static-web-apps/apis#constraints):

I am aware that Azure Functions 4.0 is in Preview and it supports .NET 6. Do you know if Static Web Apps will support Azure Functions 4.0 (and thus .NET 6) when .NET 6 is released on November 9th?

Thank you!

[2021-10-30 10:25] rhalaly opened #620 "[Feature request] Auto generate backend service"
**Is your feature request related to a problem? Please describe.**
Azure Static Web Apps is an awesome service. The deployment process and the Azure Functions backend are super cool and super easy to use.

But one thing is frustrating - the backend side. Adding a basic functionality that evolves DB (super common), makes things a little bit complex: Adding separate Azure Resource of CosmosDB or SQL

[2021-10-31 16:36] rndwork commented on #605
Can anybody assist with this?

[2021-10-31 18:24] anthonychu commented on #605
Can you provide more details? If the repo is public, can you link to that?

[2021-11-01 07:53] rndwork commented on #605
The 404 redirect is fixed already, thanks. I just left only 404 redirect and removed this one:
[code]
I think it caused the logic I described above.

In case I want to permanently redirect from site.com/index.html (the duplicate of the main page) to site.com, should I add this redirect only:
[code]
Is it the right way to implement simple 301 redirect?

[2021-11-01 19:35] joaocolombo commented on #245
Same problem, the message was not related with the problem... some hours in tests and research lost

[2021-11-02 15:04] smakinson commented on #519
In my experimenting for #196 I have a node script that runs before the site build that generates `staticwebapp.config.json` based on another file `staticwebapp.config.common.json` and adds a route & changes the navigationFallback based on an env var. I had been wondering (but have been distracted) if there could be a better way. This issue looks interesting, but I was also wondering....what if `st