[2021-11-02 15:45] rumurillo commented on #392
Now that the related [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15353) is merged, does that mean it's now possible to pass in environment variables to Azure DevOps task?

[2021-11-02 19:26] anthonychu commented on #519
This is an interesting idea to consider for JavaScript apps. We do support non-JavaScript frameworks and static site generators so we would still need a language agnostic way to do this.

[2021-11-02 19:55] smakinson commented on #24
@anthonychu Is the custom identity provider setup meant to allow end users to be created/stored with something like strapi or wordpress? If so, would users be able to sign up from a static web app site, login via `/.auth/login/strapiProvider`? And roles would all need to be handled via that new feature above?

[2021-11-02 22:37] Azuredevmuc commented on #428
Uff - i was working for hours before i found that issue and it won't work. This is a must have in the docs pls!
If not in KeyVault Docs - it should be in the SWA docs.
Could save hours!
Thanks!

[2021-11-02 22:53] andyblack19 commented on #448
This is not a great solution for single-page apps, where the /index.html page might be in use for a long period of time. I'd have expected that 'previous' static files would remain in the edge node cache for a configurable amount of time, where they're not included in a subsequent deployment.

I think we're going to have to get around this by putting Front Door in front of the ASWA, in which case

[2021-11-02 22:54] Azuredevmuc commented on #428
Sorry for addng another one to this: https://github.com/MicrosoftDocs/azure-docs/issues/77471
Is very interesting - and if you go here: https://docs.microsoft.com/en-us/azure/static-web-apps/key-vault-secrets
you can read how it should work, but in fact is not.

[2021-11-02 23:36] anthonychu commented on #24
It doesn't look like Strapi exposes itself as an OpenID Connect provider, so there might be no way to integrate it with Static Web Apps auth. You can try to instead use Strapi directly for auth and use Static Web Apps to serve your site's static assets.
/cc @simonaco

[2021-11-03 00:56] smakinson commented on #580
@miwebst @mkarmark I apologize for the ping, this one just really hurts with the original url missing. Completely blocks.

[2021-11-03 02:21] miwebst commented on #580
This was actually fixed over a month ago (sorry, looks like we missed updating this issue) so now you can do this either through routes like so:
`{
  "routes": [
    {
      "route": "/images/*",
      "rewrite": "/api/ssr"
    }
  ]
}`

Or you can use the navigation fallbacks as shown in @flixcor 's example in the initial post. In both scenarios, the `x-ms-original-url` header will contain the or

[2021-11-03 03:07] plamber commented on #448
@andyblack19 and @anthonychu

We solved our problem by uploading all incremental files to a storage account to keep track of the old assets. The contents of this storage account are then pushed to the Static Web App.

This is a workaround but at least we won't have any file missing on our client applications.

[2021-11-03 06:49] chris-digitise commented on #618
Dupe of #553 ?

[2021-11-03 11:49] futuredesignUK commented on #516
Thanks to @RossMurr4y for the workaround, that sorted out my problem.

Was getting the error on an ADO pipeline

[code]
adding the Azure CLI task below has sorted it

[code]
I guess the Static Web Apps are more geared for GitHub actions than ADO

[2021-11-03 12:16] smakinson commented on #580
That is great news! I'll check it out!

[2021-11-03 14:07] mishapos commented on #502
We now support adding "post_login_redirect_uri=.referrer" to achieve the behavior of redirecting back to the page before the login flow started. Query parameters and fragments are not supported though.

[2021-11-03 17:13] mishapos commented on #435
Post_login_redirect_uri and post_logout_redirect_uri should now support query parameters. Make sure to encode them before appending to the route rule if using a redirect. For example:

[code]

[2021-11-03 18:02] AjayKumar-MSFT commented on #605
rndwork, Thanks for the update and follow-up. @anthonychu, Any further comments on this is appreciated.

[2021-11-03 20:31] smakinson commented on #580
@miwebst  Did a quick check and it looks like `req.headers['x-ms-original-url']` is correct on azure, but not correct yet locally with `swa`. Is that accurate?

[2021-11-03 20:34] mobiotwin opened #621 "Facebook authentication"
Hi,

I have an static web app that uses Facebook and Google to login.

I already upgraded my app to Standard plan.
also I already created `staticwebapp.config.json` and add the following

[code]

Already added the IDs and secrets on the application settings.

Google login works fine
but Facebook does not work it return the following

![MicrosoftTeams-image (4)](https://user-images.githubuserconten

[2021-11-03 21:54] miwebst commented on #580
`req.originalUrl` is unfortunately not something we can set, so you need to use the `x-ms-original-url ` header. As for support in the local experience, that may be something we need to add. We will look at adding that.

[2021-11-03 23:10] anthonychu commented on #580
Created this issue to track in the CLI. @smakinson  if you have more details, please add to that issue: https://github.com/Azure/static-web-apps-cli/issues/337 Thanks

[2021-11-03 23:11] anthonychu commented on #605
Yes that looks correct. Is it working?

[2021-11-03 23:30] Roger-Sa commented on #502
@mishapos
What is the correct usage exactly?

Tried this in staticwebapp.config.json:
[code]

But get redirected to **.../.auth/.referrer**

[2021-11-04 02:52] msardi23 commented on #502
I appended "?post_login_redirect_uri=.referrer" to a page in my site to quickly test this out. However, even with this additional parameter it still dropped me back to my sites home page.  My site is using the AAD authentication provider. Is this new feature still rolling out across Azure regions? Is there any other configuration needed to get this working?

[2021-11-04 05:03] anthonychu commented on #502
This is a fairly new feature and we're waiting for query string support to be added, so we haven't documented it yet. You can only use it in a response override:

[code]

[2021-11-04 09:51] Roger-Sa commented on #502
Awesome! It works!

[2021-11-04 09:51] #502 closed

[2021-11-04 21:34] flixcor commented on #580
Great, thanks a lot!

[2021-11-04 21:34] #580 closed

[2021-11-05 03:18] msardi23 commented on #502
This is great and works once changes are pushed back to Azure Static Apps service.
However, the local auth emulator fails / hangs when the app is run locally with the swa cli.
Is there a fix in the works for the swa cli or a work around available?

[2021-11-05 06:02] adam-javelin opened #622 "Static Web App ------ Deployment Failure Reason: Failed to deploy the Azure Functions."
Static Web app was running fine. Did a code push and now the stack is down and I cannot figure out why. I tried re-running the build but it always fails the same.

build below

---End of Oryx build logs---
Function Runtime Information. OS: Linux, Functions Runtime: v3, Node version: 12.X
Finished building function app with Oryx
Zipping Api Artifacts
Done Zipping Api Artifacts
Zipping App Artifacts

[2021-11-05 13:59] RYOSKATE commented on #404
@miwebst Do you have any plans to address this issue?
I would also like to use Twitter authentication, but I'm worried that there are too many required permissions.

[2021-11-05 15:46] adam-javelin commented on #622
[logs_356.zip](https://github.com/Azure/static-web-apps/files/7487254/logs_356.zip)
Here are my logs.

This has been working for several months. Then out of nowhere lastnight it just wouldn't build anymore.

[2021-11-05 16:21] joslinmicrosoft commented on #622
Hi @adam-javelin, sorry for the inconvenience! If you retry the deployment now do you still see errors? It seems like last night we had some issues deploying to Azure Functions, but they seem to have been resolved.

[2021-11-05 16:29] adam-javelin commented on #622
Thanks @joslinmicrosoft I did try a pull request to test a branch. I will update when I can get dev to build successfully. ATM dev is somehow working even the Azure Portal says its not. I'm hesitant to re-build right now because we have some users testing right now. I will build it again later today and post back. Thanks for your prompt reply.

[2021-11-05 16:46] joslinmicrosoft commented on #622
Good to hear the PR works! When you say that Portal says it's not working, do you mean within the Environments section it says "Failed" under the status? Just to clarify there, that status is about the latest deployment attempt, not the status of the live app. Failed builds/deployments do not update the app, so your currently live app should reflect the changes from your last _successful_ deployme

[2021-11-05 17:17] adam-javelin commented on #622
Ok its all good now just built to main and 👍 .

[2021-11-05 19:46] gdurandrexel commented on #600
I would very much like to have this feature too.
And also the ability to deploy using a Release pipeline only (with approvals and so on).

Basically what I miss in Azure is a hosting solution for SPA:
- that can be handled exactly as a Web App: created with ARM, built with azure-pipelines.yml and deployed with a Release pipeline.
- with any resource as API backend (in my case a Web App, which also

[2021-11-05 19:52] miwebst commented on #600
This is the right project for hosting SPA's. Today you can do all of the points you listed above with the exception that you currently need to use an Azure Function as the API backend.

@shibayan, this is a good ask and something we will take into consideration.

[2021-11-06 06:06] shibayan commented on #600
@miwebst Thanks. For small SPA applications, Azure Functions (HttpTrigger and Event driven) are sufficient, but for feature-rich SPAs, I often want to use the Web API framework.

[2021-11-06 15:50] andreracz commented on #346
Since this is an app service, it should be possible to set the URL, as you do for function apps and regular web apps, a parameter in the cli and in the portal would be the ideal.

[2021-11-06 23:21] anthonychu commented on #621
@mkarmark Do you know if there’s any additional config that’s needed to make this work?

[2021-11-07 14:41] itpropro commented on #581
Hey, @mkarmark, any updates on support for authentication/authorization and bring your own functions on pre-production enviroments?

[2021-11-07 18:48] bartusz01 commented on #525
LGTM, managed to authorize users from specific AAD groups only on my SWA.

[2021-11-07 19:47] pilotkid commented on #162
I have the same issue in Nov 2021

[2021-11-08 04:14] kiranpradeep commented on #435
The parameters needs to be passed from code - in above example - it is hardcoded in staticwebappconfig.json. Atleast with local development (`swa start`), it still does not work.

[2021-11-08 07:20] itpropro opened #623 "Change Node.js version of integrated Function App"
I have multiple projects that require Node 14 or Node 16. How can I change the Node version of the integrated Function App in free tier (without using my own Function App)?

[2021-11-08 08:43] tomaustin700 opened #624 "Deploying Index.html succeeds however isn't served due to case sensitive file system"
If a site is deployed and the index page is Index.html instead of index.html everything looks to have deployed correctly however Azure will just return 404 when navigating to the static web app. After discussing with @anthonychu on Twitter this is due to file system being case sensitive and the check for index.html is not case sensitive.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a

[2021-11-08 14:38] itpropro commented on #623
Thanks for the update, do you already know, if it will be possible to update existing SWAs? I would then deploy the projects with bring your own function app and switch to the integrated one as soon as its availble.

[2021-11-08 14:57] anthonychu commented on #623
Yes. We’ll give you a way to specify what version to use.

[2021-11-08 16:59] danbasszeti commented on #553
Hi - for anyone affected by this, if you are using an anchor or button to direct the user to the API url and are trying to use the Content-Disposition header to set the filename etc, then you can achieve this by setting the 'download' attribute on the anchor or button to something with the correct filename. This enabled my users browsers to recognize the downloads as CSV's and open in Excel. Detai

[2021-11-08 20:05] anthonychu commented on #619
You can now deploy .NET 6 function apps (in-process or isolated) to Azure Static Web Apps! See [blog post](https://techcommunity.microsoft.com/t5/apps-on-azure/full-stack-net-6-apps-with-blazor-webassembly-and-azure-static/ba-p/2933428) for more information.

[2021-11-08 20:06] anthonychu commented on #452
You can now deploy .NET 6 Blazor WebAssembly apps, including those that use AOT, to Azure Static Web Apps! Blazor WebAssembly is automatically detected and the `wasm-tools` workload is automatically installed. See [blog post](https://techcommunity.microsoft.com/t5/apps-on-azure/full-stack-net-6-apps-with-blazor-webassembly-and-azure-static/ba-p/2933428) for more information.

[2021-11-08 20:38] loganmarshall1 commented on #452
Fantastic this is amazing going to try it out in production right now :)￼

[2021-11-08 22:34] Gabswim commented on #621
I am experiencing the same issue.

After upgrading my to `staticwebapp.config.json`:

[code]
I am getting the same error. I notice that by default the `email` is not asked for the Facebook login (see image below).  Is this something that I can configure on my end, or it should be configured in Azure static web apps?
<img width="1770" alt="Screen Shot 2021-11-08 at 5 28 32 PM" src="https://user-ima

[2021-11-09 00:24] loganmarshall1 commented on #452
Hi @anthonychu

Works Great! 1 more question... ;)... Current Azure DevOps message is...

`Oryx has timed out while building app, the current limit is 15 minutes. Failing build.`

AOT'd 154 dlls, is there anyway that I can Opt out of certain dlls from AOT? like ones that take long to help?

is there a setting in .csproj?  currently my csproj states...

` <PropertyGroup Condition="'$(Configuration)

[2021-11-09 01:53] anthonychu commented on #452
We've added an [input parameter](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureStaticWebAppV0/task.json#L109) `build_timeout_in_minutes` to the task that should be rolling out during this month. Not sure if it's widely available yet to all DevOps customers.

I don't know if there's a way to opt out of certain DLLs. @danroth27 any ideas here?

[2021-11-09 02:47] manlm commented on #502
When I click the link on facebook workplace chat, this does not work. Are there any update on this case?

[2021-11-09 15:52] phwt opened #625 "Build and Deploy Job failed after adding ESLint and Prettier to API"
**Describe the bug**

I am trying to configure the API project built with TypeScript with ESLint and Prettier but after I add it the "Build and Deploy Job" is failed with this message:

[code]

**To Reproduce**
Here are the steps I've taken on setting up the ESLint and Prettier:
1. Install ESLint, Prettier, and its plugins
[code]
2. Run `eslint --init` to generate `.eslintrc.js`

**Difference in p

[2021-11-10 00:33] loganmarshall1 commented on #452
Thank you @anthonychu ! will it be a param here:
![image](https://user-images.githubusercontent.com/19997240/141027400-4ef6643f-f894-49bd-8a54-7ccdfb387973.png)

Hi @danroth47 , long time fan of yours! nice to meet you! wow so happy that I'm on a thread your tagged in! makes me feel like "Waynes World" "Im not worthy" :D. <3 what you do, your positivity and continued smart drive which is helping a

[2021-11-10 09:37] dombarnes commented on #625
What does your build script in `package.json` do?

[2021-11-10 10:35] phwt commented on #625
It generates an OpenAPI specification with [tsoa](https://github.com/lukeautry/tsoa) and then starts compilation with `tsc`

[code]

<details>
  <summary>Here's the rest of the `package.json` file</summary>

[code]
</details>

[2021-11-10 17:15] mobiotwin commented on #621
I have fixed it by adding the following
[code]

[2021-11-10 17:15] #621 closed

[2021-11-10 19:34] nehaplay commented on #502
@mishapos does this mean the encoding is also not supported (like %20 for space)? I tested and see that redirection works only as long as the URL does not contain a space.

Example:
**This works**: https://something.com/articles/EXTERNAL/README.html
**This does not work**: https://something.com/articles/INTERNAL/Some%20Configuration/Some%20Add%20User/Some%20Add%20User.html

[2021-11-10 22:59] danroth27 commented on #452
Not yet. Having a mixture of AOT compiled code and normal assemblies is tricky for the runtime to handle, so for .NET 6 the only supported configuration is to AOT compile everything to WebAssembly.

[2021-11-10 23:34] loganmarshall1 commented on #452
Hi @danroth27 thanks for your quick reply!

FYI (Tuesday) we just pushed **7 Blazor wasm PWAs** to Production on **Dotnet 6** and customers are LOVING IT!  They said they noticed "30% speed improvements" EVERYWHERE! :D .  Our apps currently have over Average ~ 10k users per 7 apps.

Currently for the Trimmer I've added this to CSPROJ
`  <ItemGroup>
	 <TrimmerRootAssembly Include="Microsoft.Authent

[2021-11-11 00:27] danroth27 commented on #452
That's awesome! Great to hear! If you're open to us sharing your story with using .NET & Blazor on our [.NET Customers](https://dot.net/customers) page, you can share your story with us using this [form](https://aka.ms/CustomerShowcaseForm).

Doesn't marking Microsoft.Authentication.WebAssembly.Msal as a [root assembly](https://docs.microsoft.com/dotnet/core/deploying/trimming/trimming-options#roo

[2021-11-11 00:38] loganmarshall1 commented on #452
Will do! Thanks Dan!!!!

Yes completely intended!
￼apparently it was a workaround needed when .net 6 preview￼ x came out. MSAL Was getting overly trimmed to the point that blazor wasm auth didn't work.  i'm sure I can take this out of the file now since .NET 6 is now GA 😄

￼￼The big thing with CSPROJ file temp fixes Is they kind of "live in there" for years and no one knows whether or not they can

[2021-11-11 07:12] martinmogusu commented on #196
I support this feature request. It would be great to allow prerendering on Azure static Web apps.

This would for example allow one to host a blazor webassembly app on Azure static Web apps, while still a having the prerendering enabled so that one doesn't have to use ASP.NET Core hosting to achieve the same functionality.

[2021-11-11 09:48] MPapst commented on #444
Found this through google. `az staticwebapp secrets list` is working in az cli 2.30.0

[2021-11-11 11:45] tnsholding opened #626 "Getting 404 after authenticating with custom Idp (B2C)"
Trying to log in with custom B2C flow.

Redirection to custom login page works fine, but get an 404 error from static web app on callback URL ( '/.auth/login/b2c/callback?state=%2f.auth%2fcomplete&code=yJraWQ...').

What could cause a 404 not found on auth callback?

staticwebapp.config.json:
[code]

[2021-11-11 15:15] rossmills99 opened #627 "Azure DevOps Pipelines fails when app directory has a space"
**Describe the bug**

I have a repository with a Docusaurus site at relative path "docsite/My Docs".  When I set "/docsite/My Docs" as the `app_location` I see the error emitted:

[code]

It looks suspiciously like the call to Oryx passes the app_location path unquoted, so it treats "Docs" as a separate argument.

**To Reproduce**
Steps to reproduce the behavior:
1. Create repo with static site at

[2021-11-11 15:23] ntkeep commented on #382
Is there any update on this issue?

I'm running into the same problem: any cookie returned by an Azure function (I'm using a static web app + functions) with SameSite set to `lax` is changed to `strict`.

I'm using node. My project is setup with a proxy but this issue also happens for functions that don't match the proxy.

[code]

My temporary workaround is to return the cookie string to the front

[2021-11-11 20:23] nehaplay opened #628 "post_login_redirect_uri does not work with URLs that contain spaces (%20)"
This is related to issue #502 in which solution was provided to use the latest feature available on azure static webapps to handle post login URL redirection by using below setting; but I tested and see that redirection works only as long as the URL does not contain a space.
"post_login_redirect_uri=.referrer"

Quoting @mishapos comment on the original issue:

Does this mean the encoding is also n

[2021-11-12 14:34] sandersaares opened #629 "I would like to publish SWA from an Azure DevOps pipeline without depending on Docker"
For policy reasons, we cannot run Docker-using tasks in our Azure DevOps pipelines. However, this means the StaticWebApp task does not work. Please provide a non-Docker-dependent mechanism to deploy SWAs from Azure DevOps Pipelines.

I understand there exists something called StaticSitesClient but having some official way to use it would be desirable.

[2021-11-13 00:17] MohitNagpaldce opened #630 "Aad auth callback url does gives Exception: Correlation failed."
**Describe the bug**

Developing dotnet core service with endpoint like : http://localhost:86/controller/api(param)

Overall flow aim is
1.	User enters full url in browser http://localhost:86/controller/api(param)
2.	Users navigate to AAD login page
3.	After successful log in redirect back to “controller/api(param)”

AAD app asks to specify redirect url in AAD app portal and these urls can’t be dy

[2021-11-13 23:14] kylejuliandev opened #631 "Adding Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0 Nuget to API Function causes ServiceUnavailable"
**Describe the bug**

Introducing the `Microsoft.Azure.WebJobs.Extensions.Storage` version `5.0.0`, as found [here](Microsoft.Azure.WebJobs.Extensions.Storage), causes a ServiceUnavailable status code once deployed. This issues even when no functions output to a Storage Queue or Storage blog. In Application Insights,

**To Reproduce**
Steps to reproduce the behavior:
1. Create `.NET 6.0` Azure Fun

[2021-11-14 21:32] meziantou opened #632 "Deployment fails randomly: Deployment Failure Reason: Failure during content distribution."
**Describe the bug**

The deployment job sometimes fails with the error `Deployment Failure Reason: Failure during content distribution`. If I retry the GitHub job a few minutes / hours later, it succeeds. It happened a few times this week. The following job succeeds at the 4th attempt.

[code]

**Expected behavior**
The deployment works every time

**Screenshots**
![image](https://user-images.git

[2021-11-14 22:02] miwebst commented on #632
Can you provide any details on the default hostname of the app (i.e. happy-dog-123)? If you do not feel comfortable providing that information here, I'd recommend filing a support request.

[2021-11-14 22:03] meziantou commented on #632
Default hostname: <https://zealous-river-050505f0f.azurestaticapps.net>

[2021-11-15 01:09] anthonychu commented on #631
The function app included with Static Web Apps doesn’t have AzureWebJobsStorage defined (nor is it currently supported). I wonder if the error was due to this.

[2021-11-15 03:33] mentorfloat commented on #196
Even if it is just to update page `<title>` (title is now possible in .Net6 I believe) and `<meta name="description">` that would be such a great leap already.

There are hacks around to make this work, some great blog posts around, but I feel these are not bulletproof to suit all cases. An official prerendering support by Azure Static Web App would be fantastic.

[2021-11-15 05:24] RossMurr4y commented on #604
@anthonychu is there any documentation on how this works? I'm trying to track down information on what is actually happening during a deployment. I have the deploy logs but they don't reveal a great deal.

[2021-11-15 10:20] #619 closed

[2021-11-15 13:56] Fedeorlandau commented on #390
@geo

Thank you for building this 👍

[2021-11-15 19:50] afreire-laptop commented on #565
Hi @anthonychu when using a custom OIDC provider (and not Microsoft AD), how can we configure `loginParameters` to obtain an `access_token`? Thanks

[2021-11-16 10:33] afreire-laptop commented on #481
Hi @anthonychu and @mkarmark, thanks a lot for the docs and tutorial.
The tutorial is configured to use Azure AD as the Provider. Is it possible to also obtain an `access_token` with a custom Identity Provider?

Here's my config:

[code]

[2021-11-16 11:13] simonaco commented on #573
closing the issue as this has shipped, @plamber please reopen if needed.

[2021-11-16 11:13] #573 closed

[2021-11-16 11:15] simonaco commented on #590
Closing as this should be fixed in GA, @Continuitis let us know if you're still running into issues

[2021-11-16 11:15] #590 closed

[2021-11-16 11:55] smholvoet opened #633 "Using AAD and preventing access to specific pages"
I'm making a technical documentation site (which uses [mkdocs](https://github.com/mkdocs/mkdocs)) that I've successfully deployed to SWA. My goal now is to:

1. Completely restrict anonymous access
2. Only allow specific users within our Azure tenant to log on
3. Prevent specific users of seeing certain subfolders

To make things simple, consider the example below which represents the markdown con

[2021-11-16 14:27] Strepto opened #634 "Support node 16.13+ (Official LTS release)"
**Is your feature request related to a problem? Please describe.**

The latest node lts release was officially released a few weeks ago as v16.13.0.

<https://nodejs.org/en/blog/release/v16.13.0/>

We have dependencies that have transitioned to require at least the 16.13.+ release.

The latest release supported by Azure Static Web Apps Github Action is 16.8.0.

Are there any plans to upgrade the G

[2021-11-16 17:34] dbassking opened #635 "AzureStaticWebApp@0 - Unable to runtime variable for azure_static_web_apps_api_token"
Unable to pass the deployment token as a parameter when using a runtime variable

for the tasks below, "./artifacts/build/" is a built reactjs site, and "./artifacts/api/" is a function app. When "deploymentToken" is defined as a library or pipeline variable the site deploys fine, but when it is retrieved from the resource on-the-fly using the azure cli, deployment fails with an "invalid token" er

[2021-11-17 03:53] miwebst commented on #613
When the update is failing, can you share what the current status of the resource looks like? Is the Static Web App already associated with another repo/branch?

[2021-11-17 04:09] mfcollins3 commented on #613
The static web app is associated with the same repo and branch. Nothing changed.

[2021-11-17 04:21] miwebst commented on #613
Hmm this should not be happening from looking at your template. Do you mind rerunning it so we can get some fresh logs to dive into?

[2021-11-17 07:19] OzBob commented on #346
@mkarmark 'rename yml' - could you provide a doc link or an explanation on what property in the yml will create a new static web app with the desired URL/"defaultHostname" property on azure.

[2021-11-17 12:29] Skleni commented on #392
@anthonychu Can you provide an update on this? Thanks!

[2021-11-17 15:29] GaryParr commented on #200
Has anyone figured out a way to develop and test this new functionality without constantly having to redeploy beta code to a paid SWA instance? Currently the cli flat out ignores the relevant configuration...

`{
  "auth": {
    "rolesSource": "/api/GetRoles",
    "identityProviders": {
      // ...
    }
  }
}`

[2021-11-17 21:47] nitelite commented on #595
Could the problem be related to that fact that you are enabling authentication for all URLs through the `/*` route? My hypothesis is that you might have unintentionally limited the `/.auth/login/aad/callback` path to only authenticated users, and when the callback is executed you are probably not yet authenticated?

Have you tried adding a route that grants anonymous access to the callback url?

[

[2021-11-17 21:48] adamcrosby commented on #595
I'l give that a shot, but I'd expect if it was because I wasn't authenticated yet that it would instead direct me to authenticate (and I'd get a loop)?

[2021-11-17 22:16] nitelite commented on #557
If you are just using it for a static website, without authentication or APIs, I would suggest checking if maybe using an Azure Storage account with Static Website enabled might be better. The performance of a Storage account is also better for purely static files. It is quite a bit more simplistic than Static Web Apps though.

[2021-11-17 22:50] TeplrGuy opened #636 "__HOST Prefix cookie contains domain attribute"
I have been playing around Static Web Apps and I am having an issue where the domain attribute is added by default to all cookies it seems. In this particular case, in backend response we see domain attribute added to __HOST cookie.

it seems to be the case for all cookies on App Service.. but with App Service, one can play around with Web.Config to omit headers and possibly attributes.

Any way a

[2021-11-18 01:32] miwebst commented on #636
This looks to be a bug in our cookie management, we will look to get a fix out for this. Thanks for surfacing!

[2021-11-18 06:16] zalent opened #637 "Do not build Docker image every time CI is run"
The full CI on GitHub takes roughly 1m 20s. And building docker image takes roughly 1m. Wouldn't be able to use pre built images? Or why building image is necessary every time?

[2021-11-18 09:41] Reshmi-Sriram commented on #637
Hey @zalent, thank you for bringing this up. This could be something the Oryx team can look into and help us better. Creating this issue in the Oryx repo - https://github.com/microsoft/Oryx/issues/1159
If you'd still like to track the issue here as well, feel free to do so!

[2021-11-18 13:35] kkankala commented on #42
Any update on this Issue please?

[2021-11-18 15:36] anthonychu commented on #637
Most of this time is spent pulling the image, which would be necessary even if the image is prebuilt. It’s a hard problem to solve because Oryx needs to run in its own container and it’s rather large.

[2021-11-18 18:56] anthonychu commented on #634
Thanks for pointing this out. Created an issue in Oryx to track. microsoft/Oryx#1161

[2021-11-18 19:08] pmeems commented on #261
I'm having similar problems as well.
I'm using the SWA template for .NET6 and replaced bootstrap.css with tailwind.css and I'm using PostCss.
Because of PostCss and its plugins I have a package.json file. I call the npm command in my csproj file:
[code]
My Blazor app is not compiled by Oryx.
I already added `ENABLE_MULTIPLATFORM_BUILD: true` but that didn't help.
It kept complaining about no `buil

[2021-11-18 19:10] miwebst commented on #355
Closing as issue should be mitigated.

[2021-11-18 19:10] #355 closed

[2021-11-18 19:11] anthonychu commented on #627
Yep looks like your suspicions are exactly right. 🙂

/cc @Reshmi-Sriram

[2021-11-18 19:18] miwebst commented on #557
You lose a lot of functionality (i.e. routing, global distribution, etc.) in addition to auth and api's if you use a storage account. Of course you can add things like AFD/CDN in front to achieve some of these but that increases cost and complexity.

@philip-coats-softbank, do you have the same situation as Xavier? Lots of media content?

[2021-11-18 19:23] philip-coats-softbank commented on #557
yes - lots of media on our website.  the entire point of using an Azure Static Web App is simple setup and deployment.  if i have to build all of that infrastructure myself, then I'm not going to use an Azure Static Web App.

it's probably using Azure Storage behind the scenes anyway - there is no reason they shouldn't be able to add a higher pricing tier for more storage.

[2021-11-18 19:23] anthonychu commented on #604
We don't document how things works exactly. But you should see the existing version being served during deployment, and when the deployment is complete the new version will be served. You should not see a mix of old and new assets being served at the same time.

[2021-11-18 19:25] anthonychu commented on #565
@mkarmark Do you know how to do this?

[2021-11-18 19:32] IeuanPayne commented on #604
@anthonychu you previously mentioned putting Azure frontdoor in front of two SWA's to simulate blue/green deployments. Do you happen to have any examples of this being done? Just so I can weigh up my options. Thank you!

[2021-11-18 19:59] anthonychu commented on #595
@mkarmark Can you please take a look at this?

[2021-11-18 20:36] foconnor-DS commented on #478
Slugs and Splats would be much appreciated. I use it to redirect social media crawlers to specific API render points to generate dynamic opengraph data or full SSR of the SPA component for SEO/Crawler(s).

[2021-11-19 15:33] ckriutz commented on #622
I don't know if it's possible to re-open this, or look at it, but I'm experiencing the same error. Almost exactly.
The deployment worked before I added the function, but not after. No real reason or explanation, just fails.

[2021-11-19 15:46] sig9 commented on #622
we are having the same issue starting yesterday

[2021-11-19 15:56] adam-javelin commented on #622
Yeah it would be nice to understand what is causing this.

[2021-11-19 16:51] sig9 opened #638 "workflow failure (unprovoked?): Failed to deploy the Azure Functions"
**Describe the bug**

The Build and Deploy step of our githoub action is failing. Started yesterday when we opened a PR. Re-run all jobs continues to fail today.

This has been working reliably until now. The log messages are not helpful, not sure where else to look for clues.  seems like an infrastructure/hosting/service issue from what we can see here.  The PR doesn't have any changes to the api

[2021-11-19 17:02] miwebst commented on #622
We are investigating, does look like an issue with Azure Function deployment.

[2021-11-19 20:22] riverar commented on #638
Seeing same issue, hard to get any diagnostic information. @anthonychu

[2021-11-19 21:15] kbarnes3 commented on #638
I'm seeing the same issue on two separate projects that use Azure Functions. I have other projects that use Static Web Apps to deploy just an Angular frontend with no Azure Functions associated and these continue to work fine.

[2021-11-19 21:24] miwebst commented on #638
We are tracking this here. There is an issue with Azure Functions: https://github.com/Azure/static-web-apps/issues/632

[2021-11-19 21:24] #638 closed

[2021-11-19 21:25] miwebst commented on #638
Sorry wrong link, this is the correct one: https://github.com/Azure/static-web-apps/issues/622

[2021-11-19 21:28] miwebst commented on #622
As an update we've found a potential root cause for the issues we are seeing and working to address it. Will continue to update here as we know more.

One thing to note is this only affects new SWA deployments with Functions, all existing SWA's with Azure Functions should be unaffected.

[2021-11-19 23:37] miwebst commented on #622
A fix has been found and applied, all new Function deployments should begin to work again. Sorry for the inconvenience!

[2021-11-19 23:41] #622 closed

[2021-11-20 00:06] mdtusz commented on #633
I'm looking to implement a similar setup for some internal docs as well. I've been running into an issue where despite gating all routes to require an allowed role of `staff` using the `*` wildcard, the site still seems to be public on all routes :thinking:.

Any help from azure staff on this will be much appreciated!

[2021-11-21 02:11] smakinson commented on #196
@anthonychu When calling an api function from a route in `staticwebapp.config.json` which will return html, is it possible to get the original response headers that would have been sent if it had not called an api function and then modify them as needed for the api function html response? I'm interested in `nodejs` api functions in particular.

[2021-11-21 17:01] ngoquoc commented on #614
I'm encountering the similar issue: all of my functions are decorated with `HttpTrigger(AuthorizationLevel.Function...` and SWA can not reach to any of functions because of 401 Unauthorized.
I'm wondering if my configurations in the "Authentication" of function app are proper, although it's generated by "linking" the function to the SWA:
![image](https://user-images.githubusercontent.com/4502679/1

[2021-11-22 06:39] jpalo commented on #632
Getting this same error as well intermittently: icy-sea-009cf3103. Last issue today 3 hours ago.

[2021-11-22 10:37] cmaneu commented on #1
Hello there,
I have the same issue for [this opensource project](https://github.com/surfriderfoundationeurope/labelcv-web) ( See [here](https://github.com/surfriderfoundationeurope/labelcv-web/pull/121)).

@orta proposed solution (capturing the artifact and using `workflow_run`) is interesting. My only remark would be time to capture the artifacts (can be time-consuming, specially with some langua

[2021-11-22 16:36] Krolken commented on #614
As I understand it now is that adding an identity provider is laying an extra authentication layer on top of the normal Function Auth.

To me this seems like something you don't want. I couldn't figure out how you would use this.

I ended up with setting up a separate Function App for all my functions. I did not link this to my SWA.
Then I set up functions as managed functions in my SWA project th

[2021-11-22 16:56] xwellingtonx opened #639 "Default "cache-control: must-revalidate, max-age=30" leads to high bandwidth usage"
**Describe the bug**

[Moved from SWA CLI Repository as asked]

I'm writing this to explain the current scenario we're facing at my company, I've searched a lot before and I opened a support ticket (still active) on Azure before coming here.

We've decided to move our Angular application from Azure App Service to Static Web App to reduce the costs of hosting. The application was already hosted for

[2021-11-22 17:29] miwebst commented on #639
This default cache header is by design as we can't anticipate the caching needs of all customer scenarios. Some customers want to see immediate changes when they push content while others, like yourself, want to cache for longer. You've implemented our guidance which is to configure custom rules if you need different caching policies: https://docs.microsoft.com/en-us/azure/static-web-apps/configur

[2021-11-22 17:41] xwellingtonx commented on #639
@miwebst Thank you for answering too quickly, I thought so it was something intended, but the behaviour is different when compared to App Service, which is the main reason that caused the high traffic on our application I believe. Also, I couldn't find any documentation mentioned that was mandatory to define the cache-control to the routes otherwise would use the default value.

Regards to the 'mu

[2021-11-22 17:52] miwebst commented on #639
There are many changes between App Service and SWA as they are fairly different products with different feature sets.

To validate, you can open your application in Chrome. Since you've modified the cache control headers you may need to reset them to the default (or test on a staging environment or different app). Then open the network window (ensure 'disable cache' is not checked) and refresh eve

[2021-11-22 19:44] xwellingtonx commented on #639
@miwebst I've confirmed that after 30 seconds we get 304 as you can see the in image below. But this doesn't prevent a new request be created when I close the browser and reopen the app.
![image](https://user-images.githubusercontent.com/10274446/142924767-70054825-006d-47b1-805e-92835a45d90b.png)

[2021-11-22 19:48] xwellingtonx commented on #639
The browser shouldn't maintain in cache the file if the file is not modified even if I close the browser? This is what happens in the App Service that's why I mentioned that the behaviour is different, although I understand they're different services.

[2021-11-23 05:45] ngoquoc commented on #614
Thanks for sharing your solution!
Unfortunately in my situation I can not afford such latency caused by proxying managed function to the "actual" functions (this is just my assumption though, not sure how much latency it would be).

Just to share some of my findings: I have changed all of my functions to `AuthorizationLevel.Anonymous`, and it can work fine with the SWA now. The interesting part is

[2021-11-23 06:57] Krolken commented on #614
Yeah it will add the authentication on top of Function Auth. You can set the functions to `AuthorizationLevel.Function` with AD auth. You just have to add the auth key also on every request.

I am running the Function App in a Premium plan an see no real latency compared to consumption plan when proxying.

[2021-11-23 09:07] ShawInnes opened #640 "PKCE code_challenge required for custom authentication provider (B2C)"
**Describe the bug**

The following error is presented when trying to use Static Web App authentication with Azure B2C as an OpenID Connect provider.

[code]

A clear and concise description of what the bug is.

**To Reproduce**

I've followed the directions [here](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=openid-connect) for creating a custom OpenID Connect

[2021-11-23 10:38] lukasvice commented on #519
@smakinson Would you mind sharing the node script? I am also interested in this functionality, thank you!

[2021-11-23 11:24] simonaco commented on #321
closing this issue as duplicate

[2021-11-23 11:24] #321 closed

[2021-11-23 13:11] smakinson commented on #519
@lukasvice Sure. Here are the `package.json` scripts and the node script.

[code]

[code]

[2021-11-23 13:37] lukasvice opened #641 "Restrict access to Application Gateway always returns 503"
**Describe the bug**

When I restrict networking with the service tag "GatewayManager", so that the Static Web App is only accessible via the Application Gateway, a 502 error is always returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the App Gateway Backend with the SWA's FQDN
2. Configure the access restriction to the App Gateway in the staticwebapp.config.json file
3. Op

[2021-11-23 16:53] srmagura commented on #277
I am using `AzureStaticWebApp@0` and it works when `app_location` is a relative path, but not when it is an absolute path. This seems like a bug to me.

[2021-11-23 17:05] srmagura commented on #637
I am using `AzureStaticWebApp@0` in Azure Pipelines. Downloading the container takes ~45 s while actually updating the Static Web App takes ~15 s.

**Is there any way to speed up the deployment by not downloading the container?** My app has already been compiled to plain HTML/CSS/JS so I really just need to copy the files to the Static Web App. The container/Oryx feels like overkill when the app h

[2021-11-23 19:19] srmagura opened #642 "Azure Pipelines task uses the deprecated Node 6 handler"
**Is your feature request related to a problem? Please describe.**
Running `AzureStaticWebApp@0` in a pipeline (`ubuntu-latest`) prints a deprecation warning:

**Describe the solution you'd like**
Upgrade the task to the latest Node execution handler.

[2021-11-23 21:32] gbelenky commented on #502
does it also work in the swa cli during the local development?

[2021-11-24 00:25] anthonychu commented on #642
This should be fixed in the latest task. Not sure if it's fully rolled out yet. Can you please check your logs and share what version of AzureStaticWebApp@0 was used?

[2021-11-24 00:50] anthonychu commented on #641
I'm not very familiar with setting up App Gateway. But I think the `GatewayManager` service tag might not be for regular traffic from App Gateway. In the [docs](https://docs.microsoft.com/azure/virtual-network/service-tags-overview#available-service-tags), it's described as `Management traffic for deployments dedicated to Azure VPN Gateway and Application Gateway.`.

I think you might need to put

[2021-11-24 00:58] anthonychu commented on #637
Currently the deployment client is bundled with our build tooling, which requires the container. We don't have an alternative to using the container at this time, but have plans to investigate lighter weight deployment methods.

[2021-11-24 01:11] anthonychu commented on #277
The task expects those locations to be relative to the working directory. This is already mentioned briefly in the docs but I think we can make this more prominent.

[2021-11-24 01:38] srmagura commented on #642
Good to know. My pipeline runs from earlier today used version 0.187.2.

[2021-11-24 07:38] lukasvice commented on #641
Oh, I see, thanks for pointing that out. I will give it a try and let you know.

[2021-11-24 12:54] lukasvice commented on #641
It works with the Private Endpoint. Thanks again!

[2021-11-24 12:54] #641 closed

[2021-11-24 15:03] #544 closed

[2021-11-24 18:08] waterskijubilant commented on #502
This does not work if the link is clicked from another site.

[2021-11-24 19:14] DieselMeister commented on #635
use:

[code]

saw this in this article and it worked for me... at leat until I try to build a azure function with .net 6 :(

https://docs.microsoft.com/de-de/azure/static-web-apps/publish-devops

hope at leat it helps you!

[2021-11-24 19:55] dbassking commented on #635
That's what I'm currently doing, unfortunately. Hopefully there is a way to do it without manually retrieving the token

[2021-11-24 19:57] DieselMeister commented on #635
I want to mention the "env" in the config of the task was important. In your example you have the 'azure_static_web_Apps_api_token' in the input section! Don't know if that will work for you.

[2021-11-24 19:59] dbassking commented on #635
it currently works when the token is in a pipeline variable. I'll move it to 'env' and see what happens. Good catch

[2021-11-24 20:14] DieselMeister opened #643 "[Infomation] Config ORYX Image via Azure DEV Ops Environment Variables (build function in net 6)"
I had the problem, that my azure funcction app won't build and the skip option end up to not recognize that I acutally used a dotnet function, and it switched to node:

here are the configs:
https://github.com/microsoft/Oryx/blob/main/doc/configuration.md

i used for example to build an azure net6 function:
[code]

(the last under env: made it possible to use .net 6 inside the orxy build image! be

[2021-11-24 20:22] DieselMeister commented on #643
forget what I wrote here. Total nonsense... Env variables did nothing here. now it works without any of this.

[2021-11-24 20:22] #643 closed

[2021-11-25 02:34] sanha0 opened #644 "add request log view function"
**Is your feature request related to a problem? Please describe.**
Now, we can't check request log from Static web app.
We think it is helpful for us to check request log when investigation.
So, We would like to add it.

**Describe the solution you'd like**
Sending request log to Application Insights or Blob so that we can check.

**Describe alternatives you've considered**
-

**Additional context

[2021-11-25 03:59] kiranpradeep opened #645 "keyvault references in standard static web apps not working + request for tick/wrong marking"
**Describe the bug**

This is feature request. But there is some probability of this also being a bug - same as #428, but on bring your own functions/standard plan/production environment.

@Microsoft.KeyVault references are not working in static web apps (swa) with bring your own functions also (in standard plan/production environment). I have followed this [microsoft doc](https://docs.microsoft.c

[2021-11-25 08:47] klacol commented on #367
Hi, nice post here. I just wanted to share my solution with DocFx. I use the action [nikeee/docfx-action@v1.0.0](https://github.com/nikeee/docfx-action) and it works quite well:

[code]

The thing I am struggling with is, how to protect the site only to Azure Active Directory accounts.

[2021-11-25 09:38] svdoever commented on #435
But this makes no sense, why do we have query parameters? For dynamic values! They are parameters... how do we specify that the dynamic value should be used within `staticwebappconfig.json`? For example something like this would be nice:

[code]
No problem if the special characters need to be encoded, but this for clarity...

[2021-11-26 09:32] klacol opened #646 "Protect the static site only to Azure Active Directory accounts"
Thanks for this project. Based on the documentation it was quite straightforward to [publish an DocFx Project](https://github.com/Azure/static-web-apps/issues/367#issuecomment-978963907).

Now i have to protect the site only to specific users from our Azure Active Directory. I have implemented a solution, based on [this article](https://dev.to/bazenteklehaymanot/serving-docfx-from-net-to-add-authe

[2021-11-26 10:30] Strepto commented on #203
Are there any updates on this? Our build takes 3 minutes to pull all node modules, costing both time and unneccessary npm bandwidth i guess.

[2021-11-26 12:11] mxschmitt opened #647 "Long GitHub Action jobs when closed/merged before build finished ends up in dangling environments"
**Describe the bug**

Currently when there is a CI job running and I close/merge it before it finishes, it ends up in a dangling environment. What is a dangling environment? I mean with that an environment which keeps running but the actual Pull Request is closed.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a pipeline in place whe

[2021-11-26 12:15] mxschmitt opened #648 "Do not send deployment URL comment multiple times"
**Describe the bug**

Inside a PR the environment URL gets posted multiple times, even if the URL is the same. This ends up in spam and is not useful.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PR
2. Push multiple commits
3. -> Multiple environment URLs getting posted as URLs

**Expected behavior**

A single comment is enough, since the URL is the same in all the comments.

**S

[2021-11-26 22:46] benCoomes commented on #165
I am in the same boat - OpenID authorization with a 3rd party app failed once we moved from azure functions to a static web app. While I was able to find this issue fairly quickly and use the workaround, this isn't an encouraging first experience with SWAs.

[2021-11-27 08:49] Ramanean commented on #605
Is there any update when this would be available? Wish to remove .html from end of the pages..

[2021-11-28 13:26] loganmarshall1 commented on #113
Hi @anthonychu hope you're having a great weekend!

do you know when  `build_timeout_in_minutes: 15` will be GA? I just tried to set it to 30 and Oryx build timed out after 15 min.  Is there an updated version number of the AzureDevops Pipeline Task?

`Starting: AzureStaticWebApp
==============================================================================
Task         : Deploy Azure Static Web A

[2021-11-29 14:20] miwebst commented on #639
By default content is compressed via Brotli or Gzip on the fly depending on what the browser accepts. You can check the accept-encoding (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) headers that are sent as part of the request.

[2021-11-29 14:24] #202 closed

[2021-11-29 14:27] xwellingtonx commented on #639
@miwebst Thank you for the answers! We decided to roll back to App Service the bandwidth value for Static Web App is too high, although we save in host we pay way more with bandwidth if compared with App Service so for us it's not suitable at the moment. I hope the value decreases in the future so we can try again.

[2021-11-30 11:31] simonaco commented on #374
Closing as per @jon-a-nygaard suggestion. Thank you!

[2021-11-30 11:31] #374 closed

[2021-12-01 17:51] anthonychu commented on #605
Can you expand on what you mean by this? You can access files with `.html` extensions without `.html`. For instance you can access /about.html at /about.

[2021-12-02 04:21] PunditSharp commented on #581
+1 on this. I had to switch to BYO function because I needed to generate a client-side auth token using a managed identity.  But doing so means my app collaborators can't use the staging environment feature to fully test out their changes.  Big Sad!

[2021-12-03 08:55] cognagano opened #649 "Failed github actions CI/CD deployment to azure"
**Describe the bug**

It works in local environment.
Error in actions CI/CD deployment

I watch this.
but I couldn't avoid the error.
https://github.com/Azure/static-web-apps/issues/531

[code]

package.json
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. It works in local environment.
2. push to github
3. auto start actions CI/CD deployment
4. Buils and Deploy Job Error

[2021-12-03 14:01] tnsholding commented on #626
I found a possible reason for this. If the code part in the callback is too long, the callback URL will return 404.

The limit seems to be that if the total length of the URL exceeds 2123 characters, then the Static Web App just returns 404 and never evaluates the code.

[2021-12-03 14:52] wilwer commented on #642
Hi, we have several pipelines failing at the moment with the same issue, same version (0.187.2). Is there any news?

[2021-12-03 16:01] anthonychu commented on #649
Looks like this might be an Express app. Static Web Apps supports hosting your React app directly without the need for a server like Express. If you’d like to use Express, [Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs) may be a better option.

[2021-12-03 16:03] anthonychu commented on #642
@wilwer this should be a warning. Can you confirm that this is showing as an error for you and it’s causing the build to fail?

[2021-12-03 16:08] anthonychu commented on #642
@anatolybolshakov Can you please confirm that this warning should not fail a build? And do you know if there is an ETA for the release of the latest AzureStaticWebApp task?

[2021-12-03 18:19] cognagano commented on #649
@anthonychu
Thanks for the reply.
I'll consider it.

[2021-12-03 19:09] mellson opened #650 "IPv6 support?"
Is it possible to configure a static web app with IPv6 support when it's hosted on Azure?

[2021-12-03 20:23] anatolybolshakov commented on #642
@anthonychu yes, since this is a warning message - it should not cause build failure. The roll out process has already been started - usually it takes about 2-3 weeks to be completed (so it should be rolled out during 197 sprint per [calendar](https://whatsprintis.it/)).

[2021-12-04 17:01] anthonychu commented on #113
It should be available after the updated task is rolled out. A member of the Azure DevOps team chimed in on https://github.com/Azure/static-web-apps/issues/642#issuecomment-985804112 with the release progress.

[2021-12-04 17:06] loganmarshall1 commented on #113
Thanks dude! Super happy, greatful & excited! You rock!

[2021-12-05 02:13] jrathgeber commented on #283
Same error. Deleting  package-lock.json fixed it. Thank you !

[2021-12-05 15:11] blueboxes opened #651 "Disclose File Size as parts of Build Process"
**Is your feature request related to a problem? Please describe.**
I hit the limit of 250mb free tier. This was probably as I had not optimized things like images. As a short-term fix, I upgraded but would like to know when I fall under the 250mb again.

**Describe the solution you'd like**
As part of the building print out the total size of files so we can easily see how close we are to limits.

[2021-12-06 21:45] epieters opened #652 "API functions all returning 503 service unavailable (Function host is not running)."
**Describe the bug**
API functions all returning 503 service unavailable (Function host is not running).

Error returned:
crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100] Unhandled exception rendering Component: net_http_message_not_success_statuscode, 503, Service Unavailable
System.Net.Http.HttpRequestException: net_http_message_not_success_statuscode, 503, Se

[2021-12-06 22:24] epieters commented on #652
Not sure why but upgrade to .NET6 & Functions 4 solved my issue.

[2021-12-06 22:24] #652 closed

[2021-12-07 18:17] martinljones opened #653 "OpenId Connect Callback Error When User Cancels"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device info (if applicable):**
 - O

[2021-12-07 18:17] #653 closed

[2021-12-07 18:34] martinljones opened #654 "OpenId Connect Redirect Callback Error When User Cancels"
I am currently working on a basic Azure SWA application that is using Azure B2C as its Identity Provider. We have noticed when a user hits "Cancel" in the account creation process it redirects back to the application as expected with an error appended to the callback function URL as a query as such.

`
/.auth/login/b2c/callback?error=access_denied&error_description=AADB2C90091%3a+The+user+has+canc

[2021-12-08 14:25] simonaco commented on #14
Seems like this issue has been addressed with custom auth, @DaveA-W please reopen if needed.

[2021-12-08 14:25] #14 closed

[2021-12-08 14:36] mellson opened #655 "Changing role types?"
I'm setting up custom authenticating using `aad` to get custom branding (would be nice to have that ability in the built in aad 😊).

And mostly it's working great, however I'm running into problems when I need to get the users roles.

I've created an api function that looks through the user claims and grabs the roles from there.

Sometimes the roles are in the claims with the `typ` set to `http://

[2021-12-08 18:43] mellson commented on #655
I've seen this for two different users today

[2021-12-08 20:22] martinljones commented on #654
Leaving an update on this issue. We also tried removing the `authenticated` role in the `/` route from the static config thinking perhaps the `401` was coming from locking down the route however, the behavior was consistent with the `401` status code as seen in the white screen screenshot above.

[2021-12-09 02:04] a2441918 commented on #5
Any idea when  support for PRs/environments available??

[2021-12-09 07:23] mshafiqmk commented on #611
Any updates on this issue ?

[2021-12-09 07:28] mshafiqmk commented on #611
I have check docs and it mentioned in the limitation section that it is only possible using GitHub actions.

![image](https://user-images.githubusercontent.com/21343093/145352573-53f8f035-c208-4e6b-9642-6ab1eaa1dccf.png)

https://docs.microsoft.com/en-us/azure/static-web-apps/review-publish-pull-requests

@anthonychu any update when it will be available for devops deployment ?

[2021-12-09 08:55] springcomp opened #656 "GitHub actions"
**Describe the bug**

From a working SWA project with a .net core 3.1 function app as a backend API, I’m trying to switch the function app to .net 6.0.
However, this fails in the GitHub actions deployment.

GitHub actions’ [Build and Deploy Job](https://github.com/springcomp/my-app/runs/4467961865?check_suite_focus=true) error.

**Screenshots**

![image](https://user-images.githubusercontent.com/8

[2021-12-09 12:00] xwellingtonx commented on #639
I'm reopening the issue since I believe those pictures below show that the Static Web App bandwidth usage calculation is much higher than should be since the same amount of requests when deployed in App Service do not show the same usage.

Static Web App
<img width="951" alt="Static Web App (data out)" src="https://user-images.githubusercontent.com/10274446/145392499-cdd0424b-7756-423e-b598-4987cb

[2021-12-09 15:37] anthonychu commented on #656
Did you try building the app locally? The [framework version](https://github.com/springcomp/my-app/blob/edca0bebc7b4f82632468095792433053c0671be/api/api.csproj#L3) is incorrect. You should be using `net6.0` as indicated by this [list](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#latest-versions).

[2021-12-09 17:56] a2441918 commented on #551
Or you can also write a powershell script which will add the generated url to the list of redirect uris??

[2021-12-09 18:17] springcomp commented on #656
@anthonychu

Yes, indeed, I tested this with success locally inside the SWA emulator.

My Azure Function [.csproj](https://github.com/springcomp/my-app/blob/feature/net6.0/api/api.csproj#L3) file targets .net 6.0.

[2021-12-09 19:47] anthonychu commented on #656
Please use the documented target framework moniker of `net6.0` in your csproj (not `net60`).

[2021-12-10 07:38] springcomp commented on #656
@anthonychu, thanks for pointing this out.

So obvious in hindsight. 🤦‍♂️

[2021-12-10 07:38] #656 closed

[2021-12-10 13:57] Notaduck opened #657 "Gatsby client-only routes and 404 pages"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1.1. Go to '(https://zealous-coast-0d9f37603-36.westeurope.azurestaticapps.net/)'
1.2. Click on the login button in the header
1.3. Refresh the page
4. The styling is weird

2.1. Go to '(https://zealous-coast-0d9f37603-36.westeurope.azurestaticapps.net/dskjalasjdklas)'

[code]

**Expected behavior**
The css/styling should be c

[2021-12-10 23:30] dean-dot-git commented on #634
I second this!

[2021-12-10 23:44] miwebst commented on #639
I can't comment on how App Service is measuring the bandwidth here, I will say that looking at your app there is a 20 MB JS file being requested very frequently which is likely where the high bandwidth is coming from. I would suggest trying to minify and/or pre-compress that file. Doing this will drastically reduce your bandwidth

[2021-12-10 23:51] xwellingtonx commented on #639
@miwebst This is the main file from angular which alre minify it, also the compression is turned on the actually size been downloaded is 7mb both im App Service ans Ststic Web App, but as you can see the measure for App Service is a way less, so I believe it might be something goes wrom for the Static Web App.

[2021-12-11 08:51] ananratt1 commented on #594
I have the same issue. I can confirm that /logout doesn't really log the user out from AAD or Google.

Steps to repro:
1. Navigate to /.auth/login/aad and login using a Microsoft Account. Say NO to 'Stay signed in?' prompt.
2. Navigate to /.auth/me to see the basic information on the logged in account to prove that I'm in the logged in state.
3. Navigate to /.auth/logout to logout. Immediately, na

[2021-12-11 15:04] ahamedfazil opened #658 "Cannot setup root domain with A type record in godaddy"
**Describe the bug**

I am trying to add custom domain to my Static webapp and I was almost succeeded, but while try to setup root domain by adding ALIAS record in domain provider I couldn't add since godaddy allows only IP address in A Type record.

I pinged my static webapp url and added that IPv4 address to A type record in godaddy but it didn't work (actually it worked for few minutes where I

[2021-12-13 04:09] srmagura opened #659 "Multiple issues with Bicep deployment"
This is a meta-issue to highlight the many problems with deploying a Static Web App resource with Bicep or ARM templates.

1. https://github.com/Azure/static-web-apps/issues/516 This is still a problem even though the issue was closed. Take a look at [Johnny Reilly's blog post](https://blog.johnnyreilly.com/2021/08/15/bicep-azure-static-web-apps-azure-devops/) for the level of hackery that is curr

[2021-12-13 15:08] ngoquoc commented on #576
Is there any workaround for this? Our entire ARM deployment failed just because of this bug 😳

[2021-12-13 15:15] ngoquoc commented on #458
@mkarmark where should we add that `isForced=true` flag in the following ARM template?

[code]

[2021-12-14 06:48] simonaco commented on #650
@mellson can you provide more context on your use case?

[2021-12-14 07:30] mellson commented on #650
@simonaco sure, thanks for the comment. My primary use case is to make our site as available as possible. Our site is a B2B application targeting primarily businesses in Denmark. And the government in Denmark has put up this site https://xn--sikkerpnettet-vfb.dk/ which checks how "safe" a website is. Some of the tests they run are to check if your site can be reached using IPv6 addresses. So when

[2021-12-14 12:38] fhatrifork opened #660 "AzureStaticWebApp deploys to wrong enviroment"
I am unable to update my azure static web app. I use a devops task to deploy my static site.  But it does not work, when I visit the url I only see old content. I have tried rerunning the task and creating a new commit and deploying again but it does not work.

The pipeline runs without errors.

I see that the version of AzureStaticWebApp@0 changed overnight from 0.187.2 to 0.194.2. This might be

[2021-12-14 12:46] fhatrifork commented on #660
Is there anywhere I can see the release notes for AzureStaticWebApp task version 0.194.2? Is there a way to force version 0.187.2?

[2021-12-14 12:54] fhatrifork commented on #660
The problems seems to be that my site is now deployed to:
https://xxx.westeurope.azurestaticapps.net/
and the old version is still hosted at:
https://xxx.azurestaticapps.net/

Azure portal still says my site lives at https://xxx.azurestaticapps.net/

What does this maen?

[2021-12-14 13:06] fhatrifork commented on #660
My theory is that this made it create a new environment, which was not the old behavior:
[code]

[2021-12-14 14:28] fhatrifork commented on #660
After some more testing I am now pretty sure the AzureStaticWebApp uses the environment defined in YAML to determine the environment to use for the static web app. If I set the environment to 'default' then it will deploy to the production environment.

I am pretty sure this was not the behavior two days ago.

This solves my problem for now, but I would still like an official response. :)

Where c

[2021-12-14 15:25] senneclaeskens commented on #660
Same issue here. The deploy creates a new URL with the name of the environment.

[2021-12-14 15:46] vany0114 commented on #660
+1

[2021-12-14 15:49] rumurillo commented on #660
Exact same issue here.

The previous successful deployment to our development environment (2021.12.09) deployed to https://...-03cf69b1e.azurestaticapps.net. Since yesterday, all deployments are now getting deployed to https://...-03cf69b1e-development.westus2.azurestaticapps.net - notice the .development.westus2. keyword.

Here's my azure-pipeline.yml file:

[code]

cc @anthonychu

[2021-12-14 17:34] javier-romera commented on #660
Same here. Since 2 days not updating. I had in the deploy task "environment: Test", now changed to "environment: Production" and created the environment on Azure DevOps Pipelines. I granted permission for the environment but it does not work.

[2021-12-14 19:56] javier-romera commented on #660
Solved creating an environment called "default" and assigning to the deploy pipeline task.

[2021-12-14 20:14] anthonychu commented on #660
This is currently the workaround. We're working on a fix. Sorry for the inconvenience.

[2021-12-14 22:39] rumurillo commented on #660
Hey, @javier-romera -- when you say you created an environment called "default", what do you mean? Would you mind elaborating a bit more on how you work around this issue?

Thanks!

[2021-12-14 23:22] gorootde commented on #644
I second this. It would be amazing to be able to see the request logs to analyse what is going on.

[2021-12-15 03:23] rickersilva commented on #42
I'm running into this same problem. I posted a stackoverflow question on this. https://stackoverflow.com/questions/70254772/github-not-deploying-the-code-i-push-to-azure-static-web-app

Is there anyway to make Azure static web apps to work as expected. in VSCODE running locally, the local servers adds the trailing slash automatically.

[2021-12-15 07:53] fhatrifork commented on #660
Here is an example. Notice the "environment: default"

For this to work you have to create en environment called default: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/environments?view=azure-devops

[code]

[2021-12-15 08:27] javier-romera commented on #660
Actually it was @fhatrifork who wrote the workaround solution in on of the first posts. It was just a bit cryptical to follow for non experts like me. But I managed to understand it.
You just need to use the environment as above in the build pipeline and create an environment with same name. Then grant permission once when you build it and done.
Any other environment name deploys to an html addres

[2021-12-15 09:49] fhatrifork commented on #660
@anthonychu Has this been reset back to the original behavior?

My old pipeline now deploys to the default environment, even when environment is set in the YAML file

[2021-12-15 09:58] Herries2014 commented on #240
@miwebst I am getting "Error: aborting artifact upload" while doing an urgent deployment. Please can you help?
![image](https://user-images.githubusercontent.com/7486135/146165156-4d9a8a17-83c8-40aa-87a7-29d102709139.png)

[2021-12-15 10:23] mrfrankbell opened #661 "staticwebapp.config.json: 20KB limit during build & deploy vs 100KB documentation"
Based on https://github.com/login?return_to=/staticwebdev/vanilla-basic/generate, I encounter the following issue during the Build and Deploy step of the GitHub Action, once I have added all my required config to staticwebapp.config.json:

[code]

My file is 33KB, or 25KB when minified, but the documentation states that the max file size is 100KB: https://docs.microsoft.com/en-us/azure/static-web-

[2021-12-15 13:55] rumurillo commented on #660
Same here. I can confirm our pipeline is now deploying to the correct environment.

[2021-12-15 14:22] simonaco commented on #660
thank you @fhatrifork for the original issue and sharing the workaround and @rumurillo  for the confirmation that your pipeline is now deploying to the correct environment. we shipped a fix for this issue.

[2021-12-15 14:22] #660 closed

[2021-12-15 22:13] ozkary opened #662 "React SWA renders as embedded HTML on the browser"
We have several environments for our SWA which have been working properly until 12/15/2021.  On this day, we noticed that the app was only rendering the HTML as text. After inspecting the elements, we can see that there is some HTML embedding our React index.html content. This causes the browser to render only the text.

A clear and concise description of what the bug is.
The app index.html conten

[2021-12-15 23:50] anthonychu commented on #634
Updated to 16.13.1.

[2021-12-15 23:50] #634 closed

[2021-12-16 10:03] whoruyh commented on #632
I am also experiencing the same symptoms.
Randomly throws an error.
Any solution?
![image](https://user-images.githubusercontent.com/52905766/146350922-3213bc2d-9c76-4e23-bea4-fe6350d997d1.png)

[2021-12-16 16:53] meziantou commented on #632
Switch to another product... That's what I did as I was unable to reliably deploy my projet 😟
But I kept the deploy job on SWA just to see how flaky it is. Maybe I'll switch back to SWA when the job reliably succeeds.

[2021-12-16 17:13] miwebst commented on #632
We are working on a solution, will likely have an update in mid-January. Some things that you can do to improve this reliability in the short term (these may or may not be possible depending on how you build / operate your site):
- Reduce the number of unique files changing between uploads. If you are generating unique file paths on each build this can negatively affect our upload performance
- Re

[2021-12-16 17:25] sirichards commented on #661
Getting the same issue!

[2021-12-16 18:51] mkarmark commented on #662
This change was due to a regression for a recent platform upgrade. The fix has been globally deployed now and your site should be up and running again. Please let us know if you run into any other issue, and apologies for the inconvenience!

[2021-12-16 20:38] mkarmark commented on #661
Apologies for the confusion, the error message is the source of truth. We are working to update the docs to be in sync with that message.

[2021-12-16 20:56] miwebst commented on #662
This regression was caused by us fixing a bug where the `content-type` header is not overridden when specified in either route or global headers. We have temporarily rolled back the fix for this bug, but we plan to reintroduce this fix in the future. If you are overriding `content-type` in either global headers or route specific headers, you should remove them unless you intend for it to take effe

[2021-12-17 11:49] mellson commented on #599
Any official way to work around this? Right now we need to go to our Azure AD B2C tenant and register the preview url in the applications callback after every preview deploy for the login to work.

[2021-12-17 14:38] miwebst commented on #489
This should be fixed now, long query strings are now allowed.

[2021-12-17 14:38] #489 closed

[2021-12-17 14:40] miwebst commented on #626
This has been fixed, long query strings should be allowed now.

[2021-12-17 14:40] #626 closed

[2021-12-17 15:58] simonaco commented on #569
@router19 we've recently added support for assigning roles to users programmatically using serverless functions, see documentation on [role management](https://docs.microsoft.com/azure/static-web-apps/authentication-authorization?tabs=function ) and [Tutorial: Assign custom roles with a function and Microsoft Graph](https://docs.microsoft.com/azure/static-web-apps/assign-roles-microsoft-graph)

[2021-12-17 15:59] simonaco commented on #569
@adrwh you can now access claims at <YOUR_SITE_URL>/.auth/me , please let us know if that fits your use case.

[2021-12-17 15:59] #569 closed

[2021-12-17 16:40] jeromelaban commented on #657
I'm getting the same issue in a production application (not a Gatsby one), and this makes https://nuget.info/packages fail to route properly. This breaks a lot of scenarios inside the app as a result.

Here's the configuration : https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/ae50e38c82a042a94c7c61b46aa48607e60e98aa/Uno/NuGetPackageExplorer.Wasm/wwwroot/staticwebapp.config.json#L

[2021-12-17 16:50] jeromelaban opened #663 "Url rewrite in `navigationFallback` stopped working recently"
**Describe the bug**

The following Uri https://nuget.info/packages fail to route properly and gives a 404. This breaks a lot of scenarios inside the app as a result.

Here's the configuration : https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/ae50e38c82a042a94c7c61b46aa48607e60e98aa/Uno/NuGetPackageExplorer.Wasm/wwwroot/staticwebapp.config.json#L3

**Expected behavior**
Navigatin

[2021-12-17 17:18] miwebst commented on #663
We will take a look, thanks for reporting this!

[2021-12-17 17:50] miwebst commented on #663
Can you double check that your GitHub Action logs show this line:

Using 'staticwebapp.config.json' file for configuration information, 'routes.json' will be ignored.

From what I'm seeing, this site had a navigation fallback configured but since around 12/7 15:00 UTC it has no longer been provided. I also confirmed that this behavior is working with the same swa config file when applied to a test

[2021-12-17 18:17] jeromelaban commented on #663
Thanks for the investigation, we'll take a look at the logs.

[2021-12-17 18:47] jeromelaban commented on #663
Indeed the message is not there, and it's related to a .NET 6 upgrade which changed how some assets (wwwroot) are packaged. This is on our end, now.

Thanks for the very fast response time!

[2021-12-17 18:47] #663 closed

[2021-12-19 14:10] GuillaumeDeconinck commented on #94
Hello there 🙂

I was wondering if there was any news on this feature as it seems to have been worked on ?
Having password protected staging websites (with a simple Basic Auth) definitely helps.

On AWS, people do it by having an edge lambda executed before hitting the bucket, thus enforcing a Basic Auth by using a JS lambda which checks the headers. I don't know if it's something that could be a s

[2021-12-20 04:24] chris-digitise commented on #553
I've noticed this seems to be working now - was it fixed?

[2021-12-20 04:24] chris-digitise commented on #618
I've noticed this seems to be working - was it fixed?

[2021-12-20 09:56] daniel-woodhead opened #664 "AzureStaticWebApp environment name errors"
The AzureStaticWebApp task has been failing since the version changed from 0.187.2 to 0.194.2. We're using it in a few pipelines, one of which errors with `The environment name provided has invalid character(s). Valid characters are 0-9, a-z, and A-Z` whereas the others error with `The environment name provided exceeds the character limit of 16.`

Reading #660 suggests this is the environment name

[2021-12-20 11:15] simonaco commented on #91
this should be addressed by the recent feature allowing users to write a serverless function to manage roles.

[2021-12-20 11:15] #91 closed

[2021-12-20 11:27] simonaco commented on #96
related #7

[2021-12-20 11:33] simonaco commented on #102
closing as duplicate

[2021-12-20 11:33] #102 closed

[2021-12-20 11:40] simonaco commented on #51
fixed by new config, @Misiu please reopen if you're still seeing the original issue.

[2021-12-20 11:40] #51 closed

[2021-12-20 11:41] #78 closed

[2021-12-20 11:56] #81 closed

[2021-12-20 12:13] #143 closed

[2021-12-20 12:14] simonaco commented on #143
@satellitex please reopen the issue if you're still seeing the initial errors.

[2021-12-20 12:21] simonaco commented on #169
@mrgenesis please reopen if app insights isn't helping in your use case.

[2021-12-20 12:21] #169 closed

[2021-12-20 12:22] #171 closed

[2021-12-20 12:42] #216 closed

[2021-12-20 12:43] simonaco commented on #216
@aatifsyed thank you for reporting this issue. please reopen if it's still a problem.

[2021-12-20 12:43] simonaco commented on #215
@aatifsyed thank you for reporting this issue. please reopen if it's still a problem.

[2021-12-20 12:56] simonaco commented on #200
thank you @GaryParr for your feedback. closing this issue as the original issue is addressed and the one related to the swa cli is logged [here](https://github.com/Azure/static-web-apps-cli/issues/306)

[2021-12-20 12:56] #200 closed

[2021-12-20 12:57] #176 closed

[2021-12-20 13:58] simonaco commented on #571
related #88

[2021-12-20 14:04] mfcollins3 commented on #613
Yes. Sorry, been swamped with end of year stuff and I wasn't working on this project. I just started vacation today. I'll get you an updated log today.

[2021-12-20 14:32] simonaco commented on #661
@mrfrankbell @sirichards  thanks for reporting this issue. can you help us understand more about your use case, what types of settings do you include in your config file?

[2021-12-20 14:45] mrfrankbell commented on #661
In my case it was converting a dynamic site with about 140 pdf articles to a static site, whilst retaining the slugified URLs (routes). Apart from the routes I just have a custom 404 page configured and that's it.

I got under the limit by minimizing the file and folder lengths (e.g. 2021 to 21, abbreviations in file names etc) and then minifying the JSON config file, but I did still have to remov

[2021-12-20 15:00] miwebst commented on #661
Hey @mrfrankbell,

Would slug support solve your use case and reduce the number of routes that you need? For example if you had the ability to do:

route: "/pdfs/{folder}/{year}",
rewrite: "newpdfs/{folder}/subfolder/{year}"

Would something like that work here?

[2021-12-20 15:09] simonaco commented on #664
@daniel-woodhead the fix for #660 should help with the issues related to env length & characters as well, I just tested a deployment using a very long env name and it succeeded. Would you mind manually triggering a new run for the ones that failed?

[2021-12-20 15:09] mrfrankbell commented on #661
Not in my case, as there are different articles, by different authors. I think the degree of variability would always require a number of different routes.

An example:

Route /section/author-name/2021/06/title-of-article which I am currently mapping to /s/21/AN-Title-of-Article.pdf.

________________________________
From: miwebst ***@***.***>
Sent: Monday, December 20, 2021 3:00:21 PM
To: Azure/s

[2021-12-20 15:17] miwebst commented on #553
Yes we shipped a fix for this recently!

[2021-12-20 15:17] #553 closed

[2021-12-20 15:20] daniel-woodhead commented on #664
Hi @simonaco thank you for looking into this, unfortunately it still failed with the same error.

[2021-12-20 17:20] miwebst commented on #240
I don't believe this is anything that we are involved with. Can you provide your workflow file / full action logs so we can confirm?

[2021-12-20 18:05] anthonychu commented on #664
@daniel-woodhead Are you running on a Microsoft-hosted agent or a self-hosted one? The fix was made in the underlying Docker image, and it's possible that it's still using an older cached version on the agent.

[2021-12-20 19:06] dfberry opened #665 "Doc feature request: best practice for api build failure"
My react static front end builds successfully but my TS/Node.js api doesn't build successfully but the app still deploys and the github action still shows as green.

I must be doing something wrong.

How do I get the github action to report the failure and the deployment to not happen?

[2021-12-21 00:04] anthonychu commented on #665
@dfberry  Can you share the repo? What was the failure?

[2021-12-21 08:46] daniel-woodhead commented on #664
@anthonychu It's a self-hosted agent. How can I make it use the latest version?

[2021-12-21 09:48] simonaco commented on #217
@kanna727 please reopen the issue if you can still reproduce it. thank you!

[2021-12-21 09:51] simonaco commented on #219
closing the issue as resolved, @jon-a-nygaard please reopen if you can still reproduce it. thank you!

[2021-12-21 09:51] #219 closed

[2021-12-21 10:03] simonaco commented on #235
resolved in vs code extension

[2021-12-21 10:03] #235 closed

[2021-12-21 10:06] simonaco commented on #269
@IndiaryNews please reopen if you're still running into this issue. Thank you!

[2021-12-21 10:06] #269 closed

[2021-12-21 10:15] #231 closed

[2021-12-21 10:30] simonaco commented on #228
@rhollins I wasn't able to reproduce your issue, please reopen if you're still seeing this.

[2021-12-21 10:30] #228 closed

[2021-12-21 10:37] #336 closed

[2021-12-21 10:39] #327 closed

[2021-12-21 10:43] simonaco commented on #319
Static Web Apps now supports .NET 6.0

[2021-12-21 10:43] #319 closed

[2021-12-21 10:44] jpalo commented on #427
[code]
Worked well. Attempting to update SKU via portal didn't work, however.

[2021-12-21 10:50] simonaco commented on #496
Azure Static Web Apps now supports .NET 6.0

[2021-12-21 10:50] #496 closed

[2021-12-21 10:57] simonaco commented on #491
@arashcomsense can you please share more about your use case? As @manekinekko mentioned, we enable hosting multiple versions of the app using [pre-production environments](https://docs.microsoft.com/azure/static-web-apps/review-publish-pull-requests).

[2021-12-21 11:09] simonaco commented on #574
@Mardaneus86 are you still seeing this issue? would it be possible to share your github repo if public so we can investigate your issue?

[2021-12-21 11:32] jpalo opened #668 "Securing Azure SQL used by SWA API Azure Function"
When accessing Azure SQL from SWA API (managed Azure Function), I assume I need to open the SQL to the world firewall-wise? Should I move to "Bring your own Function" model if I'd like to limit access to SQL using VNET & private endpoints only for my Azure Function?

[2021-12-21 12:14] simonaco commented on #642
@srmagura @wilwer we recently released task 0.194.2 which should address this issue.

[2021-12-21 12:14] #642 closed

[2021-12-21 12:19] simonaco commented on #533
This should be fixed with the latest version of oryx

[2021-12-21 12:19] #533 closed

[2021-12-21 12:20] simonaco commented on #534
This should be fixed with the latest version of oryx

[2021-12-21 12:20] #534 closed

[2021-12-21 12:25] #523 closed

[2021-12-21 12:28] simonaco commented on #309
@k-miyake  thank you for the suggestion, we just enabled GitHub Discussions.

[2021-12-21 12:28] #309 closed

[2021-12-21 16:07] re-sounding commented on #382
Pinging this thread again. Any updates?

[2021-12-21 17:25] dfberry commented on #665
The [repo](https://github.com/dfberry/github-who)  has the following [action run](https://github.com/dfberry/github-who/runs/4586299971?check_suite_focus=true).  Both the React client and Function API are TypeScript. When the client tsc fails, deploy fails. I thought the same would happen with the api which was generated with the VSCode Function extension. But instead the following partial log of

[2021-12-21 21:27] anthonychu commented on #665
Thanks. Agree that an Oryx build failure should fail the action and the deployment should not proceed. @miwebst can you please take a look?

[2021-12-21 22:03] anthonychu commented on #664
Added a bug to track this: https://github.com/microsoft/azure-pipelines-tasks/issues/15629

For now, try adding a step to pull the image before running the `AzureStaticWebApp` task:

[code]

Thanks for identifying the issue and sorry for the inconvenience.

[2021-12-22 08:55] binkiesjoris opened #670 "Navigation fallback ignores configured routes allowedRoles"
**Describe the bug**
Using the following config, if the navigation fallback rule is activated the allowedRoles setting for the '/index.html' route is ignored and the file is served to anonymous users. Directly navigating to /index.html or /index.js works as expected and properly redirects to the login page.

`{
	"routes": [
		{
			"route": "/login",
			"rewrite": "/login.html"
		},
		{
			"route":

[2021-12-22 09:11] daniel-woodhead commented on #664
@anthonychu That worked, thanks! I won't close this issue in case you want to keep it around until the task is fixed, but feel free to close it if not.

[2021-12-22 21:53] anthonychu commented on #113
The updated task should be available now. Also added this parameter to the docs:

https://docs.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=github-actions#extend-build-timeout

[2021-12-22 22:25] loganmarshall1 commented on #113
Perfect thank you. Yes I got it working on all of my apps. I had to set it to 45 minutes :). Thanks!!

[2021-12-23 19:50] geoffrich commented on #623
Chiming in with a +1 for this feature. I maintain the Azure SWA adapter for [SvelteKit](https://kit.svelte.dev/), which recently dropped Node 12 support. Until this is supported, people using my adapter will need to pin to an old SvelteKit version.

[2021-12-23 21:11] itpropro commented on #623
Also just to make sure, when this feature lands, it will be possible to switch to Node 14 and 16 right? Many technologies I use already require Node 16 for some tasks so it wouldn't make sense to only support Node 14 at this point.

[2021-12-23 22:29] anthonychu commented on #623
The current design will allow you to specify the API runtime version in staticwebapp.config.json. We plan to add both Node.js 14 and 16 at the same time. However, Node.js 16 support Azure Functions are still in public preview so we'll offer Node.js 16 as a preview feature as well.

Hope to have news to share on this in January.

[2021-12-23 22:37] biltongza opened #671 "Deployment without index.html?"
I'm using SvelteKit and trying to publish a site with server side rendering enabled. My root page has dynamic content, so I can't prerender it to just a plain html file and publish that because the contents get written at build time and then never updated.

Trying to use oryx to deploy without an index.html fails, telling me that it is required. So I tried creating a dummy index.html and using a r

[2021-12-23 22:48] anthonychu commented on #671
Yes. You should be able to add the dummy index.html plus these 2 route rules in staticwebapp.config.json to make this work:

[code]

We're hesitant to remove the index.html check as this catches a significant number of workflow misconfigurations, so you'll need to use this workaround for now.

[2021-12-23 23:06] biltongza commented on #671
Awesome, that works perfectly. Thanks!

[2021-12-23 23:06] #671 closed

[2021-12-24 12:50] itpropro commented on #623
Sounds great, thanks for the update and happy holidays to the whole SWA team 🎄

[2021-12-27 13:33] miwebst commented on #670
Routes are not applied on NavigationFallback by design. If you'd like to achieve that behavior you can use the 404 ResponseOverride but that will have other implications (i.e. non-existent routes will redirect).

Can you elaborate on the security concern with unauthenticated users having access to the base index.html / js ?

[2021-12-27 13:34] miwebst commented on #668
"Bring your own function" is the only way to do this today. You will need to make sure your Function is accessible publicly too.

[2021-12-27 13:36] miwebst commented on #665
I'd suggest creating an issue on Oryx for this, they will need to make a fix for this. Thanks for reporting!

[2021-12-27 13:44] #668 closed

[2021-12-28 04:35] dfberry opened #672 "SWA function level `admin` not allowed?"
Why am I getting an error about `admin` level auth not allowed? I'm trying to find the doc that let's me know why?

* [GitHub action run](https://github.com/dfberry/github-who/runs/4647180863?check_suite_focus=true)
* error: `the file 'status/function.json' specifies an invalid authLevel. Allowed authLevels: anonymous, function.`

[code]

[2021-12-28 15:27] indcoder opened #673 "Application Insights Instace is not getting provisioned"
**Describe the bug**

Have a managed function called GetRoles and I'm trying to provision an Application Insight instance to monitor it. And SWA hosting plan is on Standard Plan.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Followed step by step the below resource,

https://docs.microsoft.com/en-us/azure/static-web-apps

[2021-12-28 22:45] craigomatic commented on #460
+1 on better support for SaaS solutions, was very disappointed to find there is such a low limit on subdomains!

Wildcard would be a good solution as we wouldn't have to make an API call to bind another subdomain. Although, having an ability to control which subdomains resolve to the SWA may be sensible as well.

Is there a way to request via support to increase the limit on our subscriptions?

Al

[2021-12-29 14:05] dfberry opened #674 "Best practice: test build without actually deploying"
How can I test the action completely without actually deploying it - Is there a property I can set or a different action I should use?

[2021-12-31 13:46] SheldonHage opened #675 "Angular apps with Routing fail when navigating"
I have a few Angular apps ranging from drop-dead simple to highly complex each using Angular Routing.

I've successfully enabled **VS Code** --> **Github** --> **Actions** --> **Deploy to Static Web App** for a few of them.

When any of the apps navigate from WITHIN the app, the navigation works fine.   So this is ok.

To reproduce using a **simple app with basic routing**:
1.  Build and deploy an

[2021-12-31 14:01] miwebst commented on #675
Have you configured a navigation fallback via the staticwebapp.config.json: https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#fallback-routes

[2021-12-31 14:17] SheldonHage opened #676 "Deleting Static Web App from within VS Code leaves behind Azure Resource Groups"
**Deleting Static Web App from within VS Code leaves behind Azure Resource Groups**

**To Reproduce**
1.   Use VS Code to checkin code to Github with action to deploy to new Azure Static Web App
2.   After successful build and deployment...
3.   Go to Azure Portal and see that a dedicated resource group was created for the static web app
4.   In VS Code, use the Static Web App plugin to **delete**

[2021-12-31 15:46] SheldonHage commented on #675
I have not.   This could be the issue; will verify.

[2021-12-31 16:27] SheldonHage commented on #675
This did solve it.

[2021-12-31 16:27] #675 closed

[2021-12-31 22:28] staplJason opened #677 "Add ability to set app-settings-json similar to github action azure/appservice-settings@v1"
Managing application settings from CLI or Portal is time consuming.
I would like to be able to set app settings using a github secret something like:
[code]
Same as it is done in the github action: azure/appservice-settings@v1
[code]

[2022-01-03 08:23] Reshmi-Sriram commented on #676
Hey @SheldonHage,
Thank you for raising this issue! Since it is concerned with VSCode, I'm transferring the issue to the VSCode Staticwebapps issues (https://github.com/microsoft/vscode-azurestaticwebapps/issues)
Feel free to re-open it here later if needed!

[2022-01-03 08:28] #676 closed

[2022-01-03 10:39] rhalaly commented on #674
Azure Static Web Apps is a wrapper of Web App + Azure Functions API. You can test each one separately as you would do without Azure Static Web Apps, based on the libraries/technology you chose.

[2022-01-03 10:52] rhalaly opened #678 "How does the Globally Distributed static content work with other features?"
In your docs you say that one of the key features you have in Azure Static Web Apps is:

I don't understand how it can work with other features like authentication.
If I have this `staticwebapp.json`:
[code]

I don't have any code in my HTML+JS that enforces the authentication, but still, something enforces that rule.

On one hand, you claim that the static content is globally distributed.
On the

[2022-01-03 21:42] Akelitz commented on #170
any chance to enhance this in the near future?

[2022-01-04 02:56] staplJason commented on #673
I had the same issue.  I used the info in this link to get my demo working:
https://www.aaron-powell.com/posts/2020-08-12-getting-logs-from-static-web-apps-apis/

[2022-01-04 06:04] jonlighthill commented on #196
@smakinson I noticed you utilize a prerender function on #519 here https://github.com/Azure/static-web-apps/issues/519#issuecomment-976510735. Are you able to share what you did for the function?

Thanks in advance.

[2022-01-04 07:29] anthonychu commented on #673
@shimedh @simonaco Can you please investigate?

[2022-01-04 08:50] binkiesjoris commented on #670
I think we might have made an error in our reasoning, what we wanted to achieve is preventing **unauthorized** persons from accessing the SPA code would because it will contain information about proprietary data formats, rendering approaches etc,. It would also allow the SPA to not have to reason about the login state. This wont really work though, even with the previously described expected behav

[2022-01-04 13:39] smakinson commented on #196
@jonlighthill I was planning to adjust the prerender express middleware for azure functions (https://github.com/prerender/prerender-node) and run all static web app requests through a function that decided if it should use the prerender or not. But what I ended up doing instead is using a cloudflare worker: https://github.com/prerender/prerender-cloudflare-worker with no change needed on the Azure

[2022-01-04 15:39] simonaco commented on #673
@indcoder @staplJason thanks for reporting this issue. I wasn't able to reproduce it with an older app nor with a new app. did you create the app insights instance separately or directly from the static web apps UI? can you share your hostname or github repo so we can investigate?

[2022-01-04 15:53] indcoder commented on #673
Thanks @simonaco for looking into this.  The screenshot from my original post shows the screenshot that I used to do this from the Azure portal [Static Web Apps UI].

Host name : https://ashy-cliff-098028800.azurestaticapps.net
GitHub repo: https://github.com/indcoder/Visage

[2022-01-05 03:48] staplJason commented on #673
This was on a brand new account and creating a static web app was the first thing I tried.
I just created another static app and everything worked as expected.

A few things I remember as being different:
* My first static app never had any stats on the overview screen until I got the Application Insights working using the info in the link provided earlier.
* Before the first static app I didn't

[2022-01-05 15:37] brianharwell opened #679 "skip_deploy_on_missing_secrets is not supported"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a build task and do not include the `` parameter

[code]

Here is the error
[code]

[2022-01-06 11:01] kolappannathan commented on #322
It would be nice of Azure adds an option for this. I ended up modifying the build script I was using for Firebase. Here is the workflow file if anyone is interested.

It is simpler script and doesn't include previews for PR. If you need that functionality
refer to @chrisreddington workflow file.

[code]

[2022-01-07 00:15] geoffrich opened #680 "Returning 301 status from API shows 500 page"
**Describe the bug**

Returning a 301 status from the API shows an Azure "500: Internal Server Error" page and does not perform the redirect. Interestingly, returning a 302 works as expected and _does_ successfully perform the redirect.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh Azure SWA project with just an `index.html`
2. Add an HTTP triggered function called "redirect

[2022-01-07 11:42] abouroubi commented on #516
The issue is closed because it fixes the op problem with Azure DevOps, but the root cause is still here, the code is not idempotent, first run goes fine, second without any modification throws an error.

Is there any other issue that was opened to fix it ?

[2022-01-07 12:22] kreativ-software commented on #139
Any news about this restriction?

[2022-01-07 14:12] springcomp opened #681 "Consider supported a "maintenance page" to prevent access to the website."
My Angular-based static web app uses an embedded Function App API that performs CRUD operations on a CosmosDb database.
While performing data | schema migrations, it would be nice to be able to "stop" the website to prevent users from interacting with the website.

A simple maintenance switch would be good.

[2022-01-07 19:00] a2441918 opened #682 "Close pull request job does not give the corresponding deployed url - Github actions"
**Describe the bug**

I would like to get the staging url created in the previous (build_and_deploy_job) job in the close_pull_request_job job. My goal is to go ahead and remove the url from the redirectUri list in Azure app service. But for some reason, when I tried steps.closepullrequest.outputs.static_web_app_url, it is an empty string.

**To Reproduce**
Steps to reproduce the behavior:
    nam

[2022-01-07 19:15] a2441918 commented on #293
This is what I am doing. Anyway to manualy get the "something-else-18b0d761e" value?

[2022-01-07 22:13] gorootde opened #683 "`href="./"` does not work"
**Describe the bug**

Deploying an HTML file with a relative link in it leads to 404, and does not display the expected page. However, when serving the site locally it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy `example/helloworld/index.html` file
2. Deploy `example/index.html` which contains a `<a href="./helloworld/">Click</a>` link
3. Navigate to `https://my-static-webs

[2022-01-08 18:53] paule96 commented on #343
I'm not sure if I should open a new issue for this or write a comment here. So I start with writing a comment here.
Because of this issue, I did reverse engineered the calls that the docker container does in the pipeline. You can find my script [here](https://github.com/codez-one/CZ.Azure.FileExchange/blob/main/build/deploy.ps1).
It's definitely not complete but show what I think most of the enter

[2022-01-08 19:22] paule96 opened #684 "Undocumented not allowed parameter for functions"
**Describe the bug**

If you write a function that accepts as a query parameter `code` it will throw a 500 http error.
This error can't be reproduced local so I think it's an issue in the static web apps repo. It only happens after deployment.

You can see the issue and the fix in this [Commit](https://github.com/codez-one/CZ.Azure.FileExchange/commit/fd246b8c62baee5f5604828131b4b13ebf856c13).

**

[2022-01-08 19:26] paule96 opened #685 "If you run in a startup error of your function project, there is no help / log to take a look into to fix the issue"
If you have deployed an API that won't start you only get the response from the HTTP server `Function host not started`.
This is not really helpful to find the issue. In the application insights to your static web app you will only see that you application isn't started yet. It would be nice to have any kind of log output or something similar for the function host, to fix startup bugs, that are no

[2022-01-08 19:30] paule96 opened #686 "If a request isn't routed to your api you can't findout why"
As described in the issue #684 not all requests get routed to the API if an API is deployed. This get be even more complicated if your app has a custom route configuration with many rules in it.
It would be nice to see in the connected application insights what routing was chosen and why. Or at least enable a debug APP mode for this.

[2022-01-09 20:22] sravimohan commented on #144
Hitting the same limitation with signalr trigger.

[2022-01-09 23:42] gorootde commented on #549
@lucashfreitas I am blocked by the very same issue. Can you share how you achieved the above?

[2022-01-09 23:45] miwebst commented on #678
Azure Static Web Apps globally distributes your static content. All requests are routed to our edge nodes where various logic is applied such as routing rules. The various features in the config file are independent of any serverless functions you add to your project.

[2022-01-09 23:53] miwebst commented on #679
Hey @brianharwell we need to make this logging message more concrete. We are expecting this to be an environment variable not an input. If you specify it as an env var this should work.

[2022-01-09 23:56] miwebst commented on #674
That isn't quite right. While Azure Static Web Apps supports a lot of the same behaviors as using a Web App + Azure Function in conjunction, there is a lot more (i.e. global distribution, free SSL certs) that is added as well. It isn't simply a wrapper.

@dfberry you could have a separate workflow that runs on every commit to simply run the build / test components without deploying. To do this, yo

[2022-01-09 23:58] miwebst commented on #684
Repeat of this longstanding issue, please use that issue for tracking: https://github.com/Azure/static-web-apps/issues/165

[2022-01-09 23:58] #684 closed

[2022-01-10 00:05] rhalaly commented on #674
@miwebst of course. I meant that the code is separated from Azure Static Web Apps hosting and the code can be built as a regular app.

Azure Static Web Apps is super cool service :)

[2022-01-10 00:11] rhalaly commented on #678
Not sure I understand the flow.

What is the flow of a user that want to navigate to any page with the config from my first comment?

There is a lot of logic happening before the static content...
Your servers need to reads the config file, authorize the user with the context cookie, and if authorize, return the static content.

Is this server logic global distributed?

[2022-01-10 01:11] miwebst commented on #678
Our edge nodes how to interpret the config file and your rules are applied before static content is served. This happens at our globally distributed edge nodes.

[2022-01-10 07:35] #678 closed

[2022-01-10 18:20] miwebst commented on #680
Thanks for reporting this, we will get this fixed.

[2022-01-11 17:32] #223 closed

[2022-01-11 17:40] mhmo91 commented on #162
raising another hand here that this is quite annoying!

[2022-01-11 18:29] pilotkid commented on #162
The fix for me was adding in the following code to the my workflow yaml file. Works every single time now, for the last several months.

[code]

[2022-01-11 18:35] miwebst commented on #162
@mhmo91 can you clarify the scenario you are seeing this in? Is it the same scenario where you have a GitHub Action running because of an update to a PR and you close that PR concurrently?

[2022-01-11 18:37] paule96 commented on #7
For everyone that is still searching for a way to just upload something from the command line, I wrote for myself a little script for this:

https://github.com/codez-one/CZ.Azure.FileExchange/blob/main/build/deploy.ps1

You can look into the readme how this works.
But here some warnings:

- there is no force upload. if you want a force upload change a file
- it does not support right now branch en

[2022-01-11 18:44] paule96 opened #687 "Just deploy it with ARM"
It would be really nice to have a deploy from zip option in the ARM template. Or even better an option to deploy from a repo but without creating in the repo action or an azure pipeline.

So you can basically archive the ability to add the deploy to azure button, for your repo, and the user of the Application must just deploy it without bothering to connect a build system or something else to it.

[2022-01-11 18:48] mhmo91 commented on #162
@miwebst just noticed that the azure build is failing on pull requests due to environments exceeding max of 10. all the pull requests are closed yet the environment is still there taking up the space.

[2022-01-11 18:55] miwebst commented on #162
Can you check the Azure Portal and try to remove those environments there?

[2022-01-11 21:02] gorootde commented on #542
I've found a workaround that enables me to build my project which uses workspaces. My directory structure is:
[code]
whereas the `api` project has a dependency on the `common` package.

Right before the `Azure/static-web-apps-deploy@v1` action, I added

[code]
to my pipeline. This will replace the version number of my common project, with a file path directly pointing to it. Since oryx executes th

[2022-01-12 07:59] mhmo91 commented on #162
@miwebst  that's what i did now, i'll let u know if the issue persisted, thanks, much appreciated your prompt response :)

[2022-01-12 08:00] mhmo91 commented on #162
This were  a default configuration that are created by the Azure static deployment plugin, and yet the issue happened, we moved to Azure cdn about a month ago!

[2022-01-12 16:22] mwaddell commented on #162
@mhmo91 The issue is that the `finish_pull_request_job` completes before the `build_and_deploy_job` completes.  If you look in your PR, you'll see something like this:

![image](https://user-images.githubusercontent.com/750244/149177711-c51d8fc8-f534-4557-8e7e-f09572c305d6.png)

I tried adding a "cleanup" job to that same workflow which would execute after the `build_and_deploy_job` finishes and t

[2022-01-12 17:01] mwaddell commented on #162
For now, I'm using the [concurrency](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency) option as follows:

[code]

This prevents multiple instances of the workflow from running at the same time on the same PR, so the "close" action will always wait until the previous "deployment" action finishes before it begins, thus preventing this bug.

The

[2022-01-12 21:26] paule96 commented on #7
another usecase is btw. if your dotnet build requires more tools then just dotnet. I my case this is `sass`. You can define every program call in your csproj for example.

[2022-01-12 21:49] simonaco commented on #687
Thank you for the feedback @paule96 . related to #7

[2022-01-13 19:36] mehov commented on #96
Any news on this?

I added a GatsbyJS site to Azure Static Web Apps, but it seems to be triggering on _code_ changes only, while I also need a way to trigger builds on _content_ updates.

[2022-01-14 00:28] miwebst commented on #516
If you are providing the provider, repositoryUrl, and branch then it should be idempotent.

[2022-01-14 01:12] abouroubi commented on #516
I’m not providing the repositoryUrl, I don’t want my infrastructure to know about how I store my code.
And the first run works, the second don’t, so it’s not idempotent.

[2022-01-14 01:21] miwebst commented on #516
By the second run, do you mean after you've deployed content to the SWA?

[2022-01-14 08:20] kiranpradeep opened #688 "How to show a custom page after user completes onboarding with invitation link ?"
**Is your feature request related to a problem? Please describe.**
I created invitation link as documented [here](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization?tabs=invitations#create-an-invitation). But on completing the invitation, the user is taken directly to application home page.  Is there a way I can show an onboarding complete page to the user? This im

[2022-01-14 10:53] mortezaadi commented on #382
I ran to the same issue, apparently; it happens only in chrome while it works perfectly fine in Safari. at least this is what happens to me, Are you using Chrome?

[2022-01-14 11:04] abouroubi commented on #516
Yes, I deploy my infrastructure, deploy my code.
modify other parts of my infrastructure, try to deploy it again, and it errors on the SWA part.

[2022-01-14 11:23] vxphuong commented on #632
@miwebst have any update? I met the same issue.
![image](https://user-images.githubusercontent.com/17586875/149507674-ecfacea4-d719-4712-8282-a72ffa411eff.png)

[2022-01-14 11:52] re-sounding commented on #382
I was indeed testing on Chrome.

[2022-01-14 12:10] mortezaadi commented on #382
@re-sounding, apparently there is a bug related to cookies with google chrome, they are planning something long term with their cookies -> https://blog.google/products/chrome/updated-timeline-privacy-sandbox-milestones/
you can read more here: https://blog.heroku.com/chrome-changes-samesite-cookie

according to my investigation setting sameSite to 'Lax' solves the chrome issue, but I found Azure-f

[2022-01-14 20:00] roman-lautenschlager opened #689 "Filing to deploy static files from Azure DevOps due to Oryx"
It was discussed here before and on Microsoft/Oryx , but none of the “old” solutions worked for me.
I have a simple Azure DevOps repository, with index.html in root path, as well as in /src directory.
[code]

Azure Pipeline has deployment_token variable configured.

azure-pipelines.yml I’ve tried with many combinations like

[code]

But the best result I could achieve, gave me Oryx errors "**Error

[2022-01-16 20:25] theeKatlego opened #690 "Does the free hosting plan (with Managed Azure Functions) support .Net6.0 dotnet-isolated runtime?"
Hi

Does the free hosting plan (with Managed Azure Functions) support .Net6.0 dotnet-isolated runtime?

Previously, I used netcoreapp3.1 and Azure Functions v3. I changed to .Net6.0 dotnet-isolated runtime. It seems that the API is not deployed- I can't see the functions on the static app functions tab.

![image](https://user-images.githubusercontent.com/4394162/149676332-48d48d34-3fdf-4e27-be93-3

[2022-01-16 21:55] theeKatlego commented on #690
Not sure what I did wrong initially but I recreated the API project again and deployed it - It works.
![image](https://user-images.githubusercontent.com/4394162/149679610-ba8462c8-d84f-4346-97de-27b83506b651.png)

[2022-01-16 21:55] #690 closed

[2022-01-17 19:02] lbugnion commented on #256
That would be really good. For example I am caching some documents in my SWA function and sometimes when I modify these docs I'd like to restart so my Functions app fetches a fresh copy.

[2022-01-17 21:21] ansman commented on #516
I think the problem here is that deployment from DevOps or GitHub Actions actually updates the static site properties which then causes the bicep deployment to fail the next time which feels a bit backwards.

[2022-01-17 22:48] anthonychu commented on #322
@simonaco @william-msft A couple things to investigate here:

- Can Oryx install and use hugo-extended instead of just hugo by default, if Hugo is detected?
- Looks like there's a need to pass flags to the hugo command. We should enable this via `app_build_command` in the GitHub Action. Needs: https://github.com/microsoft/Oryx/issues/1027

Selecting a specific [Hugo version](https://docs.microsoft

[2022-01-17 23:01] anthonychu commented on #685
Agree that this information is difficult/impossible to retrieve.

@miwebst @simonaco Functions recently added an errors API for querying startup errors. Please reach out to @soninaren for more info. It might require a Storage account though so that could be a challenge.

We should also see if we can add a detector for Functions errors in the upcoming Diagnose and Solve blade that's coming to the p

[2022-01-17 23:05] anthonychu commented on #549
We're working on a couple of things. First is to allow you to specify the language (and language version) for the function app. Once that's possible, add support for `skip_api_build` #343. @simonaco @Reshmi-Sriram  can share updates on progress.

[2022-01-18 10:47] chrisreddington opened #691 "Error when deploying to Enterprise-Grade Edge"
The Enterprise-Grade Edge for Azure Static Web Apps does not work correctly if the desired hostname is already assigned to another Azure Front Door instance. The enabling works 'correctly', but fails to map to the correct instance when the app is live. In my scenario, I happened to have an Azure Front Door instance left over from a prior deployment and hadn't fully cleaned it up, hence encountered

[2022-01-18 10:53] rossmills99 commented on #627
Hey, I've worked around this issue by renaming the folders to remove spaces.  Nevertheless what's going to be the best way to get this fixed?  I'm not familiar enough with the codebase to contribute but it sounds like it should be an easy one... (famous last words)

[2022-01-18 16:43] SvenAelterman opened #692 "Support periods (.) in custom role names with custom authentication"
**Describe the bug**

Adding a role restriction to the routes element in staticwebapp.config.json when the role contains a period (.) fails with the following error:

[code]

In AAD, it's customary for roles, including app roles, to contain periods, such as in "User.Read." I created an API that reads the roles assigned to the logged in user for the application used by Static Web Apps authenticatio

[2022-01-18 16:45] SvenAelterman commented on #692
My workaround is to replace `.` with `-` when retrieving the roles from the claim.

[2022-01-18 18:06] SvenAelterman commented on #692
I take that back... hyphens aren't supported either.

[2022-01-18 18:10] SvenAelterman commented on #692
PS: the issue is related to the entry in staticwebapp.config.json. I can successfully return the role with periods from the API.

![image](https://user-images.githubusercontent.com/17446043/149994202-9dfe36c1-5f9c-43fc-8dbe-09943ff1131c.png)

[2022-01-19 02:33] miwebst commented on #516
Correct. When you deploy code our references will be updated so that we can provide the most recent information in our client experiences (i.e. Azure Portal). Changing these references back to empty is what causes the bicep deployment to fail.

[2022-01-19 09:05] niand commented on #502
I am getting the same behaviour as mentioned above. The redirect to a specific subpage works on fresh browser, afterwords I end up on the root url again.

[2022-01-19 10:54] niand opened #693 "post_login_redirect_uri=.referrer with AAD authentication does not always work as expected"
**Describe the bug**

Adding a section:

"responseOverrides": {
        "401": {
            "redirect": "/.auth/login/aad?post_login_redirect_uri=.referrer",
            "statusCode": 302
        },

in the staticwebapp.config.json should result in a redirect to the intended subpage, however, sometimes the redirect ends up on the root url.

**To Reproduce**

otherdomain.com (some site containing

[2022-01-19 14:52] ansman commented on #516
It would be nice to get some official support for this workflow in Bicep. Currently it seems to assume that you are setting up your GitHub or DevOps pipeline as a part of the bicep deployment. There are ways to skip this of course (either by omitting those options or by setting the skip property) but that isn't the intended use case.

The use case we are using is to deploy the Azure resources usin

[2022-01-19 18:07] miwebst commented on #516
The provider readonly issue has been fixed in our most recent api-version: https://github.com/Azure/azure-rest-api-specs/blob/0bca06c5e06c6b12ea8e560c7416a5968136e276/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/StaticSites.json#L2892

As for the overall use case, [skipGithubActionWorkflowGeneration](https://github.com/Azure/azure-rest-api-specs/blob/0bca06c5e06c6b12ea8e560c7

[2022-01-19 18:43] SvenAelterman commented on #682
@a2441918 I am sorry I don't have an answer for you. However, could you share how you create the URL to create or remove the redirect URL?

[2022-01-19 18:50] ansman commented on #516
Ah, great. We had been using `skipGithubActionWorkflowGeneration` already and we still get the same error (`Provider is invalid`) when deploying after a successful publish.

[2022-01-19 21:34] drewdecarme commented on #605
@anthonychu Our team is having issues with accessing HTML files without their extension when paired with query parameters as well as just plain old HTML sans any URL query params.

Is there a setting that we're missing or something that could potentially be misconfigured in the static web apps?

[2022-01-19 22:45] SvenAeltermanInfo opened #694 "How to update npm used for Oryx?"
On every single build, we receive the following warning:

While the build succeeds, I would rather be able to update the npm version that Oryx uses to the latest.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Node.js project that uses an npm version >= 7
2. Attempt to deploy to a SWA

**Expected behavior**
I think I understand why keeping an older npm version on Oryx makes sense (

[2022-01-19 23:17] drogerschariot commented on #605
@anthonychu I have a Azure CDN pointing at a Azure blob storage static website. We get 404s when not adding `.html`. For example we have a file in the `$web` root of the storage container named `alerts.html`. Hitting Azure endpoint with `/alerts` 404s but `alerts.html` resolves fine.

[2022-01-19 23:56] markdeloura commented on #94
Just chiming in on this too. Something simple and dumb for basic password auth for static web apps would sure be great. I've been using Netlify for development with simple password protection, but my client is using Azure and wants the same functionality. Doesn't appear to be an easy way to do it... we could probably build something out with Azure Functions I suppose, but argh.

[2022-01-20 00:38] anthonychu commented on #605
@drogerschariot Azure Storage is a different product. You should be able to access your file without the `.html` in Azure Static Web Apps.

@drewdecarme Can you provide more details? I'm unable to reproduce the behavior in Static Web Apps.

[2022-01-20 00:42] anthonychu commented on #694
@william-msft is it possible to control the NPM version, perhaps using the `engines` field in package.json?

[2022-01-20 08:16] wbwvos commented on #214
I'd like to reopen this thread. I am running into the same issue. I am running into the size limit whilst I only have one function in my api folder. It is a python function and I have about 100 lines of code and I import `pandas` and `sklearn`. Changing to the standard tier (instead of the free tier) does not change anything. When I upload my function separately, so not within the webapp, there is

[2022-01-20 20:56] miwebst commented on #680
This should be fixed now!

[2022-01-20 21:37] geoffrich commented on #680
Great, thanks! Seems like the fix is working on my end.

[2022-01-20 21:37] #680 closed

[2022-01-21 22:50] sethsnel commented on #689
Shouldn't your `app_location` be 'src/' instead of '/'?

[2022-01-24 12:31] simonaco commented on #650
@mellson we recently released the public preview of enterprise-grade edge which adds IPv6 support to static web apps. [Enterprise-grade edge](https://docs.microsoft.com/azure/static-web-apps/enterprise-edge?tabs=azure-portal)

[2022-01-24 12:31] #650 closed

[2022-01-24 12:33] mellson commented on #650
@simonaco that sounds great - thanks for the update. I'll try the preview later this week.

[2022-01-24 13:26] roman-lautenschlager commented on #689
Tried that. Fails during build:
[code]

If I set skip_app_build: true
[code]
Even when staticwebapp.config.json and index.html are there.

Any attempt to deploy static pages from Azure DevOps failed so far.

[2022-01-24 17:11] jonlighthill commented on #196
@smakinson  Thanks for the response. @anthonychu any progress/updates on this feature?

[2022-01-24 18:32] holwech opened #695 "Facebook login not working?"
**Describe the bug**

Hi, I'm aware that Facebook login is still in preview, but do you expect this do work at all? Because it doesn't seem to work for me currently.

More specifically, I'm trying to login via the `/.auth/login/facebook` endpoint for SWA free version, but get a Facebook prompt screen stating that "The app is not configured". Doing the same for any of the other providers works fine

[2022-01-26 07:51] kaizen365 commented on #539
@mumby0168  I encountered this error too, caused by package.json issue (#173).

My workaround was to add a
[code]

within the github actions yml file:

![image](https://user-images.githubusercontent.com/1098052/151123537-21e7b836-5a82-4a95-837a-73faecdea096.png)

[2022-01-26 09:42] joeclarkejacobs commented on #42
Just discovered this issue - wondering if anyone has figured out a workaround, or better yet, if Microsoft are planning to fix the issue?

[2022-01-26 14:39] v2kiran opened #696 "Custom Domain Setup with GoDaddy dosent work"
**Describe the bug**

Hi

I am trying to add a custom domain to a azure static web site and I keep getting this error message:

[code]

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

- Bought a domain via Godaddy
- create azure static web app in Azure
- azure generates a random domain name - test it in browser and made sure it works
- create

[2022-01-26 15:23] rhalaly opened #697 "GetRoles function does not call with old session Cookie and new service"
**Describe the bug**

When using the GetRoles function, the service doesn't call it when the user has the session cookie, but new deployment pushed.
Causing the user to lose all his roles until signs in again.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in with a user that has a custom role with GetRoles function.
2. Confirm that the user is authorized with the custom role.
3. Deplo

[2022-01-26 16:37] mattwilson1024 opened #698 "[Suggestion] Allow headers to be specified as part of `navigationFallback` configuration"
**Background**

My app is an Angular SPA. As part of a production build, Angular's CLI gives me "versioned" JS/CSS files containing a hash and these files are referenced inside `index.html`.

If the user's browser (or any intermediary CDN) uses a cached `index.html` that is out of date after an update gets deployed, it may refer to old JS files (e.g. `main.[oldhash].js`) which no longer exists, re

[2022-01-26 16:44] rhalaly opened #699 "Some users get `insufficient privileges to complete the operation.` with GetRoles"
**Describe the bug**

Following this tutorial: https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph
Some users get `insufficient privileges to complete the operation.` when calling Microsoft Graph.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the tutorial
2. Login with several users
3. Some of them will throw `insufficient privileges to complete the o

[2022-01-26 20:03] motoko89 opened #701 "How to redirect to single-tenant Azure AD auth page for a static Jekyll site hosted on Static Web App?"
Hi all, I followed https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad and created the `staticwebapp.config.json` as below in the root folder:
[code]

However, navigating to the site now just show:
[code]

How do I make the redirection to sign in page?

[2022-01-26 21:26] ozkary opened #702 "SPA page reloads returning 404 and not following the navigationFallback policy"
**Describe the bug**

When a page reload is done from the browser for a single page application with client side routing rules, the SWA returns a 404 Azure error page instead of following the staticwebapp.config.json settings as described below:

[code]

This problem has surfaced in the last month or so. Yes, this feature was working as described on the documentation. For some reason, the configur

[2022-01-26 23:25] superhp opened #703 "Built-in roles management for SWA with FrondDoor"
Should built-in roles management (invited via portal) work when Static Web App is configured to work with FrontDoor and custom domain? In this case, the custom domain is setup on FrontDoor side and points to SWA. But SWA doesn't know about it. When you want to invite a new user in Role management section of SWA, there is no option to generate the invitation link for that custom domain. If you gene

[2022-01-27 12:42] danbasszeti opened #704 "Switching on Enterprise Edge breaks Azure AD B2C auth"
**Describe the bug**

When an existing Static Web App using Azure AD B2C for its auth provider and a custom domain has Enterprise Edge switched on, it attempts to redirect the user to the wrong address - wonderful-pebble-blah.origin.staticwebapps etc. This flags an error with Azure AD B2C for not being in the allowed list or redirect URI's - when added to that list the redirect simply sits there a

[2022-01-27 12:52] danbasszeti commented on #704
I attached my staticwebapp.config.json but it seemed to remove it. Please let me know if you need it, but its basically just copied from the documentation on how to set up Azure AD B2C as a provider.

[2022-01-27 23:53] mkarmark commented on #704
Hi, we have identified the issue on our end and are actively rolling out a fix for this. This fix should be deployed globally by early next week, and I'll update this thread when it is.

[2022-01-27 23:55] miwebst commented on #703
Hi @superhp,

You've raised a good question. If you are using your own AFD, currently our role invitation logic does not know that a custom domain is configured against your site and as a result will not allow you to generate invitation links based on that domain. To get past this you have a few options:

- You can add your custom domain to the SWA as well. This may not be used by your AFD (as AFD

[2022-01-27 23:58] miwebst commented on #701
Hi @motoko89, you probably will want to add an unauthenticated sign in route above the /*. After adding that you should be able to login.

However for automatic redirection to the sign-in page, you probably want to use a response override: https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#response-overrides

[2022-01-28 00:21] miwebst commented on #692
We will work on supporting this, thanks for the suggestion!

[2022-01-28 00:26] miwebst commented on #697
This should not be happening. I assume that by deploying a new version you mean updating some content?

Before and after updating the app can you verify the roles via /.auth/me https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#direct-access-endpoint

If the roles change we can take a deeper look but this is unexpected.

[2022-01-28 00:36] motoko89 commented on #701
That works!

[2022-01-28 00:36] #701 closed

[2022-01-28 20:30] Xingyixzhang opened #706 "Allow static web app to reference custom app settings"
### Scenario

When we have different configuration setting values for apps in different environments, it would be a lot more convenient to create app settings just as we could with app services (web apps / function apps).

An example we encountered recently is during our custom OIDC authentication setup for a static web app. Per [this section in doc](https://docs.microsoft.com/en-us/azure/static-w

[2022-01-29 05:51] mickey-stringer commented on #75
@anthonychu Is there an update on this, or is it being planned/tracked elsewhere?

[2022-01-29 17:21] Shruti700 opened #707 "Deployment failed with err ELIFECYCLE"
**Describe the bug**

A clear and concise description of what the bug is.
I have been trying to deploy a simple react based web app to the Azure static web app via Github actions , but it failed several times responding with error code ELIFECYCLE. As said in official documents and google searches, I have tried deleting package-lock.json and reinstalling npm as well, but it didn't worked.

**To Rep

[2022-01-29 17:38] FrankBurmo commented on #695
Would appreciate a road-map for when other providers are planned to go GA.

As I understand it only the providers listed in the docs are GA yet ( https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization?tabs=invitations ).

[2022-01-29 17:52] FrankBurmo opened #708 "Improper scope requested when calling /.auth/login/twitter"
When a user logins with their Twitter-account, way to much access to the twitter-account is requested by the SWA.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a link in your SWA that points to "/.auth/login/twitter"
2. Then the user gets a prompt from twitter to grant way to much permissions to their twitter-account, see screenshot.

(Screenshot is in Norwegian, but in summary the p

[2022-01-30 18:27] kareldeman commented on #679
I have the same problem and although I have added "skip_deploy_on_missing_secrets" as an environment variable (I just added it in the variables configuration), I still get the error "_The deployment_token is required for deploying content. If you'd like to continue the run without deployment, add the configuration skip_deploy_on_missing_secrets set to true in your deployment configuration file_".

[2022-01-30 18:42] superhp commented on #703
Thank you for response, @miwebst! I didn't think about assigning the domain to both AFD and SWA option but it seems it could be the easiest way. I will try it.

[2022-01-31 08:59] jon-a-nygaard opened #709 "Retrieve access token from AAD B2C"
**Is your feature request related to a problem? Please describe.**
I am using custom authentication with AAD B2C, and would like to retrieve the access token without using a second authentication request, and then use the token as authentication towards an API.

**Describe the solution you'd like**
I noticed a similar issue #591 where there's a request for supporting a hydbrid flow. It seems that

[2022-01-31 09:37] rhalaly commented on #697
True

Yes, I tested that. Before I had `userRoles: ["anonymous", "authenticated", "admin"]`, but after I deploy new deployment (new content) in the same website, the user is still logged on, but get `userRoles: ["anonymous", "authenticated"]`.

Only after signing out and signing in the user get the `admin` role again...

[2022-01-31 13:38] tiddydl commented on #623
Hello! any update on this? 😇

[2022-01-31 14:37] brianharwell commented on #679
That's exactly what I am trying to do

[2022-01-31 16:58] miwebst commented on #696
Hi @v2kiran , this custom domain was flagged but we have since gotten it unblocked. Can you try again?

[2022-01-31 17:12] v2kiran commented on #696
Hi @miwebst - thanks for unblocking the domain . yes just re-added and it went through 🙂

Thanks for the help
regards
Kiran

[2022-01-31 17:24] miwebst commented on #679
@kareldeman can you share your workflow file? Also what source control provider are you using?

[2022-01-31 17:26] miwebst commented on #696
Great to hear!

[2022-01-31 17:26] #696 closed

[2022-01-31 19:56] mfcollins3 commented on #640
I'm hitting this now on an app that I created and hosted using Static Web Apps that is backed by Azure AD B2C. Is there a solution yet or a workaround to get it to work?

[2022-01-31 20:37] kamsinghccl commented on #605
Is there any update when this would be available? We Would like to hide .html extension from end of the HTML5 pages..

[2022-01-31 20:52] sravimohan commented on #331
For Blazor WASM, the below worked for me.
[code]

[2022-01-31 21:36] mkarmark commented on #697
So I tried reproing this, but wasn't able to. My roles persisted after content and function updates without the need to logout and log back in. Would you be able to share a .har file with us that shows your repro of this? If you don't feel comfortable posting this here, feel free to file a support ticket with Azure and we can help you there.

[2022-01-31 21:46] rhalaly commented on #697
Will do in Azure support

[2022-02-01 06:31] anthonychu commented on #605
@kamsinghccl This works today if you update your `<a>` tags to remove `.html` from your links. We are working on a feature that will redirect any requests from `/page.html` to `/page`, but that's not needed if you update your links.

[2022-02-01 09:41] abouroubi commented on #608
Is there any new on this ?
Can't seem to find any documentation regarding how to fill the validation method

[2022-02-01 14:36] rhalaly commented on #699
@anthonychu can you assist, please?

[2022-02-01 20:34] AmdJaniga opened #710 "Unhandled Exception After Successful Oryx Build"
**Describe the bug**

Azure Pipelines is encountering a "Unknown Exception".  More in

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Azure Pipelines
2. Click on latest build
3. Scroll down to '....'
4. See error

   "/opt/dotnet/6.0.100/packs/Microsoft.NET.Runtime.Emscripten.2.0.23.Sdk.linux-x64/6.0.0/tools/bin/wasm-emscripten-finalize" --minimize-wasm-changes -g --dyncalls-i64 /worki

[2022-02-01 20:41] AmdJaniga commented on #710
Populating the empty file got the Pipeline past this unhandled exception.

[2022-02-02 01:18] miwebst commented on #707
Looks like it failed to compile? It is important that in the CI environment, warnings are treated as errors. You can manually switch this to false to allow warnings if you'd like.

Relevant logs from your action run:

[code]

[2022-02-02 11:06] kareldeman commented on #679
Here is the YAML for the Static Web App (which is in preview) task I added:

[code]

Notice I did not provide the $(deployment_token) as I don't want the above to deploy. I added the "skip_deploy_on_missing_secrets" to the Pipeline variables and set it to true:

![image](https://user-images.githubusercontent.com/17554220/152141785-9f077e04-ba78-43a3-ac99-37ad92b9142a.png)

In the Initialize Job I

[2022-02-02 13:37] mmyers299 opened #711 "Using Azure Front Door Standard with Custom Roles Function Client Principal is always null"
I set up my application with the custom role assignment function per the below tutorial
https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph

My ClientPrincipal is populated and has my custom role assigned
![image](https://user-images.githubusercontent.com/10511114/152158010-c4e0a130-aa0a-4926-9699-7f4d6b29b109.png)

I then added my app to a Front Door Standard per t

[2022-02-02 14:29] sanjeev567 commented on #302
i'm beginer level developer facing same issue but not satisfied with the answer would you further explain like how to fix warning in the app and unset the CI variable in the package.json

[2022-02-02 17:13] calloncampbell commented on #302
I'm getting this error on a .NET 6 Blazor application. Here are the logs. The error that it failed to build the solution is useless if we can't act on it.

[code]

[2022-02-02 18:06] miwebst commented on #711
There shouldn't need to be anything you need to configure. How is your caching configured?

Also is there a reason you opted to use your own manual Front Door instead of enterprise grade edge? In enterprise grade edge this should work out of the box.

[2022-02-03 06:47] beachside-project opened #712 "`X-Forwarded-Host` header does not work at logout using custom authentication"
**Describe the bug**

I setup the  Static Web App custom authentication using Azure AD B2C and login/logout worked fine.
Then I configured Front Door for Static Web Apps by referring to [here](https://docs.microsoft.com/en-us/azure/static-web-apps/front-door-manual).

The login behavior via Front Door URL was working fine. but when logout, the request was redirected to the Static Web App domain as

[2022-02-03 18:16] scale-tone opened #713 "Newly deployed instances are not responding. Looks like a DNS issue."
Deploying [this code](https://github.com/scale-tone/cognitive-search-static-web-apps-sample-ui) to a newly created Static Web App instance. Tried deploying via both Azure Portal and CLI. Results are the same: the instance is created, the deployment workflow succeeds, the instance looks healthy in the portal, but the app's root URL does not respond (fails with ERR_CONNECTION_TIMEOUT):

![image](htt

[2022-02-03 19:50] mmyers299 commented on #711
Originally I configured it exactly as it is listed in the tutorial. I tried updating it to no caching on the front door and it gets the ClientPrincipal occasionally but not consistently.

I used manual configuration because we need the WAF.

[2022-02-04 09:04] johnknoop opened #714 "Static files not served compressed"
## Expected result

From what I've found in the documentation and other Github issues, static files like images are supposed to be served in compressed form (using brotli) if the browser supports it (determined by the `accept-encoding` header.

## Observed result

Even though my browser passes this value in the `accept-encoding` header:

![image](https://user-images.githubusercontent.com/3394270/1

[2022-02-04 09:18] mattwilson1024 commented on #7
Having the ability to push pre-built artifacts to Static Web Apps via Azure CLI (ideally from a local folder) would be hugely beneficial and is a big gap in the product at the moment. In our case we use Bitbucket and CircleCI with some fairly complex build pipelines. Moving away from that would have massively increased the scope (and politics) of adopting Azure for the hosting.

My workaround for

[2022-02-04 09:50] simonaco commented on #713
thank you for reporting @scale-tone, I was able to reproduce and our engineering team is investigating the issue.

[2022-02-04 11:28] scale-tone commented on #713
Thanks @simonaco , but:
- How much global is the outage?
- Azure Status/Service Health is very much green, don't see any mentions of this there still. How do we track the progress?
- Any estimations?

[2022-02-04 11:33] simonaco commented on #713
@scale-tone , my colleagues from India, UK, and Spain can access https://nice-wave-04a90fd10.1.azurestaticapps.net and https://victorious-grass-0b0ef9c1e.1.azurestaticapps.net/ which I created to repro. So it seems like it's only certain regions that are affected so far.

We reported a customer incident and will keep you posted here with progress. If you'd like direct feedback please create an ICM

[2022-02-04 11:46] pvbchak commented on #713
@scale-tone, Is sahhgw.home a custom DNS resolution server. Given nslookup from GitHub workspace resolves as expected, we suspect it is an issue with sahhgw.home DNS resolution server.

"Requesting that '51.124.12.35' address results in 404:" would never work with old / new Static Web Apps. It is by design.

[2022-02-04 12:00] scale-tone commented on #713
@pvbchak , assuming this was a question, not sure what you mean by "custom" DNS server.
"sahhgw.home" is my WiFi router that I'm connected to Internet through.

[2022-02-04 12:20] pvbchak commented on #713
@scale-tone, ISP or company can setup DNS servers and can control how DNS resolution works. Given "nice-wave-04a90fd10.1.azurestaticapps.net" is not resolving correctly (on your machine), we suspect it is the issue. Can you please try adding mapping from nice-wave-04a90fd10.1.azurestaticapps.net to 51.124.12.35 in Windows hosts file (Please see steps in https://www.freecodecamp.org/news/how-to-fin

[2022-02-04 14:58] danwatford commented on #429
I raised a related issue against the documentation as a I didn't realise this repository existed for reporting problems - https://github.com/MicrosoftDocs/azure-docs/issues/86803

Per the linked issue, claims are now available at the /.auth/me endpoint, which is good, but documentation suggests they should also be available to functions via the x-ms-client-principal header.

@anthonychu , do you k

[2022-02-04 22:00] mkarmark commented on #711
Can you please share your app name with us and we can start investigating via our logs! If you don't feel comfortable sharing that info here, please feel free to file a support ticket and we can take a look there!

[2022-02-04 23:04] mkarmark commented on #712
Hi @beachside-project, have you configured the networking and forwardingGateway section in your config file?

Here is the tutorial: https://docs.microsoft.com/en-us/azure/static-web-apps/front-door-manual#update-static-web-app-configuration

Configuring these sections should result in you experiencing the desired flow as well as improve the security of your setup!

[2022-02-05 03:10] mmyers299 commented on #711
ops-mobile-dev-centralus

[2022-02-06 10:33] biltongza opened #715 "globalHeaders seems to be ignored"
I am using [svelte-adapter-azure-swa](https://github.com/geoffrich/svelte-adapter-azure-swa) which recently implemented a means to modify the generated config that the adapter produces: https://github.com/geoffrich/svelte-adapter-azure-swa/issues/1

I wanted to use it to try set CSP headers on my personal website. The generated `staticwebapp.config.json` looks like this:

[code]

However, this doe

[2022-02-06 18:09] mehdi-ichka commented on #392
Hi @anthonychu , is there any updates on this issue plz ?

[2022-02-06 21:42] biltongza commented on #715
So it appears that resources under my site are being returned with the headers I specify in globalHeaders, but not the root route, which has a rewrite rule to an API call. Is it possible that those rewrites are causing this?

[2022-02-07 04:46] beachside-project commented on #712
Hi, @mkarmark, Thanks for your reply.
I had already configured the `networking` and `forwardingGateway`, like below link.

https://github.com/beachside-project/swa-api-inv/blob/main/staticwebapp.config.json

This problem is happening in that configuration.

While logout redirect, The location changes from Front Door domain to Static Web App domain. It looks like the relative path of `post_logout_r

[2022-02-07 05:13] Reshmi-Sriram commented on #627
Hey @rossmills99!
We have an upcoming release which will fix this issue. The [Oryx release](https://github.com/microsoft/Oryx/releases/tag/20220131.3) for this fix is already in place.
Thank you for reporting this bug! :)

[2022-02-07 08:22] anthonychu commented on #392
This should be working now.

[2022-02-07 08:26] anthonychu commented on #714
Only certain mime types are automatically compressed. You can include compressed versions of files that are not automatically compressed. https://docs.microsoft.com/en-us/azure/static-web-apps/faq#how-do-i-enable-gzip-or-brotli-compression-

@miwebst Is there a list of types that are automatically compressed?

[2022-02-07 09:00] dysticus commented on #484
I have a similar question. For my project, I have quite a custom build setup in comparison to what Oryx provides by default e.g. Install dependencies with Yarn, activate a license between the installation and the build, running unit tests before pruning out devdependencies,...

For me it would make more sense to have the option to skip the entire build part (and handle it on my own) and take advan

[2022-02-07 10:33] johnknoop commented on #714
@anthonychu

Thanks!

[2022-02-07 10:33] #714 closed

[2022-02-07 10:49] svrooij commented on #343
This is related to https://github.com/Azure/static-web-apps/issues/493 and and https://github.com/microsoft/Oryx/issues/1172

We want to deploy this static web app, where the api part has a dependency to a private nuget repository. At the moment there is no way (or not documented) on how get it deployed with that package in the source. I wish not to add the package to nuget.org since it's a privat

[2022-02-07 10:57] svrooij commented on #493
Or maybe do a **NuGet** restore before calling `AzureStaticWebApp` and then adding the `--no-restore` build parameter. Would that work @arroyc or @anthonychu

[2022-02-07 16:26] mmyers299 opened #716 "Can't get bearer token from request in C# function"
In the JS example for custom role assignment at https://github.com/staticwebdev/roles-function/blob/main/api/GetRoles/index.js the bearer token for calling graph is retrieved by setting a const user = req.body and then getting the token from user.accessToken

The request body in C# is a stream that does not contain anything. What is the C# equivalent to the js example code?

[2022-02-08 00:04] hags1975 opened #717 "Add claims to local emulator login screen and /.auth/me local endpoint"
Can't provide claims in local emulator.

Provide an array input of claims similar to what you see in a live static web app site in the local login form.

![image](https://user-images.githubusercontent.com/22360470/152892622-827e5abc-d75d-44b4-b1f7-8183a49515d1.png)

Link to documenation:
https://docs.microsoft.com/en-us/azure/static-web-apps/local-development

[2022-02-08 00:08] aaronpowell commented on #717
@AndreasHaggren I'd suggest raising the issue directly on the CLI repo - https://github.com/Azure/static-web-apps-cli/issues

[2022-02-08 00:12] #717 closed

[2022-02-08 00:12] hags1975 commented on #717
Raised it here instead:
 https://github.com/Azure/static-web-apps-cli/issues

[2022-02-08 09:37] shibayan commented on #712
I am also seeing the same problem.

#558 resolved the hostname problem when logging in, but there still seems to be a hostname problem when logging out. As you can see in the current capture, when redirecting to `/.auth/logout/complete`, the hostname changes to the one generated automatically by Static Web App, so the cookie is not deleted correctly and the logout does not take place.

![image](ht

[2022-02-08 17:24] miwebst commented on #713
After diving further into this, it turns out that the ISP had blocked the domain due to phishing concerns. We believe this is happening as new SWA's may have the '.1.azurestaticapps.net' subdomain. This new subdomain is a side effect of architectural improvements and for the most part should be transparent to interactions with SWA.

If you are hitting SSL_PROTOCOL_ERROR or hitting DNS issues when

[2022-02-08 21:31] jose-vazquez2 opened #718 "deployment_token provided was invalid. on 2 workflow files for same repo."
**Describe the bug**

Have 2 environments mapped to 2 branches prod and dev, i deployed 1 static web app for prod and that worked great, but when i added a new workflow file for dev linked to an entire new static web app wit its own workflow  file and secret locked to develop branch the build and deploy step fails with "deployment_token provided was invalid."  i did double check the deployment_tok

[2022-02-09 00:20] mkarmark commented on #708
Hi @FrankBurmo, thanks for bringing this to our attention. We have now adjusted our settings on our end for Twitter to request far fewer permissions from the user logging in. Give logging in a try and let us know if things are now sufficient for you! Thanks!

[2022-02-09 00:46] mkarmark commented on #716
The format of accessing fields in the request body is the same for this context as for normal HTTP trigger C# functions (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp).

The following code snippet can be used to access the access token for example:
[code]

[2022-02-09 04:39] mkarmark commented on #712
We have identified the issue on our end and are working on a fix which we should be able to deploy globally within the next 1-2 weeks. Thanks for your patience!

[2022-02-09 06:09] mkarmark commented on #711
Everything looks correctly configured from the static web apps perspective, so I also agree with Mitch in suspecting that the Front Door caching can be causing the inconsistent behavior. What are the all the rules configured on your endpoint? Also do you mind sharing a har file of a repro of this flow?

[2022-02-09 07:19] #715 closed

[2022-02-09 07:20] #708 closed

[2022-02-09 09:11] stephtr opened #720 "Compression of WebAssembly files"
**Describe the bug**

Currently, JS files are transmitted compressed, but wasm files are transmitted uncompressed. In my case the wasm file weighs 4.5 MB, which would decrease to otherwise ~1.5 MB.

**To Reproduce**
Spot the difference between https://green-pond-0561aef03.1.azurestaticapps.net/calc.js and https://green-pond-0561aef03.1.azurestaticapps.net/calc.wasm

**Expected behavior**
wasm file

[2022-02-09 09:50] SteveDrakey opened #721 "Support for multi language websites that use microformat (eg en-GB , it-IT ) in URL"
It is not possible to cleanly support URLs such as

https://www.myawsomeapp.com/en-GB/<routes>
https://www.myawsomeapp.com/it-IT/<routes>

routes are `angular` routes and we need the fallback to fallback to the countries content.

the file system has a folder for each microformat and each folder has the translated index.html with accompanying translated JavaScript files.

to make it work you would

[2022-02-09 11:23] simonaco commented on #721
thanks for sharing this suggestion @SteveDrakey. related to #527

[2022-02-09 11:26] SteveDrakey commented on #721
Ah, sorry for suggesting something that had already been suggested.. my google foo failed me

[2022-02-09 15:11] miwebst commented on #718
Hi @jose-vazquez2, we will need more information to investigate this. If you are comfortable, can you post your complete workflow files, the default hostname of your 2 SWA's, and any relevant logs from the GitHub Actions output? If you are not comfortable posting that, I'd recommend going through support in the Azure Portal.

Another thing you can do is reset the deployment token in the Azure Port

[2022-02-09 16:55] mmyers299 commented on #711
The only Caching that is enabled was the auth one described in the tutorial. I changed it to not cache anything on the front door and still get the same result. Also removed the WAF policy we had on it with the same result. I am going to submit a support ticket.

[2022-02-09 18:05] stephtr commented on #720
Thanks! I was glimpsing through the docs but apparently missed that section. I actually also submitted a PR to SvelteKit to support pre-compression of wasm files build-time.
I nevertheless think that Static web apps could be a bit more aggressive with file types being compressed out of the box.

[2022-02-09 20:40] jose-vazquez2 commented on #718
Hi @miwebst, i did try refreshing the deployment token multiple times on both apps, still same behaviour, also tried creating an entire new static web app for dev and got same result

the workflow file is exactly the same as the one auto-generated by their wizard in both just swap the branch name and the secret.key  for each env (i renamed the secret key name for convenience, but the exact same be

[2022-02-09 20:57] miwebst commented on #718
I'm not able to reproduce this. I just created this repository, made a second branch called 'develop' then created an SWA for each branch: https://github.com/miwebst/testdeploy

I'd suggest trying to create a SWA against that branch directly through the Portal or VS Code so it autogenerates the workflow file. If that is messed up, something larger is at play. If that works, then it seems to be a c

[2022-02-09 21:12] jose-vazquez2 commented on #718
it happens using both initially i was running everything using vscode after that didnt work and i spend like  day trying to figure out what was going on, i switched to make it from the web portal and also didnt work.

btw here is a piece of the log where it fails, i did verify the token being used is the correct one by printing it in to the same log file, but i omited that part here.

[code]

they

[2022-02-09 21:17] miwebst commented on #718
Oh so this is not running on GitHub Actions but on a self-hosted container? Can you try running it on the regular GitHub infrastructure and see if that fixes it? You could also try clearing all the docker containers in case it has cached an old container.

[2022-02-09 21:33] jose-vazquez2 commented on #718
hmm unfortunately i cannot use github cloud runners, company policy, but i will look into the self-hosted, you think the main issue lies there?
will look into it and report back what i find.

[2022-02-10 10:39] AmbachtIT opened #722 "AzureStaticWebApp deployment task does not recognize artifact location"
I am trying to deploy an Azure Static Web App using an Azure DevOps yaml pipeline. The provided example template builds the app and deploys the static web app immediately:
![image](https://user-images.githubusercontent.com/34813625/153388103-688adeae-7b3a-491d-b3e9-f808dff1c7ed.png)

I'd like to separate these two steps in two stages:

1. Stage 1: Build and package the application and publish it t

[2022-02-11 08:19] danwatford commented on #654
This is causing an issue for us as well. If the user cancels authentication they receive no guidance on how to recover.

Problems also occur if the visitor beings the sign-up process with an IdP such as twitter, rejects the authorisation request and then clicks the 'Return to ....' button to return to the requesting application.

The error message in @martinljones original message includes an erro

[2022-02-11 12:01] johnmccormick99 opened #723 "SWA - Failed to deploy the Azure Functions - EnvironmentId tag is set"
Seeing an issue when deploying swa with an api using ADO AzureStaticWebApp@0 task

api works fine when running the swa cli emulator locally

Function Runtime Information. OS: windows, Functions Runtime: ~4, dotnet version: 6.0
Finished building function app with Oryx
Zipping Api Artifacts
Done Zipping Api Artifacts
Zipping App Artifacts
Done Zipping App Artifacts
Uploading build artifacts.
Finishe

[2022-02-11 12:01] danwatford commented on #654
A workaround that almost worked was to proxy to the SWA using Azure Application Gateway.

I was able to set a rewrite rule that redirected to /api/autherror if request_query == 'error' and uri_path =='/.auth/login/b2cauth/callback'.

However there are a few downsides with this approach:
- Log out fails due to https://github.com/Azure/static-web-apps/issues/712
- Uses a public static IP for Azure A

[2022-02-11 15:13] m2web opened #724 "Oryx fails during Build and Deploy with Hugo version 0.84.0"
### Bug Report

I updated the version of Hugo in the GitHub Action YML to `0.84.0` to take advantage of an updated feature. Now Oryx fails during Build and Deploy. Here is the output of the action run:
[code]

I am sure that I am leaving out needed information so please let me know what else is required for assistance.

[2022-02-11 17:44] miwebst commented on #723
Hi @johnmccormick99

This looks like an issue on our side, we are looking into it.

[2022-02-11 18:21] danwatford commented on #640
SWA with B2C authentication is working for me. The only difference I could spot in staticwebapp.conf.json is

[code]

On the B2C flow I needed to ensure that the Application Claims included `Display Name`.

[2022-02-11 18:28] miwebst commented on #723
Hey @johnmccormick99,

Looks like we have a bug with how we handle the 'EnvironmentId' tag. Can you try removing this from your SWA?

[2022-02-11 18:35] miwebst commented on #724
closing as you've already created an incident on the Oryx repo which would have been our suggestion: https://github.com/microsoft/Oryx/issues/1226

[2022-02-11 18:35] #724 closed

[2022-02-12 02:13] anthonychu commented on #722
The AzureStaticWebApp task’s app location is relative to the current directory, which you have to set if it differs from the default. Try:

[code]

See documentation for more details: https://docs.microsoft.com/en-us/azure/static-web-apps/build-configuration

[2022-02-12 02:17] anthonychu commented on #720
@miwebst is to possible to add more file types to the list of automatically compressed files? wasm sounds like a good candidate.

[2022-02-12 02:58] FreshP0325 opened #725 "The content server has rejected the request with: InternalServerError"
Hi there,

Following the official help docs to build a Next.js project on Azure Static Apps, but the GitHub Actions returned error that stopped the project to go further.

The repo I used to deploy is [GitHub.com/unix/unix.bio](https://GitHub.com/Unix/Unix.bio)

The related GitHub Actions workflow configuration is here

[code]

The error,

[code]

![11E0CC52-F2CB-474B-A5E4-4DCEFD1A2FEA](https://us

[2022-02-14 06:58] burhan opened #726 "Closing of PR does not delete staging environment"
**Describe the bug**

I'm using the [static-web-apps-deploy](https://github.com/Azure/static-web-apps-deploy) github action. The staging environments are created, but when the PR is merged, they are not deleted and `No matching Static Web App environment was found.` error is shown in the logs.

For now, we are having to manually delete the staging environments as the other builds will fail as it q

[2022-02-14 08:13] Reshmi-Sriram commented on #726
Hey @burhan,
This is a bug we are already investigating and is open in [issue#162](https://github.com/Azure/static-web-apps/issues/162)
Thank you for bringing this up, and feel free to leave comments in the issue, or reopen this if you feel it needs a separate attention!

[2022-02-14 08:13] #726 closed

[2022-02-14 09:42] Rammesses commented on #710
I just hit exactly the same issue, and agree that an empty `staticwebapp.config.json` should either (a) be ignored, or (b) raise an error with a sensible message.

[2022-02-14 13:04] simonaco commented on #725
@FreshP0325 to fix the build error you need to include a `build` script in your npm scripts. you could either rename the `export` script to build or add a new one `"build": "npm run now-build && next export" `

You can see a successful run [here](https://github.com/simonaco/unix.bio/blob/main/package.json)

[2022-02-14 13:04] #725 closed

[2022-02-14 14:57] boy-incerta opened #728 "Allow passing of environment variables from Azure/static-web-apps-deploy@v1 to static web app functions"
Just as a disclaimer, I'm only starting out with Azure and the azure/static-web-apps-deploy@v1 action, but I'll try to give enough information. We have an app build and deployed via Github actions. It uses the Azure/static-web-apps-deploy@v1 action to push to Azure static web app. I would like to pass environment variables with the mentioned action so I can use them in my static web app function a

[2022-02-15 01:45] miwebst commented on #710
We will get a fix for this, sorry for the inconvenience!

[2022-02-15 03:12] anthonychu commented on #728
The env values in the action only apply to the build. If you need the variable to be available to the function at run time, you’ll need to use application settings.

[2022-02-15 03:21] anthonychu commented on #343
@Reshmi-Sriram might be able to provide an update on this feature and when it might land in GitHub Actions and Azure Pipelines task.

[2022-02-15 13:11] crsreddy1447 opened #729 "Getting error like The size of the app content was too large."
Hi
We are getting error like **The size of the app content was too large. The limit for this Static Web App is 524288000 bytes.**
please suggest what to do for azure static webapp. Is there any other alternative to for static webapp.

Logs from Pipeline
[code]

[2022-02-15 14:59] boy-incerta commented on #728
Ok thanks for your feedback

[2022-02-15 14:59] #728 closed

[2022-02-15 15:05] Reshmi-Sriram commented on #212
Closing due to inactivity.

[2022-02-15 15:06] #212 closed

[2022-02-15 15:43] digitalanalogue9 commented on #723
@miwebst - I've just hit the same issue - where do I find the EnvironmentId tag (to remove it) please ?

[2022-02-15 17:57] miwebst commented on #723
Your deployment failure could be caused by something else (i.e. failure to startup). In this specific incident, an EnvironmentId tag was added to the SWA and caused the issue. Tags can be added/removed in the Overview in the Portal. If you did not add it, it likely does not exist and you are hitting another issue.

[2022-02-15 17:57] miwebst commented on #723
Probably best to confirm that your Function is able to startup and function as expected using the Function tools in VS Code.

[2022-02-15 23:36] mkarmark commented on #712
The fix for this issue has been globally deployed. Can you please retry now and let me know if you are now mitigated?

[2022-02-16 06:10] beachside-project commented on #712
Thanks a lot ! I checked the logout behavior and work fine !

[2022-02-16 16:12] 72gm commented on #73
same here... checked in the build folder so it would definitely be there and it still doesn't find it....

spent ages dicking around and eventually got the following React config to work... might help someone else... why would the defaults be "/src" !?!?

[code]

It actually worked quite well after that!

It's about time MS started doing youtube videos, like Hanselman's Azure Friday, because their

[2022-02-16 19:04] tinys000 commented on #723
Hello,

Same issue for me.
It works in my local environment `npx swa start build --api-location api` but never when I try to deploy it with an AzureStaticWebApp task in my pipeline.
I tried with javascript, typescript and dotnet function but nothing works.

Any 'EnvironmentId' tag set in my side.

---End of Oryx build logs---
Function Runtime Information. OS: windows, Functions Runtime: ~4, dotnet

[2022-02-16 19:04] jose-vazquez2 commented on #718
i spent a few days digging into the container, to see if i found something odd, but the container seems good.
i suspect the deployment token for azure might not have necessary permissions.
does anyone know if is there a way to check the permissions or validate the deployment token using CLI command?
az getInfo <deployment_token>

at this point im lost at to what could be failing.

[2022-02-16 22:26] miwebst commented on #723
I'm going to update the title of this issue and close it as the initial issue around 'EnvironmentId' is rare and likely not relevant to these tests. My advice for debugging this type of issue would be to add application insights and see what logs are emitted when you deploy: https://docs.microsoft.com/en-us/azure/static-web-apps/monitor

[2022-02-16 22:27] #723 closed

[2022-02-17 08:55] #461 closed

[2022-02-17 10:32] yann-combarnous opened #731 "Azure Devops task "Deploy Azure Static Web App" failing since version 0.200.0"
**Describe the bug**
Since the task was updated to 0.200.0, our CD pipeline fails to deploy to Azure Static Web App. Last known working version for the task was 0.194.2 .

**To Reproduce**
Run "Deploy Azure Static Web App" task in Azure Devops

Yaml for ADO task:
[code]

staticwebapp.config.json:
[code]

**Expected behavior**
Deployment task works.

**Screenshots**
Logs from task
[code]

[2022-02-17 13:16] CristianQS commented on #731
Hi @yann-combarnous ! 😀  The **Deploy Azure Static Web App Task** executes the script **launch-docker.sh**
[code]
Since **version 20.10.0, Docker** add the pull flag to **docker run** command. You can see [here](https://docs.docker.com/engine/release-notes/#client-7).

Probably you are running a docker version that is lower than version 20.10.0. To fix this, you can **update docker from 20.10.0**

[2022-02-17 15:33] anthonychu commented on #731
Is it possible to update Docker client on your agent? We’ll look into updating a future version to use a separate pull command instead of a flag to be more compatible with older clients.

[2022-02-17 16:38] krixon-pg commented on #448
@miwebst, can I please clarify what you mean by this?

Does this mean the upload process itself is atomic, i.e. `index.html` will not become visible to clients before a JS file it references? Otherwise there is a potential problem where the sequence of events is:

1. `index.html` is uploaded
2. New client with empty cache requests `index.html` <-- error occurs here
3. `foo.js` is uploaded

[2022-02-17 20:24] jose-vazquez2 commented on #718
i was able to make it work,  could not find the source of the issue, but what i did was to Destroy the self-hosted runner and re-build it from scratch, after that i was able to run the workflows fine.

[2022-02-17 20:24] #718 closed

[2022-02-18 11:46] #731 closed

[2022-02-19 12:14] TheMightyBorkon commented on #631
I'm having the same issue, although my frontend is in Angular.

Either Azure Storage should be supported from the API and this is a bug, or it isn't supported at all.

Looking through the documentation there is no mention that you cannot use Azure Storage from your API code. If this is a restriction of the free tier, then it should be listed as such in the documentation.

I'm hoping that this is i

[2022-02-19 12:17] TheMightyBorkon commented on #631
@kylejuliandev Your workaround does not work for me, unfortunately. Adding a reference to Microsoft.Azure.WebJobs.Extensions.Storage.Blobs give me the 503 error on deployment.

[2022-02-20 00:03] gordonk commented on #429
Yes thanks for all your hard work, but like Dan above I have not seen claims passed in the x-ms-client-principal header even thought the documentation clearly states they are.

[2022-02-20 06:53] badsyntax opened #734 "AzureStaticWebApp@0 does not support ARM64"
**Describe the bug**

I'm running Ubuntu arm64 as a self hosted build agent but I'm not able to use the AzureStaticWebApp@0 task to deploy my static web app.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the AzureStaticWebApp@0 task on an arm64 host
2. See error

[code]

**Expected behavior**
It should not error and should succeed.

**Screenshots**
If applicable, add screenshots to hel

[2022-02-20 17:04] joeyold commented on #721
I too am looking for a similar resolution to a multi locale setup.  Having the ability to provide exclusions at the route designation seems ideal.  Perhaps providing each locale a wildcard route with a statusCode 404 rewrite rule to its corresponding Index can serve as a workaround until a more suitable enhancement is introduced.

[2022-02-20 18:32] joeyold commented on #721
@SteveDrakey @simonaco, I ran into this issue with my i18n distribution.  I was able to find success by first defining a catch all route for my assets.  Per the documentation the only required property on a route is **route** itself and the **first route entry that is satisfied gets applied in the order they are listed**.  This specific case is something I feel the documentation should provide mor

[2022-02-20 20:37] dczychon commented on #698
I´m currently evaluating azure static web app to switch over from static website hosting in azure storage and also encountered this problem.

I have a VueJS app and can´t easily set the `cache-control` header to `no-cache` when the `index.html` file is served as fallback.

It would be nice if all configurations specified in the `routes` array for the fallback file could be applied, when the fallba

[2022-02-21 07:48] gordonk commented on #623
Waiting impatiently :)

[2022-02-21 11:07] rhalaly opened #735 "Redirect to login with `responseOverrides` doesn't come back to the requested page"
**Describe the bug**

Redirect to the login page, forgets the previous path, and always returns to the home page.

All the pages in our app should be served to authenticated users. So instead of making a login button we automatically redirect all the users to the login page.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the `staticwe

[2022-02-21 13:39] simonaco commented on #729
@crsreddy1447 thank you for reporting this issue. can you tell us more about what makes your application larger than 500MB? is it large media files like images and videos similar to #557 ?

[2022-02-21 13:48] NivGreenstein opened #736 "Adding Custom OIDC provider breaks auth."
It's a bit weird but I created SWA with AAD Auth. When I've added an OIDC provider (Azure B2C in my case), the app stopped redirecting to the auth providers. Neither `/.auth/login/b2c` nor `/.auth/login/aad`.
It literally redirects to `/.auth/login/aad` but not continuing to AD login page.

my code
[code]

[2022-02-22 13:37] #712 closed

[2022-02-22 17:13] madmonkeyworks opened #737 "Local development with https - self signed certificate"
Hi,

I'm developing a static web app (SPA) in connection with Azure AD where an https protocol is necessary for redirect-to links. Local swa development is served to http://localhost:4280, thus no https.

Is there a way to have swa served locally with self signed cert (https)?

[2022-02-22 19:45] mkarmark commented on #736
This is likely because some part of the custom auth is misconfigured. If you share your app name/details, I'll be able to give you more info on what the misconfiguration is. As for the current setup that you've shared, /.auth/login/aad is no longer going to result in anything because your configuration suggests that this app  has opted for custom auth (not shared auth) but no aad provider has been

[2022-02-22 19:46] mkarmark commented on #735
You will achieve the desired behavior if you update the redirect to include a post login redirect uri to the .referrer. You can update the "redirect" to the following: `"/.auth/login/aad?post_login_redirect_uri=.referrer"`. This .referrer keyword ends the login flow back at the endpoint that started the login flow in the first place.

[2022-02-22 20:45] rhalaly commented on #735
Thank you @mkarmark ! I didn't find it in the docs for some reason...

[2022-02-23 05:15] Reshmi-Sriram commented on #343
Hi All,
The code fix for `skip_api_build` flag is complete and we expect it to roll out as a part of GitHub Actions and Azure Pipelines tasks by another 3 weeks! 🎉
CC// @pvbchak

[2022-02-23 18:11] shobhitkasliwal-onbe opened #738 "Azure Static Web redirect the user to authenticated requested page after successful login"
Hello,
I am using the static web app and have all pages that starts with route /internal/* needs authentication.  It works all okay when user starts with home page. The issue I am facing is when I am sharing the link  for a specific internal page and when user is clicking the link it takes them to login page and then to home page after successful login. I would like the user to see the requested a

[2022-02-23 23:04] mkarmark commented on #738
With the behavior you are detailing, you probably have a response override that looks something like this:
[code]

In order to alter that to end the login flow at the origin path, adjust the redirect path to include the post_login_redirect_uri query string parameter with value .referrer

[code]

[2022-02-24 01:21] ansman opened #739 "Headers are not included when adding a redirect"
**Describe the bug**
We'd like to set a `Strict-Transport-Security` header for all responses. This works fine by adding it in `globalHeaders` except for routes that include a redirect, for those routes the headers are not included.

Adding the headers to the route specifically does not work either.

**To Reproduce**
Just create a static web app with the following config:
[code]

Try issuing a GET

[2022-02-24 08:10] nerblock opened #740 "all environments down"
I'm getting this error message when trying to access my staging environment:

[2022-02-24 09:43] nerblock commented on #740
So the situation is getting worse, the production environment went down too. Anyone else experiencing this problem?

[2022-02-24 09:47] michaeltoft commented on #740
Yep, we're down aswell. Anyone know of a good service status page? Getting a little annoyed with azure in general lately.

[2022-02-24 09:53] niels-ws commented on #740
We are facing the same problem.

[2022-02-24 09:53] fudoki22 commented on #740
Also seeing this in prod.

[2022-02-24 09:59] AlexSapple commented on #740
Hi all - same for us, down on all environments. Not sure when this started, but only noticed in the last half hour or so.

[2022-02-24 10:03] tobiaskohlbau commented on #740
We're affected as well, I've tried to open a support ticket to get more information. We noticed around 8 AM CET.

[2022-02-24 10:05] ArrigeAnders commented on #740
All of our environments also went down. We noticed this half an hour ago.

[2022-02-24 10:08] asmailov commented on #740
We have the same issue. We noticed our website down at: `2022-02-24T09:45:00.000Z`

[2022-02-24 10:11] nerblock commented on #740
In the meantime here is something to read: https://azure.microsoft.com/en-us/support/legal/sla/app-service-static/v1_0/

[2022-02-24 10:17] ArrigeAnders commented on #740
Our apps are still accessible from South Korea it seems. Maybe this is specifically a problem in Europe?

[2022-02-24 10:27] Peter-Juhasz commented on #740
Same here

[2022-02-24 10:27] Jarod1662 commented on #740
I'm experiencing the same issue - Azure seems to be having a lot of issues recently....

[2022-02-24 10:29] kush-acacium commented on #740
Down :(

[2022-02-24 10:34] AlexSapple commented on #740
there is acknowledgement from MS here (at the top of the page) -> https://status.azure.com/en-us/status

[2022-02-24 10:57] xwellingtonx commented on #740
Sam here, all non-production environment down. I have never been happier than now for letting PROD in AppService due to the SWA being way more expensive in terms of BandWidth.

[2022-02-24 11:31] AlexSapple commented on #740
I've got services back in the last few minutes.

[2022-02-24 11:33] kush-acacium commented on #740
Great! thanks for the notification @AlexSapple, looks like ours are back too.

[2022-02-24 12:14] nerblock commented on #740
frontend is ok, but api still throws internal server error 500 on all envs

[2022-02-24 12:15] niels-ws commented on #740
same here :(

[2022-02-24 12:50] ArrigeAnders commented on #740
Same here.

[2022-02-24 13:12] nerblock commented on #740
the api is back online 👍

[2022-02-24 13:13] javier-romera commented on #735
This should be on the docs.

I discovered it a couple of weeks ago. And there are two questions on this in the last days. I discovered by chance in one of the discussions and it was from end of 2021. There is much functionality that could wait to be documented. But this is a "game-killer" if not implemented in many company environments. People do not click twice on the link.

[2022-02-24 13:43] nerblock commented on #740
Unfortunately I spoke too early. We are back to HTTP Error 500.30 - ANCM In-Process Start Failure.

[2022-02-24 14:12] Jarod1662 commented on #740
They have mentioned that the issue has been mitigated but I'm still seeing issues.

[2022-02-24 14:15] nerblock commented on #740
Status page now shows "This incident is now mitigated.", but all of my sites are still down. ¯\_(ツ)_/¯

[2022-02-24 14:29] javier-romera commented on #740
The are down again.

[2022-02-24 14:38] nerblock commented on #740
Maybe @mkarmark can help with this?

[2022-02-24 14:39] Peter-Juhasz commented on #740
Our sites are still down as well.

[2022-02-24 19:17] mkarmark commented on #740
Hi, sorry for the inconvenience called by this issue. This issue has been mitigated for a few hours now, and your sites should be back up. Let me know if you still experience an outage on your site.

[2022-02-24 20:47] stilbu commented on #740
@mkarmark Unfortunately our production site is down again as of just now, 500.30 - ANCM In-Process Start Failure

[2022-02-24 21:52] miwebst commented on #740
Hey @stilbu, we have been applying temporary mitigations while we rollout a permanent fix for the issue. At this point, we've rolled out the permanent fix to the primary nodes that were affected in Europe. You should see mitigation and we will continue to monitor the situation in case any site begins to hit the 500.30's again.

One additional option you have is to temporarily enable enterprise-gra

[2022-02-25 02:52] nerblock commented on #740
Problem is resolved so I'm closing the issue.

[2022-02-25 02:52] #740 closed

[2022-02-25 13:00] paule96 commented on #564
Thanks for the issue. I run into the same issue. I use an Azure storage account as a place to store files that can be uploaded to my website. And I currently see no good way to configure CORS in a nice and secure way for my pre-production environments.

my current conclusion at my own pullrequest comment is the following:

this isn't possible right now. Or not really.
The following ist the correct

[2022-02-25 19:54] NivGreenstein commented on #709
Same here!

[2022-02-26 20:44] NivGreenstein commented on #591
Is there a solution?

[2022-02-26 21:02] #736 closed

[2022-02-26 21:16] mxwlf commented on #694
+1. As of now, create-react-app is creating the lockfile with  "lockfileVersion": 2.
Any recently created project using this action will fail.

[2022-02-26 21:35] NivGreenstein commented on #709
@anthonychu @simonaco @mkarmark @miwebst Can someone please address the issue?

[2022-02-28 11:38] madmonkeyworks commented on #737
My bad, Azure AD allows for non-secure redirect URLs if it's for localhost. Issue solved.

[2022-02-28 11:38] #737 closed

[2022-02-28 15:11] miwebst commented on #735
Totally agree, we are working on a doc update. Thanks for the feedback!

[2022-02-28 20:42] shobhitkasliwal-onbe commented on #738
Thank you @mkarmark  !!
This is working as expected now.

[2022-02-28 20:42] #738 closed

[2022-02-28 22:55] TheMightyBorkon opened #741 "Add support for different environments when linking to BYOF"
**Is your feature request related to a problem? Please describe.**
When using Azure Functions that are not part of the SWA repository (ie. Bring Your Own Function -- BYOF), it is possible to link the SWA to the Functions App, such that "/api/..." paths resolve to the Functions App without having to do any extra configuration or coding.

However, this only appears to be supported in the Production

[2022-03-01 02:17] cory-lithe commented on #720
Sorry late to this and probably asking a dumb question but I didn't quite catch from the comment linked what the official guidance was on getting compression of wasm files.
I am also interested in compression and bundling of .DLL files much like the multipart bundling via hosted wasm apps
https://github.com/dotnet/aspnetcore/issues/36978

[2022-03-01 09:36] stephtr commented on #720
If you have a file called `app.wasm` and generate compressed versions with file names `app.wasm.gz` and `app.wasm.br` before uploading the app to Azure Static Web Apps, Azure will automatically choose whether it should serve the uncompressed or the compressed version, based on what the client requests.
You can generate those compressed versions either as part of the build/CI process (depends on wh

[2022-03-01 21:01] niand commented on #693
Fixed by Microsoft now

[2022-03-01 21:01] #693 closed

[2022-03-01 23:36] william-msft commented on #694
Hi @anthonychu, specifying npm's version in the `engines` in package.json won't work because Oryx's npm version is locked to `6.14.15`. We can look into upgrading npm version or perhaps allowing control via the `engines` field. Please let me know.

[2022-03-02 01:20] rfabro commented on #438
We're you able to fix the MIME type error? For I got the same error when I deploy my Blazor WASM app to Static Web Apps. But I don't encounter the error when I'm running it using the SWA emulator.

[2022-03-02 11:00] kiranpradeep commented on #645
Closing as not an issue. But the suggestion of tick/wrong mark remains.

[2022-03-02 15:22] anthonychu commented on #438
@rfabro can you please share your staticwebapp.config.json?

In the example above, the route rule causes index.html to be returned on every single request, including files like CSS.

[2022-03-02 18:55] NivGreenstein opened #744 "Validate AppServiceAuthSession or retrieve token?"
Hey,
I'm using SWA as my client and i have Nest.JS server as a backend because i can't use AFA.
Is there a way to retrieve a token in order to validate the request on my backend?

[2022-03-02 22:47] anthonychu commented on #694
Yes we need some way to specify the npm version. Not really sure what’s the best thing to do here. @simonaco @Reshmi-Sriram

[2022-03-03 00:03] rfabro commented on #438
@anthonychu I used both of these two ...
[code]
[code]
... and still has the same error. I posted more detail of my issue [here](https://stackoverflow.com/questions/71330318/static-web-apps-shows-refused-to-apply-style-from-url-because-its-mime-type) in StackOverflow.

[2022-03-03 07:00] anthonychu commented on #438
Check the responses that have the text/html mime type. Is it returning the contents of the index.html page? If yes, there might be an issue with how the app was built and the files don't actually exist (hence the index.html page is returned). We'll need to see more details about the app or the build logs. Since this problem appeared after adding webpack, the issue could be the build is now detecti

[2022-03-03 08:26] ThisIsJaruj opened #745 "Failed to contact content server"
I am using simple hello-world, prebuild react app, that I want to deploy to Azure Static Web App.
As It is prebuild, I am using skip_app_build: true.

I was able to deploy the same app using runner hosted on MyCloud but when I try to use Azure hosted runner, this happens:

![pictureforissue](https://user-images.githubusercontent.com/96658987/156524995-2414bbf0-7382-4cab-9f22-a631505a952d.png)

I w

[2022-03-03 19:41] mkarmark commented on #744
We currently do not support token based authentication. Is it possible for you to use the x-ms-client-principal header we do currently support and populate with user information if the user has logged in, in order to validate the request on your backend?

[2022-03-03 19:47] NivGreenstein commented on #744
Hey, Basically i just want to validate the request on my backend so x-ms-client-principal can do the trick. But, I’m not sure how because this header isn’t sent with the request to the backend and i cant find anything on the documentation. If you can provide the simplest swa+Express.js example that would be more than great. Or refer me to the right documentation :)

[2022-03-03 19:49] mkarmark commented on #741
Hi! Support for this is coming in the next month! I'll update this thread when this support has been released.

[2022-03-03 20:01] TheMightyBorkon commented on #741
That's great news, thanks!

[2022-03-04 01:51] rfabro commented on #438
I've used PehrGit's workaround in #261 and now the MIME type error is gone.

[2022-03-04 03:43] POeticPotatoes opened #746 "Internal Server Error on pipeline run"
Hi, I'm trying to deploy my Angular static webapp through azure devops as a pipeline. The project works and builds with no issues locally but I'm encountering an Internal Server Error when I try to deploy it on Azure. This is the error message I get:

<img width="1034" alt="Screenshot 2022-03-04 at 11 37 10 AM" src="https://user-images.githubusercontent.com/91976287/156694968-432c8d0b-a3b7-4d3e-a6

[2022-03-04 13:46] dabedin opened #748 "Case sensitive wildcard routes"
This is what I am trying to achieve in my `staticwebapp.config.json`:

[code]

The Function at `/api/RedirectFunction` deals with redirect (in a case insensitive manner) and I need `/appA/*` and `/AppA/*` both to reach the function, while the rest of the site at `/appB/` is served by the swa.

The build action would give me the following error:

From https://github.com/Azure/static-web-apps/issues

[2022-03-04 19:00] mkarmark commented on #748
Hi! Thanks for bring this up, this appears to be a bug in our configuration file validation process. We will get the fix rolled out soon and will update this thread when we do! Thank you for your patience and sorry for the inconvenience!

[2022-03-04 19:01] mkarmark commented on #745
Hi @ThisIsJaruj, are you persistently getting this issue or is a retry successful?

[2022-03-04 19:04] mkarmark commented on #744
Here are the docs for accessing user information on functions requests: https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#api-functions. Are you not seeing the header sent on authenticated requests? If you can give us your app information we can dig into what's going on. If you don't feel comfortable sharing that here, feel free to file a support ticket and we

[2022-03-04 19:06] mkarmark commented on #739
Hi! Thanks for identifying this issue! We will make a fix to support global and route headers on redirects and will update this thread when we do! Thanks for your patience and sorry for any inconvenience this may cause!

[2022-03-04 19:08] mkarmark commented on #704
Sorry for forgetting to update this thread, but the fix is globally deployed, do you mind retrying?

[2022-03-04 19:18] mkarmark commented on #746
Hi, we saw in our logs that you had a successful deployment after this initial failure. Are y'all still blocked or can we close this issue if all is now well?

[2022-03-04 19:19] mkarmark commented on #707
@Shruti700 Hi! Just wanted to follow up on this issue to see if Mitch's reply helped unblock you or if you are still blocked, since I didn't see much action on this thread!

[2022-03-05 09:27] Shruti700 commented on #707
Hello @mkarmark I did tried to according to Mitch's comment but unfortunately it didn't work. Eventually I switched and directly deployed it through the azure  app services via azure portal. Presently my application is up and running. Thank you and also sorry for my delayed response.

[2022-03-05 09:27] #707 closed

[2022-03-05 13:28] dfberry opened #749 "Next.js server side rendering - possible with SWA?"
If I'm bringing my Next.js apps (a catalog of various apps) to Azure and they make use of server-side rendering, is it possilbe to use SWA/Functions somehow or do I need to move them to App Service?

[2022-03-07 15:45] rtrindvg opened #750 "Feature Request - Allow deployment to production environment during pull_request"
**Is your feature request related to a problem? Please describe.**
I am currently facing a problem adjusting my workflow using the GitHub Actions SWA deploy component. In my company we have 2 subscriptions, one for testing and another for production. Our current workflow always works by deploying the components to the testing subscription during the pull_request event and deploys to production in

[2022-03-07 15:51] StiviiK commented on #243
Hi, we are experiencing a very similar issue. We have deployed a Azure Static Web App and a BYO Azure Function.
@anthonychu I hope it is okay to hijack this "older" issue.

The `x-ms-client-principal` is never available if we call the API through our static web app `SWAURL.azurestaticapps.net/api/...`.

For the authorisation we configured Azure Active Directory Version 2 (https://docs.microsoft.co

[2022-03-07 15:53] diberry commented on #750
Is this something that is unique to SWA or is it more an issue with your pipeline?

[2022-03-07 15:58] rtrindvg commented on #750
Hello, @diberry. Thanks for the quick comment. This is unique to SWA, as far as I know. The rest of my environment uses AKS and I can freely create my workflow as specified (2 independent subscriptions using pull_request events) without any issues.

The way the current SWA actions component is structured leaves my without any options to make it work on my current workflows, and we really do not wa

[2022-03-07 19:21] anthonychu commented on #750
@rtrindvg Can you please share a sample workflow and point out where you're having problems?

[2022-03-07 21:52] rtrindvg commented on #750
Not sure I can make this clear with a sample workflow but I can try:
[code]

As you can see, my current workflow is broken in 3 sequence of actions:
- On pull_request open, sync and reopen events, I start the workflow, validating the PR without using any environment (staging or prod).
- On pull_request label events, if there is a label approving the deploy to development subscription, we want to p

[2022-03-08 09:26] StiviiK opened #751 "BYO Function - Authorized Requests X-MS-CLIENT-PRINCIPAL Header is missing"
Hi, we are experiencing the Issue that for authorised requests the `X-MS-CLIENT-PRINCIPAL` header is missing on the API side. We have deployed a Azure Static Web App and a linked BYO Azure Function.

The `x-ms-client-principal` header is never available (when the request arrives at the api) if we call the API through our static web app `SWAURL.azurestaticapps.net/api/...`.

For the authorisation w

[2022-03-08 12:08] StiviiK commented on #751
I have found a workaround, the client principal is contained within the claims of the token from `x-ms-auth-token` header.

[2022-03-08 18:35] mkarmark commented on #751
Hi, do you mind sharing your app details so that we can investigate what is going on? If you don't feel comfortable sharing the details with us here, feel free to open a support case and we can help there.

[2022-03-09 11:49] itpropro commented on #581
Any updates or plans on this @mkarmark and @anthonychu?

[2022-03-09 14:02] ThisIsJaruj commented on #745
Hello @mkarmark,
the error is persistent, no matter if I re-run the run or I start a fresh one, the error persists.

Also I checked if the AZ SWA is reachable from the runner. It is.

[2022-03-09 18:17] danielbichuetti opened #753 "Blazor GitHub Action Error"
When generating code from a GitHub repository it's failing. This behavior started about 2 days ago.

Reproducing the error:

1. Create Blazor WASM project
2. Upload to GitHub repo
3. Add workflow
4. Run trigger

These are the errors that appear on GitHub workflow:

EXEC : error : undefined symbol: dotnet_browser_entropy (referenced by top-level compiled C/C++ code) [/github/workspace/src/Client/Cl

[2022-03-09 18:17] miwebst commented on #745
Likely you have a networking restriction blocking the task from reaching our content endpoint. Are there NSG/UDRs surrounding this VM? You may want to file a support ticket to supply the exact details, not sure if you want to share network details here :)

[2022-03-10 02:06] anthonychu commented on #753
@danielbichuetti Can you please share the repo if it's public? Is it a .NET 7 app? /cc @Reshmi-Sriram

[2022-03-10 02:37] danielbichuetti commented on #753
@anthonychu This repo is private from an organization. But it's not .NET 7. It builds fine on .NET 6.0.2 locally and on docker. It appears that the GitHub Action downloads it in place of .NET 6.0. Here is partial output:

[code]

And later on I can see WebAssembly is from 7.0:

[code]

Then after compilation when system trys to optimize, it throws errors.

[code]

Maybe we got one .NET 7 Preview W

[2022-03-10 02:43] danielbichuetti commented on #753
Indeed I just checked the latest working workflow and it runs without .NET 7 Preview as you can confirm on logs:

[code]

[2022-03-10 06:17] anthonychu commented on #581
We're working on this. Hope to have an update in a month.

[2022-03-10 09:43] ThisIsJaruj commented on #745
Yes, indeed we have some networking restrictions.
Is there any documentation we could review regarding endpoints/ports to be opened for the action to properly communicate with the AZ SWA?

We have not been able to find any.

[2022-03-10 10:03] Vampiredk opened #754 "Build and deploy problem with Static web service with Vue"
i have been having some troubles with making a static web service with Vue, i am getting this error message that i can´t really find a solution to

[code]

there is also this one but i says it´s optional so not sure if it´s importent

[code]

[2022-03-10 13:01] rbergen opened #755 "Build and deploy failure trying to start process '/ (deleted)' while restoring projects"
**Describe the bug**

Since today, the Build and deploy step suddenly started failing during the Oryx restore projects step on a .NET 6 Blazor WASM solution that built fine up to and including yesterday. No changes were made to the workflow file between the last successful and the first failed build.

The error occurs during the project restore step. The relevant snippet of the log is this:

[code

[2022-03-10 14:46] loganmarshall1 commented on #755
Happening to me to on all my .Net 6.0.1 apps failing in Azure Devops Pipeline, same message.  This started happening for us. March 8th 2022

`Unhandled exception: Microsoft.Build.BackEnd.NodeFailedToLaunchException: An error occurred trying to start process '/ (deleted)' with working directory '/working_dir/AppMain'. No such file or directory
 ---> System.ComponentModel.Win32Exception (2): An erro

[2022-03-10 14:50] loganmarshall1 commented on #755
@anthonychu Hi there my friend.  was anything updated recently? in Oryx, in .Net 6.0.101 vs 6.0.201 ? Azure Static Web App Pipeline Task, etc?  I have a feeling that hundreds/thousands of pipelines for customers aren't running and this could be wide spread.  Thanks my friend and please let us know asap. :) thanks

[2022-03-10 15:30] anthonychu commented on #753
@william-msft can you please take a look? Did .NET 7 start becoming available in Oryx recently?

[2022-03-10 15:31] anthonychu commented on #755
Possibly related to #753

@william-msft can you please look in this as well?

[2022-03-10 16:16] ramseytm commented on #755
We're experiencing the same exception with our Azure Dev Ops pipelines as listed by vnbaaij. If it helps, it started occurring on our end on March 8th (Tuesday). At the time, I did a rerun failed tasks and it worked just fine. As of this morning, March 10th, I cannot get it to succeed and I receive the same error each time.

[2022-03-10 16:46] danielbichuetti commented on #753
@anthonychu The default GitHub workflow was working correctly when Oryx used .NET 6. I updated with an old log (the one with the .NET 6 version), which was working. The target SDK has always been .NET 6. But GitHub Action Oryx is using .NET 7 Preview since 3 days ago. Unsure why. As per first logs you see it says it will load .NET 6 but then installs .NET 7.

[code]

I think Oryx with .NET 7 Previ

[2022-03-10 16:49] #754 closed

[2022-03-10 17:14] IEvangelist commented on #755
I'm seeing this too. Here is my error log, for my Blazor WebAssembly app:

https://github.com/IEvangelist/learning-blazor/runs/5499631398?check_suite_focus=true

[code]

[2022-03-10 17:19] softcraftsman commented on #755
Seeing this too:

  Determining projects to restore...
  Restored /github/workspace/src/api/api.csproj (in 4.02 sec).

Publishing to directory /bin/staticsites/ss-oryx/api...

Microsoft (R) Build Engine version 17.0.0+c9eb9dd64 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  All projects are up-to-date for restore.
/opt/dotnet/6.0.100/sdk/

[2022-03-10 17:22] anthonychu commented on #753
@danielbichuetti Is your repo public? When I try, I'm getting an error but .NET 6 is being installed and I'm running into the `/ (deleted)` issue in #755, we're currently investigating that.

It sounds like the issues might be related but the .NET 7 install is different.

[2022-03-10 17:41] danielbichuetti commented on #753
@anthonychu No, it's not. It's a private company repo. It's a legaltech MVP we are working on. This is the project file with the dependencies:

[code]

And the global.json defines SDK 6.0.200 as the version to be used.

[2022-03-10 18:06] dustuu commented on #755
Same issue happening for me:

[code]

[2022-03-10 18:28] mdecaire commented on #755
Same:
Determining projects to restore...
  All projects are up-to-date for restore.
/opt/dotnet/5.0.403/sdk/5.0.403/Sdks/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets(107,5): error MSB6004: The specified task executable location "/ (deleted)" is invalid. [/working_dir/MailTracking.App/MailTracking.App.csproj]

[2022-03-10 18:37] johnpeeke commented on #755
Same issue here, using .net 6.

/opt/dotnet/6.0.100/sdk/6.0.100/Roslyn/Microsoft.CSharp.Core.targets(75,5): error MSB6004: The specified task executable location "/ (deleted)" is invalid.

[2022-03-10 18:38] william-msft commented on #755
Acknowledged. Thank you everyone for the additional information. We'll be taking a look.

[2022-03-10 18:47] wuilliam321 commented on #755
Same here! same message!
[code]

[2022-03-10 19:06] tonofll opened #756 "Ignoring values passed in `env` in Azure DevOps pipeline. It sends all values defined in `Variables`"
**Describe the bug**

As said in the documentation, in order to pass environment variables to ASWA through Azure DevOps pipeline, they should be declared in `env` field (https://docs.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=github-actions#environment-variables)

However, `env` field is currently being ignored, and the pipeline passes all the variables declared in `Variabl

[2022-03-10 19:08] loganmarshall1 commented on #755
Hi Everyone,

Just in case anyone is using dotnet 6.0.x or higher, I got mine working by doing the build myself instead of auto building with Oryx.  Please see below YML file for blazor wasm dotnet 6.0.x for use with Azure DevOps build pipeline with release to azure static web app.  hope that helps!

1. I had to make a .sln file with ONLY my front end project/dependencies, below its "AppMain.sln"

[2022-03-10 19:59] csharpfritz commented on #755
This only happens for me with the ubuntu-20 runner.  I stepped down to the ubuntu-18 runner and everything ran just fine

[2022-03-10 20:18] miwebst commented on #745
We do not have any public documentation on doing this but after a growing amount of cases related to this we may need to add some. cc @craigshoemaker / @anthonychu

I'd recommend filing a support ticket until then and we can help you open things up.

[2022-03-10 20:23] loganmarshall1 commented on #755
Thanks @csharpfritz ! do you mind posting the actual code change to yml (or similar) to better support the community during this outage? thanks kindly.

[2022-03-10 20:44] alepauly commented on #755
hey all, thanks for all the information. We're rolling back the Ubuntu 20.04 image to the previous version while we continue to find a root cause. The rollback can take a couple of hours to propagate, I'll confirm here when it's done.

[2022-03-10 20:45] StacyCash commented on #755
For GitHub you need to change the 'runs-on' of your job to point to a specific version as in the snippet below

''' yaml

build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    needs: test_job
    runs-on: ubuntu-18.04
'''

[2022-03-10 21:46] wuilliam321 commented on #755
[code]
With `runs-on: ubuntu-18.04`

[2022-03-10 21:50] slav-bukhal-gcm commented on #510
Any updates on this?

[2022-03-10 22:28] cormacpayne commented on #755
I was cross-checking this with a few of the repositories linked in this thread (sample size of two 😁), and the version of the Ubuntu runner used in the GitHub Action runs seems to be the only thing differing between the latest runs that succeed and fail. Things such as the version of Oryx used, the platform tooling pulled, etc. have not changed according to the logs provided in the runs.

---

Fro