[2021-01-07 06:21] tmol commented on #250
Is working for me too. Thank you @mkarmark  :-)

[2021-01-07 07:35] PehrGit opened #261 "How to use TypeScript in Blazor WASM"
I followed this tutorial [link](https://github.com/Swimburger/AzureSwaBlazorWasmDemo) to set up Blazor WASM with an Azure Functions API. The tutorial worked, no problem.

However, I ran into an issue when I started to add some TypeScript. To be able to use Dotnet interop I needed an NPM package "@types/blazor__javascript-interop". No problem, I thought, I'll just add a package.json to install the

[2021-01-07 08:41] PehrGit commented on #261
Managed to get it working!

In case anyone runs into the same issue, for now this works:
[code]

It does feel a little unstable to use the `/bin/staticsites/ss-oryx/app/` path directly but for now, it will do.

[2021-01-07 09:33] takekazuomi commented on #134
For us, 100 is enough.

[2021-01-07 09:53] takekazuomi commented on #134
@theonewolf
We use a script (example) like the link to generate an invitation URL and distribute it on Slack. The URL itself is meaningful only to the person you are invited to, so it doesn't matter if it's visible to others.
There is a limit of 25 people, so it's not very useful. It is unfortunate.
https://gist.github.com/takekazuomi/408c5198d6dbd0cddfe3f1864379d201

[2021-01-08 19:34] theonewolf commented on #134
@takekazuomi thank you for the insights and the script.  The script is very valuable.

@anthonychu we were operating with it as if it was another cloud resource like dev.azure.com.  We weren't requiring VPN to access it, which is refreshing and easier on our staff especially when not able to VPN.

For our current use case, **public + AAD SSO** limited to our organization / domain would be ideal.

[2021-01-08 21:49] justindmyers commented on #161
Since this ticket is still open, I'm running into the same issue now. We just bought a brand new domain, set up the static website on 1/7/2021 and added the custom domain (`www.3dgolf.app`) but I'm getting the wrong url for the certificate just like the user above (`*.staticsites-prod-westus2.p.azurewebsites.net`).

[2021-01-08 22:12] anthonychu commented on #261
Yeah that path is probably not something you want to depend on. @arroyc @miwebst any thoughts here?

[2021-01-08 22:55] anthonychu opened #262 "? added to redirect URL after login"
After redirecting browser to `/.auth/login/github` (likely other providers too), the browser is redirected to the root of the site, but with `?` appended to the end of the URL. Can't imagine this affecting the app itself, but would be better cosmetically if it wasn't there.

/cc @mkarmark

[2021-01-08 22:56] anthonychu commented on #261
@aaronpowell Do you know of another way to solve this?

[2021-01-09 14:16] 225559 commented on #233
This solves:
```Failed to find a default file in the app artifacts folder (dist). Valid default files: index.html,Index.html.```

[2021-01-10 16:45] tvonment commented on #240
it works for me again. thanks

[2021-01-10 18:23] kristofferjalen commented on #144
@miwebst I would suggest you write something about this in the docs for Azure Static Web App. It's not obvious at all without your explanation.

[2021-01-10 23:04] aaronpowell commented on #261
Having both a `package.json` and `.csproj` file in the `app_location` will cause a challenge with Oryx, as it has to try and work out which one to use and I believe that the `package.json` will take priority, which is why it's seen as a JavaScript project, not a .NET one. For that specific sort of scenario I'd suggest raising it on the [Oryx issues](https://github.com/microsoft/Oryx/issues).

I do

[2021-01-11 09:06] kristofferjalen opened #263 "An error occurred while trying to encrypt the provided data. Refer to the inner exception for more information. Could not find any recognizable digits."
When calling my API, Application Insights gives me this error:

[code]

Where can I can access logs? How can I find the cause for this error? OperationId is `94566798-f452-40f0-9aef-294bacd59cb1`.

Full exception message:
[code]

[2021-01-11 16:32] anthonychu commented on #263
@brettsam Do you know what’s causing this?

[2021-01-11 17:44] miwebst commented on #240
This should be fixed everywhere now, thanks for your patience!

[2021-01-11 17:44] #240 closed

[2021-01-11 18:36] brettsam commented on #263
@alrod may know the most about this... It looks like it's coming from the call to `SecretManager.GenerateHostSecrets()`

[2021-01-11 18:45] kristofferjalen commented on #263
FWIW, I have deleted and re-created the static web app back and forth. If https://github.com/Azure/azure-functions-host/issues/1832#issuecomment-345044409 has something to do with this.

[2021-01-11 18:49] alrod commented on #263
@kristofferjalen, is it the exception consistent? can you share timeframe [the function app name privetly](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)?

[2021-01-11 18:59] kristofferjalen commented on #263
@alrod, it's permanent. Site name is https://agreeable-ocean-06f0c4f10.azurestaticapps.net/.

[2021-01-11 19:07] justindmyers commented on #161
Just an update: it finally started working today. I'm not sure why it took 4 days, but at least it did start working at some point.

[2021-01-12 06:38] anthonychu commented on #263
@alrod fyi these are managed function apps. If you need help looking up the actual function app names, @miwebst and @annaji-msft can help. Thanks for looking into this.

[2021-01-12 16:47] PehrGit commented on #261
Thanks for the suggestions. I ended up using a combination of https://github.com/aaronpowell/react-static-web-apps-auth/blob/main/.github/workflows/azure-static-web-apps-witty-water-0d73b881e.yml and https://github.com/mschleifer/FantasyLeagueReport/commit/2727b1cf5919df1f8b148fcab8ff0e439d05a021#diff-72b4c71fe3ac161941abd3de5179e119f859f11e7d8b2fd094985fe27866d9a8 which I found via https://github

[2021-01-12 20:15] annaji-msft commented on #263
@kristapratico Only HttpTrigger(s) are supported currently. Its smells like you have EventGrid triggers which could be causing this to happen. Can you confirm? If this is a open source project can you share your repo link.

[2021-01-12 23:24] aaronpowell commented on #261
Yeah, the upload will be fine if you have all the assets pre-compiled, as the build tool just goes "huh, nothing to build, I'll upload assets", which is also useful if you're doing a site with no pre-processing at all (like, a vanilla HTML site, madness! 😂).

[2021-01-13 17:29] jepetko commented on #231
@oidacra actually, the only solution was to move devDependencies to dependencies.

BTW, I also tried to do this (see https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow for more information):

[code]

This did not help either as Azure is always prepending the "npm i" phase (containing the `--production` switch).

[2021-01-13 17:34] oidacra commented on #231
Thanks... I'll try this option.

[2021-01-13 17:51] jepetko commented on #231
It's not nice to have dev dependendencies in the actual (runtime) dependencies but angular will not involve them in the compilation as they are not referenced in the compiled (and packaged) code (no import/require command). Thus, the dev dependencies code is not served by browser anyway.

[2021-01-13 22:33] arroyc commented on #261
@anthonychu  thanks for summoning me here .. I will take a look at it now ..

I have some proposals and will discuss this with @miwebst  and update this thread here

[2021-01-14 06:06] davidanthoff commented on #139
Is there a timeline when this file limit will be lifted?

[2021-01-14 13:33] #250 closed

[2021-01-14 13:53] drma-dev opened #264 "trying to log in => sorry, there is nothing at this address"
![image](https://user-images.githubusercontent.com/12803050/104599240-48978d80-5656-11eb-91e4-b98c5218c304.png)

this error has been happening for a while, both when trying to log in and to log out. I found that deleting the 'index.html' file from the cache resolves and the targeting for that endpoint works again.

[2021-01-14 14:17] kristofferjalen commented on #263
When I posted this issue I had no EventGrid triggers. I had been trying out with EventGrid triggers before though, until I learnt they weren't supported. I then removed that code and re-deployed, which didn't work, hence this issue.

However, until now I still had these references:

[code]

I removed them and now it works. So either it was those references causing the trouble, or it was some resou

[2021-01-14 14:17] #263 closed

[2021-01-14 16:39] drma-dev commented on #264
`const offlineAssetsExclude = [/^service-worker\.js$/, /^routes\.json$/, /^index\.html$/];`

removing the 'index.html' from the 'service-worker.published.js' file temporarily solved this problem.

[2021-01-14 17:16] m-sterspace opened #265 "Sku is invalid. This subscription has too many static sites with sku: Free."
I'm trying to create another Static Web App, and am hitting the error that my subscription has too many free static web apps.

![image](https://user-images.githubusercontent.com/37154205/104624612-c9a85200-5661-11eb-8811-1ceceeeb1e00.png)

At present, I have 10 static web app instances set up under this subscription, however, I need the ability to add more as this is a corporate account and I do n

[2021-01-14 17:24] m-sterspace commented on #22
It shouldn't support wildcard callback URLs, as that goes against the OAuth standards:

https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#restrictions-on-wildcards-in-redirect-uris
https://tools.ietf.org/html/rfc6749#section-3.1.2

[2021-01-14 18:05] mwaddell commented on #22
True, and it is noted in auth0's documentation that this is only intended for dev/test environments, and should not be used on production. They also do put some restrictions on wildcards (e.g. no `*.com`, etc) but I do understand that this is non-standard  and not likely to be supported on oAuth providers generally.
- https://auth0.com/docs/applications/wildcards-for-subdomains

I agree that the m

[2021-01-14 20:06] mkarmark commented on #264
Hi @drma-dev. This seems to be a caching issue we need to look deeper into. Do you mind sending us your har file in which you are able to repro this behavior. We can dig deeper into it once we have that.

[2021-01-14 20:09] mkarmark commented on #264
Also do you mind sharing your app name, so that we can take a look at the logs on our end to see if anything is off?

[2021-01-14 20:13] drma-dev commented on #264
I had already sent you a video by email.

app name: web-verusdate
https://green-grass-0dbf41210.azurestaticapps.net

[2021-01-15 12:28] daKmoR commented on #5
it's a new year - are there any updates? 🤔

Maybe an API endpoint where we can push a zip file would be good enough... we can add it to the azure pipeline ourselves 😬
or a CLI we can execute in the pipeline

[2021-01-16 12:18] stuartjdawson opened #266 "Webpack issue?"
I run `npm run build` locally and my files get moved to my deploy folder perfectly.

I've set `app_build_command` to `npm run build` in the config .yml file but it appears only the HTML gets deployed in Azure and no JavaScript is injected into the page, as it is locally.

Any suggestions welcome!

(A quick Loom to help explain: https://www.loom.com/share/433e8ff41a1b4bd3b3b4c03d7d656c53)

[2021-01-17 02:04] anthonychu commented on #266
@stuartjdawson Looks like we need to see the source to troubleshoot this. Can you share your repo or a sample repo that reproduces the problem?

[2021-01-17 10:08] stuartjdawson commented on #266
Thanks, @anthonychu. Here is a simplified example repo that reproduces the issue:

https://github.com/stuartjdawson/ProblemDemo

[2021-01-17 10:18] RunCMD159 opened #267 "Cannot access login pages in angular app"
I try to login to any of the provided authentication providers but always get the following error when clicking the anchor element:
![image](https://user-images.githubusercontent.com/13946530/104837503-4848fd80-58b5-11eb-9d5f-35a887d9bd12.png)

The routes.json is configured as follows:
`{
  "routes": [
    {
      "route": "/admin/*",
      "allowedRoles": [
        "administrator"
      ]
    },

[2021-01-17 19:58] kevball2 opened #268 "Adding custom domain to static web app does not update URL to use the new domain"
When I add a custom domain to my Static web app, the URL does not update to reflect the new domain. Is this expected behavior or is there additional information needed in routes.json to accomplish this?

SWA Config
- Site created with Hugo
- DNS host with cloud flare
   - CNAME set to pre-configured URL on static web app
   - CNAME set to just DNS redirect (No Proxy)

[2021-01-17 20:04] anthonychu commented on #267
Can you open your browser and go directly to your app’s domain /github?

This looks like angular is not recognizing the route, which makes sense because it’s not an angular route. You likely have to use `window.location.href='/github'` in your code instead of using normal navigation to make this work.

[2021-01-17 20:11] anthonychu commented on #266
Can you try:

[code]

The action needs the folder where your package.json is as the app location. It should run `npm run build` for you (no need to specify explicitly). The output location is relative to the app location.

[2021-01-17 22:57] stuartjdawson commented on #266
You're totally correct, @anthonychu , thank you!

Funnily enough, I tried this previously on my original repo but got a an error about one of my images. Turns out, it appears there is a case sensitity issue somewhere as when I renamed it from `.JPG` to `.jpg` all worked fine there too.

Anyway, thanks again. Much appreciated! 👍

[2021-01-17 22:57] #266 closed

[2021-01-17 23:27] IndiaryNews opened #269 "Failed to find a default file in the app artifacts folder (dist/indairy) When using angular universal"
### Hello, I am getting this error when I am using angular universal in my website.
**Please** **help**

I am using Angular Universal for Seo purpose it is creating two folders inside (dist/indairy) 1.browser, 2.server when I run build, and index.html is inside the browser I changed the path of output location but my angular universal is not working as it should after I push workflow anyone please

[2021-01-18 00:40] georgyevv commented on #231
I have the same issue:

Running 'npm install --unsafe-perm --production'...

sh: 1: ngcc: not found
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! platform@0.0.0 postinstall: `ngcc --properties es2015 browser module main --first-only --create-ivy-entry-points && node ./decorate-angular-cli.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the pl

[2021-01-18 04:07] anthonychu commented on #269
Tagging some Angular experts to see if they can help: @johnpapa @manekinekko @DanWahlin

Have you tried setting the output folder to `dist/indiary/browser`?

[2021-01-18 04:46] anthonychu commented on #5
The portal work items have been completed and should be deployed over the next month or so. The Azure DevOps task is also complete and will need some time to be added to the list of tasks.

Given what we know right now, the ETA for Azure DevOps support is February. We’ll update here with docs when ready.

Zip deployment should be possible in the coming months as well.

[2021-01-18 08:56] manekinekko commented on #269
Hey @IndiaryNews thank you for reporting this issue.

Can you try what @anthonychu suggested?
Also, Would you mind sharing a repository (with your configuration) so we can reproduce this behavior?

Thank you.

[2021-01-18 11:27] IndiaryNews commented on #269
Thank you for Replying @anthonychu @manekinekko
Yes I tried `dist/indiary/browser` but I am expecting my tags to be visible for SEO that is why I used angular universal it's not working how it should but with `dist/indiary/browser` build gets deployed successfully.

Repository: https://github.com/IndiaryNews/Website/

log of workflow which failed
[code]

[2021-01-18 12:50] manekinekko commented on #269
Hi, here is a demo app using Angular SSR I build, would you mind trying it out and let know if it works for you?
The key here is to prerender your app before deploying it to Azure Static Web Apps.

https://github.com/manekinekko/angular-ssr-swa

[2021-01-18 17:56] IndiaryNews commented on #269
Thank you @manekinekko @anthonychu
Adding `app_build_command: 'npm run prerender'`
in the azure workflow file did the job.
![image](https://user-images.githubusercontent.com/68458205/104949189-8bee5500-59e4-11eb-8647-e5b53cc563da.png)

[2021-01-18 18:52] IndiaryNews commented on #269
@manekinekko `app_build_command: 'npm run prerender'`
works but now angular routing is not working I had my own 404 page but it's not working anymore after I have added the above command can you please help

[2021-01-19 09:18] komayama opened #270 "Easier debugging for Functions of Static Web Apps"
Default deployed the Functions in Static Web Apps, there is no debugging feature. So we need to create the Application Insights and connection with the Functions in the following steps.

**Check logs with Application Insights**

1. In the Azure portal, create Application Insights.
2. Copy the Application Insights instrumentation key.
3. Add and save the instrumentation key to the application setti

[2021-01-19 18:54] joslinmicrosoft commented on #268
(I'm basing this response on the www.technicalpanda.com domain/site; please let me know if this is the wrong one.)

If I understand the problem correctly, the domain has been properly linked to the static web app, but the links on the site still use the default hostname we've generated. My guess is you have to change the baseUrl in your config.toml file https://github.com/kevball2/technicalpandado

[2021-01-19 20:35] kevball2 commented on #268
@joslinmicrosoft Thank you for pointing that out! Had been staring at the issue too long with the answer right under my nose :) appreciate the help!

[2021-01-19 20:35] #268 closed

[2021-01-20 04:19] anthonychu commented on #270
We are working on the ability to add App Insights to your Static Web Apps functions from the portal. Hope to have this available in a month or two. Until then, the steps you’ve described to debug are correct.

[2021-01-20 09:30] komayama commented on #270
@anthonychu
I got it. Thank you for telling me.

[2021-01-20 09:30] #270 closed

[2021-01-20 15:38] erikkroes commented on #5
Thanks for the update. We're really looking forward to this! I've heard static is this amazing new trend 👀

[2021-01-20 18:11] RunCMD159 commented on #267
Thank you for your reply.
Your suggestion fixes a part of my problem.
As far as I can tell from my browser console, it seems that the angular cannot handle the redirect correctly after the login happens.
It says 'Cannot match any routes. URL Segment: '.auth/login/<provider>'

Do I need to let the angular router handle the redirect after the login?
If yes, what would be the best practice for this c

[2021-01-20 18:12] bryanrcarlson opened #271 "routes.json blocked due to integrity check in Blazor WASM site"
When I visit my Blazor WASM site it fails to load routes.json with a 404 HTTP status code.

![image](https://user-images.githubusercontent.com/12533203/105216217-1c24bb00-5b07-11eb-839d-d22231af5d9d.png)

This issue recently crept up - maybe in the last week. I have not uploaded any new versions of my site in months and did not have any problems until recently.

I tried various work arounds, witho

[2021-01-20 18:27] bryanrcarlson commented on #271
Investigating.... https://github.com/Azure/static-web-apps/issues/259

[2021-01-20 18:36] #271 closed

[2021-01-21 17:47] drma-dev opened #272 "blazor wasm -> control cache with new versions"
How can I make the browser recognize the new version of my app, if it is using the service worker cache?

From what I understand, a cache control is sent by the server in the header

[2021-01-21 22:19] Andrew-Lahikainen opened #273 "Error occurs when zipping api artifacts"
I'm getting the following error message when building my app:

[code]

This only happened after I started using @azure/identity and @azure/keyvault-secrets packages.

Here's my workflow file that is failing:

[code]

There are a few other errors that occur when it tries to build the functions that use these packages:

[code]

It seems to zip the app artifacts without problem, it seems like the api

[2021-01-22 13:38] #272 closed

[2021-01-22 14:55] drma-dev commented on #264
@mkarmark
did you manage to find out anything

[2021-01-22 17:14] anthonychu commented on #267
I think we'll need more info to diagnose this problem. As far as I'm aware, `/.auth/login/`is not a location that is used in the post-login flow. By default, the login will redirect back to your app at `/`.

Can you share your network trace and any other relevant information?

cc @mkarmark

[2021-01-22 17:23] anthonychu commented on #273
The Static Web Apps GitHub action runs inside its own container, so anything you install in the OS in other steps are not available. Can you try adding libraries like this to see if it fixes the problem https://github.com/Azure/static-web-apps/issues/99#issuecomment-680288588 ?

[2021-01-22 20:48] manekinekko commented on #269
@IndiaryNews I think that your 404 file got tree shaked from final bundle. In order to use that file, could you try adding this to your `angular.json`:

[code]

This would copy your `not-found.component.html` file under `dist/indairy/browser/app/layout/Components/not-found/not-found.component.html` so you can use reference it in your `dist/indairy/browser/assets/routes.json`.

Let me if that works

[2021-01-22 23:02] kristofferjalen commented on #21
Any updates?

[2021-01-23 01:49] anthonychu commented on #21
@kristofferjalen Can you share your use case for this? We're looking into making it easier to access the data in `x-ms-client-principal`. /cc @cgillum

[2021-01-23 11:47] RunCMD159 commented on #267
Here's the network trace:
[network-trace.zip](https://github.com/Azure/static-web-apps/files/5860099/network-trace.zip)
You could try it out yourself here if you want: [Test-App](https://delightful-forest-09c56ff03-27.westeurope.azurestaticapps.net/)

The app is a progressive web app, maybe it is an issue with the application cache?
The login seems to work sometimes but i cannot figure out when an

[2021-01-23 21:18] kristofferjalen commented on #21
I simply call one of my Functions in the API, and parse the HttpRequest in order to get the e-mail. I use the e-mail to verify that a requested data row from Table Storage is actually requested by an authenticated user with that particular e-mail address.

[2021-01-24 18:11] Gabswim commented on #144
Do you have an estimate on when the `timerTrigger` function and the `eventGridTrigger` will be available?

[2021-01-24 23:33] Andrew-Lahikainen commented on #273
@anthonychu that worked perfectly, is that documented anywhere? Having info on all supported env vars [here](https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#environment-variables) would be awesome.

Thanks for your help!

[2021-01-24 23:33] #273 closed

[2021-01-26 06:33] jezkerwin opened #274 "Unable to create Static Web App for Hugo"
I'm trying to create a static app via the portal and using the Hugo build template.
Following the portal setup, I sign into my github account and successfully authorise the app access to my repos which I'm trying to use a private repo.
I'm also using a Pay as I go Subscription

The build is failing with the following error.

{
    "status": "Failed",
    "error": {
        "code": "InternalServerE

[2021-01-26 07:12] jezkerwin commented on #224
@akulbe Would you mind sharing how your resolve this issue? I'm having the exact same one.
Thanks.

[2021-01-26 12:29] roncsak commented on #21
Same here!
I have an SPA. I call an Azure Function with AAD auth and I would like to use X-MS-CLIENT-PRINCIPAL-NAME or X-MS-CLIENT-PRINCIPAL-ID in the function but those are not present.

[2021-01-26 12:55] kristofferjalen commented on #21
There’s a SO question about it also (from me): https://stackoverflow.com/questions/65891288/user-data-of-authenticated-user-in-azure-static-web-apps

[2021-01-26 19:54] miwebst commented on #274
Hi @jezkerwin do you mind providing the region and time frame when you saw the above creation failure? I can help identify the problem from there!

[2021-01-26 21:32] jezkerwin commented on #274
thanks @miwebst I just did another task and it failed again.
Region was US West 2 Time I did the task was 1/26/2021 21:30UTC

Operations ID: /subscriptions/263bfd25-9f10-4b6f-8814-ff7917e47d58/resourceGroups/astronerd/providers/Microsoft.Resources/deployments/Microsoft.Web-StaticApp-Portal-93c30b38-8792/operations/283EAF5FEF1915CA
Tracking ID : c4419578-292d-4fc6-bdf7-e0b84e7f3b83
Service Request

[2021-01-26 22:57] connor-ww opened #275 "Overriding of Authorization Bearer Header in API Request"
I am developing a Blazor WASM standalone app using AD B2C for user authentication and deploying to Static Web Apps.

I believe when calling the Azure Function API contained within my Static Web App, the service inserts its own auth token into the header. Since I am relying on the Authorization Bearer header to pass my B2C access token from app to api, it is being overwritten.

In my case, I am sen

[2021-01-27 02:55] miwebst commented on #274
So we are failing to add the workflow file to your GitHub repository. Are there are policies on your repo that restrict commits? similar to this: https://github.com/Azure/static-web-apps/issues/241

[2021-01-27 03:12] jezkerwin commented on #274
Not that I'm aware of. I've created just a standard private repo, not made any changes to it and pushed my code to it.
I haven't adjusted any policies

[2021-01-27 06:59] anthonychu commented on #21
@kristofferjalen If you're doing this locally, it's currently not supported. We're working on a local emulator that will simulate auth and routing. Hope to have something available in a month or so.

[2021-01-27 07:17] kristofferjalen commented on #21
@anthonychu Thanks, ok, I'll see. Then I look forward to the emulator you're working on!

But it is possible in the API then? See the SO question.

[2021-01-27 11:13] jezkerwin commented on #274
I've made some progress. I delete my github repo and created a blank one with just a readme file.
Deployed the Azure static web app and the deployment succeeded.

After I perform a git push from my workstation in VS Code it seems that it locks the repo out to be able to create any files others than the git push.

Even in github.com if I try and click "Create a File" I get an error saying 'File cou

[2021-01-27 12:11] jezkerwin commented on #274
I'm closing out this problem because I figured out the problem.
Because I'm building a Hugo site I followed their instructions to added a theme as a git submodule.
Turns out the .gitmodules file was causing the issues. I remove the file and everything appears to be working ok, azure static web app deploys successfully.
I'll just have to figure out why .gitmodules is preventing creating files in th

[2021-01-27 12:11] #274 closed

[2021-01-27 18:29] miwebst commented on #274
That is very interesting, happy you figured it out. We will do some followup on our side to see if we can make this experience better going forward.

[2021-01-27 18:30] miwebst commented on #275
I believe this is a repeat of https://github.com/Azure/static-web-apps/issues/34 We are working on some mechanisms to avoid using this header.

[2021-01-27 19:56] connor-ww commented on #275
Ah, yes it is!  Thank you, I'll follow the status over there

[2021-01-27 19:56] #275 closed

[2021-01-28 08:18] JStammen opened #276 "Oryx build (Blazor wasm) fails - certificate issues"
## Expected Behavior

Build should run and restore dotnet packages

## Actual Behavior

Console shows the following errors
/github/workspace/src/*/*.csproj : error NU3028: Package 'Microsoft.Extensions.FileSystemGlobbing 5.0.0' from source 'https://api.nuget.org/v3/index.json': The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certific

[2021-01-28 11:48] FBoucher commented on #276
It's totally is.
Not sure if that new temporary image could do the trick...

[2021-01-28 12:21] JStammen commented on #276
I checked and the dockerfile thats used by: Azure/static-web-apps-deploy@v0.0.1-preview which retrieves a docker container called:

FROM mcr.microsoft.com/appsvc/staticappsclient:stable

But since my own docker knowledge is very basic im not sure where the changed should be applied or how i could implement a work around.

[2021-01-28 15:50] csharpfritz commented on #276
All of the Docker containers used by .NET and are based on Debian are broken.

Where can we find the source for this container `mcr.microsoft.com/appsvc/staticappsclient:stable` so that we can update it to run with the correct version?

I see there is no support or interaction on this repository in almost a year, how can we help get this fix deployed?

[2021-01-28 15:56] anthonychu commented on #276
@csharpfritz Can you let us know what the fix is and we’ll apply it ASAP? Thanks. /cc @miwebst

[2021-01-28 15:56] FBoucher commented on #276
Totally agree @JStammen. It was more a suggestion for the maintainers of this repo.

You can see the status and progress of this issue on NUget website: https://status.nuget.org/

[2021-01-28 16:10] miwebst commented on #276
Thanks @FBoucher for the incident link. I'm assuming you all are using .net 5? Just wanted to double check that.

As for mitigating this, we utilize Oryx and they will need to update their Docker image with the suggested mitigation from nuget. We are working with them to get this fixed.

[2021-01-28 17:32] mwaddell commented on #185
@miwebst  This just happened to us yesterday on https://lively-mushroom-0a4ab8810.azurestaticapps.net -- the site was working correctly as of 11:55am CST but at noon all the functions became inaccessible with the "Error 403 - This web app is stopped" message.  The HTML was still up and running normally.  When I reran the GHA to deploy it, it came back up right away.  Is there a quota that we hit?

[2021-01-28 17:33] mwaddell commented on #185
I see on #190 something about quotas needing to be removed - were those never removed?

[2021-01-28 17:42] miwebst commented on #185
They were removed. @annaji-msft can provide more details on when those quotas were removed and can probably diagnose why the app was stopped.

[2021-01-28 17:48] mwaddell commented on #185
Thank you!

@annaji-msft  - let me know if you need any additional information from me to identify the issue.  Feel free to email me at mwaddell@pangaeatech.com as well.

[2021-01-28 20:41] JStammen commented on #276
@miwebst yeah were using .net 5 which is the reason why it stopped working right? So if the Oryx container gets updated the problem will be fixed? Or do the maintainers of this repo need to do something aswell?

[2021-01-28 20:43] JStammen commented on #276
@csharpfritz i have tried to find the source of that specific container but to no luck. It doesnt seem to be hosted on dockerhub so im actually at a loss since where else should it be.

[2021-01-28 21:12] miwebst commented on #276
@JStammen , @csharpfritz we have published a hot fix to the container to address this issue. Can you retry your build and see if the issue is resolved?

[2021-01-28 21:32] JStammen commented on #276
@miwebst that seemed to have resolved to issue for me atleast

[2021-01-28 21:37] csharpfritz commented on #276
Checking now...

[2021-01-28 22:36] schotime commented on #276
Works for me here too. Thanks all.

[2021-01-29 10:10] saravanan-trika commented on #250
@mkarmark @drma-dev i have same problem, Please send to me also, shravanece3@gmail.com

[2021-01-30 06:44] annaji-msft commented on #185
@mwaddell since you reran the GHA. Your app should be good now and not run into quota issues again. We are still in the process of backfilling existing apps but any new GHA should also remove quotas.

please let us know if you run into this again.

[2021-02-01 07:32] #276 closed

[2021-02-02 14:19] persyl commented on #44
I have struggle really long time now and is frustrated that this is not documented anywhere?
Tried all you suggestions above but none of them work for me.
It all works locally as my .npmrc file is then being read as it should!

**My private repo is at:**
https://pkgs.dev.azure.com/XXXXX/_packaging/MYnpm/npm/registry/

**My yml-file looks like this:**

[code]

[2021-02-03 03:11] Valks opened #277 "App Directory Location is invalid when using a downloaded artifact"
I have a problem when running the static-web-apps-deploy task and using a downloaded artifact.

I'm building my project on a windows image, uploading it then using a linux image to publish to static web apps (doesn't support windows agent).

I'm using windows because I have tools which aren't supported on linux (yet).

After building and publishing my project (Blazor) I upload the artifact:

[code

[2021-02-03 06:46] hynjnk opened #278 "Azure Function not set multiple cookies"
When setting multiple cookies on the Azure function response, but it send just one `Set-Cookie` header.

## Code
I set cookies like this.
https://github.com/Azure/azure-functions-host/issues/2737#issuecomment-568037718

https://github.com/hynjnk/azure-static-web-demo
[code]
## Function Endpoint
https://jolly-mud-0554ede00.azurestaticapps.net/api/SetCookie

## Result
![Screenshot from 2021-02-03 15

[2021-02-03 09:27] IhorLeontiev commented on #5
Thanks for the information. Waiting a lot for this integration. This is the only thing that stops us from using Static Web App instead of Azure Static WebSite on Storage

[2021-02-03 17:10] anthonychu commented on #5
Update on where we are today...

We're waiting for our Azure DevOps task to be published. There's still no solid ETA on this yet but hoping within the next week or so.

The portal work is ready. It'll take a week or two to make it live after the task is published.

And to set expectations, what you'll be able to do (hopefully later this month) is:
* Create a Static Web App without linking it to Gi

[2021-02-03 17:18] anthonychu commented on #278
@miwebst @annaji-msft Tested this on a deployed function app and it's working as expected. The problem appears to be when running in Static Web Apps.

[2021-02-03 17:23] blueboxes commented on #5
Will this also bring out closer to being out of preview?

[2021-02-03 18:42] miwebst commented on #277
Hey @Valks interesting use case! Is it possible for you to echo out the value of the download-path output? Curious if it is just '/github/wokspace' as the log above suggests. Our logic may be looking for this file in the wrong place as we don't expect an absolute path for our inputs.

[2021-02-03 18:49] miwebst commented on #265
Hey @m-sterspace sorry for the delay. At this time there isn't a way to go add more instances without adding another subscription. This will change in the coming months but for now you are likely blocked :(

[2021-02-03 19:02] Valks commented on #277
I guess it's something to do with the path been forced relative to ```/github/workspace``` instead of treating it as an absolute path. ```${{ steps.download_artifact.outputs.download-path }}``` resolves to a folder path: ```/home/runner/work/<ProjectName>/<ProjectName>```

When you list the contents you get the following:
[code]

I might try running it again with ../../ and see if it finds the fol

[2021-02-03 19:32] m-sterspace commented on #265
Ah, this service is already awesome, just take it out preview and [take my money](http://memecrunch.com/meme/TF8B/just-take-my-money/image.png)! 😋

[2021-02-03 19:40] miwebst commented on #247
We have updated this limit to 100 MB, you should be able to retry!

[2021-02-03 20:50] Valks commented on #277
Well I found a solution.

The download task puts the files in the same location as the git checkout command. This lead me to try setting the app_location to ''.

That worked in that it found the base folder but failed during the final step because it couldn't find the artifacts (output_location was set to 'wwwroot')
[code]

So I then set the app_location to 'wwwroot' and output_location to '' and

[2021-02-04 04:01] anirugu commented on #247
Thanks @miwebst  I will check and let you know

[2021-02-04 12:26] vazsonyidl commented on #231
Is there any update on this issue?
Until then, adding typescript and compiler-cli to dependencies is the solution for this?

Tanks in advance.

[2021-02-04 13:04] manekinekko commented on #231
Can you try this config (see the `env` section)?

[code]

[2021-02-04 19:08] litan1106 commented on #5
@anthonychu awesome, thanks. I like to work with Azure Pipeline not Github Actions.

[2021-02-05 00:52] sijucm commented on #75
I would also like to get the possible outboundIps of an Azure Static Web app. My use case is so that I can add that to the firewall of my CosmosDB. Now I have to open it up for every network and I'm not very comfortable doing that.
Due to these kind of restrictions (not able to do oauth flows as another example) makes me wonder why will I use the static web app for long instead of separating into

[2021-02-05 04:00] anthonychu commented on #75
@sijucm We are looking into ways to give you more control over the function app. We’ll keep this scenario in mind and see if we can address it in the process.

[2021-02-05 21:02] timtong1982 opened #279 "Webpack build failed on Action"
The action build failed on pull request trigger:

error:
[webpack-cli] ModuleNotFoundError: Module not found: Error: Can't resolve 'React' in '/github/workspace/src'
    at /github/workspace/node_modules/webpack/lib/Compilation.js:1657:28
    at /github/workspace/node_modules/webpack/lib/NormalModuleFactory.js:708:13
    at eval (eval at create (/github/workspace/node_modules/tapable/lib/HookCodeF

[2021-02-07 03:53] bessgeor commented on #155
I'm getting a very similar issue, but with C# functions created via VS Community.
[repo](https://github.com/bessgeor/schedule-voter)
[published](https://calm-grass-0f5341503.azurestaticapps.net/?staticName=whatever&startDate=2021-02-08&weeks=2)

Scenario is pretty much the same: requests from front-end receive status code 503, direct requests (e.g. cURL) are getting `Function host is not running.`

[2021-02-07 10:59] RunCMD159 commented on #267
Looks like the service worker is the problem here. The service worker is caching all routes of the domain so the login and logout urls are working sometimes when the cache is refreshed.
I disabled the service worker for now and will try to add exceptions for the auth routes.

[2021-02-07 10:59] #267 closed

[2021-02-08 01:23] anthonychu commented on #167
@Gordonby @Suirtimed We're going to work on first class Jekyll support in the GitHub Action. If possible, can you please share your repos. We'd like to make sure it works for your scenarios, and also wondering why there are PHP files in there. Thanks!

[2021-02-08 01:41] anthonychu commented on #279
@timtong1982 If the repo is public, can you please share a link?

[2021-02-08 09:24] cirzoltan commented on #251
Any news on this? Google would be the main authenticator provider for our service so unless this is fixed soon we'll have to look elsewhere for hosting.

[2021-02-08 15:48] miwebst commented on #72
Hey @thomastvedt,

Happy new year! Sorry for the long delay. We have something in the works that will address this. I will follow-up here when that is public and ready for use!

[2021-02-08 17:43] timtong1982 commented on #279
thank you @anthonychu !

here is the branch
https://github.com/timtong1982/kindle-as-widget/tree/tim

[2021-02-08 21:25] mkarmark commented on #251
We are actively working on a fix we should have deployed soon, and will update this thread when it's out.

[2021-02-09 07:50] anthonychu commented on #279
@timtong1982 Looks like the problem is here:
https://github.com/timtong1982/kindle-as-widget/blob/080082fbad705f9a4d2f390420952b255eaf7c90/src/app.tsx#L1

And here:
https://github.com/timtong1982/kindle-as-widget/blob/080082fbad705f9a4d2f390420952b255eaf7c90/src/appContext.tsx#L1

It should be `'react'` (lower case):

[code]

Upper case works in case insensitive filesystems (though it should give

[2021-02-09 17:59] timtong1982 commented on #279
thanks man, my fault.

[2021-02-09 17:59] #279 closed

[2021-02-10 19:48] drma-dev commented on #251
@mkarmark  is there a date to stop being a preview?

[2021-02-11 03:51] ghost opened #280 "Custom Routes Interfere with API Route Prefix"
Hey there,

I have a Static Web App running a React frontend and a C# backend.

I have several HTTP endpoints on the backend with custom routes. I've included an example below. When running them on my local machine, they are available at `api/<customRoute>`. However, when I open a pull request on GitHub, all of my API calls fail. After some experimentation, I've found that they're all available in

[2021-02-11 05:24] dbrennan commented on #236
+1

[2021-02-11 07:26] MichaelRoger opened #281 "Conditional access to a static web app"
Hi,
we are using static web apps in a employee enterprise scenario. This is why we don't want the page to be accessible from public. we already have configured the conditional access for the authentication, but we don't want the static ressources to be accessable either.
i tried to use the routes configuration and use the authentication mechanism, but the first time a user logs in via the static w

[2021-02-11 07:28] MichaelRoger commented on #14
any news about this? would love to see this coming to live.

is there a planned "end of preview"-Date?

Thanks

[2021-02-12 03:16] davidanthoff commented on #139
@miwebst, bump, any chance you can get us a rough timeline when this might be resolved?

[2021-02-13 01:12] anthonychu commented on #280
@ghost Is it possible to provide a version of this app that reproduces the issue? You mentioned pull requests, does this app work in the production site?

[2021-02-13 01:17] anthonychu commented on #281
@MichaelRoger Would [Private Link](https://docs.microsoft.com/en-us/azure/private-link/private-link-overview) or locking down access to only users in your Azure Active Directory work for you?

/cc @mkarmark @miwebst

[2021-02-13 12:35] ahmettahasakar opened #282 "Redirect based on header"
Is it possible to make a redirect based on Accepted-Language header?

[2021-02-13 17:35] opdich commented on #139
Running into the same issue as @roarwrecker.

[2021-02-14 00:07] stemixreal opened #283 "Deployment to existing static app failed updating node.js version."
Hi Folks,

I have a static web app and have recently added additional functions to /api to enable me to use cosmos db. After adding and testing the functionality locally I deployed the changes.

The deployment failed with the following Oryx errors

Detecting platforms...
Detected following platforms:
  nodejs: 14.15.1
Version '14.15.1' of platform 'nodejs' is not installed. Generating script to in

[2021-02-14 05:42] monksudo commented on #283
Same issue for me as well.

[2021-02-14 09:31] stemixreal commented on #283
I'm finding my way with this but adding

_- uses: actions/setup-node@v2
        with:
       node-version: 14_

produces

_Run actions/setup-node@v2
  with:
    node-version: 14
    always-auth: false
    check-latest: false
    token: ***
**Found in cache @ /opt/hostedtoolcache/node/14.15.4/x64**_

Adding

_- run: npm install
- run: npm test_

fails with the error that package.json doesn't exist

[2021-02-14 19:49] stemixreal commented on #283
Ok I think I've sorted this out. At least, everything builds though there were a couple of errors during the build they don't break the build - missing descriptions and the like.

@monksudo, there were superfluous package files in my root (an oversight on my part). Once I deleted those the app deploys ok. I deleted both _package.json_ & _package-lock.json_ which caused the build process to try to

[2021-02-15 01:33] anthonychu commented on #283
@stemixreal If you can share a repo that reproduces the original problem, happy to take a look to see if there's anything we can do to make this experience better.

[2021-02-15 06:02] stemixreal commented on #283
Hi Anthony, thanks. The error was mine. I mistakenly installed all the node packages in the web root initially and neglected to deleted the node_modules folder from there. I didn't notice it among other files and folders to be honest. So even though I then installed things correctly, the build was trying to install node in the SWA root.

The repo is private but happy to send an  invite. It's just

[2021-02-15 07:59] MichaelRoger commented on #281
hi, just reviewed "private links" and if i got it right, the public url of the static web app would still be available from the internet... so it will not make it for me :-(

[2021-02-15 11:06] stemixreal commented on #281
You can do what you want in a azure storage gen V2 static website, you just have to do more of the plumbing by hand. Creating the cdn, adding your custom domain, etc. But you can make it private, use CI/CD (I used devops pipelines not github actions) and you can use functions.

[2021-02-15 11:37] MichaelRoger commented on #281
hi, i don't use a "azure storage", i use https://azure.microsoft.com/en-us/services/app-service/static/ and i did not found any possiblity to secure the access by ip-range . We just added a custom domain to that static web app. But it is still reachable from it's generated url.

[2021-02-15 11:56] stemixreal commented on #281
Hi, yes I realise you're using static web apps, ATS static websites are just an alternative as you have no way to achieve what you want at present. The services are very similar, I moved a storage hosted static website to a static web app with little effort. If you want to make your static website private you have an almost equivalent service just not managed in the same way - like the difference

[2021-02-15 18:35] anthonychu commented on #281
\+ @miwebst to chime in about whether Private Link can help here.

[2021-02-15 18:40] tcc-sejohnson commented on #88
I'll readily add my vote to this -- it would be nice to support Managed Identity on the Azure Functions side, as I'd prefer to authorize the managed identity access to my Azure SQL DB than have to create a login and provide the creds through a connection string.

[2021-02-15 18:41] anthonychu commented on #282
@ahmettahasakar can you share the scenario here? This is not possible today without using Azure Functions to process every request.

[2021-02-15 18:46] ahmettahasakar commented on #282
When a user accesses

http://example.com

the redirect route checks for Accepted-Language header.
Based on the header redirects to

if fr then
http://example.com/fr
Or if de the
http://example.com/de
Or if doesnt exist or is en
http://example.com/en

i am not sure if it is possible to do it via functions and then redirect to static pages

[2021-02-15 19:56] anthonychu commented on #282
I think you can do something like this...

Create an API function, for example `/api/selectlanguage`. The function looks something like this:

[code]

And create a routing rule like this in routes.json:

[code]

This should do the redirect based on language when you visit the root of the site. I don't think you can do this on any page yet (like `/*` to `/fr/*`).

[2021-02-15 20:26] danspark opened #284 "Function proxies support"
Are there any plans to add support for [Azure Functions Proxies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies)? Since the API only supports HTTP triggers I think it makes sense to allow proxies

[2021-02-15 20:36] anthonychu commented on #284
Functions proxies should work within the function app. If it's not working, can you share your app or one that reproduces the issue?

[2021-02-15 20:43] anthonychu commented on #261
@arroyc @miwebst were you able to find a solution to this?

[2021-02-15 23:18] #283 closed

[2021-02-16 08:12] daKmoR commented on #5
@anthonychu really love those updates 🤗

would it be possible to get an update roughly every 7 or 14 days? 🤔  it seems like a highly anticipated feature and I guess we all would appreciate it - thxxx 🙇‍♂️

[2021-02-16 08:34] anthonychu commented on #5
Unfortunately, I don't really have much to update at this time. We're still waiting for an ETA on when the task will be published.

[2021-02-16 11:43] SnapStef commented on #34
Hi, did you alread document this behavior in the meanwhile?  Thanks

[2021-02-16 12:37] InsightStevenGreen commented on #73
The _app_artifact_location_ now renamed _output_location_  (same thing) took me a few attempt to resolve butI had other issues with the node build before that.

But the default for VSCode Azure Static Web Apps extension from what I can see writes the actions yml path output_location: "/dist" this for me didn't work and failed the deploy with the below error:

---End of Oryx build logs---
The app b

[2021-02-16 14:50] miwebst commented on #139
We are hoping to have this fixed in roughly the next month, we have hit some unexpected delays on this so we appreciate your patience!

[2021-02-16 15:27] burkeholland commented on #29
Looks like @craigshoemaker is working on the official doc for this. Looking at an end of February time frame right now.

[2021-02-16 17:20] davidanthoff commented on #139
Thanks!

And as far as I can tell, there is no known workaround at the moment, right?

[2021-02-17 11:37] InsightStevenGreen commented on #73
The app_artifact_location now renamed output_location (same thing) took me a few attempts to resolve but I had other issues with the node build before that.

The default for VSCode Azure Static Web Apps extension from what I can see writes the actions yml path output_location: "/dist" this for me didn't work and failed the deploy with the below error:

---End of Oryx build logs---
The app build fa

[2021-02-17 15:04] MichaelRoger commented on #281
hi, just tried to use "Private link", but do not see the "static Web app"-Ressource:
![image](https://user-images.githubusercontent.com/47661151/108223137-c6f5bc80-7139-11eb-9b9d-56e888e43651.png)
![image](https://user-images.githubusercontent.com/47661151/108223157-ceb56100-7139-11eb-9a8f-0b597be52d50.png)
![image](https://user-images.githubusercontent.com/47661151/108223192-d8d75f80-7139-11eb-90

[2021-02-17 15:05] Aegman opened #285 "Incorrect platform detected during build step"
I'm having an issue deploying to a static web app, where the build process is incorrectly detecting a Hugo platform. Really all we need to do is copy the content of the GitHub repo to the service

[code]

The site we are trying to deploy is a pre-built static pages app with some javascript and a few JSON files, I suspect the name of one of these files is what is causing the issue?

I've tried modi

[2021-02-17 15:15] anthonychu commented on #285
@miwebst do you know how to skip Oryx build if setting the build commands aren’t working?

https://github.com/Azure/static-web-apps/issues/248

[2021-02-17 15:27] anthonychu commented on #281
@MichaelRoger sorry I wasn’t clear about this, but we’re still working on the feature and are looking for feedback if it would solve this problem for you when it is available.

[2021-02-17 15:43] MichaelRoger commented on #281
if i could make a whish: there should be an option to enable access from specific ip-ranges.

[2021-02-17 21:17] danspark commented on #284
@anthonychu Sorry for taking so long to answer. It's embarrassing, but it actually was an issue with my configuration settings. I'm closing this, thank you for answering so fast!

[2021-02-17 21:17] #284 closed

[2021-02-18 02:52] itpropro opened #286 "CORS not working with Apollo server serverless in api function"
I setup an SPA with a Apollo server based GraphQL backend in serverless mode like I did in Azure Functions before.
Using the local functions-core-tools works without any problems, but deployed, CORS doesn't work correctly. Although the api is reachable at the /api path (including the GraphQL playground) it only throws CORS errors:
![image](https://user-images.githubusercontent.com/15030951/1082977

[2021-02-18 03:00] itpropro commented on #282
I would recommend to just do it inside of the web application using the [user's preferred languages](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/languages) and fallback to the header if required.

[2021-02-18 03:08] itpropro commented on #281
You have to distinguish between the two main ways of PaaS service network access control in Azure:
1. Public endpoints
- Firewall to control access from outside
- VNET Service Endpoints for Azure services in VNETs to resolve the public endpoint (no private IP address, just resolving of the public endpoint inside of the VNET)
2. Private endpoints
- Provisioning of an additional private IP address r

[2021-02-18 03:11] itpropro commented on #262
Can confirm this issue from multiple instances.

[2021-02-18 03:15] itpropro commented on #248
I deploy a few static pregenerated sites with SWAs currently. At least for the html its enough to just specify the directory and Oryx will detect that there is nothing to build:
[code]

[2021-02-18 03:19] itpropro commented on #248
@anthonychu do you know, if it's possible to use the Oryx environment configurations in GitHub Actions? https://github.com/microsoft/Oryx/blob/master/doc/configuration.md#oryx-configuration

[2021-02-18 05:34] caitlinwillmot opened #287 "Yarn 2 error building - The --prefer-offline flag is deprecated"
After upgrading my react-create-app to Yarn 2 the following error occurs in the Build and Deploy job:

![image](https://user-images.githubusercontent.com/74575035/108310061-6b413700-71fe-11eb-8ab2-3441d5a62896.png)

If a project is running Yarn 2 the command that should be used to install packages is 'yarn add --cached'

[2021-02-18 07:05] MichaelRoger commented on #281
thanks @itpropro , but it seems, that the azure static web apps https://portal.azure.com/#create/Microsoft.StaticApp
are not able to some kind of access security based on ip.

and we are in an enterprise environment and the endusers of the SWA are our employees.

i think we just need an option to secure the access on static content. because there is already a function to use authentication (which

[2021-02-18 07:08] MichaelRoger opened #288 "Grant site is not customizable"
hi,
when using the authentication mechanism of static web apps, on the first sign in of a user there will be a grant site.
at the moment this site is neither customizable nor possible to be disabled.

i suggest an routing-option for routing to a custom site in the static web app. So i would be able to control the scenario.

[2021-02-18 07:13] ahmettahasakar commented on #282
Hmm. Ok isnt server side redirect  better for SEO?

[2021-02-18 08:41] svict4 commented on #287
https://github.com/microsoft/Oryx/issues/895 is related

[2021-02-18 09:17] Taras-Tyrsa commented on #196
@anthonychu Hi. Any plans for implementing this feature? Is there a workaround how to redirect crawler to my server for server side rendering?

[2021-02-18 13:57] itpropro commented on #281
As I understood @anthonychu, we were just discussing options to be implemented in the future. None of these are available today as of my knowledge.
Today, authentication can only be done with routes.json, where you can deny access to all paths. The grant site itself cannot be customized, as it's using the default OIDC flow provided by the authentication provider. When you authenticate to other app

[2021-02-18 14:53] itpropro commented on #282
Yes you are right, 301 redirects and meta tags are sometimes important for SEO. I thought it was only about detecting the actual user language and serve a specific version of the page.
Anyway, regarding to Google you should "Avoid automatic redirection based on the user's perceived language. These redirections could prevent users (and search engines) from viewing all the versions of your site." (h

[2021-02-18 20:31] danspark opened #289 "Enable configuration on function apps with no functions"
Currently it is not possible to create configuration settings on the portal when there are no functions in the function app. This makes me unable to use only function proxies as I can't create settings.

A workaround to this issue is creating a dummy function that'll never be called.

This is the message that I receive when there are no functions:
![no functions on bff](https://user-images.githubu

[2021-02-19 12:29] plamber opened #290 "Update Static Webapp links in the portal"
Hello,
we are working with the Static Web Apps since a while and like the way you can link the provisioning with the GitHub repository.

In our project we have the need to provision multiple Static Webapps. We had to create multiple workflows. Afterwards, we were changing the workflow names and configuration of the workflows to our needs. We noticed that the Azure interface will still link to the

[2021-02-19 12:35] plamber commented on #248
Hello,
would find this feature useful. We want to use our dedicated runner servers and optimize the building process with different caching mechanisms.

Having an Upload only for App and Api would be a good addition.

br,
Patrick

[2021-02-19 12:38] plamber commented on #244
Hello,
we are experiencing the same issue. Support for dependency injection is key for some projects.

br,

[2021-02-19 16:24] jkytola-nh opened #291 "Python Function Raises Exception Importing pyodbc"
The Build and Deploy Job successfully installs pyodbc via requirements.txt

`Successfully installed azure-functions-1.6.0 pyodbc-4.0.30`

However, when executed, the function returns a 500 error. App Insights shows the following:

[code]

Example repo reproducing this issue available here

https://github.com/jkytola-nh/static-app-quickstart

[2021-02-19 18:13] anthonychu commented on #287
@arroyc to investigate and provide temporary workaround if there is one.

[2021-02-20 04:33] Zhiyuan-Amos opened #292 "Support for HTTP/2 protocol"
Hello! Does Static Web App support HTTP/2 protocol? I'm experiencing delay when visiting my web page hosted on Azure Static Web App, where one of the main issues is that requests are being stalled because the requests are on HTTP/1.1 protocol which doesn't support multiplexing. I've attached an image below for reference:

![image](https://user-images.githubusercontent.com/19281514/108583942-4375de

[2021-02-20 08:34] anthonychu commented on #292
@Zhiyuan-Amos Is it possible to share your site's URL? If you want to share it privately, please send it to antchu@microsoft.com.

I'm seeing http/2 in my Blazor app:

![image](https://user-images.githubusercontent.com/3982077/108589483-4d192b00-7313-11eb-9ef6-54ba7faccb0c.png)

[2021-02-20 08:42] anthonychu commented on #291
I can repro this. Looks like Oryx is not building the function app with the packages restored to `.python_packages/lib/site-packages`.

Repro: https://github.com/anthonychu/20201210-test-python-swa

This app has a zip endpoint that allows me to download the function app package. The folder is missing.

/cc @miwebst @mkarmark

[2021-02-20 08:53] anthonychu commented on #290
@miwebst Is there a way to update this value?

[2021-02-20 08:55] anthonychu commented on #289
Related: #255

[2021-02-20 09:03] anthonychu commented on #196
@Taras-Tyrsa @Swimburger If we were to allow user agent based routing, what would identify crawlers?

[2021-02-20 11:53] Taras-Tyrsa commented on #196
@anthonychu There are documented lists of user agents for Bing, Google, Yahoo etc, but I believe that's not something Azure team should maintain and keep in sync. Moreover, crawlers are not the only use case. The best would be to allow developers to configure redirects based on user agent, client IP (IP range), request url, headers, etc somewhere in Azure portal or better even via some config file

[2021-02-20 13:39] Swimburger commented on #196
My use case is focused on SEO, so whatever would help me achieve Google's JavaScript SEO best practices described here: https://developers.google.com/search/docs/guides/dynamic-rendering

They are using User Agents to detect crawlers, so we should at least be able to do that.

[2021-02-21 13:52] Zhiyuan-Amos commented on #292
Hi @anthonychu , thanks for your prompt reply! Your response made me wonder whether there's something wrong with my device, so I verified by loading my webpage on another device and turns out it works fine; it's running http/2 protocol.

After some investigation, turns out my [antivirus software](https://community.bitdefender.com/en/discussion/81392/browser-http-1-1-instead-of-http-2-online-global

[2021-02-21 13:52] #292 closed

[2021-02-22 00:11] svict4 opened #293 "[Question] Staging environment domain as env var"
Is it possible to get the stanging domain name as an environmental variable so that I can use it during build time?
e.g. `https://something-else-18b0d761e-5.westus2.azurestaticapps.net/` or `something-else-18b0d761e-5`

[2021-02-22 01:22] svict4 commented on #293
Ah I'm trying to solve what is pointed out in https://github.com/Azure/static-web-apps/issues/22#issuecomment-743321541

[2021-02-22 03:14] svict4 commented on #293
Adding the following to the github action, then manually appending the domain during build should work:
[code]

[2021-02-22 07:34] anthonychu commented on #244
@plamber Is it possible to share your code or a sample that reproduces the problem?

/cc @annaji-msft

[2021-02-22 08:27] plamber commented on #244
Hi @anton-kokorev,
you can reproduce it by following the standard provisioning process.

Afterwards, you just need to rename the Github workflow yml file name to something else. Starting from that point, the link is no more up-to-date in Azure.

You can still execute the workflows though.

br,
Patrick

[2021-02-22 09:27] Aegman commented on #285
As a quick work around, I've moved my web-app into a subfolder, and placed an index.html in the root folder that redirects to my app in the subfolder. This will deploy correctly without trying to build the non-existent Hugo app.

Would be nice to resolve this issue though.

[2021-02-22 11:12] stemixreal opened #294 "Oryx looks here - /home/site/wwwroot/register instead of here /api for "requires(..)""
Hi, I hope everyone is having a good day

I have a static web app with a function working locally. It use the Playfab Node SDK to register players with PlayFab and modifies some settings. When deployed the function fails with the error below.

Application Insights logs show me that there's an

Exception: Worker was unable to load function register: 'Error: Cannot find module 'PlayFab-Sdk'
Require

[2021-02-22 11:35] nazar-kuzo commented on #244
@plamber, were you intentionally mentioning @anton-kokorev, or it was a question to me?

[2021-02-22 11:38] vmehmeri commented on #5
@anthonychu  Sorry for insisting, but no ETA yet or any update?

[2021-02-22 11:45] Zhiyuan-Amos opened #295 "Support for .NET 6.0 Preview 1 for Client"
Hello! I tried upgrading my Blazor WASM Client to .NET 6.0 Preview 1, and GitHub actions failed with the following error message:

When will .NET 6.0 Preview 1 be supported for Client? I read about some [performance gains](https://www.reddit.com/r/Blazor/comments/lmnlt7/blazor_webassembly_performance_in_net_6_preview_1/) and would love to try it out.

Thank you!

[2021-02-22 12:00] plamber commented on #244
Hi @nazar-kuzo,
@anthonychu  asked me how to reproduce it. I tried to answer his question.

br,
Patrick

[2021-02-22 12:04] plamber commented on #244
Hi @nazar-kuzo,
sorry. Just recognized that I answered the wrong thread.

@anton-kokorev: unfortunately, I can't share my repository but you should be able to reproduce the error with [this](https://github.com/AzureAD/microsoft-identity-web/tree/master/ProjectTemplates/templates/Functions-CSharp) project template. We inject the Microsoft Identity Web library and some other internal libraries in th

[2021-02-22 12:51] imvikaskohli opened #296 "How to resolve 404 issue in Azure Static Web App in Angular?"
I m able to deploy Angular build with Github, now every time when I push to the specific branch it builds and uploads to the server by CI/CD

Let's assume there is a URL vikasazurestaticapps.net/auth/login, and when I try to refresh that URL, it shows a 404 error page.
![image](https://user-images.githubusercontent.com/23357854/108710603-4ae4e580-753a-11eb-8a30-6fa2b6a1dd3f.png)

When I navigating

[2021-02-22 15:32] anthonychu commented on #296
Yes please take a look at fallback routes. https://docs.microsoft.com/en-us/azure/static-web-apps/routes#fallback-routes

[2021-02-22 19:18] miwebst commented on #290
There is not a way to change this link today, unfortunately it is tied to the name of the workflow that is generated during creation.

[2021-02-22 23:46] #293 closed

[2021-02-23 04:06] plamber commented on #290
I do not see this as a critical thing. But it would be nice to be able to manipulate these fields in future.

The Deplyoment history and Edit Workflow might change over time in a project, especially larger projects and long-running projects that might need to follow their own naming conventions for yml file names.

[2021-02-23 07:30] imvikaskohli commented on #296
Thanks @anthonychu

I have added the routes.json file in the src folder with the following code as described in the Microsoft Azure Static Web App documentation:-

routes.json file
{
  "routes": [
    {
      "route": "/*",
      "serve": "/index.html",
      "statusCode": 200
    }
  ]
}

Then in the Angular.json after Angular version 6, for less than or equal to 5 than in angular-cli.json file y

[2021-02-23 07:30] #296 closed

[2021-02-23 14:20] miwebst commented on #51
@Misiu  Sorry for the delay on this. We just launched the new config file. It has some breaking changes from routes.json but does have support for applying different headers based on different file types! https://docs.microsoft.com/en-us/azure/static-web-apps/configuration

[2021-02-23 14:24] Misiu commented on #51
@miwebst thank you for the update! I'll definitely take a look and give this a try.

[2021-02-23 14:24] miwebst commented on #132
Hey @danspark , we have launched a new config file today with some breaking changes that will allow us to continue to add functionality going forward. We have added a "methods" matching criteria to our routes; you can find more info here: https://docs.microsoft.com/en-us/azure/static-web-apps/configuration

[2021-02-23 14:30] miwebst commented on #201
This has been documented!

[2021-02-23 14:30] #201 closed

[2021-02-23 15:20] mvozure1 commented on #94
need this

[2021-02-23 15:23] Zhiyuan-Amos opened #297 "401 Response overrides result in infinite redirects"
Hello, I ported from `routes.json` to `staticwebapp.config.json` and made the relevant syntax modifications. I've attached my config file below:

[code]

I'm not sure what's causing infinite redirects at `https://identity.azurestaticapps.net/.auth/login/done#_=_`. I'm using Facebook authentication.

Am I doing anything wrong? Thank you!

[2021-02-23 15:38] softchris opened #298 "Support deployment from other CI/CD services, such as GitLab, BitBucket, Jenkins, CircleCI"
- zip up the artifacts
-  make artifact available at a URL, storage account?
- zip deploy

[2021-02-23 16:08] danspark commented on #132
@miwebst This is great! I'm guessing this issue can be closed, then? Didn't find the breaking changes in the page, though.

[2021-02-23 16:23] qianz2 commented on #287
Here is a temporary workaround that works for the above issue: use CUSTOM_BUILD_COMMAND flag, which can skip running package install command and run the custom build command provided, in this case `yarn add --cached`.

[2021-02-23 19:07] stemixreal commented on #294
Apologies for all the title changes. I'm new to github and didn't realise they showed up in the thread for everyone to see.

reading [https://github.com/Azure/static-web-apps/issues/17#issuecomment-632406729](url)

Is that my issue, the node libraries I'm trying to use don't exist in the Oryx mage and I should figure out how to add the required modules in the build process?

thanks
Steve

[2021-02-23 19:44] miwebst commented on #132
Ah this is a great point @craigshoemaker should we consider making a section to talk about the breaking changes?

@danspark, the main changes are to the naming of different properties (i.e. response overrides) and the wildcard routing behavior / introduction of navigation fallbacks.

[2021-02-23 19:44] #132 closed

[2021-02-24 00:06] sfabriece opened #299 "adding a staticwebapp.config.json results in a failed build"
The following `staticwebapp.config.json` results in an error when uploading artificts:

[code]

[2021-02-24 00:13] mkarmark commented on #299
Hi, I'd be curious to see the exact error with which this navigationFallback section errored. Would you mind linking your github repo if public or sharing the github action logs here?

[2021-02-24 00:17] sfabriece commented on #299
![image](https://user-images.githubusercontent.com/3108592/108926114-12c6cb00-763e-11eb-8a24-417aa28a0074.png)

@mkarmark

[2021-02-24 00:19] sfabriece commented on #299
Full logs [here](https://pipelines.actions.githubusercontent.com/xpwniGrBDUHJ39tZyg6b2EpnMeW5TTXxH1nF7pAJYDQEyKY9Bg/_apis/pipelines/1/runs/453/signedlogcontent/4?urlExpires=2021-02-24T00%3A18%3A56.6091399Z&urlSigningMethod=HMACV1&urlSignature=eNd%2FZJx74amQNhA0tvHXGajAT%2BeI44txxO5j7PR8eZA%3D) @mkarmark

[2021-02-24 00:46] mkarmark commented on #299
I'm not able to access that link nor am I able to repro this issue myself. I'll need to take a look at the full logs and the full staticwebapp.config.json to be able to proceed further in this investigation.

[2021-02-24 00:51] itpropro commented on #286
It seems not possible to use the playground with Static Web Apps as apollo identifies that it runs on a shared infrastructure, where the hostname is `https://[RANDOM_GUID].azurewebsites.net` which leads to CORS problems, as the browser location is `https://random-word123456789.azurestaticapps.net`.
However, to use graphql in Azure Functions with Static Web Apps (not the playground), the cors optio

[2021-02-24 00:51] #286 closed

[2021-02-24 00:55] mkarmark commented on #297
Can you please provide us with the site name/hostname so we can look at the logs from our end for this investigation? Thanks!

[2021-02-24 01:37] sfabriece commented on #299
[logs_453.zip](https://github.com/Azure/static-web-apps/files/6032746/logs_453.zip)
Does that help? @mkarmark .

In the config I only had:
[code]

[2021-02-24 02:07] wilberolive opened #300 "Cannot override values in local.settings.json"
In Azure Functions I used to be able to override values in local.settings.json by doing something like this in Startup for example.

[code]

The order in which the settings files are added to the configuration allows values in local.settings.json to be overridden with values in secret.settings.json for example. This is useful as it allows local.settings.json to hold all non-sensitive values as wel

[2021-02-24 02:19] stemixreal opened #301 "Is SWA the right choice?"
Please excuse me if I'm asking this in the wrong place. I'm starting here because my question is about static web app function use. I'd appreciate being redirected if this isn't a question for here.

Is it possible to install a node package to be used by the a javascript function api?

Some node packages can be used without issue, qs for instance. Others can't, and I break the api github build pro

[2021-02-24 02:44] mkarmark commented on #299
Where in the directory is the staticwebapp.config.json file located, so we can try to repro as closely as possible?

[2021-02-24 04:24] Zhiyuan-Amos commented on #297
Hello @mkarmark, is there a way for me to send my site name to you privately? Thank you!

[2021-02-24 07:56] anthonychu commented on #294
Sorry it took a while to respond. I had to read this a few times to understand what's happening.

I think the problem is your require statement in `register/index.js`. Your function app is deployed to Linux, which has a case sensitive file system. The package has all lowercase characters `playfab-sdk`. From the error, it looks like your require statement uses mixed case (`PlayFab-Sdk`), which migh

[2021-02-24 07:58] anthonychu commented on #301
@stemixreal Please take a look at my comment in #294 to see if it solves your problem.

[2021-02-24 08:08] anthonychu commented on #300
This is probably best asked here: https://github.com/Azure/azure-functions-core-tools/issues or here: https://github.com/Azure/azure-functions-host/issues

But local.settings.json is not a normal appsetting file. It's a specific format that is meant to be read by Azure Functions Core Tools. When running in locally in Core Tools, the values in the `Values` section will be made available in your fun

[2021-02-24 08:28] stemixreal commented on #294
Hi Anthony,

Thank you so much!

3 days! lol. 3 days I've been scratching my head and that was it. I was looking at the require statement in the early hours this morning, I almost changed it to lower case but didn't. I think by the time I considered that I'd convinced myself it couldn't be the problem.

Thanks again Anthony, can't say how helpful you've been, saved the day so to speak. Apologies i

[2021-02-24 08:29] stemixreal commented on #301
Thank you @anthonychu it did solve my problem

[2021-02-24 08:34] anthonychu commented on #294
No worries. Happy to help! And nothing wrong with your issue. You included lots of details which is great! It just took a while to find the right clues. 🕵️‍♂️

[2021-02-24 09:00] sfabriece commented on #299
The build output is in dist/release and that's where the config is.

[2021-02-24 09:49] MichaelRoger commented on #281
any news about this?

[2021-02-24 16:24] #294 closed

[2021-02-24 16:24] #301 closed

[2021-02-24 18:08] miwebst commented on #281
Hey @MichaelRoger , as Anthony mentioned above, we are working on supporting private endpoints which should fit your enterprise need. We are also in discussions on creating an ip address feature to restrict access to a list of CIDR blocks. Private endpoint support should come in the next few months. We don't have an ETA on the allowedIPs feature.

[2021-02-24 21:44] tcc-sejohnson commented on #237
@martinmeeser

In the meantime, as it seems this still isn't out (unless I've missed something), it took me about fifteen minutes to set up [msw](http://www.mswjs.io) to mock requests to all of the .auth endpoints. It's been a great stopgap!

[2021-02-24 21:50] tcc-sejohnson commented on #134
I heartily second this! @anthonychu, 100 users would totally take care of us for now -- but later on, it would be great to have support for unlimited users. My use case is very similar to theonewolf's. We're using SWA to hold information on BI products, and the 25 user limit makes this product more of a toy than something that would ever be useful in an enterprise scenario. It's a shame, too; the

[2021-02-24 21:51] tcc-sejohnson commented on #81
Seconded, heartily.

[2021-02-25 01:29] wilberolive opened #302 "Oryx has failed to build the solution."
Yesterday my solution was building just fine. Made about 10 commits yesterday and each built and deployed fine. Now today I have come to continue my testing of Azure Static Web App and found that the solution is no longer building. Instead I get this error.

![error](https://user-images.githubusercontent.com/5822215/109088699-a6da8480-775b-11eb-914e-54a92d2ad52a.png)

I first noticed the error whe

[2021-02-25 01:40] wilberolive commented on #300
Yep, understand. All my sensitive secret values are stored as environment variables in the Azure Static Web App portal. However, I need to store them locally as well for local testing.

My concern is that local.settings.json has a bunch of other stuff in it as well that would be a real pain to have to recreate from scratch if I somehow lost it as I only have it locally. You know, stuff for CORS an

[2021-02-25 02:10] wilberolive commented on #302
I tried a few more times and it appears as though it fails at this line here.

_Downloading and extracting 'dotnet' version '5.0.100' to '/tmp/oryx/platforms/dotnet/5.0.100'..._

However, sometimes it will make it past that and compile the Client. But then when it tries to compile the Api, it will fail at this line.

_Downloading and extracting 'dotnet' version '3.1.406' to '/tmp/oryx/platforms/do

[2021-02-25 02:47] arroyc commented on #302
Sorry for your trouble .. there are couple of things here I would like to mention .... we (oryx) always try to keep it up to date with the dotnet releases. so if you see today it is trying to download and extract 5.0.100, it can change next  day to 5.0.103 .. because we have updated dotnet 5 sdk to point to 5.0.103. Now coming back to the failure, I'm not sure at this moment as there is not much l

[2021-02-25 04:07] anthonychu commented on #300
Yep totally agree with you here. Let me know if the solution proposed here would work for you: https://github.com/Azure/azure-functions-core-tools/issues/2070

[2021-02-25 05:31] wilberolive commented on #300
Haha... Yes! It is funny I pretty much came up with the same solution as proposed there. I even coincidently named the file the same.

[2021-02-25 05:33] wilberolive commented on #302
@arroyc It appears to be working normally again now. Perhaps I was just trying to compile at the same time it was being updated. Might explain why it was struggling to pick a dotnet version and download it.

[2021-02-25 05:37] plamber opened #303 "Resource move is not supported for resource types 'Microsoft.Web/staticSites'"
Hello,
I tried to move a static Web App in a different resource group and received this error message:
![image](https://user-images.githubusercontent.com/18241305/109108355-a6c68e80-7733-11eb-952e-da088c1ad4d8.png)

Do you have any plans to support a move in future?

What is your suggestion if this will not be the case? If you have for example a domain associated with the Azure Static Web App, a t

[2021-02-25 10:06] wilberolive opened #304 "Can we expect CosmosDBTrigger and EventGridTrigger in the near future?"
I've just jumped on to this Static Web Apps bandwagon to test it out and discovered that only HttpTriggers are available right now. That's pretty much killed any further testing for me now. Far too limiting without any other trigger types.

For example, without the CosmosDBTrigger, I don't see any way to leverage the Cosmos DB Change Feed. This means your app cannot be notified of changes to a Cos

[2021-02-25 11:12] erfannariman commented on #291
Is there any way workaround for this for now? It broke our fine running functions with new deployments and we have no idea how to solve this. @anthonychu

[2021-02-25 11:22] erfannariman commented on #291
I found a solution:

For those who are using GitHub actions for deployment, set the ubuntu version to 18.04:

[code]

[2021-02-25 15:30] miwebst commented on #299
Hey @sfabriece we think we know what's going on. We should have a fix for this in the next couple of days. In the meantime, our assumption is that the staticwebapp.config.json file has been placed in your 'assets' folder and thus is copied to the output. This is not required for this new config file (one of the changes from routes.json). As long as the staticwebapp.config.json file is in the app_l

[2021-02-25 15:32] miwebst commented on #303
Hey @plamber, we are working on supporting resource move, it should light up in the next few months. In the meantime, there is a flow for adding a custom domain via a txt record, but there is not a Portal experience for it (just ARM apis). Let me know if you'd like more guidance on manually using this api's for txt record validation!

[2021-02-25 16:31] plamber commented on #303
Thank you @miwebst.

I do not necessarily need a portal experience. Would be interested to know more about the domain addition via txt record.

The usecase would be this one:
- I have a running web app or static web app with custom domain
- I want to build a fresh static web app with the same domain but without any service disruption
- Ideally I can setup the new static web app, configure the cust

[2021-02-25 20:39] sfabriece commented on #299
Thanks for the support @miwebst @mkarmark  😄

[2021-02-25 21:01] stemixreal opened #305 "SWA Function Quotas"
Hi Folks,

I have an SWA with some functions and I was wondering about function quotas. Are they the same as specified in the [docs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-functions-limits)?

I've accounted for the preview limits with most functions passing work off to other azure services acting as a kind of message broker.

[2021-02-25 21:30] arroyc commented on #302
@wilberolive  .. thanks for responding .. i believe there were 2 issues here .. one is the sdk version mismatch and another one is oryx build failure .. we will sure take a note on the failure to have more specific error message from now on. but not sure how to resolve the sdk version mismatch issue. But i am happy your app is working now. Feel free to open a new issue related to oryx here https:/

[2021-02-25 22:52] qianz2 commented on #295
Thanks @Zhiyuan-Amos for reporting this, we've added it into Oryx backlog. Will work on supporting it.

[2021-02-26 03:43] Zhiyuan-Amos commented on #297
Hello @mkarmark , I realise that the problem is with `"route": "/*"`. I've replaced this with the enumeration of all routes and it works fine.

Is it possible to support `"route": "/*"` i.e. the catch-all route though?

Thank you!

[2021-02-26 05:33] devgibsonsp commented on #5
Really hoping for this to be available soon...

[2021-02-26 05:36] mkarmark commented on #297
In the unified config file, "route": "/*" can/should still behave like a "catch-all" route but the change is that it will truly catch _all_...this is including your images/other assets. For a fallback route that redirects all client side route requests to index.html (for example), we recommend using the "navigationFallback" section here: https://docs.microsoft.com/en-us/azure/static-web-apps/confi

[2021-02-26 06:45] Zhiyuan-Amos commented on #297
Hello @mkarmark, thank you for your prompt response! Correct me if I'm wrong, I don't think that the issue here is with a fallback route. My routes file contents are posted above. Specifically, the problem is with this segment:

[code]

The resolution is to expand this segment to enumerate all routes e.g.

[code]

This enumeration will make the `staticwebapp.config.json` really long.

Previously,

[2021-02-26 09:22] anthonychu commented on #304
We're looking into how to let customers bring their own function apps to Static Web Apps. This would provide flexibility in function app config, but also allow you to take advantage of Static Web Apps auth and routing. We don't have an ETA at this time.

[2021-02-26 09:24] anthonychu commented on #5
Task is rolling out! If all goes well, UI changes to support this would be live mid-March.

[2021-02-26 09:37] anthonychu commented on #305
We don't enforce quotas anymore. Your functions executions count as regular Azure Functions executions in your subscription.

The SignalR output binding does not require a persistent connection. Maintaining a persistent connection to other services does not incur a charge. You are only billed when a function is executing. The monthly Azure Functions [free grant](https://azure.microsoft.com/en-us/p

[2021-02-26 11:13] stemixreal commented on #305
Thanks @anthonychu , appreciate the info. I wasn't aware quotas had been removed. That's great!

[2021-02-26 15:02] DavidNorena commented on #5
@anthonychu you and your team mates are amazing for real, we've been waiting for almost a year for this, its so nice that finally we'll see it shining, AMAZING JOB TEAM !

[2021-02-26 16:12] StefH opened #306 "Source code for StaticSitesClient ?"
Is the source-code from the StaticSitesClient (which is used in docker image mcr.microsoft.com/appsvc/staticappsclient:stable) public?

And where to find this?

[2021-02-26 17:38] StefH opened #307 "Manually running the 'StaticSitesClient upload' command from the container (mcr.microsoft.com/appsvc/staticappsclient) fails to upload the artifacts"
I'm using this container `mcr.microsoft.com/appsvc/staticappsclient:stable`.

I use this command in bash:
[code]

Shows error `Failed to upload build artifacts.`.

Full output:
[code]

And the status in the portal stays this:
![image](https://user-images.githubusercontent.com/249938/109334933-a4fae900-7861-11eb-91c2-a79db9de1695.png)

What could be the issue ?

Note that the Static Web App (https:

[2021-02-26 19:55] acdvs commented on #94
I think this functionality is a necessity — especially since the SWA workflow emphasizes the use of live staging environments. It would be great to password-protect the staging environments while they are being finalized.

[2021-02-26 20:37] jennirethi opened #308 "Restricting Azure Static Web Apps easy auth to a single tenant"
I am wanting to use the baked in auth feature of Azure Static Web apps. I'm able to secure my routes by just simply using the authenticated role, but I am seeing that I have the ability to sign in from id's that are not singly restricted to my Azure AD tenant. If I don't want to invite users/define custom roles and simply want to use the authenticated role, how can I restrict access to only my ten

[2021-02-26 21:24] anthonychu commented on #306
@StefH This component is currently not open source.

[2021-02-26 21:26] anthonychu commented on #307
We don't recommend running the container outside of our officially supported tools (currently the Static Web Apps GitHub Action and soon the Azure Pipelines task).

[2021-02-26 21:33] StefH commented on #306
Will it be when it's ready to use in DevOps pipeline?

[2021-02-26 21:39] anthonychu commented on #306
The task is rolling out. You'll be able to create a Static Web App in the portal without GitHub sometime in March. It'll depend on the portal deployment schedule.

[2021-02-26 21:49] StefH commented on #306
Wil that also mean that Azure Static WebApps itself will be out of preview around that time?

And may I ask why the GitHub action was available earlier?

[2021-02-26 22:01] qianz2 commented on #285
Hi @Aegman , Oryx identifies hugo app by detecting if there has a config.toml/config.yml/config.json/config.yaml file at the root or a config/**/*.toml file inside config subfolder. So I  think you included such files in your app previously. You could use DISABLE_HUGO_BUILD to avoid any hugo platform detection and builds.

[2021-02-27 04:12] BipulRaman commented on #202
There is no provision for non-www subdomain. The whole functionality seems to be incomplete / broken.

[2021-02-27 15:01] #305 closed

[2021-02-28 01:09] anthonychu commented on #291
@erfannariman It's interesting that this fixed it for you. It didn't fix the issue for me. The Static Web Apps GitHub Action runs in a container, so what you set as the OS for the outer GitHub Actions agent shouldn't affect the containerized build and deploy environment. We've identified that there's a potential mismatch between the Static Web Apps GitHub Action container (Debian Stretch) and the

[2021-02-28 05:50] anthonychu commented on #291
Here's a workaround while we sort out the problem with building in the Static Web Apps action.

Insert [these steps](https://github.com/anthonychu/20201210-test-python-swa/blob/df092d24a8f2f7747762b6efe90560b167290a6e/.github/workflows/azure-static-web-apps-agreeable-field-04b77ec1e.yml#L21-L30) to your action, and set the build agent to `ubuntu-18.04`. This builds the Python function app correctl

[2021-02-28 21:54] k-miyake opened #309 "enable GitHub Discussions in this repository"
You are aware of the Discussions feature on GitHub.
https://docs.github.com/en/discussions/quickstart

This repository is getting so crowded with issues that it's getting hard to find the important ones.
Why not use GitHub Discussions to make it easier to find issues?

[2021-03-01 09:03] Kapkan-Lesion commented on #291
Hi @anthonychu, I have a function app that was running into a similar issue where pyodbc module was not found, despite the fact that I have it in the requirements.txt, and made sure to manually pip install this to double check.

I managed to make it work with func azure functionapp publish <function app name>, it started working for some time...

Then boom, everything went down, it was working for

[2021-03-01 09:18] anthonychu commented on #291
@Kapkan-Lesion While the symptoms and possibly the underlying issues are the same, if you're using Azure Functions without Azure Static Web Apps, please use this issue to track this problem: https://github.com/Azure/azure-functions-python-worker/issues/818

/cc @Hazhzeng

[2021-03-02 06:21] chriswoodle commented on #287
Hello, I'm having similar issue,
I'm using `Azure/static-web-apps-deploy@v0.0.1-preview`

I've tried using the CUSTOM_BUILD_COMMAND workaround described by @qianz2 (I've tried setting it to `yarn install` and `yarn add --cached`, with and without the "" quote marks):

![image](https://user-images.githubusercontent.com/11614325/109604680-eacde080-7af1-11eb-923d-fc9a62c58c7f.png)

But it does not se

[2021-03-02 06:42] chriswoodle commented on #287
I've also tried to bypass the `Installing production dependencies ...` section here: https://github.com/microsoft/Oryx/blob/616edfb98a95927f0c31bc056f94a16fb18dcdcd/src/BuildScriptGenerator/Node/NodeBashBuildSnippet.sh.tpl#L46
by setting `PRUNE_DEV_DEPENDENCIES` but that does not seem to do anything either.

[2021-03-02 08:02] martinmeeser commented on #237
I have also shifted to a classic webapp. :-( However will keep an eye on it, maybe the next project ...

[2021-03-03 00:06] mkarmark commented on #297
Hi @Zhiyuan-Amos, we have identified the issue on our end and are working on a fix for this. We will update this thread when the fix gets deployed. Thanks for your patience!

[2021-03-03 08:29] wilberolive opened #310 "Best place to get news and updates on Static Web Apps?"
Hello, just wondering where the best places it to get news and updates regarding new features and changes to the Static Web Apps platform? I can't find any blog or "what's new" sort of page anywhere.

[2021-03-03 12:59] olakusibe commented on #162
I experienced same issue, the close pull request job action failed after successfully merging the staging branch with the main one.

[2021-03-03 15:04] anthonychu commented on #310
This is good feedback. We’ve been having internal discussions about this and are looking at ways to better communicate updates and new features.

For now, our [Twitter account](https://twitter.com/azurestaticapps) might be the best place for updates.

[2021-03-03 15:39] exhaler opened #311 "404 pages"
Azure static web apps currently only works with a github account, and as a company policy we have to use Azure for repos and everything else (pipelines, releases, etc..) We are going to use the static web app just for viewing a simple angular (ionic) website however all the source code must remain in the azure devops repo.

We managed to create a private github account, and push to it the compiled

[2021-03-03 21:21] anthonychu commented on #13
Closing this in favor of #7. We don't currently have plans to support promoting between environment. Please create a new issue for it if it's still relevant. Thanks!

[2021-03-03 21:21] #13 closed

[2021-03-03 21:26] anthonychu commented on #298
Chatted with @softchris offline. Deployment from CLI is tracked at #7. But the original request about deployment from other CI/CD providers such as GitLab, Jenkins, BitBucket, etc. Updating this issue's title to reflect this.

Options to support this include:
* Support deployment from CLI #7
* Create a general purpose docker container that can be run anywhere to deploy a Static Web App (and build

[2021-03-03 21:44] anthonychu commented on #307
I'll close this for now. Tracking the Azure DevOps task at #5

[2021-03-03 21:44] #307 closed

[2021-03-03 22:22] anthonychu opened #312 "Support deployment using service principal instead of token"
Support [Azure Login GitHub Action](https://github.com/marketplace/actions/azure-login) in GitHub, or passing service principal credentials in Azure DevOps as well.

[2021-03-04 00:00] anthonychu commented on #306
We still have more to do before we can GA.

As for why GitHub Actions was supported first, we had to pick one for the public preview and felt that GitHub Actions allows us to reach more people in our target audience (some of whom are not Azure customers) which, in turn, has allowed us to collect the feedback needed to shape our product.

Closing this issue, but keep an eye on #5 for Azure DevOps s

[2021-03-04 00:00] #306 closed

[2021-03-04 00:05] anthonychu commented on #311
Azure DevOps support is coming this month. Please keep an eye on #5.

You're on the right track with routes. You want to set up what is called a "fallback route" if you're using `routes.json`:
https://docs.microsoft.com/en-us/azure/static-web-apps/routes#fallback-routes

Note that we have introduced a new config file format that will eventually replace `routes.json`. For details on this file (`sta

[2021-03-04 07:23] anthonychu commented on #308
We're working on a feature that allows you to bring your own auth registration which should allow you to do this. You would be able to restrict AAD logins to just your tenant. Then you can use routing rules to lock down parts or all of your site. Only users from your tenant can log in and have the `authenticated` role.

[2021-03-04 15:48] miwebst commented on #299
Hey @sfabriece, our fix for this should be out. Do you mind checking if your project is still hitting this error?

[2021-03-04 15:59] miwebst commented on #248
This feature is now live! You can add this to your build configuration:
`skip_app_build: true`

When this is added we will skip the Oryx build of the app so you can just place your built application in the `app_location` directory. A couple of notes on this before we get documentation up:
- Output_location / app_artifact_location is ignored when using this option
- This only applies to the app, no

[2021-03-04 18:10] JustinGrote commented on #197
@anthonychu 3 month follow-up, is there a major blocker to just enabling the powershell worker like the other supported ones?

[2021-03-04 22:25] AaronCrawfis commented on #297
Hitting the same issue on our site. Will wait on an update. Here's the config we're using to place the entire site behind GitHub auth for only users we authorize as part of our private preview:
[code]

[2021-03-05 08:33] lanthaler commented on #297
Try adding

[code]

before the `/*` entry. That should fix it

[2021-03-05 12:57] sfabriece commented on #299
Hi @miwebst , I'll try to get to it in the weekend.

[2021-03-05 14:01] Zhiyuan-Amos commented on #297
@lanthaler your solution works, thanks! For me, it was `/.auth/complete` that was causing infinite redirects, so I added the following:

[code]

@mkarmark fyi

[2021-03-07 10:20] borisno2 opened #313 "OIDC token issue - same code works in Azure Functions"
Hello,
really enjoying Static Web Apps, but I have run into an issues and I am not sure what my issue is, I am trying to get a React/Static Web App with Auth0 authentication working. It all work perfectly on my machine, however when I deploy to Static Web Apps I get "secret or public key must be provided" when calling the API with the correct Bearer Token.
I have deployed the same code to Azure Fu

[2021-03-07 10:27] borisno2 opened #314 "Save button on Configuration page is greyed after adding a new setting"
The Save button stays greyed out after a new setting is added.
![image](https://user-images.githubusercontent.com/8251494/110236682-4f25ef80-7f8b-11eb-83b8-1475aa865284.png)
It becomes available after clicking the "Hidden Value"

[2021-03-07 20:05] stemixreal opened #315 "Disparity between function hits in SWA overview and App Insights"
Hi Folks, hope everyone is having a good weekend.

I'm getting function hits displayed in my SWA overview blade in the portal. When I check the AI performance blade some of those hits don't show up whilst others do.

SWA Overview blade

![image](https://user-images.githubusercontent.com/57687696/110252664-66121500-7f7e-11eb-9484-273b1ae72834.png)

App Insights Performance ( for the same time perio

[2021-03-07 23:36] anthonychu commented on #313
The authorization header is currently used by the platform and is not available to function apps deployed to Static Web Apps. We're working on some changes that would enable this, but there's currently no timeline.

[2021-03-07 23:38] anthonychu commented on #314
This is related to #121. I can reproduce this sometimes as well, so I think this issue persists in some scenarios. @takyyon can you please take another look?

[2021-03-07 23:55] borisno2 commented on #313
Ahh, that would explain it... Thanks for the update. I guess I'll just have to use Azure Functions for now, and keep an eye out for an update to this.

[2021-03-07 23:57] borisno2 commented on #314
Yes, reading through #121 looks to be similar to what I have been experiencing in the portal. Let me know if you need any more info.

[2021-03-08 03:25] Itrel commented on #287
I am also encountering the yarn2 problem @caitlinwillmot  mentioned. My attempts to pass in a CUSTOM_ BUILD_COMMAND is having the same problem @chriswoodle encountered.

The Oryx version in my build log is

Oryx Version: 0.2.20210225.1, Commit: ac3044e35d3dc78dce05ba4d552bbe144029a673, ReleaseTagName: 20210225.1

It was released 11 days ago (March 24)

Chri's Oryx log shows 0.2.20201112.1 which wa

[2021-03-08 14:18] zerodogg commented on #7
Do you have any rough timeframe for when this might be available for testing?

[2021-03-08 16:15] hrazmsft opened #316 "Brotli compression?"
Hi, I've created a new Next.JS project (empty one) hosted by Azure Static Web Apps, and I see that the default content encoding is Brotli and not GZip:

![image](https://user-images.githubusercontent.com/66222191/110348309-2e68a300-803a-11eb-82fd-c1ea2e4f98ea.png)

How can I change it to gzip?

[2021-03-08 16:24] exhaler commented on #311
Thanks for the update

[2021-03-08 17:22] Ba4bes commented on #197
Agree this would be great functionality.
Next to the use case of Azure management through a custom portal, it can also help IT Pro's (who are often used to PowerShell) to ease their way into this technology!

[2021-03-08 20:37] arroyc commented on #287
@Itrel  This is not an official release from Oryx .. as the tag name says it's experimental and intended for internal testing purpose. I would recommend waiting for the official build. It will be there soon.

[2021-03-09 03:35] anthonychu commented on #197
Just to set expectations, we don’t plan on enabling this soon for Static Web Apps functions. We need to see more demand for it in the context of Static Web Apps, and we currently don’t support managed identity which makes PowerShell less useful. We’ll reevaluate later in the year.

We are looking at ways to allow you to make existing function apps work better with Static Web Apps. Hopefully this c

[2021-03-09 08:51] hrazmsft commented on #316
Same here: `accept-encoding: gzip, deflate, br`

1. I saw somewhere in your documentation that you support gzip only. So I was surprised.
2. We are considering the Azure Static Web Apps for a POC above internal product that we are developing. In that product we tested it and saw that gzip compress our code better than brotli. So, I wanted to know if there is an easy way to configure it manually in

[2021-03-09 12:45] vmanickamus commented on #5
Hi do we have a ETA for this feature release? Thanks.

[2021-03-09 16:49] loganmarshall1 commented on #5
Agreed! Thank you so much @anthonychu ! Looking forward to this! 👍🏼

[2021-03-09 18:12] qianz2 commented on #302
Hello @wilberolive , I think the issue is resolved by the latest release now. Could you try again and if resolved could you close this issue. Thanks!

[2021-03-09 18:13] qianz2 commented on #295
Hi @Zhiyuan-Amos , we've been working on this, it will be available on our next release. So please wait until then to try it out.

[2021-03-09 19:05] arroyc commented on #287
@Itrel  we have an official release .. hope it will be soon updated in static web sites as well. https://github.com/microsoft/Oryx/releases

[2021-03-09 20:25] Itrel commented on #287
Excellent! Thank you very much.

Which repo/team should I go look at for the static web sites build container
Azure/static-web-apps-deploy@v0.0.1-preview

I thought this repo team would take care of updating that container image as well as the Oryx functionality.

[2021-03-09 21:26] arroyc commented on #287
you are in the right place/repo .... i would just wait for their confirmation on updating their side...  @anthonychu

[2021-03-09 23:05] anthonychu commented on #287
For the Static Web Apps action, we integrate upstream changes from Oryx regularly and perform our own testing before releasing it. We don't have an exact ETA on when those changes will be available.

@Itrel For now, you can update your workflow to build your app in a separate step, and use the Static Web Apps GitHub action to deploy the app. To do this, set the `app_location` property of the actio

[2021-03-10 05:43] nathanjford commented on #247
I am having an issue deploying a super simple api based on this example: https://github.com/Azure-Samples/ms-identity-nodejs-webapi-azurefunctions . I think the problem is the node_modules folder gets big (like > 550Mb) even when specifying the '--production' flag. The 'Function' package.json has ~8 dependencies, so not a whole lot. Is there a way to get around this in gitHub actions? Thanks

[2021-03-10 06:44] anthonychu commented on #247
@nathanjford If you have Azure Functions Core Tools as a [dependency](https://github.com/Azure-Samples/ms-identity-nodejs-webapi-azurefunctions/blob/df367d35a48fb333fe387e25c630aaa612047e34/Function/package.json#L29), try removing it.

[2021-03-10 09:57] MichelZ commented on #5
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureStaticWebAppV0

Here's the task if anyone's interested

[2021-03-10 10:11] hrazmsft commented on #5
Can we use it now without GitHub repo and it will work or we have to wait for the new UI?

[2021-03-10 10:13] elahnala commented on #5
This is totally work in progress. Developer experience is quite weak with this solution. Seems like the tools have zero documentation and totally in beta-phase or even alpha.

[2021-03-10 10:13] MichelZ commented on #5
I haven't tested it yet, so I don't know...  But it can't be much longer now until it's "officially" supported :)

[2021-03-10 10:14] MichelZ commented on #5
You've discovered what the label "Preview" means...  congratulations! ;)

[2021-03-10 11:57] Rutix commented on #5
@vmehmeri In the post above by @anthonychu it says this:

"You'll need to set a pipeline variable for the deployment token (retrieved from the portal)."

So I figure a change to the "Static Web App" UI in the azure portal isn't live yet.

[2021-03-10 14:07] deepbass commented on #3
This would be super useful for me. I'm currently handling this clientside with MSAL and deploying my function app seperately which is a bit of a faff and reduces the value of static web apps for this use case

[2021-03-10 15:22] danijam commented on #3
@mkarmark is there any update on future plans to support something like Azure B2C or i guess more specifically the ability to define a OpenID Connect IDP as the authentication provider in a Azure Static Web App.

[2021-03-10 17:45] TroyWitthoeft commented on #5
I've been waiting for this too!  Going to be trying it out today!  My org is all in on Azure DevOps.  Let's see if we can make Azure Static Web Apps play nice with DevOps repos.

[2021-03-10 17:56] itpropro commented on #304
As I understand, SWAs are targeted to provide a better frontend/backend integration. It sounds like you have more complex business logic that should be placed somewhere outside of the API that is directly supporting your SPA.
We have several SWAs with e.g. realtime messaging capabilities running that all have the business logic in separate microservices, like a SignalR Hub that receives updates fr

[2021-03-10 19:16] anthonychu commented on #5
Hey folks. Yes, as you've discovered, the task is rolling out to Azure DevOps. It's a bit of a chicken or egg thing to coordinate portal changes and docs with a rolling release.

I'll update this thread once the task is completely rolled out and we've validated that things are working. Goal is to provide instructions on how to enable this without the portal experience, so those of you on here who

[2021-03-11 10:47] AshirwadSatapathi opened #317 "Static Web App's name can be same for two different Static Web Apps across resource groups and subscriptions"
Static web apps can have the same name across resource group and subscription. The only restriction being there in the resource group i.e. Two azure static web apps resources present inside one resource group cannot have the same name. This is quite unique. I'm not sure if this is a feature or what but it's quite different from the azure web apps validation check where we are required to have uniq

[2021-03-11 12:09] timmkroe opened #318 "Storybook.js & Azure Static Web Apps permission issues"
.

[2021-03-11 16:11] JustinGrote opened #319 ".NET 5 Worker Support"
Obviously it was *just* released, but I thought it would be good to know what the roadmap looks like for adding .NET 5 worker support to static web apps as a backend function type.

[2021-03-11 17:17] mkarmark commented on #317
Yes, this passes our checks because the site is uniquely identifiable since it belongs to different resource groups. The difference between our service and web apps is that web apps uses the sitename to generate the default hostname for the website, so requires that every sitename be unique in order to generate unique hostnames. On the other hand, our default hostname is independent of the sitenam

[2021-03-11 19:22] AshirwadSatapathi commented on #317
Hey @mkarmark, Thanks for updating me regarding it. I was curious to know if you had any plans of having unique names for the static web apps when it goes to GA. If the validation check is modified to have globally unique names for all the static web apps in the GA then it can be a reason of concerns for the existing static web apps which share the common name. I wasn't sure if it was a bug or fun

[2021-03-11 19:27] miwebst commented on #317
Hi @AshirwadSatapathi, there are no plans to utilize the resource name as the hostname. Creating a generated hostname was done purposefully and is not a bug. There are many resources in Azure that also follow this pattern. It is different from Web Apps so good to call out :)

[2021-03-11 19:32] AshirwadSatapathi commented on #317
Thanks @miwebst for the update. It was really helpful.

[2021-03-11 19:32] #317 closed

[2021-03-12 05:52] mkarmark commented on #297
We have finished deploying the fix for this issue. Thank you for your patience, and let us know if you still run into any issues!

[2021-03-12 08:34] Zhiyuan-Amos commented on #297
Verified that it works, thanks!

[2021-03-12 16:44] drma-dev opened #320 "blazor + static web app = some error after publish"
A few days ago started giving this error, I don't remember exactly which one, but it never disappeared
![image](https://user-images.githubusercontent.com/12803050/110970883-f4004e00-8338-11eb-9cfb-0a719d30ffcd.png)

And today, right after a publication, this one started to appear:
[code]

[2021-03-12 18:47] TroyWitthoeft commented on #5
@anthonychu Our Azure portal tenant still doesn't have the new Azure Static Web Apps UI enabled.  Waiting on the feature flag.

You mentioned at the [31m mark](https://www.youtube.com/watch?v=xEYQBPo11iI&t=31m0s) of the video that there may be a workaround?  We REALLY REALLY want to use it.  😀   Mind sharing?

[2021-03-12 18:52] Rutix commented on #5
The video also mentions that they will update the docs with cli commands to do the same. Let's just be patience and let @anthonychu have the time to update the docs 😄.

[2021-03-13 04:50] xgalaxy commented on #319
Dang. Disappointed to come here and see this ticket. I got all excited to see Azure Functions supports .NET 5 and now it turns out Static Web apps doesn't support the new Azure functions running .NET 5 😭

[2021-03-13 08:53] anthonychu commented on #320
Looks like the Blazor app is fine, the problem is your front end is calling a function and the function app is down.

Here's one error I can see: `System.ArgumentNullException : Value cannot be null. (Parameter 'containerId')` Did you change anything related to your function app or your app settings since the last successful deployment?

If your app settings names have `:` in it, try changing them

[2021-03-13 08:59] anthonychu commented on #319
Static Web Apps supports specific versions of each language runtime. They're currently:
* Node.js 12 LTS
* .NET Core 3.1 LTS
* Python 3.8

We'll evaluate other runtimes and languages based on demand in the context of HTTP APIs used in Static Web Apps. We are looking into providing ways for you to bring a function app that you manage to Static Web Apps.

[2021-03-13 09:14] anthonychu commented on #5
Okay, here are some rough CLI instructions. Thanks for patiently waiting. Keep in mind you'll likely see some inconsistencies in the portal when you do this. This is normal as the changes to support some of this stuff are not rolled out yet.

[code]

We'll update the CLI to make those flags optional. For now, use the above values to bypass validation.

Go to your Azure Repo and create a pipeline:

[2021-03-13 14:03] drma-dev commented on #320
In fact, I had made changes to that recently. but where do i see this error? not yet in service?

what about the service worker error?

[2021-03-13 14:10] drma-dev commented on #320
and about the character `:` I have several like this and they all work normally

[2021-03-13 20:34] HMelkomian opened #321 "GitLab and alternative"
I was going to publish my **Vue.js** app into Static Web App but you only support GitHub and my repository is in **GitLab**.

1. Is there any estimation for GitLab availability?
2. What is the alternative if I want to publish to Azure?

[2021-03-14 01:48] Zhiyuan-Amos commented on #297
@mkarmark There might be a minor bug. Client fails to load `manifest.json` (gets redirected based on `responseOverrides`, see https://github.com/Azure/static-web-apps/issues/297#issue-814566186), even though `"route": "/*"` is supposed to catch all.

Only upon adding the following:

[code]

Then it gets loaded successfully. I don't recall seeing this error previously, so I'm not sure whether the f

[2021-03-14 09:01] exhaler commented on #5
Finally! However, when I run ```az staticwebapp create -l westus2 -n test-azuredevops -g test-azuredevops -s "" -b "" --token "-"``` i get an error ```argument --source/-s: expected one argument```

[code]

[2021-03-14 10:19] nathanjford commented on #247
Excellent, that reduced the size significantly! Thanks a lot.

[2021-03-14 22:45] anthonychu commented on #5
@exhaler Interesting. Might be a problem on Windows. Try in https://shell.azure.com/ (Just tested and worked for me)

[2021-03-15 00:08] anthonychu commented on #321
Thanks @QuarkRobot. Yes Azure DevOps #5 can provide limited integration with GitLab, including integrating its pipelines with GitLab for source control and artifacts.

However, that might not be enough. We have #298 that's tracking how we can build and deploy from additional CI/CD services.

[2021-03-15 08:45] chrisreddington opened #322 "Option to use Hugo Extended"
There is functionality in the static-web-apps GitHub Action to select which version of Hugo you would like to use. However, there is not a property to determine whether you would like Hugo or Hugo Extended.

Hugo Extended is used if you plan to use SASS/SCSS in your Hugo theme. I've made a custom theme for my site, so have this as a requirement (per Hugo Community - https://discourse.gohugo.io/t/s

[2021-03-16 00:07] miwebst commented on #297
Hey @Zhiyuan-Amos, that is very interesting. Do you mind sharing what error the client is seeing? Is the client getting sent to the login page?

[2021-03-16 01:25] komayama commented on #278
@anthonychu I encountered same issue. Do you have a workaround in Static Web Apps Functions. I tried the following the code that set header multiple `Set-Cookie` but It doesn't work.

[code]

Error
[code]

[2021-03-16 16:24] smurawski commented on #5
@exhaler @anthonychu  Are you running that from PowerShell?  I experienced similar behavior and I think it's due to the double pass of string evaluation - PowerShell evaluating the string (effectively dropping the quotes as it passes it to the CLI) then the cli's runtime tries to evaluate it.

There are two options - use the stop-parsing symbol to tell PowerShell to ignore evaluation past a certai

[2021-03-16 17:00] drma-dev commented on #320
@anthonychu

[2021-03-16 18:57] exhaler commented on #5
I tried both PowerShell and Command prompt (cmd) which gave me the same error result. Everything worked correctly when I used https://shell.azure.com/

[2021-03-16 19:44] IhorLeontiev commented on #5
@exhaler  @smurawski everything worked well on Bash via https://shell.azure.com/, but in Powershell:
the following arguments are required: --branch/-b

BTW @anthonychu is it possible to have an ARM example?

[2021-03-16 19:48] smurawski commented on #5
@IhorLeontiev In PowerShell, you have to either use the stop parsing symbol `--%` before the parameters or put a second pair of quotes around the branch and source parameters, eg. single quotes wrapping the double quotes `'""'`.

For ARM you can deploy something like
[code]

[2021-03-17 05:26] anthonychu opened #323 "Do not include devDependencies in function app deployment package"
Seen a few instances where folks have `azure-functions-core-tools` (few hundred MB) and other things like typescript or webpack or test frameworks in devDependencies in a Node function app. Currently, we simply run `npm install`, which installs devDependencies too, but we don't do anything to remove them.

It should be updated to these steps:
* `npm install` (this includes devDependencies)
* `npm

[2021-03-17 10:14] Zhiyuan-Amos commented on #297
Hi @miwebst, this is what I'm seeing on the `Network` tab

![error2](https://user-images.githubusercontent.com/19281514/111451500-77aca700-874c-11eb-9485-57c1f1c4d5f8.PNG)

And on my `console`

![error](https://user-images.githubusercontent.com/19281514/111451495-75e2e380-874c-11eb-9a56-c6d22a786fd5.PNG)

The client isn't getting redirected to the login page.

[2021-03-17 13:10] dennisameling commented on #231
@manekinekko Thanks for the suggestion. This doesn't work however:

`DISABLE_NODEJS_BUILD` fails the build with:

[code]

What worked for us is to do the following:

1. Remove `"postinstall": "ngcc"` from the package.json file. Having the command there is recommended by Angular, though [it's not a hard requirement](https://angular.io/guide/ivy#ivy-and-universalapp-shell), as it will run at build t

[2021-03-17 15:14] manekinekko commented on #231
@dennisameling I am sorry I should have been more explicit.

The config I shared will disable the Node.js build (`DISABLE_NODEJS_BUILD: true`) done by Oryx. So you will have to build the app outside of Oryx (in a different step in your workflow file – like usual). The SWA config will then be used for deployment only – That's the extreme scenario!

Also, there might be a change in Angular v12 in th

[2021-03-17 15:25] anthonychu commented on #231
Looks like there’s an opportunity to improve the built-in build commands that Oryx runs. In particular, I don’t think there’s a reason to run the build with `--production` for the frontend build.

@manekinekko Can you help provide some apps with common Angular configs and some recommendations for how we should best build them?

[2021-03-17 17:47] miwebst commented on #297
Interesting, @Zhiyuan-Amos, are you using any header overrides? Do you mind sharing your whole config file?

[2021-03-17 20:18] manekinekko commented on #231
@dennisameling that's awesome. Glad to hear it's working.

We are working hard on improving the build experience for most Web frameworks.
Thank you for your feedback.

[2021-03-18 09:21] Zhiyuan-Amos commented on #297
Hi @miwebst, you can find the config file in my comment above https://github.com/Azure/static-web-apps/issues/297#issuecomment-798815583 😄

Also, it only happens on the first load; won't encounter this issue on subsequent refreshes.

[2021-03-18 15:19] diberry opened #324 "Disappearing config settings"
During a recorded demo, I had an issue where config settings (through the VS Code extension) appeared to be set then magically removed. On the recorded demo, I then tried to set with the portal, just to move on to the next step of the demo, and those also didn't seem to work.

I don't know if the service had a hickup or how else the settings could be removed. If you want to see the internal-only v

[2021-03-18 21:19] diberry commented on #323
Thank you - that would make getting dependencies for local development easier if there wasn't an additional step to install the tools.

[2021-03-18 21:19] diberry opened #325 "SWA with authentication (preview)"
I’m looking to have React + .NET serverless SWA deployed for internal Microsoft only (or any single tenant). I have an existing code base of React that I absolutely want to lock down to internal in the easiest way possible – meaning a few check boxes. What am I doing wrong?

App service
I can see how to provide this level of authentication using the App service with Authentication (preview). The u

[2021-03-20 13:08] navi1995 opened #326 "Oryx Unrecognized command or argument"
Hi there,

I'm trying to get a React app built and deployed using mostly defaults from Azure Static Web App setup. I've run a few different commits now mostly changing around directories to see if that's the issue but keep getting this issue.

[code]

The build command works fine on my local machine.

My YML file for the action is at https://github.com/navi1995/Movie-Night-Discord-Bot/blob/master/

[2021-03-20 13:33] navi1995 commented on #326
My biggest guess is that it's due to the space in my directory Movie Night Bot Website, and something to do with how Ubuntu handles directories? Assume I could fix this by renaming the folder to not have spaces.

[2021-03-20 15:42] anthonychu commented on #326
Yes the spaces could be the problem. Can you try removing them and see if it fixes it?

[2021-03-20 21:07] navi1995 commented on #326
Renaming my folder structure to no longer have spaces did work if anyone has this problem in future. Seems odd though still.

[2021-03-20 21:07] #326 closed

[2021-03-22 03:56] slefved opened #327 "React Build Failed When There Is Axios Import Statement"
I tried to create new react app in my local computer using npx create-react-app. I installed axios and pushing my codes to github repository. Then I created static-web-app in azure using my github account. It was all fine, Github CI/DI workflow done succesfully, web was deployed and I can see it through the browser.

Then I made slight change in my code, I added axios import library statement impo

[2021-03-22 06:05] anthonychu commented on #327
@slefved Is your repo public? We might be able to help if you can share the repo? If not, can you share your package.json and how you are using axios?

[2021-03-22 06:12] anthonychu commented on #326
@miwebst Is there a way to get it to work with spaces in the directory name?

[2021-03-22 09:18] slefved commented on #327
@anthonychu this is my public repo https://github.com/slefved/pustaka-react

This is just a plain react project with only axios installed. All was fine untill I import "import axios from 'axios';" in app.js file.

[2021-03-22 13:16] diberry commented on #327
@slefved Axios isn't in your package file - that I can see.

[2021-03-22 17:55] diberry opened #328 "Bring app service domain to SWA?"
If I purchase an App service domain, why can't I bring it to the SWA?

[2021-03-22 21:33] anthonychu opened #329 "Error validating custom domain: Request Envelope is invalid. Apex Domains must use dns-txt-token as the ValidationMethod."
When adding a custom domain, you may encounter this error message:

![image](https://user-images.githubusercontent.com/3982077/112061307-89f75e00-8b1b-11eb-90a1-2e105d77ff51.png)

This is because Static Web Apps currently does not support apex domains (that feature is tracked at #168).

[2021-03-22 21:46] diberry commented on #324
![image](https://user-images.githubusercontent.com/41597107/112062518-4c93d000-8b1d-11eb-8903-de55a0082491.png)

as part of this tutorial - https://docs.microsoft.com/en-us/azure/search/tutorial-javascript-deploy-static-web-app

[2021-03-22 22:08] anthonychu commented on #327
The branch in use is [`development`](https://github.com/slefved/pustaka-react/tree/development), and `axios` is in package.json.

The problem here is that the build will treat warnings as errors when it's running in a CI environment, which includes GitHub Actions. There's a warning by the linter:

[code]

Once you use `axios` in your code, the error will disappear. There are more details here: htt

[2021-03-23 16:10] stemixreal commented on #324
I have this issue too

[2021-03-23 17:18] anthonychu commented on #324
@stemixreal Are you using the VS Code extension or the portal to create these settings?

[2021-03-23 18:45] stemixreal commented on #324
Hi @anthonychu, using the portal.

I added a setting for a storage endpoint. Saved it. It wasn't displayed. Refreshed, added again plus a couple of other attempts but all without success. I thought it might be something I'd missed so I just carried on with values in json config files thinking I'll sort it out when I have a chance.

Other setting already existed for App Insights & signalr, etc.

[2021-03-23 22:34] anthonychu commented on #324
@stemixreal If possible, can you share the name of the setting that you had trouble with? We've identified a couple of places where there may be issues with settings, but I want to see if yours falls into any of the existing categories:

* One is from VS Code, attempting to add an app setting to a static web app that don't have functions silently fails https://github.com/microsoft/vscode-azurestat

[2021-03-23 23:33] stemixreal commented on #324
@anthonychu  I'm pretty sure it was the AzureWebJobStorage setting.

[2021-03-24 00:13] stemixreal commented on #329
Hi @anthonychu, In the March edition of Azure Functions Live you mention Apex domains are close. I have a App service website that's on the HSTS preload list. It's an app I've been moving to SWA and serverless. I can hack it with cloudflare it seems but don't know enough to know if that hack would invalidate the preload status and to be honest would rather not do that as SWA apex domains are close

[2021-03-24 09:32] ChrisGibson1982 commented on #139
Hi @miwebst is there any update on the timeline?

[2021-03-24 11:16] Zhiyuan-Amos commented on #295
@qianz2 I noticed new releases on the oryx branch. Any idea when will they be available over here? :)

[2021-03-24 16:54] qianz2 commented on #295
Yes, we had a new release, pinging @anthonychu here for questions of the schedule.

[2021-03-25 09:44] cirzoltan opened #330 "Significantly reduced service quality since March 16."
For about a week now the amount of availability of functions have been atrocious with regular 503 errors for hours at a time.

Looking at the logs it seems to have started around March 16.

There have been no back-end changes to our site in that period so I cannot pin this on anything on our side.

Any suggestions, updates, some sort of light at the end of the tunnel? If things don't change soon I

[2021-03-25 17:09] stemixreal commented on #324
Hi @anthonychu , ah I see. AzureWebJobsStorage  isn't allowed. Did I miss a document somewhere?

Not really a issue for me though. I was adding it to try to fix a problem I had in App Insights with errors along the lines of "no backing storage" . Without knowing how to fix it I was trying different things to get it working or at least remove the error, logging to app insights works as far as I can

[2021-03-25 18:55] miwebst commented on #330
Have you already setup App Insights to see the function logs?

If you have and you didn't see any useful logs, then I'd also recommend filling a support ticket so you can provide all of the time ranges, app name, etc. without needing to publicize it here.

[2021-03-25 22:11] krisnuttall opened #331 "Azure Devops pipeline with private artifact feed"
Building static web apps from devops is looking good and easy to use. However we have run into a problem where we have some npm packages from our private feed, this is defined in our .npmrc file, however it appears to have problems installing packages.

.npmrc
[code]

For a normal pipeline build (using npm) we can define the feed in npm parameters:
[code]
Is it possible to specify a customFeed in

[2021-03-25 23:20] anthonychu commented on #329
Some priorities changed and we're still at least a month away. As you can see by this error, we have some of the components rolled out to support apex domains but still needs more work in other places.

[2021-03-25 23:22] anthonychu commented on #324
@craigshoemaker I think we should get the restricted app settings from @annaji-msft and add it to the API docs.

[2021-03-25 23:23] anthonychu commented on #295
@qianz2 Can you please start an internal thread with @miwebst, if you haven't already, with the new version that we should be upgrading to? Thanks.

[2021-03-26 09:31] cirzoltan commented on #330
I have set up App insights now and will keep an eye on it. I was mostly curious if there's any planned maintenance or other things going on. Normally I wouldn't expect this but SWA being in preview has me a bit on the edge.I was hoping we'd get an official release of SWA before our service went live, because frankly I really enjoy using it, and replicating the same serverless setup with non-previe

[2021-03-26 09:34] Zhiyuan-Amos commented on #297
@miwebst any updates on this?

[2021-03-26 14:49] msdmcmurrian commented on #298
Can we also add a flag in the git action and Azure Dev task to only do the upload?  This will allow someone to separate the build and deploy process of their application.

[2021-03-26 15:39] miwebst commented on #298
That has been added for the app build. We still need to document it but you can add `skip_app_build: true` to your GH action config and then it will just do upload.

[2021-03-26 15:44] miwebst commented on #297
Hi @Zhiyuan-Amos  do you mind filling a support ticket for this? I don't see why we are getting CORS errors on this and since it seems like you'd like to keep your hostname private then a support ticket is probably the best way for us to get the info we need to continue debugging.

[2021-03-26 20:56] DFMERA opened #332 "Satatic IP address in a static web site"
How can I assign a static ip to a static website? and what are the security and scaling implications of doing this?
Is there any reference documentation that I can use?

Thank you.

[2021-03-26 21:22] stemixreal commented on #329
cool, thanks for the update.

[2021-03-26 21:52] mkarmark commented on #303
Hi @plamber, resource migration should now be available. Let us know if you have any questions/issues with it we can improve on!

[2021-03-27 00:03] anthonychu commented on #291
@jkytola-nh If you still have this project, can you please give it a try again? Seems like I can't reproduce this anymore.

[2021-03-27 00:44] mmisztal1980 commented on #299
@miwebst for clarity's sake: does the folder have to be named `app_location` ?

[2021-03-27 03:16] #297 closed

[2021-03-27 07:46] imamahmadrazatrustadmin commented on #179
Can someone please help me where to modify in below yml file to fix this issue?

`name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    run

[2021-03-27 12:20] diberry commented on #179
@imamahmadrazatrustadmin Can you post your build error in your GitHub repo's actions tab and GitHub repo/branch it is used with?

[2021-03-27 18:48] anthonychu commented on #332
Static Web Apps is a global service so there’s no way to provide a static IP.

[2021-03-28 11:39] itpropro opened #333 "Cannot create application setting starting with"

[2021-03-28 11:42] itpropro opened #334 "Cannot create application setting starting with "IDENTITY_""
When creating application settings starting with `IDENTITY_` they don't show up in the SWA.

Steps to reproduce:

`az staticwebapp appsettings set --name <YOUR_SWA_NAME> --setting-names IDENTITY_DB_NAME=test IDENTITY_DB=test IDENTITY_ABC=test test=test`

Results in these app settings:

![image](https://user-images.githubusercontent.com/15030951/112750891-4a24f080-8fcb-11eb-86af-f063066f81e5.png)

[2021-03-28 11:42] #333 closed

[2021-03-28 11:43] itpropro commented on #333
Pls delete, duplicate of #334

[2021-03-28 17:24] agiletea opened #335 "Using MSAL http interceptor with Azure functions proxies.json still tampers with the auth header"
I believe my scenario is affected by the behaviour stipulated in [issue 34](https://github.com/Azure/static-web-apps/issues/34). However, I'm using an angular 11 frontend with MSAL 2.0 beta 2 and I only have a single azure function to allow a proxies.json to allow a straight pass through to an external web api. The webapi is a dotnet 5.0 api set up to use Microsoft Identity with JWT bearer authent

[2021-03-28 21:23] anthonychu commented on #335
If you send a custom auth header (e.g., `x-custom-authorization`) to the Static Web Apps API, you can try to use it to set the `Authorization` header in the proxy:

[code]

You should also be able to achieve the same thing in your ASP.NET app by adding a middleware to rename the header before it hits the auth middleware.

We're working on fixing this so that you can use the `Authorization` header,

[2021-03-29 05:26] vikaskk13 commented on #5
ngcc --properties es2015 browser module main --first-only

Error: EACCES: permission denied, open '/working_dir/node_modules/@angular/compiler-cli/ngcc/__ngcc_lock_file__'
    at Object.openSync (node:fs:488:3)
    at Object.writeFileSync (node:fs:1512:35)
    at NodeJSFileSystem.writeFile (/working_dir/node_modules/@angular/compiler-cli/src/ngtsc/file_system/src/node_js_file_system.js:131:16)

[2021-03-29 06:04] anthonychu commented on #5
@vikaskk13 Looks like a problem specific to Angular. Can you please create a new issue?

[2021-03-29 06:20] vikaskk13 opened #336 "Angular App - Error when using AzureStaticWebApp step in Azure DevOps pipeline Error: EACCES: permission denied, open '/working_dir/node_modules/@angular/compiler-cli/ngcc/__ngcc_lock_file__'"
Hi All,

I am getting the below error using the sample pipeline mentioned in the below link https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops

ngcc --properties es2015 browser module main --first-only

Error: EACCES: permission denied, open '/working_dir/node_modules/@angular/compiler-cli/ngcc/ngcc_lock_file'
at Object.openSync (node:fs:488:3)
at Object.writeFileSync (node:fs:1

[2021-03-29 06:35] anthonychu commented on #336
Can you please share more information on your app? The package.json and the pipeline YAML would be helpful here.

/cc @manekinekko

[2021-03-29 07:02] vikaskk13 commented on #336
Building a admin console, using the free angular template..
Package.json
`{
  "name": "@coreui/coreui-free-angular-admin-template",
  "version": "2.11.2",
  "description": "CoreUI Free Angular 11 Admin Template",
  "author": {
    "name": "Łukasz Holeczek",
    "url": "http://holeczek.pl",
    "github": "https://github.com/mrholek",
    "twitter": "https://twitter.com/lukaszholeczek"
  },
  "contr

[2021-03-29 07:39] agiletea commented on #335
@anthonychu, firstly, thank you so much for such a speedy and helpful response. I've ended up belts and braces and implementing both approaches to understand more. I created a custom msal interceptor to add in the custom auth header so I'm wondering if that's the approach you would expect or are there options within the MSAL library to allow me to tap into the headers to do this without replacing

[2021-03-29 07:47] enricobertolotti commented on #237
@anthonychu do you have an update on this? I love the static web apps system, but not having the auth implementation for dev environments is a bit of a dealbreaker :/

[2021-03-29 12:30] jkytola-nh commented on #291
Confirmed - import is now successful. Thanks!

[2021-03-29 12:30] #291 closed

[2021-03-29 13:47] arshadazeem opened #337 "Support for Blue/Green Deployment"
Can we have support for Blue/Green (Zero down time) deployments (by means of deployment slots). It would be a helpful feature for customers using App Service Deployment Slots for backend APIs, and Static Web Apps to run UI.

[2021-03-29 16:51] anthonychu commented on #337
We don’t have this in the near term roadmap. Perhaps it’s something we can do if we end up providing stable environment names #22

[2021-03-29 17:01] anthonychu commented on #237
Yes we have a Static Web Apps CLI here: https://www.npmjs.com/package/@azure/static-web-apps-cli

We’re putting some final touches on it before we declare it available for public preview, but you can try it out now.

It includes a local auth emulator that lets you simulate login as any user/provider.

We’ll have better instructions for it soon. Also check out this stream where we demo how it works

[2021-03-29 17:05] miwebst commented on #299
Hi @mmisztal1980, I think you may have this confused with the static site offering from Azure Storage. There is no such blob container in static web apps, these are different products with unfortunately similar naming.

[2021-03-29 17:52] stemixreal commented on #299
Hi @miwebst , I did that. A few months ago I was working on a static website in blob storage and the .netconf had all this amazing stuff about SWA which I confused for blob sites so had a little trouble with routes.json until I realised my mistake.

Just FYI as I've seen others confused by the similar names too. Might be something to highlight in the docs

[2021-03-29 19:13] mmisztal1980 commented on #299
that's quite possible...

[2021-03-30 05:41] jpatdu-credovita commented on #24
+1 on OIDC integration for Azure Static Web Apps; this is the only thing missing for me to practically host all of my full stack web apps on ASWA.

[2021-03-30 10:48] sbyse opened #338 "Failed to upload build artifacts"
I'm seeing this lately with our deployments, seems to fail about 30% of the time:
![image](https://user-images.githubusercontent.com/1544753/112977102-94ce7600-914d-11eb-8a98-52898684f032.png)

Our deployment is in West Europe.

[2021-03-30 11:03] enricobertolotti commented on #237
@anthonychu thank you so much this was exactly what I was looking for!

[2021-03-30 14:29] anthonychu commented on #24
We’re working on OpenID Connect support. No ETA yet but check back in a couple of months for updates.

[2021-03-30 18:33] tcc-sejohnson commented on #134
@anthonychu

Quick update from our end: I had to transfer our site to Azure Web Apps/Azure Functions and manually integrate msal-js for authentication, mainly because of the 25-user limitation.

I could see SWA being the _primary_ provider for all of our in-house documentation/resources if the user limit was increased or removed, and especially if we could optionally restrict logins to a single te

[2021-03-31 19:32] TeguSolutions commented on #5
I would like to ask is it supposed to be working?
It is the same as the current ms documentation: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops
But the following error comes up:
---End of Oryx build logs---
The app build failed to produce artifact folder: '/WebApp/bin/Release/net5.0/wwwroot'. Please ensure this property is configured correctly in your workflow file.

[2021-04-01 02:44] techaimail commented on #5
Deploy on CI/CD (in release pipeline) has an incomplete task for deploy called "Static Web App" but there is not field for the token in order to deploy the contents in the right place. When will this overcome the alpha-beta undefined status? static web sites is a really important feature today.

[2021-04-01 04:31] anthonychu commented on #5
@techaimail Can you clarify the problem? Is it because the deployment token is an environment variable instead of an input parameter to the task?

[2021-04-01 04:39] anthonychu commented on #134
@tcc-sejohnson We're working on restricting login to a single AAD tenant. Also investigating more ways to customize auth.

[2021-04-01 06:41] anthonychu commented on #5
In case you all didn’t see the announcement, the portal experience is live and you can create a Static Web App without linking to GitHub. Documentation is [here](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops).

[2021-04-01 08:25] manekinekko commented on #336
The error does not look like an Angular error. It's rather an issue with npm not being able to access files under `/working_dir/node_modules/**`. Not sure how we can debug this.

@vikaskk13 can you share the link to your repository so we can try to reproduce this?

[2021-04-01 09:03] smholvoet commented on #5
Gave it a quick try yesterday and this really is a breeze to setup 👍, amazing for stuff like hosting your docs as code somewhere.

[2021-04-01 09:12] smholvoet opened #339 "Restrict access to select users in AAD"
By default everything seems to be public facing, but I'd like to expose my static web app to select people within my organization. I've had a look at the [docs](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization) and I'm not quite sure how I would block access to *all* users except the ones I explicitly invite via the Role management blade in the Azure portal.

I'v

[2021-04-01 13:09] sajeetharan opened #340 "Angular App with Azure Devops - Error : Failed to find a default file in the app artifacts folder (dist). Valid default files: index.html,Index.html."
Hi all, since Azure static web app went public preview, i just wanted to try deploying an angular application which i have deployed with github actions in the past using azure devops.

I tried different ways in configuring the app_location , but nothing seem to be working. What could be the issue?

**Here is the error log with azure devops**

Copy '/working_dir/node_modules' with all dependencies

[2021-04-01 13:21] kaylumah opened #341 "No framework deploy fails on 'Failed to find a default file in the app artifacts folder'"
I have an app without any framework. It generates html, js, css etc in a folder called dist.

Before uploading I used certain npm scripts to optimize the html/css before publishing.
After optimizing I remove "node_modules" from this dist folder since there is no use in uploading or pushing it.

The build then fails on Failed to find a default file in the app artifacts folder (/). Valid default fil

[2021-04-01 14:04] anthonychu commented on #341
Because it didn’t perform any build, I don’t think it takes the output location into account. Can you change output_location to “” and app_location to “/dist”?

Since your dist folder has a package.json, it will try to run npm run build which would undo your optimizations. Also add an input named skip_app_build and set it to true.

[2021-04-01 14:15] anthonychu commented on #339
The built-in auth allows anyone from the several identity providers we support authenticate and they are all assigned the `authenticated` role. If you want to lock down to certain users, you need to [generate invitations](https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization#role-management) to add a user to a custom role. You then use that custom role name (instead o

[2021-04-01 14:32] kaylumah commented on #341
Wow @anthonychu that was really a lightning fast response.

I have tried removing both package.json and package-lock.json from the dist before upload, and the "skip_app_build" solutions.

In both cases it only worked with app_location /dist. Guess I missed that bit in the docs (regarding it will automatically try npm run build if package.json exists) :-)

Does make me wonder though, what if in the

[2021-04-01 16:09] kaylumah commented on #341
Nevermind throw new StupidUserException.

Mis interpreted the docs regarding output location. It is only needded when the action also builds the app. Which is not the case.

So the dist folder generated during my pipeline + api which is part of the source code.
Did notice another issue, will log a seperate issue for that.

THanks again for you help :-)

[2021-04-01 16:09] #341 closed

[2021-04-01 16:22] kaylumah opened #342 "Dependencies (i.e. net sdk or node) used in workflow are reinstalled during deploy step"
When playing around with static web apps I stumbled upon a couple of things (see #341).
To verify if api would still work because I mis interpreted the docs I added a .net / C# azure function.

![image](https://user-images.githubusercontent.com/8428126/113323028-c09c5800-9315-11eb-99da-be8d6d5d67a8.png)

As you can see in the screenshot I install 2 versions of the .NET sdk.
Since I like the use of

[2021-04-01 16:33] anthonychu commented on #342
`Azure/static-web-apps-deploy@v0.0.1-preview` runs in its own container and uses [Oryx](https://github.com/microsoft/Oryx) to build the frontend and API apps, so the dependencies you install in previous steps are not used.

If you are building the app already in previous steps, use the following settings in the workflow:

* `app_location`: Your build app's _publish output_ folder
* `output_locatio

[2021-04-01 16:37] anthonychu commented on #340
@sajeetharan Can you run a GitHub Actions deployment with these inputs to confirm that this is still working with GitHub?

[code]

In your workflow above, you are running a build after the deployment. Is there a reason for this?

We use the same container to build in both GitHub and DevOps. Looks like we need to clean up the error messages to be more environment agnostic. @miwebst

[2021-04-01 16:39] anthonychu commented on #338
@joslinmicrosoft @miwebst Can you please take a look?

[2021-04-01 16:40] anthonychu commented on #334
@annaji-msft

[2021-04-01 16:44] anthonychu commented on #331
@krisnuttall To get around this for now, build your app in separate steps and use the AzureStaticWebApp task to publish only. To do this, set the `app_location` to the build output location from the previous step (`build`, `dist`, etc). Leave `output_location` empty.

[2021-04-01 16:57] Basaingeal commented on #5
Does the Azure DevOps task only work on Linux? I'm trying to run it on a Windows self-hosted build server, and it's failing without any information. When I enable system diagnostics, I get this. Seems as though it fails when it can't find bash on the build server.

[code]

[2021-04-01 17:21] kaylumah commented on #342
Thanks for clarifying, since you mention 'Currently' can I interpreted that as in the future this might be a feature?

[2021-04-01 17:27] anthonychu commented on #342
We want to enable this, but there's some special logic that the API build does that determines the language, and that information is used downstream to provision the right function app for you. Until we figure out how to do this, the action needs to build the function app. Is there a reason you want to build the API app yourself?

[2021-04-01 17:31] anthonychu opened #343 "Allow skipping API build"
Add support for skipping API build (like how we added `skip_app_build`) and allow customer to specify the language for the function app (use an allow list, will eventually need to include language version too).

[2021-04-01 17:32] anthonychu commented on #248
Closing this as resolved. Added new issue to track a similar capability for API build. #343

[2021-04-01 17:32] #248 closed

[2021-04-01 17:59] anthonychu commented on #5
@Basaingeal  Yes it currently has a dependency on bash and Docker. We'll update the docs to mention this.

If we're able to remove the bash dependency, do you have Docker installed on your agent?

/cc @miwebst

[2021-04-01 18:30] kaylumah commented on #342
Not necessarily but I did find that my .editorconfig (it enforces file headers) and global.json from the root are used.
So as I explained I used .net5sdk to build TFM netcoreapp3.1, which works great if I build my self.

The logic in the step however assumes I need netcoreapp3.1 downloads the latests, and then says no no your global.json wants something else.

So both of these caused build errors,

[2021-04-01 19:59] sajeetharan commented on #340
Thanks @anthonychu  seems there was a typo in the package.json , i was able to successfully deploy with azure devops.

Also thanks for the hint on the order in the YAML. it was not intentional

Published a blog on the same :  https://sajeetharan.com/2021/04/02/azure-static-web-apps-with-azure-devops/

[2021-04-01 19:59] #340 closed

[2021-04-01 23:31] johnpapa opened #344 "Logout is asking me to login"
I am logged in as github (was there for days, so that must remember and not time out).

I click the logout link, and it used to log me out. Now it asks me to log in (see the video below)

https://user-images.githubusercontent.com/1202528/113364159-c9def200-9320-11eb-8912-eb0c0f0f930e.mp4

[2021-04-01 23:49] johnpapa commented on #344
update: I clicked the first option for logging out (logging into MSFT email) and it returned me back to the app, still logged in with github. then I tried logout again, this time I choose other options, which them threw an error 401. I went back to shopathome.dev and was logged in still. So then I logged out again, clicked the MSFT option, and it returned me to the app logged out.

I have no idea

[2021-04-02 04:32] gteirlinck-cigp commented on #5
I also tried to use the DevOps release pipeline task, but I can't seem to find a way to pass the deployment token env variable to the Docker run, which causes the task to fail:

[code]

Looking at the task definition, it expects the `azure_static_web_apps_api_token` env variable as input:
[code]

However this variable is not mentioned in the `task.json` or in the `index.ts`:

[code]

Should it be

[2021-04-02 09:42] Geertvdc opened #345 "URL in Azure portal overview not reflecting custom domain"
I've created an azure static web app and have connected a custom domain to it.

In the Azure portal when i go to the "overview" page of the azure static web app it still shows the original hostname in the form of `https://<randomgeneratedname>.azurestaticapps.net`

It would be best if you show the custom domain name there as soon as it is configured. I think azure app service does it this way. it

[2021-04-02 09:51] Geertvdc opened #346 "Add a way to change the generated name that is used "everywhere""
When you carete an Azure static web app it will create a random name that is used for multiple things:

- your url (can be changed by custom domain)
- staging urls (can't be changed by custom domain)
- github secret
- github action

It would be great that we could have influence on the name of this (or change it).

Especially the github things that are generated are just annoying. For example when

[2021-04-02 11:14] plamber commented on #303
Thank you for your help.

I was able to successfully move a resource without any downtime. Thank you very much.

[2021-04-02 11:14] #303 closed

[2021-04-02 11:28] smholvoet commented on #339
Ok, so I've added a user and gave him a custom role `docsreader`. Any invitees seem to get the `anonymous` and `authenticated` role as well.  I've opted to use my personal Google account to test things out, instead of AAD, but the method should be the same:

![image](https://user-images.githubusercontent.com/13507392/113411263-9d28ea00-93b5-11eb-850b-7c5f21b38720.png)

I want to block access for e

[2021-04-03 01:04] anthonychu commented on #5
Please see the [docs](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops) for how to use the task. We’ll look into adding the token as an input as well.

[2021-04-03 01:06] anthonychu opened #347 "Azure DevOps - Allow setting deployment token as an input parameter"
Is this possible? @miwebst

https://github.com/Azure/static-web-apps/issues/5#issuecomment-812311484

[2021-04-03 22:19] krisnuttall commented on #331
Thanks @anthonychu the workaround works well:
[code]

[2021-04-04 06:13] vikaskk13 commented on #336
Hi @manekinekko .. Here is the repo link https://github.com/vikaskk13/adminconsole.git

[2021-04-04 12:48] miklen opened #348 "Deployment Failure Reason: An unknown error has occurred."
I've created SWA resource in Azure, and connected it to my GitHub repo, where it created the deployment workflows. I started out trying a deployment without an api-location, and that worked fine. I then moved my Azure Function code from it's separate repo into an `api/` folder and pointed the api-location to the path for the functions project and retried deployment. This time it fails with an unkn

[2021-04-04 19:27] miklen commented on #348
So I just found out that you can't create consumption plan Azure Functions on the Free Trial subscription, and that's probably what's causing this to fail.

A more helpful error would be nice though.

[2021-04-04 20:54] utloggad2 commented on #331
We have a similar or same issue for a Blazor WebAssembly that uses a private Azure DevOps artifact.
`- task: AzureStaticWebApp@0
  inputs:
    app_location: "scream4meV2.AdminTool"
    api_location: ""
    output_location: "wwwroot"

  env:
      azure_static_web_apps_api_token: $(deployment_token)`

gives the following error when run:
`....
2021-04-04T20:36:17.8011340Z [37m  Determining projects

[2021-04-05 02:58] anthonychu commented on #348
That shouldn’t be the problem (we’ve also fixed the issue that was incorrectly blocking consumption functions on free/trial subscriptions, it’s currently rolling out).

We need to take a closer look at this. Do you mind leaving your repo where it is while we investigate?

[2021-04-05 06:45] miklen commented on #348
@anthonychu I had already begun moving to deploying in to a regular Function App when I saw your message. I have created a branch with the problem for you, and it still fails with the same error:

https://github.com/miklen/ezdinner-vue/runs/2267902001?check_suite_focus=true
https://github.com/miklen/ezdinner-vue/tree/swa-api-deployment

[2021-04-05 16:18] Basaingeal commented on #5
@anthonychu Yes, Docker is installed on the build servers, so if the bash dependency were removed, I think we'd be able to use the task.

[2021-04-05 17:08] marco10928 opened #349 "feature unavailable: facebook login is currently unavailable for this app"
Hi. I need help with this issue. I used to log in to an app using facebook but since yesterday, it guves me this error message. please help me.

[2021-04-05 17:46] anthonychu commented on #338
@sbyse We are rolling out a fix for this issue affecting larger deployments. Let us know if you're still experiencing this problem. Thanks.

[2021-04-05 21:20] sbyse commented on #338
Thanks @anthonychu - looks much better so far. Thank you!

[2021-04-06 09:22] niicojs opened #350 "Allow all authenticated users"
Is it possible to allow all authenticated users without having to invite them one by one?
This seems like a pretty big limitations

thanks

[2021-04-06 10:20] cirzoltan commented on #330
It seems like my the cause of my woes were related to the back-end functions going into a "cold" state overnight causing the described issue first thing in the morning (the service sees pretty much all traffic during business hours in one time zone).

I'm basing this assumption on the fact that ever since I added an availability test on App insights (which includes a regular ping) the problem disa

[2021-04-06 10:21] #330 closed

[2021-04-06 12:15] RichyP7 commented on #350
That´s already possible. You just have to invite them if you need specific roles. If you authenticate with your auth provider you get the authenticated role which you can use to secure your app without invitations. Look [here](https://docs.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#client-principal-data)

[2021-04-06 12:59] niicojs commented on #350
Thanks. However my requirement is to be able to authenticate people without having to invite them first.
Inviting user one by one is not doable for company wide webapps and also not compatible with the 25 users max limit.

[2021-04-06 14:05] jballe commented on #5
Thank you for this enhancement!

Have anyone been able to use this in a deployment stage?
I would like to be able to push the same artifact to different webapps/environments, so I have the steps listed below. The task is starting correctly but I get this error message (seems like docker image is correctly pulled and started):

My pipeline step is the following. I have also tried using ``app_locati

[2021-04-06 14:18] nevi-me opened #351 "Bug: AzureStaticWebApp + Azure DevOps + Oryx + Hugo: Undocumented magic is witchcraft"
Hi, please ignore or excuse the title, it describes my situation though.

I'm trying to build a static website (Hugo) to Azure Static Web app, using an Azure Pipeline, because I can't use Github for this (it's a corporate site).

Note: I've spent 2+ hours trying to perform a simple task of deployinh a Hugo website to a static web app, via Azure Pipelines.

I've checked official docs, tutorials, bl

[2021-04-06 15:36] anthonychu commented on #5
@jballe Could you please create a new issue so we can track this separately?

[2021-04-06 15:45] anthonychu commented on #351
Thanks for the feedback. I think there are some docs improvements we can make to avoid this confusion in the future. /cc @craigshoemaker

If you are building the app in a prior step, set the `app_location` to the build output folder (the files you want to deploy) and leave the `output_location` empty. Please give that a try and let us know if it works.

Can you tell us more about your Hugo site (v

[2021-04-06 15:50] anthonychu commented on #350
@niicojs As @RichyP7 mentioned, you do *not* need to send invitation if your goal is to allow all authenticated users. Anyone who authenticates (with or without an invitation) will be in the `authenticated` role.

Can you share more about your requirements? It sounds like you want to allow *some* users (those who work in your company) but not *all* users. We are planning some improvements related

[2021-04-06 15:54] anthonychu commented on #330
@cirzoltan Is your app in a public repo? Would like to look into the cause of the long cold start of the function app.

[2021-04-06 16:00] niicojs commented on #350
What I'm trying to do is to authenticate anybody from AAD. Ideally I would like to restrict to my company but I can do that easily through custom code.
The thing is, people that I didn't send invite to are getting a "an administrator need to give access". It may be on my side...

[2021-04-06 16:58] nevi-me commented on #351
Thanks @anthonychu for replying

I'm using version 0.82.0, but it doesn't seem that it's a Hugo version issue. I can confirm that even using an old version like 0.6x.x or 0.7x.x (which Oryx uses) does build the site.

Following your suggestion of building with my script and version of Hugo, and pointing the `app_location = "public"` or `"/public"`, I now get a different error:

[code]

![image](ht

[2021-04-06 17:07] nevi-me commented on #351
Using both `action: "upload"` or `command: "upload"` doesn't work. So if one of those would be the answer to my above question, then it doesn't work.

Here's the full `azure-pipelines.yaml`file

[code]

[2021-04-06 17:16] erfannariman commented on #291
@anthonychu @jkytola-nh just to be sure, when you say "can't reproduce anymore", do you mean with the workaround, given in this comment (https://github.com/Azure/static-web-apps/issues/291#issuecomment-787400799) or something else? Since I just got the error when deploying an Azure Function App.

[2021-04-06 17:20] jkytola-nh commented on #291
@erfannariman No workaround. A newly deployed function from the original example repo no longer has this issue.

[2021-04-06 17:23] Hazhzeng commented on #291
Hi @erfannariman, @jkytola-nh, thanks for raising this issue. I need to collect some information from your deployment.
Are you using a pipeline to deploy the function app? If so, which vmImage are you using, ubuntu-18.04, ubuntu-20.04, or latest?

[2021-04-06 17:31] erfannariman commented on #291
I used ubuntu-latest, which will resolve to ubuntu-20.04 if I am not mistaken. Setting image to ubuntu-18.04 resolved the issues.

[2021-04-06 17:33] Hazhzeng commented on #291
I see, thanks for reporting this @erfannariman, the engineering team will be acknowledged.

[2021-04-06 17:52] erfannariman commented on #291
I forgot to mention I use GH actions for our deployment @Hazhzeng

[2021-04-06 18:27] TLA020 commented on #139
Followed every step from the microsoft documentation and got stuck with this:

![image](https://user-images.githubusercontent.com/20934868/113760441-86b4c280-9716-11eb-9a00-4ef855cbb635.png)

[2021-04-07 06:54] anthonychu commented on #291
@Hazhzeng Keep in mind that the Static Web Apps action runs in a Debian 9/stretch container. The version of the agent shouldn't have an effect. We plan on updating the image to 10/buster which should align more closely with the recommendation of ubuntu-18.04 for building Python function apps.

[2021-04-07 06:59] anthonychu commented on #350
@niicojs Might be an issue on your side. We're working on a feature that will allow you to use your own AAD registration, which will restrict logins to only identities in your AAD.

[2021-04-07 07:12] niicojs commented on #350
Ok, good news then. That means I should be able to fix this :)
Closing the issue.

[2021-04-07 07:12] #350 closed

[2021-04-07 07:16] anthonychu commented on #351
What does `cd $ touch-ways-of-working` do? Is your Hugo app nested inside of a folder named `touch-ways-of-working`?

You don't need to set `action: upload`. If your app is inside a folder, below should be the Azure Static Web Apps task definition:

[code]

[2021-04-07 07:22] stemixreal opened #352 "Configuring Storage Account NSG to allow SWA function access"
Hi Folks,

I've run into a little problem when posting message to an Azure Storage Queue from an SWA api

I know what the problem is. Access is restricted by an NSG to a couple of IPs and azure services. If I allow "all networks" messages are posted to the queues just fine.

I've tried various things. I can't add private IPs (10.0.x.x/x) to allowed networks nor does CORS work when I try different

[2021-04-07 09:10] nevi-me commented on #351
@anthonychu that's some cruft on the scripts I suppose, but not relevant. Looking closer at it, I don't think it does anything (copy-pasta).

Trying to add the folder prefix returns this:

![image](https://user-images.githubusercontent.com/1876878/113840918-7db50700-9791-11eb-9f0a-4c1e43be49ff.png)

Here's the folder structure, and the pipelines yml is in the same folder:

![image](https://user-im

[2021-04-07 09:51] stemixreal commented on #352
I've sort of worked around this for now. Bit of a hack. All I did was create a new storage account with just the required queues and allowed access from anywhere. I'd still be very interested in any hints anyone can give me as to how I might achieve this.

Will SWA apps (or even just functions) eventually be given their own identity in Azure so doing this:

![image](https://user-images.githubuserc

[2021-04-07 11:27] prateek14 opened #353 "Deployment suddenly started failing with error : 'Yarn command "plugin" not found'"
Deployment suddenly started failing for api folder. Here is the error log:

`Detecting platforms...
Detected following platforms:
  nodejs: 14.15.1

Source directory     : /github/workspace/api
Destination directory: /bin/staticsites/ss-oryx/api

Using Node version:
v14.15.1

Using Yarn version:
1.22.10

Installing production dependencies in '/github/workspace/api/.oryx_prod_node_modules'...

Runn

[2021-04-07 13:33] #349 closed

[2021-04-07 13:33] marco10928 commented on #349
already fixed it thanks

[2021-04-07 14:37] vladiliescu opened #354 "Unable to map subdomain to SWA"
I'm unable to map a subdomain to my SWA instance.

I'm trying to map `forecasts.vladiliescu.net` to my SWA, and as you can see below the Azure portal insists I map a CNAME to `www` (and not `forecasts` like one might expect). Adding a CNAME entry for `forecasts` will not work, and results in the following error: **CNAME Record is invalid. Please ensure the CNAME record has been created.**

The exp

[2021-04-07 15:31] miwebst commented on #354
Hi @vladiliescu,

Thanks for calling this out. The Portal UX is incorrect here. To add your custom domain, you want to create a CNAME like forecasts.vladiliescu.net -> delightful-coast-....azurestaticapps.net

We will work on fixing this experience.

[2021-04-07 15:40] vladiliescu commented on #354
Hi @miwebst, exactly, that's what I had expected. However, adding a CNAME entry for forecasts doesn't work, I'm assuming it's because it still checks for `www`.

[2021-04-07 15:53] miwebst commented on #354
It shouldn't check for www. The validation is checking the existence of the CNAME. From what I see here, it appears that the CNAME has not been set?

https://www.digwebinterface.com/?hostnames=forecasts.vladiliescu.net&type=&ns=resolver&useresolver=8.8.4.4&nameservers=

[2021-04-07 16:12] miwebst commented on #353
@arroyc is this a regression in the new version of oryx? can you take a look?

[2021-04-07 16:28] vladiliescu commented on #354
Not sure how to interpret the output of digwebinterface, however looking at the output, I see what appears to be Azure IPs right? I'm using Cloudflare for DNS, and I get the same IPs whether I choose to have the entry proxied by CF or not.

<img width="537" alt="image" src="https://user-images.githubusercontent.com/331671/113900757-d490ff80-97d6-11eb-9311-88c06faed60e.png">

If I remove my CNAME f

[2021-04-07 16:37] vladiliescu commented on #354
Ah, they're not Azure IPs right, they're Cloudflare IPs I guess.

Then, I guess this means I can't use custom domains for SWA unless I don't proxy traffic through CF? Feels weird, to be honest.

Note that with CF proxying disabled, at every two refreshes of digwebinterface I get this output.
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/331671/113902408-841aa180-97d8

[2021-04-07 17:41] anthonychu commented on #353
@qianz2 Do you know how the detection logic works for Yarn 1 vs 2?

[2021-04-07 17:57] vikaskk13 commented on #336
Hi @manekinekko .. Were you able to reproduce the issue. ? Any updates here please.. ?

[2021-04-07 18:31] miwebst commented on #354
This is all about proving domain ownership. You can switch back to CF once you've proved ownership and added the custom domain on our side.

We are also working on adding TXT record validation which would be another avenue for verifying domain ownership when using a CDN in front of a SWA. @anthonychu as fyi

[2021-04-07 19:46] rconard opened #355 "Reliability Issues with Azure Functions Backend"
I have been running an Azure Static Web App that includes both a web application and a backend for an IoT project. Both the API endpoints for the front-end and for the IoT devices are managed through the SWA.

There are a couple of issues that have made the Azure Functions implementation difficult to rely on.

## 1. Backend API Reliability
A Raspberry Pi sends data to a function that is managed th

[2021-04-07 20:18] Brouilles commented on #202
Same here... No news about it?

[2021-04-07 20:26] manekinekko commented on #336
Hey @vikasapr I eventually investigated this issue and here is what I found.

## Node.js 15 & npm 7 issues

The [package.json](https://github.com/manekinekko/adminconsole/blob/92d33dd25d9cddbb8420fc9efa03a8be4c41946a/package.json#L83-L86) is requiring the latest version of Node.js and npm (ie. node 15 and npm 7). So our build system Oryx was using Node 15 and npm 7 to build your app. This was brok

[2021-04-07 20:41] anthonychu commented on #351
Can you change the `ls` command to `ls public` to list out what's in the public folder? It looks like we can't find an index.html in that folder that's currently required to deploy the app.

Based on what you shared, assuming the public folder contains an index.html, this should be the task input:

  - task: AzureStaticWebApp@0
    inputs:
      app_location: "/public"
    env:
      azure_static_

[2021-04-07 21:15] qianz2 commented on #353
We've recently added yarn 2 detection logics: Either the repo contains a `.yarnrc.yml` file or the `yarn.lock` file is in valid yaml format,  these two cases can be detected as yarn 2. So it may be the case that repo contains a `.yarnrc.yml` file. This remind us that we may need to have a stricter way to detect for yarn 2.

[2021-04-07 21:31] nevi-me commented on #351
We tried that at https://github.com/Azure/static-web-apps/issues/351#issuecomment-814278153, but Oryx doesn't detect a framework, and bails with an error (my comment about the magic).

Have you tried building a default Hugo site, and gotten it to work?

I did confirm that there's a public.html, which is what's also really odd for me.

I'm spinning up a VM and doing this the boring way tomorrow, ma

[2021-04-08 00:17] nturinski commented on #235
Related to https://github.com/microsoft/vscode-azurestaticwebapps/issues/337

[2021-04-08 01:56] anthonychu commented on #351
It needs an `index.html`, not `public.html`. Can you please confirm you have an index.html in the public folder?

As the text in the following section says, it can’t detect a framework so it’s trying to deploy the site assuming it’s already built (which is true). However it can’t find an index.html, which is something we currently require.

[2021-04-08 06:46] vladiliescu commented on #354
Thanks, I'll wait for TXT record validation to be added then.

[2021-04-08 16:04] vikaskk13 commented on #336
Thanks a lot @manekinekko.. After following the above steps able to deploy site..

[2021-04-08 17:26] manekinekko commented on #336
That's awesome! I am glad this worked for you. I am closing this issue. Please open another one if you still have issues.

[2021-04-09 00:24] stemixreal commented on #202
Hi @BipulRaman there's no support yet for Apex domains but you can add any subdomain you choose. Ignore the www in the portal, it should say "e.g. www"

[2021-04-09 16:20] anthonychu opened #356 "ngcc"

[2021-04-09 16:25] anthonychu commented on #302
@wilberolive Please let us know if you're still affected by this issue. Thanks!

[2021-04-09 17:14] mritconsulting opened #357 "Restriction based on allowed roles not working"
I am trying to restrict all access to /app/* to only "appeaser" role.
However it appears that any authenticated users are able to access the protected routes.
I did notice that if those users were to refresh the page they would be severed a 404 page. While users with the correct permission can refresh with no issues.

Here is a my staticwebapp.config.json file

{
    "routes": [
        {

[2021-04-09 20:34] miwebst commented on #357
Hi @mritconsulting, is your application using client side routes to determine the content? Auth enforcement is done based on server requests so if you application is using client side routes, then your end users wont make any server requests until they refresh.

If that is the case, one option for restricting this sort of page access is to use the /.auth/me endpoint to make routing decisions based

[2021-04-09 23:49] #352 closed

[2021-04-10 14:51] Zhiyuan-Amos commented on #295
Hello @qianz2 , any updates? Thanks! 😃

[2021-04-10 17:52] Err0r51 opened #358 "Redirect parameter in staticwebapp.config.json not encoded correctly"
I am using the staticwebapp.config.json to define route patterns as described in the official docs. However the application seems to not parse the redirect parameter for post login and post logout correctly. Please see my example below:
[code]
this produces the following URI: **/.auth/logout%3fpost_logout_redirect_uri%3d/callback**

Interestingly enough, this issue doesn't occure when I test it on

[2021-04-10 20:17] mritconsulting commented on #357
Perfect. I implement restriction based on the doc you provided, and it is working as intended.
Thank you,

[2021-04-10 20:17] #357 closed

[2021-04-10 22:00] anthonychu commented on #358
The CLI emulates the production environment and may not match the behavior 100%. That said, looks like they may be a bug. @mkarmark could you please take a look?

[2021-04-10 22:02] anthonychu commented on #295
We should have an update to the GitHub Action coming out next week that should include this.

[2021-04-10 22:04] anthonychu commented on #353
This was fixed in https://github.com/microsoft/Oryx/pull/982. We should have this available in Static Web Apps next week.

[2021-04-10 23:59] nathankitchen opened #359 "AzureStaticWebApp building a Jekyll site fails"
I've been trying to use the AzureStaticWebApp build step with a Jekyll site. It has been "working" until recently, but only because I could only make it work by building the site myself first. Here's the relevant part of my pipeline:

[code]

The pipeline works fine but the AzureStaticWebApp step fails on several counts:

 1. It's somehow detecting Java, I have no idea why.
 2. It's installing Rub

[2021-04-11 00:22] anthonychu commented on #359
We will attempt to build what's in the `app_location`. We recently added the ability to build Jekyll apps automatically. If you want to just deploy the output in `__www`, try changing the task inputs to the following (sounds like you might have discovered this solution already):

[code]

Looks like you've discovered a couple of issues with the built-in Jekyll build script. We'll make the necessary

[2021-04-11 00:32] anthonychu opened #360 "Improve built-in Jekyll build commands"
#359 identified a couple of issues for building certain Jekyll apps.

* By default, Jekyll builds with `JEKYLL_ENV=development`. Apps that depend on this will not work as expected
* It should run `bundle exec jekyll build` instead of `jekyll build` if there's a Gemfile

Perhaps the build command should be: `JEKYLL_ENV=production bundle exec jekyll build`

There's also a question of whether we shou

[2021-04-11 00:35] anthonychu commented on #360
@nathankitchen If you have thoughts about how we should be approaching Jekyll builds so that it would work correctly for your app and others, please share. The current build script template is located [here](https://github.com/microsoft/Oryx/blob/master/src/BuildScriptGenerator/Ruby/RubyBashBuildSnippet.sh.tpl)

[2021-04-11 12:39] Flolight opened #361 "Python 3.9: Error is thrown when using the Azure static web app for automatic deployment"
https://github.com/Flolight/CloudGuruChallenge-Your-resume-in-Azure/runs/2304032858?check_suite_focus=true
It seems like Oryx is not detecting correctly Python version (3.8.* instead of 3.9.*)

[code]

[2021-04-11 16:02] anthonychu commented on #361
Static Web Apps currently only [supports](https://docs.microsoft.com/en-us/azure/static-web-apps/apis) Python 3.8. We’ll likely add support for other versions in the future.

[2021-04-11 16:55] Flolight commented on #361
Oh I'm so confused I missed this little line!
Thank you for the answer!

[2021-04-11 16:55] #361 closed

[2021-04-11 18:08] nathankitchen commented on #360
Couple of thoughts:

  1. Ruby version can be set in Gemfile. I realised I *didn’t* have this set and tried it, this resulted in:
     ‘’’
      Detecting platforms...
      Error: Platform 'ruby' version '3.0.0' is unsupported. Supported versions: 2.5.8, 2.6.6, 2.7.1
     ‘’’
     So I think the ruby version question is more a feature request/separate issue of supporting Ruby 3.0.0 in Oryx, unles

[2021-04-11 23:29] anthonychu commented on #361
No worries. That's easy to miss.

@craigshoemaker Do you think we should remove `* Azure Functions v3 compatible with Node.js 12, .NET Core 3.1, and Python 3.8.` from the top of [this doc](https://docs.microsoft.com/en-us/azure/static-web-apps/apis) and include the versions further below in the _Contraints_ section? That way there's one place people can see the supported languages and versions.

[2021-04-12 08:35] erwinsmit opened #362 "[Question] ETA on dropping "preview""
Hi all,

I would love to use Azure static web apps for a client soon. However the quota's are currently too low for it to be "production ready".

I can't find any documentation or blogposts on when azure static web apps will be moved out of preview. Is there an ETA available on this?

Thanks!

[2021-04-12 12:00] Taras-Tyrsa commented on #354
I can confirm that validation doesn't allow anything except www for me as well...

[2021-04-12 16:25] miwebst commented on #362
Our team is working to be GA (generally available), @anthonychu may be able to provide more details on a good ETA.

As for your comment on quota's being too low. Which ones specifically?

[2021-04-12 19:07] nevi-me commented on #351
Hi @anthonychu, I apologise for the confusion. `public.html` was a typo, I meant to say `index.html`.

[2021-04-12 20:42] qianz2 commented on #360
We can surly support Ruby 3.0 dynamically installed in Oryx.

For custom setting in `JEKYLL_ENV`, like the ` _config.xxx.yml` file name, we shall have more discussion, is it a special case or a case that appears very often?  How should Oryx change run build command differently according to this setting?

[2021-04-13 04:53] anthonychu commented on #351
Thanks for confirming. I think the problem is that the theme is missing. If you changed your list files step to run the command `ls public`, you should see that it's missing index.html. The index.html and other assets come from the theme.

@nevi-me  This is likely because your theme is included as a submodule in your repo. To get Azure Pipelines to download submodules, add the `checkout` task. Tak

[2021-04-13 07:53] erwinsmit commented on #362
@miwebst
Thanks for the reply.

The maximum of 25 users and the 100gb bandwidth is an issue.
Also the fact that this message is above the quota table doesn't make us feel comfortable using it for production:
**"Azure Static Web Apps is in public preview and is not intended for production use."**

However, if we know that it will only be in preview in our development phase we would consider it.

[2021-04-13 08:50] MaximBalaganskiy opened #363 "[Question] How to set deployment token on Release pipeline?"
Is it possible to specify the deployment token for the Static Web App step when Release pipeline is configured?
There is no direct YAML editing and the relevant field is also missing in step settings.

[2021-04-13 11:47] farhantariq916 commented on #250
How you solve? Can you please help me?

[2021-04-13 11:55] drma-dev commented on #250
there is nothing for the developer to do. it is an internal configuration from microsoft.

[2021-04-13 13:45] jrmedd opened #364 "Build react-app Azure DevOps"
I've had some success [following the instructions here](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops) to deploy a simple React app.

This works well with a pre-commit hook to ensure that my build directory is in place, though I'm wondering if it's possible to run the necessary install/build commands in my Azure DevOPs pipeline instead? It's unclear from the documentation w

[2021-04-13 18:54] jballe commented on #5
@anthonychu, sure I just thought it was so closely related to the preview that it would make sense here.

I have tested it a bit more and concluded that there is a ``$(Build.SourcesDirectory)`` also during a deplotment job, so I just had to download the artifacts to a structure within that folder.
If interested you can [take a look at our deployment stage](https://dev.azure.com/kragefolket/_git/we

[2021-04-14 04:11] yangyx91 opened #365 "[feedback]Oryx Build Fail,when deploy a H5/JS job to AzureStaticWebApp"
recent days,this "Azure Static Web Apps CI/CD" occur fail,when it do build and deploy job. so i had to leave this feedback,please help check it.

and my github program is a native html5 and javascript static website，"https://github.com/yangyx91/axiangblog"

here is this workflow error information:

 "Jekyll 4.2.0   Please append `--trace` to the `build` command
                     for any additio

[2021-04-14 04:22] anthonychu commented on #365
We recently added support for building Jekyll apps. Your site contains a `_config.yml` file, which causes our build engine to detect your site as Jekyll and perform the build steps for Jekyll.

If you just want to deploy the site without a build, either remove the `_config.yml` File, or add the `skip_app_build` property to the workflow file like this:

[code]

[2021-04-14 05:38] yangyx91 commented on #365
thanks for instant reply. i added this skip config, now the deploy job worked.   thanks again.

[2021-04-14 05:38] #365 closed

[2021-04-14 09:14] JoshuaLowe1002 opened #366 "Azure DevOps - Pre Production Previews"
Would it be possible to add support for pre-production previews when someone creates a pull request in Azure DevOps, similar to GitHub actions?

https://docs.microsoft.com/en-us/azure/static-web-apps/review-publish-pull-requests

[2021-04-14 15:35] anthonychu commented on #366
We’re looking into how we can support this but we don’t have an ETA at the moment.

[2021-04-14 15:40] anthonychu commented on #364
The app location and API location in the Static Web Apps task are relative to the root of your app. So if you have a folder named build and you just want to deploy that, try setting app_location to “build”. Leave output location “”.

If that doesn’t work, please share more info on your pipeline as well as folder structure of your repo.

[2021-04-14 19:27] tylerewillis commented on #5
Is there any way to set up deployment from ADO in pipeline releases, not just the main pipeline builds?

[2021-04-14 20:34] patware opened #367 "DocFx + Azure DevOps + pipeline"
It's great to see Azure DevOps (other) as a source.

I have a docFx documentation that I want to push to an Azure Static Web App, but the pipeline fails and I can't figure how to solve the problem.  This looks a lot like issue #351.

git repo: The documentation in the repo is under: /doc/

Pipeline runs in 2 stages.

Stage 1:
- task DocFx
- copy /doc/_site to staging directory
- publish artifacts

[2021-04-15 02:15] anthonychu commented on #367
Do you need to download the artifacts in the second stage?

Can you add an inline script task before the Static Web Apps task with `ls` to confirm the directory contents?

[2021-04-15 02:17] anthonychu commented on #5
@tylerewillis That doesn’t work right now. Can you please file a separate issue to track this?

[2021-04-15 02:20] patware commented on #367
Hi,

I'm half way in transitionning from build+release to multi-stage pipeline.  The publish artifact is only for the release.  As soon as I'm done with the Static Web App part, I'll finish the transition to multi-stage.

Looking at the build results, the "artifacts" link shows the expected files.

'$(Build.SourcesDirectory)\doc\_site'

I can add an ls command if it makes sense.

[2021-04-15 02:34] josendf-basetis commented on #5
Hi @tylerewillis,

As a workaround, we have managed to deploy from a DevOps Release Pipeline using a Bash Script task with the following script:

[code]

Also you have to define the release pipeline variable `DEPLOYMENT_TOKEN` with the value of the Static Web App deployment token.

[2021-04-15 02:38] GaryParr commented on #3
Update on this would be appreciated. I've been holding off on doing anything with SWA because B2C integration is a requirement.

[2021-04-15 02:38] patware commented on #367
HAaa I'm dumb !

stage 1 runs on a windows agent, stage 2 runs a on a ubuntu agent, of course the files from stage 1 can't magically appear in stage 2 (two different machines).

So stage 2 starts with a Initialize job, then Checkout main branch, and so on..

Let me try a few things ;)

[2021-04-15 04:04] patware commented on #367
Close but no cigar...

Stage 2 now starts with task:

```- task: DownloadPipelineArtifact@2```

The ls -R, with workingDirectory: $(Pipeline.Workspace)  shows the expected files:

[code]

The "Docs" folder is the published artifact name, from stage 1.

Then, I tried these 3:

[code]

App Directory Location: '/home/vsts/work/1' is invalid. Could not detect this directory. Please verify your workflo

[2021-04-15 04:57] anthonychu commented on #367
You've hit a problem that others have run into as well. `app_location` (and `api_location`) are relative to the workspace directory, this means that it should simply be:

[code]

We're learning that this is unintuitive for Azure DevOps customers, who are used to prepending `$(Pipeline.Workspace)` and similar variables to build an absolute path. We'll investigate what we can do here to make this co

[2021-04-15 10:08] jrmedd commented on #364
Thanks for your response @anthonychu. As I said in my original post, it's working well for me when I've already got the build directory in place (using husky to run`npm run build` prior to committing). I was just wondering what the most straightforward way would be to include that as part of my pipeline, instead of on my local machine.

[2021-04-15 12:46] patware commented on #367
Thanks for the quick feedback, I just tried your recommendation but got the same error.  Since I'm sure that the folder exists, that there are files there, I suspect that I'm missing something.

I think I found the rock in the shoe: staticwebapp.config.json  I don't have one.  I'll add one, try and share the results here.

## Suggestion 1 - task logging improvements

Add more output to the output

[2021-04-15 13:23] patware commented on #367
It wasn't the missing staticwebapp.config.json.

[2021-04-15 14:13] anthonychu commented on #367
Agreed about the logging. In this case it would be helpful to show the directory and list its contents we can see what the task is seeing. @miwebst

We need to troubleshoot this some more. Perhaps @smurawski has some ideas.

[2021-04-15 14:24] anthonychu commented on #364
You can add build tasks to your pipeline to run the build command.

The Static Web Apps task should be able to build for you as well if it set the app and output locations correctly.

[2021-04-15 14:45] anthonychu commented on #3
Rough ETA is in about a month.

[2021-04-15 14:47] smurawski commented on #367
My only thought is that either the task should support full paths or you should be able to specify where you want the task to be executed from.

For example, (this may be fixed now, but was a problem at one point) Download Pipeline Artifact and Download Build Artifact went to different places in the file system.

[2021-04-15 15:21] tylerewillis opened #368 "Deploying from Azure DevOps Pipeline Releases"
Similar to [this](https://github.com/Azure/static-web-apps/issues/5) which works great for deploying from DevOps pipelines, can we get support for deploying directly from pipeline releases in ADO? Thanks.

[2021-04-15 15:36] patware commented on #367
If it makes sense, contact me directly and we could arrange a shared desktop session, ex: MS Teams.

My feeling is that it's a simple fix, something that will be obvious once found.

[2021-04-15 17:40] itpropro commented on #358
Any news on this? I have the same problem with `post_logout_redirect_uri` and `post_login_redirect_uri`. I tested it in multiple SWA instances, but I was not able to avoid the wrong URL encoding.

[2021-04-15 20:14] mkarmark commented on #355
Hi, could you please provide us with an app name and we can investigate what is going on.

[2021-04-15 21:00] anthonychu commented on #355
Thanks @mkarmark added you to an internal thread with more info.

[2021-04-15 22:12] mkarmark commented on #346
Presently you can rename the yml to anything you want, the only thing is that the portal link to the yml will be broken if renamed. What exactly is the desired experience you would like to see?

[2021-04-16 09:01] jrmedd commented on #364
Ah, I put an `npm install && npm run build` in the Static Web Apps task and it worked a treat! Thanks!

[2021-04-16 09:01] #364 closed

[2021-04-16 13:05] #320 closed

[2021-04-16 14:08] anthonychu commented on #364
@jrmedd Can you share some info about your app? Those commands (`npm install && npm run build `) should be run by default in the task. If you need to add it for your build to work, we’d like to investigate that.

Some info about the pipeline yaml, dependencies in your package.json, and general folder structure would be helpful. Thanks!

[2021-04-16 15:50] craigholdheide commented on #368
I tried publishing my source code to a artifact location as shown below...

[code]

I then tried to set the inputs the downloaded source code location, but no luck so far.  Any help would be greatly appricated.

[code]

Below is the error I keep getting...

[code]

Craig

[2021-04-16 16:19] craigholdheide commented on #368
Based on the error in my previous post, it will only scan your repo for the files to build and pull into the Static Web App.  I could just use another job to deploy the web app, instead of a deployment, but defeats my purpose of pulling approval gates in for each of my environments.

If I find a way to get this to work, I will try to reply back to this thread.

[2021-04-18 04:21] aressler38 opened #369 "Prefer npm ci"
I noticed that `npm install` is used instead of `npm ci` when building my static web app. It's an Angular app that I setup, and I would prefer it if the build would use `npm ci` to install the packages from the package-lock.json file so that I am sure versions don't shift around.

Here's the log I'm seeing:

[code]

[2021-04-18 12:58] Geertvdc commented on #346
What I would like to see is that I can name it myself during creation in the az cli command or as parameter in a Bicep /ARM template.

[2021-04-19 00:53] pioneerworksadmin commented on #139
Hi @miwebst per your advice I tried moving our Nuxt application to an "app" subfolder with updated app_location in the workflow, but still running into this "limit of 4000" error. Do you have any advice on how to use the workaround for a Nuxt app? Thank you

[2021-04-19 02:00] Gabswim opened #370 "Facebook auth is no longer working"
When trying to login with Facebook, I get this message which basically translates to:

_The user is not allowed to see this application. The user is not allowed to see this application because of the config set by this developer._

I don't know if it can be related to #349 or #250 (which I had previously [commented](https://github.com/Azure/static-web-apps/issues/250#issuecomment-755056698) on).

[2021-04-19 04:53] hynjnk opened #371 "Function set cookie with expired date"
Set cookies without `expires` but functions of static web apps set cookies with `expires=Mon, 01 Jan 0001 00:00:00 `.

## Code
https://github.com/hynjnk/azure-static-web-demo
[code]

## Function Endpoint
* Static Web Apps Function https://jolly-mud-0554ede00.azurestaticapps.net/api/SetCookie
![Screenshot from 2021-04-19 13-49-40](https://user-images.githubusercontent.com/38238305/115183307-7f2dea0

[2021-04-19 09:53] itpropro opened #372 "Github workflow routes_location doesn't work as expected"
The property `routes_location` does not seem to have an impact on the new `staticwebapp.config.json`. From my tests, this file is exclusively looked for (by the Github Action/StaticSitesClient) in the folder that is specified in the appLocation and it's subfolders.
Currently the `routes_location` property is only considered when using the old `routes.json` config file, the new `staticwebapp.config

[2021-04-19 11:37] plamber opened #373 "What is the proper way to limit access to a static web app?"
Hi,
I was wondering if there are some recommendations to limit direct internet access to a Static Web App?

I would like to explore the possibility to put an Azure Front-Door in front of a Static Web app and allow access only through Azure Front-Door. For Azure Web Apps I am doing this by using an internal network and limit the access to the port 443 or 80 to front-door only.

Thank you for your f

[2021-04-19 11:44] lbugnion opened #374 "App Settings creation in Azure Portal does not work at all"
Steps to repro:
- Open a Static Web app in Azure portal
- Go to Configuration
- Add an app setting, for example
  - AzureWebJobsStorage
  - {connection string}
- (in preview portal): Click save
Expected: App Setting is saved
Actual: App Setting appears to be saved for 2 seconds then it disappears

- (in public portal): Save button is disabled
- Click on Show Values -> the Save button is enabled
-

[2021-04-19 15:11] stemixreal commented on #374
Hi @lbugnion , there are some restricted settings - AzureWebJobsStorage is one of them - #324

[2021-04-19 17:06] miwebst commented on #373
Hey @plamber, we are working on a feature to allow you to limit access to either a private endpoint or a set of ipv4 addresses, I believe this will unblock you.

As for ports, static web apps only operate over HTTPS so 443 is the only reachable port already.

[2021-04-19 17:08] plamber commented on #373
Hi @miwebst ,
This is exactly what I was looking for.

Do you have some rough estimates when this might become an option?

Thank you for the awesome work

[2021-04-19 17:48] miwebst commented on #373
A rough estimate, as we have a number of things in flight, for the ipv4 config will be 1-2 months. For the private endpoint integration, we are waiting on changes from another team so I don't have an ETA for that yet.

[2021-04-19 17:50] plamber commented on #373
Thank you

[2021-04-19 20:03] pinnakl commented on #369
Hello. I have almost the same issue. I would prefer to use `npm install --legacy-peer-deps`. Is there any chance to do it?
Also, it would be great if I can set the versions of nodejs and nvm. Is there some possibility to handle this?

[2021-04-19 20:09] ffMathy opened #375 "GitHub Actions not working against dotnet 5"
In this repo, my main branch builds successfully, but this branch does not (which has updated to dotnet 5):
https://github.com/sponsorkit/sponsorkit.io/runs/2384318944?check_suite_focus=true

I have no idea of what to do about this.

[2021-04-19 20:39] lbugnion commented on #374
I see. In that case, is it documented anywhere, and why is there no error message? The current behavior is extremely confusing.

[2021-04-19 23:47] miwebst commented on #139
Hey @pioneerworksadmin , that guidance was because the workflow was previously misconfigured and uploaded unnecessary files. Does your Nuxt app have more than 4k files?

For everyone else on the thread, we are hoping to adjust this limit in the next 2 weeks.

[2021-04-20 00:05] anthonychu commented on #374
Docs should be updated soon. We're working on displaying a meaningful error instead of failing silently.

[2021-04-20 00:07] anthonychu commented on #375
Only .NET Core 3.1, Node.js 12, and Python 3.8 function apps are [supported](https://docs.microsoft.com/en-us/azure/static-web-apps/apis) in Static Web Apps at this time.

[2021-04-20 00:10] anthonychu commented on #371
@mkarmark Could you please take a look?

[2021-04-20 03:40] Gabswim commented on #370
I don't know if you fixed it but it seems to be working again.

[2021-04-20 04:02] bgrainger commented on #375
I filed a similar issue here (because I thought it was a Functions build error): https://github.com/Azure/azure-functions-dotnet-worker/issues/399

[2021-04-20 04:19] bgrainger opened #376 "Cookies on requests are sent "randomly" to API functions"
If an Azure Functions API (for a Static Web App) includes a `Set-Cookie` header on the response, that cookie is provided "randomly" to future API requests, irrespective of what the browser actually sends (in a `Cookie` header) in an HTTP request to the API.

## To reproduce

### Basic SWA setup

Create a new GitHub repository with an empty HTML file. Create Static Web App through Portal as per [th

[2021-04-20 04:58] bgrainger commented on #376
There's no problem inside a standalone Azure Functions App (without the Static Web App proxy): https://cookie-test-func.azurewebsites.net/api/Home deployed from https://github.com/bgrainger/FunctionsCookies.

[2021-04-20 05:03] ffMathy commented on #375
@anthonychu interesting. When will there be support for dotnet 5?

It's been quite a while since it came out. I'm sure a lot of people just assume they can use it within a couple of months.

Thank you for your elaboration so far 🙏

[2021-04-20 05:07] anthonychu commented on #323
@diberry Do you still have the source for this? I'm trying to repro it with Oryx directly and I haven't been able to.

[2021-04-20 05:08] anthonychu commented on #376
Thanks @bgrainger we'll look into this. /cc @mkarmark

[2021-04-20 05:20] anthonychu commented on #375
@ffMathy We don't have an ETA for supporting new languages or new language versions in Static Web Apps managed functions.

In the coming months, we plan to provide the ability to integrate a function app that you manage yourself with a static web app. This would allow you to create your own .NET 5 function app and use it in Static Web Apps.

[2021-04-20 05:31] ffMathy commented on #375
@anthonychu that sounds great! Do you have a link to a public roadmap somewhere or something similar?

[2021-04-20 05:53] ffMathy commented on #375
Also, just wanted to mention that with the VS Code extension, it is possible to select dotnet 5 when creating a project.

That's what fooled me. Might want to remove that option, as new users will probably choose it too 🙏

[2021-04-20 06:03] anthonychu commented on #356
Investigated this further. It looks like this is caused by the Static Web Apps client calling Oryx with the `prune_dev_dependencies` flag.

This is [a script](https://gist.github.com/anthonychu/74edf576798da19df68f55ae87b96584) generated by Oryx for an Angular repo.

With `prune_dev_dependencies` enabled, [this code block](https://gist.github.com/anthonychu/74edf576798da19df68f55ae87b96584#file-an

[2021-04-20 06:16] anthonychu commented on #375
Sorry about that. This is tracked here and should be fixed this month: https://github.com/microsoft/vscode-azurestaticwebapps/issues/323

We currently don't have a public roadmap outside of issues in this repo. It's something we can look into publishing in the future.

[2021-04-20 06:21] ffMathy commented on #375
That's okay 👌

Just glad you are responding so quickly and elaborate.

Looking forward to the feature that allows integrating a custom function app!

[2021-04-20 06:24] ffMathy commented on #375
In the meantime, I will keep using dotnet 5. Not planning to ship my app within the next couple of months either way.

[2021-04-20 07:36] manekinekko commented on #356
I think we need to differentiate two scenarios: building backend application vs frontend application. Both build scenario deals differently with `dependencies` and `devDependencies`.

## Building backend apps

Backend apps, using Node.js for instance, will expect `devDependencies` to be downloaded to perform the build step. However, Node.js will *require* `dependencies` to be installed on the same

[2021-04-20 07:52] anthonychu commented on #356
Thanks @manekinekko. I agree with your recommendations. There’s a separate issue created for backend #323

[2021-04-20 09:01] lukju commented on #368
@craigholdheide i'm trying to do exactly the same. have you maybe found a solution for this?

[2021-04-20 15:29] johnpapa commented on #356
I agree with @manekinekko as well.

[2021-04-20 16:14] pioneerworksadmin commented on #139
Ah, thank you @miwebst for the clarification and update! Our Nuxt website has 5-10k pages. Do you have a sense of what the new file limit will be? Trying to determine if we can make this project scalable as a static web app.

[2021-04-20 16:20] miwebst commented on #139
We are actively determining that new limit as we are finishing up some architectural improvements that will let us improve this limit. Out of curiosity, are those 5-10k pages generated on each build or produced based on some CMS content? Would love to understand more about how these pages are managed.

[2021-04-20 17:04] pioneerworksadmin commented on #139
Yes, the latter – the pages are generated from our Sanity.io CMS on "nuxt generate" per [this example](https://github.com/sanity-io/sanity-template-nuxt-events/blob/155afe0af8e91133b2cea286d6fce3678db9c871/template/web/nuxt.config.js). Happy to provide any info that can help! In our case, we are hoping to deploy our [arts journal](https://pioneerworks.org/broadcast/) as an Azure static web app.

[2021-04-20 17:10] cdalto opened #377 "Cannot add azure_static_web_apps_api_token value on Deploy Azure Static Web App release task"
I am trying to deploy some static code compiled as an artifact by a build pipeline in Azure DevOps. I found an "Azure Static Web App" release pipeline task that I wanted to use to deploy the artifact to Azure Static Web App. The YAML in the example for building and releasing has a field for the token:
[code]

However, the UI for this release step does not have a place to add the token:
<img width=

[2021-04-20 19:27] itpropro commented on #372
Hey,
It's just confusing that the documentation states otherwise. It would be nice to have the possibility to use an alternate location like the repository root, to keep the configuration and SWA related tooling separate from the actual frontend.

[2021-04-20 20:10] anthonychu commented on #372
@itpropro Thanks for pointing [this](https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#route-file-location) out. We'll get it updated.

[2021-04-20 21:29] anthonychu commented on #356
Thanks. Looks like the recommendation is to remove `prune_dev_dependencies` when calling Oryx for _frontend_ builds only. @miwebst can we make this change?

[2021-04-21 00:06] craigholdheide commented on #368
@lukju I ended up creating a PROD stage with a job to run the static web app deploy task.  I also created an approve stage that does nothing more than echo the text "Approved to PROD".  Since this is a deployment, I can add an environment to it, called ApproveToProd,  and then created a preapproval.

Below are the last two stages of my yml deployment script if that helps.

Also, I found this docum