[2020-05-19 16:19] clairernovotny opened #1 "Default behavior for PR builds from forks fails"
A very common scenario is people outside the repo contributing PR's. The current default Actions template fails the PR since the secrets aren't available.

At the very least, it should still build but then pass the PR without doing any deploy.

This should be fixed soon or people who try it out may quickly get frustrated and remove it since all their PR's fail.

[2020-05-19 19:04] jordanfinners opened #2 "Support for custom headers"
It would be great to support setting of custom headers on the static website.
This would be useful so that people can set security headers etc on their sites, for example some standard security headers below.
It might be good to set default security headers on static websites as best practice to achieve a good score on https://securityheaders.com/ .

[code]

[2020-05-19 19:15] jordanfinners opened #3 "Support Azure B2C as an Authentication Provider"
For greater customisation of the auth process it would be great to support Azure B2C/customisation as a provider for authentication.
This would also enable more people to migrate over to this service.

[2020-05-19 22:58] lovettchris opened #4 "app_artifact_location is not optional"
The static web apps deploy github action template contains:

- "app_artifact_location: '' # Built app content directory - optional"

indicating it is optional, but if I delete it I get a build error, and if I leave it empty I get a build error.  So it appears this is not optional.

Turns out changing it to this seems to work, perhaps you should fix the template then to do this and remove the word

[2020-05-19 23:17] miwebst commented on #4
Hi @lovettchris,

Thanks for trying out the product! This is technically optional, but your build may fail if this is not provided. Under the covers, we use Oryx and if Oryx fails to determine the output folder (which is based on some logic that is continually being improved) then we can't upload your assets.

I took a look at your Github Action logs and that is indeed the case. So for your case i

[2020-05-20 07:11] lafe opened #5 "Azure DevOps support"
Static Web Apps is something that we would be able to use in our customer projects. However, I am confused regarding the support for Azure DevOps. Currently, there seems to be a focus on GitHub but there is no mention of Azure DevOps. Is support for Azure DevOps planned in the future?

[2020-05-20 09:00] johnkors opened #6 "Next.js public export"
Hi, I attempted to deploy a next.js app. Getting this error:

The `/web/out` folder is the default folder for next export. What does the error mean? It's not clear to me. I assume `app_artifact_location` should be the output of the `next export` - is this correct?

My next.js app is in the `/web` folder.

[code]

[2020-05-20 10:05] johnkors commented on #6
I might have fixed it.

My scenario was that I edited the `app_artifact_location` in the workflow file _after_ creating the resource in Azure. It seems like Azure does not understand/honor the changes I made to the `app_artifact_location`.

After I recreated the resource in Azure matching my workflow settings, the deploy started working again.

[2020-05-20 10:34] johnkors commented on #6
Ok, it might be just that the `app_artifact_location` is relative to the `app_location` folder. Maybe add that to the docs, if true?

[2020-05-20 13:53] miwebst commented on #6
Hi @johnkors

Please check out this doc: https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#build-and-deploy

"Location of the build output directory relative to the `app_location`"

[2020-05-20 14:01] johnkors commented on #6
Thanks!

[2020-05-20 14:01] #6 closed

[2020-05-20 15:26] JoeWirtley opened #7 "Method or documentation on how to publish from file system"
I would like a way to be able to publish a static web app from my file system, not using GitHub (or DevOps).

[2020-05-20 15:39] FirstCraftyBrother opened #8 "GitHub Orgs not populating properly"
When trying to use the App Service Static Web Apps through the Azure portal. It seems that after signing into GitHub the organizations that populate are not complete. I asked at Build what organizations should populate and was told that Admin access was required on the repository in order for it to create the Static Web App. This makes sense to me and I agree, but not all the repositories that I a

[2020-05-20 15:58] zunderscore commented on #5
Wondering the same thing. Love GitHub, but I do all of my work, store all my repos, setup my CI/CD, etc. in Azure DevOps.

[2020-05-20 16:07] wes566 opened #9 "Support Apple as authentication provider"
The auth experience on iPhones with "Sign in with Apple" is pretty great and it would be great if my app built on SWA supported that.

[2020-05-20 16:24] anganti opened #10 "Functions Node.JS stream request/respone support"
See https://github.com/Azure/azure-functions-host/issues/1361

[2020-05-20 18:24] Swimburger commented on #5
I'm wondering the same, is there support to deploy Static Web Apps from command line and any CI/CD system in the future?

[2020-05-20 19:20] eparizzi commented on #5
I'm just wondering why isn't a basic CLI is first built? Then, it can be re-used in any service, GitHub Actions, Azure DevOps pipelines or even anything that can run a command line.

[2020-05-20 21:06] fudgeboy2000 commented on #5
Same here - would be really exciting to host Blazor WASM apps in Static Sites, but all our work is done via Azure DevOps.  Why restrict this to GitHub?

[2020-05-20 22:13] johnkors opened #11 "Mono repo support"
My scenario: I’m deploying two apps: Sanity studio, a cms admin UI, as well as the frontend (next.js) accessing the headless CMS apis of Sanity.

I cannot create two sites in Azure Linked to the same repo, due to some restrictions (the error message does not indicate how I can fix it, or if possible at all).

John Papa mentioned there is a workaround using different branches, but it would be bette

[2020-05-20 22:29] johnpapa commented on #11
Thanks for adding this @johnkors !

I also have a monorepo and I'd love to deploy multiple projects from it, from different folders. It would be nice to have a CI/CD process that would allow for building one or the other, at a time.

Some questions for you:

Would you want to deploy it all at once?

Would you want to deploy one app by itself, and not others in the monorepo?

What would trigger bui

[2020-05-20 23:50] CreativeNotice commented on #7
Agreed. If Azure CLI supports this platform, it could be used for local system and 3rd party pipelines (Bitbucket, etc).

[2020-05-21 02:45] johnnliu opened #12 "Custom Sub-Domains"
Want ability to use subdomains:

docs.johnliu.net

currently the custom domains settings only validates www.

this is strange since AzureFunctions or Static Site both supported subdomains.

[2020-05-21 11:01] empz opened #13 "Azure CLI support?"
It would be great if a basic version of working with Static Web Apps would be included in some form in Azure CLI.

The GitHub requirement is a bit awkward.
Ideally, we should be able to run a simple az cli command to push a folder into an Azure Static Web App.
Also, a command to "promote" a specific deployment to production.

[2020-05-21 11:50] DaveA-W opened #14 "Support branded identity.customdomain.com"
As it stands, with a custom domain the token issuer and domain showing during consent prompts is still identity.azurestaticapps.net.  This will concern some users.  It'd be great to offer some opportunity to brand both the identity subdomain and consent pages.

I'm not quite sure what auth flow you are using, but as I understand current browser cookie handling, this may also be problematic under d

[2020-05-21 11:58] DaveA-W commented on #2
Along similar lines
1. `X-Powered-By` and `Server` headers should be removable (or removed by default)
2. `Cache-Control` would be handy to be customisable
For example, if a static content generator already fingerprints filenames, we can give a larger `max-age` and omit the `ETag`

![image](https://user-images.githubusercontent.com/6415842/82556683-cd500b80-9b9c-11ea-96d0-9000c8dac6ec.png)

[2020-05-21 12:13] vantasit commented on #2
Being able to set via blob metadata would be useful, offers means to control it

[2020-05-21 13:01] radumg commented on #5
+1, please add details regarding Azure DevOps support as we already heavily use AppService with static web apps but all our CI/CD and repos are in DevOps.

[2020-05-21 14:04] marxxxx opened #15 "Azure Function written in C# results in deployment error"
I created my backend Azure Function using C#, but this results in the following deployment error:

`Error: Platform 'dotnet' version '3.1' is unsupported. Supported versions: `

As all the samples i saw are using JavaScript for the backend as well i'm wondering if this is a known limitation of the service at it's current stage or if i just messed something up in my demo project (https://github.com

[2020-05-21 15:28] miwebst commented on #15
This is a known limitation, we are working to add this as we speak :)

[2020-05-21 15:42] marxxxx commented on #15
Thank you for your reply. I think it would be worth mentioning that limitation in the docs.

[2020-05-21 15:42] #15 closed

[2020-05-21 16:14] miwebst commented on #8
It sounds like something may have gone wrong in the auth flow. Can you try removing the OAuth registration and try again? Here are the steps from removing the Azure Static Web App app registration:

On Github, click on the user drop down in the top right. Then click settings, then applications, and finally Authorized OAuth Apps. Here you will see an Azure Static Web App registration that you can d

[2020-05-21 16:16] miwebst commented on #12
This sounds like a DNS issue. Have you tried creating a CNAME from docs.johnliu.net to the name of your static web app?

Static Web Apps supports more than just the www subdomain.

[2020-05-21 16:24] craigshoemaker commented on #15
I [updated the docs](https://docs.microsoft.com/azure/static-web-apps/apis) to note that we only support JavaScript at the moment. The update will appear when the daily refresh is made to the live docs site.

[2020-05-21 18:47] johnkors commented on #11
As far as I understood, [GitHub actions already supports trigger on file paths](https://github.blog/changelog/2019-09-30-github-actions-event-filtering-updates/), so it's just about having several github action ymls for each app.

app1-deploy.yml
[code]

app2-deploy.yml
[code]

[2020-05-21 20:00] Rutix commented on #5
https://twitter.com/AbelSquidHead/status/1263265901509439489 seems to suggest that Azure Pipelines are supported but I still wonder if Azure Repos are going to be supported or not.

[2020-05-21 20:50] EdSF opened #16 "Build And Deploy: ERR! code ELIFECYCLE"
Saw this yesterday at BUILD and excited to try this out!

Running into a [`Build and Deploy` error](https://github.com/microsoft/Oryx/issues/605#issue-622095793) specific to `React` - btw, if this repo is the right place for it, I'll delete it from there and "move" it here.

TLDR; everything works locally (dev and build), but fails on `react-scripts-build`- or at least that's what I think based on

[2020-05-21 23:40] PedroLamas opened #17 "My GatsbyJS website fails to build"
My GatsbyJS website builds perfectly on Azure Pipelines, GitHub Actions, Netlify, and yet it fails to build as an Azure Static Web App.

After creating the website, I can see that the first run failed as I had a requirement for yarn ">=1.22" in the engines node inside the package.json file: https://github.com/PedroLamas/pedrolamas.com/actions/runs/111930224

I've now lowered that to 1.17, yet it s

[2020-05-21 23:44] johnpapa commented on #17
Thanks.

adding @miwebst

[2020-05-21 23:52] EdSF commented on #16
Solved [here](https://github.com/microsoft/Oryx/issues/605#issuecomment-632401561)
---

[2020-05-21 23:52] #16 closed

[2020-05-21 23:58] anganti commented on #17
This morning someone also ran into this exact issue and the fix was to update the gatsby config

https://github.com/micahgodbolt/micahgodbolt.com/commit/f516323e59f68922cc5958f24f22d118ad59bf8d

Error https://github.com/micahgodbolt/micahgodbolt.com/runs/696944712?check_suite_focus=true

[2020-05-22 00:01] miwebst commented on #17
Yes this is because our version of Oryx is missing this package:  libGL.so.1

@johnpapa , @craigshoemaker we should update our Gatsby doc to do the build before our Github Action. Otherwise we will keep seeing people hit this.

[2020-05-22 00:02] PedroLamas commented on #17
Hi @anganti, thank you for your suggestion but I wouldn't call disabling the automatic conversion of images files to webp format a "fix", as that is basically cutting down the functionality provided by GatsbyJS!

[2020-05-22 00:02] manhvo opened #18 "SSL certificate support"
I would love to have the ability to config my domain certificate instead of azurewebsites.net one.

[2020-05-22 00:04] PedroLamas commented on #17
@miwebst thank you for your comments, but wouldn't it be easier to just add the missing package to "permanently" fix the problem?

Also, my first failure was due to my own specification that this site required yarn 1.22 or above, I know I can bundle yarn in the repo, but is there a way I can force the build process to download and use the correct version of yarn?

[2020-05-22 00:05] anganti commented on #17
@PedroLamas agree, a more better word would have been mitigate. And the other option would be as @miwebst suggested to skip the build as together via StaticWebApps GitHub action and purely use it for deployment.

[2020-05-22 00:20] miwebst commented on #17
Yes Pedro you have a good point, we could add the missing package. The challenge here is that the more packages that we add to our base image, the larger it becomes, and the longer it takes for your action to start.

We are still investigating options for making this faster and have the libraries that apps need. If you have feedback on that, please let us know!

[2020-05-22 00:23] PedroLamas commented on #17
@anganti thanks for your help, seems that adding the build steps to the azure-static-web-apps-jolly-ground-016a8c003.yml file did the trick! https://github.com/PedroLamas/pedrolamas.com/commit/b82fcbcef206da534f6e661521d2f91b452f24e2

I still need to properly test this, but I can already see the site live at https://jolly-ground-016a8c003.azurestaticapps.net/

[2020-05-22 00:36] mahoekst opened #19 "My Hugo site fails to build"
Tried out the support for Hugo. Set all up according to the docs but the build fails with this error:

/usr/bin/docker run --name be76db3742c4258d2045bd9d18e2a545bed1a3_c46332 --label be76db --workdir /github/workspace --rm -e INPUT_AZURE_STATIC_WEB_APPS_API_TOKEN -e INPUT_REPO_TOKEN -e INPUT_ACTION -e INPUT_APP_LOCATION -e INPUT_API_LOCATION -e INPUT_APP_ARTIFACT_LOCATION -e INPUT_API_BUILD_COMMA

[2020-05-22 01:04] miwebst commented on #19
Hi @mahoekst, can you retry and see if this is still happening? If so can you provide the region of your app?

[2020-05-22 01:09] miwebst commented on #18
Hi @manhvo can you clarify? There are no azurewebsites.net certificates in play here. We have azurestaticapps.net certificates and if you bring a custom domain, we provision a certificate for your custom domain.

Do you wish to configure your own certificate for your custom domain?

[2020-05-22 01:13] manhvo commented on #18
Looks like after configuring a custom domain, a certificate was issued for my domain. It works like a charm now. Sorry for the confusion.

[2020-05-22 01:24] #18 closed

[2020-05-22 01:24] miwebst commented on #18
yup no problem!

[2020-05-22 01:45] mahoekst commented on #19
Build succeeded now. thanks for the prompt response.

[2020-05-22 02:10] djjeffg382 opened #20 "Support for Blazor"
Any idea if client side Blazor apps are/will be supported?

[2020-05-22 02:13] anganti commented on #20
They are currently not officially supported but take a look at this blog https://www.maneu.net/blog/2020-05-deploy-blazor-client-apps-with-azure-static-apps/

They are definitely planned for the future releases.

[2020-05-22 02:23] johnnliu commented on #12
Hi, you are right, I might have done it wrong last time and mistyped my cname or something, it's working as I expect today sorry!

[2020-05-22 02:23] #12 closed

[2020-05-22 07:05] anthonychu opened #21 "X-MS-CLIENT-PRINCIPAL-NAME header missing"
Can we get access to X-MS-CLIENT-PRINCIPAL-NAME and X-MS-CLIENT-PRINCIPAL-ID? Useful for getting/saving user specific data in bindings. Also doesn't require decoding the base64 X-MS-CLIENT-PRINCIPAL if all you want to do is get the username in code.

https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#access-user-claims

[2020-05-22 07:20] HiltonGiesenow opened #22 "Feature Request - Custom Domain for Staging Site"
I've tried creating a cname, but it didn't work, not sure if I just messed something up, or if it's not supported. Aside from that, I think the title is quite self evident :-)

[2020-05-22 08:32] mahmoudajawad commented on #5
How can it be supported when at time of creating a Static Web App it requires Github auth? Has anyone found a method to create SWA resource from CLI that can be linked to Repos or Pipelines?

[2020-05-22 08:38] Rutix commented on #5
I think because you can use Azure Pipelines with a Github repo that it is supported in that way. I don't think it supports Azure Repos for now (it's still in preview, after all, there are all kinds of constraints).

[2020-05-22 10:28] PedroLamas commented on #17
Ok, got it all working in the end, with images and custom domain!

https://azure-test.pedrolamas.com

I've ran some quick benchmarks on it:

- https://www.pedrolamas.com - **perf 96/100** (built and hosted on Netlify, served by Cloudflare CDN) https://www.fastorslow.com/app/profile/f2f146f8-11f5-5526-b14b-eca2d8e9b4ec
- https://azure-test.pedrolamas.com - **perf 98/100** (built by GitHub Actions,

[2020-05-22 10:28] #17 closed

[2020-05-22 12:34] Tiberriver256 commented on #5
I'd heard rumors that Azure DevOps was losing focus and Github was going to be the focus moving forward... this kind of confirms the direction for me. Wish it would be made public though.

[2020-05-22 12:42] mahmoudajawad commented on #5
@Tiberriver256 Microsoft is well known for being committed to enterprises and governments. Enterprises currently using ADO would not like moving to primitive-all-issues from the great current tools of Azure Boards and how all things get linked together with Azure Pipelines and Azure Repos. For that, I highly doubt this is going to happen, unless Microsoft moves all ADO features to Github, which ag

[2020-05-22 13:41] craigshoemaker commented on #17
@anganti, @PedroLamas - so does the doc need to have both the changes for [disabling `wbp`](https://github.com/micahgodbolt/micahgodbolt.com/commit/f516323e59f68922cc5958f24f22d118ad59bf8d) and [updating the `uses` section](https://github.com/PedroLamas/pedrolamas.com/commit/b82fcbcef206da534f6e661521d2f91b452f24e2)?

[2020-05-22 13:45] PedroLamas commented on #17
My take is **not to disable webp** or anything else (it should just work as it is and not require specific changes for Azure Static Web Apps to be happy with)

Instead, just do a normal build **before** invoking the `Azure/static-web-apps-deploy` action so that all it needs to do is copy and publish the static files (so will skip the need to build on this step as it did on the previous one)

[2020-05-22 13:46] eriklieben opened #23 "Is there a max on the number of users?"
Hi,

What is the maximum number of allowed users?

Under the custom error pages sections at error type "Unauthorized_TooManyUsers" it states:

"The site has reached the **maximum number of users**, and the server is limiting further additions. This error is exposed to the client because there's no limit to the number of invitations you can generate, and some users may never accept their invitation

[2020-05-22 14:01] johnpapa commented on #17
@softchris - do you have this in your learn module?

[2020-05-22 14:02] johnpapa commented on #11
Here is a sample monorepo project we could use for testing of many apps https://github.com/johnpapa/hello-worlds

[2020-05-22 15:11] miwebst commented on #17
Before we update the docs, lets finish our exploration into the larger image that should solve this problem. @PedroLamas do you mind if I fork your repo for testing?

[2020-05-22 15:14] miwebst commented on #19
No problem!

[2020-05-22 15:14] #19 closed

[2020-05-22 15:18] miwebst commented on #22
This is not supported right now :)

[2020-05-22 15:25] PedroLamas commented on #17
@miwebst please go ahead! 😁

[2020-05-22 15:45] HiltonGiesenow commented on #22
That's why I've titled it "Feature Request" ...

[2020-05-22 15:46] miwebst commented on #22
Understood. I was confirming your earlier comment: "not sure if I just messed something up, or if it's not supported"

[2020-05-22 17:32] adamjcooper opened #24 "Support a custom user store for identity"
Congrats on the beta release.

At the moment it looks like you have built-in support for some popular third-party auth providers, where users already have an account with the third party. What is the story if I want my users to be able to sign up for an account on my site directly? That is, how would I go about offering people a way to sign up for an account for my own domain rather than using an

[2020-05-22 18:28] softchris commented on #17
I don't have an instruction where I tell them to build the Gatsby project prior no. I'll wait for @miwebst before doing any update as he wanted to explore a solution involving the image

[2020-05-22 18:43] anganti commented on #5
For preview, GitHub Actions is the only supported way to build and deploy to StaticWebApps.

Supporting other CI/CD pipelines and/or CLIs is currently work in progress.

Thank you for your feedback. Keep them coming.

[2020-05-22 22:06] WeberRess opened #25 "Difference between Static Web Apps x Static website hosting in Azure Storage. EOL Static Website in Storage ?"
Hi,

I notice that the main difference is about the support for Azure Functions in Static Web Apps. Are there other major differencies ?

Will Static website hosting using Azure Storage be EOL ?

[2020-05-22 22:36] WeberRess commented on #25
resolved ! in this URL, there is an update, https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website

[2020-05-22 22:36] #25 closed

[2020-05-23 14:28] FirstCraftyBrother commented on #8
This was the issue, thank you!

[2020-05-23 14:28] #8 closed

[2020-05-23 16:59] qmatteoq opened #26 "Error hosting MSIX packages with the AppInstaller technology"
I'm currently using the Static Website feature of Azure Storage to host and distribute my desktop applications packaged as MSIX. They are distributed using the [AppInstaller technology](https://docs.microsoft.com/en-us/windows/msix/app-installer/app-installer-root). This means that, on my website, I have to deploy:

- A static web page
- An .appinstaller file, which is a XML file that describes wh

[2020-05-23 17:35] HiltonGiesenow commented on #22
ahh ok, my mistake - thanks for confirming. I was wondering if any of this would be open sourced at any point, in which case I'd be happy to work on a PR. Not the Azure portion itself necessarily, just the Github Action component I mean

[2020-05-23 19:49] PedroLamas commented on #2
This is something I'm very interested too!

Netlify currently supports this on their deployments and GatsbyJs even have a plugin that automatically creates a headers file!

https://docs.netlify.com/routing/headers/#syntax-for-the-headers-file

https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/

[2020-05-24 00:24] miwebst commented on #26
Yes these mimetypes are missing on our side, we are working on adding the ability for customers to define mime type overrides. We can look at adding these as well.

[2020-05-24 05:41] riverar commented on #26
@miwebst That'd be cool, but I think the more pressing matters are that:
* az staticweb sends bad ETags
* az staticweb sends zero content-length on HEAD requests
* az staticweb doesn't appear to support HTTP ranged requests

[2020-05-24 07:35] kheiakiyama opened #27 "How do we use for jekyll?"
This question is about `Azure/static-web-apps-deploy@v0.0.1-preview`.

My code is [here](https://github.com/kheiakiyama/trans-feed/tree/8e5088b00e01ce5b02ae3316448d04d277c91b41).

I defined `app_artifact_location` same as jekyll output directory like below.

https://github.com/kheiakiyama/trans-feed/blob/8e5088b00e01ce5b02ae3316448d04d277c91b41/.github/workflows/azure-static-web-apps-blue-meadow-0

[2020-05-24 19:56] miwebst commented on #26
@riverar, for the bad ETags, are you referring to the missing ""? We have a bug for this and it is rolling out with our next release.

For HEAD requests, we similarly have a bug out for this. That is being worked on.

We are missing support for ranged requests right now. I'll add this to our backlog!

[2020-05-24 20:00] riverar commented on #26
@miwebst Sounds like you're on top of it, thanks!

[2020-05-24 20:04] qmatteoq commented on #26
Thanks @miwebst ! Is it possible for you to update this issue when the first two bugs have been addressed? I would like to give a try if this would be enough or if we can't support this scenario until we get also ranged requests support.

Thanks!

[2020-05-24 20:08] miwebst commented on #26
Yes, I will update this thread. ETag fix will come early this week. HEAD requests with content length will come later on as it is still being worked on.

[2020-05-24 21:26] miwebst commented on #27
Hi @kheiakiyama,

Can you try modifying your workflow like `app_artificat_location: ''` and `app_location: '_site'`?

Right now you are building your application before getting to the build and deploy action. When the build and deploy action runs, it will look for the `app_location` and try to build the source code there. Because Oryx does not support Ruby, it fails to detect the language and we a

[2020-05-25 01:01] kheiakiyama commented on #27
@miwebst Thank you for your answer.
It worked!

I had confused because this document uses `app_artificat_location`.
https://docs.microsoft.com/en-us/azure/static-web-apps/publish-hugo

`hugo` does not have `index.html` under `app_location: ''`, so it works I understood.

[2020-05-25 01:01] #27 closed

[2020-05-25 03:32] ItalyPaleAle opened #28 "Custom build scripts - Action to upload only?"
I wanted to try this with [my blog](https://github.com/ItalyPaleAle/WithBlueInk) as a first attempt. However, the codebase requires some non-standard build steps, and this doesn't work with Oryx. In fact, I have custom build scripts and even a Makefile.

How can I write my own CI/CD definitions and just upload the pre-built assets to Azure SWA?

[2020-05-25 04:14] aaronpowell commented on #28
Since it's a GitHub Actions workflow file, you can modify it to add any additional steps you like.

Take a look at [the Hugo docs](https://docs.microsoft.com/azure/static-web-apps/publish-hugo?WT.mc_id=staticwebapps-github-aapowell) which shows the best place to place it, and then how to configure the Action to just look at the pre-generated output.

[2020-05-25 04:50] anganti commented on #28
Checkout #17

[2020-05-25 05:42] amykapernick opened #29 "Logs/Monitoring for Azure Functions"
Would be great to see some kind of monitoring or logs for the Azure Functions. I'm unable to see anything about what's happening on there, just that I have functions

[2020-05-25 06:33] anganti commented on #29
Thank you for trying out the service.

AppInsights is supported https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#appinsights_instrumentationkey

Note: This must give you enough to identity logs/metrics. But there is still some work on our end to improve observability overall.

[2020-05-25 12:38] wictorwilen opened #30 "Request for custom HTTP 404 page"
I'd like to see an option to have a custom HTTP 404 page. Super simple implementation would be to publish a page to `/404.html` (how Hugo does it by default)

[2020-05-25 13:17] mahmoudajawad opened #31 "Angular app with routing raises 404 Not Found after page is loaded"
In my tests for SWA, I pushed an Angular app which is working fine, loading, then after the page is loaded (which is using Angular routing to change the URI to `/home`) it gives 404 Not Found Azure error page.

I understand there's a necessity to adding routes, but my understanding is these are required only for accessing the routes directly (as in typing the domain + route and hitting enter), not

[2020-05-25 14:34] anthonychu commented on #31
@mahmoudajawad Do you have a repo or deployment that shows the problem?

[2020-05-25 15:16] mahmoudajawad commented on #31
Yes, @anthonychu, I have but I would prefer to pass it to you privately. Can I use your email to send the deployment URI?

[2020-05-25 19:52] anthonychu commented on #31
Feel free to send me an email at antchu at microsoft com. Thanks.

[2020-05-25 23:06] m-sterspace commented on #24
As far as I can tell right now the primary issue is that the URLs aren't particularly stable, yet authentication services like Azure AD require stableish callback URLs.

Unlimited staging slots based on pull requests seems great at first blush, but they're not the most useful to me if I have to go and manually update the callback urls for all my authentication providers every time one is created .

[2020-05-26 00:42] m-sterspace commented on #22
@HiltonGiesenow my workaround for this was just to create more Static Web App instances with the same github repo. We typically have 3 different hosting environments per app, production, staging, and develop, so I created 2 more Static Web Apps, but each one associated with a different branch of the same repo, so there's now have 3 different workflow files, one each for the master, develop, and st

[2020-05-26 01:00] miwebst commented on #17
Hey @PedroLamas, I've updated our image to use the larger version of Oryx that contains the necessary dependencies for webp.

You will still need to downgrade your version of yarn. (@kichalla as a side ask, is there anything we can do to avoid this issue in the future- maybe download latest yarn on the fly?)

Aside from that everything should just work! Do you mind giving it a try?

[2020-05-26 02:31] HiltonGiesenow commented on #22
that's a great idea, thanks. It might change when this goes g.a. and has pricing attached, but it'll certainly work for now

[2020-05-26 03:09] rahul-rxr opened #32 "Page fails to load (credentials required) when using Azure storage"
I have a react app where I am using Azure table storage to create a user form.

[code]
This app is connected to Azure Static Web Apps through GitHub actions. The app works normally on local (pre and post-react build). The CI/CD is passing as well and the app is deployed on Azure successfully.

However, when I navigate to the app URL, the page fails to load with the following error.

[code]

I beli

[2020-05-26 05:55] mahmoudajawad commented on #31
@anthonychu, thanks for offering help. I just sent an email including the deployment URI. The thing I noticed is if I add a trailing slash (`deplyment URI + /`) it wouldn't raise the 404. Network tab is showing a redirection occurring, although effectively this is not a redirection but internal Angular routing. I'm willing to add routes file but would like to expose this first to understand what i

[2020-05-26 06:28] anthonychu commented on #31
@mahmoudajawad Could you please confirm that you've sent it to antchu@microsoft.com? I haven't yet received it. Thanks.

[2020-05-26 07:22] mahmoudajawad commented on #31
Oh! I've sent it to the email listed in your profile. I'll forward the message to the one you just mentioned.

[2020-05-26 09:09] PedroLamas commented on #17
@miwebst it works!!

I've just done [my changes](https://github.com/PedroLamas/pedrolamas.com/commit/48dc96e8dabc7bdb25655369a5604098093d2da1?w=1) to use the default building mechanism and now it is working fine!

On the plus side, I was surprised to see that the environment variables my build needs are being correctly passed so everything works fine!

[2020-05-26 09:41] mahmoudajawad commented on #31
@anthonychu, to keep reference to others on this issue I'm going to continue here.

First, thanks a lot for taking time to check on the deployment, which I missed, where the app is reloading the page after failing to connect to dev websocket, because the app was built against development configurations, not production.

So, I never realised SWA service is building against `npm run build` and not d

[2020-05-26 09:41] #31 closed

[2020-05-26 09:44] mahmoudajawad opened #33 "Detect Angular app and build with ng build --prod"
Referring to the issue I had with an Angular deployment (#31) where it was built using `npm run build` and resulted in the app attempting to connect to local websocket, rather than published websocket and reloading page after some failed attempts, I would like to suggest SWA service recognise Angular projects and build them with `ng build --prod` by default to avoid getting any user of SWA service

[2020-05-26 11:29] mbrant-portiva commented on #23
I believe it's limited to 25 people: https://docs.microsoft.com/en-us/azure/static-web-apps/quotas

[2020-05-26 11:40] martijn-brant commented on #23
There is a quota for 25 people max right now. More info here: https://docs.microsoft.com/en-us/azure/static-web-apps/quotas

[2020-05-26 13:47] antonioberetini commented on #9
Yes please

[2020-05-26 13:54] eriklieben commented on #23
I am/was hoping that was only for the invited users/ users that you can assign roles to :-)

You can also login without first being invited, then you won't end up in the 'Role management' tab as a user.

[2020-05-26 13:59] martijn-brant commented on #23
True but you'll have no roles outside of authenticated. Don't use this role for sensitive info because any auth provider/tenant will give access to it. You really have to invite people, assign roles and use that role in the routes.json.

I blocked Google/Twitter/Github etc to test in a PoC but logging in with Azure AD won't auth me against the tenant hosting the page. Any AAD user/tenant can login

[2020-05-26 14:15] m-sterspace opened #34 "[Bug] - Function App Is Modifying "Authorization" Header In Production Environment"
I spent a while tracking down and trying to figure out what was going on and why my site wasn't working in production, and it turns out that it looks like the Static Web App service is modifying my request headers.

The authorization header that I am attaching to my request is **not** the same header that is being received by my function apps. I don't really want to post the tokens here but for so

[2020-05-26 14:34] m-sterspace commented on #23
I mean you could also implement JWT verification in your function routes yourself, at which point you can check the token for whatever client or tenant id you want to verify.

Personally this whole static web app authentication system seems convoluted and restrictive compared to just implementing it yourself with msal / jwt / jwks-rsa.

[2020-05-26 14:38] martijn-brant commented on #23
Colleague of mine used this route this week. Validating the token itself via Javascript but this will only really work if the content you're trying to protect is delivered by Javascript.  My PoC used Hugo to present private information but the information is in the HTML. Disabling Javascript client side would circumvent any token validation. Client side security is always bad security.

[2020-05-26 15:14] anthonychu commented on #31
@mahmoudajawad glad you got it working. Yes that’s a problem specific to Angular and @johnpapa @manekinekko are aware and are discussing options. It makes sense that that websocket was from a non production build.

[2020-05-26 15:37] miwebst commented on #32
Hi @rahul-rxr,

Can you explain your setup a little more closely? Is the connection string getting built into the client-side JS? If so, you can accomplish this by adding the connection secret to your Github Action Secrets and adding an env variable to your workflow.

That being said, this approach will publicly expose your connection string, you may want to consider using a function for this use

[2020-05-26 15:43] miwebst commented on #30
Hi @wictorwilen,

This exists today: https://docs.microsoft.com/en-us/azure/static-web-apps/routes#custom-error-pages

Take a look at the example routes.json file as it shows a custom 404

[2020-05-26 15:45] wictorwilen commented on #30
Thanks!

[2020-05-26 15:45] #30 closed

[2020-05-26 15:56] manekinekko commented on #33
Hi @mahmoudajawad thanks for opening this issue.

The default configuration that the Angular CLI generates when scaffolding a project with an `npm run build` script that executes a dev build of your app, ie`ng build`.

Please note that the `--prod` is a shorthand for "--configuration=production". When true, it sets the build configuration to the `production` target (in the angular.json).

A lot of

[2020-05-26 16:00] anganti commented on #34
@m-sterspace This is by design as we internally set the authorization header to proxy calls to functions.

is it possible to send your token as a different header and grab it on the Functions end.

@mathewc

[2020-05-26 16:09] mahmoudajawad commented on #33
@manekinekMA, amazing! Having the option for custom build command is even better. I overlooked this one. Thanks for explaining it.

[2020-05-26 16:09] #33 closed

[2020-05-26 16:27] manekinekko commented on #33
You are welcome @mahmoudajawad

[2020-05-26 19:35] ItalyPaleAle commented on #28
Thanks both, that makes sense and I think it will work, so I'll try again later. I don't think I'm the only person with projects with "special requirements" (or even just using a specific version of Hugo: seems that Oryx always uses the latest which isn't always ideal), so might be a nice thing to write in the docs too 😉

[2020-05-26 19:35] #28 closed

[2020-05-26 19:50] m-sterspace commented on #34
Hey, yep, sorry if my first message sounded testy, I had been up too late trying to figure out what was going on and sent it when I was a little grumpy, pre-coffee. Overall I want to express kudos on this service, I am quite enjoying the preview and think this makes a lot of sense as a service.

I had actually just finished implementing using `X-Custom-Authorization` as a workaround header and it

[2020-05-26 20:16] anganti commented on #34
@m-sterspace Thank you for trying out the service and i am very glad you liked it.

Its bad on our end we did not document these details in time for the launch.

@miwebst  do you have a list of other headers? I can think of Auth headers being passed in.

[2020-05-27 04:23] miwebst commented on #2
Hey @jordanfinners , thanks for the great feedback! We've added a few default headers while we add the ability for users to add custom headers. Appreciate your feedback!

[2020-05-27 06:22] amykapernick opened #35 "Azure Function Not accepting Content Type header"
When setting the content type on the Azure function response it's not passing that through

## Code
<https://github.com/amykapernick/quokkas/tree/broken-azure-function>
[code]

But on the response, it doesn't have the content type coming through

## Function Endpoint
https://brave-ground-020b74800.azurestaticapps.net/api/whatsapp
Custom Domain - https://quokkas.amyskapers.dev/api/whatsapp

When de

[2020-05-27 17:31] mkarmark commented on #24
Thank you for using Azure Static Web Apps!

For preview, using the five offered providers and having the users log in to Azure Static Web Apps is the only option for authentication/authorization.

Supporting custom authentication is something we plan to offer in the future.

Thank you for your feedback. Keep them coming.

[2020-05-27 18:02] mkarmark commented on #9
Thank you for using Azure Static Web Apps!

For preview, using the five offered providers (Azure Active Directory, Facebook, GitHub, Google, and Twitter) is the only option for authentication/authorization.

Supporting Apple as an authentication provider is something we plan to offer in the future.

Thank you for your feedback. Keep them coming.

[2020-05-27 18:03] mkarmark commented on #3
Thank you for using Azure Static Web Apps!

For preview, using the five offered providers (Azure Active Directory, Facebook, GitHub, Google, and Twitter) is the only option for authentication/authorization.

Supporting Azure B2C/custom providers as an authentication providers is something we plan to offer in the future.

Thank you for your feedback. Keep them coming.

[2020-05-27 18:05] mkarmark commented on #14
Thank you for using Azure Static Web Apps!

For preview, authentication to Azure Static Web Apps where the flow goes through identity.azurestaticapps.net is the only option for authentication/authorization. However, we have tested that it works with Chrome's Same site cookie changes and ensure that users should have a graceful login experience.

Supporting authentication such that users sign in to

[2020-05-27 22:57] aaronpowell commented on #29
@anganti with that will we be able to get the request metrics as well, or only where we do telemetry within the Function? For me, I'd like to be able to click on the Function name and get the minimal monitoring like I can do when deployed to a Function App.

[2020-05-27 23:04] anganti commented on #29
@aaronpowell sounds like a valid ask that we could add to our backlog as we invest more into logs/metrics @dariagrigoriu

[2020-05-28 01:51] johnpapa opened #36 "Arm templates"
@danwahlin wants to add buttons to automate deployment possibly using arm templates

[2020-05-28 06:16] DanWahlin commented on #36
Thanks @johnpapa. Whether it's through:

- ARM templates (pretty complex for people not familiar with them)
- JSON config included in the repo that follows a set schema
- A Github action from the market that uses the Azure CLI (once that part is ready)
- Or some other technique

....having the ability to automate the initial creation of the service through config would be a great way to have peopl

[2020-05-28 13:18] antonioberetini opened #37 "Custom domain or subdomain option for staging"
I just realized that it is not possible to map a subdomain to staging environment. This is very common and useful to help people find staging easily.

[2020-05-28 13:59] johnkors commented on #36
Hoping it would be even less cluttered than that. If you look at what the competition (Vercel, using AWS / Netlify using both AWS & Google) is doing, the infra is not even mentioned.

* Given that the service is "geographically distributed around the world", is region and the other azure specifics really relevant? Couldn't Azure just handle this instead?
* Can the branch trigger be solely a github

[2020-05-28 15:22] miwebst commented on #37
Hey @antonioberetini I think this may be a duplicate of this issue: https://github.com/Azure/static-web-apps/issues/22

[2020-05-28 15:25] antonioberetini commented on #37
You are right

[2020-05-28 15:28] antonioberetini commented on #37
You are right

[2020-05-28 17:17] m-sterspace commented on #22
In a related, but slightly different request, I would really like the ability to have dedicated/stable URLs for deployment slots. Being able to set them up with a custom domain and a cname record as well would be ideal, but I care less about that then just having a stable URL for a staging slot.

If you implement your own authentication for your application, either using the MSAL library or Auth0s

[2020-05-28 17:19] DanWahlin commented on #36
I agree - that would be even better. I based it on what's there as of today, but getting to the bare minimum would be the ultimate solution. Expanding the idea to potentially cover multiple Azure services could be useful too though.

For example, an Azure Functions or Azure Web App project could deploy directly from Github with the proper config. That really depends on if Azure as a whole is looki

[2020-05-28 18:47] #37 closed

[2020-05-28 18:48] miwebst commented on #26
@qmatteoq so ETags should be working now and if you push an update to your site then you should also see that the HEAD requests now contain the content length.

[2020-05-28 19:16] riverar commented on #26
Can confirm ETags are now quoted properly, HEAD Content-Length is non-zero, and ranged requests are working.

@qmatteoq Your appinstaller works now.

[2020-05-28 23:14] miwebst commented on #35
Yup this is an error on our end! We will get a fix out for this and I'll respond here when it is fixed :)

[2020-05-30 00:26] miwebst commented on #35
This should be fixed globally now

[2020-05-30 14:09] k-miyake opened #38 "JAMstack with Headless CMS is not supported"
In the JAMstack build workflow, it is not possible to get dynamic content from an external API and generate a static site.

Specifically, if I set the `repository_dispatch` as the trigger for GitHub Actions, `Azure/static-web-apps-deploy@v0.0.1-preview` will fail as shown in the screenshot. It's probably a JSON payload issue.

![image](https://user-images.githubusercontent.com/1104403/83330496-3d1

[2020-05-30 22:06] anthonychu commented on #32
@rahul-rxr Yes, @miwebst is correct. You should call a function to return a SAS that allows the client a limited time window to access the container. Take a look at the example here: https://github.com/sunrise-standup/sunrise-standup/blob/master/api/GetSASToken/index.js#L49 (Looks like there's a bug in the date calculation there, `86400` is in milliseconds, so the token is only good for a couple o

[2020-05-31 00:48] rahul-rxr commented on #32
Thanks guys, I will try it out and close the issue accordingly.

[2020-05-31 07:24] keesschollaart81 opened #39 "Api's proxy needs to pass thru 302"
Working on this example:
https://github.com/keesschollaart81/Contact-Form-With-Azure-Static-Web-Apps/blob/master/api/ContactForm/index.js#L25-L30

I discovered two things when working with a 302 response header.
1) It does not pass thru the header, instead (the reverse proxy?) returns the response of the redirected location
2) When you provide a wrong location, for example a relative url, it gives

[2020-05-31 22:44] aaronpowell commented on #38
Are you able to provide a GitHub repo as an example?

[2020-06-01 02:48] k-miyake commented on #38
The repo that have validated this Issue is here,
- https://github.com/k-miyake/vacd-jamstack

During Nuxt.js generate, it gets dynamic contents from Contentful API and generates static files.
As you can see in the workflow history below, it succeeds on the commit trigger, but fails on the repository dispatch(webhook) trigger.
- https://github.com/k-miyake/vacd-jamstack/actions

[2020-06-01 03:31] amykapernick commented on #35
Awesome, that's all working now!

Thanks

[2020-06-01 03:31] #35 closed

[2020-06-01 03:32] aaronpowell commented on #38
Thank @k-miyake

[2020-06-01 04:06] johnpapa opened #40 "Canceling Facebook Auth leads to error page"
Steps to reproduce:

1.  auth with facebook
1. click cancel (dont authorize fb)
1. it bring me to this page

![image](https://user-images.githubusercontent.com/1202528/83375005-7962d500-a39b-11ea-8b73-aece3784441d.png)

[code]

It should bring me back to my app

[2020-06-01 09:28] stephtr opened #41 "Files with special characters in their name not served"
First of all, thank you for your work, Azure Static Web App is exactly what I was waiting for!

When testing, I noticed, that files with special characters (like `[`, `]` (as being used by Next.js' dynamic routes) or umlauts) in their filename aren't being served. I have uploaded an example to https://white-island-0f55a8203.azurestaticapps.net/.

[2020-06-01 09:33] stephtr opened #42 "Possibility to enforce trailing slashes"
It would be nice, if one could enforce trailing slashes at least for specific urls. In my case I would like
to forward `/admin` to `/admin/`, but doing that via the `routes.json` file results in a redirection loop.

[2020-06-01 09:38] stephtr opened #43 "Azure portal app: "Login with GitHub" button not working"
I'm not sure whether this is the right place for this issue, but if I use the [Azure Portal app](https://portal.azure.com/App/Download) to create a new Static Web App, the "Login with GitHub" button isn't working.

[2020-06-01 16:10] miwebst commented on #39
We will take a look at this, do you have a sample app that is currently exhibiting this behavior?

[2020-06-01 17:30] keesschollaart81 commented on #39
The first link points to a simple contact form example. The code you'll find there does work locally but breaks in Azure. Specifically the linked lines (25-30). I have  fixed version working, the fix is not to redirect to a local URL (`/thanks`) but to a full url (`https://example.com/thanks.html`)

[2020-06-01 21:20] anthonychu commented on #39
I have an example here as well: https://github.com/anthonychu/test-aswa-api-redirect

This currently returns a 404 because the proxy is following the redirect and can't find `/thankyou.html`.

[code]

And this currently returns 200 because the proxy is following the redirect and returning the contents from `https://delightful-island-0d63ac010.azurestaticapps.net/thankyou.html`.

[code]

The expect

[2020-06-02 01:00] anthonychu commented on #42
I agree that this would be a nice feature. Often this comes up with default pages in subfolders that use relative URLs in links and access resources (like images) with relative URLs. Example:

If there's a file at `/foo/bar/index.html`, it can be accessed at all of the following locations:

* `/foo`
* `/foo/`
* `/foo/index.html`

If there are any relative URLs in the page, those URLs will not work

[2020-06-02 07:01] stephtr commented on #42
That's more or less exactly my use case.

[2020-06-02 16:41] mahmoudajawad opened #44 "Github Actions step fails to detect packages from private NPM registry"
Hello.

I'm giving SWA some advanced scenario where I've published a private package on Github Packages Registry in a repo I own, then I created an app repo that uses this package in it. Locally this is working very well with a `.npmrc` file that has a PAT issued with the correct scopes. However, SWA Actions step fails to detect the package is from another registry. I'm not sure why because `.npmr

[2020-06-03 01:30] miwebst commented on #39
This should be fixed globally now. Sorry for the inconvenience!

[2020-06-03 12:12] laurentbel commented on #5
Definitively needed !
Idea submitted here as well : https://feedback.azure.com/forums/169385-web-apps/suggestions/40521196-static-web-apps-support-for-generic-scm-and-ci-cd

[2020-06-03 15:46] davemurphysf commented on #44
I tried to get around this by creating a `.npmrc` file on the fly in the build command, but this does not work either
[code]

[2020-06-03 15:48] qmatteoq commented on #26
Hello @miwebst, unfortunately the problem seems to be still there, even if indeed something changed.
Now I'm getting a different kind of error:

![image](https://user-images.githubusercontent.com/1230332/83657757-8f51df00-a5c1-11ea-9581-967ca423203a.png)

However, the .appinstaller file is there, since I can download it if I use the direct URL. In the network trace below you can see the first requ

[2020-06-03 16:03] miwebst commented on #38
@k-miyake I'll take a look at this, thanks for reporting it!

[2020-06-03 16:37] johnkors commented on #36
Yeah, agreed. The whole ARM concept needs a diet for common scenarios like that.

I'd argue very few would _like_ to use ARM templates. ARM is used just because it's the only option we have to do what we need/want. Heck, even a company built a business around ARM being so hard to manage (https://www.pulumi.com/).  😂 If that is not telling for the Azure team, I'm not sure what is.

[2020-06-04 06:27] takekazuomi commented on #41
Also, Japanese characters aren't being served too. May be caused by URL escaped chars. Since URL escaping is a common feature, this issue is critical for hosting an existing static site.

https://gentle-sand-0f46f010f.azurestaticapps.net/

[2020-06-04 06:52] mahmoudajawad commented on #44
Nice thought @davemurphysf which asserts for some reason `npm` command in SWA step is ignoring `.npmrc` file completely.

[2020-06-04 09:37] sushruth opened #45 "Customization of auto-generated part of the azurestaticapps.net subdomain"
Can you please allow us to configure the auto-generated part of <auto-generated-string>.azurestaticapps.net subdomain?

[2020-06-05 00:02] miwebst commented on #44
So oryx has an environment variable that we can try, can you try adding this below the 'with' block for the build and deploy step? It might need quotes, haven't actually tried this out yet
      env:
        NPM_REGISTRY_URL: https://npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}

[2020-06-05 00:23] takekazuomi opened #46 "Default document not served when directory name contains a period."
If the directory name contains a period ".",  when accessing that directory not served default document (index.html).

1. /dot.dir/index.html is works fine.
2. /dot.dir/ is 404.

https://gentle-sand-0f46f010f.azurestaticapps.net/

Also, I cannot find a document with a filename that can be used as the default document.

[2020-06-05 18:08] miwebst commented on #46
Hi @takekazuomi, thanks for reporting this! We will take a look. As for right now we always look for index.html as our default document. It is not currently configurable.

[2020-06-05 18:19] justinyoo commented on #38
I have the same issue. When I trigger the GitHub Action workflow with the `repository_dispatch` event, it gets the error like the screenshot above. Both `push` and `pull_request` events are fine.

![image](https://user-images.githubusercontent.com/1538528/83909841-79e8da80-a7a4-11ea-8f6b-842ba46123a0.png)

[2020-06-05 18:39] miwebst commented on #38
Yes this is a bug. The Build and Deploy Github Action looks for some event data provided by Github, but I believe the repository dispatch event does not provide this. We are working on removing this dependency but it will take some time. For now we can make this error clearer until we have the proper support in place.

[2020-06-05 19:38] sushruth commented on #5
@anganti Is there any place we could track its progress?

[2020-06-05 23:52] k-miyake commented on #38
@miwebst Hopefully this will be fixed as soon as possible. If it's going to take a long time, it's better to note it in the documentation FAQ.

[2020-06-06 00:24] #39 closed

[2020-06-06 00:25] miwebst commented on #26
This should be fixed as we added range request support, I tried out the site and the installer was able to recognize the application. Let me know if you run into any more issues

[2020-06-06 01:19] justinyoo commented on #38
@miwebst Thank you!

Many use cases rely on the `repository_dispatch` event such as manual deployment, scheduled deployment that is not covered by the `schedule` event, or approval process using the other approach - ChatOps or GitOps.

It would be great if this bug gets fixed sooner rather than later.

[2020-06-06 01:48] justinyoo opened #47 "Using Configurations / Environment Variables without Functions"
Currently, when I deploy an app without API using Functions, I can't add environment variables to the `Configuration` blade. But while I've been playing around this feature, I found a couple of things for you to confirm.

1. I can add the environment variables, if I deploy an empty Functions (no endpoint, but runtime).
2. By adding environment variables to the `Configuration` blade, I expected tha

[2020-06-06 01:55] justinyoo opened #48 "Preventing Access to Certain Files - eg) appsettings.json"
I'm experimenting Blazor Web Assembly app with Azure Static Web Apps.

When I deploy the app, it uses `appsettings.json` for its configuration because apparently Blazor Web Assembly can't have access to the environment variables defined at the `Configuration` blade.

However, the problem is that I can see the `appsettings.json` file by manually entering it on a browser. For example, when I type `h

[2020-06-06 02:21] anganti commented on #48
Thank you @justinyoo for trying out Static Web Apps.

You could use routes.json and authentication techniques provided by the service to protect this sensitive file.

This is great feedback as we work towards enabling blazor web assembly officially. We will try provide better ways to deal with the appsettings.json and its contents @dariagrigoriu

[2020-06-06 02:38] danroth27 commented on #48
@justinyoo Blazor WebAssembly apps are client-side apps that are downloaded by the browser and run on the client machine. To expose configuration data to the Blazor WebAssembly it it needs to be retrievable by the app. The appsettings.json file in a Blazor WebAssembly app is used for this purpose. The app retrieves this config file and reads it, which means that anyone else could do the same thing

[2020-06-06 02:55] anganti commented on #48
Thanks @danroth27 for chiming in.

@justinyoo The option you might have already explored is to store appSettings(secrets) on Functions and retrieve them on the client-side as needed. Understand these will still show up on the client in network traffic. To completely hide the values you would have to move the sensitive logic to functions or proxy calls via functions.

Hope it helps.

[2020-06-06 02:57] anganti commented on #47
Please refer to the comments in #48

[2020-06-06 06:24] justinyoo commented on #48
Thanks @anganti @danroth27 for clarifying that! I'll take more look at the `routes.json` whether it can prevent access to `appsettings.json` from the public or not.

[2020-06-06 06:53] justinyoo commented on #48
Now I understand the routing mechanism. `routes.json` can't prevent access to physical files.

[2020-06-06 09:23] marcpiechura commented on #15
Hi,

looking forward to this improvement!
Will this be language dependent or will it work for any .Net binary, i.e. F# based functions?

Thanks

[2020-06-07 07:25] vishwanath-uppala opened #49 "GitHub Action 'Build and Deploy' fails for staging"
The build and deploy action fails with below error while deploying changes to staging environment in azure static web apps.
Error message:
The content server has rejected the request with: BadRequest
Reason: No matching static site was found or the api key was invalid.

[2020-06-07 12:15] chrisbinney opened #50 "platformErrorOverrides "Unauthenticated" error type not redirecting to provided route"
I may have misunderstood something, but  it appears that the "Unauthenticated" error type doesn't work as documented [here](https://docs.microsoft.com/en-us/azure/static-web-apps/routes).

The explanation below the example route file says that unauthenticated users will redirect to the /login route. When I set up an app like that and navigate to the /profile route, instead of redirecting to the /l

[2020-06-07 13:00] qmatteoq commented on #26
Awesome, thanks @miwebst ! I confirm that range request support was the missing feature for my scenario. Now everything is working as expected. Feel free to close the issue. Thanks!

[2020-06-07 18:28] riverar commented on #26
When I said it was working 10 days ago, I verified ranged support was already present. So what changed?

[2020-06-07 22:15] miwebst commented on #26
We added range request support :) it was missing before. Closing this issue.

[2020-06-07 22:15] #26 closed

[2020-06-07 22:16] miwebst commented on #48
This should be possible using the shared auth experience that we have today. What is your desired scenario?

[2020-06-07 22:18] miwebst commented on #49
If this is a public Github repo can you provide a url to the failed action? Are you deploying to the staging environment through a pull request?

[2020-06-07 22:33] miwebst commented on #50
Hi @chrisbinney, thanks for trying this out!
I took a look at your repository and I believe the confusion is because the platform error overrides does not rerun the route rules, so your override is looking for a login.html file that does not exist.

To get this working for you, I'd suggest adding a 302 redirect to /login for your case. You can just add a line to the unauthenticated platform error

[2020-06-07 23:26] riverar commented on #26
@miwebst I hand verified/confirmed this, so something isn't right here. Was this perhaps deployed May 28 and took a while to trickle out and I just got lucky hitting an updated node?

[2020-06-08 05:03] wisdeom commented on #38
I'm also having the same problem with this. Would much appreciate for the fix.

[2020-06-08 07:48] dariagrigoriu commented on #13
Thank you for the feedback, we will update on Azure CLI progress.

[2020-06-08 12:12] Misiu commented on #41
same with files that contain space in the name (shown in @takekazuomi example)
This works without a problem with other hosting providers but not here.

[2020-06-08 12:39] Misiu opened #51 "Allow setting expires headers, use browser caching and improve gtmetrics results"
I have a GatsbyJS site that I tested with Azure Static Web Apps.
I've tested both versions with GTMetrics.
On the left is the version using Azure Static Web Apps and on right my old version (running on Apache). Currently, the code on both sites is identical.

![image](https://user-images.githubusercontent.com/1741838/84030710-c5fa7180-a994-11ea-97c7-c55b564f07bf.png)
![image](https://user-images.g

[2020-06-08 13:14] benc-uk opened #52 "routes.json just stopped working"
Our project was using routes.json fine, then for no reason they have stopped working.
There's nothing clever in there, just a single route now, but it is never picked up.

https://github.com/benc-uk/taskr/blob/master/public/routes.json

In the build logs I can see it being detected and validated ok
https://github.com/benc-uk/taskr/runs/750508642?check_suite_focus=true#step:4:211

How are routes.js

[2020-06-08 14:55] chrisbinney commented on #50
Thanks @miwebst!

As you suggested, I added the `"statusCode": 301` to the "Unauthenticated" override and that did do the redirect to login! However, if I subsequently try and access the /profile route, it briefly navigates to /.auth/login/done and then back to the root "/". I can't access /profile at all.

It looks as if the the "Unauthenticated" redirect is still occurring even though the user h

[2020-06-08 15:34] miwebst commented on #51
We are working on adding custom headers, you can see that in this issue: https://github.com/Azure/static-web-apps/issues/2

As for the increased size that does seem strange, could this be related to the type of compression? We dont have brotli support right now.

[2020-06-08 15:36] benc-uk commented on #52
Tried deleting the static web app in Azure and redeployed it, and the same problem

Has the format of the routes.json file changed? Is anyone else affected?

[2020-06-08 15:54] benc-uk commented on #52
And now mysteriously it's sprung back into life
😱

[2020-06-08 16:27] benc-uk commented on #52
Seems like 301 redirects work ok but other routes will not, e.g.

[code]
(Note. I know JSONC probably isn't supported but comments in the JSON was clearest way of illustrating my point)

[2020-06-08 16:53] miwebst commented on #52
Hey @benc-uk , thanks for trying this out!

Can you provide more info the behavior you are seeing? Is it giving you a 404?

I would expect this route to work:
`    {
      "route": "/wibble",
      "serve": "/foo.html",
      "statusCode": 301
    },`

I believe we ignore the 'serve' field on redirects. What is the behavior for this route?

[2020-06-08 17:12] benc-uk commented on #52
{
  "routes": [
    // This works
    {
      "route": "/test-folder-200",
      "serve": "/test",
      "statusCode": 200
    },

    // This DOES NOT work (404 result)
    {
      "route": "/test-api-200",
      "serve": "/api/debugger",
      "statusCode": 200
    },

    // This works
    {
      "route": "/twitter-login-200",
      "serve": "/.auth/login/twitter",
      "statusCode": 200

[2020-06-08 17:20] benc-uk commented on #52
Tried escaping the question mark, e.g.
[code]
It still results in a 404

[2020-06-08 18:16] mkarmark commented on #52
Hi @benc-uk,

Our service currently does not support query string parameters appended to the paths assigned to the "serve" variable in the routes file. The values should strictly be paths present in the static web app.

As for the wibble --> foo.html route, I notice that the rule is no longer present in the repo. I would expect that rule to work without a problem, so would it be possible to add th

[2020-06-08 18:23] mkarmark commented on #52
Regarding the rule
[code]

Could we please get some context for why you would rather have the path route to the function rather than redirect to the function? We currently don't support routing _to_ functions but we can add support for that if there is an ask.

[2020-06-08 18:39] mkarmark commented on #50
Hi @chrisbinney,

I hit the following endpoints in the order listed to get the following results:

1. Hit /.auth/me --> I was not logged in, so I saw clientPrincipal: null
2. Hit /profile --> Because I was not logged in, I did not match with the /profile rule. In fact I didn't match with the other two rules either, so got the platform error "Unauthorized". Because there was the "Unauthorized" plat

[2020-06-08 20:07] chrisbinney commented on #50
1-3 are the same for me, but for step 4 I get a different result:

When I navigate to /profile, I don't see the desired content. Instead, it redirects to identity.azurestaticapps.net/.auth/login/done and then back to /.

Curiously, if I open the developer tools then navigation seems to work as expected (this is in Chrome btw).

I've attached a video that shows the issue I'm having.

[Static Wen Ap

[2020-06-08 20:21] Misiu commented on #51
@miwebst that might be brotli.
My current website is returning `x-content-encoding-over-network: br` but Azure Static Web Apps is returning `x-content-encoding-over-network: gzip`
When can we expect brotli? Is there an issue for that?

Looking forward to those customer headers :) they will address first two of my list, but what about `cookie-free domains`? Ideally, site hosted on Azure Static Web

[2020-06-08 21:24] benc-uk commented on #52
I've tried so many things I don't recall if the **wibble --> foo.html** route worked, I suspect that one might have been user error

I think we've got to the bottom of this, it's a case of the two things I was trying to do and testing with, were an exact overlap with two things not supported by the service.

I suggest making [the docs clearer](https://docs.microsoft.com/en-gb/azure/static-web-apps

[2020-06-08 23:26] mkarmark commented on #50
So I double checked that everything is working for me from your site even with developer tools not open (both in incognito and non-incognito). However, the fact that everything worked with developer tools open likely means that your developer tools window had "disable cache" checked, and the bad behavior was a result of us caching the old behavior at /purge. After some time now, I would expect the

[2020-06-09 00:37] justinyoo commented on #48
@miwebst I'm deploying my Blazor Web Assembly app to Azure Static Web App (ASWA).

As of today, ASWA (preview) supports JavaScript-based static web apps, not web assembly-based ones. Therefore, to get my Blazor app working, I have to include both `appsettings.json` and `routes.json` to my app, which is not supposed to open to public access.

Based on this [doc](https://docs.microsoft.com/azure/sta

[2020-06-09 01:30] miwebst commented on #41
This should be fixed now! Let us know if you have any more issues with special characters.

[2020-06-09 01:31] miwebst commented on #46
This should be fixed now. Please let us know if the issue persists.

[2020-06-09 01:36] miwebst commented on #45
Hi @sushruth

This is not supported. Please use a custom domain for this purpose.

[2020-06-09 01:52] takekazuomi commented on #46
It works fine now. Thank You for your great job.

[2020-06-09 01:54] sushruth commented on #45
Hope this will be supported soon.

[2020-06-09 01:54] #45 closed

[2020-06-09 01:55] takekazuomi commented on #41
It works fine now. quick job great!

[2020-06-09 05:09] LiserLine opened #53 "Failure during content distribution"
Hi,

Im trying to deploy my static website but the following error occurs in the "Build and Deploy" stage:

_Failure during content distribution_

I added new files/folders in the example repository ([docs](https://docs.microsoft.com/pt-br/azure/static-web-apps/getting-started?tabs=angular#create-a-repository))... I don't know if some files cannot be there (didn't find any info in the docs). I'm m

[2020-06-09 06:27] stephtr commented on #41
Thank you!
Since all my special character related issues are now solved and takekazuomi's test case is also working, I think it should be fine.

[2020-06-09 06:27] #41 closed

[2020-06-09 07:54] sinedied commented on #2
Besides adding custom headers, removing default headers should be supported too:
![image](https://user-images.githubusercontent.com/593151/84121155-0e6a6b80-aa37-11ea-9bf4-a931e300ccef.png)
While it's nice to have such security options enabled by default, I would really like being to tune them as needed.

[2020-06-09 08:23] #46 closed

[2020-06-09 11:23] craigshoemaker commented on #50
@miwebst - I updated the route rule in the example to include the 301 redirect.

[2020-06-09 12:45] vishwanath-uppala commented on #49
yes, I'm deploying using pull request to staging environment.
Public Repo URL - https://github.com/vishwanath-uppala/my-first-static-web-app/

[2020-06-09 13:29] chrisbinney commented on #50
Thank you for looking into this.

Just checked again and the problem is still there. However, I've tested it in Edge and it works as expected and I'm able to access the content at /profile. I installed a fresh copy of Firefox to test it and I see the issue in that browser too.

Just to see what would happen, I also tried changing the authentication provider to /.auth/login/aad, and I can still see

[2020-06-09 19:03] miwebst commented on #49
So I see that you've modified your workflow file to accept the staging branch as well, you won't need to do that. All you need to do is create a pull request from some branch to the branch that your Static Web App is linked to.

For example, I see in the sample repo that your app is linked to master, you could create a quick staging environment by editing the readme in Github, then before committi

[2020-06-09 21:36] richardw16 opened #54 "vuepress deployment github action fails with oryx syntax error"
Following https://docs.microsoft.com/en-us/azure/static-web-apps/publish-vuepress

Azure Static Web Apps CI/CD / Build and Deploy Job (Azure/static-web-apps-deploy@v0.0.1-preview) fails with SyntaxError:
![vuepress](https://user-images.githubusercontent.com/64897108/84203459-c20c4380-aaa9-11ea-9f24-3241a51bad91.PNG)

[2020-06-10 00:39] miwebst commented on #48
So you can prevent access to particular files with routing rules like this:
`{
      "route": "/appsettings.json",
      "serve": "/",
      "statusCode": 301
    },`

This will redirect anyone asking for this file back to the root of your application.

[2020-06-10 00:54] miwebst commented on #54
@kichalla can you take a look?

[2020-06-10 01:01] justinyoo commented on #48
And it will have consequences. So be mindful of using the `rouets.json` that @miwebst suggests above!

I'll close this issue now.

[2020-06-10 01:01] #48 closed

[2020-06-10 01:56] LiserLine commented on #53
"Solved" the problem by deleting all libraries (**vendor** folder) and using CDNs instead.

Could't find a reason why this works...

[2020-06-10 09:07] ricksterhd123 commented on #43
same

[2020-06-10 15:33] georgechang opened #55 "Support for x11 in GitHub Action build container"
I'm using [Mermaid.js](https://mermaid-js.github.io/) on a Gatsby site and to render the charts, it uses [Puppeteer](https://developers.google.com/web/tools/puppeteer) which has a dependency on the x11 library in Linux. Currently it doesn't look like the container where the static web apps get built has that package installed - is this something that can be included in the standard build container

[2020-06-11 12:19] chrisbinney commented on #50
@miwebst , I just re-read the initial reply and I realized what's happened. In the text of your reply you suggest using a 302 but your example was to add a "statusCode": 301 line to the routes.json file. I worked off the latter. If I change it to a 302, then the browser, of course, doesn't cache as it's a temporary redirect. So that solves the problem.

WFIW In the longer term it seems like a good

[2020-06-11 13:48] magnus-hansson opened #56 "CosmosDb binding"
I wonder if it should be possible to create a function with a cosmosDBbinding with Static web apps at the moment?

I get this error message when I try add a cosmosDB binding to a function:

Error in processing api build artifacts: the file 'products-post/function.json' does not specify a valid function with only HTTP triggers and bindings. Please ensure the JSON contains a single httpTrigger input

[2020-06-11 16:19] miwebst commented on #50
@craigshoemaker we should probably make it 302 as it seems like 301 causes a caching issue. We should also make a note on the platform error overrides doc to make it clear that we will not rerun the routing rules here but are looking for the path to the content to serve.

[2020-06-11 16:44] joslinmicrosoft commented on #56
Hi @magnus-hansson,

This error shouldn't be happening. Are you able to provide the repository URL or the Github Action run that printed this error so we can take a look? Thank you!

[2020-06-11 16:52] joslinmicrosoft commented on #53
Hi @LiserLine,

We had a deployment bug that has been identified, and the fix will be applied the next time we upgrade the platform. Thank you for reporting the issue, and for using Static Web Apps!

[2020-06-11 18:19] craigshoemaker commented on #50
@miwebst - done

[2020-06-11 19:51] mcbeev opened #57 "HTTP 416 Error with Index.html in a Static Web App"
Content hosted from the Azure Static Web App service seems to have an issue with being validated by [LinkedIn's Post Inspector](https://www.linkedin.com/post-inspector/). Their tool calls out a HTTP 416 response code from any page I test it with. I have used the same exact static html from my ASWA that runs at ([http://symcheck.io/](http://symcheck.io/)) on an IIS site and it works perfectly on th

[2020-06-11 20:14] akzaidi opened #58 "Restrict Access to Authenticated Users"
## What I'm trying to do

I have a static web app that consists solely of a collection of static html which I am generating using the [`bookdown`](https://github.com/rstudio/bookdown) package.

I'd like to restrict usage to only those users that I've invited using the `Role management` blade in the static app's portal page.

I have the following `routes.json` configuration:

[code]

This seems to

[2020-06-11 23:53] mkarmark commented on #58
Hi @akzaidi,

First of all, thank you for trying out Azure Static Web Apps!

1. Two things here: you can ensure that all users are logged in only through GitHub by blocking other authorization providers as shown in the docs https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization#block-an-authorization-provider:
[code]
Further, "authenticated" is the role that a user has

[2020-06-12 04:24] akzaidi commented on #58
Thank you @mkarmark for the super helpful and speedy reply!

After re-ordering the routes it looks like I'm good to go! I ended up defining a routes schema that looks like the following, and looks like it's working!

[code]

Any recommendations on how to make static web apps available to more than 25 invited users? Our goal is to make the webpages available for our entire team, which has around 12

[2020-06-12 19:30] mkarmark commented on #57
Hi @mcbeev

First of all, thanks for using Azure Static Web Apps.

We have identified the issue, and are currently working on a fix for it. It should be out soon.

Thanks for bringing this to our attention!

[2020-06-12 21:50] mkarmark commented on #58
We appreciate the feedback! We are using restricted quotas during preview to try and gauge customer need. These quotas may change during preview based on the needs we see, so thanks for your feedback!

[2020-06-12 21:51] mkarmark commented on #40
Hi @johnpapa,

Thanks for using Azure Static Web Apps! We have identified the issues, and are working on a fix, which should be out soon!

[2020-06-12 22:30] akzaidi commented on #58
Thanks for the reply! I'll reach out again if I can't find a workaround for the quota.
Really happy with the service so far!

[2020-06-12 22:30] #58 closed

[2020-06-12 23:24] anthonychu commented on #56
@magnus-hansson Change your GitHub action to use `@latest`, like this: https://github.com/anthonychu/static-web-apps-chat/blob/master/.github/workflows/azure-static-web-apps-nice-grass-061cac810.yml#L21

[2020-06-12 23:27] davemurphysf commented on #44
No luck for me.  I tried using quotes and no quotes on the value of the environment variable `NPM_REGISTRY_URL`.  I also tried using a generated PAT instead of the `GITHUB_TOKEN`.  I also tried to do the build first and disable Oryx from building via `DISABLE_NODEJS_BUILD: true` but then it complained that it could not determine the project type.

Here is my action yaml:
[code]

Raw Log Output
[co

[2020-06-13 00:45] joslinmicrosoft commented on #56
@anthonychu we had fixed this issue a while ago, so using `@v0.0.1-preview` should work fine (I've tested it out on a copy of your site above).

@magnus-hansson can you confirm that your workflow file has the line `uses: Azure/static-web-apps-deploy@v0.0.1-preview`?

[2020-06-14 15:24] justinyoo opened #59 "Can I prevent API access from external source?"
Hi, Team.

I've added an API endpoint that is accessible from the static web app instance. Now I can call the API endpoint like:

[code]

Now, I want to secure the API endpoint from outside. I only want to call the API from the static web app side. However, I can directly call the API like:

[code]

It's not desirable because the static web app instance shouldn't include the function auth key - me

[2020-06-15 13:03] richardrobberse commented on #2
I agree, I'm now building an app that requires geolocation access but this is disabled by default :(
I guess there's no way to get around this, right?

[2020-06-15 15:34] miwebst commented on #2
Yes currently there is no way around them, our support for custom headers got delayed slightly but is still on the way. In the meantime we will soften our default security headers to avoid causing issues for you all!

[2020-06-15 15:43] alexangas opened #60 "Unable to change source branch"
I recently changed the default branch for my project, and would like to update this in the Static Web App as well. This appears to be easily done in the GitHub Action YAML however I couldn't find anything on the Azure Portal side.

Will I need to delete and recreate it, or change the default branch back to a name that matches the Static Web App? Or is there an option somewhere to update that sourc

[2020-06-15 16:03] miwebst commented on #44
@kichalla any ideas here?

[2020-06-15 16:05] miwebst commented on #60
Right now delete and recreate is the only way to go, we are working on improving the flexibility around this! We appreciate your feedback and thanks for trying out the product.

[2020-06-15 16:09] miwebst commented on #52
@craigshoemaker can you take a look at the docs feedback and work with @mkarmark to call out our limitations?

[2020-06-15 16:10] #50 closed

[2020-06-15 16:12] alexangas commented on #60
OK, and thanks for getting back to me so fast.

Feel free to keep this issue open if it helps for tracking, otherwise I'll keep an eye out for this in the future!

[2020-06-15 17:06] miwebst commented on #59
So the "static web app" side here means that its your customer's browser making the request. There is no way for the function to differentiate the caller. What is the reason you are trying to lock down access to the api through your static web app domain?

[2020-06-15 17:55] mkarmark commented on #23
Each static web app can have a max of 25 invited users (users with specific roles). There is no limit on how many users can simply sign into the app with the "authenticated" role. @craigshoemaker, could please we clarify this in the docs?

[2020-06-15 18:44] richardrobberse commented on #2
@miwebst good to hear it's on the roadmap!
Does 'soften our default security headers' mean that you'll allow geolocation access at least for the 'self' scope or are they already 'softened' at the moment?

[2020-06-15 19:27] craigshoemaker commented on #52
@miwebst - done

[2020-06-16 00:31] miwebst commented on #38
This should be fixed now, please let us know if you continue to run into this issue!

[2020-06-16 04:09] anganti commented on #59
@justinyoo can't you just use the "function" authlevel instead of "anonymous". This should work. Am I missing something here?

[2020-06-16 06:24] k-miyake commented on #38
@miwebst
The `repository_dispatch` trigger makes it possible for me to build and deploy successfully has been checked.
Here's the GitHub Actions log.
https://github.com/k-miyake/vacd-jamstack/runs/775400365?check_suite_focus=true

Thanks for the quick fix. Great job!

[2020-06-16 15:05] justinyoo commented on #59
@miwebst One of the reasons using the proxy API is to hide sensitive information like API key from the public access. Let's say that I have a static web app instance, `https://snow-piercer-1234.azurestaticapps.net` and its proxy API endpoint of `/api/hello`.

The static web app only calls the proxy API within the browser. It knows nothing about the external API details, which is good. But, WITHIN

[2020-06-16 15:13] justinyoo commented on #59
If I put API Management between the proxy API and external API, it may solve my concern. But, is this the only way to figure out the issue?

[2020-06-16 15:26] simonaco opened #61 "Cannot set FUNCTIONS_WORKER_RUNTIME"
Originally reported by @panesofglass

Describe the bug
When I try to set a configuration setting for FUNCTIONS_WORKER_RUNTIME to python, I am allowed to save it and see that it saved successfully. However, when I refresh it, the value is removed. This happens in any environment configuration.

To Reproduce
Steps to reproduce the behavior:

Go to Azure Portal
Go to the Configuration pane
Add a new

[2020-06-16 15:27] simonaco opened #62 "Support more Azure Function languages"
Originally reported by @panesofglass
Is your feature request related to a problem? Please describe.
I am surprised only node Azure Functions are supported. The build results are unclear when attempting to use something else, e.g. dotnet or python. In the former case I got an error, and in the latter, Oryx thought the python function app was already built, so it succeeded but without enabling the f

[2020-06-16 15:32] MarkXA commented on #59
If the information shouldn't be available to the public, you need to authenticate users via OAuth first (https://docs.microsoft.com/azure/static-web-apps/authentication-authorization) and then your API should validate that they're authorised (https://docs.microsoft.com/en-us/azure/static-web-apps/user-information).

[2020-06-17 08:25] justinyoo commented on #59
@MarkXA Yeah, that's one way. But I have a different use case. The static web app itself is public facing, but want to keep the proxy API from being abused. As @miwebst mentioned, if it can't be done on the app instance itself, I should find another way outside the app.

[2020-06-17 10:43] MarkXA commented on #59
Well it depends on your definition of "abused", but if for some reason you absolutely have to prevent any access to the API at all, and adding authentication won't prevent the abuse, then Static Web Apps isn't for you and you'll need to use a traditional web server. The whole point of a static app is that there is no web server, the files are just hosted on a CDN and all API access is performed by

[2020-06-17 13:15] simonaco opened #63 "Allow more than one staging environment"
Originally reported by @panesofglass

Is your feature request related to a problem? Please describe.
It's nice that Static Apps will generate a staging environment, but limiting it to one and failing builds as a result of having multiple, outstanding PRs is frustrating.

Describe the solution you'd like
Don't fail a build due to limited environments. Post a comment on the successful build noting t

[2020-06-17 13:18] simonaco opened #64 "Error when deleting preview site before deleting PR"
Originally reported by @MarkXA

Describe the bug
If you delete a PR preview site in the portal and then close the PR, the CD pipeline fails when it tries to remove the (now non-existent) preview.

To Reproduce
Steps to reproduce the behavior:

Create a PR in GitHub.
When the preview site has been created, delete it in the portal.
Close the PR in GitHub.
The deployment pipeline fails with an error:

[2020-06-17 13:19] simonaco opened #65 "Add proxy support"
Originally reported by @MarkXA

Is your feature request related to a problem? Please describe.
One of my static sites allows users to subscribe to a calendar at /events.ics. This URL is proxied through to https://uglyblobstorage.url/container/events.ics, which is regularly updated by an Azure Function on a timer trigger. It would be good to be able to do this in Static Web Apps.

Describe the solu

[2020-06-17 13:23] simonaco opened #66 "Option to add extra HTTP response headers"
Originally reported by @liprec

Is your feature request related to a problem? Please describe.
Currently there is no option to set additional HTTP response headers like CSP headers or X-Content-Type-Options. Scanning via https://securityheaders.com/ or WebHint (https://webhint.io/docs/user-guide/hints/hint-x-content-type-options/) results in several security remarks.

Describe the solution you'd l

[2020-06-17 13:25] simonaco opened #67 "Add alternative domain validation for custom domain"
Originally reported by @liprec

Is your feature request related to a problem? Please describe.
To add a custom domain to the Azure Static Web App service you need to add a CNAME record for the custom (sub)domain that points to the *.azurestaticapps.net URL to validate the ownership of the domain.
If you want to move your current production site to the Azure Static Web App service this validation a

[2020-06-17 13:29] simonaco opened #68 "Reuse of existing GitHub workflows/secrets"
Originally reported by @liprec

Is your feature request related to a problem? Please describe.
Created multiple times an Azure Static Web App and linked it to the same GitHub repo due to #18, and each time copy + pasted the old workflow definition to the new one and replace the secret variable to get it working.

Describe the solution you'd like
During the configuration of the Azure Static Web App

[2020-06-17 13:55] pascallo commented on #34
Hey,
thank you guys! I was also having trouble with this. Took me some time to find the solution here, but finally I could solve my issue. To understand a problem resulting from different behavior in local debugging and remote deployment is very time consuming for now.
So just wanted to say thank you to both of you and add support to m-sterspace suggestion: A hint in the documentation / a list wou

[2020-06-17 14:58] justinyoo commented on #59
@MarkXA Yeah, your second paragraph is what I asked originally. ASWA itself can't block the API access. I get that. My ask was different. It's more architectural issue.

Netlify is able to hide the function/proxy from the public visibility: https://docs.netlify.com/functions/configure-and-deploy/#configure-the-functions-folder

Netlify uses AWS Lambda for their API proxy feature - meaning their AP

[2020-06-17 15:57] miwebst commented on #59
Ah I see, I think there might be a small disconnect here. @justinyoo the link you posted above is essentially saying if you use Lambda's then the Lambda source code is not accessible unless you include it in your sites published content.

ASWA works similarly. We build your Azure Functions separately from your static content and as a result then only way for your Function source code to become pub

[2020-06-17 18:41] miwebst commented on #66
https://github.com/Azure/static-web-apps/issues/2

[2020-06-17 23:47] justinyoo commented on #59
Oops. That's what it meant.

Sooo, it's impossible to block random access from public to the proxy API, like everyone says, because it's not what ASWA does for?

[2020-06-18 11:53] aelgasser opened #69 "The portal doesn't always warn for unsaved data in Application Settings"
I was working with Application Settings and found that it doesn't persist them until you click **Save** (see my other issue in the docs section https://github.com/MicrosoftDocs/azure-docs/issues/57341).

Although when clicking on **Refresh** (once I saw that toolbar on top :-) ) it shows this warning, which is a good thing:

![image](https://user-images.githubusercontent.com/3692722/85016467-11b5d

[2020-06-18 12:04] aelgasser opened #70 "The Application Settings page is sometimes unresponsive"
The Application Settings page often becomes unresponsive after loading the initial settings. As you see below my settings are loaded (blurred the sensitive ones) but I can't click on **Add**, **Show values** or **Advanced edit**.

![image](https://user-images.githubusercontent.com/3692722/85017100-3c545c00-b16b-11ea-9b4f-0bdf7ba13881.png)

I just traced the network activity on the tab (running Edg

[2020-06-18 15:33] jasoncabot-ms opened #71 "Deployments are failing due to 'An error occurred during deployment'"
I have two seperate repositories, two seperate static web app resources. The code is identical in the two repositories (the second is a clone of the first).

For both of these repositories I am able to build but not deploy the code, here are the build/deploy logs with the failure:

one: https://github.com/jasoncabot-ms/divineflavours-webapp/runs/784852058?check_suite_focus=true#step:4:222
two: htt

[2020-06-18 16:26] aelgasser commented on #71
So I'm not the only one experiencing this.

My function doesn't show up anymore in the portal and when I try to invoke it with Postman I'm receiving '503 Service Unavailable" as a response.

[2020-06-18 22:35] jmcaree commented on #71
I'm having the same issue, I've been just trying to get my first static web app with a function deployed to Azure today, following with a few of the walkthroughs. A React app cloned from the [template repo](https://github.com/staticwebdev/react-basic) deploys to Azure fine:
https://github.com/jmcaree/afreact/actions/runs/140175487

But a basic app with an Azure Function cloned from the [Vanilla Ap

[2020-06-19 04:53] shawntoffel opened #72 "Route containing plus sign '+' returns 404"
One of my hugo generated blogs currently hosted in Azure blob storage allows authors to specify their own tags for grouping posts. One of the tags happens to be "A+" which results in a URL such as https://contoso.com/tags/A+/

Hosted via Azure Static Web Apps this URL returns a 404 HTTP status code with content: "The resource you are looking for has been removed, had its name changed, or is tempor

[2020-06-19 08:18] jasoncabot-ms commented on #71
I'm not sure if it's just a coincidence but I saw an annotation added on the workflow run that `repo_token` was an invalid option to pass to the action.

I commented it out from the action and now the action seems to be building and deploying correctly again.

https://github.com/jasoncabot-ms/divine-flavours/commit/c28044c9f34982769ac84c81d750e50084eb2812#diff-43750e28cedb6a52a257c926b957b9c9

htt

[2020-06-19 11:10] aelgasser commented on #71
@jasoncabot-ms, I don't think so (or maybe you were having another issue).

I tried redeploying my repo earlier (3 hours ago) and it deployed successfully. I did nothing more than re-run the github action which was failing yesterday

[2020-06-19 11:14] jmcaree commented on #71
This has fixed my issue also, commenting out the repo token has allowed my app to deploy through the GitHub action.

[2020-06-19 18:34] miwebst commented on #71
Sorry for the confusion here, we have created an observability work item to make this issue more apparent. This deployment issue was caused by an issue with Azure Functions in West Europe yesterday. We fixed the issue which may be why commenting out the repo_token looked like the correct mitigation, but it was most likely unrelated.

We apologize for the inconvenience and are figuring out the best

[2020-06-19 18:45] aelgasser commented on #71
@miwebst, So that probably explains my other issue #70 as well, as I saw in the network trace it was failing on a "fetchFunctions" API call. I had no issues today.

[2020-06-19 18:48] miwebst commented on #71
Yes that would be the cause. This is good to note, we can improve our Azure Portal experience as well to give more information if any outage occurs.

[2020-06-19 19:16] aelgasser commented on #71
@miwebst look at #69 then as well, re the portal experience :-)

[2020-06-19 19:25] aelgasser commented on #70
This issue as most likely confirmed to have been caused by an outage on Azure Functions in West Europe as described by https://github.com/Azure/static-web-apps/issues/71#issuecomment-646808818

I'm leaving the issue open as a reminder to improve the experience on the portal if it occurs again (see https://github.com/Azure/static-web-apps/issues/71#issuecomment-646814188)

[2020-06-20 13:53] luchsamapparat commented on #44
I have a theory. It seems that sometime during the build, Orxy copies the package.json to another directory to only install the production dependencies:

https://github.com/microsoft/Oryx/blob/master/src/BuildScriptGenerator/Node/NodeBashBuildSnippet.sh.tpl#L45

I stumbled upon this because I have a `postinstall` scripts that executes a JS file in my project. However, because the `package.json` is

[2020-06-20 16:33] miwebst commented on #59
So you can't restrict your api calls to just the browser running your application. This is because there isnt really anything unique about your app running in the browser compared to a different http client. You can restrict access by using Roles, but this will restrict the api to a subset of users which may not be your desired solution.

[2020-06-20 17:27] polterguy opened #73 "Failed to find a default file in the app artifacts folder error"
Regardless of what I do, I end up with the following error code as I try to execute my GitHub workflow.

[code]

I have tried changing the workflow file, even explicitly trying to `npm run-script build` before the action `- name: Build And Deploy`

My app isn't really that special. It's an Angular frontend, static files, and I created it using the _"Static Web app wizard"_ through Azure. Can someb

[2020-06-20 17:59] miwebst commented on #73
Here is an example that has configurations for angular: https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=angular

[2020-06-20 18:19] polterguy commented on #73
Thx, but I have already gone through that wizard many times, without luck. I've tried changing the `app_artifact_location` setting, I have tried building the site before running `Azure/static-web-apps-deploy`, etc, etc, etc.

My site is really simple, and it successfully builds _locally_ if I use `npm run-script build`, at which it puts the output into a `dist` folder, where I can clearly see an `

[2020-06-20 18:21] miwebst commented on #73
Can you share your workflow file configuration and sample Github Action log?

[2020-06-20 18:23] polterguy commented on #73
[code]

[2020-06-20 18:25] polterguy commented on #73
And log below ...

2020-06-20T18:12:26.9118441Z ##[section]Starting: Request a runner to run this job
2020-06-20T18:12:27.2455453Z Can't find any online and idle self-hosted runner in current repository that matches the required labels: 'ubuntu-latest'
2020-06-20T18:12:27.2455502Z Can't find any online and idle self-hosted runner in current repository's account/organization that matches the requir

[2020-06-20 18:28] miwebst commented on #73
Thank you. So most angular apps will actually put the built application in "dist/<name of angular app", is that not the case for your app? If it is just putting the published application in the "dist" folder then there is a chance that the trailing '/' could be throwing things off but that seems unlikely.

[2020-06-20 18:37] polterguy commented on #73
Hallelujah man :)

10 points to you. VS Code was playing _"tricks"_ on me. As I expanded the _"dist/"_ folder, it expanded into my app's name folder too - Works like a charm now :)

Ask your boss for a raise man, and let him know I think you deserve it ... ^_^

[Psst](https://polite-desert-0ec194e03.azurestaticapps.net/)

Of course, I still need to configure the DNS, and connect to my API, but tha

[2020-06-20 18:37] #73 closed

[2020-06-20 18:42] polterguy opened #74 "How to configure YAML to use environment.prod.ts instead of dev settings ...?"
Thank you for amazing previous support, but I have one more question - Which basically is completely encapsulated in the header ... :)

[2020-06-20 18:46] polterguy commented on #74
Never mind, pretty sure I found out of it. It's the `app_build_command: ng build --prod` thing, right ...?

[2020-06-20 18:49] polterguy commented on #74
Actually, it wasn't ... :/

[2020-06-20 19:56] polterguy commented on #74
In case somebody else sees this, the following did the trick ...

[code]

Inside of `uses: Azure/static-web-apps-deploy@v0.0.1-preview` within the `with:` parts ...

[2020-06-20 19:56] #74 closed

[2020-06-22 17:11] miwebst commented on #72
Hi @shawntoffel thanks for reporting this! We will take a look and get back to you.

[2020-06-22 17:27] dariagrigoriu commented on #1
We are planning to consider build and pass the PR without deployment as future behavior. Pre-production environments are limited and auto-deployment in this scenario may not be what the app owner intends in all cases.

[2020-06-22 17:29] dariagrigoriu commented on #63
We will consider expanding the number of pre-production environments for future general availability iterations.

[2020-06-22 17:46] clairernovotny commented on #1
What if we do want to auto deploy those?

[2020-06-22 18:36] miwebst commented on #71
Going to close this out as the issue has recovered, we will take a look at #69 though!

[2020-06-22 18:36] #71 closed

[2020-06-22 18:43] miwebst commented on #53
We've updated the error messages that would have clarified this issue. Closing.

[2020-06-22 18:43] #53 closed

[2020-06-22 18:44] miwebst commented on #47
Closing this as we are serving static content, this would make it non static :)

[2020-06-22 18:44] #47 closed

[2020-06-22 18:47] #32 closed

[2020-06-22 19:17] takyyon commented on #69
Thanks for this! We have made the necessary changes on our end which should be deployed in a couple of weeks.

[2020-06-22 19:17] #69 closed

[2020-06-22 20:46] miwebst commented on #57
Hi @mcbeev we have rolled out a fix for this, can you confirm and close accordingly?

[2020-06-22 20:53] #52 closed

[2020-06-22 20:55] mkarmark commented on #40
Hi @johnpapa

This issue has been resolved in our latest release. Thanks for your feedback!

[2020-06-22 21:33] mcbeev commented on #57
Confirmed it is working!  Thank you!

[2020-06-23 19:53] craigshoemaker commented on #23
@mkarmark - it's listed in the [Quotas article](https://docs.microsoft.com/azure/static-web-apps/quotas).  I'll update the routing and authentication articles to link to the quotas article to make it more clear.

[2020-06-24 02:37] justinyoo opened #75 "Can I have outbound IP addresses of a static web app instance?"
This is an extended question from #59.

So, basically I can't restrict the proxy API access from public, as @miwebst mentioned in the previous issue thread.

But I still want to prevent access from public, by implementing the access restriction feature on API Management or Azure App Service instance like:

* [Azure App Service access restrictions](https://docs.microsoft.com/azure/app-service/app-s

[2020-06-25 03:45] akzaidi opened #76 "Change Branch from `master` to `main` in Environments"
Hi, I changed my default branch in github from `master` to `main`. Is it possible to update my environments to use `main` as the new build branch? I don't see an easy way of editing this on Azure.

[2020-06-25 04:26] anganti commented on #76
Just came out for you in time, the az cli support.

You could use az cli to disconnect and reconnect

https://docs.microsoft.com/en-us/cli/azure/staticwebapp?view=azure-cli-latest

Let us know if this helps.

[2020-06-25 04:35] akzaidi commented on #76
Thanks! I don't see an update parameter for `environment`:

[code]

[2020-06-25 04:38] akzaidi commented on #76
Ah I guess I can do a `disconnect` and then a `reconnect`?

[2020-06-25 05:16] akzaidi commented on #76
My app directory is `docs`. I don't see an argument for `--app-artifact-location` when I do reconnect, and it looks like reconnect defaulted to `.` rather than what I had originally. Is there a way I can specify the location of the app when I reconnect?

[2020-06-25 05:23] anganti commented on #76
@ElleTojaroon could you please help add the parameter.

@akzaidi to mitigate can you update the workflow file. Does that work for now?

[2020-06-25 05:23] akzaidi commented on #76
Ahh it appears after reconnecting my github actions workflow was updated and it modified the app directory to the default value of ".". I updated my workflow yaml and all is good now.

[2020-06-25 05:28] anganti commented on #13
Though we don’t have what you have exactly asked for (which is in progress to push a folder to deploy)

The CLI is released and can be downloaded through the official site:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli

Documentation can be found here: https://docs.microsoft.com/en-us/cli/azure/staticwebapp?view=azure-cli-latest

[2020-06-25 16:18] PhilLepanto opened #77 "Newbie Trouble with Development Environment after integrating a test function"
I'm sorry if this is not the right place for this type of issue. I'm relatively new to GitHub and React/SPA development. I've been trying to follow along in the Quick Starts to set up a React Site and then add in functions.  I'm using VS Code for Windows. The site seems to be up and running on Azure, but when I tried to run >yarn start this morning, I got this message:
`Error: [BABEL] C:\Users\yyy

[2020-06-25 23:33] diverdan92 commented on #71
@miwebst I'm hitting this issue today. I can deploy the application if I remove the api, but trying to deploy a static web app _with_ a function fails. Do you know if there is another service issue occuring?
![image](https://user-images.githubusercontent.com/6608201/85805597-9de37000-b701-11ea-8f12-4437d67671ef.png)

[2020-06-25 23:39] miwebst commented on #71
Hi @diverdan92, there is an issue ongoing :( we are working on a fix. Sorry for the inconvenience, @dariagrigoriu we need to work on a status page for people to check with.

[2020-06-25 23:40] diverdan92 commented on #71
Thanks for the quick reply :).

FWIW, my first inclination after realizing it only reproduced for functions deployment was to go to the [Azure Status](https://status.azure.com/en-us/status) page.

[2020-06-26 00:31] miwebst commented on #75
Its not possible right now, we are continuously adding more points of presence so we don't want people taking dependencies on these and then having their apps break when we begin using a new IP address.

[2020-06-26 01:20] miwebst commented on #71
Thats a great point, we will need to get updates there. We have failed over, this should be fixed now.

[2020-06-26 05:04] justinyoo commented on #75
Thanks for confirmation!

[2020-06-26 13:16] tonygomez commented on #18
@manhvo how long did it take for the certificate to issue? its been 24 hours after adding my custom domain and I still see 'not secure' error.

fyi - @miwebst

[2020-06-26 13:36] tonygomez commented on #18
@manhvo @miwebst Figured it out.  The domain ssl worked near immediately after adding www.

[2020-06-27 06:59] trevorkennedy commented on #20
See my repo for how to get the default Blazor app deployed to Azure SWA: https://github.com/trevorkennedy/blazor_swa

[2020-06-27 14:36] mahmoudajawad commented on #44
@miwebst @kichalla, updates on whether this is resolvable or not?

[2020-06-27 18:27] tburkins commented on #71
Hi @miwebst, I've been seeing this issue yesterday and today on my static web app hosted in East US2.  It's the same behavior, where the deployment only succeeds if I remove the API.

![image](https://user-images.githubusercontent.com/26844554/85929258-f721df80-b878-11ea-8c42-aff77978f9e1.png)

[2020-06-27 22:53] anthonychu opened #78 "Show error when creating configuration settings that are blocked"
In the portal, creating a setting named `FUNCTIONS_WORKER_RUNTIME` or `AzureWebJobsStorage` are not allowed, but the configuration editor accepts the values. Things appear to be okay, but the values are actually not saved and the user is not alerted.

Related #61

[2020-06-27 23:43] anthonychu opened #79 "Deployments failing intermittently (timeout?)"
Sometimes my deployments will fail, but if I retry enough times, it'll work. Wonder if it's timing out...

![image](https://user-images.githubusercontent.com/3982077/85934253-5857ac00-b895-11ea-8560-5875787266a1.png)

[2020-06-27 23:46] anganti commented on #79
we are currently experiencing intermittent issues with functions deployments in US geo. Will keep you posted when issue gets resolved.

[2020-06-27 23:48] trevorkennedy opened #80 "Can't add AzureWebJobsSendGridApiKey to Application Settings"
Looks like you can't have a setting named AzureWebJobsSendGridApiKey. When I try to add it and then hit save, the key will be shown briefly but will then disappear. My function cannot seem to read it using process.env either.

[2020-06-28 00:39] anthonychu commented on #80
Looks like some app settings are being blocked. @anganti is the block list published somewhere? Sounds like `AzureWebJobsSendGridApiKey` shouldn’t be blocked.

@trevorkennedy As a workaround, try setting the `apiKey` property on the binding to another configuration setting name. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-sendgrid#configuration

[2020-06-28 16:48] bburgin opened #81 "Support for Azure Active Directory groups in role management"
In an Azure Static Web App, I would like to be able to associate an Azure Active Directory group to a role in the role management options. This would allow me to provide secure access to a group of people in my tenant.
Example routes.json entry:

[code]

[2020-06-29 19:27] #75 closed

[2020-06-29 20:44] #57 closed

[2020-06-29 20:45] #59 closed

[2020-06-29 20:48] miwebst commented on #71
Hi @tburkins , yes this was caused by an underlying dependency going down. We failed over to a different region but later on the dependency went down in our failover region. We are working to improve our recovery in these scenarios and I apologize for the issue! It should be fixed now, please let us know if you continue to see issues.

[2020-06-29 21:09] tburkins commented on #71
Thanks for replying @miwebst, it started working yesterday and I haven't had any more issues with it.

[2020-06-30 16:24] kichalla commented on #44
@mahmoudajawad Do you have a repository with the repro project that I can try with?

[2020-06-30 16:25] kichalla commented on #44
@davemurphysf If possible could you share your repro project?

[2020-06-30 16:50] mahmoudajawad commented on #44
Unfortunately @kichalla , it's private code.

[2020-06-30 18:42] kichalla commented on #44
@mahmoudajawad from your original post, so you are still seeing the package being tried from the NPM registry and not the GitHub registry. I just now tried a scenario with the following content in .npmrc file and it worked.

Example content in the repo's .npmrc file
[code]

In your GitHub actions workflow, before the static web apps actions get executed you could do the following:
`echo "registry=

[2020-06-30 22:45] kichalla commented on #44
Ignore my earlier example, the following content in .npmrc file worked fine for me:
Here the `${GITHUB_TOKEN}` is expanded by npm when ‘npm install’ is called. You just need to make sure this variable's value is available as an environment variable.

[code]

[2020-07-01 16:31] annaji-msft opened #82 "GitHub scheduled workflows failing with "Could not parse repository information from event json""
GitHub scheduled workflows failing with "Could not parse repository information from event json"

Repo workflow with 30m schedule:
https://github.com/anganti/vanilla-api/blob/master/.github/workflows/azure-static-web-apps-proud-ground-0e0cd621e.yml#L12

Sample Run
https://github.com/anganti/vanilla-api/runs/827340906?check_suite_focus=true

![image](https://user-images.githubusercontent.com/428510

[2020-07-01 23:45] dariagrigoriu opened #83 "API to show the workflow file and respective build configuration based on customer selection"

[2020-07-02 00:13] dariagrigoriu opened #84 "Create an experience to review workflow file before adding to repo"

[2020-07-03 10:28] paynecrl97 opened #85 "GitHub Action appears to be incompatible with Docusaurus"
I'm having trouble getting the GitHub action to work with a repository where the build is dependent on some files that lie outside of the `app_location`. More specifically, it's a [Docusaurus](https://docusaurus.io/en/) v1 site.

This is the structure of a basic Docusaurus site:

[code]

At one point during the Docusaurus build script, it checks for the presence of the `docs` folder relative from

[2020-07-03 10:43] paynecrl97 commented on #85
There is a workaround available:

Build the site in a separate step before the static web apps step:
[code]

Then use the output of that step as the app location, eg: ` app_location: "/website/build/docs"`

[2020-07-03 11:43] brentos99 commented on #5
Was super excited for Azure Static websites as it is exactly what we need at the moment. But we are committed to azure dev ops.

[2020-07-03 17:25] #79 closed

[2020-07-03 17:35] anthonychu commented on #55
@georgechang As a workaround, does the default GitHub Actions environment allow you to run the build in a separate step instead of relying on the Static Web Apps deploy step to do it?

IMO it'd be nice to support add these dependencies, though I think they add ~250MB to the image.

[2020-07-03 23:11] jmcaree commented on #80
It looks like any App Settings prefixed with e.g. "AzureWebJobs" are being blocked. I created a table binding in a function with the connection set to "AzureWebJobsStorage", which wasbeing set in my local.settings.json file. It all worked fine locally, but when it was deployed to Azure the function kept returning a http 500.

I had added the `AzureWebJobsStorage` setting to my App Settings, so I c

[2020-07-04 17:13] anganti commented on #80
Sorry for the delay.  Here are all the settings that are currently blocked(starts with).

We will do a better job at conveying this message in coming iterations via portal messages and exceptions.

^APPSETTING_,^AZUREBLOBSTORAGE_,^AZUREFILESSTORAGE_,^AZURE_FUNCTION_,^CONTAINER_,^DIAGNOSTICS_,^DOCKER_,^FUNCTIONS_,^IDENTITY_,^MACHINEKEY_,^MAINSITE_,^MSDEPLOY_,^SCMSITE_,^SCM_,^WEBSITES_,^WEBSITE_,^WE

[2020-07-05 16:58] anthonychu commented on #29
Can we add App Insights by default but turn on the daily cap so that it is free to use?

[2020-07-05 17:16] anganti commented on #29
@anthonychu we had managed AppInsights but took it away for the preview release. Need more deeper understanding on the scale/limits of AppInsights per subscription and billing for it, if MICROSOFT manages the resource onbehalf. Happy to have that conversation again.

[2020-07-05 23:59] nogic1008 opened #86 "Pre-Production environments use same settings as production as default"
By default, pre-production environment is automatically created when a pull request is submitted.
However, it uses same settings as production like connection string to DB.

It is possible to attack the production environment from the pre-production environment by sending a pull request containing a malicious API.

[2020-07-06 03:58] anganti commented on #86
@dariagrigoriu sounds like a valid ask to keep the prod and stage site settings independent unless specified. Similar to slot settings that that could be sticky in app service and azure functions.

[2020-07-06 06:29] nogic1008 commented on #86
@anganti

Exactly right.
Currently, settings can only be changed **after** a pull request has been submitted.

[2020-07-06 10:57] BernhardRode commented on #82
Same issue here.

[2020-07-06 13:59] mahmoudajawad commented on #44
@kichalla, this doesn't seem to work when the package is in another repo.

[2020-07-06 16:26] miwebst commented on #2
We have added the ability to add DefaultHeaders to responses, you can find the documentation here: https://docs.microsoft.com/en-us/azure/static-web-apps/routes#default-headers

For now this is part of the routes.json, in the future this file is likely to change to something more generic.

[2020-07-06 16:40] miwebst commented on #51
Hi Misiu,

To answer your questions:

1. Brotli support is on our roadmap, I dont have an ETA for you but hopefully this will be out soon :)
2. Cookie-free domains: unless you are using auth static web apps should be cookie free today, let me know if that is not the case
3. Custom headers: we have a preliminary option for this here: https://docs.microsoft.com/en-us/azure/static-web-apps/routes#def

[2020-07-06 16:50] #23 closed

[2020-07-06 17:01] ehamai commented on #43
Hi @stephtr, can you give a little more detail as to what you mean by "login with GitHub" isn't working?  Is there any error or does the login pop-up even show?  Also if you can provide a sessionId of a repro then maybe we can see something on our end.

1. Open your browser dev tools (Usually F12)
2. Go to your console and one of the first few lines should be "sessionId"

[2020-07-06 17:41] richardrobberse commented on #2
@miwebst That's great news, just managed to add a Feature-Policy header for geolocation access 👍
Thanks for the update!

[2020-07-06 17:55] ricksterhd123 commented on #43
I might have to disregard my comment because I somehow misread the issue title.
I had this problem with the azure portal login using firefox on Windows 10. (portal.azure.com)
Anway I guess something went wrong with github OAuth and could also have something to do with my github account using the same email as my azure account.

I hope these images provide more context even though the issues might

[2020-07-06 21:18] miwebst commented on #66
We have added the ability to add DefaultHeaders to responses, you can find the documentation here: https://docs.microsoft.com/en-us/azure/static-web-apps/routes#default-headers

For now this is part of the routes.json, in the future this file is likely to change to something more generic.

[2020-07-06 22:15] burkeholland opened #87 "Update wording in domain configuration blade to include subdomains"
Originally reported [here](https://github.com/MicrosoftDocs/azure-docs/issues/57930).

The issue is that we don't specify that "www" could be any subdomain, and that confuses people. The request is that we update the blade to show that you can use any subdomain, not just "www". I tried mocking this up, but I'm not sure happy with this. It seems even more confusing.

![custom](https://user-images.g

[2020-07-06 22:23] stephtr commented on #43
I'm talking about [this Azure Portal app](https://portal.azure.com/App/Download). Clicking the button has no effect, there's no popup opening; in the developer console I got the following error (Session: d431d913b966479ca3b40c64269686c5):

![image](https://user-images.githubusercontent.com/5764184/86654209-11c92680-bfe6-11ea-9eee-513d253de269.png)

Apparently `MsPortalImpl/Commands/Commands.OAuthC

[2020-07-06 22:48] ssmith04 commented on #82
Also experiencing this issue; my GitHub action workflow was also modified to run on a cron schedule rather than on push. The rest of the action sets up Ruby to build a Jekyll site. Private repo, but I can share whatever is helpful.

[2020-07-06 22:55] DarqueWarrior opened #88 "Support Managed Identity"
Are there plans to support managed identity for static web apps?

I wanted to use managed identity with static web apps like I do with websites or functions. I stored information in Key Valut and could not auth my static web app using a managed identity. I had to resort to using a service principal.

[2020-07-06 22:58] DarqueWarrior opened #89 "Support additional meta data in personal identity information"
If I were to compare this to Firebase I can store additional meta data like "Display Name" without having to spin up a data store for it.

Can I store any meta data like "Display Name" in the static web app personal identity information? Or do I have to store that data myself?

[2020-07-06 23:00] DarqueWarrior opened #90 "List all users that have authenticated into my app"
Is there a way to list all the users that have authenticated into my app even if I have not sent them an invite? I was able to log in using Google without an invitation but when I want to assign myself a role I was not listed. I had to first send an invite.

I would be nice to have a way to find people that have already authenticated and assign them new roles without having to send them an invite.

[2020-07-06 23:01] DarqueWarrior opened #91 "Manage roles in app"
If I wanted another person on my team to have the permission to assign roles do I have to give them access to my Azure Subscription? Is there an API under .Auth so that invites / role assignments can be done from my app not only from the portal? I would hate to grant people access to my Subscription and teach them enough about Azure to move around safely just so they can assign permissions to peop

[2020-07-06 23:01] anganti commented on #88
@DarqueWarrior Could you elaborate a little more when you say used service principal. Was this on the client layer or the functions layer. I would assume you don't want to resolve secrets on the client side. Just trying to understand the context and scenarios where you would want to use Managed Identity besides functions.

[2020-07-06 23:05] DarqueWarrior commented on #88
Sure! Yes, it was on the function side. I stored my CosmosDB connection string in Key Vault because I could not figure out how to create an input binding for CosmosDB in static web apps.

So after storing my connection string in Key Vault I wanted to auth my static web app with Key Vault. Without an managed identity I just used a service principal in the function to auth to Key Vault and grab my c

[2020-07-07 00:17] miwebst commented on #89
Are you looking for information separate from the userDetails field which will be a username or email? https://docs.microsoft.com/en-us/azure/static-web-apps/user-information

Or are you looking for a way to add arbitrary metadata?

[2020-07-07 00:19] miwebst commented on #91
Interesting idea! This is not currently supported but certainly good feedback :) Today the only way to do this is to go through the Portal or use azCli: https://docs.microsoft.com/en-us/cli/azure/staticwebapp?view=azure-cli-latest you can see the user update at the bottom

[2020-07-07 00:20] miwebst commented on #90
This is currently not supported; today only user roles can be added through invite or to those who have already accepted invites.

[2020-07-07 00:25] #76 closed

[2020-07-07 00:31] miwebst commented on #72
Hi @shawntoffel we have found the issue and are working on a fix, it will roll out with our next update.

[2020-07-07 00:31] DarqueWarrior commented on #89
As a user that logs in with Google I don't want to say "Hello someEmail@gmail.com". I want to say "Hello Donovan". To do that I need to ask for and store a "Display Name". Today I would have to spin up and manage my own data store just for simply meta data on the user.  I am looking for something like [this](https://firebase.google.com/docs/auth/web/manage-users#get_a_users_provider-specific_profi

[2020-07-07 00:35] shawntoffel commented on #72
Excellent. Thank you!

[2020-07-07 00:36] miwebst commented on #89
Makes sense, yes we have some information today in the 'userDetails' field and it is accessible both by the clientside code and function code. For Google, Facebook, and AAD the user details will be the email address of the user. For Twitter and Github it will be their handle. People have used this in the past to make a "Hello <someUser>" experience.

[2020-07-07 00:36] DarqueWarrior commented on #91
I used to run a site where I would assign a "Club Admin" that person could then assign permissions to whoever they wanted under their Club. I can't give all those people access to my subscription. It was simply part of the Web App. The security and permissions were managed from the site. I was evaluating if I could move that site to static web apps. But at this time that would be an issue for me.

[2020-07-07 03:59] mahmoudajawad commented on #5
This might not be the best approach for all, but for me it is working fine--I've now having my pipeline of building the artifacts and push them as static files to a GH repo which is then used to deploy SWA.

[2020-07-07 17:31] m-sterspace opened #92 "Cold Starts"
I believe that the function app portion of this service suffers from the same "[cold start](https://azure.microsoft.com/en-ca/blog/understanding-serverless-cold-start/)" issues as regular function apps.

While my static site returns very quickly, the initial api calls to my backend (such as fetching the user's account info) always fail initially, but after a moment or two will begin succeeding. I

[2020-07-07 23:32] kichalla commented on #44
Ok, just curious...irrespective of static web apps, how does it work when you do it locally on your development machine?

[2020-07-08 10:45] mahmoudajawad commented on #44
`.npmrc` file is all what is needed. On local machine or Azure DevOps, it works internally because release pipelines have access to all repos the user created the release pipeline have access to. I have never run into such a scenario on Github Action to confirm, but I could spare sometime and create a separate Actions pipeline that attempts to build project artifacts and prepare them for download

[2020-07-08 17:12] miwebst commented on #92
Great point! This is something we are exploring :) right now free is the only option. We will keep you posted though!

[2020-07-08 17:14] #66 closed

[2020-07-08 17:15] #2 closed

[2020-07-08 18:03] m-sterspace opened #93 "Oryx Builds Failing To Resolve Paths Correctly"
I've suddenly started getting strange build errors on my front end that aren't making a whole lot of sense to me and I can't figure out where they're coming from.

[code]

For whatever reason, when it's trying to build on GitHub Actions, it's failing to properly evaluate these imports.
`rbac-rules.js` isn't a node module, but is a local js file located in `src/components/Auth/rbac-rules.js`. It's

[2020-07-08 19:23] m-sterspace commented on #93
Never mind, completely my bad, user error.

It was absolutely a path capitalization issue, I had checked the folder path on my windows machine but forgot that I when I had fixed that locally a while ago git wouldn't have recognized the fix and never would've pushed it. So the github copy still had an old lower case folder path instead of upper case, but my Windows machine couldn't tell the differe

[2020-07-08 19:23] #93 closed

[2020-07-08 20:00] kichalla commented on #54
@richardw16 Thanks for reporting the issue. On investigation we found that `vuepress` does stuff in a particular way which is currently not compatible with the build engine (Oryx) that Static Web Apps use. We are currently working on to fix this issue. Meanwhile the workaround you can use is to put `vuepress` in `dependencies` node and _not_ in `devDependencies`.

[2020-07-08 20:35] takyyon commented on #70
Thank you for the suggestion @aelgasser! I think it makes sense to handle the UX in such a scenario. I can include that update  in the next deployment. Closing this issue for now.

[2020-07-08 20:35] #70 closed

[2020-07-11 08:15] mahmoudajawad commented on #44
@kichalla has suggested a resolution for this issue which has been spotted and diagnosed by @getfatday, and it has worked with me. The resolution was to move the private-hosted package from `dependencies` to `devDependencies` in `package.json` and it got the workflow to successfully build and deploy the app.

Ref: https://github.com/microsoft/Oryx/issues/636#issuecomment-657013125

[2020-07-13 15:42] 3lrv-ryan commented on #62
Any comments as to priority? I'd love to use this for a current project, but I need Azure Functions with Python and Event Grid support, not just node.js and HTTP. Thanks!

[2020-07-13 16:51] georgechang commented on #55
@anthonychu I don't know why I didn't think of adding steps to just install any dependencies. Thanks for waking my brain up!

[2020-07-13 16:51] #55 closed

[2020-07-13 17:53] anganti commented on #62
we are currently working on supporting both dotnet and python. @dariagrigoriu will be able to shed some light on the timelines.

we can certainly take a look at enabling Event Grid trigger @joslinmicrosoft. Will revert here.

[2020-07-14 16:41] akzaidi commented on #63
Any timeline for GA? This would be a great feature!

[2020-07-15 07:02] Misiu commented on #51
@miwebst thanks for the update.
I'll check cookie-free domains and custom headers right away.
Can I contact you directly? I can send links to both sites hosted in Azure Static Web Apps and on a classic host. They are 1:1 and I use them to compare performance using GTMetrics and other tools.

[2020-07-15 07:16] Misiu opened #94 "Password protect entire website - Basic Authentication"
When creating a prototype website you want to restrict access to websites using Basic Authentication (and IP filter).
Currently, we can use many providers (https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-authorization) to add login logic to our app, but I didn't found any info on how to restrict access to the entire website with a password.

Netlify allows that: https://docs.

[2020-07-15 13:19] jwo opened #95 "Failing to deploy due to content size"
I'm building out a Gatsby site; it's been working well but recent PRs aren't deploying.

When I build the site locally, the public directory is 27mb.

[code]

## My theory

It appears to be copying the node_modules along with the site. It's a static site; I'm not sure why it's copying the node_modules up. Those are 400mb.

## Question

1. Can I disable the uploading of node_modules ?
2. Can I get

[2020-07-15 14:04] Misiu commented on #51
@miwebst in my Gatsby project I'm using `gatsby-plugin-htaccess`.
It builds quite complex `.htaccess` file, this is part of it, that is responsible for cache-control:

[code]

How can I recreate the same functionality with Azure Static Web Apps `routes.json`? (specify header per file type)

![image](https://user-images.githubusercontent.com/1741838/87554462-71919280-c6b4-11ea-8c21-8f8ceb1349d0.png

[2020-07-15 16:15] m-sterspace opened #96 "Option For Manual Deployment (Outside Of Actions)"
Not sure if this feature exists and I just couldn't find it, but it would be nice to have the option to build both your static site, and function app locally, and then deploy them directly from your computer, bypassing GitHub Actions. For instance, right now, Github Actions is experiencing an outage, and will not trigger for us, so we are left in the lurch and unable to deploy a needed patch out t

[2020-07-15 16:34] m-sterspace commented on #95
I have no idea if this is at all related to your issue, but fyi, github actions has been in a degraded / partial outage for most of the day so far: https://githubstatus.com

[2020-07-15 17:16] jwo commented on #95
@m-sterspace definitely could be; I didn't see the problem before. I'll check again when github action stabalizes,

[2020-07-15 17:18] miwebst commented on #95
Hi @jwo, can you share your workflow file and the expected output folder after build? Node modules should not be copied up and most likely this could be an issue with not selecting the app artifacts correctly.

[2020-07-15 17:18] miwebst commented on #96
We are working on adding options here, totally agree on providing alternatives when Github is down.

[2020-07-15 17:23] jwo commented on #95
@miwebst absolutely. It's pretty vanilla, created from azure's wizard

[code]

[2020-07-15 17:26] miwebst commented on #51
I see, for now we just added default headers that apply to all static content served. In the future we are planning to add this functionality so you can specify particular headers based on the route.

[2020-07-15 17:44] Misiu commented on #51
@miwebst I hope it is a near future :)

[2020-07-15 17:46] miwebst commented on #95
Gotcha this looks fairly straightforward. If you dont mind, can you tell me a little bit about the application? From the workflow it looks like you are building it from the root and expecting the output to go to a public folder? If you have full Github Action workflow logs that you are willing to share that would also be helpful!

[2020-07-15 17:51] jwo commented on #95
@miwebst Sure! It's a gatsby.js app, that's simply run on `yarn build`. Really nothing interesting about it all.

Here's the full build_and_deploy log:

[code]

[2020-07-15 17:57] miwebst commented on #95
Hmm that is strange, I dont see anything obvious here. And just a quick sanity check, the resulting 'public' folder is <= 100 MB right? If not that is the current limit.

[2020-07-15 18:22] jwo commented on #95
@miwebst correct. to confirm, I pulled it locally, ran the yarn build, and public was only 27mb.

node_modules was huge though, as befit a 2020 JS app, was over 400 mb.

[2020-07-15 18:38] miwebst commented on #95
I see, something is wrong here! Do you mind adding me as a contributor so I can see if I can see what Oryx is doing? If this site is sensitive then I can try to reproduce your setup (assuming Gatsby app with a lot of node modules)?

[2020-07-15 18:59] jwo commented on #95
@miwebst I tried, but it's tied to just be in our organization. But here's the package.json for the gatsby app... maybe that can help with reproducibility?

If you have trouble, I can recreate this in a repo on _my_ github and invite you.

[code]

* lots of fonts and icons :/

[2020-07-15 19:27] miwebst commented on #95
Do you mind copying it and inviting me? I tried to repro this on my Gatsby site but Oryx choose npm instead of yarn for the install which made things work. Need to investigate further though.

[2020-07-15 19:46] jwo commented on #95
@miwebst just invited you to https://github.com/jwo/eogsite .. the branch that's failing is feature/pages

[2020-07-16 00:16] miwebst commented on #95
So I looked at the failing branch and I saw that the public folder is right around 100k bytes which is our limit today. Is that what you are also seeing?

[2020-07-16 01:19] jwo commented on #95
@miwebst 100k? I may hav mis-converted but i thought the message said the limit was 100mb

[2020-07-16 03:35] miwebst commented on #95
Sorry I meant 100mb, that is the limit. Yes you should be far under the limit, let me dig deeper sorry for the false alarm.

[2020-07-16 04:27] miwebst commented on #95
Ok I think I understand what is going on now. So when I build that branch, the public folder is 97Mb. This is 3Mb under our limit, however our limit is currently checking 100M bytes rather than 100 * (number of bytes in a mb). Thus our limit is slightly off. I will make a work item for us to fix this, but it does seem that you are hitting the limit.

[2020-07-16 06:51] mahmoudajawad opened #97 "domainName is invalid. Certificate creation failed unexpectedly for this domain"
I'm getting the following error message when attempting to add custom domain:
[code]
This is rather unexpected issue as I was able to use SWA with two other custom domains, and had zero issues with it.

[2020-07-16 12:39] jwo commented on #95
@miwebst I just noticed a 67MB video that snuck into the site on the failing branch; I think when I calculated the 27MB public size, I did so on master, not the failing branch.

tldr, I think Azure static sites doing everything correctly. I appreciate you looking into this for us, we'll move forward by hosting the video elsewhere.

[2020-07-16 12:39] #95 closed

[2020-07-16 15:04] mahmoudajawad commented on #97
This issue seems to have been resolved on its own.

[2020-07-16 15:04] #97 closed

[2020-07-16 19:51] kichalla commented on #54
Just FYI...we are making a fix for this in Oryx. I will update this thread once it is available in Static Web Apps. Thanks.

cc @miwebst

[2020-07-16 21:38] henryjcee opened #98 "Accessing github registrys with yarn"
👋

I've been wrestling for a day or two with trying to build a static webapp using yarn that needs to fetch a package published by another one of my organisation's repos.

I've tried quite a few of the techniques recommended in the related issues (https://github.com/Azure/static-web-apps/issues/44) but the crux seems to be that when the build and deploy stage is executed I can't find a way to avoi

[2020-07-17 14:17] MrThePlague opened #99 "Add support for puppeteer/puppeteer to allow for site pre-rendering"
I tried to enable pre-rendering of a single-page application using a [webpack pre-rendering package](https://github.com/chrisvfritz/prerender-spa-plugin), which relies on [puppeteer](https://github.com/puppeteer/puppeteer), and it appears that there is at least one x11 library (**libxcb**) missing to successfully launch the headless chromium instance.

The chromium package is successfully installe

[2020-07-17 18:09] miwebst commented on #98
@kichalla do you have any advice on 2?

@henryjcee you can actually avoid the build altogether if you'd like to. If you do the build via the normal Github Action workflow and then set the `app_location` to be the directory where you expect the content to be, we will treat it like a purely static website and skip the build.

[2020-07-17 18:11] miwebst commented on #99
https://github.com/Azure/static-web-apps/issues/55 this is our current workaround, we are looking into options to making this a smoother experience!

[2020-07-17 21:24] refortie commented on #87
That is a good suggestion. I have created a work item and added to our queue to be fix

[2020-07-18 10:15] henryjcee commented on #98
That's very useful to know, I'll give it a go. That should be good enough for my use case plus I imagine quite a few others! Thanks.

[2020-07-19 01:29] brettneese opened #100 ""An unknown exception has occured while uploading" is returned when repo contains an invalid routes.json file"
Okay, so I did a silly. I committed an empty `routes.json,` in my assets directory somehow. Yes, I know. That went predictably bad, and I received far too many failed builds with a cryptic message:

[code]
I eventually found the problem, fixed the error, and now my builds work! But it'd be nice to catch this issue and provide better feedback.

I replicated it [here](https://github.com/brettneese/m

[2020-07-19 21:26] isaacabraham commented on #36
If there is an ARM template defined, we would be happy to create a [Farmer](https://compositionalit.github.io/farmer/) builder around it. We already have a great story around App Service and recently added static website support for storage accounts so this would nicely round off the web story for Azure.

[2020-07-20 15:24] miwebst commented on #100
Thanks for catching this :) we will get both problems fixed soon!

[2020-07-21 16:28] jtracey93 opened #101 "Authentication Loop With Custom Domain Configured"
Hi,

So I think I may have found a bug. My static web app has Azure AD Auth enabled and this is enforced via a routes.json file. All works fine when using the default URL/Domain Name. However when I configure a custom domain for my static web app, it gets stuck in a redirection loop.

After one loop, if I stop and access the custom domain again, I gain access as expected. It's like the reply URL d

[2020-07-22 17:49] shaijut opened #102 "Feature to deploy static Websites from Local Machine to Azure Static Web App"
**Important Feature Request:**

**Current Functionality:** In Preview `Azure Static Web App` pulls files from `Github` repository and hosts the files in `Azure Static Web App`.

**Required Feature:** Provide a Option to deploy or upload static sites from Local Machine via `FTP`  or Visual  Studio Publish / VS Code to `Azure Static Web App`

[2020-07-22 18:50] miwebst commented on #102
https://github.com/Azure/static-web-apps/issues/96

[2020-07-22 21:43] btardif commented on #87
I think we need to review this with our copy editor. @burkeholland I'll add you to the meeting hopefully we can land on something  👍

[2020-07-23 09:53] nikita-seliverstov opened #103 "Gatsby build fails"
Hi,

I tried to build this repo: https://github.com/Arvutiamblik/amblik.
netlify builds site well but using static web apps it fails. The log does't give usefull data

[2020-07-23 18:23] miwebst commented on #103
This repository is private, can you provide details on what you see in the Github Action logs for the failed workflow run?

Also not sure if you have seen this tutorial: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-gatsby  - but this may help with configuration issues.

The other potential issue could be that a dependency is missing on our image and thus the builds fails.

[2020-07-23 19:43] chrisd08 commented on #5
Is there a way to make the Github build action at least run tests before deploying to azure?

[2020-07-23 20:14] lmaccherone commented on #86
+1. A workaround is to include both staging and production connection string environment variables but decide which to use in code... assuming you can sense which environment you are running in. It doesn't appear that NODE_ENV is automatically set to 'production' so I'm currently looking at `context.req.url` and looking for the PR segment of that string but I suspect there is a better way. Ideas?

[2020-07-24 01:03] lmaccherone commented on #86
It looks like `process.env.WEBSITE_STATICWEBAPP_FUNCTION_ASSIGNEEID` contains the string 'master' when in prod but contains the pull request number in the same spot when in PR staging. I'd still prefer something better.

[2020-07-24 03:01] nogic1008 commented on #86
@lmaccherone
There are off topic.
I'm concerned about the risk of leaking env settings such as connection strings.

-----
In current,
- Anyone can publish API to staging by sending Pull Request.
- Staging site ({slug}-{PR number}.{region}.azurestaticapps.net) cannot change environment values from production before deployment.

Therefore, the value of `process.env` will be read by sending a pull re

[2020-07-24 03:33] miwebst commented on #98
Let me know if this doesn't fix your issue; we are continually working to improve our detection and build steps, so we are hoping to avoid this sort of manual setup later on. Thanks for trying out our preview!

[2020-07-24 03:33] #98 closed

[2020-07-24 03:37] miwebst commented on #72
Just an update here, the problem is actually more complex than we originally thought it was. We are still working on a solution to this but it will take more time than our next release. I apologize for the inconvenience!

[2020-07-24 03:50] miwebst commented on #4
Closing this; also confirmed that removing both api_location and app_artifact_location do not lead to a failed build.

cc @kichalla, in this case Oryx tried to build the application because of the package.json but my guess is failed to find the 'build' command and the end experience was confusing. Since we now require build the error would have been clearer, but this is still a scenario we should

[2020-07-24 03:50] #4 closed

[2020-07-24 07:09] nikita-seliverstov commented on #103
I made repository public

[2020-07-24 07:50] Paruyrik opened #104 "Build fails when duplicate (case-insensitive) file paths are found"
Case-sensitive file paths are currently not supported. The conflicting paths detected are 'public/blog/README/index.html' and 'public/blog/Readme/index.html'.

[2020-07-24 12:42] henryjcee commented on #98
Worked well for me and all I'd suggest is to make it more prominent in the docs. Thanks for your help.

[2020-07-24 15:39] miwebst commented on #98
cc @craigshoemaker

[2020-07-24 15:43] miwebst commented on #103
Thanks! @kichalla it looks like Oryx is failing to do detection: https://github.com/Arvutiamblik/amblik/runs/907088059?check_suite_focus=true can you take a look?

[2020-07-24 17:19] lmaccherone commented on #86
Ugh, you are right. I didn't think of that.

[2020-07-24 18:54] miwebst commented on #104
Edited the title a little so that others might find it easier. This is currently a limitation we are working on. We will update this issue when we have more information!

[2020-07-24 19:14] AshirwadSatapathi opened #105 "Can we make an Azure Static Web App using Blazor?"
As static web apps allows to make web apps with so many javascript libraries, does it support Blazor under the hood or it's not supported as of yet?

[2020-07-24 20:39] Ritvik-Sapra opened #106 "App location not being found in workflow file."
I am trying to deploy a simple workflow file using azure static web apps. Everything is working fine except build and deploy which shows the following error and says app location not found. I have tried editing and commiting the changes in workflow file to try different paths, but literally nothing works.

![WhatsApp Image 2020-07-25 at 2 07 21 AM](https://user-images.githubusercontent.com/5461399

[2020-07-25 00:25] miwebst commented on #106
Do you mind sharing the repository structure? In general the app location is a reference to a directory not a particular file. If you would like to use the root of your repository you can specify "/"

[2020-07-25 09:03] Ritvik-Sapra commented on #106
Yes, it worked but now it says it can not find build or build:azure node in package.json

[2020-07-26 15:49] jmarbutt commented on #62
Also watching for the dotnet support.

[2020-07-26 15:55] jmarbutt opened #107 "Custom JWT Support"
I think it would be great to have some out of the box JWT support for securing the end points.

[2020-07-27 13:22] rajyraman commented on #88
I am having the same issue. On a standalone Azure Function, I can use managed identity to connect to CDS, but I am unclear on how to set this up in SWA api.

[2020-07-27 15:45] shaijut commented on #96
Nice : Provide below options too:

- Publish directly from Visual Studio or VS Code using Publish Profiles like in App Service
- Instead of Github , provide options for Azure Devops pipeline or Azure Repos. Make the usage of Azure Devops and Azure Repos free for static web apps.

[2020-07-27 21:23] miwebst commented on #106
Yes if you have a package.json, Oryx will run either the build or build:azure npm run script. If you dont have one of these and want to run a different command when building your application you can use the app build command override. Take a look at the docs here: https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#custom-build-commands

[2020-07-27 21:42] miwebst commented on #107
Can you clarify which endpoints are you referring to?

[2020-07-27 22:35] miwebst commented on #105
We are working on this support! Today you can use client-side Blazor support as it compiles into static assets.

[2020-07-27 22:39] #56 closed

[2020-07-27 22:41] miwebst commented on #49
Closing due to inactivity, let us know you run into any further problems!

[2020-07-27 22:41] #49 closed

[2020-07-27 22:41] #40 closed

[2020-07-28 01:02] medhatelmasry opened #108 "CORS on API portion of Azure Static Web Apps"
My static web apps work quite well on Azure because both the API and the static app reside on the same endpoint. However, I realized that I cannot access the API on Azure Static Web Apps from another external app because of CORS. Please provide a mechanism so that CORS can be enabled on the API portion of a static web app on Azure.

[2020-07-28 14:18] jgrams commented on #94
I'm searching for code solutions to this problem and ended up here!

[2020-07-28 15:02] Ritvik-Sapra commented on #106
This is the repo: https://github.com/akanksha99-rs/Navigate-The-Mars-Rover
I typed "build" in the package.json, but still it didn't work.
Locally, we run this app by typing `npm start` in the directory where server.js is located (main app).

[2020-07-28 16:32] miwebst commented on #106
Looks like a cool project :) But yes this probably wont work since the project is configured to be a Node server. You can start hosting your static web files by adjusting your app location to be the Microsoft_FrontEnd folder, but for the backend/server api calls you will need to use a NodeJS Azure Function. You can find some documentation here: https://docs.microsoft.com/en-us/azure/static-web-app

[2020-07-28 17:47] vmsilvamolina opened #109 "Custom CNAME"
You need a CNAME to add a custom domain to the Azure Static Web App service, but now we only can use the WWW.

How about the companies that have taken the WWW record? or have specific requirements (apps or solutions) with different names?

[2020-07-28 20:25] miwebst commented on #109
So WWW is not required, it can be any subdomain (i.e. blog.customdomain.net or example.customdomain.net or www.customdomain.net) I believe we are updating the docs around this (@craigshoemaker).

What is not supported right now is APEX domains (i.e. customdomain.net) and we are working on this!

[2020-07-28 21:03] vmsilvamolina commented on #109
Yes, you're right. I misinterpreted the reference example: now I validate with another value and it's ok!

The information in the panel is not entirely clear (at least for me it was not XD), it can change to the following:

"To add a custom domain, first configure a CNAME **like the following** record with your DNS provider."

[2020-07-28 21:18] timothyhalley commented on #104
Same issue here... --> Build / Deploy Log: (circa line 200)

Finished building function app with Oryx
Case-sensitive file paths are currently not supported. The conflicting paths detected are 'dist/tag/Development/index.html' and 'dist/tag/development/index.html'.

This is a simple GRIDSOME app build using AZ static web app and GIT actions to build for CI/CD with custom domain (no slots or anythin

[2020-07-28 23:52] miwebst commented on #109
Ah i see, similar to this issue? https://github.com/Azure/static-web-apps/issues/87

[2020-07-29 06:42] mahmoudajawad opened #110 "Are there Ansible instructions to creating SWA?"
Hello.

As title says, I'm exploring Ansible for Azure, and since SWA seems like the service to go with, I would like to be sure I'm choosing correct set of services to work together.

[2020-07-29 07:52] rajyraman commented on #88
I ended up using EnvironmentCredential with client secret.

[2020-07-29 23:51] aaronpowell commented on #105
Here's an article on how to do it today by modifying the Actions: https://www.timheuer.com/blog/hosting-blazor-in-azure-static-web-apps/

[2020-07-30 08:23] marcpiechura commented on #101
@jtracey93 I've the same issue, did you found a solution in the meantime?

Thanks.

[2020-07-30 08:54] jtracey93 commented on #101
Afraid not, yet! The PG team have asked for some details though from me which I have provided so I'd think they are looking into it.

[2020-07-30 16:46] clairernovotny opened #111 "Case sensitivity issues with URLs and Routes.json"
I have a static site with content at `/news`. Many old unfixable links point to `/News` and that returns a 404.

When I put this in the routes.json returns too many redirects, so that feature does not seem to be case sensitive.

[code]

This is a critical blocker as we are unable to get the links resolved.

[2020-07-31 07:47] lucaslra commented on #5
+1 on this.
This should be there from the start, to be honest.
Having to resort to Storage Static Sites for now, but definitely not an ideal solution.

[2020-08-02 16:30] marcpiechura commented on #101
FYI it works now for me, I‘ve change my routes to require global authorization via route /* and I’m now using a custom role instead of the default „authenticated“, but I‘m not sure if either of those fixed it or the Azure Team fixed it.

[2020-08-02 22:58] rajyraman opened #112 "AppInsights Error - Storage"
After turning on AppInsights, I see an error about Storage account. Adding "AzureWebJobsStorage" to config seems to have no effect. How do I get rid of this message?

[code]

[2020-08-03 17:11] alikazai commented on #44
Hi all.
I am still having this issue after trying out all your tips. The repo i am trying to add is the Fontawesome Pro ones. this is the error i am getting..
`npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@fortawesome%2fpro-light-svg-icons - Not found
npm ERR! 404
npm ERR! 404  '@fortawesome/pro-light-svg-icons@5.13.0' is not in the npm registry.
npm ERR! 404 You shou

[2020-08-03 17:48] mkarmark commented on #111
Hi @clairernovotny, thanks for bringing this issue to our attention! We have deployed a fix to this issue, and your route should now work on your static web app.

[2020-08-03 18:35] anganti commented on #112
AzureWebJobsStorage is not allowed to be added for static web app functions.

Please ignore this error message for now as it should not have any impact on your functions runtime. We will get rid of this message in later iterations.

[2020-08-03 19:35] aalu-hosting commented on #95
Hello,

Despite this being closed, I am experiencing the same issue. I guess the size limit should be `100000000/(1024*1024) = 95.37 MB`. My local repo size is ~85MB (without the hidden `.git`, if I add that is 180MB). Am I looking at the size correctly? Or am I totally missing something basic here?

Thank you

[2020-08-03 20:09] miwebst commented on #95
Ah so including the .git folder in the size validation is a mistake and we are currently rolling out a fix for that. For the other limit we have made the change to move the limit back to 100MB but is currently just the 100 million byte limit.

[2020-08-03 23:22] rajyraman commented on #112
Thank you @anganti

[2020-08-03 23:22] #112 closed

[2020-08-04 15:00] #109 closed

[2020-08-05 07:19] mahmoudajawad commented on #44
@alikazai, try to build your project on clean container or VM so you can confirm the settings of the project are correct, and not some cached credentials and tokens are allowing you to access locally, and not on Github Actions. This is common issue. Alas, you could be hitting on another problem that could be or could be not related to this issue.

[2020-08-05 15:36] adiazcan opened #113 "Timeout on build and deploy"
Hi,

I have a large site with gatsby and lot of images.

When I try to deploy using GitHub Actions, I always have a timeout problem with Oryx

**Oryx has timed out while building app, the current limit is 900 seconds. Failing build.**

Is there any way to increase 900 seconds limit timeout? It's not enough for my site buiding.

[2020-08-05 22:02] miwebst commented on #113
Hi @adiazcan, we put this limit here to avoid build errors resulting in extra Github Action costs (private/org repos). Can you answer 2 quick questions?

1. Locally how long does it take to build your application? Is 900+ seconds expected?
2. How large is the application once built? We currently have a 100 MB limit and I'd expect you may hit that if your site is especially large.

[2020-08-05 22:09] miwebst commented on #110
I don't believe there are instructions for this yet.

[2020-08-05 22:11] miwebst commented on #104
We have a fix coming for this soon, will followup once it is out :)

[2020-08-05 22:31] miwebst commented on #85
We are working on a solution to this so in the future you can avoid doing the build beforehand! I will update this issue once that work has rolled out.

[2020-08-05 22:53] miwebst commented on #101
We rolled out a fix for this, let us know if you run into any further problems!

[2020-08-05 22:53] #101 closed

[2020-08-05 22:55] miwebst commented on #82
Just as an update, we've investigated this and have a fix but it will take some time to roll this out. I will update this thread when its available!

[2020-08-06 03:03] jracc commented on #44
I am seeing this as well, using a gitlab's npm registry.  It appears that the .npmrc file is being ignored as well as the environment variables sent to the docker execution.  To cover all bases, I added the following in the environment settings:

          env:
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            NPM_REGISTRY_URL: https:

[2020-08-06 12:31] alikazai commented on #44
Thanks @jracc that seemed to have fixed it.

[2020-08-06 14:13] jracc commented on #44
Hey @alikazai - what fixed what?

[2020-08-06 16:09] miwebst commented on #54
Hi @richardw16 , we have updated the version of Oryx running on our Github Action, can you retry and see if you hit the same error?

[2020-08-06 16:12] miwebst commented on #103
Hi @nikita-seliverstov we have updated our version of Oryx, can you see if you are still running into this error?

[2020-08-06 16:14] alikazai commented on #44
@jracc
[code]

you said to use this i did that but tweaked it for fontawesome and it worked the build from the private npm packages worked fine.

[2020-08-06 16:18] miwebst commented on #100
Hi @brettneese, both of these should be fixed now. Please let us know if you run into further issues

[2020-08-06 16:18] #100 closed

[2020-08-06 16:42] adiazcan commented on #113
Hi @miwebst

We are working to migrate our web magazine from SharePoint to Gatsby http://www.compartimoss.com/

1. It tooks about 30 minutes to build, we have more than 9000 images and more than 400 static html pages and gatsby has to generate all the thumbnails and pages.
2. Our application has 43,4 MB

How can we publish it?

[2020-08-06 17:06] jtracey93 commented on #101
Thanks just got around to testing and all working! 👍

[2020-08-06 19:25] victorp13 opened #114 "Newly created GH Organisation not visible in Create Static Web App"
I have existing Create Static Web App sites for which I integrated with GitHub some months ago. Today I noticed that after creating a new GitHub Organisation, the new org did not show up on the Create Static Web App page dropdown.

I found that in order to be able to Grant access to this new Org, I need to:
- first revoke the existing rights for Azure Static Web Apps under my GH user Profile > Set

[2020-08-06 21:51] richardw16 commented on #54
thank you very much! now it is working:
![azure](https://user-images.githubusercontent.com/64897108/89586194-8985ad80-d83f-11ea-95b7-ba52bd00f84d.PNG)

[2020-08-06 21:51] #54 closed

[2020-08-07 00:26] #111 closed

[2020-08-07 02:12] matcha440 opened #115 "add custom domain button is disabled"
I am currently unable to complete setup of a custom domain.  The add button shows here as disabled.
![image](https://user-images.githubusercontent.com/13713268/89601101-afa45100-d831-11ea-927e-84181e4e0b88.png)

Is there a reason this button is currently disabled?

[2020-08-07 03:24] dcollien opened #116 "in portal, "Functions" tab displays "No results.""
"Functions" tab displays "No results."
then 10-20 seconds later, the functions listing loads.

[2020-08-07 03:26] dcollien opened #117 ""Functions" tab in portal unfinished?"
Functions apps have:

- Code +  Test
- Integration
- Monitor
- Function Keys

as well as all the charts in the overview.

All this is missing from the "Functions" tab (clicking on each item does nothing).

[2020-08-07 14:52] matcha440 commented on #115
FYI, I found a workaround for this by using Azure CLI.  Here's the command that worked for me.  So if anyone else runs into this issue, I hope it helps them out too.

[code]

https://docs.microsoft.com/en-us/cli/azure/staticwebapp/hostname?view=azure-cli-latest#az-staticwebapp-hostname-set

[2020-08-07 15:37] miwebst commented on #117
So Static Web Apps abstracts a lot of this away from customers to simplify the experience, that being said today you can still achieve a lot of these goals:

- Code + Test - you can't do this in Portal, but the functions VS code extension is great for this
- Monitor - you can add app insights by specifying the app insights api key
- Function keys - not really relevant since you can access it by go

[2020-08-07 17:28] miwebst commented on #113
I see! Ok in that case we probably want to keep this safety for other cases but add a workflow configuration so you can adjust it if your build takes longer. We will plan something for this and get back to you. Sadly right now there isn't a quick workaround

[2020-08-08 09:24] HaykSahakyan commented on #115
I'm facing the same problem.

[2020-08-08 18:17] HaykSahakyan commented on #115
I', getting an error: "CNAMERecord is invalid.  Please ensure the CNAME record has been created."

[2020-08-08 18:51] AshirwadSatapathi commented on #105
Thanks for sharing the article Aaron.

[2020-08-08 20:38] matcha440 commented on #115
Do you have your domain setup as a CNAME to your static web app's address yet?  You have to be sure you do that first, and then give it time to propagate through DNS.  If not, then yeah this won't work.

[2020-08-09 05:06] HaykSahakyan commented on #115
Thank you! CNAME was configured (CloudFlare) but I figured out that the problem was that record was "proxied". So I switched it to "DNS only" for a moment to make it visible to Azure and successfully added my custom domain name. I can see it in Azure console and my static web app is accessible with that custom domain name.
BUT.
When I'm switching that CNAME record back to "Proxied"  I'm getting "E

[2020-08-09 06:09] HaykSahakyan commented on #115
FYI, The problem was on CloudFlare's side.

Cloudflare SSL only applies up to first level subdomains. For example, you might not be seeing any errors on the root domain (yoursite.com) and www (www.yoursite.com) over https://, but get errors on second level subdomains (test.www.yoursite.com). This can be fixed with a Cloudflare Dedicated Certificate with Custom Hostnames.

For example:

blog.yourdo

[2020-08-09 20:56] 0gust1 commented on #81
Yes ! and it could also facilitate user invitation / integration : admin-side : adding users to the app in the Azure UI is cumbersome, and user-side, even if the authentication provider is Azure Active Directory, when accessing the app the first time users get an disturbing confirmation screen. A deeper integration with Azure AD could solve this.

[2020-08-10 02:06] SeanKilleen opened #118 "Difficulty building an Angular app with SWA"
I'm working to build an angular web app and I'm having some trouble publishing with Azure Static Web apps. It appears based on my build logs that something strange happens when setting up php-composer, and it never finishes. This makes me think it might not be my app, but potentially could be my configuration causing the isuse.

My source code lives at `./src` and the output ends up in `./src/dist

[2020-08-10 06:50] adiazcan commented on #113
Ok, let me know If I can help/test this new version

[2020-08-10 07:09] dcollien opened #119 "Custom Domains "Add" button disabled"
![image](https://user-images.githubusercontent.com/794801/89758872-33a95200-db2c-11ea-9a78-8f876320784d.png)

I swear it was working the other day for me... now not so much

[2020-08-10 07:10] dcollien commented on #119
Duplicate of https://github.com/Azure/static-web-apps/issues/115

[2020-08-10 07:10] #119 closed

[2020-08-10 07:15] dcollien commented on #117
Migrating a function app over to static web apps, some of the functions used function keys for doing admin tasks, this was the main one missing.

[2020-08-10 07:23] dcollien commented on #115
Unfortunately, trying the workaround (CLI) only gives me `Operation returned an invalid status code 'Conflict'`

[2020-08-10 07:36] dcollien commented on #115
I noticed the title on the button says, "Reached maximum custom domains for a Free Static Web App. " which is very odd, since I just deleted the domain from another one to add it to this one...

[2020-08-10 07:46] HaykSahakyan commented on #115
Didn't even know that there such a limit, is there any official docs about that?
Anyhow in my case, I was going to add my very first custom domain but "Add" button was disabled.

[2020-08-10 07:53] dcollien commented on #115
That's the first I've seen it too.

I finally managed to get mine working via the CLI, here's a limerick:

There once was a limit on domains
That was giving developers pains
It was eventually consistent,
So you had to be persistent
'til the CLI no longer complains

[2020-08-10 13:25] jracc commented on #44
@alikazai - thanks.  I'm glad it helped you.
@kichalla - Any reason why the build ignores my .npmrc and still assumes the registry is registry.npmjs.org?

[2020-08-10 14:20] 0gust1 commented on #11
I second this request : we have a monorepo too, and trying to create a second SWA tied to the repo doesn't work. Same ideas and feedbacks as @johnkors

[2020-08-10 14:23] estruyf opened #120 "Support for custom Azure AD application registration"
The idea of Azure Static Web Apps is great, but the whole authentication/authorization is a bit cumbersome. It would be great if we would have the same capabilities as in the normal web apps.

![image](https://user-images.githubusercontent.com/2900833/89791359-85011380-db23-11ea-9ff5-68665a4f8b16.png)

This way we get a tighter integration into Azure AD, and user management can be done on various

[2020-08-10 15:41] miwebst commented on #118
@kichalla any ideas? looks like Oryx may be throwing when verifying the checksum?

[2020-08-10 15:43] SeanKilleen commented on #118
@miwebst that's what I was thinking at first as well.

If there's an additional setting that will provide more verbosity, please let me know and I'll include more detailed output.

[2020-08-10 15:44] miwebst commented on #115
There has always been a limit of 1 custom domain per Free Static Web App resource. The button being disabled is a regression in the Portal that we are working to fix.

[2020-08-10 15:50] miwebst commented on #117
For that scenario can you use the SWA roles to gate access to those functions to only those with an admin role?

[2020-08-10 15:50] HaykSahakyan commented on #115
Thanks! How should I make Static Web App paid resource to overcome that limit?

[2020-08-10 16:12] miwebst commented on #115
We only have the free sku today :) do you have a scenario when you need more than 1 custom domain for a single static web app?

[2020-08-10 16:16] HaykSahakyan commented on #115
There is no such scenario at this moment :) Just because you mentioned "Free" I decided to clarify :) Thank you!

[2020-08-10 16:58] miwebst commented on #115
This should be fixed now in the Portal. Sorry for the inconvenience!

[2020-08-10 17:25] kichalla commented on #118
@SeanKilleen Thanks for bringing this to our attention. Just curious, does you app actually use PHP? If you are not indeed using PHP, you can disable detection and building PHP related stuff using `DISABLE_PHP_BUILD=true` environment setting.

[2020-08-10 17:50] anthonychu opened #121 "Problems updating app settings in portal"
@medhatelmasry Ran into a couple of issues while configuring app settings in the portal. I've run into this as well.

Recording here: https://youtu.be/zU1GeIUx9TY?t=1919

* Added 5 items, but only 4 appeared to have saved
* Save button is greyed out sometimes when there are outstanding changes to save

[2020-08-10 17:59] medhatelmasry commented on #121
Thanks Anthony.

Regards,
Medhat Elmasry

*Be Kind, Be Calm, Be Safe*

On Mon, Aug 10, 2020 at 10:50 AM Anthony Chu <notifications@github.com>
wrote:

[2020-08-10 18:25] SeanKilleen commented on #118
@kichalla using that environment variable seems to have resolved the symptom -- thanks!

Is this a workaround to an issue, or something I should have done / known to do?

[2020-08-10 18:37] kichalla commented on #118
@SeanKilleen ideally you should not see this happening so what I suggested earlier was just a workaround for time . Would it be possible to share your repo so that we can try to repro the issue that you were seeing?

[2020-08-10 18:48] SeanKilleen commented on #118
@kichalla it is a private repo, but I will invite you and @miwebst as collaborators so that you can view it (it's just a brochure site for a product I'm kicking around.) . It's a pretty basic angular app which makes me think the issue will lie in either the github actions config or something going wrong with the SWA build container itself (perhaps something in oryx?)

[2020-08-10 19:05] kichalla commented on #118
@SeanKilleen Thanks for the repo details. I am taking a look at it now. Will keep you updated.

[2020-08-10 20:49] johnpapa opened #122 "dependabot should never create a preview URL"
If you have a repo which has dependabot enabled, it sometimes creates PRs.

The first PR will create the Preview URL. But for a SWA this is not desirable. It would be more valuable to be able to use it for my own PR. Otherwise, if I have 10 dependabot PRs, I have to hunt through which one caused the preview URL and close it. Closing it may not be desirable either.

I recommend we find a way to ign

[2020-08-10 21:01] btardif commented on #87
@dariagrigoriu can you get me admin access so that I can triage and tag myself?

[2020-08-10 21:01] burkeholland commented on #87
Tracking on DevOps UX as 7945735

[2020-08-10 21:21] kichalla commented on #118
On looking deeper I found that the app that you are using does have some PHP based files and hence Oryx was trying to setup the environment with the pre-reqs which it assumes might be required for successfully building the app. (I was initially thinking if Oryx's detection of PHP was incorrect but that is fine)

Now regarding the error when downloading and verifying the PHP-Composer, I am not real

[2020-08-10 21:25] SeanKilleen commented on #118
@kichalla interesting. These appear to be some files that I'd accidentally copied over from the theme. I definitely do not need PHP and the app is purely Angular (I'll be using functions or another service to handle sending mail, etc.)

I will revert the workaround and see if I can cause the issue again. 👍

[2020-08-10 21:31] SeanKilleen commented on #118
Removing the workaround indeed causes the build to fail again with the same issue -- an apparent failure at or after the "Verifying checksum" point of PHP composer.

I will remove the PHP files and see if this updates the auto-detection (I was indeed confused as to why it was attempting to add build steps for PHP).

After that point, my issue is resolved but I'm happy to continue your access -- th

[2020-08-10 21:34] SeanKilleen commented on #118
Removing the PHP files has resolved the symptom -- oryx no longer detects PHP and skips those steps.

[2020-08-11 07:00] Misiu commented on #94
@miwebst can we have an update on this?

[2020-08-11 07:01] Misiu commented on #51
@miwebst any updates?
Is there a roadmap available for static web apps or a user-voice portal?

[2020-08-11 11:11] jochenkirstaetter opened #123 "Build fails deploying a Vue.js application to SWA"
Hi,

Recently I tried to deploy an existing Vue.js application to SWA however it fails during the build process in regards to the `fibers` dev dependency which cannot be compiled and used to complete the build. The application itself is currently hosted and operational using App Services (with production and staging slots). I would like to shift this static web app to SWA if possible.

The public

[2020-08-11 11:12] CHH opened #124 "Deploy of gridsome fails with images in LFS"
Hi, I'm trying to deploy a Gridsome site and I'm getting this error in the Github Action:

[code]

[2020-08-11 11:32] #124 closed

[2020-08-11 11:52] CHH opened #125 "Warning message when repository uses LFS"
Hi, I'm using Git-LFS for the images in a project and the generated Github workflow didn't work out of the box.

It would be helpful to generate a warning message in the build log when LFS objects are present, but the repository wasn't checked out with `lfs: true`.

[2020-08-11 17:33] miwebst commented on #123
Hi @jochenkirstaetter,

Thanks for bringing this to our attention! Looking through the logs and doing a little searching it seems like we may be missing some of the dependencies for building the fibers package.

@kichalla can you take a look at these logs and see if there is anything we can do from the Oryx side.

[2020-08-11 17:34] #115 closed

[2020-08-11 17:38] miwebst commented on #94
Hi @Misiu

I dont have any updates on this right now, we've added this to our backlog but I dont have an ETA's on when this will be available.

Thanks,

Mitch

[2020-08-11 17:39] miwebst commented on #85
Hi @paynecrl97, can you retry this? This should be fixed now.

[2020-08-11 17:40] miwebst commented on #104
Do you mind retrying? This should be fixed now!

[2020-08-11 17:44] miwebst commented on #51
There is currently not a public road map and these Github pages have been serving a little as a user-voice portal. There is also an official Azure App Service user voice page that you can create items on.

As for this specific issue, we need to change how our configuration file is designed to enable a more streamlined experience when editing the headers for a particular path. We are working on thi

[2020-08-11 18:43] Misiu commented on #94
Thanks for the update

[2020-08-12 00:04] miwebst commented on #125
Hi @CHH ,

Thanks for bringing this to our attention! We can look at how to make this experience better. What was the resulting behavior in this case? Were certain files missing?

[2020-08-12 07:41] CHH commented on #125
Thanks for the reply @miwebst!

My static site generator (Gridsome) threw a very weird error related to image processing, which turned out hard to debug. First I thought it was an issue with the NPM package `sharp`, but then I remembered a similar issue with Netlify. Then I enabled `lfs: true` in the checkout action and everything worked.

[2020-08-12 08:54] estruyf commented on #120
For others that are interested in it. This will soon be supported. Verified by one of the software engineers: https://twitter.com/KarmarkarMitali/status/1292880565725614080?s=20

Keep up the good work!

[2020-08-12 08:54] #120 closed

[2020-08-12 12:48] dgard1981 opened #126 "Static Web App deployment fails - No matching static site was found or the api key was invalid"
I have created a Static Web App from the portal, but when I create a PR to run the action I see an error -

[code]

I have deleted the Static Web App and recreated it, and the issue remains.

The Static Web App was created against the 'master' branch, and I have copied the action to a feature branch that I am working on. From the 'Environments' tab it says "Staging environments are automatically c

[2020-08-12 15:05] ridomin opened #127 "How to deploy without build"
My web application does not require any `build` process, neither `node_modules` (note there is a package.json with dev dependencies).

How should I configure my GH workflow to avoid running any build at all? (files in my repo are the files I want to be served)

When I try to a get a PR validation, I got the error
[code]

what makes me thing `npm i` was executed.

[2020-08-12 18:00] ehamai commented on #114
Hi @victorp13 , you shouldn't have to revoke your original OAuth app.  Basically the issue is that authorizing our OAuth app is a point in time snapshot for the orgs that you currently have.  So if you add a new one, then you'll have to explicitly authorize that org for our app.

There's a section in this [doc ](https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?branch=pr-en-us

[2020-08-12 18:07] ianychoi opened #128 ""No api token was provided." error on pull requests from forked repo"
- Bug report: I encounter "No api token was provided." error on *Build And Deploy* job when I make a pull request from my forked repository. *azure_static_web_apps_api_token* part has not been interpret. Full logs are below:

- Question 1: Is it related with https://github.com/Azure/static-web-apps/issues/1 ?

- Question 2: If the repo does not contain any api stuff, is there some way not to use a

[2020-08-12 18:14] victorp13 commented on #114
I see what you mean about having to authorize that org for the app. But, unless I'm mistaken (very much possible) the steps you describe in bold do not apply per org, but per account. So the new org will not actually inherit this authorization.

You can reproduce this in the way I described above. There is currently no way to authorize the app to a new org on an existing granted app. At least, tha

[2020-08-12 19:43] mattetti opened #129 "/api should not be blocked in apps that don't have functions"
I create a new Hugo static app that I deployed using ASWA and everything went well except that I can't access my API docs because they are under `/api/`. I don't have any functions so that's a bit of an unexpected behavior. Since I don't know how to fix this issue, I had to change the page to my API docs which isn't ideal.

[2020-08-12 20:05] victorp13 commented on #114
Never mind, the way to do this is now clear to me. Turns out you can click "Azure Static Web Apps" in the list of Authorized OAuth apps, and get a new details page where you can Grant rights to individual Organizations. Thanks for clarifying this @ehamai!

[2020-08-12 20:05] #114 closed

[2020-08-12 20:24] miwebst commented on #128
Ah so this is the same as #1, and the api's here are actually referring to 2 different things. I see thats confusing!

So the api token its complaining about is the api token used to validate the Github Action with the content servers. This is added to your repo when you create the static web apps resource. When you fork a repo it does not copy the api token as well which is why you are seeing the

[2020-08-12 20:28] miwebst commented on #127
I assume your project does not normally have more than 4k files? npm install will happen automatically if a package.json is detected. Normally when someone does not have a build step they do not have a package.json, is there a reason you have that?

We usually see someone having all of their static content in either the root or a specific folder (with no package.json in that folder as it would be

[2020-08-12 20:30] miwebst commented on #95
The fix to ignore the .git folder in the size calculation should be available now, please let us know if you run into this again!

[2020-08-13 00:27] miwebst commented on #126
So the problem here could be related to the pull request base branch (where to merge to) not being the 'master' branch that the static web app was configured against. The error you are seeing is indicative of our service not recognizing the branch associated with this deployment.

Here are some simple steps that create a staging environment:

1. Create static web app for some repo
2. Use Github ed

[2020-08-13 08:34] dgard1981 commented on #126
@miwebst - that is exactly what is happening, and I can confirm that a PR to our 'master' branch creates a staging environment.

So does that mean that the Static Web App will only create a staging environment for PR's or commits to the branch that the Static Web App is configured against? If so, is that expected to chance before the service comes out of preview?

In our case, we have a stable 'ma

[2020-08-14 00:57] miwebst commented on #126
I see, that makes sense. Today it will only create the PR environment if the PR is going against the branch the Static Web App was created against. We have something coming that will help make your scenario a valid one (all you will need is the token and it will know you want a staging environment), I dont have an ETA for that work to share right now though.

[2020-08-14 06:03] ridomin commented on #127
I'm using package.json to install development tools like a local web server, linters, etc.. Note all [my dependencies](https://github.com/ridomin/iothub-webclient/blob/master/package.json#L16) are `devDependencies`

One workaround I found (by accident), is to include a build step in my package.json producing an [error](https://github.com/ridomin/iothub-webclient/runs/963397540?check_suite_focus=tr

[2020-08-14 14:16] theonewolf opened #130 "Renamed GitHub Project Name, Build and Deploy Now Failing"
I noticed in the past two days after we renamed our project on GitHub, our deploys are failing in the Workflow at stage "Build and Deploy" with the message:

[code]

1. Is there any method of updating our static web app configuration to the new GitHub URL?  If that is causing the issue.
2. Or, is there a way of regenerating our API token / key to make it valid again?
3. Or, do we need to delete ou

[2020-08-14 16:01] miwebst commented on #127
Ah this makes sense. Thanks for sharing the error log too, that was very helpful. So the main problem here is that we have an expectation that if we find a package.json then we will run the build or build:azure npm commands. The reason for this expectation is there were a number of customers who had issues because they built with some other command (i.e. docs:build) and thus we would not actually

[2020-08-14 18:30] miwebst commented on #130
This is a known issue that we have a fix rolling out for, unfortunately it is not based on the actual api key but rather a problem with some of our metadata. The easiest (although this is painful right now) option is to just delete your static web app and the corresponding workflow file, then recreate it against this repository. No need to create a new repository.

In the future (once our fix is d

[2020-08-14 18:55] theonewolf commented on #130
@miwebst thank you for the quick answer.  I will recreate today and let you know how it goes.

[2020-08-14 21:55] dindak opened #131 "The content server has rejected the request with: InternalServerError"
Recently our SWA deployments have not been successful. We've retried 5 times today, and gave it some time to determine if it was temporary. Currently using `Azure/static-web-apps-deploy@v0.0.1-preview` in an action step.

Let me know if additional log snippets would help, if I should be contacting a different team, or if there is a potential issue with our SWA instance. Thanks!

20 minutes ago:
[c

[2020-08-15 02:57] ridomin commented on #127
Even if you find a package.json you should not install devDependecies ever, you can do it with `npm install --only=prod`

and yes, here it is my p.json in my deployed GitHub pages site: https://mqtt.rido.dev/package.json (I didnt notice, but honestly I dont mind at all, it's also public on GitHub anyway).

My use case is to stress-out simplicity.
What I commit is what is served without any build o

[2020-08-15 02:59] ridomin commented on #127
Also, did you notice this build run succeed? https://github.com/ridomin/iothub-webclient/actions/runs/201200266 because the npm run script?

[2020-08-16 02:36] cspadmin commented on #75
my third party is seeing external ip what is not listed in my web app outbound IP?  per checking the ip that they are seeing, its part of the mcirosoft data center public ip. but why they are seeing that but its not listed in the portal?

[2020-08-16 02:37] cspadmin commented on #75
my third party is seeing external ip what is not listed in my web app outbound IP? per checking the ip that they are seeing, its part of the mcirosoft data center public ip. but why they are seeing that but its not listed in the portal?

[2020-08-16 21:51] danspark opened #132 "Add "methods" rule property to routes.json"
It looks like I can use the routes.json file to add auth to my azure functions routes, so I think it makes sense to specify which methods the routes.json rules would apply to.

In my scenario, I have a route called `api/catalog-items`, and I would like to only allow POST, PUT and DELETE for authenticated users, but GET request have no auth rules. I'm thinking an array would be the best data type,

[2020-08-16 23:27] miwebst commented on #127
So if you look at the logs for the successful case, we install the dev dependencies separately and these are not included in your final output. This is the reason your build (when you specify an npm run build) succeeds.

The overall problem you are running into is that if Oryx detects a package.json then we assume that you'd like us to build your content. As I described above, this was done becaus

[2020-08-16 23:31] miwebst commented on #75
As described above, we do not have any external IP guarantee's right now. Can you describe the use case? I'm assuming they want to add some rules based on ip address?

[2020-08-16 23:39] miwebst commented on #131
Hi @dindak, sorry to hear that y'all are running into issues! This is the right place to come to :)

Can you share some of the information regarding your SWA instance so we can check out whats going on? If you can provide the region where this static web app is and the generated hostname that would be perfect - we will be adding an issue template soon.

[2020-08-16 23:46] miwebst commented on #125
Makes sense; we can take a look to see if there is anything we can do to make this experience better!

[2020-08-17 06:48] #125 closed

[2020-08-17 07:10] anthonychu commented on #121
@ehamai @takyyon Could you please take a quick look at this?

[2020-08-17 07:52] cspadmin commented on #75
Thanks for your reply. are u saying that outbound IP cannot be whitelisted by our third party provider?  The issue here. .. is our third party provider is seeing an external IP of our web app that is not listed in Outbound IP in Azure....

[2020-08-17 07:54] cspadmin commented on #75
so i  guess , as long as the IP advertised belongs to Microsoft. you can whitelist it.

[2020-08-17 11:23] christiandornetto commented on #131
I have the exact same issue. Failed a build from a pull request and after correcting the error I cannot publish the application to the either the PR env or to the main env.

[2020-08-17 13:42] christiandornetto commented on #131
Here's more:

When I try to browse the production url, it actually takes me to the pull request staging environment (which doesn't exist as you can see from the screenshot).

![image](https://user-images.githubusercontent.com/38754730/90402701-bcc60900-e097-11ea-9182-57cb21b33e3c.png)

[2020-08-17 13:45] christiandornetto opened #133 "Remove "bad" staging environment?"
Here's more:

When I try to browse the production url, it actually takes me to the pull request staging environment (which doesn't exist as you can see from the screenshot).

![image](https://user-images.githubusercontent.com/38754730/90402701-bcc60900-e097-11ea-9182-57cb21b33e3c.png)

Staging Url: https://wonderful-coast-0c62a0e03-4.westeurope.azurestaticapps.net/

Actual Prod Url: https://wonder

[2020-08-17 13:48] christiandornetto commented on #133
As per the title. I have a static web app that is deployed on azure. Today I had a pull request submitted which caused the build pipeline failed because of a simple error which I then corrected.

I then merged the pull request but this did not delete the staging environment previously created and now when I try to navigate to the production I get redirected to the "dead" staging environment which

[2020-08-17 14:56] miwebst commented on #75
I see. Yes these IP addresses will always be owned by Microsoft. We are not currently publishing a set of these as they may expand overtime.

[2020-08-17 16:39] theonewolf commented on #130
This worked!  Two painpoints:

1. We now have to re-auth users, regenerate invite URLs, and have them re-grant permissions to a new web app.
2. Extra painful because there is not user import feature yet I don't think with auto-email invites.

[2020-08-17 16:39] #130 closed

[2020-08-17 16:53] miwebst commented on #130
Ouch, ya re-adding all the users would be painful. We need to improve this story. Thanks for reporting this!

[2020-08-17 17:19] theonewolf opened #134 "Bulk Add Users and Expand 25 User Limit?"
Background: we use Azure Static Web Apps for internal intranet documentation sites right now.

Thus, we are heavy users of **access control** and actually have none of our sites public.

We hit two problems with user management:

1. The 25 person limit is very stifling and means this product isn't actually usable for what we want it for right now.

2. There is no bulk import, or domain add say via

[2020-08-17 21:28] dindak commented on #131
Thanks @miwebst !

Region: Central US
Hostname: https://jolly-mushroom-0be828310.azurestaticapps.net

@christiandornetto has a good lead, one of our recent pull requests failed to create a new staging environment. This was a PR deploy log from 4 days ago:

[code]

[2020-08-18 08:36] dgard1981 commented on #126
@miwebst - Great to know something is on the horizon. At the moment though, as Static Web Apps only work if we interact with the 'master' branch, unfortunately it's not going to be something we can use in this case :(

[2020-08-18 11:10] jochenkirstaetter commented on #123
Hi @miwebst

Thanks for looking into it. Yes, that is causing the build to fail.

Meanwhile, I removed the `fibers` devDependency and run `npm update` on the repository. This way it builds and deploys as expected. The website runs now, and I'm playing with other options, like custom domain, HTTP headers, etc.

Thanks, JoKi

[2020-08-18 22:51] orta commented on #1
Hi folks, pretty advanced GitHub Actions user here. Now that we can have microsoft repos use SWA, I got it running for TypeScript. I have it set up to deploy for on an open source repo for external PRs, but I need to find a way to get the URL back into my PR.

Here's what I originally did:

1. I set up the repo in [azure portal](https://github.com/microsoft/TypeScript-Website/commit/0fb5bac1266433

[2020-08-18 23:12] clairernovotny commented on #1
@orta that's awesome!

[2020-08-18 23:16] miwebst commented on #1
@orta this is super cool! Having the url as an output is something a lot of folks have asked for especially for performing tests after deployment. The challenge for us is that we run inside a Docker based Github Action. Do you know of anyway to set the output for the action when using Docker based actions?

[2020-08-19 00:39] miwebst commented on #123
Awesome happy to hear that! Let us know if you run into an other issues. I'll follow up with @kichalla to see if we can figure out whats going on with fibers.

[2020-08-19 00:40] miwebst commented on #131
So this is actually being caused by new Github Action behavior: https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

We will work to get this fixed, sorry for the inconvenience!

[2020-08-19 00:46] miwebst commented on #126
Sorry to hear that! To clarify the PR feature only works when creating a pull request to merge into the branch the Static Web App is created against, not just 'master'.

Another option for you may be to create a SWA for your develop branch and one for the master branch. In that case you can still use stage sites when developing in your feature branches and also use them to verify the changes in de

[2020-08-19 02:18] dindak commented on #131
Ah that makes sense, thanks! Is there any workaround at this time, or should I just try to recreate a new SWA instance - with fork PR builds turned off?

[2020-08-19 07:34] Raisinpit opened #135 "Angular SPA 404"
I'm working on a SPA Angular app and I'm having an issue; when not on the base url a reload of the page(F5) results in a 404.
Previously when hosting in blob storage I could set a flag to redirect to the index.html and this would resolve the issue.
There doesn't seem to be a similar option for Static Web Apps.

[2020-08-19 08:23] dgard1981 commented on #126
Yep, understood, I just said 'master' as that is the branch we are using.

Thanks for the replies - I'll keep an eye on the preview to see how the service evolves.

[2020-08-19 08:56] orta commented on #1
I do, the way it works is that GH listens to specially crafted stdout messages from your action to determine outputs.

I'll assume bash (for my familiarity), but realistically it can be anything:

[code]

e.g.

[code]

Would let me pick that up in another workflow step, there's some [docs here](https://docs.github.com/en/actions/creating-actions/creating-a-docker-container-action#testing-out-your-

[2020-08-19 15:26] miwebst commented on #135
I imagine you have not added fallback routes, take a look at the docs here: https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api/6-exercise-fallback-routes?pivots=angular

[2020-08-19 16:57] kichalla commented on #123
Hi @jochenkirstaetter, thanks for your repo link. I just now investigated the issue after checking out the commit `f322d0bad8e46724a24f90228421d2705f3762f1` (this was before you removed the `fibers` dependency) and was able to reproduce the issue that you were seeing.
Based on the log output it suggested to install some pre-reqs but they were already present in the docker image, so I tried doing `

[2020-08-19 17:02] miwebst commented on #132
We will take a look at adding this, thanks for the suggestion! I see this as really only applicable to the Functions api calls and not really relevant to the static content. Does that match your expectation?

[2020-08-19 20:54] danspark commented on #132
Yeah, I guess it's only applicable to the functions back-end. As it is now it's still really useful to be able to add authentication/authorization to my functions, but I'm really curious if this is something that I am supposed to be doing, is this a planned use-case?

[2020-08-20 11:46] kichalla commented on #118
@SeanKilleen Thanks for your patience. The php-composer issue should be fixed now.

[2020-08-20 12:01] SeanKilleen commented on #118
No worries at all! Is there any confirmation you'd like me to do on my end?

[2020-08-20 14:35] Raisinpit commented on #135
@miwebst I did not, once added it worked fine. Thanks for your help! I'll be adding it to our repositories.

[2020-08-20 15:55] #135 closed

[2020-08-21 01:25] miwebst commented on #132
So there are 2 planned use cases when working with auth and Functions. One is using the routes.json to allow/deny particular sets of users based on roles. The second is using the auth information passed to the Function as a header to perform more in depth authentication checks (i.e. you may want to allow/deny based on the email of a user).

[2020-08-21 01:26] miwebst commented on #134
Agreed the 25 person limit is too restrictive, this is something that we added for preview and will relax as we make our way towards GA.

Bulk import is an interesting idea, we will keep this in mind as we continue to iterate on this model!

[2020-08-24 15:38] Swimburger commented on #105
Not sure if this was possible when you originally asked this question, but Today you can also do this without modifying the Actions.
Not sure if officially supported, but it works out of the box, check out my how-to: https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-azure-static-web-apps

[2020-08-24 15:42] Swimburger commented on #20
Not sure if this was possible when you originally asked this question, but Today you can also do this without modifying the Actions.
I think the trick is to configure the right paths when create the static web app:
![image](https://user-images.githubusercontent.com/3382717/91065694-ce129680-e5fe-11ea-8f6d-e679bbe0b7a4.png)
It works out of the box, check out my how-to: https://swimburger.net/blog/d

[2020-08-25 00:17] ridomin commented on #127
ok, I agree that having the content and p.json in the same folder is not a best practice. I can move the content to a subfolder.

Which npm script should I ran in that case?

[2020-08-25 16:27] miwebst commented on #1
Small update, we did get a working prototype of this! Thanks for the help. I will followup once we've finished testing and released it.

[2020-08-25 18:39] tdrjin opened #136 "How to make authentication work?"
I have a single page static web app built with vuejs (path being "/") and have successfully deployed it to azure static web. However, when trying to add authentication, it still takes me to the main page without asking me to log in.

my route.json looks like this:
`{
    "routes": [
        {
            "route": "/",
            "allowedRoles": ["authenticated"]
        },
        {
            "

[2020-08-25 20:31] miwebst commented on #136
This looks ok to me, did you mean to call it route.json? It should be routes.json.

[2020-08-25 20:35] miwebst commented on #129
Hi @mattetti, totally agree. I will add something to our backlog to get this fixed!

[2020-08-25 20:37] miwebst commented on #127
So if you have all of your static content in a subfolder then you can just update your workflow file to have the app_location be the new subfolder. Then your site will be treated correctly as a truly static website and will deploy as such.

[2020-08-25 20:38] miwebst commented on #128
Actually check out: https://github.com/Azure/static-web-apps/issues/131

Looks like Github Actions now allows this behavior, we have a fix coming out to handle this case. I'll post back here when it is out!

[2020-08-25 20:44] miwebst commented on #116
This is most likely due to Functions host cold starting. I expect that if you hit the function app and then go to the Portal (after previously not visiting it via Portal) then it would be much more responsive.

[2020-08-25 20:45] #104 closed

[2020-08-25 20:45] #103 closed

[2020-08-25 20:50] kichalla commented on #118
No that is not required. Thanks for all the help!

[2020-08-25 20:52] #118 closed

[2020-08-25 20:58] #85 closed

[2020-08-25 21:54] kichalla commented on #99
@MrThePlague You can use the following environment variable to list packages that you want to be installed as part of the build:

[code]

Example:
![image](https://user-images.githubusercontent.com/6559784/91231819-c2989b80-e6e2-11ea-8b45-8767f806164c.png)

[2020-08-26 05:46] nogic1008 commented on #122
As a workaround, My app limited SWA workflow as below.
[code]
[workflow](https://github.com/ddradar/ddradar/blob/master/.github/workflows/azure-static-web-apps-lemon-water-096a66800.yml)

[2020-08-26 07:33] tdrjin commented on #136
Yea, that was the issue. Thanks for the help!

[2020-08-26 07:33] #136 closed

[2020-08-26 17:42] miwebst commented on #77
Hey @PhilLepanto sorry for the delay on this. So I'd encourage you to try out the VS Code extension for Static Web Apps: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurestaticwebapps

It streamlines running the functions and project side-by-side so it may simplify the local development challenges you are facing.

[2020-08-26 18:40] miwebst commented on #86
Hi @nogic1008, I understand the concern here. Today its not anyone can just publish a PR to update your api, they need to be a contributor to your repository in order to access the api secret for deploying. So the scope should really be anyone who has contributor access to your repo.

As for why this is implemented that way, its to make the preview process as simple as possible. If we remove this

[2020-08-27 00:11] nogic1008 commented on #86
@miwebst
In my app I changed as below:
- Create two branches, `master` and `release`
- Create two environments for staging(`master`) and production(`release`)
- Remove `pull_request` trigger on [production workflow](https://github.com/ddradar/ddradar/blob/master/.github/workflows/azure-static-web-apps-red-tree-09d43c100.yml) only

I think you need to comment out the `pull_request` trigger in the g

[2020-08-27 00:15] miwebst commented on #86
This is a feature that is cool and we want people to take advantage of. I don't know if I agree with the proposed security risk unless there is someone with contributor access to your repository that can't be trusted.

Also just curious, but couldn't the bad actor add the trigger back to the production workflow file and essentially opt you back in? I believe the opt-out mechanism would need to be

[2020-08-27 00:44] nogic1008 commented on #86
I didn't think about that possibility, hmm...

Is it possible to prepared another value as default instead of using a production environment variable?
Currently it can only be changed after the staging environment has been deployed.

[2020-08-27 01:48] mikelhamer opened #137 "Start/Stop app"
It would be nice to have the feature to start or stop an app from the CLI or web gui

[2020-08-27 03:17] miwebst commented on #86
The problem is that we dont know the significance of the value. For example, consider an application where the owner is using a Function to write some content to CosmosDb. The function will need access to the cosmos connection string and lets assume it will throw 500's if it is not present. If we try to insert some default value or don't copy over the production environments settings then the stag

[2020-08-27 10:05] tdrjin opened #138 "Is it possible to restrict IP addresses for my static web app?"
I have a vuejs app and want to restrict the access to office IP only. Is there an easy way to do it? Many thanks.

[2020-08-27 13:23] thllbrg opened #139 "The number of files in the app content folder exceeds the limit of 4000."
Trying to use a few dependencies in the function app prevents github actions from uploading to azure.

Error message:
---End of Oryx build logs---
Function Runtime Information. OS: Linux, Functions Runtime: v3, Node version: 12.X
Finished building function app with Oryx
Zipping App Artifacts
Done Zipping App Artifacts
Zipping Api Artifacts
Done Zipping Api Artifacts
The content server has rejected

[2020-08-27 21:59] raahmed opened #140 "Oryx Build Gives Error if Optional Parameters are not set"
According to the Static Web Apps tutorial, the app artifact location is not a necessary parameter for creating a static web-app:

![image](https://user-images.githubusercontent.com/25991359/91498992-906b7300-e875-11ea-8635-e6a93f0a8c9c.png)

However, if a user attempts to deploy a static web-app without this parameter (reference [file](https://github.com/raahmed/knboard/blob/master/.github/workflo

[2020-08-28 00:04] miwebst commented on #140
This looks to be a repeat of this: https://github.com/Azure/static-web-apps/issues/4

Basically this parameter is optional depending on your application type. If you aren't using a framework (i.e. pure html/css), then this is optional you dont need it. If you are using a framework (React in your case), you should provide this property.

Looking at your application it should be set to  `build `  as

[2020-08-28 00:09] miwebst commented on #139
Hi @thllbrg, this looks like a bug on our side. The root of the bug has to deal with how we are installing dependencies.

For a workaround, if you move your index.html and style.css into a folder called app and then change your workflow's app_location to be app then this should work.

In the meantime we will investigate what needs to be done to fix this issue!