[2022-08-18 10:23] vivekjilla commented on #888
Hi @TrplM the validation token gets generated when the certificate is nearing expiry and for renewal, Digicert + SWA will automatically take care of generating the token and returning it when the fileauth.txt endpoint is accessed, when it's nearing expiry.

As you created the certificates today, they won't expire for next 6 months.

So, what we need to make sure is that the request is actually rea

[2022-08-18 10:26] vivekjilla commented on #886
@ZavenLepedjian Oh okay. Then, is it possible to give me access to your pipeline or provide an accessible repro, where I can look into further to get to the bottom of this? Thanks!

[2022-08-18 10:30] ZavenLepedjian commented on #886
@vivekjilla it is very difficult for me to give you access to the pipeline as it is the company's release pipeline. maybe we can have a call and share screen so that you can look into it?
Also, even though I tried using incognito but, do you think this might be a problem of caching? Maybe the appsettings has been updated but it has been cached?

[2022-08-18 12:12] TrplM commented on #888
Happy to take this offline or over to a support ticket if required?

But still a little unclear as to the root cause, and what I would need to do to resolve. If the file exists there should be no issues accessing the file through the custom domain with Cloudflare proxying the request.

I've uploaded a test file, and get some strange behaviour. Still investigating whether it is an issue with Cloudf

[2022-08-18 12:48] Reshmi-Sriram commented on #22
Apologies, we missed on updating this issue thread!
Static Web Apps announced support for [Named Preview Environments ](https://docs.microsoft.com/en-gb/azure/static-web-apps/named-environments?tabs=github-actions)in May 2022. This enables one to add a custom prefix to the default generated URL, thus eliminating the need to have multiple Custom Domains for different environments.

Do let us know i

[2022-08-18 12:49] Reshmi-Sriram commented on #205
Apologies, we missed on updating this issue thread!
Static Web Apps announced support for [Named Preview Environments ](https://docs.microsoft.com/en-gb/azure/static-web-apps/named-environments?tabs=github-actions)in May 2022. This enables one to add a custom prefix to the default generated URL.

Do let us know if this helps solve your problems! :)

[2022-08-18 12:49] #205 closed

[2022-08-18 12:55] Reshmi-Sriram commented on #551
Apologies, we missed on updating this issue thread!
Static Web Apps announced support for [Named Preview Environments ](https://docs.microsoft.com/en-gb/azure/static-web-apps/named-environments?tabs=github-actions) as well as [Stable Staging Preview Environments ](https://docs.microsoft.com/en-us/azure/static-web-apps/preview-environments)in May 2022. This enables one to add a custom prefix to the

[2022-08-18 12:56] vivekjilla commented on #888
@TrplM This seems like it has something to do with configuration in Cloudflare. I don't have much context on that. Can you check if the cloudflare is actually proxying the request to the same endpoint with default hostname or if it's doing something else?

[2022-08-18 12:56] Reshmi-Sriram commented on #564
Apologies, we missed on updating this issue thread!
Static Web Apps announced support for [Named Preview Environments ](https://docs.microsoft.com/en-gb/azure/static-web-apps/named-environments?tabs=github-actions) as well as [Stable Staging Preview Environments ](https://docs.microsoft.com/en-us/azure/static-web-apps/preview-environments)in May 2022. This enables one to add a custom prefix to the

[2022-08-18 12:58] Reshmi-Sriram commented on #611
Closing this ticket, feel free to re-open if any concerns!

[2022-08-18 12:58] #611 closed

[2022-08-18 13:01] TrplM commented on #888
@vivekjilla Will feedback as soon as I have narrowed it down. All other routes work, just the /.well-known is returning 404

[2022-08-18 13:04] Strepto commented on #564
None of these seem to work around our problems, as they would require the named environment to be placed in a subdomain of the SWA site. `https://namedEnv.cool-castle-ABCDE.azurewebsites.net` for instance.

Meanwhile the current workaround we have implemented is to automate adding CORS and redirect URIs to our backend services for our next 50 pull requests.

[2022-08-18 13:07] Reshmi-Sriram commented on #604
Apologies, we missed on updating this issue thread!
Static Web Apps announced support for [Named Preview Environments ](https://docs.microsoft.com/en-gb/azure/static-web-apps/named-environments?tabs=azure-devops)as well as [Stable Staging Preview Environments ](https://docs.microsoft.com/en-us/azure/static-web-apps/preview-environments)in May 2022. This enables one to add a custom prefix to the de

[2022-08-18 13:09] Strepto commented on #873
One thing that may cause this is that the PR has a new push, but is merged before the last build from Azure Static WebApp is done. This seems to re-open the PR environment when the build is done, but the PR is already merged by then. So there will be no "Close PR" action happening after.

Maybe the action should check if the PR already is closed before re-deploying a new environment in the SWA?

[2022-08-18 13:16] laika1234 opened #889 "Can managed function scale like regular function?"
When requests increase, can managed function scale like regular function?

[2022-08-18 13:20] hugoforte opened #890 "Static web app using Azure AD B2c for sign in does not work"
I edited this project to enable aad b2c as my auth provider: [Static Web Template](https://github.com/MicrosoftDocs/mslearn-staticwebapp-authentication)

**Expected behavior**
When going to https://gentle-flower-02ac39b0f.1.azurestaticapps.net/.auth/login/aab2c, I'm expecting to get the aadb2c login/create user screen, but instead I'm getting a 404

aad, twitter, and github logins are working as a

[2022-08-18 13:21] hugoforte commented on #884
@vivekjilla
Thanks - I created it here: https://github.com/Azure/static-web-apps/issues/890

[2022-08-18 13:22] rellis-of-rhindleton commented on #551
Can't speak for others in this thread, but I think this is good enough for us. Thanks.

[2022-08-18 13:43] Reshmi-Sriram commented on #510
Hi @jtheisen ,
Could you please elaborate what exactly are you looking for here? As @anthonychu mentioned in [this ](https://github.com/Azure/static-web-apps/issues/510#issuecomment-1064686558)comment, we do have support for splitting build and release between different stages, thus letting you run the build once in the building stage, and then using `skip_app_build:true` in the other stages, sour

[2022-08-18 13:45] Reshmi-Sriram commented on #298
Closing this issue, feel free to re-open!

[2022-08-18 13:45] #298 closed

[2022-08-18 13:46] Reshmi-Sriram commented on #392
Closing this issue!

[2022-08-18 13:46] #392 closed

[2022-08-18 13:54] arthubms commented on #213
Hi
We are now experiencing the exact oposite. In a Static Web App with a Custom OpenID Connect Authentication provider, sessions stay persistent even after the browser has be closed and reopened. We notice in Fiddler that the StaticWebAppsAuthCookie is given an explicit 8 hours lifetime (which to our understanding prevents it from acting as a session cookie). This leads to sessions staying open an

[2022-08-18 14:03] vivekjilla commented on #888
@TrplM Hey, just wanted to share one more thing I just realized. Sorry for the delay.

This could very well be expected behavior. Only when the cert renewal is in progress, would we see some the token response back on that endpoint otherwise we would get the 404.

Also the response for this endpoint depends on which hostname we're using to call it, and as default hostnames are completely managed b

[2022-08-18 14:06] SchulteMarkus commented on #604
Already using it for a couple of weeks - awesome!

[2022-08-18 14:19] Reshmi-Sriram commented on #134
Closing the issue, feel free to re-open if necessary!

[2022-08-18 14:19] #134 closed

[2022-08-18 14:23] Reshmi-Sriram commented on #108
Closing the issue, feel free to re-open if needed!

[2022-08-18 14:23] #108 closed

[2022-08-18 14:37] vivekjilla commented on #890
Hey @hugoforte Looked into this a bit more. Looks like you're using the Free SKU plan, and the custom authentication is supported only in Standard SKU. This could be the reason why the custom auth domain endpoint is not working for you.
https://docs.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=aad

Can you please try using Standard SKU and see if this works.

Apologies for

[2022-08-18 14:48] vivekjilla commented on #886
@ZavenLepedjian sure. Please send a mail to me at vijilla@microsoft.com , We can discuss further there.
I can't think of a reason why this could be happening, at this point.

[2022-08-18 14:56] hugoforte commented on #890
Trying it now - and I submitted a bug for the document: https://github.com/MicrosoftDocs/azure-docs/issues/97282

[2022-08-18 15:04] Danish-Mentorange opened #891 "Build failing in GitHub actions for fsevents"
**Describe the bug**

I am using the `Azure/static-web-apps-deploy@v1` in my GitHub actions and it keeps failing for the following error:

This `.yml` file was created automatically during the Static Web App creation as stated in Microsoft Docs. Later I just added a regular React code under _app_ folder.

The React app + api locally works without issues; but getting error when the GitHub actions t

[2022-08-18 15:10] jacksorjacksor commented on #887
AH I think I've found why.

For me this issue was resolved when I connected my Azure DevOps account to Azure Active Directory. When logged into the associated Azure Portal I was then able to deploy directly from Azure DevOps to a newly created SWA instance.

[2022-08-18 18:29] bmaruyama commented on #884
Vivek,

Yes, it looks like I missed that step. I was concerned that I had run into another variation of the bug I fixed previously.  Thank you so much for your assistance, I am grateful for such a fast response.

Brett

[2022-08-18 18:29] #884 closed

[2022-08-18 18:53] sachin-rathor commented on #891
Hi @Danish-Mentorange,

Thanks for reaching out!

Could you please share us the sample repo, .yml and package.json file with us?
Also, could you share GitHub Actions logs with us?

Thanks!

[2022-08-18 20:24] hugoforte commented on #890
With the upgraded plan, I got further - I get to the login screen, but I'm getting an error after logging in:
`The redirect URI 'https://gentle-flower-02ac39b0f.1.azurestaticapps.net/.auth/login/aadb2c/callback' provided in the request is not registered for the client id 'fd887dd0-3b7d-42f3-9c2a-b4dabce22e56'.
Correlation ID: b1729eac-fabb-446b-b515-3ea2a82f4b66`

This is my setup:
![image](https:

[2022-08-18 20:51] fralik commented on #594
Any news on that? I am experience the same issue on a computer located in a public space. After I log in and then log out from the app, anyone could re-log on my behalf.

[2022-08-18 22:01] TellonUK commented on #594
My custom identity provider (Azure B2C) has a logout URL. I was able to goto that logout URL (logging out of my Azure B2C tenant) then have that redirect to the Azure SWA url for logout, which would trigger a local logout of the SWA. This allowed me to excite some cleanup code, logout of the IDP and SWA.

[2022-08-18 22:40] jtheisen commented on #510
Ok, I didn't look too closely at that.

Some minor question about that: `AzureStaticWebApp@0` doesn't do only the build and I need to run the build with other tasks, right?

[2022-08-19 01:22] vivekjilla commented on #890
Can you checkout issue #857 and see if that solution works.

[2022-08-19 01:24] hugoforte commented on #890
Haha, great minds and all that - I was literally on this when you posted. I tried this already - no luck, still got the same issue.

[2022-08-19 01:55] hugoforte commented on #890
I also tried changing the nameClaimType to emails as per stack overflow here:
https://stackoverflow.com/questions/68691169/configuring-an-azure-static-web-app-to-authenticate-using-azure-ad-b2c

Still no luck.

[2022-08-19 07:07] ZavenLepedjian commented on #886
Thanks @vivekjilla , I will contact you soon via email

[2022-08-19 07:38] johnkors commented on #108
Allow-Origin: * is not a _solution_ . It's just bypassing the issue.

[2022-08-19 18:23] KYOLIO opened #892 "Problema con azure"
Tengo problema al momento de subir un proyecto a azure ya que en la acción de github dice que no se encuentra la dirección del archivo

[2022-08-19 20:25] hugoforte commented on #890
Any ideas about this one @vivekjilla?

[2022-08-19 23:59] ShanonJackson commented on #803
Think this is a pretty critical feature.

Consider applications where some routes are actually served server-side rendered (**SSR**) (common in NextJS, but also in other frameworks). In this case you would want a route that's SSR'ed to be handled like this. If the route is /users/* for viewing a user profile.

[code]
However, I think this should be handled via capture as well which would make it n

[2022-08-20 01:50] vivekjilla commented on #890
@mkarmark any ideas here?

[2022-08-20 04:57] ShanonJackson commented on #803
@robersonliou and SWA team.

Sorry there is a easy and straight forward way to do this, follow the SWA Azure front door documentation, then use azure front door's rewrite system which has more advanced capture group, nested wildcard, etc support.

[2022-08-20 05:37] vivekjilla commented on #890
@hugoforte just curious, in the screenshot you provided above about the application claims, "Email Addresses" is unchecked right now. Can you maybe select that as well and see if that works?

[2022-08-20 12:00] ArvindRSingh opened #893 "GitHub action deploying Hugo to Azure Static web apps failed with Error: Oops... An unexpected error has occurred"
## What happened?
A recent attempt to deploy the Hugo site failed through GitHub actions.
Re-deployment of the old build that was successful 4 days back failed today.  😞

![image](https://user-images.githubusercontent.com/2056238/185640623-499a75f2-eb36-41fc-a00a-1ee313d6045e.png)

## GitHub action Log
[code]

## Github Action

[code]

It would be extremely helpful to see something more than "Erro

[2022-08-21 04:25] sachin-rathor commented on #893
Hi @ArvindRSingh,

Thank You for reporting this issue on the Oryx as this seems to be Oryx issue only.
Reference for issue reported on the Oryx: https://github.com/microsoft/Oryx/issues/1525

Thanks!

[2022-08-21 04:30] sachin-rathor commented on #892
Hi @KYOLIO,

Thank You for reaching out to us.

Could you please share basic details about the app like GitHub Action logs, .yml file, static web app details etc. with us?

Thanks!

[2022-08-21 19:42] Danish-Mentorange commented on #891
Please find the requested info as attached. I have renamed sensitive info to some other names. Also package.json & .yml extension is uploaded as `.txt`

[log.zip](https://github.com/Azure/static-web-apps/files/9389841/log.zip)
[package.txt](https://github.com/Azure/static-web-apps/files/9389842/package.txt)
[azure-static-web-apps-build-and-deploy.txt](https://github.com/Azure/static-web-apps/files

[2022-08-22 08:54] stephane-vanraes commented on #72
Is there any news on this ?

We are hosting a SvelteKit app on azure and their latest routing system generates file like `+layout-123456.css`, the plus sign in the name causes those assets to have a 404, making azure static web apps unusable for that framework.

[2022-08-22 11:06] mdanka commented on #890
I have exactly the same issue. I have "email addresses" checked, the same issue.

[2022-08-22 11:33] mdanka commented on #890
I've change the `login` section within the `auth` section in the config file to the following, and now it seems to work:

[code]

Thank you!

[2022-08-22 11:40] MichaelOdumosu57 opened #894 "Build failed becuase github actions or azure static web apps cant find the output directory, or something is wrong with the outpot directory"
**Describe the bug**
Followed offical tutorial for deploying webapps to azure
error
![image](https://user-images.githubusercontent.com/21322737/185912709-e9694381-f573-4862-abb8-9f298e11495c.png)
__FILE__ github_actions.yml
[code]

__FILE staticwebapp.config.json __

[code]

[2022-08-22 13:02] danbasszeti opened #895 "Static Web Apps should generate an Allow header for 405 errors for better debugging"
**Is your feature request related to a problem? Please describe.**
I was building a react app that sent a POST request to the bundled function app with Azure Static Web Apps and it kept replying with a 405 error, Method Not Allowed. It took me a while but I eventually worked out that I had dropped off the /api at the start of my request, so it was trying to hit the static server rather than the fu

[2022-08-22 15:20] hubstream-dev opened #896 "Regression? : The process '/usr/bin/bash' failed with exit code 1"
It seems like this bug is back?
https://github.com/Azure/static-web-apps/issues/776

Friday Aug 19th 2022, I started getting the below error. oryx runs fine, with no issues.
I've tried removing api directory, blanking api directory, and having "/," all suggestions from the web.
This is a visualstudio.com repo.

[code]

[2022-08-22 16:20] sachin-rathor commented on #894
Hi @MichaelOdumosu57,

Thanks for reaching out.

Could you please try to build/deploy your app again by with **output_location: "dist/angular-app**"

Thanks!

[2022-08-23 02:45] MichaelOdumosu57 commented on #894
if you look at the github repo here you will find it is https://github.com/MichaelOdumosu57/my-static-azure-web-app

[2022-08-23 04:18] vivekjilla commented on #894
Hi @MichaelOdumosu57 your `app_location` is correctly set already.
 `output_location` should be updated to `dist/angular-app` at https://github.com/MichaelOdumosu57/my-static-azure-web-app/blob/main/.github/workflows/azure-static-web-apps-icy-ground-0ee4ed70f.yml#L32

Can you please try this change and let us know if it works.
[code]

[2022-08-23 04:35] sachin-rathor commented on #894
Hi @MichaelOdumosu57,

Please use below configuration:
`app_location: "/angular-app" # App source code path`
`output_location: "dist/angular-app"`

I tried to repro your step with above configuration. I'm able to build/deploy app successfully.
Reference GitHub Action logs: https://github.com/sachin-rathor/894/runs/7965830235?check_suite_focus=true
Reference .yml file: https://github.com/sachin-rat

[2022-08-23 07:57] sachin-rathor commented on #891
Hi @Danish-Mentorange,

We're unable to repro it. Could you please check again if it is still occurring?
Would it be possible for you to share your repo or sample repo with us?

Thanks!

[2022-08-23 08:01] sachin-rathor commented on #896
Hi @hubstream-dev,

Thanks! for reaching out.

Could you share the defaulthostname and .yml with us?

Thanks!

[2022-08-23 11:53] hugoforte commented on #890
@mdanka, thank you!! That seemed to do the trick.
@vivekjilla, @mkarmark - is there some documentation I can take a look at to understand what I just changed?

[2022-08-23 12:21] mdanka commented on #890
@hugoforte I'm glad that worked! Your explanation also makes sense.

My final question here would be then similar to yours above: what is the function of the `login` block / what's the purpose of this field? I think this cannot be the field to identify the user. What should be configured there then?

[2022-08-23 14:09] hubstream-dev commented on #896
Where do I find the defaulthostname?

.yml below
(I disabled downloading Hugo, as Oryx is ignoring what I do anyway)
(with or without that script, it fails with the same error)
[code]

[2022-08-23 14:30] #889 closed

[2022-08-23 14:49] woodman231 opened #897 "Claims missing from x-ms-client-principal"
**Describe the bug**

When deserializing the x-ms-client-principal header the claims are missing; however, the claims can be seen at /.auth/me/

I will say though that the claims are available in the "StaticWebAppsAuthCookie". I can use this "StaticWebAppsAuthCookie" in development. However in an Azure Environment I can not use the StaticWebAppsAuthCookie because I cannot decrypt it.

To be a litt

[2022-08-23 17:18] woodman231 commented on #897
I decided that since I can use that cookie in postman and then go to /.auth/me, that I could create an HTTP Client and go to {produrl}/.auth/me while in the Function with the cookie that was provided. Again this works in development, but does not work in production. In production it gives me a 401, not authorized. Which doesn't make allot of sense to me. Why would I be able to make an HTTP Request

[2022-08-24 08:03] sachin-rathor commented on #896
Hi @hubstream-dev,

Could you share your sitename with us?

Thanks!

[2022-08-24 13:38] remirobichet commented on #897
I'm facing the exact same issue.
Claims are missing after deserializing the x-ms-client-principal header in my code. But claims are available at `/.auth/me`

Everything was working fine 2 weeks ago.
This issue breaks all access to my swa 😢

[2022-08-24 14:29] Strepto opened #898 "Static-Web-App fails to clean environment when PR is closed quickly after a push."
**Describe the bug**

The github action does not check if the PR is still open, and before it deploys a new environment. Deployment is done even though the "Closed PR" action is finished, and the environment should be closed. This leaves dangling environments in the Azure Static Web App portal, which admins need to clean up regularly.

![image](https://user-images.githubusercontent.com/3185998/186

[2022-08-24 15:30] hubstream-dev commented on #896
Do you mean
https://proud-sea-0a9a87310.1.azurestaticapps.net/

or the repo location? Or something else?

[2022-08-24 23:43] hubstream-dev commented on #896
In my folder, I had a **package-lock.json**, which was causing this error. It's a simple Hugo site with no dependencies, so it doesn't need to be there. It was put there automatically when I tried to upgrade the hugo version. I did not edit it.

[2022-08-24 23:43] #896 closed

[2022-08-25 02:29] chriskuech commented on #873
Hey just as a data point, this has occurred again.

[2022-08-25 18:36] mishapos commented on #895
Hi, thank you for using Static Web Apps and for the great suggestion! We have a fix rolling out soon that will add the Allow header to 405 responses.

[2022-08-25 18:44] mishapos commented on #898
Hi @Strepto thank you for using Static Web Apps! Could you please elaborate more on the expected behavior? Would you not like staging environments to be created at all for your PRs? Or is there a way to determine which PRs need staging environments and which dont?

Depending on that, it could be possible to modify the `if` condition on the Azure Static Web App Job to not run the job at all.

`if:

[2022-08-26 06:04] ZavenLepedjian commented on #886
@vivekjilla I contacted you a week ago via email and didn't get any response.

[2022-08-26 06:52] Strepto commented on #898
I expect that the PR environment is NOT deployed if the PR is already closed at the time the "deploy" step of the static-web-app build job starts. Because this leaves unexpected manual cleanup in Azure, which not all developers have access to.

[code]

The last two steps here are unexpected for me. But that might be up to personal preference.

[2022-08-26 07:11] vivekjilla commented on #886
@ZavenLepedjian I'm really sorry about that but  I didn't see any mail or can't seem to find. Can you please check again and also send me the subject I can search for.

[2022-08-26 08:46] victorienfotsing opened #899 "Staging deployment environment with Bitbucket pipeline"
I could successfully deploy my project into the production environment using the provided documentation https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/static-web-apps/bitbucket.md

But there are no information about how to deploy to other environments than production, e.g: staging, qa, release ...
With Azure pipeline, the value can be set throw the deployment_environment parameter.

[2022-08-26 10:41] RichardPoes opened #900 "Issues communicating with content server during deploy"
Hi,
During a regular deploy, we suddenly got the following error.
![image](https://user-images.githubusercontent.com/30719799/186886263-e39ff228-ee10-4ca7-9e0d-92c9cd8070bb.png)
It seems that this issue is bigger than our repository, as other colleagues of me appear to have the same issue.
I cannot find any issues on https://status.azure.com/en-gb/status. Is anyone having the same issues, thereby

[2022-08-26 10:43] lapin7771n commented on #900
+1

[2022-08-26 10:53] kayijyc commented on #900
+1

[2022-08-26 10:54] elisendamonserrat commented on #900
I am also having the same issue. I have been trying to run the job several times this morning but I keep getting the same issue

[2022-08-26 10:57] JacobToftgaardRasmussen commented on #900
+1

[2022-08-26 11:04] dexianta commented on #900
+1

[2022-08-26 11:12] maickelr commented on #900
Experiencing the same problem here!

[2022-08-26 11:37] hartman commented on #900
I tried to deploy a new static web app and the deploy failed with:  BadRequest
[code]

[2022-08-26 11:44] RichardPoes commented on #900
It is working again now.

[2022-08-26 11:50] maickelr commented on #900
Hit and miss it seems... every now and then it works if you keep trying. But not consistently.
Also getting 'InternalServerError now'

[2022-08-26 11:57] RichardPoes commented on #900
You are correct. This seems to be happening to my colleagues as well. I find it rather strange that no other information is given. Both on Azure Status and on the [Twitter Account of Azure SWA](https://twitter.com/azurestaticapps) nothing is stated. I wonder where I would need to go for more info.

[2022-08-26 12:22] mkozik1 opened #901 "The content server has unexpectedly rejected the request with: InternalServerError"
**Describe the bug**
In "Build and Deploy Job" I started getting now:
The content server has unexpectedly rejected the request with: InternalServerError

This is ionic/angular application. The recent commit just have some minor changes.

`Build at: 2022-08-26T09:58:20.403Z - Hash: 76c7fa6d799baa57 - Time: 23394ms
Preparing output...

Copying files to destination directory '/bin/staticsites/ss-oryx

[2022-08-26 12:29] johnknoop commented on #901
I'm getting this too

[2022-08-26 12:35] mruben0 commented on #900
Same for me

[2022-08-26 12:39] bioniqMK commented on #901
Me too

[2022-08-26 12:43] bioniqMK commented on #900
+ 1

[2022-08-26 12:48] Sinnaj94 commented on #901
Experiencing this behavior too.

[2022-08-26 12:49] Sinnaj94 commented on #900
+ 1

[2022-08-26 12:53] JesseDeBruijne commented on #901
Same here! It's saying this:

[code]

[2022-08-26 13:12] kayijyc commented on #900
It seems to work now. Been triggering the deploy intermittently for the past few hours 😅

[2022-08-26 13:36] mkozik1 commented on #901
Looks like it is working now, when i re-run workflow.

[2022-08-26 17:54] mishapos commented on #901
Hi, could you please share your deployment ID from earlier in the action logs and we can investigate the issue. Thanks!

[2022-08-26 18:16] mishapos commented on #899
Hi, we are working on adding documentation for this.

If you add the environment variable `DEPLOYMENT_ENVIRONMENT` to your BitBucket pipeline task, and set it to the value of the environment you want to deploy to (`staging`, `qa`, etc), then that task will deploy to the specified environment.

[2022-08-26 18:17] mishapos commented on #900
Hi, could you please share your deployment ID from earlier in the action logs and your default hostname. We can then check what was going on. Thanks!

[2022-08-26 18:55] johnknoop commented on #901
I re-ran the job later on, which completed successfully, and I'm not sure how to find the log of a previous attempt of the same run in Github Actions.

[2022-08-26 21:04] trv893 commented on #302
Confirming having same issue today. The fix mentioned:

In package.json

` "scripts": {
    "start": "react-scripts start",
    **"build": "CI= react-scripts build",**
    "test": "react-scripts test",
    "eject": "react-scripts eject",
    "predeploy": "npm run build",
    "deploy": "gh-pages -d build"
  }`

[2022-08-27 02:00] vivekjilla commented on #901
@johnknoop to get the logs of the first attempt of the run you can add `attempts/1` at the end.
e.g: https://github.com/user/repo/actions/runs/1234/attempts/1

[2022-08-27 16:24] tobiasdiez commented on #741
@mishapos This is great news. Are there any plans in the near future to support pull request preview environments and update `az staticwebapp functions link` to support environments?

[2022-08-27 16:54] tobiasdiez commented on #419
@anthonychu Is there any update concerning linking a function app’s non-production slot? It seems like a common-enough scenario that you have preproduction environments for static web apps and function apps that you would like to link together.

[2022-08-27 17:19] tobiasdiez commented on #801
I also get the same error, 500 return code and "Backend call failure". However, in my case, this already happens after 10 sec.

As a first step towards a fix, could the "Backend call failure" please be logged to Application insights. It's so strange to see the function succeed with 200, don't see anything in the trace nor exception logs but still get a 500 error as the response.

[2022-08-27 17:26] alexkyse1 commented on #749
Hello @Reshmi-Sriram !

Any development updates related to SSR? How is it going?

[2022-08-27 19:33] johnknoop commented on #901
@vivekjilla

DeploymentId: 1539584c-79a8-4f68-a566-eddc774f05c8

[2022-08-27 23:51] victorienfotsing commented on #899
Thanks it works 👍🏾

[2022-08-28 00:21] ShanonJackson commented on #749
https://github.com/ShanonJackson/nextjs-azure

If you're looking for SSR please It would be good to have some people try out the library so I can start to get a feel for what's still outstanding.

Very close to production ready, and the initial results are that it's around 30-50% faster than Vercel.

This library can be plug-and-played with static-web-apps but I'd recommend using the infrastructur

[2022-08-28 01:47] thetitan commented on #887
Thank you @jacksorjacksor. This did the trick for me. For anyone with the same issue, the connection is done in DevOps, under Organization Settings, on the Azure AD tab.

[2022-08-28 12:57] mkozik1 commented on #901
Hi @mishapos
The one that failed for me was DeploymentId: 107aec18-8bd5-4bfa-ab1a-989b8b3e7c32

[2022-08-29 06:10] sachin-rathor commented on #897
Hi @woodman231,

Thanks for reaching out!

Today we do not pass the claims attribute to the backend, but would like to understand your use case for accessing the claims property in your backend and what exactly are you looking for which can't be achieved using the existing properties shared today.

Thanks!

[2022-08-29 06:19] JesseDeBruijne commented on #901
@mishapos (One of) my failed run(s) is:

[code]

[2022-08-29 07:21] remirobichet commented on #897
I'm a bit confused, the documentation mention the `claims` attribute in the "Client principal data" section. It also mention the way to retrieve data from backend in "API functions" section. ("The API functions available in Static Web Apps via the Azure Functions backend have access to the same user information as a client application") 🤔
https://docs.microsoft.com/en-us/azure/static-web-apps/user

[2022-08-29 08:27] mariussm commented on #628
Also having this issue. Please add support for spaces.

[2022-08-29 08:54] ZavenLepedjian commented on #886
@vivekjilla here's the subject of the email sent.
Azure static web app appsettings.json file modification
Hope to hear from you soon.

[2022-08-29 09:28] GKanitz commented on #801
Hi I also see the 500 "backend call failure". I use Azure Static Web Apps with bring your own function. I have one function that takes about 60 seconds to complete and usually the first time I call it after a re deployment it returns this error. There AI logs show that the function completes with 200 so I currently have no means to track down where this is coming from.

[2022-08-29 13:00] ryanbuening commented on #813
@hobpet I have the same question at the moment. What process did you end up using?

[2022-08-30 09:08] kiranpradeep commented on #373
Is there an update on this? For us, the whitelist comes from Akamai.

[2022-08-30 20:17] benbeck764 opened #902 "Caching of Static Web App Consent Page With Front Door"
**Issue**

I've setup and configured an Azure Static Web App to utilize Azure Front Door as an entry point precisely following all of the steps [here](https://docs.microsoft.com/azure/static-web-apps/front-door-manual).

After doing so, it seems that the consent page served from https://identity.azurestaticapps.net/.auth/login/done appears to be displayed upon every single login. (**Note**: This w

[2022-08-31 07:47] irwinwilliams opened #903 "CryptographicException causing function host to shut down"
**Describe the bug**
When I attempt to start the app, I get this error:

An error occurred while trying to encrypt the provided data. Refer to the inner exception for more information. For more information go to http://aka.ms/dataprotectionwarning Could not find any recognizable digits.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
The func

[2022-08-31 12:14] Karan-S-dev opened #904 "Deployment failed without giving any reasons"
I have deployed my website using github actions (CI/CD). But nowadays when some new changes are pushed, its showing deployment failed.

I have attached a log of failed deployment.

Run Azure/static-web-apps-deploy@v1
/usr/bin/docker run --name b2c1b[9](https://github.com/HexaInnovLab/Rapidx_Documentation/runs/8112802068?check_suite_focus=true#step:4:10)706141[10](https://github.com/HexaInnovLab/Ra

[2022-08-31 16:49] gitamo626 commented on #34
This behavior (that a developer needs to validate the auth token "manually") is unacceptable. It breaks the rest of the auth model. For example, in staticwebapp.config.json file, we can define routes and allowedRoles which should govern access to that particular route. I really don't care/mind that you overwrite the authorization header. Don't think that's an issue at all. When the cookie StaticWe

[2022-08-31 19:42] mkarmark commented on #904
The "Deployment Canceled" makes me believe that another update came in after this one that did go through so we cancelled this older "stale" update. Can  you confirm if that is or is not the case?

[2022-08-31 19:46] mkarmark commented on #903
Hi, since this seems like an issue very specific to your function app, I recommend you share your issue here where people from the Azure Functions community can help diagnose/mitigate your issue: https://github.com/Azure/azure-functions-host/issues

[2022-08-31 23:16] mkarmark commented on #902
Hi, is there any particular reason you are choosing the option of owning the Azure Front Door resource yourself rather than our one click Enterprise Grade Edge option that just became generally available? https://docs.microsoft.com/en-us/azure/static-web-apps/enterprise-edge?tabs=azure-portal
The issue you are seeing now has to do with the fact that the www.powerbishare.com custom domain isn't add

[2022-08-31 23:40] benbeck764 commented on #902
I chose the Azure Front Door option as it seems that it would provide more customizable flexibility than the one click Enterprise Grade Edge option. I could potentially try utilizing the Enterprise Grade Edge as that seems to be what Microsoft is pushing developers to utilize. However, I think I'll give the custom authentication a try first and see how that works. I was hoping I'd be able to resol

[2022-09-01 04:16] KaranS-hexaware commented on #904
That might be the case. I am using github api to create a folder and add files in those folder in my repo when a specific button is clicked.

That button can also be clicked simultaneously by multiple users at the same time. So multiple deployments occur at the same time.

 When this happens will this affect any one of the deployments?

[2022-09-01 17:01] foconnor-DS commented on #196
I think the ability to rewrite the url based on HTTP_USER_AGENT or QUERY_STRING is all that's necessary to achieve these requirements.

Right now you could rewrite the URL to bounce to a function, test the HTTP_USER_AGENT for botness, and handle the prerender scenario and/or return open graph meta tags.  But if it's not a bot, you'd have to client redirect to another route that skips the function

[2022-09-01 20:16] Strepto opened #905 "Updating globalHeaders in staticwebapp.config.json does not apply if etag is unchanged"
**Describe the bug**

This is maybe wrong, but it seems right after some testing.

Steps to reproduce:

Setup a staticwebapp.config.json with some global headers and some static html
[code]
deploy to a staging environment using Static Web App Cli Deploy
[code]

check that the headers are correct by inspecting in chrome dev tools

Change the globalHeaders, for instance add POST to Methods
[code]
de

[2022-09-01 20:56] MikeCarlo commented on #902
We are wanting to own the Azure Front Door because we are looking white label our app with multiple domains for the base application.  The current limitation is currently 5 per app in the Standard plan.  We anticipate having to grow beyond 5 custom domains. Thus, we were hoping to use Azure Front Door with the app.  Thus, allowing us to open up more custom domains beyond the 5.

If we add the opti

[2022-09-01 21:42] irwinwilliams commented on #903
Thanks @mkarmark, instead of waiting for the resolution, I went ahead and created a new function app in the portal, linked it to the same code from my API folder with nary a line of code changed. The project built and run ok.
Then I reconfigured the Azure Static Web app to point to the Function App and it seems to be working.
Should I still push the issue over to the AF community?

[2022-09-02 00:08] sarahannnicholson opened #906 "Add Branding to BasicAuth"
**Overview**
Basic Auth is, you know, basic. But it would be nice to be able to inject a little bit of branding onto the login page.

Current BasicAuth page
![image](https://user-images.githubusercontent.com/10520771/188031899-c7e65004-12be-4aa0-b142-6f868bf0367e.png)

Potential:
![image](https://user-images.githubusercontent.com/10520771/188032563-f458f066-3c7e-49e0-9436-ec123c3b8346.png)

**Desc

[2022-09-02 11:15] #839 closed

[2022-09-02 11:16] JamesABA commented on #839
I'll raise a new issue as building with node v16+ seems to consistently fail. Building with node v14.x.x is fine. Stumped, and sadly no help seems forthcoming..

[2022-09-02 11:23] johnkors opened #907 "Add default custom domain as output in the GitHub action"
Today I can only get the `defaultHostname` (meaning the one on the azurestaticapps.net domain) via the `static_web_app_url` output. I would like to get the default custom domain as well.

**Describe the solution you'd like**
An output from the github action providing the default customDomain in addition to the `defaultHostname`,

- `[stepid].outputs.static_web_app_defaultDomain` // (www.mydomain.c

[2022-09-02 11:54] boy-incerta opened #908 "Application settings are not fetchable by Azure Function in pull request preview environment"
Fixed as it was an error in the build that would not fail the build.

[2022-09-02 12:05] JamesABA opened #909 "React App - Failing to deploy with node 16 - [Error: EACCES: permission denied, scandir '/root/.npm/_logs'"
Hi All,

Our Azure pipeline fails when attempting to deploy a React based SWA with node 16 (although it has historically worked ok with node 14)

**To Reproduce**
Steps to reproduce the behavior:
Trigger the Azure pipeline with the following build yaml

`name: Azure Static Web Apps CI/CD for Staging envs

trigger:
  - develop
  - gamma
  - theta

pool:
  vmImage: ubuntu-latest

steps:
  - checkout

[2022-09-02 13:26] #908 closed

[2022-09-02 14:06] arifemir commented on #47
LOL

[2022-09-02 15:14] roblambertini commented on #22
As for the original question: are there any plan to support this scenario without creating multiple swa instances (one for each environment)?

[2022-09-02 17:36] johnkors commented on #346
@Reshmi-Sriram Named preview environments fall short when they don't support custom domains at all. Could you check if this is on any roadmap?

[2022-09-02 20:38] mkarmark commented on #909
We have the Oryx team investigating this. Will post any updates they find over here! Thanks for your patience

[2022-09-02 22:42] johnkors opened #910 "Does not honor `deployment_environment`"
**Describe the bug**
Setting `deployment_environment: Production` does not deploy to `Production` in a PR context (PR towards  master/main).

**To Reproduce**
Run this step in a PR from non-main towards main.

[code]

**Expected behavior**
A deployment to the Production environment.

**Actual behavior**
No deployment to Production, but a deployment towards another environment happens (more specifi

[2022-09-02 23:32] johnkors commented on #910
Setting the `production_branch` does not help either. No way to deploy to the Production environment from a PR?

[2022-09-03 00:20] johnkors commented on #910
No luck with ` az staticwebapp update -b <my-branch> -n <my-app>` either.

[2022-09-03 06:14] ConsultBuckner commented on #894
Can I ask why there is such a strong check on the output_location in general? Even with skip_app_build there is a check for a default document in the output_location which will fail the entire process. It seems a bit assuming and intrusive for something that is used as such a general tool.

[2022-09-03 14:51] johnkors commented on #910
I can do `swa deploy -d <deploymentToken> --env Production` just fine. It's only the github action that fails.

[2022-09-06 04:36] thomasgauvin commented on #749
Work in progress! We're just as excited to see NextJS SSR on SWA!

[2022-09-06 07:53] AjayKumar-MSFT commented on #904
KaranS-hexaware, Thanks for the follow-up and sharing additional details. @mkarmark, requesting your insights/comments on this.

[2022-09-06 14:44] rthangaraj opened #911 "Failed to add custom domain to SWA with error message: CNAME Record is invalid"
Failed to add custom domain to SWA with error message: CNAME Record is invalid.  Please ensure the CNAME record has been created.

I am stuck in a situation though where I use Azure DNS to manage a domain and have correctly set the CNAME record pointing to: witty-beach-0bbf51703.1.azurestaticapps.net

This is the error I get in the Azure Portal when adding a domain that's correctly added:
CNAMERec

[2022-09-06 23:29] thomasgauvin commented on #108
@johnkors what is your specific use case? are you hosting your ASP.NET app on app service? If so, you could link your App Service to Azure Static Web Apps using the BYO API support https://docs.microsoft.com/en-us/azure/static-web-apps/apis-overview. This would alleviate your CORS issues

[2022-09-07 04:00] jwize commented on #803
@ShanonJackson This is a basic requirement for many website that shouldn't need a global CDN service such as front door to resolve.  https://website.com/0000011 where the path(0000011) is a configuration code. I can use a staticwebapp.config rewrite to index.html to load the page but I lose my code.

[2022-09-07 05:23] johnkors commented on #108
Not hosting my backend at Azure. Heroku.

[2022-09-07 14:12] rhutchison commented on #113
Unexpected input(s) 'build_timeout_in_minutes', valid inputs are ['entryPoint', 'args', 'action', 'app_location', 'azure_static_web_apps_api_token', 'api_build_command', 'api_location', 'app_artifact_location', 'output_location', 'app_build_command', 'repo_token', 'routes_location', 'skip_app_build', 'config_file_location', 'skip_api_build', 'production_branch', 'deployment_environment', 'is_stati

[2022-09-07 16:37] ss-proc opened #912 "Oryx Error: Oops... an unexpected error has occured"
**Describe the bug**

I have a simple Next.JS app PR build that keeps failing with the following message:

[code]

**Expected behavior**
No error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device info (if applicable):**
- macOS
- Firefox

**Additional context**
Full actions file

[code]

[2022-09-07 16:53] douglas-wang commented on #912
The similar issue has started to happen from today. Although it was working yesterday on the same commit.

[2022-09-07 17:05] eric-at-cloudcontraptions commented on #912
I just started experiencing the issue too. It worked earlier today, but not now.

[2022-09-07 17:14] keviku1 opened #913 "Cannot find RegionalGeomaster with name southcentralus"
**Describe the bug**

Reproduced the steps in Azure Console

1.  Create a Function App in Azure in South Central US
2. Create a Static App in Central US
3. Under Static Web App settings choose API
4. Click Link
5. Link the Function App located in South Central US
6. Shows Error "Cannot find RegionalGeomaster with name southcentralus"

**Screenshots**
If applicable, add screenshots to help explain

[2022-09-07 17:21] justinb4003 commented on #912
Same here, made the most minor of changes on two repos and they won't build.

[2022-09-07 17:49] thomasgauvin commented on #910
Hey John, there currently isn't a way to deploy from a PR to the production environment. What is your use case that requires you to do so?

[2022-09-07 17:50] eric-at-cloudcontraptions commented on #912
Seems to be working again.

[2022-09-07 17:54] thomasgauvin commented on #913
I was able to reproduce the bug, thanks for bringing it up @keviku1

[2022-09-07 18:04] thomasgauvin commented on #829
Closing issue, feel free to reopen with more context @YaHamma1

[2022-09-07 18:04] #829 closed

[2022-09-07 18:11] chaseolsen commented on #912
Also experiencing the same issue, was working fine yesterday.

[2022-09-07 18:11] thomasgauvin commented on #343
The doc changes have been merged, closing this issue

[2022-09-07 18:11] #343 closed

[2022-09-07 18:14] jungaretti commented on #912
I'm running into this same error today. Here's my latest run on a fresh commit: https://github.com/jungaretti/jungaretti.com/runs/8234411661?check_suite_focus=true

### Sanity Check

I re-ran my workflow on a previous commit that deployed successfully. My run today failed: https://github.com/jungaretti/jungaretti.com/runs/8234522735?check_suite_focus=true

The same commit deployed successfully a f

[2022-09-07 18:16] mishapos commented on #910
Hi @johnkors thanks for using Azure Static Web Apps! By default, if the Azure/static-web-apps-deploy action is run with the PR trigger, it will deploy to a [temporary pull request environment](https://docs.microsoft.com/en-us/azure/static-web-apps/review-publish-pull-requests).

Please see [my response in this issue to enable publishing to your production environment from a pull request trigger.](

[2022-09-07 18:19] thomasgauvin commented on #65
With BYO API, you can now host your APIs on other Azure services https://docs.microsoft.com/en-us/azure/static-web-apps/apis-overview. Moreover, Azure Functions no longer supports Proxies since Azure Function version 4.

Does your use case still require proxy support?

[2022-09-07 18:43] msolano-fwscience commented on #912
I have the same problem, yesterday it worked fine and today when I try to do a re-run it fails

[2022-09-07 18:59] johnkors commented on #910
It's closed source, so I cannot check myself. But is this based on the `swa cli` perhaps? I did have a `swa-cli.config.json` which I think borked things up.

[2022-09-07 19:03] thomasgauvin commented on #108
For your specific use-case @johnkors, it seems different than the initial issue, which requested their Static Web App APIs to be accessible on other sites. Your use-case is the opposite, accessing another sites' API from your Static Web App, and it would require enabling CORS on your backend which you seem to have configured within your .NET API.

[2022-09-07 19:04] johnkors commented on #22
We wanted to get to the following URLs:
* preview-pull1337.domain.com (CNAME linked to PR deploy)
* test.domain.com (fixed test env)
* www.domain.com (fixed prod env)

To achieve this, we ended up skipping the "preview" features (it does not support custom domains) and use Pulumi to provision new SWA for each pull request instead.

_IF_ SWA preview and named environments had supported custom domai

[2022-09-07 19:08] green-munkey commented on #912
same problem .

[2022-09-07 19:08] daniv-msft commented on #912
Thanks everyone for reporting this issue. @william-msft on our team is looking into it. We'll keep you updated on what is going on.

[2022-09-07 19:20] green-munkey commented on #912
Our pipelines look to be working now . Thanks .

[2022-09-07 19:29] ionicsolutions commented on #912
I'm seeing the same problem. It either gets stuck when discovering the environment, or fails afterwards. Sometimes everything runs as expected but it's annoying to have to try over and over again.

[2022-09-07 19:37] green-munkey commented on #912
Yeah, miss spoke. Only one deployment has succeeded.

### Passed :
Digest: sha256:aee830ea88cd1a1c6dbe248e0a9613c60e27fd960c95170e2eadeb6355e8366b
Status: Downloaded newer image for mcr.microsoft.com/appsvc/staticappsclient:stable
**DeploymentId: d2da5f58-6edf-49fb-a860-df12db500810**

Oryx Version: 0.2.20220621.1, Commit: 82ed84f0f3fd3a25ded3029f137601f54e7a1d05, ReleaseTagName: 20220621.1

Build

[2022-09-07 20:10] daniv-msft commented on #912
Thanks everyone for your patience. From our investigation so far, we seem to be impacted by the Azure Front Door outage: https://status.azure.com/en-us/status

Oryx relies on a CDN to deliver the binaries to build, and Azure CDN has a dependency on Azure Front Door. Apologies for the inconvenience, we'll keep monitoring the situation.

[2022-09-07 20:28] daniv-msft commented on #912
Azure Front Door is now reporting that they are working successfully. Could you please try again and validate building works now?

[2022-09-07 20:41] msolano-fwscience commented on #912
@daniv-msft It's working for me now, thx so much!

[2022-09-07 20:43] jungaretti commented on #912
Working for me! https://github.com/jungaretti/jungaretti.com/runs/8236773021?check_suite_focus=true

[2022-09-07 21:40] daniv-msft commented on #912
@ss-proc Absolutely. We're aware of the problem, and have been working on improving our error messages. With the next refresh of Oryx in Static Web Apps, the exceptions we return in case of errors will be directly shown in the logs.
We have also other plans to improve our logs, both for our customers and for our customer support team.

[2022-09-07 22:01] daniv-msft commented on #912
Thank you @ss-proc and everyone! @thomasgauvin, could you please close this issue? Looks like I don't have the required permissions for this Github repo.

[2022-09-07 22:27] #912 closed

[2022-09-08 05:05] rdpolarity opened #914 "SWA function API isn't showing SWA configuration variables when spinning up new SWA preview environments"
**Describe the bug**
Configuration variables don't appear in the preview environment's function build using the pipeline AzureStaticWebApp@0 task

**To Reproduce**
Steps to reproduce the behavior:
(before any of this configure some variables in Production in the SWA configuration section on Azure)
1. Create a function app that serves up and uses environment variables from the SWA configuration
[co

[2022-09-08 12:02] fleed commented on #337
+1 for this feature

[2022-09-08 15:12] foconnor-DS commented on #419
While we now have Environments, we still have no way to link to a specific Azure Function slot or App Service slot. So we can't tie our dev/stage/prod SWA releases with the appropriate BYOF (Bring Your Own Functions) code release. People on my team have begun to bypass the use of SWA managed /api and instead talk directly to the appropriate backend App Service Slot.

Ideally, when I push out a QA

[2022-09-08 16:56] mishapos commented on #910
The swa-cli.config.json shouldn't affect the behavior of the `Azure/static-web-apps-deploy` task in GitHub.

Did the fix work for you?

[2022-09-08 17:43] itpropro commented on #419
This issue is far over one year old, when can we expect the non-production slots to be usable in production?

[2022-09-09 06:19] johnkors commented on #910
I removed `Azure/static-web-apps-deploy` and started using `swa deploy -d <deploymentToken> --env Production`.  We're not using the pull request environments anyways (we're provisioning new SWAs for each PR, due to the lack of custom domains for preview envs).

[2022-09-09 06:20] johnkors commented on #910
Closing this as there are workarounds.

[2022-09-09 06:20] #910 closed

[2022-09-09 06:54] johnkors opened #915 "Deleting a custom domain should take minutes"
**To Reproduce**
Steps to reproduce the behavior:
1. Add a custom domain
2. Delete a custom domain

.
.
.
.
WAIT 24 HOURS

![image](https://user-images.githubusercontent.com/206726/189289851-54041f76-bf86-4f39-af95-abe675aa6d85.png)

[still not deleted 😴]

WAIT ..

💤

.
.
Go to work next day. Grab a coffee ☕️
Try to delete the domain the deleting state.
![image](https://user-images.githubuserconte

[2022-09-09 06:55] johnkors commented on #915
Sorry about the snark, but why is adding/removing a custom domain such a pain in the ass. The same process take seconds in App Service (or more relevant, the competion: Vercel, Netlify). Is it because of GoDaddy or what?

[2022-09-09 13:48] exFalso commented on #813
Hmm we are currently switching to azure static web apps, and this is a **major** missing feature. To clarify, the static web app functionality should keep track of the previously deployed commits, and make it very easy to switch to a previously deployed version. Full re-deployment of a previous revision or a revert can take a long time depending on the build pipeline.

One workaround could be to c

[2022-09-09 15:18] keviku1 commented on #913
@thomasgauvin @mkarmark  would you know happen to know the timeline of the possibly fix of this bug?  I might create a ticket in Azure support team if that helps creates more visibility or support to this issue. Thanks

[2022-09-09 15:28] vpatil-crestron commented on #745
@mikedouglasdev /@ThisIsJaruj Did you figure out how to fix the issue.. We are running into the same problem

[2022-09-09 16:46] hajekj opened #918 "Unable to serve RESX files"
**Describe the bug**

When publishing a static application which contains `.resx` files, attempting to download them will result in a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://zealous-field-0ddb22503-preview.westeurope.1.azurestaticapps.net/sample.resx
2. The RESX doesn't download, and you are presented with a 404

**Expected behavior**
A clear and concise desc

[2022-09-09 18:19] hajekj commented on #918
I noticed that this is also happening when hosting .resx on App Service, because `.resx` is explicitly disallowed in `applicationHost.config`. In App Service, I managed to mitigate this issue by adding the following into my [`applicationHost.xdt` file](https://github.com/projectkudu/kudu/wiki/Xdt-transform-samples).

[code]

However, this doesn't work for Static Web Apps.

[2022-09-09 20:02] scottkuhl commented on #213
It's been close to 2 years since there was an official response on this issue.  While logging in with Azure AD can be quite easy for a user, it's not as good an experience as keeping the user logged in. This is especially apparent in a PWA which is designed to feel more like an app than a site.

@mkarmark is this on the roadmap anywhere?

[2022-09-09 23:12] scottkuhl commented on #213
It's been close to 2 years since there was an official response on this issue.

@mkarmark Is this even an issue anymore?  When I inspect the client I see an authentication cookie.

[2022-09-10 14:33] MaticDiba opened #919 "Route redirect with matched part"
**Is your feature request related to a problem? Please describe.**
When migrating from the old website, we often have new route names for the same resources. For example in the legacy app we had this route to access some resources:
[code]
The new application has this route:
[code]

To enable old URLs to still work, we would now like to introduce permanent redirects for these routes. I'm not sure t

[2022-09-10 17:04] Tucnak67 commented on #915
I have exactly the same problem, since yesterday.

[2022-09-11 12:30] hornta commented on #520
This is still a problem. We might have to look into other solutions if this can't be resolved very soon.

[2022-09-12 13:41] RomanPanaget opened #920 "500 Error on custom authentication callback (keycloak)"
**Describe the bug**

Error HTTP 500 on Custom authentication (Keycloak) callback. No logs provided by Azure Static Webapp.

The /auth call passes and redirects to the callback but then I have a timeout and a 500 error.

`staticwebapp.config.json`
[code]

@mkarmark or someone from azure, would you mind checking on your end what's happening ? It is so annoying to not have any logs of what is happen

[2022-09-12 15:51] brschwalm commented on #756
Is there an update on this? I'm experiencing the same issue.
The inability to use environment variables when `skip_app_build: true` is problematic.

[2022-09-13 00:29] jberlyn commented on #490
Any update to this? Has this been resolved? I moved away from Azure Static Web Apps since I created this issue.

[2022-09-13 08:29] schemburkar commented on #749
@thomasgauvin I received an email from Azure (App Service recommendation) stating "Post mid-September, Azure Static Web Apps will support Server-Side Rendering (SSR) for Next.js applications."

![image](https://user-images.githubusercontent.com/3159347/189851518-e928bea3-c144-42be-afce-564b6dbe8313.png)

Does that mean that we no longer need to `export` our Next.js app and it will also support SSG

[2022-09-13 10:09] rupareddy5-21 commented on #919
Hi, this is currently not possible for SWA. Please check out https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#routes for possible re-routing.

[2022-09-13 10:18] Reshmi-Sriram commented on #749
@schemburkar  - in case you prefer to use the statically exported Next.js files, you will still have the option to do so using the `is_static_export` flag in your existing app. In case you would like to use SSR/ ISR/ SSG, you can do so using the new feature change.
Let me know if this helps!

[2022-09-13 10:24] berik commented on #749
@Reshmi-Sriram, how can we try a new behaviour SSR/ISR/SSG? Is [ISR on demand](https://github.com/leerob/on-demand-isr)?

[2022-09-13 11:21] schemburkar commented on #749
Thanks @Reshmi-Sriram  I'm aware of the `is_static_export`. How do i enable the SSG for my existing app. I tried publishing without the `export` option but the deploy fails, so need to know any setting or feature flag that needs to be enabled ?

[2022-09-13 11:37] erwinsmit commented on #749
@schemburkar Will azure static web apps also support pages/api routes?

With a custom nextjs server, these are not working, currently, I work around that issue by creating azure functions for the API routes.

[2022-09-13 12:22] MaticDiba commented on #919
I checked that documentation. That's why I was asking.
Is there any plan to support this feature? Or is this not considered a feature worth supporting?

[2022-09-13 22:24] ShanonJackson commented on #749
@erwinsmit
https://github.com/ShanonJackson/nextjs-azure

This will give. you ```npx nextjs-azure``` which will transform .next folder into a 3 folders one of which is "api" which should be an azure function compatible folder with your entire pages/api folder built in the most optimized way.

Basically just wraps your nextjs output in an azure function compatibility layer.

[2022-09-14 10:16] vienleidl commented on #915
I have the same issue, unfortunately, it's stuck forever
![image](https://user-images.githubusercontent.com/97711647/190128033-de028306-54e7-429e-b013-8d0489463fa8.png)

[2022-09-14 13:54] ajraczkowski commented on #878
The current `mcr.microsoft.com/appsvc/staticappsclient:stable` is now a gargantuan 2.41GB. We are unfortunately moving in the opposite direction.

I have created a drop-in replacement for this image which handles basic static file deploys. You can use it by swapping out references from `Azure/static-web-apps-deploy@v1` to `ajraczkowski/static-web-apps-deploy@v1`. This uses an image of size 281MB f

[2022-09-14 16:41] MichelSakr commented on #42
Hi
Where is this json file located on an Azure storage static site?! @joslinmicrosoft
Thanks

[2022-09-14 17:59] stephtr commented on #42
I don't think these settings map one on one to Azure storage static sites.

Thank you all for your work! I think it's time to close this issue.

[2022-09-14 17:59] #42 closed

[2022-09-14 18:54] mkarmark commented on #914
Hi, do you mind sharing your site name/default hostname with us, so that we can start investigating from our logs. Feel free to file a support ticket if you don't feel comfortable sharing it here.

[2022-09-15 04:19] mkarmark commented on #920
Hi, the 500s appear to be due to an invalid token endpoint configured on your app. Can you confirm that it is in fact valid?

[2022-09-15 06:49] RomanPanaget commented on #920
Hi @mkarmark , the token endpoint is taken from my well known so I guess it's correct

[2022-09-15 13:03] danbasszeti opened #922 "Static Web Apps Password screen does not currently send back Strict-Transport-Security Header, it should"
**Is your feature request related to a problem? Please describe.**
I ran automated security platform intruder.io against my static web apps, and the only issue picked up was this low priority one. It seems like an easy, but low priority win so thought I'd list it here rather than as a 'vulnerability'. I can't affect the headers that the SWA-provided password screen sends back and it'd be great to

[2022-09-16 07:15] StacyCash commented on #915
I came to report this as well. Mine isn't just taking minutes, it's forever. The only way I can remove a custom domain at the moment is to delete the SWA itself and recreate it. I've tried two subscriptions and both have the same issue.

[2022-09-16 08:04] johnkors commented on #915
@StacyCash Deleting the SWA itself would probably delete the custom domain first, anyways? Or is that quicker in your experience?

[2022-09-16 08:58] StacyCash commented on #915
For me it wasn't just quicker, it was the only way. That said deleting the SWA also took several attempts.

But I have to update my other statement: in my MVP Subscription deleting just doesn't happen, in my private subscription it simply takes 20 minutes or more to delete.

[2022-09-16 12:31] deathmarine opened #923 "Failed to add custom domain to SWA with error message: Name <var> is not valid."
**Describe the bug**
CNAME record is generated in Azure DNS while an error message is displayed in the portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Portal
2. Click on Custom Domains ->Add
3. Enter subdomain
4. See error
5. Navigate to Azure DNS
6. See CNAME Record

**Expected behavior**
A clear and concise description of what you expected to happen.
Not create the CNAME reco

[2022-09-16 16:27] zachsents opened #925 "Custom domain error: Request Envelope is invalid."
Trying to add a custom domain is giving an error. I have the domain in NameCheap and a DNS zone created on Azure for it. The nameservers are pointing to the correct place, as verified by
`Resolve-DnsName synbiosuite.org -Type NS`

When I try to add the custom domain in the portal, I get "domainName is invalid.  The domain name given was not found."

When I try to add the domain with the CLI with t

[2022-09-16 17:39] Nirikshank16 opened #926 "deploymeny failed without reasons"
##[debug]Evaluating condition for step: 'Build And Deploy'
##[debug]Evaluating: success()
##[debug]Evaluating success:
##[debug]=> true
##[debug]Result: true
##[debug]Starting: Build And Deploy
##[debug]Loading inputs
##[debug]Evaluating: secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_RED_SEA_0DEDA0[2](https://github.com/Nirikshank16/Lifestyle-Ecommerce_Website/actions/runs/3069529523/jobs/4958385958#ste

[2022-09-16 21:03] deathmarine commented on #915
@johnkors Ran into the same problem with a domain taking hours to delete. and utilized a little brute force with PowerShell. Still takes a while... but the automation helps and I'm seeing ~20 mins like @StacyCash.

[code]

[2022-09-16 21:46] tobiasdiez commented on #741
I was able to link PR-preview environments to function apps using the python azure sdk, see https://github.com/JabRef/JabRefOnline/tree/main/.github/scripts.

[2022-09-16 21:50] tobiasdiez commented on #419
One could use the python sdk to link to a particular slot of the function app, see https://github.com/JabRef/JabRefOnline/blob/c6e6c9842a5ea471666d9c4453149730bac8e8f6/.github/scripts/deploy.py#L136-L150 and https://github.com/JabRef/JabRefOnline/blob/c6e6c9842a5ea471666d9c4453149730bac8e8f6/.github/scripts/deploy.py#L177

At least, afterwards the correct slot appears under the linked "APIs" in th

[2022-09-17 10:23] johnkors commented on #915
Yeah, same — except we're using Pulumi for managing the infra on our end.

[2022-09-19 11:08] ytodorov commented on #520
Please fix this issue as soon as possible. It is so easy to increase the limit to 1 000 000. Why are you limiting us to only 15 000?

[2022-09-19 11:11] hornta commented on #520
@ytodorov We solved it by building the app in Github Actions and just uploading the built artifacts.

[code]

[2022-09-19 11:39] ytodorov commented on #520
No, this will not work for me. My build artefacts contain more than 15 000 files. I am using [](https://nextjs.org/docs/advanced-features/static-html-export) and my website has more than 15 000 HTML pages (Not to mention that It has 10000+ images which are separate files). Any ideas?

[2022-09-19 14:36] csharpfritz commented on #903
I am having this same issue when upgrading a static web app from .NET Core 3.1 to .NET 6.

Something is not able to read the configuration on the site properly

[2022-09-19 17:55] csharpfritz commented on #903
From some investigation, this appears to be connected to using the ASP.NET Core ConfigurationBuilder.

I'll update this comment as I learn more

[2022-09-19 23:05] kbarnes3 opened #927 "API calls fail on temp deployments in PRs"
When creating a PR for a Static Web App on GitHub, my API calls all fail with "Backend call failure". This response is returned after several seconds, so this might be some kind of timeout behavior. The same app works fine locally and with the deployment from my main branch. I've had this behavior with both Node 12 and Node 16 APIs.

Steps to reproduce the behavior:
1. Create a PR for a GitHub rep

[2022-09-20 04:09] ggoodro commented on #923
I was having a similar error. There is some validation that needs to happen. See this article:
https://learn.microsoft.com/en-us/azure/static-web-apps/apex-domain-azure-dns
I had to first configure my root/apex domain with the Custom Domains tool. In your case, you need to enter your root domain name where it says Domain Name...not the name of a subdomain you're trying to configure. Even though yo

[2022-09-20 07:38] tobiasdiez commented on #873
It happened to me as well and I suspect in my case at least the action closed a different preview environment. Could the action print the environment that it's about to close in the log? I.e. something like:
[code]

[2022-09-20 08:13] vgibilmanno commented on #915
I had the same problem. The previous mentioned workarounds didn't work for me. What worked for me was to first delete the deployment and after that delete the static web app. Whenever I tried to delete the static web app first, it just reappeared after a few minutes with the status of the custom domain still as deleting.

[2022-09-21 10:19] acgiraudon opened #928 "Gatsby : Rewrite 404 not rendering react"
**Describe the bug**

When we try to reach a page that does not exist on the project (for exemple "/foo"), our custom 404 page is displayed but react is disabled , with this error

`Uncaught (in promise) Error: page resources for /foo not found. Not rendering React at production-app.js:236:13`

Note that when we reach` /404` or `/404.html`; custom 404 page is displayed correctly.

We set the speci

[2022-09-21 15:30] kantipenko opened #929 "Task fails with Didn't find Oryx manifest file under location: /ss-oryx/app-manifest/oryx-manifest.toml error for static export"
**Describe the bug**

Using Azure DevOps task and ubuntu latest image we receive following error on AzureStaticWebApp@0 task
Verbose logging enabled
Build timeout not specified, defaulting to 15 minutes
App Directory Location: './app/dist/' was found.
Looking for event info
Event info parsed from action options.
Skipping step to build /working_dir/./app/dist with Oryx
No Api directory specified. A

[2022-09-21 15:58] mkarmark commented on #923
Hi, can you try entering test.<dns zone suffix> to see if that works? I believe the confusion comes from how our portal messages the fields.

[2022-09-21 16:10] joslinmicrosoft commented on #926
@Nirikshank16 It looks like currently, your workflow file (https://github.com/Nirikshank16/Lifestyle-Ecommerce_Website/blob/main/.github/workflows/azure-static-web-apps-red-sea-0deda0210.yml#L30) has set `app_location` to the root (`/`) of your GitHub repository. Looking at your file structure, I'm guessing you want to have this set to `Lifestyle-Ecommerce-Website-e421a3d312e5474148680bbe6c2d61e03

[2022-09-21 17:04] rinoreji commented on #267
@anthonychu, I too had similar issue but only when adding `auth` section in `staticwebapp.config.json`. If I remove the `auth` section, all routes (login, logout and me) works.

[2022-09-21 19:27] joslinmicrosoft commented on #925
Hi @zachsents we've noticed on our end that the domain was linked earlier today; can you confirm if that was you and if you are now unblocked?

[2022-09-21 19:30] zachsents commented on #925
Hey, just got off with Azure support and they cleared it up. Not sure what the issue was; didn't require any action on my end.

[2022-09-21 19:30] #925 closed

[2022-09-22 08:55] remirobichet commented on #759
Had to delete azure SWA

[2022-09-22 08:55] #759 closed

[2022-09-22 17:38] joslinmicrosoft commented on #929
Hi @kantipenko just to check, are you sure `app/dist` is the root folder of your app contents, with the `index.html`? From the log about `staticwebapp.config.json`, is it possible that `app/dist/21894` is the root?

To also clarify, there's no error with Oryx (that is a warning message that only appears on `verbose: true` meant to be informational in this case). Also, `is_static_export` is meant t

[2022-09-23 13:32] adamsebesta opened #930 "Front Door + APIM Backend 500 Error"
Using my SWA behind a standard tier Front Door and I am running into the following 500 error when I am sending out requests with my linked **APIM** backend.

For example when I send the following **GET** request  `api/surveys/workplace/all`

I am receiving the following in response:

<img width="1531" alt="Screen Shot 2022-09-23 at 3 15 05 PM" src="https://user-images.githubusercontent.com/6126384

[2022-09-23 14:31] acgiraudon commented on #928
Issue Solved, I close this Issue.

Found out that we no need to use `navigationFallback`  but `responseOverrides` instead.

- with `navigationFallback`; the HTTP request for '/foo' return a status code 200
- with `responseOverrides`; '/foo' HTTP request return a status code 404 and rewrite to my custom 404 correctly

[code]

[2022-09-23 14:31] #928 closed

[2022-09-23 15:47] adamsebesta commented on #930
After some further testing, it seems to not be Front Door related.

The request is working as intended and hitting the backend (APIM) if I change my config to so:

[code]

Obviously this is not ideal, what auth config changes need to now be made?

[2022-09-26 13:15] kjkent commented on #241
Hey there, I just wanted to see if there has been any progress on this issue? I'd really like to link the repo directly to Azure SWA but can't have the risk of the deployment branch being unprotected.

[2022-09-26 15:40] kjkent commented on #915
Also having this issue and unable to delete the SWAs involved or reclaim their domains for use in another resource.

It seems [this Stack Overflow post](https://stackoverflow.com/questions/73374180/removing-a-custom-domain-from-an-azure-static-web-app) and [this Microsoft Learn post](https://learn.microsoft.com/en-us/answers/questions/484573/issue-deleting-custom-domain-on-static-web-app.html) are

[2022-09-26 22:04] codemonkey85 commented on #753
I'm having an issue with native dependencies missing in Azure Static Web Apps when deployed as Blazor WASM. This used to work, and now it appears the native libraries are not being distributed with the rest of the app.

I'm not sure, but maybe wasm-tools is missing now? I've been searching for someone else with this issue and / or an answer, and this issue is the closest I've come so far.

![Untit

[2022-09-27 06:41] vgibilmanno commented on #915
@kjkent That's exactly how I did it. I went to the deployment option in the resource group blade, selected the SWA deployment and deleted it.

[2022-09-27 07:43] ZavenLepedjian commented on #886
@vivekjilla do you have any updates?

[2022-09-27 08:57] johnkors commented on #915
Interesting workaround. Thanks.

[2022-09-27 16:27] iamhbc opened #932 "Could run in my VS Code"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device info (if applicable):**
 - O

[2022-09-27 16:27] iamhbc opened #933 "Help me out"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-28 13:17] CoryKoehler opened #934 "Request: Documentation for alternative deployment"
**Is your feature request related to a problem? Please describe.**
My team has gotten frustrated with Azure Static webapps over the past few days as they are having problems deploying a new blazor static web app from an existing mono repo. Our code lives in private repos in azure devops.

**Describe the solution you'd like**
I would like it if the azure static web app team showed documentation tha

[2022-09-28 15:57] mkarmark commented on #932
Can you please open a new issue with the necessary details? Closing this current one.

[2022-09-28 15:57] #932 closed

[2022-09-28 17:34] annikel commented on #930
Hi @adamsebesta, did you add the API you are trying to reach to the APIM product that got created when initially linking the static web app to the API Management instance? And is the backend API route matching the requested route. Note: Both routes must start with the _api_ prefix. You can look the step up in our [Documentation](https://learn.microsoft.com/en-us/azure/static-web-apps/apis-api-mana

[2022-09-29 11:33] kantipenko commented on #929
Thanks @joslinmicrosoft ! Great catch!
Updated task to the inputs below and it worked. Issue can be closed.
            - task: AzureStaticWebApp@0
        enabled: true #requires linux agent, so new stage needed and artefact should be exported in this one
        displayName: "Deploy Dev01"
        name: DeployDev01
        inputs:
            app_location: './app/dist/$(Build.BuildId)/'

[2022-09-29 11:34] #929 closed

[2022-09-29 12:01] adamsebesta commented on #930
Hi @annikel. Thank you for the reply.
I can confirm everything is working as intended with the APIM backend when I change these two routes to `anonymous` - the errors begin when I change to `authenticated`
[code]
   So I believe I do have everything setup properly.

I can also confirm I am getting the appropriate roles after logging in as well
<img width="432" alt="Screen Shot 2022-09-29 at 12 25

[2022-09-29 13:11] nemzes commented on #878
It's also strange that the image is rebuilt every time from the action's `Dockerfile`. The action should be a docker image, not a docker build. See e.g. https://stackoverflow.com/a/60679692

[2022-09-29 15:29] mhmooreht commented on #913
I am also affected by this issue. We are moving our resources from Central to South Central and encountering this on our SWAs that have been newly stood-up in South Central.

[2022-09-29 15:52] remirobichet opened #935 "Deploy ASWA break due to bad azure portal configuration generation"
Deployment from azure pipeline with `AzureStaticWebApp@0` task fail with the following error :

[code]

Turns out it is probably an azure portal SWA configuration error. Here is the screenshot of my SWA configuration found on azure portal:

![error](https://user-images.githubusercontent.com/15103630/193077702-60306583-8349-49cc-9225-248280e38c26.png)

Under API tab, i may have clicked twice in a r

[2022-09-29 21:07] IKoshelev opened #936 "How can I change the randomly generated part of application URL? I need to change the XXXXX part of https://XXXXX.azurestaticapps.net"
**Is your feature request related to a problem? Please describe.**
I'm looking for a way to change the URL of my static web app. I DONT need a custom domain, I just need to change the following name to https://**polish-language-kata**.azurestaticapps.net
![image](https://user-images.githubusercontent.com/5594348/193141693-0fc20fce-5c13-4faa-9900-43d847a44af2.png)

So far this was possible with eve

[2022-09-29 23:09] annikel commented on #930
Hi @adamsebesta, is there a chance the inbound policy of the during the linking process created APIM product was edited? The product name will contain the static web apps hostname. Could you please ensure that the **audience** defined in the product policy matches the Gateway URL of your API Management instance.

[2022-09-30 11:30] binkiesjoris commented on #914
Any updates on the cause of this issue? We are experiencing the same issue (although we currently are using a custom bash script to the do the deployment instead of the azure pipeline task). Our current workaround is to manually save the staging environment variables again from the portal in order to have them applied.

[2022-09-30 13:19] onag-fr commented on #337
+1 more

Today the only solution I found for avoid downtime is:

- Add 2 Static Web Apps behind an Azure Front Door
- Disable the first during the application deployment, on the AFD side
- Wait until the deployment is completed
- Enable the first WebApp, disable to second one during the application deploymen
- Enable the second one, and both of them are up and running with the last application ver

[2022-09-30 13:39] adamsebesta commented on #930
@annikel So here is the thing. Both APIMs have the same auto-generated product policy which I have not changed, and even the same API policy.

EU
[code]

ASIA
[code]

When I link the SWA-EU --> APIM-ASIA the backend works as intended, just not SWA-EU --> APIM-EU.

There must be something I am missing.

[2022-09-30 14:17] ryanbuening commented on #905
I'm seeing a similar issue. I am not seeing my `Content-Security-Policy-Report-Only` header in my static app after deploying. My build and deploy steps are separate with `skip_app_build: true`. I'm assuming this wouldn't affect the staticwebapp.config.json from getting picked up correctly?

[code]

[code]

[2022-09-30 16:17] kjkent commented on #915
@vgibilmanno thanks for the explanation -- unfortunately I was locked out of doing that by a perpetual deleting status! All hope was not lost -- @deathmarine's script (thank you!) actually worked wonders; in ten mins, two days of trying to fix this was over!

[2022-09-30 16:47] benc-uk commented on #878
I think actions which are built in Docker build everytime, it's different from `runs: using: 'docker'`

[2022-09-30 18:37] dlightfoot61 opened #937 "Deploy Github action is failing"
A Github action to deploy to the static web app that worked before has stopped working:

**To Reproduce**
This is our yaml for deploying:

`  deploy_to_test:
    needs: build
    if: github.event_name == 'push' || (github.event_name != 'pull_request' && github.event.action == 'closed')
    runs-on: ubuntu-latest
    name: Deploy to Test
    environment:
        name: Test
    steps:
      - uses:

[2022-10-01 01:08] Lamerchun opened #938 "App Directory Location is invalid. Could not detect this directory"
I am using a yml like this

[code]

i am sure index.html lies in dist, but getting error

[code]

[2022-10-01 01:32] Lamerchun commented on #938
Solved by using cwd first

[code]

[2022-10-01 01:32] #938 closed

[2022-10-01 19:48] lukaszch commented on #557
I fully agree that such a hard limit doesn't make much sense. Please provide billing to let us use as much storage as needed.

We want to deploy our documentation to Azure Static Web Sites, but we might not fit into the limit with our thousands of screenshots.

[2022-10-02 16:54] Zwiebeln commented on #302
I've configured the process.env.CI to false in the YAML file, so that the pipeline won't break because of a warning.
[code]

[2022-10-02 19:18] FrankBurmo commented on #927
Experiencing the same, any updates about the staging-env Microsoft?

[2022-10-03 01:40] Syni44 opened #939 "GH Actions Build and Deploy failure -- Can't locate csproj"
I have a .NET 6 static web app that builds successfully within Visual Studio. When attempting to publish via CI/CD, the build fails during the Build And Deploy task.

[code]

Most notably, the line
`An error occurred trying to start process 'node' with working directory '/github/workspace'. No such file or directory [/github/workspace/WorkFlow-Notes.csproj]`

Which to me implies that csproj, being

[2022-10-04 13:38] scale-tone opened #940 "Instance is not woken up by Function Proxy (keeps returning 503)"
[This setup](https://github.com/scale-tone/cognitive-search-static-web-apps-sample-ui#cognitive-search-static-web-apps-sample) now suffers from Web App instance going to (some sort of) sleep and then not being properly woken up.

Specifically, when you navigate to https://lively-sand-033e9ec03.azurestaticapps.net/ after a period of inactivity, the statics are being fetched from either browser cach

[2022-10-05 05:18] mkarmark commented on #936
This part is fixed and cannot be customized. You can put a custom domain in front of your static web app to make the domain more presentable to your customers!

[2022-10-05 22:17] asos-danielc commented on #595
+100 for this!

[2022-10-06 00:15] bowdenk7 opened #941 "This Static Web App already has the maximum number of staging environments (10)"
**Describe the bug**

Hitting the limit (10 in my case) fails CI. This is pretty frustrating. I really want a way to increase this limit, which I would happily pay for, but in the meantime just don't fail CI. These are preview deployments. It's a luxury, not a requirement. So if you can't provision more than 10, so be it, but don't fail my CI.

**Expected behavior**
Don't fail CI - leave a warning

[2022-10-06 00:27] IKoshelev commented on #936
@mkarmark This is disappointing :-( Not all sites need a custom domain, I've even had my personal blog on `.azurewebsites.net` for years now just fine.

I ended up putting my Static Web App behind a CDN endpoint `better-name.azureedge.net`. I don't really need a CDN, at least for now, so used it just to have a better name.

[2022-10-06 06:36] HowardvanRooijen commented on #803
I'm currently porting a website over from Netlify and the only issue I'm facing is the lack of wildcard rewrites. In Netlify I have a number of redirects

[code]

These rules affect several hundred pages.

I'd also like to point out the Netlify redirects file format is a very simple line per rule, space separated format... I've found it a much nicer file format than the JSON equivalent. I had to w

[2022-10-06 16:53] anthonychu commented on #878
Regarding the image size, we're working with the Oryx team on reducing it. /cc @daniv-msft @Reshmi-Sriram

And we'll update the action to just run the image instead of doing it via a Dockerfile. Unfortunately it doesn't look like it'll provide any improvements because the bulk of the time is spent pulling the image.

[2022-10-06 17:42] ansmah opened #942 "Upload Timed Out. Unsure if deployment was successful or not."

[2022-10-06 17:44] ansmah commented on #942
##[error]Error: The process '/usr/bin/bash' failed with exit code 1

When executing from Azure DevOps will get this message sporadically.  On subsequent retries we will have some success.

[2022-10-07 05:50] tossnet commented on #926
I have the same problem here with a simple template Blazor Wasm...

[2022-10-07 13:36] tossnet commented on #926
what works for me now is to add a _donet publish_ before like :
![image](https://user-images.githubusercontent.com/3845786/194566563-502b555e-6973-47d3-8e3f-7de7efadb057.png)

[2022-10-07 16:18] mkarmark commented on #942
Can you please provide the app details so we can investigate? If you don't feel comfortable sharing them here, feel free to file a support ticket.

[2022-10-07 16:21] ansmah commented on #942
Currently only static content, we have the following files.  app.js, config.json, favicon.ico, index.html, readme.md and vancity.css

[2022-10-07 18:26] annikel commented on #939
Hi @Syni44, please try updating the _output_location_ in the _Build And Deploy_ step of your workflow file to _wwwroot_.

[2022-10-07 18:34] annikel commented on #937
To investigate further we will require some more information about the static web app, like name or hostname. Please create a support ticket in case you do not feel comfortable sharing this information here.

[2022-10-08 09:08] jaylinclinycare commented on #857
I have the same issue, I am using Identity Server 4 as custom idp. I tried them in nameClaimType:
1. http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
2. given_name
3. emails
4. removed the nameClaimType

{
  "navigationFallback": {
    "rewrite": "index.html",
    "exclude": ["/images/*.{png,jpg,gif}", "/css/*"]
  },
  "auth": {
    "identityProviders": {
      "customOpenIdConnectProvid

[2022-10-10 04:37] Syni44 commented on #939
Unfortunately results in the same error.

[2022-10-10 08:11] jaylinclinycare opened #943 "403 Forbidden with Custom Authentication"
I am using Identity Server 4 as the custom IDP, it's able to redirect to my login UI and fill in the username / password, however, it redirects back to 403 Forbidden page after successful login.

I tried the different settings for login.nameClaimType in staticwebapp.config.json:

1. http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
2. given_name
3. email
5. even get rid of the whole nameC

[2022-10-10 10:02] Reshmi-Sriram commented on #749
**Update**! You should now be able to try out Next.js SSR public preview support in Static Web Apps!
Check out [this](https://github.com/Azure/static-web-apps/discussions/921) discussion to learn more :)

[2022-10-10 14:46] fgiannesini commented on #927
It seems a workaround is to add the property DISABLE_HUGO_BUILD set as false in Application Settings

[2022-10-10 15:15] hernanartesi opened #944 "Oryx has failed to build the solution"
Hi,

I am trying to deploy my Angular static web app the same way I have been doing for months now, but since a couple days ago I am getting the following error

`added 1248 packages from 1328 contributors and audited 1269 packages in 56.382s
152 packages are looking for funding
  run `npm fund` for details
found 4 vulnerabilities (2 moderate, 2 high)
  run `npm audit fix` to fix them, or `npm aud

[2022-10-10 15:44] Jordan-Afonso-OCC commented on #927
don't know why but it seems to work for me

[2022-10-10 18:05] ssyrell commented on #942
@mkarmark I am also running into this issue. I have an app that is mostly unchanged from the react template. Deploying the app by itself works fine, but as soon as I add an API (I've tried both C# and typescript function apis), I get the timeout issue. It does seem to actually finish deploying, but it takes another 5 or so minutes for the API to show up in the "apis" section of my static web app i

[2022-10-10 18:46] Strepto commented on #765
Any updates on this? See also: #941 for a similar request.

[2022-10-10 20:44] alexweininger opened #945 "Documentation for GitHub Action environment variables"
We're required to set environment variables for the Build and Deploy `Azure/static-web-apps-deploy@v1` job for some SWAs. (ex: setting `IS_STATIC_EXPORT: true` for Next.JS static sites. However, I haven't found any official documentation detailing what environment variables exist, with descriptions, and expected values.

[code]

[2022-10-11 04:18] miraj0072004 commented on #520
We have the same issue. Any updates on this?

[2022-10-11 05:13] sgollapudi77 commented on #905
If the staticwebapp.config.json is present under the app_location, then it will automatically get picked up.

[2022-10-11 05:14] sgollapudi77 commented on #945
Hey @alexweininger , I've communicated the same to the relevant team, we're working on the documentation for the same.

[2022-10-11 06:27] fleed opened #946 "An unknown exception has occurred in Azure/static-web-apps-deploy@v1 GitHub action"
**Describe the bug**

Hello

Starting from Monday, October 11th 2022 GitHub actions using the task `Azure/static-web-apps-deploy@v1` are failing with the following error:

[code]

The workflow definition didn't change. It was working until the previous run.

**Expected behavior**

The build should succeed or, at least, provide a meaningful error message.

**Screenshots**

<img width="1122" alt="Cl

[2022-10-11 07:02] nitelite commented on #873
This happens to me to. We opened 5 PRs yesterday and got the message that we hit the max number of staging environments. When logging into the portal, the staging environments listed included several from "old" PRs that were merged and closed a while ago. How does the github action identify the correct staging environment to close, could changing the name of the PR before closing it cause this?

[2022-10-11 09:20] fgiannesini commented on #927
After some investigations, we understand that this is not the parameter that fix the problem, but the restart of the static app following the properties modification.
By the way, the problem appear on the first deployment of the app. A second deployment doesn't break the app if already restarted.

[2022-10-11 12:12] a-haan commented on #769
I get this error when trying to deploy a nextjs app, no way is my api folder above 100mb

[2022-10-11 12:36] JamesABA commented on #909
Hi @mkarmark ,

Do you know of any updates on this issue? Thanks!

[2022-10-12 08:43] TeguSolutions opened #947 "Azure DevOps - Release Pipeline - updated appsettings.json is ignored after publish"
I plan to deploy a pure static web app (without functions) with some hosting-specific (non-sensitive) details using the appsettings.json file.
I want to update the parameters on a Release Pipeline scope using the pipeline variables.

On the build pipeline: The project is built, and the artifact is created as single files (no zipping)
The release pipeline looks like the following:
![image](https://

[2022-10-12 09:46] turdwaster commented on #88
@anthonychu Any update on the plan for this? Not being able to access a key vault from a managed function despite the SWA having an identity is really unproductive.

[2022-10-12 13:51] mvn-ngoctran2-dn commented on #769
@a-haan ,  I have this error too. It happened around 5 days ago.

[2022-10-12 14:18] vivekjilla commented on #947
@TeguSolutions Can you please try this work-around and see if it unblocks you:
1. Use a different name for appsettings.json file in your repo, like `_appsettings.json` or `appsettings.template.json`
2. In your "Replace tokens" step, along with changing the contents, also update/create the file name back to `appsettings.json`

One possibility for the behavior you're observing is, the ADO task for "

[2022-10-12 15:53] vml-aledonne commented on #913
This is a blocker for transitioning a workload to a static web app for my team as well. Between this and the fact that there's no way to add a custom domain without setting the CNAME (which App Services has), this feature still feels like it's in preview...

[2022-10-12 16:57] phasedrealism commented on #628
Any update on this issue? I'm running into the same issue. Any direct URLs that substitute underscores for spaces work without issue. Any links with spaces result in a redirect back to the site's homepage.

[2022-10-12 20:27] TeguSolutions commented on #947
@vivekjilla thank you, I appreciate the hints.

In the meantime, I could make it work.

As I figured out, I faced multiple 'issues' simultaneously with the appsettings.json approach to pass configuration value for Azure Static Web App.

Please let me show my workaround; it may help others too.

1, The appsettings.json modifications are ignored.

I deleted the appsettings.json from the repo, and I

[2022-10-12 20:27] #947 closed, assigned to nobody

[2022-10-13 03:25] yt11sf opened #948 "APP_BUILD_COMMAND was ignored in pipeline"
**Describe the bug**

Since Octaber 7th 2022 the variable APP_BUILD_COMMAND failed to work on Bitbucket pipeline, which coincide with a[ new commit](https://bitbucket.org/microsoft/azure-static-web-apps-deploy/commits/4ef1d5c9a9a7c28276c614b8da3a6f63621deb41/raw) on [azure-static-web-apps-deploy repository](https://bitbucket.org/microsoft/azure-static-web-apps-deploy/src/main/) in Bitbucket.

Oryx

[2022-10-13 07:29] AscaL opened #949 "Oryx Pipeline Timeout"
I've been building a SWA with Nuxt 3.
Since yesterday my pipelines have started failing for timeout on oryx (preset azure), even ones that previously ran to completion.
They all end the same way:
<img width="627" alt="image" src="https://user-images.githubusercontent.com/8880943/195529381-4bd9661a-de5e-4d0e-9795-5804c4d89a68.png">

- Azure Pipelines workflow YAML file
<img width="186" alt="image"

[2022-10-13 08:58] reedsutliff commented on #949
im encounting the same issue, deployment seems to be flaky

[2022-10-13 09:04] AscaL commented on #949
@reedsutliff Did you manage to deploy anything or it just keeps timing out? I've run the pipeline ten times hoping one would pass... it doesn't.

[2022-10-13 09:28] valstu commented on #949
I came to write similar issue but noticed this so I'll continue on this one. I'm exactly the same issue and I am using Github Actions, the build actually gets deployed but polling the deployment timeouts for some reason.

[2022-10-13 09:52] reedsutliff commented on #949
@AscaL I am having the same experience as @valstu - the polling fails and then after some time the resource in portal shows the deployment succeeded and i can see the updates on my site

[2022-10-13 09:58] valstu commented on #949
Most likely related issue #942

[2022-10-13 10:10] microbecode commented on #769
I have the same issue. I don't fully understand which parts are uploaded to a Function and which are the static parts. I emptied my 'api' folder completely but that didn't help. My project really isn't anything complicated, but I guess some packages take a bit of space.

I would really like to see the limit raised.

[2022-10-13 11:19] rupareddy5-21 commented on #948
Hi @yt11sf, thanks for bringing this to our attention, we've worked on fixing this issue, can you test it now and please let us know if the issue still persists. Thanks

[2022-10-13 11:37] yt11sf commented on #948
@rupareddy5-21 It was resolved indeed. Thanks for the quick fix and hard work!

[2022-10-13 11:37] #948 closed

[2022-10-13 12:44] kaihei777 commented on #942
me too...

[2022-10-13 13:13] boy-incerta commented on #949
At our company we are encountering the same issue. The polling for deployment was already taking longer for a few weeks (but never this long!) and since today regular time-outs on this polling.
![Schermafbeelding 2022-10-13 om 15 13 23](https://user-images.githubusercontent.com/97019812/195606122-98d93ea6-6b54-43e2-b11c-14ccc2aa9bbe.png)

[2022-10-13 13:39] ksdaniel commented on #949
+1

Having the same issue. No deploy possible for a couple of hours now.

`
Upload Timed Out. Unsure if deployment was successful or not.
`

No service issues in the portal, though.

[2022-10-13 14:33] ngoctp27 commented on #769
@a-haan , @microbecode. I have another solution for this case. Use Azure Devops (Pipelines) instead. It worked.

[2022-10-13 15:51] mjsprengers commented on #949
+1 Same issues. Although, after 3 retries, one deployment was successful.

[2022-10-13 17:28] honeymustard commented on #949
Had the same issue today with a fairly new app, assumed it was intermittent. It worked occasionally though ..

[2022-10-13 19:37] valstu commented on #949
Don't know what happened but one build seemed to work now.

[2022-10-13 20:00] ChrisJD-VMC opened #950 "Ability to set site wide password via bicep or some other automatable means"
**Is your feature request related to a problem? Please describe.**
I'm unable to find a way to set the basic site wide password when deploying a site via bicep. I have to go to the azure portal after deployment and manually set it there.

**Describe the solution you'd like**
I'd like some mechanism to configure the password as part of my devops pipeline. Either through bicep, azure cli or azure po

[2022-10-14 01:05] MaxWilson commented on #949
Came here to say the same thing. I have a fairly basic Azure SWA which has begun timing out intermittently during the deploy step. Example failure: https://github.com/MaxWilson/POCDungeonDraw/actions/runs/3246697020/jobs/5325750402

Typically, three or four runs fail in a row, and then an hour or so later the next build succeeds.

[2022-10-14 01:28] MaxWilson commented on #853
I am still intermittently seeing this issue, October 13, 2022. https://github.com/MaxWilson/POCDungeonDraw/actions/runs/3246742217

[2022-10-14 02:22] adam-javelin commented on #942
Having the same issue. Here is my error log: https://pipelines.actions.githubusercontent.com/serviceHosts/583c118f-1d9a-4ddc-862e-67a8e673d75e/_apis/pipelines/1/runs/1258/signedlogcontent/2?urlExpires=2022-10-14T02%3A18%3A10.5877322Z&urlSigningMethod=HMACV1&urlSignature=r038Sm4waknUQMjEtil0wTBx4PKBWIYL0zNCGX16cV4%3D

[2022-10-14 02:34] adam-javelin commented on #949
Having the same issue. Here is my error log: https://pipelines.actions.githubusercontent.com/serviceHosts/583c118f-1d9a-4ddc-862e-67a8e673d75e/_apis/pipelines/1/runs/1258/signedlogcontent/2?urlExpires=2022-10-14T02%3A18%3A10.5877322Z&urlSigningMethod=HMACV1&urlSignature=r038Sm4waknUQMjEtil0wTBx4PKBWIYL0zNCGX16cV4%3D

![image](https://user-images.githubusercontent.com/79462674/195748451-a912268d-62

[2022-10-14 03:06] osobeso opened #951 "Static WebApp deployment Action gets stuck Polling Deployment but works fine locally on swa CLI"
**Describe the bug**
I have a repository (https://github.com/osobeso/TaskifySWA) that I'm trying to deploy to an Azure Static Webapp.
It works fine locally, but when I try to deploy it the Github Action gets stuck on 'Polling Deployment'

[code]

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/osobeso/TaskifySWA and

[2022-10-14 06:35] boy-incerta commented on #951
Looks like duplicate of #949

[2022-10-14 07:22] boy-incerta opened #952 "Azure/static-web-apps-deploy@v1 generates deprecation warning regarding set-output"
**Describe the bug**
I noticed a warning in our GitHub action that Node v14 was going to be deprecated. I therefor upgraded all actions that still used that version to Node v16 as well as the settings of the staticwebapp.config.json. After a successful build, this warning disappeared but a new one arose at the Azure/static-web-apps-deploy@v1 step. This states:

`Warning: The 'set-output' command i

[2022-10-14 07:32] vivekjilla commented on #949
Hi everyone, sorry for the inconvenience caused. We identified the issue and working on the fix. Will update here once the issue is resolved.

[2022-10-14 07:33] vivekjilla commented on #951
Related to #949

[2022-10-14 08:57] fleed commented on #946
Following a suggestion by a MS employee, we set the `is_static_export` value to **true** and that fixed the builds

[2022-10-14 08:57] #946 closed

[2022-10-14 09:41] kjkent commented on #76
Hey there, sorry to comment on this years-closed issue, but I'm having a similar issue with a new SWA. I can't seem to set any named branch staging environments, and then I realised that the production_branch setting wasn't being applied, and that in-fact the production branch itself (aptly named 'production') was being ignored by Azure SWA.

I tried the commands above but it seems there's been so

[2022-10-14 11:18] jaylinclinycare commented on #943
It turned out that my id-token did not contain any claims, once the claims are returned back, I managed to login to the SWA.

[2022-10-14 11:18] #943 closed

[2022-10-14 11:48] arynaq commented on #952
Thank you for opening this, we see the same issue.

[2022-10-14 12:53] valstu commented on #769
@ngoctp27 any change you could share your azure-pipelines.yml? I seem to get same error in Pipelines 🤔

[2022-10-14 15:48] ngoctp27 commented on #769
@valstu I use `nextjs` framework, I think it is temporary work with Azure Devops (Pipelines). Because it restricts by the official document [Bring your own functions to Azure Static Web Apps](https://learn.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own#:~:text=Set%20api_location%20value%20to%20an%20empty%20string%20(%22%22)%20in%20the%20workflow%20configuration%20file.) .
Maybe

[2022-10-14 16:52] adam-javelin commented on #949
@vivekjilla I was finally able to build. Thank you!

[2022-10-14 21:07] MaxWilson commented on #951
Related to #942

[2022-10-15 16:33] AscaL commented on #949
Solved, closing the issue. Thanks everyone.

Cheers

[2022-10-15 16:33] #949 closed

[2022-10-16 00:44] laurekamalandua opened #953 "Failure during content distribution"
**Description**

When deploying an Azure Static Web App from Azure DevOps using the AzureStaticWebApp@0 task, deployment fails. Oryx builds the project and uploads the content. After 1:30, polling returns that Azure labeled the deployment as failed. The issue does not occur when only static content is uploaded. The binaries do not exceed 500 MB.

A clear and concise description of what the bug is.

[2022-10-16 13:22] laurekamalandua commented on #520
There are no updates in regards to this. I tried to deploy a very simple application which doesn't exceed the 500MB quota on the Standard plan. The file quota is something in addition that is not properly documented anywhere. Incredibly frustrating. Azure Static Web Apps is not a reliable solution for hosting, unless it is purely static content.

[2022-10-16 14:17] #953 closed

[2022-10-16 19:36] lucasmkrolow commented on #909
I'm having a similar issue, any update?

[2022-10-17 04:28] vivekjilla commented on #951
Hi @osobeso this should be resolved now. Please try again and reopen the issue if not resolved. Sorry for the inconvenience.

[2022-10-17 04:28] #951 closed

[2022-10-17 11:02] indcoder commented on #673
@thehitchiker Correct, I was in contact with the AI team to conclusively prove this, and they have already got the patch in.

[2022-10-17 19:27] rtrindvg commented on #769
Same problem here. Not understanding why the 100Mb limit is being shown since the limit should be 250Mb and it always worked until some days ago.

[2022-10-17 23:56] jkears opened #954 "Not able to resolve packages from private nuget"
We have deployed a Blazor WASM project into Azure Static Apps and the WASM project references several packages in our private Nuget.

When running the GitHub action as generated by Azure Static Web Apps, we get an error at the Build and Deploy step when restoring the Blazor WASM project and it can't locate the package(s) that are in the private nuget service.

`
/github/workspace/NextWare.Portal.W

[2022-10-18 06:24] vivekjilla commented on #769
Hi everyone, this new limitation of 100mb is for the nextjs ssr support we recently released in preview mode. Please check out [here](https://learn.microsoft.com/en-us/azure/static-web-apps/nextjs#unsupported-features-in-preview) for more details.

And if you're using static export feature of Nextjs and hitting into this error, please make sure to add `is_static_export: true` flag as mentioned [he

[2022-10-18 08:48] valstu commented on #769
So after few days of fighting with the 100mb limitation I found out following:

Next.js builds are quite large in general, easily over 100mb even with minimal sites. Bundle size is large because of the `.next/cache` folder, that takes most of the disk space. Cache folder, **if I got this right**, is used to make subsequent builds faster. So it is meant for CI/CD pipeline. Deployment container (`mc

[2022-10-18 15:48] SteveDrakey commented on #661
Due to this issue  [528](https://github.com/Azure/static-web-apps/issues/528)

We have hit this limit, we have to use `routes` rather than `navigationFallback`s  to allow users to navigate directly to pages in our site.

Maybe increase the size until we have `navigationFallback` improvements?

[2022-10-18 20:48] jochenjonc opened #955 "Oryx version/tag in docker image"
I would like to know when the Oryx version in the docker image that is used by the GitHub action is being updated. I've noticed that GitHub Action, which is relying on the mcr.microsoft.com/appsvc/staticappsclient:stable Docker image, is using Oryx [20220621.1](https://github.com/microsoft/Oryx/releases/tag/20220621.1).

`Oryx Version: 0.2.20220621.1, Commit: 82ed84f0f3fd3a25ded3029f137601f54e7a1d

[2022-10-18 21:36] carmenkolohe commented on #952
I am receiving the same issues in GitHub actions from using the autogenerated yaml generated by App Services. I have tried updating to the latest version of azure/webapp-deploy from @v2 (created by app services) to @v2.2.3. Does not fix. Is there a fix for this?

https://github.com/Azure/webapps-deploy/releases

[code]
![Screen Shot 2022-10-18 at 2 24 36 PM](https://user-images.githubusercontent.c

[2022-10-19 09:18] derkoe commented on #581
@anthonychu  any updates on this?

As I understand it - [authentication](https://learn.microsoft.com/en-us/azure/static-web-apps/authentication-authorization) does not work with preview environments at all.

[2022-10-19 09:25] vivekjilla commented on #954
@jkears  In the "Add Private Nuget source" step, as the source is private, you might have to provide some credentials as well to successfully add the source using `dotnet nuget add source` command?
Here's an example for source that needs authentication https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-add-source#examples

Please check if it helps.

[2022-10-19 10:55] Ashoks22 commented on #302
Hi, I am getting below error while trying to build through Azure pipeline.

[2022-10-19 12:07] dligthart commented on #139
Currently we are experiencing issues because we have a large number of json files in our static web app build. Can the limit be bumped even more? >15K

[2022-10-19 13:40] SchulteMarkus opened #956 "Azure DevOps Pipeline:Automatically delete branch preview environments after branch deletion"
In Azure DevOps Pipeline I am using abc as described on https://learn.microsoft.com/en-us/azure/static-web-apps/branch-environments?tabs=azure-devops

[2022-10-20 00:13] laurekamalandua commented on #664
Have been receiving this message on Microsoft hosted agent. The "ubuntu-latest" image. I did not receive thus warning 1 week ago with the same settings.

[2022-10-20 11:05] michaelhansen079 opened #957 "Consume APIM using internal network - from SWA"
**Problem:**

We wish to consume an existing APIM instance that uses "internal network" - i.e runs on a VNet - from our SWA

Currently - when /api/* requests are routed to this APIM instance - SWA returns "Backend call failure".

I am guessing this is due to the fact our APIM instance runs on a separate VNet?

When using an APIM instance which does **not** use a VNet - everything works.

Is there

[2022-10-20 13:03] AscaL opened #958 "Nuxt 3 PWA - manifest.json replaced on build"
Hi, I'm trying to deploy a SPA to SWA. I'm using Nuxt 3 with the Nitro preset `Azure`.
The issue is that my `manifest.json` file, which is correctly loaded in dev, seems to be replaced by oryx when building and deploying.
The file is found in the `.output/public` dir after running `pnpm buld`.
<img width="439" alt="image" src="https://user-images.githubusercontent.com/8880943/196954213-751870de-ab

[2022-10-20 16:19] andrewgbell commented on #942
Same issue here as well, details below, but essentially the upload occasionally times out.  Once it does, as mentioned in other reports, it will generally fail a few times and then start succeeding a few times.  We have less success in the morning (GMT).

DeploymentId: a85c6509-ff2e-4683-81ca-fa3ee09a11e0

App Directory Location: '/build' was found.
Looking for event info
Skipping step to build /g

[2022-10-20 21:31] alexrabin commented on #769
@valstu I tried adding `next build && rm -rf ./.next/cache` but only the next build is called and not the rest of the command in the pipeline. Is there anything else you had to change as well?

[2022-10-20 21:43] alexrabin commented on #769
Ah okay I did not know that. When I build locally and then end up removing the cache folder I am at 85mb so I dont know what's going wrong then :/

[2022-10-20 22:55] alexrabin commented on #769
@valstu How many pages were you generating? I am generating 36 and it is failing.

[2022-10-20 23:17] scale-tone commented on #940
ping

[2022-10-20 23:36] valstu commented on #769
Under ten, how big is your .next folder if you build it locally with the new build command?

[2022-10-21 04:21] takashiuesaka opened #960 "WebApps staging slots can be linked from the preview environment"
**Is your feature request related to a problem? Please describe.**
If I link to the backend production WebApps and then create a swa preview environment, I cannot link the prev env to the WebApps slots created from the production WebApps.

**Describe the solution you'd like**
Even if WebApps already linked from swa exist, it is possible to link to WebApps in a different slot.

**Describe alternati

[2022-10-21 06:26] rupareddy5-21 commented on #958
Hi @AscaL, sorry for the inconvenience caused. If you have already built your app before, can you try using [skip_app_build](https://learn.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=github-actions#skip-building-front-end-app) so that oryx won't build your app and replace your manifest file.

[2022-10-21 09:27] AscaL commented on #958
Hi @rupareddy5-21 , thanks for the tip. I've tried but unsuccessfully.

Upon further investigation I've discovered that the manifest deployed seems to be the one in `.output/server/functions/chunks/` instead of the one (that i expect) in `.output/public/`
I really do not know why

[2022-10-21 09:31] rupareddy5-21 commented on #960
Hi @takashiuesaka, this is not possible as of now, a web app can only be linked to one SWA at a time, you can find this in the [official documentation](https://learn.microsoft.com/en-us/azure/static-web-apps/apis-app-service#:~:text=An%20Azure%20App%20Service%20app%20can%20only%20be%20linked%20to%20a%20single%20static%20web%20app%20at%20a%20time). Please let us know if you need more information. T

[2022-10-21 15:22] alexrabin commented on #769
@valstu When I build with 13 pages, my .next folder is 180mb. Once I remove the cache folder, the .next folder is 14.5mb.

Something is telling me the pipeline isn't calling the rm command :/

[2022-10-21 15:44] valstu commented on #769
Are you using azure pipelines?

[2022-10-21 15:50] alexrabin commented on #769
@valstu  yes I am

[2022-10-21 16:02] valstu commented on #769
Ok! I'm using GH Actions so there might be some differences

[2022-10-21 16:03] alexrabin commented on #769
Ah that might do it

[2022-10-22 06:36] takashiuesaka commented on #960
HI @rupareddy5-21, I am proposing a feature request. I am already aware of that limitation, but I am very disappointed that I cannot use the slot feature of WebApps because of that limitation.

[2022-10-22 16:19] oldmanfleming commented on #830
@qianz2 is there a timeline for supporting node 18? Its already current and is going to be LTS in 3 days: https://github.com/nodejs/Release

[2022-10-22 16:24] oldmanfleming opened #961 "Support Node 18"
**Is your feature request related to a problem? Please describe.**
Azure static-web-apps does not support Node 18

**Describe the solution you'd like**
Azure static-web-apps should support Node 18. It is already current and will be LTS in 3 days.

**Describe alternatives you've considered**
Lower Node versions can be used for now.

**Additional context**
Most users wan't to develop on the same ver

[2022-10-23 16:56] chris-consulting commented on #721
I am trying to deploy on azure an i18n angular application. And I tried many many hacks and I always have this error : Failed to find a default file in the app artifacts folder (dist/xxxxx). Valid default files: index.html,Index.html.
I have read your solutions, that seems to be the good ones. But I have still 2 questions:
- @jjaramillom How do you deploy an index .html in dist folder? I mean with

[2022-10-24 07:24] boy-incerta commented on #869
@joslinmicrosoft Did you investigate this any further? We are still experiencing this.

[2022-10-24 07:26] boy-incerta opened #962 "Unexpected: The content server has unexpectedly rejected the request with: LengthRequired when using Dependabot"
Describe the bug
We are using Dependabot to keep our dependencies updated. This runs scheduled on every monday morning at 7am. Pull requests created in our repository, automatically trigger a workflow that will create a staging site to see the changes in the pull request.

One of the steps in the workflow is the Azure/static-web-apps-deploy@v1 action. For every pull request created by Dependabot t

[2022-10-24 07:28] boy-incerta commented on #869
Hi @joslinmicrosoft did you investigate this any further? We are still experiencing this issue, which blocks us in using Dependabot together with azure/static-web-apps

[2022-10-24 12:21] larsmaes-sogeti commented on #608
Same problem here, still no workaround?

[2022-10-24 12:32] jjaramillom commented on #721
Hi @chris-consulting,
I'm no angular expert, so I'm not sure how your build process is set. We have an Azure pipeline building, checking, and deploying, so I simply added one step to the pipeline to create an empty `index.html` file. If you are not using pipelines, I guess you could add a simple script and run it via npm after building.

[2022-10-24 12:40] SteveDrakey commented on #721
This will not work for routes, if you navigate within the app its fine but if a user links directly to /x/y/z then you have no fallback or you have a single fallback to one microformat .

This maybe fine for the app / use case.

[2022-10-24 12:40] SteveDrakey commented on #721
This will not work for routes, if you navigate within the app its fine but if a user links directly to /x/y/z then you have no fallback or you have a single fallback to one microformat

[2022-10-24 13:17] joeyold commented on #721
You are not going to be able to solve this using the angular cli, you'll have to find another manner by which to inject the root index.html into your build dist.

You could add an additional step to your build pipeline to copy a file from into your root distribution, or you could add an additional build script and run that afterwards.  Example:
`
const fs = require('fs-extra');
export async functi

[2022-10-24 14:31] abouroubi commented on #608
Looks like they don't care, this product is half baked, it was made in a hurry as an answer to AWS Amplify.

[2022-10-24 18:09] MaxWilsonMS commented on #695
I have this same issue (using custom domain, https://dungeondraw.shiningsword.org/). I've engaged with Facebook by filing a bug report, but they seem at a loss what to do with an auth scenario that doesn't rely directly on the Facebook Login JavaScript SDK, and they've closed the bug without providing a solution.

[2022-10-24 20:39] annikel commented on #960
Hi @takashiuesaka
**I need to correct: We do indeed allow slots to be linked to staging environments.**
It might be confusing in the Portal UI right now since it will show a validation error after selecting the Web App - but you can go ahead select the staging slot and hit link. This is solely because the validation currently does not get retriggered after the slot selection. We can work on improv

[2022-10-24 21:25] Abdull-Rauf opened #963 "Internal Server Error"
After successfull deployement of nextjs app on azure static web app, when I click on url it displays "Internal Server Error" instead of website content.

[2022-10-24 23:01] joslinmicrosoft commented on #869
Hi @boy-incerta sorry for the delay here. Just to confirm, when you checked the secret, did you check the Dependabot secret to make sure it is correct, or just the GitHub action secret? The reason why I keep asking is that the behavior seems different depending on if the workflow actor is Dependabot or not; the main difference relevant to our action is how secrets are accessed: https://docs.github

[2022-10-24 23:03] joslinmicrosoft commented on #962
Hi @boy-incerta, this is a duplicate of #869 correct? I've responded there, let's continue the discussion on that original issue.

[2022-10-24 23:03] #962 closed

[2022-10-25 01:22] thomasgauvin commented on #765
This is good feedback, thank you @Strepto and @superhp. We'll look into providing more preview environments. What would be a rough number that would be sufficient for your use cases, if you were to give an estimate? This could help us planning this improvement

[2022-10-25 04:15] vivekjilla commented on #963
Hi @Abdull-Rauf
1. Are you using the `next export` feature of nextjs? If so, you might have to pass `is_static_export: true` in the workflow.yml. For more details on how to do this : https://learn.microsoft.com/en-us/azure/static-web-apps/nextjs#static-html-export
2. If you're trying the [nextjs ssr support](https://github.com/Azure/static-web-apps/discussions/921) we released recently, is it poss

[2022-10-25 06:19] johnnyreilly commented on #961
Would love to see this also https://github.com/johnnyreilly/blog.johnnyreilly.com/pull/317

[2022-10-25 07:46] Strepto commented on #765
We are not using any of the "function" features in our app, so for us SWA is just serving static files and providing Urls. Today (2022-10-25) we have to juggle the 10 environments between ~12 more or less active PRs. So for today about 20 environments would give us a buffer. This number slowly increases due to spikes, working branches, demos etc. Maybe 25 or 50 would be good numbers to provide as

[2022-10-25 08:09] feedm3 commented on #497
We also had the need for a Netlify-like experience, but with SWA:

- create an isolated deployment for each PR
- put the link to the deployment right inside the PR, so that other developers can review it easily
- delete unused deployments

I expected this feature set out-of-the-box from SWA, but it seems it's missing some pieces yet. We still figured out a way to solve this problem with 2 custom p

[2022-10-25 09:24] Reshmi-Sriram commented on #961
Hi @oldmanfleming and @johnnyreilly,
The support work for Node 18 is in progress, please expect an announcement soon. Thanks! :)

[2022-10-25 11:19] derkoe opened #964 "Full support for other CI/CD services, such as GitLab CI, BitBucket, Jenkins, CircleCI (or manual deploy)"
**Is your feature request related to a problem? Please describe.**
I am trying to automate deployment of Azure Static Web Apps from GitLab CI and many of the features available in GitHub do not work. I know that GitHub is a part of Microsoft now, but I do not understand why the Static Web Apps tools were only built for GitHub. Basic deployment from other providers works now but it seems that every

[2022-10-25 11:40] erwinsmit opened #965 "Does SWA support writing files to a tmp directory?"
I'm currently trying to deploy a Next.js app that writes stuff to the tmp directory using: https://github.com/stefanpenner/sync-disk-cache
This is used by the Sitecore JSS next.js SDK:
https://github.com/Sitecore/jss/blob/dev/packages/sitecore-jss-nextjs/src/editing/editing-data-cache.ts

The editing data cache is currently getting mis-hits, I assume because the SWA is not allowed to write to the

[2022-10-25 12:21] larsmaes-sogeti commented on #608
It ssems to be somewhat related to: https://github.com/Azure/bicep/issues/4483

[2022-10-25 16:18] annikel commented on #960
To be able to have a consistent link from your staging environment to your backend slot make sure to use either [Branch environments](https://learn.microsoft.com/en-us/azure/static-web-apps/branch-environments?tabs=github-actions) or [Named environments](https://learn.microsoft.com/en-us/azure/static-web-apps/named-environments?tabs=github-actions)

[2022-10-26 08:12] boy-incerta commented on #869
Hi @joslinmicrosoft ,

I think this was the problem. It's been a while since august so not sure, but I'm afraid I didn't check the Dependabot token. Updated both now and looks like it is working! 🎉  Thanks for your support! If I can add any suggestion that would be to make that error a bit more detailed than just LengthRequired.

[2022-10-26 08:12] #869 closed

[2022-10-26 14:44] Reshmi-Sriram commented on #604
Closing, resolved.

[2022-10-26 14:44] #604 closed

[2022-10-26 19:08] MaxWilsonMS opened #967 "Facebook login as custom provider not working"
**Describe the bug**

Following the directions for Facebook login at https://learn.microsoft.com/en-us/azure/static-web-apps/authentication-custom?tabs=facebook leads to Facebook error page: "Feature Unavailable/Facebook Login is currently unavailable for this app." which leads to "The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomai

[2022-10-26 19:36] MaxWilsonMS commented on #967
Additional datum:

Even though I have my FACEBOOK_APP_ID in the [configuration file](https://github.com/MaxWilson/POCDungeonDraw/blob/main/publish/staticwebapp.config.json) set to 638709567889063, the URL generated by https://identity.2.azurestaticapps.net's 302 redirect has a different clientId (client_id=1284854938630033).

![image](https://user-images.githubusercontent.com/12056927/198119431-33

[2022-10-27 01:51] takashiuesaka commented on #960
Hi @annikel ,
Thank you for your reply.
My feature request is to be able to link from production and other pre-production environments in one SWA to production and slot in one WebApps. I don't think this is possible.

[2022-10-27 07:57] vivekjilla commented on #965
@erwinsmit  "Editing data cache miss for key" means cache didn't have the key looks like. Do you see any errors when trying to set the cache, as that's when the write to tmp folder happens, and maybe see if there are any logs related to that.

Also, we use [consumption plan functions](https://learn.microsoft.com/en-us/azure/azure-functions/consumption-plan) which can scale based on traffic and I t

[2022-10-27 08:14] erwinsmit commented on #965
I couldn't find any errors specifically to writing the file. I re-wrote this bit of functionality to use blobstorage instead, this seems to work better in this case. Especially if the are issues with scaling and losing persisted data.

Does that mean that when the functions scale based on traffic, the TMP directory is bound to each scaled up instance?

[2022-10-27 08:52] aldisv commented on #709
Same issue here.

React SPA App
B2C issuing client tokens
Calling APIs behind integrated API Management (with SWA/APIManagement integration)
APIs need access tokens with client data for authorization and data access security (and end-to-end tracing)

@jon-a-nygaard , did you find a workaround or go custom MSAL based approach?

[2022-10-27 09:01] NivGreenstein commented on #709
We went with custom MSAL instead of the built in integration

[2022-10-27 11:29] acgiraudon commented on #661
Up !
Same here !
We have a lot of redirects to handle (about 2500 redirects). The file size up to 650kb approximatively => we are far from the 20kb.
We are using Gatsby and it seems to be the only SEO friendly solution but we are stuck.

[2022-10-27 13:51] thomasgauvin commented on #960
@takashiuesaka

I went ahead and tested the use case of SWA prod env -> Web App prod slot & SWA dev env -> Web App dev slot. It worked for me, as you can see here:

![image](https://user-images.githubusercontent.com/35609369/198301791-7552c68e-bab1-436d-acd7-a0e132bcb4cf.png)

So, to your point @takashiuesaka, this use case is supported, but I did run into a bug which may have deterred you from do

[2022-10-27 20:19] laurence-splendr opened #968 "Initial deploy fails - GitHub Actions w/ Angular 14 - fatal: unable to connect to github.com:"
**Describe the bug**

My first deploy of an Angular 14 static web app is failing using GitHub actions (Auto-generated from configuration of the static-web-app from Azure).

When in the build step, in Oryx I get the following error (While monitoring from GitHub actions) when it execute:

`Running 'npm install --unsafe-perm'`

[code]
Debug logs do not shed any further light.

I've created a new Stat

[2022-10-28 06:15] kiranpradeep commented on #346
@thomasgauvin Named environments only adds a custom postfix to default generated URL. Please take a look at [linked](https://learn.microsoft.com/en-gb/azure/static-web-apps/named-environments) document to see DEFAULT_HOST_NAME which cannot be modified in any manner. It does not solve the original problem which was to set a reasonable hostname (e.g. https://ilovestaticwebapps.azurestaticapps.net) a

[2022-10-28 09:07] takashiuesaka commented on #960
Hi @thomasgauvin, thank you for verifying this.

Yes, I could not link to the WebApps slot because of the error in Portal you showed above.
I understand that it is a bug in Portal, but then how did you link to the slot from pre-production environment?

Could you please tell me how to do it?

[2022-10-28 11:22] MiguelMinoldo opened #969 "The Node.js version is wrong and not corresponding to the one configured in package.json"
Hello dear support,

I'm facing the following issue: When deploying the next.js app to the static app, it first picks the proper node version. On a next step (Starting to build function app with Oryx) it picks up an old version that is not working properly.

Steps to reproduce:
Steps to reproduce the behavior:
1. Fork the repo: https://github.com/MiguelMinoldo/xm-cloud-foundation
2. Deploy to Azur

[2022-10-28 12:49] anatter opened #970 "GDPR compliance of this service"
**Is your feature request related to a problem? Please describe.**
I can't find any information about data protection in Azure Static Web Apps. When I use this service to host my website I need to state what data is gathered by the hosting service. I can't find any information about what data Static Web Apps is collecting about my visiting users (e.g. IP-Addresses, Browser Version, ...).
Also ther

[2022-10-28 15:45] vivekjilla commented on #969
Hi @MiguelMinoldo the repo you specified is not accessible. But today we support node version 12, 14 and 16 for NextJS as it will be deployed as a managed function. Can you please make sure to choose one of those versions in package.json, for the build to pick it up correctly. For discussion on similar issue, please refer to https://github.com/Azure/static-web-apps/discussions/921#discussioncommen

[2022-10-28 15:53] MiguelMinoldo commented on #969
Setting it to v16 fixed it. Thanks a lot!

[2022-10-28 15:53] #969 closed

[2022-10-28 18:54] itpropro commented on #581
Any updates @annikel ? Most projects I work with use the authentication layer, so preview and PR environments are basically not usable...

[2022-10-29 20:47] laurence-splendr commented on #968
The solution was to put the following in `package.json`

[code]

Angular 14 doesn't support node14 and it looks like that's what Oryx is detecting without it being explicitly set.

[2022-10-29 20:47] #968 closed

[2022-10-31 14:10] thomasgauvin commented on #337
@fleed @onag-fr @arshadazeem Thanks all for your feedback. I'm looking to better understand the need for blue/green deployments. Azure Static Web Apps already provides zero-down time deployments, instantly shifting to the new version of the app once the deployment is completed. This comes out of the box with no need for additional configuration.

[2022-10-31 14:36] MiguelMinoldo opened #971 "Unable to deploy Next.js app to Static App: "Failed to deploy the Azure Functions""
Hello dear support:

I'm trying to deploy my Next.js App to the Static App, it fails without any reason at the end of the deployment process.
Error message points to "Failed to deploy Azure functions"

[code]

Steps to reproduce the behavior:
1. Go to Github and clone/fork: https://github.com/MiguelMinoldo/xm-cloud-foundation
2. Go to actions and run the Azure Static Web Apps CI/CD action
3. See e

[2022-10-31 14:45] onag-fr commented on #337
Hello @thomasgauvin

I tried to find some documentation on zero down time deployment but I didn't find anything.
Could you explain how are they managed the existing on the traffic during deployment process. Is it work as deployment slot on App Service ?
Deployment can take second or minutes to proceed so how existing connection are managed between the time when the application is deployed, and the

[2022-10-31 16:13] ulfbrehmer commented on #22
We also wanted do have custom domains ready for different environments, e.g.:
* dev.domain.com
* demo.domain.com
* customerspecific.domain.com
* prod.domain.com
Apart from the prod environment, all others would be fixed subdomains for dev/test or for feature testing, using the same GH repo but different branches (not necessarily named same as the hostnames).
Unfortunately, Azure SWA does not suppo

[2022-10-31 19:49] mattdot commented on #765
Also using Preview Sites in the same way as Strepto is for static content only following this guidance https://learn.microsoft.com/en-us/azure/static-web-apps/review-publish-pull-requests.  Our use case is a docs repo with a large number of contributors (100 active), so it's really hard to predict the number of open PRs at any one time.  We don't want to tell people not to open PRs, and it's hard

[2022-11-01 01:45] rdpolarity commented on #914
@mkarmark I haven't been able to progress or start any support tickets. Unfortunately, I can't share the project publicly and it's taking a long time to get permission to even send a support ticket through azure (big organisation). Bit of a rock and a hard place. @binkiesjoris it sounds like you're going through the exact same, we use the same work around to get this working, Would it be possible

[2022-11-01 04:31] vivekjilla commented on #971
@MiguelMinoldo are you passing `USERNAME` as an app setting for this app. Azure function is failing as USERNAME is not allowed appsetting name. Can you please check and see if you can remove or change it to some other name and try. Thanks!

[2022-11-01 06:25] MiguelMinoldo commented on #971
Hi @vivekjilla, thanks for the quick reply. Unfortunately, I've removed this app setting but the issue persists, is there any way to check logs to know why the Azure function is failing?

Thanks!

[2022-11-01 08:14] vivekjilla commented on #971
Hey @MiguelMinoldo I still see it's failing with same error for USERNAME. Can you please check once again if the app settings are removed from the portal as shown in the screenshot at https://learn.microsoft.com/en-us/azure/static-web-apps/application-settings#use-the-azure-portal

Sorry for the inconvenience wrt logs visibility. We're working on improving that feature but there's no way right now

[2022-11-01 08:22] HarryHuy commented on #679
I received the same issue today. Had you resolved it @kareldeman ?

[2022-11-01 08:32] MiguelMinoldo commented on #971
Hi @vivekjilla, it worked now, thanks! Apologies for the misunderstansing I thought you were refering to the workflow yml file.
Thanks!

[2022-11-01 08:32] #971 closed

[2022-11-01 10:58] Rutix commented on #794
What @colinansah did in the end (which is really ugly but we see no other way) is to add the access token as a role and then retrieve it from there. The only big issue with this is expiration I think.

@anthonychu @mkarmark @Reshmi-Sriram any update on this?

[2022-11-01 13:22] rbnmk commented on #745
We are using Azure Firewall to scan outbound traffic and it seems that connectivity, in our case, was blocked to:  content-am2.infrastructure.2.azurestaticapps.net. We are using a Self-hosted (Linux) agent and a SWA with a Private Endpoint.

[2022-11-01 14:24] thomasgauvin commented on #520
Hi all, thanks for the feedback on this limitation. We're working on improving our content distribution, and are looking into increases to this limit which could come out of this engineering effort.

To help us better understand how many files need to be supported, can any of you share any repos or file count ranges that you would hope to see supported by Azure Static Web Apps?

[2022-11-01 15:56] thomasgauvin commented on #337
@onag-fr, thanks for the call out on documentation, that's something I'll look into improving. The way the deployment process happens is as follows:

When a deployment is started (whether in a CI/CD pipeline or through SWA CLI), your app (static assets & managed APIs if you have any) is built. Once it is built, it is deployed to Azure Static Web Apps (and distributed to each of Azure Static Web Ap

[2022-11-01 16:11] thomasgauvin commented on #960
@takashiuesaka While the error does pop up in the UI, you can still choose the App Service slot you wish to link your app environment to. Hope this helps! I have logged this bug with the Portal team and will keep you updated when it is fixed.

![image](https://user-images.githubusercontent.com/35609369/199280150-4209b608-c00f-4a58-9a68-3fa6de4a83b6.png)

[2022-11-01 17:06] mattdot opened #972 "Use GitHub Deployments API instead of posting to the discussion of a PR"
**Is your feature request related to a problem? Please describe.**
Would prefer that the GitHub Action use the [GitHub Deployments API](https://docs.github.com/en/rest/deployments/deployments) instead of just posting the preview environment URL to the discussion of a PR.

![image](https://user-images.githubusercontent.com/266258/199292770-9c4c9dcf-9444-4f69-a276-4d6c57a363c4.png)

This prevents us

[2022-11-01 21:36] gabrielizalo opened #973 "Node version error creating Azure Static Web Apps"
**Describe the bug**

I used the Azure wizard to publish a Next JS App in GitHub to a new Static Web App.
The Azure Wizard uses this `yaml` file: `azure-static-web-apps-brave-mud-030f7e20f.yml`

My problem: Appears this error in the `Build and deploy job`:

**Summary**:

[code]

Also in the details appears this error:

[code]

**To Reproduce**
Just use the Portal Azure Wizard to publish a Next JS

[2022-11-02 04:52] ABL6COB commented on #941
Yes, we are facing this issue and need to manually delete the preview environments when it hits 10 count.
As suggested, a warning would be fine in case new environment cannot be created and the CI should not fail.

[2022-11-02 07:05] vivekjilla commented on #973
Hi @gabrielizalo Can you try specifying the node version in `package.json` under `engines` section and see if you can use node 16. For more details: https://edi.wang/post/2022/1/27/how-to-specify-nodejs-version-when-building-azure-static-web-app

Also just curious, as you're providing api_location and also output_location, are you using `html export` feature of NextJS? If so, please check if you n

[2022-11-02 09:58] jrmch commented on #302
This is the trouble with everyone becoming so reliant on Microsoft black box tech!

[2022-11-02 16:41] gabrielizalo commented on #973
@vivekjilla Thanks for the tip. You were right. I used: `"node": "16.14.2"` but now I'm getting this error:

[code]

Also you asked me about `providing api_location`. Well. I'm new to Next JS. I just created an app that has the following:
- An API via NextJS APIs in `src/pages/api` that loads in my postman as `...my-server/api/`
- Several JS pages load the data of those endpoints and show on the s

[2022-11-02 17:08] carmenkolohe commented on #952
@arynaq Has there been any updates on this issue?

[2022-11-02 19:11] thomasgauvin commented on #765
Thanks @Strepto and @mattdot, this is good feedback and I'm taking note of it. We're currently working on improving our content distribution and that engineering work would enable us to consider these increases, I will keep this thread updated as we progress

[2022-11-02 22:13] gabrielizalo commented on #973
IN this document: [Deploy hybrid Next.js websites on Azure Static Web Apps](https://learn.microsoft.com/en-us/azure/static-web-apps/deploy-nextjs-hybrid) said that:

[code]

So I can't used Azure for my app. 😢

[2022-11-02 22:13] #973 closed

[2022-11-03 12:25] rbnmk commented on #373
What about connecting an Azure Front Door Premium via Private endpoints to the SWA? Just like App Services and Storage origins? Any roadmap on this?

[2022-11-03 13:17] vivekjilla commented on #973
Hey @gabrielizalo sorry for this inconvenience. Can you please checkout this discussion and see if the workaround mentioned here helps reduce your app size: https://github.com/Azure/static-web-apps/issues/769#issuecomment-1282035151

[2022-11-03 14:00] gabrielizalo commented on #973
@vivekjilla Yes... I already tried it. But as I'm using MUI and other libs my project is very big. Like 200 MB.
Hehehe

[2022-11-03 14:44] jesseryoung opened #974 "Question: .Net 7 Support for APIs?"
I'm seeing some issues getting .NET 7 azure functions project running in Static Web Apps. [Azure Functions seems to support .NET 7](https://devblogs.microsoft.com/dotnet/dotnet-7-comes-to-azure-functions/) however I haven't been able to find any public documentation or GitHub issues that states that it should work with APIs in Azure Static Web Apps.

Before I do further troubleshooting, should .NE

[2022-11-03 17:09] MaxWilsonMS commented on #967
Potential (untested) workaround: maybe if I use Bring-Your-Own-Functions (https://learn.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own) it might not have the same issue as static web apps do.

[2022-11-03 20:43] cmriachi commented on #974
Hello @jesseryoung, we are working on support for .NET 7 APIs with static web apps; expect an announcement coming soon. Thank you :)

[2022-11-03 21:19] #974 closed

[2022-11-03 21:48] renandegrandi commented on #721
Hello, @chris-consulting, If you are using the default pipeline for github actions, you can use the following command.

`app_build_command: "npm run build-prod && touch {output-path}/index.html"`

First, you run the build command and then you configure it through the touch command to create an empty file inside the folder named index.html

[2022-11-04 10:57] honeymustard commented on #520
Is there a reason to have a hard file limit, as long as it doesn't exceed the said quota?
My use case was less than 30.000 html files - only real limit for practicality was the duration of the build and deploy.

[2022-11-04 16:25] erwinsmit commented on #819
I had the same problem too with a hybrid next.js app. For me it fixed setting `build_timeout_in_minutes` to a high value (e.g. 1000).
This was just a lucky guess because the error did not state anything about a timeout issue.

[2022-11-06 00:22] sig9 commented on #914
I have the same issue for some time when a PR creates a preview environment from a github action.
My workaround is to go into the portal and in the config section, add a dummy variable and save it. That will cause subsequent requests to be invoked in a fresh runtime where the env vars are available. My original workaround was to deploy the preview env twice (via rerunning github PR action)

Basic

[2022-11-06 04:58] scott-gainous commented on #963
I have created a Next.js application that I have built and deployed with GitHub Actions workflow.  When I try to access the static web app via the host name provided, I get the same Internal Server Error.  The troubleshooting links didn't seem to solve my problem.  Digging into Application Insights, it is surfacing the following error:

Path doesn't exist!
Mono.Unix.UnixFileSystemInfo.AssertValid

[2022-11-07 16:51] mkarmark commented on #967
Could you please provide your app name/default hostname? We can look at our logs and give you the proper guidance on your auth setup. If you do not feel comfortable sharing that info with us here, feel free to file a support ticket.

[2022-11-08 15:44] GarethBeer commented on #909
This is also happening in my deployment of an Angular App.

[2022-11-08 16:38] TheFullStackFred opened #975 "Azure-github workflow not working"
name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: action

[2022-11-08 21:21] slashphi commented on #909
I have the same problem since today with a Vue deployment. Seems to be related to the npm version

[2022-11-09 00:10] pleavitt commented on #909
We are also having this issue with our deployment of our react app.

[2022-11-09 04:24] komayama opened #976 "Requests for adding the Static Web Apps tags."
We management the following network architecture. Client requests to Static Web Apps and call HTTP trigger code on FunctionApp then that network traffic is routing own Firewall. When we tried to request from client to Static Web Apps, we get response HTTP Status 500 error. After that we confirmed FireWall log. It has generated Static Web Apps IP address (52.175.64.109) on FireWall.

We tried to ad

[2022-11-09 13:08] mbmwlr opened #977 "OpenID Connect RP-Initiated Logout"
**Is your feature request related to a problem? Please describe.**
At the moment, when using a Custom OIDC provider, logging out of the SWA via /.auth/logout does only end the session on SWA side, but not on the side of the identity provider. From what we understand, you support this behaviour just for Google and AAD.

To service our application we need to be able to end the session with the custo

[2022-11-09 18:00] MarcoMedrano commented on #34
Hours of hunting this, to get here. Definitely a bug!!!

[2022-11-09 19:45] mwaddell commented on #369
You can set flags (e.g. --legacy-peer-deps) using environment variables.  For example:

![image](https://user-images.githubusercontent.com/750244/200926356-c1c8ca20-2da3-4be9-9f35-f99ce34dc156.png)

[2022-11-09 23:41] fbanyai commented on #369
Almost two years after the original question and I'm lucky enough to find your answer just 4 hours after you publish it! :)

I can confirm that the proposed solution indeed does work! Thanks!

[2022-11-09 23:51] aressler38 commented on #369
This addresses a different issue. My original post is about using `npm ci` instead of `npm install` when a package-lock.json is present. I don't think --legacy-peer-deps is the same.

[2022-11-10 02:21] ashawz opened #978 "Azure DevOps build failing"
We have been building and deploying Azure Static Web App using Azure DevOps pipeline for about 2 years. Yesterday it started failing without any code change. Below is the error log.

2022-11-08T16:14:48.4678360Z ##[section]Starting: AzureStaticWebApp
2022-11-08T16:14:48.4685863Z ==============================================================================
2022-11-08T16:14:48.4686178Z Task

[2022-11-10 02:47] georgechang opened #979 "Hugo builds from GitHub Actions stopped working"
**Describe the bug**

Hugo site using Azure Static Web Apps GitHub Action no longer builds.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Hugo site
2. Deploy to Azure Static Web App
3. See error

Here is the source repo for the application I'm trying to deploy: https://github.com/georgechang/blog/

**Expected behavior**
Deployment to succeed as it used to.

**Screenshots**
Deploym

[2022-11-10 03:06] mwaddell commented on #369
Understood - I don't see a way of making `npm install` work like `npm ci` using environment variables, so although this addresses @pinnakl's issue, it does not address the original issue you raised.

[2022-11-10 05:06] aressler38 commented on #369
Microsoft merged a code fix I had once, but I hate working for free :D
Do you know of an environment hack that might rewrite the npm script itself? Maybe we can replace "npm install" with "npm ci#install" if you catch my drift.

[2022-11-10 08:03] #261 closed

[2022-11-10 11:13] HaikoF commented on #942
We have the same problem, using a azure devops pipeline ( task AzureStaticWebApp@0).

[2022-11-10 13:56] vivekjilla commented on #963
Not sure which particular library is causing this issue. You can add custom logs in your app using `console.log`, and get them to surface in the app insights. This might help with debugging this issue further.

[2022-11-10 14:18] joelcoxokc opened #980 "npm fails to install due to old peer dependencies"
**Describe the bug**

As of today. I am unable to deploy using Azure/static-web-apps-deploy@v1 github action.

We are using Angular v14. We are still waiting on a few third party dependencies to upgrade to support Angular v14. Until then we have to run `npm install --force | --use-legacy-dependencies`

This github action runs the install for you which does not use either of those flags. Our system

[2022-11-10 21:06] csharpfritz opened #981 "Inadequate Permissions reported when publishing to /bin/staticsites/ss-oryx/app"
My build script, that hasn't changed in the last 6 months, has started throwing an error "Inadequate Permissions.  Run the command with elevated privileges" when writing to /bin/staticsites/ss-oryx/app

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a package.json script with a 'build' script containing the command `dotnet publis

[2022-11-11 01:39] zrodman opened #982 "Azure Static Web App - Gatsby"
I'm attempting to deploy Gatsby Static Web App via Azure Static Web App, although am encountering an issue deploying because of the version of Node.js use.

Is there any way to override this, or alter configuration to deploy successfully?

![image](https://user-images.githubusercontent.com/50938683/201243288-0c7fce85-cd67-475f-a90a-98882f37d7c1.png)

[2022-11-11 05:29] vivekjilla commented on #982
@zrodman  you can specify the custom node version using the `engines` property in `package.json` More details at https://edi.wang/post/2022/1/27/how-to-specify-nodejs-version-when-building-azure-static-web-app

[2022-11-11 05:33] vivekjilla commented on #979
@georgechang Can you please try by specifying the node version 14 in package.json, just to see if it helps.

Also this issue seems to be related to https://github.com/microsoft/Oryx/issues/1590

[2022-11-11 05:39] vivekjilla commented on #980
@joelcoxokc can you see this option unblocks you here: https://github.com/Azure/static-web-apps/issues/369#issuecomment-1309271797

![image](https://user-images.githubusercontent.com/6436807/201271265-bd13d3c4-2a63-4f4c-bf0f-b5401ec40b60.png)

[2022-11-11 05:47] zrodman commented on #982
Perfect. That worked!

[2022-11-11 05:47] #982 closed

[2022-11-11 07:28] ardyaryan commented on #830
thank you!

[2022-11-11 14:31] georgechang commented on #979
@vivekjilla Same issue unfortunately. It does look very similar to the issue that you linked to.

[2022-11-11 14:35] Emanjo commented on #909
Worked for us as well (React)!

[2022-11-11 20:14] tseward commented on #329
This issue still seems to be a problem with IDNs (punycode). I'm encountering the exact same issue as the OP, but only for IDNs.

[2022-11-12 11:29] onlyillusion opened #983 "private dns zone configuration"
Hello,
is there a way to determine in which partitionId will use app when will be creating?
For example:
We have a few predefined private dns zone with forwarding for static web apps like
privatelink.azurestaticapps.net
privatelink.1.azurestaticapps.net
But new deploy are started to create app,private endpoints with name xxx.2.azurestaticapps.net and its new dns zone which didnt covered yet.
How w

[2022-11-14 01:11] aaronpowell opened #984 "Deleting SWA resource doesn't unlink BYO Functions backend"
**Describe the bug**

If you create a SWA resource in Standard tier and link it with an existing Azure Functions backend (as per https://learn.microsoft.com/en-us/azure/static-web-apps/functions-bring-your-own), then delete the SWA resource, it doesn't unlink it from the Functions app, so if you were to try and link the Functions app again, it will fail, stating it is already linked and can only b

[2022-11-14 01:16] aaronpowell opened #985 "Changing user roles does not reflect on /.auth/me"
**Describe the bug**

I think I've found an edge-case (and maybe bug) in SWA auth.

We're working on a workshop ([newpatiente2e/Contoso-New-Patient-App (github.com)](https://github.com/newpatiente2e/Contoso-New-Patient-App), docs: [Workshop Introduction | New Patient Registration Demo (newpatiente2e.github.io)](https://newpatiente2e.github.io/docs/)) which we need to have at least two different ac

[2022-11-14 06:39] cwoz117 commented on #631
I am seeing this as well with React (both with GitHub actions and with Azure DevOps Tasks)

It looks like I can define a separate `connection` in the binding, but it fails to start with the missing app setting `AzureWebJobsStorage` We cannot create them because of the `AzureWeb` prefix block (by design)

I read documentation saying we don't even need to provide the prefix when we define the `conne

[2022-11-14 08:15] Emanjo commented on #909
With a side effect.. Local development fails because our frontenders use node 18. They have to remove that line and then add it before they commit / create a PR.

[mkarmark](https://github.com/mkarmark) Any updates on this?

[2022-11-14 09:31] jpalo commented on #909
Does this mean that using Gatsby v5 that requires Node.js 18 is a total no-go?

[2022-11-14 15:37] richardwem commented on #769
We're still stuck on this part.

@valstu has added some workarounds; removing `/cache` folders.
To do that, we added a `postbuild` npm command:
`"rm -rf ./node_modules && rm -rf ./dist/libs && rm -rf ./dist/apps/monorepo-appname-1/.next/cache && rm -rf ./dist/apps/monorepo-appname-1/.next/trace && mkdir dist/apps/monorepo-appname-1/node_modules && rm -rf ./dist/apps/monorepo-appname-2/.next/cache

[2022-11-14 19:41] hohenp commented on #214
Having the same issue deploying nextjs. Its a small "hello world"...

![image](https://user-images.githubusercontent.com/29328026/201749373-1831eb58-dfd8-4462-bb09-145e299bc1e3.png)

In the deployment job is set the api_location to an empty string.
api_location: ""

Are there any news on that?

[2022-11-14 20:41] scottkuhl commented on #761
Can we get a response from Microsoft if there is any movement on this?  Having user's login everyday is a showstopper for a lot of applications.

[2022-11-14 20:49] doctor-ew opened #987 "Oryx ignoring app_build_command in react-native SWA"
While we are working through a React Native legacy upgrade, we need to run `npx npm i --force && npx npm run build`.

Up until 08 November, we were able to build our static web app with the app_build_command:

Wondering if something changed in Oryx as this no longer is the case:

Went from

to:

Please advise!

[2022-11-15 07:37] johnnyreilly opened #988 "Azure AD Claims with Static Web Apps and Azure Functions"
**Describe the bug**

Azure AD Claims are not supplied to Azure Functions when linked with Azure Static Web Apps using the "bring your own functions" / linked backend approach.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Azure AD application with some custom app roles; eg:

<img width="687" alt="image" src="https://user-images.githubusercontent.com/1010525/201856786-654e181e-85

[2022-11-15 08:13] jpalo commented on #298
Also looking for "linux/arm64 such as Raspberry Pi or AWS Ami arm-based VMs" in order to run GitHub actions on local RasPi runner.

[2022-11-15 14:19] rustyonrampage commented on #981
Same issue
npm WARN exec The following package was not found and will be installed: npm-force-resolutions@0.0.10
sh: 1: npm-force-resolutions: Permission denied

[2022-11-15 14:51] Graham-getOptimal opened #989 "React 17 peer dependencies started breaking Static App build"
**Describe the bug**

Our REACT 17 based Web App has been building and deploying successfully to Azure as a Static Web App for over 6 months. All of a sudden it has started to fail to build with this error:
**npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: get-optimal-webapp@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react

[2022-11-15 15:00] davide-bergamini-sevenit commented on #988
A similar problem exists when linking an App Service.
I think it will be great if it could pass the AD token "X-MS-TOKEN-AAD-ID-TOKEN" like EasyAuth do, in this way we could use Microsoft.Identity.Web.

[2022-11-15 15:41] erwinsmit commented on #331
@anthonychu For hybrid Next.js apps it's not possible to use a custom build step. Does that mean that private NPM registries are currently not supported for hybrid Next.js apps?

[2022-11-15 15:54] johnnyreilly commented on #988
Agreed @davide-bergamini-sevenit  - I suspect this is a general problem and affects all linked backends.   So would expect container apps to have a similar issue.

[2022-11-15 16:09] Graham-getOptimal commented on #989
Adding both of the env variables resolved the problem for us with REACT:

env:
          NPM_CONFIG_FORCE: true
          NPM_CONFIG_LEGACY_PEER_DEPS: true

[2022-11-15 16:09] #989 closed

[2022-11-15 16:51] Jarod1662 commented on #981
I'm getting a similar issue - nothing has changed in our build and getting the following error:

Error: EACCES: permission denied, mkdir '/home/vsts/.config/gatsby'
You don't have access to this file.

    at Object.mkdirSync (node:fs:1382:3)

Any ideas?

[2022-11-15 17:33] superhp commented on #963
I didn't manage to print any log with console.log. I also tried to implement NextJs custom loggers (https://nextjs.org/docs/advanced-features/custom-error-page#customizing-the-500-page) but they also don't work. It seems the app crashes even earlier on the app initialization.

[2022-11-15 23:32] tipleavalentin commented on #987
Same issue here, instead of:
...
steps:
        with:
          node-version: '18.x'
      - run: npm install --no-package-lock --legacy-peer-deps
....
It runs "npm install --unsafe-perm"

[2022-11-16 00:16] cormacpayne commented on #987
@doctor-ew @FullofQuarks @tipleavalentin -- Hey folks, sorry about the inconvenience here; if someone wouldn't mind, I could take a look at logs from a public GitHub Action workflow, or logs posted in a follow-up comment from an execution of the SWA Azure DevOps Task, and investigate why Oryx is failing when provided with this argument to the SWA action or task. If you have logs from a previously

[2022-11-16 00:22] cormacpayne commented on #981
@csharpfritz @rustyonrampage @Jarod1662 -- Hey folks, sorry about the inconvenience here; if someone is able to, would you mind providing the logs for the unsuccessful build and deploy? I can check from the Oryx side where this failure is occurring during the build and why it would be happening with a more recent version of the underlying SWA client that uses Oryx.

[2022-11-16 00:24] cormacpayne commented on #980
@joelcoxokc Hey Joel, sorry for the inconvenience here; in addition to the suggestion above from Vivek, if you are able to, would you mind providing the logs from the unsuccessful workflow execution so I can check where the failure for Oryx is coming from?

[2022-11-16 00:30] cormacpayne commented on #979
@georgechang Hey George, sorry for the inconvenience here; taking a look at your `package.json`, I see that you have your `engines.node` field set to `">=14"`, which tells Oryx to use the latest version of node that's 14 or greater. In this case, it's still picking up the latest version we support, node 18.x.x, so to try and force the version back to 14.x.x, which was the previous default in SWA t

[2022-11-16 00:32] cormacpayne commented on #978
@ashawz -- Hey there, sorry for the inconvenience here; as Vivek suggested above, forcing the `engines.node` field to `"14.x"` will signal to Oryx that the latest version of node 14 supported should be used for the build, which was the previous default version of node used in SWA tooling. Would you mind updating your `package.json` to reflect this change and give the build and deployment another s

[2022-11-16 00:56] georgechang commented on #979
Looks like that did it! Thanks!

[2022-11-16 00:56] #979 closed

[2022-11-16 01:14] doctor-ew commented on #987
@cormacpayne Here you go: https://www.doctorew.com/shuttlebay/logs_85.zip And Thank you for taking a look!

[2022-11-16 01:42] vienleidl commented on #915
Me, too! I've just tried again, it works, deleted in 20 seconds.

[2022-11-16 11:20] Reshmi-Sriram commented on #961
Node 18 support is now in Public preview -https://azure.microsoft.com/en-us/updates/public-preview-azure-static-web-apps-now-supports-node-18/

[2022-11-16 11:20] #961 closed

[2022-11-16 14:00] ashawz commented on #978
@vivekjilla @cormacpayne That fixed it. Thanks for your help.

[2022-11-16 14:00] #978 closed

[2022-11-16 15:50] csharpfritz commented on #981
I have tests that I want run before my build, so I have a package.json file with the following command attached to a `build` script definition:

[code]

Here is the build log with advanced debugging enabled.  I have snipped out the compiler warnings when building my application for brevity.

[code]

[2022-11-16 16:17] Reshmi-Sriram commented on #915
This issue should now be fixed. Let us know if you still face issues. Thanks for being patient!

[2022-11-16 16:17] #915 closed

[2022-11-16 16:52] joelcoxokc commented on #980
@cormacpayne

[code]

[2022-11-16 19:41] talmannn commented on #909
it's still an issue ☹️ i don't really want to use node 14. overriding `app_build_command: "npm install --force; npm run build"` in YAML doesn't help as well. what is the fix?

[2022-11-16 21:33] annikel commented on #984
Hi @aaronpowell, we purposefully do not remove the configured backend authentication so that the backend API stays protected. In the new Static Sites Linked Backends APIs we provide a flag __['isCleaningAuthConfig'](https://learn.microsoft.com/en-us/rest/api/appservice/static-sites/unlink-backend?tabs=HTTP#:~:text=API%20Version-,isCleaningAuthConfig,-query)__ which you can use to trigger the backe

[2022-11-16 23:07] mcupito opened #990 "Is there documentation on how to use a Build Artifact? Or is there any alternate approach to 'check out once'?"
**Is your feature request related to a problem? Please describe.**
I'm attempting to "check out once," build (and apply environment-specific variables)  and deploy to separate environments. Originally, I was thinking I could re-use this action for all of my deploys (dev, staging, production, for example) but I am struggling a little with how to make sure I only check out the code from the reposito

[2022-11-17 06:12] feuersteiner commented on #857
[code]

[2022-11-17 09:12] vivekjilla commented on #955
You should see new tag now. We updated our client. Thanks!

[2022-11-17 09:12] #955 closed

[2022-11-17 10:29] johnnyreilly commented on #988
I've written up my workaround in this post: https://blog.johnnyreilly.com/2022/11/17/azure-ad-claims-static-web-apps-azure-functions

Thanks @warrenandre for this assistance.

[2022-11-17 10:46] davide-bergamini-sevenit commented on #987
There is the exact same problem in **GitLab**.
It was fixed on BitBucket last month:
[](https://bitbucket.org/microsoft/azure-static-web-apps-deploy/commits/3631f7b673a52603c38d1cdf36e9495cfbe9cb5c)

[2022-11-17 10:47] davide-bergamini-sevenit commented on #866
There is the exact same problem in **GitLab**.

[2022-11-17 13:45] RaphaelSilv commented on #214
Me too facing the same issue on NextJs deployment, the task I'm using is as follows:

[code]

Note there is no reference to _api_location_.

[2022-11-17 15:16] feuersteiner commented on #857
following up on this thread :
![image](https://user-images.githubusercontent.com/18667704/202484278-4d231b63-0649-430c-bb1c-046e2354d12d.png)

this happens after the redirection process (.auth/complete)

the problem appears to be a mismatch between aadb2c and the needed entity in SWA ... yet I did try to integrate Google login and the same thing happened.

I think SWA is one of the best services o

[2022-11-17 17:18] SteveDrakey commented on #721
This is becoming a real issue for us, we have a `swa` that has around 50 language files, in order to make it work we have to use lots of `rewrites` but our config is going to hit the max size limit very soon and once it does we will have to tell our customer that they cannot have any more languages added to the system. Does anyone from the dev team have any feedback? Thanks

[2022-11-17 18:18] feuersteiner commented on #890
Upon further research from my side ... what "seemed" to solve it is checking the identity access token checkbox (which for some reason didn't appear until I deleted the app registration and created another)

link to docs for testing:
https://learn.microsoft.com/en-us/azure/active-directory-b2c/idp-pass-through-user-flow?pivots=b2c-user-flow

[2022-11-17 18:47] feuersteiner commented on #890
hey everyone,

2 things I did to fix the issue,

# 1- DELETED the app registration, made a new one

# 2- Added access tokens to all possible user flows (susi and edit)

# 3- DELETED the test users

and it seemed to work now

[2022-11-17 18:48] feuersteiner commented on #857
hey everyone,

2 things I did to fix the issue,

# 1- DELETED the app registration, made a new one

# 2- Added access tokens to all possible user flows (susi and edit)

# 3- DELETED the test users

and it seemed to work now

[2022-11-17 19:23] MaxWilsonMS commented on #967
@mkarmark The Static Web App is named DungeonDraw, and the auto-generated domain name is wonderful-mud-00aeae01e.2.azurestaticapps.net. Is that what you meant by "default host name"? Screenshots below.

![image](https://user-images.githubusercontent.com/12056927/202539252-201e535e-f1fe-43ef-8d54-b38d96c062d3.png)

![image](https://user-images.githubusercontent.com/12056927/202539209-5b90921a-c76a-

[2022-11-17 21:46] aaronpowell commented on #990
I haven't tried this specific scenario, but I have written a blog post on how to create a very custom CI/CD pipeline with SWA - https://www.aaron-powell.com/posts/2022-07-20-taking-a-swa-devops-pipeline-to-the-next-level/

That might offer a starting point for what you're trying to accomplish.

[2022-11-17 23:12] cormacpayne commented on #980
@joelcoxokc thanks for providing the above logs -- if the suggestion from Vivek does not work for you, would you mind trying the following: in your app's `package.json`, would you mind setting the `engines.node` field to the following:

[code]

There was a recent change that switched the default version of node used within Static Web Apps to be node 16, updated from the previous node 14, and this

[2022-11-17 23:14] cormacpayne commented on #981
@csharpfritz thanks for providing the logs -- would you mind trying the following if you're able to: in your app's `package.json` file, set the `engines.node` field to the following:

[code]

The previous version of Static Web Apps was using node 14, but has recently bumped up to node 16. This change to the `engines` field will force Oryx to use the latest version of node 14 supported, which, I'm

[2022-11-17 23:17] cormacpayne commented on #987
@doctor-ew thanks for providing these logs -- if you are able to, would you mind trying the following: in you're app's `package.json` file, set the `engines.node` field to the following:

[code]

The previous version of Static Web Apps was using node 14, and the default version being used now is node 16, which may be causing the issues you're seeing. This change to the `engines.node` field will fo

[2022-11-18 00:11] feuersteiner opened #992 "Azure AD B2C tight integration with SWA (or fixing the preview env redirect link for aad in the cli)"
**Is your feature request related to a problem? Please describe.**
Most people building SaaS apps on SWA and Azure need user login, the login provider that makes sense is b2c (equivalent of cognito).

Problem is: b2c have to be configured manually, with one redirect link (or more, but it's manual), one tenant (can't mix prod and preview) ...

and the real problem arises when you're in a preview en

[2022-11-18 03:07] doctor-ew commented on #987
Oh yeah! @cormacpayne that worked! Thank you!!

[2022-11-18 04:48] vivekjilla commented on #952
You should no longer see the set-output warnings for Static web app runs. So, closing this. Thanks for reporting it!
For webapps-deploy, please raise an issue here and see: https://github.com/Azure/webapps-deploy/issues

[2022-11-18 04:48] #952 closed

[2022-11-18 13:27] barmang commented on #557
I am facing same issue for our documentation service, there are **multiple small text files and images** which all together is increasing content size beyond 500MB. Since we utilize lot of features coming out of the box from Azure Static Web App (ASWA), we do not want to move away from ASWA. Ideal solution would be to have Azure addressed this limitation and provide ways to scale on demand beyond

[2022-11-18 14:35] pauld-msft commented on #909
Hello all, we have tracked down an issue with the permissions that NPM has when it is running in the ADO job. It seems that the owner of the application directory does not have permissions to the NPM cache. This does not appear to be an issue with the github action deployment method. We are currently investigating a fix for ADO.

In the meantime, you all can configure the permissions that NPM will

[2022-11-18 15:02] mosoftwareenterprises commented on #888
@TrplM I just bumped into this myself, and like you recreated my custom domain. Did you find the cause?
I cannot see anything at cloudflare to indicate the issue.

[2022-11-18 15:16] mosoftwareenterprises commented on #888
I think I have solved my issue. It still was not validating the domain, but then i re-read the docs, and I noticed I had not setup the apex domain required by Azure.
https://learn.microsoft.com/en-us/azure/static-web-apps/apex-domain-external
Adding this, has allowed it to validate:
Cloudflare:
![image](https://user-images.githubusercontent.com/71320282/202737931-ab5913e2-ae58-4a22-b956-cf65700bd3

[2022-11-18 17:40] thomasgauvin commented on #984
@aaronpowell is it possible to 'unlink' the SWA backend after the SWA has been deleted?

@annikel perhaps we should block the deletion of the SWA if there are linked backends, (+ give an option to unlink all as a checkbox)

[2022-11-18 19:01] superhp commented on #963
@vivekjilla I found a simple NextJs sample app which also triggers same error message when deployed: https://github.com/restuwahyu13/nextjs-with-redux/. Do you see any reasons why?

[2022-11-18 22:46] Jeroen-VdB commented on #490
The solution from @anthonychu worked for me.
After I moved the `staticwebapp.config.json` from the _wwwroot_ folder to the root of my Blazor project (using .NET 7) I'm able to install my PWA again, when using Azure Static Web Apps.

[2022-11-19 00:29] doctor-ew commented on #987
I take it back @cormacpayne -- was working till this evening!

Last good build (2 hours ago): https://www.doctorew.com/shuttlebay/logs_115.zip

Failed build: https://www.doctorew.com/shuttlebay/logs_119.zip

Please do your magic again!

[2022-11-19 03:43] doctor-ew commented on #987
I tell a lie. Looks like this one is on us -- a bad package-lock.json cleanup broke the build.

We removed fsevent which was needed? But the code built and ran locally. So, ::shrug::

[2022-11-20 09:39] camila-akqa opened #993 "Failed to find a default file in the app artifacts folder (.next) for Hybrid next.js deployment to Azure Static App from Azure Pipelines"
**Describe the bug**

I am getting the following error when trying to deploy a SSR-supported next.js application to Azure Static App from Azure Pipelines

![image](https://user-images.githubusercontent.com/67367750/202894977-5125aa3a-e893-432b-8a3b-9cc0ba5527be.png)

The structure of the project is very straight forward , the package.json file is on the root folder, the .next folder gets generated

[2022-11-20 10:42] aaronpowell commented on #984
I hadn't seen that and it's not really obvious that that is related to linked backend linking.

I'm not sure how you'd do that from the portal (or `az` cli), maybe the REST flag that @annikel mentions can be used. It's not really obvious from the portal that there is a link (when looking at the SWA resource), I only found the problem when debugging the failed deployment.

[2022-11-20 18:25] Draey opened #994 "error Gatsby requires Node.js 18.0.0 or higher (you have v16.18.0)"
Hi, I'm quite new to the development space, and when trying to deploy the first iteration of my gatsby blog app, the app won't complete and returns these errors when attempting to deploy and build the app.

The end of the error it states that my node js is old, which is not true, as the host that I'm doing the development on is actually running v18.9.0.

-----

`Run Azure/static-web-apps-deploy@v1

[2022-11-21 03:46] vivekjilla commented on #994
Hi @Draey, can you try specifying the node version as 18 in your `package.json`, using the `engines` property
[code]

[2022-11-21 03:58] vivekjilla commented on #993
@camila-akqa Thanks for sharing the logs and package.json.

As you don't want the `html export` feature of the NextJS, can you please remove the `&& next export` from the `build` command in your package.json and try again.

Please let me know if it helps. Thanks!

[2022-11-21 03:59] geoffrich commented on #390
Update for anyone following this thread - v0.12 of svelte-adapter-azure-swa was [just released](https://github.com/geoffrich/svelte-adapter-azure-swa/releases/tag/v0.12.0) and it makes the process of releasing a SvelteKit app on Azure SWA almost zero-config. Here's the SvelteKit demo [running on Azure SWA](https://polite-desert-00b80111e.2.azurestaticapps.net/sverdle).

After initializing a new Sv

[2022-11-21 04:57] camila-akqa commented on #993
Hi @vivekjilla

Thanks again for looking into this. I am already doing that, so in Az Pipelines I've these field:

[code]

and In the package.json I've defined a task that looks like next:

`"buildAz": "cross-env IGNORE_TYPESCRIPT_ERRORS=true next build --no-lint",`

Please notice that I tried deploying the same project as static, eg. including "&& next export" in the build command and with the fo

[2022-11-21 05:43] camila-akqa commented on #993
Oh @vivekjilla

I actually changed had this 2 tasks on my package.json

[code]

After your previous comment I anyway changed to be

[code]

And updated the pipeline to use yarn build instead of yarn buildAz, eg:

`app_build_command: 'yarn build'`

And it is now working!!!!!!!

Thanks a lot for your help!!

[2022-11-21 05:46] vivekjilla commented on #963
Thanks @superhp for the repro. I couldn't figure out what's wrong but I was able to make that app work by upgrading `next` and `next-redux-wrapper` to newer versions.
Here's the diff in package.json: https://github.com/restuwahyu13/nextjs-with-redux/compare/main...vivekjilla:nextjs-with-redux:main#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519
And the working site: https://c

[2022-11-21 07:27] DMiradakis commented on #911
Same, I'm currently trying the suggested fix from #202 . They have not updated their documentation like they need to, I find this very frustrating.

[2022-11-21 09:22] #993 closed

[2022-11-21 11:48] Draey commented on #994
Hi, thank you very much for the response. That resolved it, but I now get the following error :(

Oryx has failed to build the solution.

[code]

[2022-11-21 15:29] Sealjay opened #995 "Oryx consistently detects v12 of node, when engine is set to v16"
**Describe the bug**
When building API for an Azure Function app compiling from typescript to js, oryx detects node v12.
[code]

A clear and concise description of what the bug is.

**Expected behavior**

Expect node v16 to be detected

**Additional context**
Add any other context about the problem here.

_staticwebapp.config.json_:
[code]

_/api/package.json_:
[code]

_/api/host.json_:
[code]

_.

[2022-11-21 15:44] philvessey opened #996 "net7.0 not supported for static web app functions?"
**Describe the bug**

Deploying throws the following error for the functions: The function language version detected is unsupported or invalid. The following dotnet language versions are valid: 3.1, 6.0. If you are not using Azure Functions, you can skip this check by removing the 'api_location' input from the workflow file.

A clear and concise description of what the bug is.

**To Reproduce**
St

[2022-11-21 16:14] vivekjilla commented on #996
@philvessey can you please check if you're providing `apiRuntime` in `staticwebapp.config.json`. If so, it should be set to `dotnet-isolated:7.0`. More details at https://learn.microsoft.com/en-us/azure/static-web-apps/configuration#selecting-the-api-language-runtime-version

If not, please check if you're creating the function app project as an isolated worker process project. More details at : h

[2022-11-21 16:17] vivekjilla commented on #995
@Sealjay Where is your `staticwebapp.config.json` file located? Can you please try placing that file in the app_location, which is `/src` like `/src/staticwebapp.config.json`and see if it works? Thanks!

[2022-11-21 16:25] vivekjilla commented on #994
From the error, it looks like there are conflicting peer dependencies in your package.json. See if you can resolve those conflicts locally. Otherwise, one workaround is to set --legacy-peer-deps flag or --flag using environment variables in your workflow.yml.
Reference: https://github.com/Azure/static-web-apps/issues/989

[2022-11-21 16:30] Sealjay commented on #995
That has worked, thanks @vivekjilla - the `staticwebapp.config.json` file was in the top-level directory, above `src` and `api`.

Moving the file into the `src` folder has worked; and I updated the `swa-cli.config.json` file accordingly too, updating the `swaConfigLocation` param.

[2022-11-21 16:37] oujesky commented on #769
Been struggling with this for some time as well with pretty small Next.js app - the Next.js build cache and bloated `node_modules` folder seems to be the main culprits here.

I did bit of investigation, bit of reverse engineering and lot of trial and error - long story short it's possible to (ab)use the [`api_build_command` build parameter](https://learn.microsoft.com/en-gb/azure/static-web-apps/b

[2022-11-21 16:38] philvessey commented on #996
https://github.com/Azure/static-web-apps/issues/974 this issue suggests coming soon - guessing not supported yet.

[2022-11-21 16:47] philvessey commented on #974
Hi @cmriachi  - is this close for deployment? Hitting similar issue with build logs stating only 3.1 and 6.0 are supported / available.

[2022-11-21 19:59] thomasgauvin commented on #996
@philvessey can you provide any sample projects of your function app running on .NET 7 in-process? My understanding from these Azure Functions docs is that .NET 7 is only supported as an isolated process, though perhaps that isn't made clear when creating a Function App. https://learn.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#supported-versions, https:/

[2022-11-21 20:00] thomasgauvin commented on #974
We announced support for .NET 7 here 🎉 https://azure.microsoft.com/en-us/updates/generally-available-azure-static-web-apps-now-fully-supports-net-7/

[2022-11-21 21:09] philvessey commented on #996
It sounds like I need to go to isolated so i'm in the process of updating my code to that - will report back if I have any further issues but I have quite a few functions to update so it may be a few days.

[2022-11-21 22:22] Sealjay commented on #995
Closing as I can see this here:
- https://learn.microsoft.com/en-us/azure/static-web-apps/configuration#file-location

[2022-11-21 22:22] #995 closed

[2022-11-21 22:46] Sealjay opened #997 "Prisma client not being generated"
**Describe the bug**

A number of code samples use Prisma:
- https://github.com/Azure-Samples/azure-sql-db-prisma/
- https://learn.microsoft.com/en-us/shows/beginners-series-to-learn-a-full-stack-application-with-azure-sql-prisma/
- https://github.com/glaucia86/azure-sql-prisma-vue

I'm finding the Prisma client isn't being generated during the api build stage, and I've tried various workarounds.

[2022-11-22 08:35] Oladapodaniel commented on #834
Im experiencing this issue too, what's the solution please?

[2022-11-22 19:32] rupareddy5-21 commented on #887
Thanks for the workaround @jacksorjacksor. We're closing the issue. Please feel free to raise concerns if you're facing any issues.

[2022-11-22 19:32] #887 closed

[2022-11-22 19:34] #790 closed

[2022-11-22 19:43] rupareddy5-21 commented on #664
Hi @laurekamalandua, can you please let us know if this is something you are still facing?

[2022-11-22 20:02] thomasgauvin commented on #940
Hi @scale-tone, proxy support for Azure Functions was removed from the 4.x runtime, and as such this is no longer supported.  https://learn.microsoft.com/en-us/azure/azure-functions/functions-proxies

The recommendation is to migrate to proxying with API Management, which you can attach to your static web app by using the BYO API feature.

[2022-11-22 20:58] scale-tone commented on #940
@thomasgauvin ,

That's not true. [Proxies have just been re-enabled in Functions 4.x](https://learn.microsoft.com/en-us/azure/azure-functions/legacy-proxies#re-enable-proxies-in-functions-v4x), due to a [substantial demand from the community](https://github.com/Azure/Azure-Functions/issues/2047). And in fact, the above scenario is a great example when APIM wouldn't work as a replacement. Please,

[2022-11-22 21:10] thomasgauvin commented on #940
Thanks for bringing that up, I was unaware that support had been re-added and it is possible that our infrastructure needs to be adapted to handle this. Are you able to get it working by using a standalone Azure Function with BYO API in the meantime?

[2022-11-22 21:57] superhp commented on #963
Thank you, @vivekjilla! I finally understood what the issue was. Some of run-time required NPM packages were left in devDependencies block in packages.json. It was not an issue for SSG export case but the server side of SSR case was not too happy about these missing packages. When I moved them from devDependencies to dependencies, the app started working correctly.

[2022-11-22 22:04] superhp commented on #992
At least we solved this issue by adding additional jobs in GitHub Actions workflow. One adds the new redirect uri in Azure B2C after pull request is created and the other removes it when the pull request is completed. Messy but we couldn't find a better automated way.

[2022-11-23 00:15] annikel commented on #930
@adamsebesta  are you still experiencing the issue?

[2022-11-23 02:15] ariggi-epam opened #998 "SWA + Azure Container app. Custom roles management"
**Describe the bug**

A clear and concise description of what the bug is.
I'm using aad custom authentication. I'm hosting the backend api on a azure container app. The role management endpoint (the one pointed by the rolesSource config setting in the auth portion) is hosted there too.
Following the example I expected to find the user and the access token (with ms graph audience) in the body of th

[2022-11-23 04:42] #987 closed

[2022-11-23 12:12] scale-tone commented on #940
I haven't tried.
But again, as I said, I am able to get it working even without 'Bring-Your-Own-Function'. The above setup does still works, it is just unstable.

Plus, BYOF approach would defeat the purpose of simplicity and gracefullness of the setup. Configuring, deploying and paying for yet another Azure resource just for the sake of proxying API calls through it does looks like an overkill.

[2022-11-23 14:50] thomasgauvin commented on #940
I understand, I was hoping to provide an alternative while we investigate this issue

[2022-11-23 15:50] thomasgauvin commented on #769
@GarryOne While Static Web App was mainly for static content in the past, we're extending support for SSR & server-focused frameworks including NextJS. Support for NextJS SSR is in preview at the moment, and we've blogged about it here: https://techcommunity.microsoft.com/t5/apps-on-azure-blog/extending-next-js-support-in-azure-static-web-apps/ba-p/3627975. We're working on improving support

[2022-11-23 16:36] feuersteiner commented on #992
that does it! I strongly believe though this should be managed by SWA (B2C should be integrated imo).
@superhp do you happen to have a template for the action ? not a lot of hands on deck around here :) appreciate it!

[2022-11-23 16:52] stuartleeks opened #999 "CLI deployment fails without error message"
**Describe the bug**

A clear and concise description of what the bug is.

I have static web content in `web` folder and a TypeScript function api in `api` folder.

If I set `swa-cli.config.json` to

[code]

and then run `swa deploy --verbose silly` (with the deployment token set in environment variable) then the deployment succeeds (I see the updated time in the Azure portal) and I get the follow

[2022-11-23 23:59] darena-patrick opened #1000 "Publishing to directory /bin/staticsites/ss-oryx/app... takes > 10 minutes"
**Describe the bug**

When publishing a Blazor WebAssembly (WASM) application to Static Web App, the step `Publishing to directory /bin/staticsites/ss-oryx/app...` takes 800s+ ... is there any way to speed this up? It is burning up valuable GitHub runner minutes.

**To Reproduce**
1. Create Static Web App via Azure Portal
2. Connect it to GitHub Blazor project
3. Run GitHub Action

Using the exact

[2022-11-24 00:10] darena-patrick commented on #1000
For reference, running a second time is also very long ~12m
![image](https://user-images.githubusercontent.com/77751400/203666760-ea2e990f-a285-4b58-8653-08e620917dcb.png)

[2022-11-24 01:04] darena-patrick commented on #1000
For reference, I did the exact same thing with a sample project and it only took 85s. What is happening at this step that could be taking a long time?

- Is it the file size of the project?
- Could it be the quantity of warnings generated by the build process?
- What is actually happening at this step? I turned on debug logging, but it doesn't log any extra logs for this step to be able to see wha

[2022-11-24 01:51] darena-patrick commented on #1000
Seems that running `dotnet publish -c Release` locally also takes a ridiculous amount of time. Going to close and circle back if I can prove this is actually related to Static Web App

[2022-11-24 01:51] #1000 closed

[2022-11-24 15:07] AscaL commented on #958
Don't know how or why but it's working at the moment. Closing

[2022-11-24 15:07] #958 closed

[2022-11-24 15:31] philvessey commented on #996
Working fine with isolated so ill close.

[2022-11-24 15:31] #996 closed

[2022-11-24 18:03] darena-patrick commented on #148
any updates here? aside from renaming folder in source, is there a way to get rid of old files? normally with App Service I could SFTP or something into the server to delete them manually, but this doesn't seem to be an option here

[2022-11-24 21:37] thomasgauvin commented on #996
Glad to hear @philvessey, thanks for the feedback, we're working on improving our getting started docs for .NET 7 as well

[2022-11-25 09:15] ChristopherCapito commented on #970
I second this. I am currently utilizing this for a simple GPDR information site, and I can not find anything related to logged data. What is logged? Where is it stored? How can I conform to a delete request? This make the service somewhat less usable in GDPR contexts, because I do not even know and can not state was is stored.

[2022-11-25 09:46] ChristopherCapito commented on #970
My workaround right now was, that I implemented a simple Azure Function (GET) that just returns "OK". I am calling this via the script tag on every page, in the hope that this forces any and all traffic to be redirected towards log analytics, but I would like and need clarity on this.

[2022-11-25 20:11] thomasgauvin commented on #888
@mosoftwareenterprises are you using the CNAME flattening of Cloudflare in this case? Before adding this, what record was added that resolved your domain to your Static Web App? Was it another CNAME/ALIAS record?

[2022-11-25 20:17] mosoftwareenterprises commented on #888
I am not using cname flattening.
It was a cname record before to the blog subdomain.

[2022-11-25 20:35] thomasgauvin commented on #888
Ok I see, so you are currently using a CNAME record (with host `blog`) to route traffic from https://blog.markoliver.website/ to your Static Web App correct? If that is the case, the SSL cert renewal should have worked without the need to add APEX domain, so perhaps it's worth investigating this a bit more

[2022-11-25 20:57] thomasgauvin commented on #888
@TrplM are you using Always Use HTTPS on your proxy? It seems that this is a common issue with Proxied Cloudflare sites https://community.cloudflare.com/t/let-lets-encrypt-bot-bypass-always-use-https/200274

[2022-11-26 12:01] TrplM commented on #888
Yes that seemed to be our issue. Static Apps requires the `/.well-known/` directory to be accessible and as we were proxying everything through Cloudflare this route was getting blocked. We've made some updates to our Cloudflare configuration and it seems to be resolved for now.

[2022-11-26 19:15] thomasgauvin commented on #888
Excellent, I'm glad that resolved your issue @TrplM, @mosoftwareenterprises any chance this was also you issue for the renewal of your blog subdomain website?

[2022-11-27 13:46] brettbaisley opened #1001 "Azure SWA: Deployment Failure Reason: Failure during content distribution"
**Describe the bug**

I was attempting to deploy a minor update to my Azure SWA site, via GitHub Actions, about 8 times since yesterday. Every time the GitHub action runs, it fails with the below error. I tried several times, even reverted all changes back to the last working state. I can't seem to fix this. I found very little online about this error. I found one bug report a year ago that sugges

[2022-11-27 18:59] brettbaisley commented on #1001
You can close this. Not sure why, but it started to work just now.

[2022-11-27 18:59] #1001 closed

[2022-11-27 23:17] superhp commented on #992
Sure. I hope it helps. Just change the parameters to yours in the script.
`update_b2c_uris_job:
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    name: Update B2C Redirect URIs
    needs: build_and_deploy_job
    runs-on: ubuntu-latest
    steps:
	  - name: Authenticate to Azure B2C
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_B2C_C

[2022-11-28 09:25] sandeep-eroad commented on #202
Still not working! The documentation is incorrect. I have wasted a day going round in circles and it's annoying. Can someone please fix this properly?

[2022-11-28 11:10] Reshmi-Sriram commented on #65
Update: Functions now supports proxies in Azure Functions v4 - https://learn.microsoft.com/en-us/azure/azure-functions/legacy-proxies#re-enable-proxies-in-functions-v4x
Although it is highly recommended that one sticks to APIM support which is now available in Static Web Apps -https://docs.microsoft.com/en-us/azure/static-web-apps/apis-overview

[2022-11-28 13:01] Reshmi-Sriram commented on #510
Closing the issue.

[2022-11-28 22:08] jejanov opened #1002 "Azure Static Webapp Deployment fails while deploying"
I am trying to deploy a Nextjs app. The deployment is failing while polling for deployment. It appears to timeout.

![build log](https://user-images.githubusercontent.com/37914018/204389175-492b794e-5f00-4e6e-8dcb-4393b68a7945.jpg)

I'm attaching the log files here:
[logs_12.zip](https://github.com/Azure/static-web-apps/files/10107876/logs_12.zip)

What I'm challenged by is the lack of detail in t

[2022-11-28 23:53] annikel commented on #998
Hi @ariggi-epam,
Could you please link the example/tutorial you are following?

[2022-11-29 00:34] tarunbhatt9784 commented on #635
I am facing the same problem. Any solution for this?

[2022-11-29 02:44] ariggi-epam commented on #998
Hi @annikel ,
sure, I found it [here](https://learn.microsoft.com/en-us/azure/static-web-apps/authentication-authorization?tabs=function#role-management), it points to [this tutorial](https://learn.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph). It says it is in preview and it works with a function. I hoped I could use the aca since it seems you can use a "bring your own"

[2022-11-29 06:50] vivekjilla commented on #1002
@jejanov Sorry for the inconvenience. We're working to improve this experience.

Meanwhile is it possible that your application is expecting some env variables/app settings to run? If so, can you please add them to your SWA app under the Configuration blade. More details on how to do this: https://learn.microsoft.com/en-us/azure/static-web-apps/application-settings#use-the-azure-portal and then tr

[2022-11-29 09:23] dligthart commented on #942
We also have this problem with azure static web app

[2022-11-29 09:27] dligthart commented on #853
We are still experiencing this issue.

[2022-11-29 12:31] andrem0 commented on #214
Same problem with NextJS hybrid here as well. I have tried to follow your suggestions @vivekjilla, but it doesn't solve the issue. The devops task is building both app and api, even though the api_location is empty string. The documentation is obviously also not good enough. Please fix this as soon as possible. If not able to fix it, please consider increasing the max size.

Looking forward to you

[2022-11-29 12:56] mosoftwareenterprises commented on #888
Correct.

ok.

If you mean this option in CloudFlare, then yes, it is turned on:
![image](https://user-images.githubusercontent.com/71320282/204534583-80729551-7ebd-4879-a4b0-442751b81ad9.png)

[2022-11-29 13:11] jejanov commented on #1002
Good morning. I have one env variable setup already. It all checks out as it should. Any other thoughts on how to troubleshoot this issue?

Thank you,
Joel

[2022-11-29 13:28] Reshmi-Sriram commented on #68
Closing due to no traction.

[2022-11-29 13:28] #68 closed

[2022-11-29 13:32] Reshmi-Sriram commented on #117
Closing due to no traction.

[2022-11-29 13:32] #117 closed

[2022-11-29 15:37] green-munkey opened #1003 "Adding more than five custom domains to a premium static web app"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Is there a way/ or would there be a way in the future, to add more than five custom domains to a premium static web app?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

We are coming from

[2022-11-29 17:00] satoryu commented on #536
I'm running into similar situation but in my case the message is not 'Internal server error' ,  'Static Web App satoryu-com already exists in resource group satoryu.com'

## What I did

- disconnected  a static web app and github repo with az cli: `az staticwebapp disconnect -n satoryu-com`
- tried to reconnect them with az cli: `az staticwebapp reconnect -n satoryu-com -b master -s https://github

[2022-11-29 17:47] abatishchev commented on #536
@satoryu I'm not from the team. I can search the logs but I don't think I can share the results :(

Would you be able to open a support ticket on Azure Portal?

[2022-11-29 18:49] jejanov commented on #1002
I wanted to add that it deploys fine the the Azure CLI swa

[2022-11-30 00:15] Zhaph commented on #524
The solution to this appears to be defining the API Runtime in the `staticwebsite.config.json` as per [Build Configuration for Static Web Apps | Skip Building the API](https://learn.microsoft.com/en-us/azure/static-web-apps/build-configuration?tabs=github-actions#skip-building-the-api):

[code]

This will allow you to build and package your C# function app in an earlier stage or build step and the

[2022-11-30 02:38] jejanov commented on #1002
I managed to get this to work. I wish I could say how but it isn’t clear to me. I believe it had to do with something in my package.json.

Thanks for the help.

[2022-11-30 09:32] audriusl opened #1004 "Static web app API size of the function content was too large"
**Describe the bug**

2 weeks ago the build went through without a problem . Now I updated frontend part and I'm getting function content was too large. It is strange that it happened without any changes to code.
There some problem with the build when i compare with the successful one  - Error TS1192: Module '"/github/workspace/api/node_modules/@prisma/client/runtime/index"' has no default export.

[2022-11-30 09:34] audriusl commented on #997
Hi,

Try to put this in github actions.

PRE_BUILD_COMMAND: 'npx prisma generate'
POST_BUILD_COMMAND: 'npx prisma generate'

[2022-11-30 10:22] Sealjay commented on #997
I tried that previously, but will retry and post logs. Can't remember the error I got before.

[2022-11-30 11:22] rupareddy5-21 commented on #1003
Hi, increasing the limit on no. of custom domains is not something we have on our roadmap at the moment. Sorry for the inconvenience.

[2022-11-30 13:41] Zhaph commented on #990
Not sure whether you're using GitHub Actions or Azure DevOps pipelines for your deployments, but I've been doing a very similar process to Aaron in DevOps.

Here's a very basic pipeline:

[code]

You're right that you need to unzip the artifact during the deployment step so that the files can be deployed into the container, this also allows you to run the FileTransform task over the `staticwebapp.

[2022-11-30 14:29] #211 closed

[2022-11-30 14:30] Reshmi-Sriram commented on #199
Closing due to no traction. Feel free to reopen if required!

[2022-11-30 14:30] #199 closed

[2022-11-30 14:36] Reshmi-Sriram commented on #166
Closing due to no traction.
Can continue the discussion in #21 Feel free to reopen if required!

[2022-11-30 14:36] #166 closed

[2022-11-30 14:38] Reshmi-Sriram commented on #163
Closing due to no traction. Feel free to reopen if required!

[2022-11-30 14:38] #163 closed

[2022-11-30 14:38] Reshmi-Sriram commented on #161
Closing due to no traction. Feel free to reopen if required!

[2022-11-30 14:38] #161 closed

[2022-11-30 14:39] #238 closed

[2022-11-30 14:41] Reshmi-Sriram commented on #222
Closing due to no traction. Feel free to reopen if required!

[2022-11-30 14:41] #222 closed

[2022-11-30 14:41] #310 closed

[2022-11-30 14:42] Reshmi-Sriram commented on #285
Closing due to no traction. Feel free to reopen if required!

[2022-11-30 14:42] #285 closed

[2022-11-30 14:44] #314 closed

[2022-11-30 14:45] #179 closed

[2022-11-30 14:46] Reshmi-Sriram commented on #342
Closing due to no traction. Feel free to reopen if required!

[2022-11-30 14:46] #342 closed

[2022-11-30 16:38] mick-starego opened #1005 "Environments blade shows incorrect branch for named preview environments"
**Describe the bug**
In the portal, the Environments blade displays the branch name of the first branch deployed to a named preview environment, but is not updated on subsequent deployments. This issue was encountered while using GitHub Actions to deploy with the workflow_dispatch trigger.

**Expected behavior**
The branch displayed in the Environments blade should always reflect the branch deploy

[2022-11-30 16:49] kevin-george-ul commented on #520
Our use case is potentially a million static HTML files (or more), the files are just text and absolutely tiny <1KB.

After doing a bit of research, we going to skip Static Web Apps and go with Azure Blob Storage Static Site + CDN that should give us similar functionality without the limitation. We will miss out on a few features such as AAD auth and native functionApps but that is manageable.

[2022-11-30 17:41] annikel commented on #998
@ariggi-epam to extract the client principal object from the header did you follow the example and base 64 decoded the header like described in [this docs ](https://learn.microsoft.com/en-us/azure/static-web-apps/user-information?tabs=javascript#:~:text=Client%20principal%20data%20is,and%20return%20user%20information. )

[2022-11-30 18:26] feuersteiner commented on #857
Upon further investigation, I added a "Display Name" to the application claims, which in return started showing up as the "userDetails" property, and since I needed email, I just added the "emails" property to the claims (which you can get by doing a simply loadash filter on the json ```filter(claims, (p) => p.typ === "emails")).val``` .